[2017-04-20 14:08] treddy73 commented on #996
Thanks for the quick feedback.  It seems that clicking the column header only works in the "Browse Data" tab and not from the "Execute SQL" tab.  After changing the formatting from the Browse Data tab, it doesn't seem to apply to the columns in Execute SQL.

At any rate, I have a couple of options as a workaround.

Thanks!

[2017-04-20 14:10] chrisjlocke commented on #996
You also use SQL.

`select date(2457864)` or
`select date(fieldName)`

`select date(2457864)` would return todays date.  The `date()` function returns YYYY-MM-DD format, but you can change this.

https://sqlite.org/lang_datefunc.html

[2017-04-20 14:12] justinclift commented on #996
Awesome @chrisjlocke. :smile:

@treddy73 When you've got it worked out, are you ok to close this issue?  (am just trying to keep the open issue count not completely out-of-control :wink:)

[2017-04-20 14:14] #996 closed

[2017-04-20 19:02] kyliostricor opened #997 "Records flipped after viewing the table's record."
### Details for the issue

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [x] DB4S has another problem

#### I'm using DB4S on:

- [x] Windows: ( _version:_ 10 )
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:_ ___ )
- [ ] Other: ___

#### I'm using DB4S version:

- [x] 3.9.1
- [ ] 3.9.0
- [ ] Ot

[2017-04-20 19:18] justinclift commented on #997
Hi @kyliostricor, when you say "flipped" that's a bit unclear.  Are you ok to take a screenshot?

[2017-04-20 19:20] justinclift commented on #997
As a thought, is there any chance you've clicked on a column header in the Browse Data tab?

If so, that causes the rows to be sorted by that column.  An arrow shows up showing the direction, and you can click the same column heading again to sort in the opposite direction.

Not sure if that's what's happening here, but the concept seems kind of like what you're mentioning. :smile:

[2017-04-20 19:27] kyliostricor commented on #997
Well... fuck... I am soo dumb!

Thank you, that really helped.

[2017-04-20 19:27] #997 closed

[2017-04-20 19:50] justinclift commented on #997
No worries at all @kyliostricor, we all start at the beginning. :smile:

[2017-04-22 08:43] nextdimension opened #998 "After updating a row changes not reflected in browser."
After updating the row in my database with my own script, and despite my database actually is updated with the correct data, when I view the database in sqlite browser the changes are not reflected. I deleted the original database from everywhere and restarted and I get the same results.

If I uninstall sqlite browser and reinstall, then the changes appear, tried to uninstall again and this time i

[2017-04-22 09:12] justinclift commented on #998
Interesting.  A couple of questions, just to get a better idea of things... :smile:

* Which version of DB4S (our abbreviation for SQLite Browser) are you using?
* After making the change with your own script, are you closing the reopening the database in DB4S?
* After making the change with your own script, are you quitting out of DB4S, starting it up again, and reloading your database?
* Is your

[2017-04-22 10:54] nextdimension commented on #998
-  Version of DB4S is 3.9.1.
- Yes
- Yes
- Yes

1. Pull the database directly from my Android device using ADB.
2. Close DB4S and delete the local database, before reopening to view the new database.
3. Verified in my application on the device that the data is updated.
4. Use an app browser on the device to verify the data is indeed updated.
5. Copy the database from the device, and compress to an

[2017-04-22 11:31] justinclift commented on #998
In theory (!) it should work.  But for some unknown reason, Android devices are occasionally reported to not copy database files correctly.  (not just for us, but in general)

It's been going on for a few years now, so there's a decent chance someone has worked out a solution or fix to the problem.  I don't use Android, so it's not something I've ever really come across myself. (sorry)

[2017-04-23 07:23] chrisjlocke commented on #998
What's ADB?
On what platform are you using DB4S? (not that that makes a huge difference, but just in case...)
If you amend the database, does the file have an updated modified date?

[2017-04-23 09:16] justinclift commented on #998
ADB → https://developer.android.com/studio/command-line/adb.html

[2017-04-23 09:24] justinclift commented on #998
This may be the problem:

https://stackoverflow.com/questions/9058169/sqlite-database-disk-image-is-malformed-on-windows-but-fine-on-android

As pointed out by @MKleusberg [last year](https://github.com/sqlitebrowser/sqlitebrowser/issues/476#issuecomment-168403277).

[2017-04-23 09:24] justinclift commented on #489
This may be the problem:

https://stackoverflow.com/questions/9058169/sqlite-database-disk-image-is-malformed-on-windows-but-fine-on-android

As pointed out by @MKleusberg [earlier on in the year](https://github.com/sqlitebrowser/sqlitebrowser/issues/476#issuecomment-168403277).

[2017-04-23 09:37] cederom commented on #489
hello @justinclift, that database crop is not the case in my case, i am working on a file that is source for apk that is then copied to app data directory, so its one way operation.. but your notice is valuable thanks!! :-)

[2017-04-23 10:19] justinclift commented on #489
Doh.  Damn, hoped we'd found the problem. :smile:

[2017-04-23 14:12] cederom commented on #489
yea hope so! =)

maybe concurrent access from AndroidStudio and SQLiteBrowser? is sqlite file modified anyhow on open? although its only read once a while to copy, maybe some race condition occurs.. it would be nice to make a md5 sum of the opened file and verify against external file change..?

[2017-04-23 14:33] justinclift commented on #489
Yeah, concurrent access **may** have something to do with it.  But, that's just (a reasonable) guess. :smile:

[2017-04-23 16:19] nextdimension commented on #998
Ahh thank you, I did wonder if it was because of wall mode. I think that's
the culprit, will check.
On Sun, 23 Apr 2017 at 10:24, Justin Clift <notifications@github.com> wrote:

[2017-04-23 17:42] nextdimension commented on #998
Yep it because of WAL mode. When disabling WAL mode everything works great, all updates are reflected just fine when exporting the database from my device. Thanks for the help.

[2017-04-23 17:42] #998 closed

[2017-04-23 17:48] justinclift commented on #998
DB4S itself definitely uses WAL.

That being said, it's sounding like there's a bad interaction with DB4S + WAL + ADB.  We might be the culprit, or we might not (no idea).  At least there's a workaround for now though. 😁

[2017-04-24 10:00] justinclift commented on #919
@chrisjlocke Are you still interested in that info?

[2017-04-24 10:08] justinclift commented on #978
@govindrawat55 Sorry, somehow I missed this.

For encrypting SQLite databases, we use an Open Source project called SQLCipher.  It's made by Zetetic:

&nbsp; &nbsp; https://www.zetetic.net/sqlcipher/

I'm not sure if it's compatible with "SQLite.net-plc".  Are you ok to contact them to ask?

[2017-04-24 10:17] mburger81 opened #999 "Sqlitebrowser is using SQLite 3.15.2 instead of installed 3.18.0"
### Details for the issue
I'm using a Kubuntu 17.04 system where I manually installed sqlite3.18 and manually libsqlite3.18, for example our JDBC driver now loads the installed system lib which is 3.18.
On opening SqliteBrowser 3.9.1 under the about window I get the information the loaded SQliteVersion is 3.15.2

Where is the browser loading the sqlite implementation? The system one, and if yes wh

[2017-04-24 11:26] chrisjlocke commented on #999
You could download /build the latest sqlite precompiled binary from this page:
https://sqlite.org/download.html

You can then replace the sqlite3.dll (well, for my Windows installation... I guess the Linux files may differ...) in the application directory.

This worked for me, but DB Browser for SQLite still showed the old version of SQLite in the about box...
![image](https://cloud.githubusercont

[2017-04-24 14:50] chrisjlocke commented on #919
Could be handy to know.  If there is a 'demo' to download, I could then test it. :)

[2017-04-24 15:15] justinclift commented on #919
Ahhh, that definitely makes sense.

@CarlCDHPIX ?

[2017-04-24 21:07] justinclift commented on #999
@mburger81 Ahhhh, you'll probably need to compile DB4S (our abbreviation for our software) yourself, and use some environment variables to point the build process towards the SQLite version you installed.

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#ubuntu-linux

From memory though, those instructions might be a bit out of date.  I think (without trying it

[2017-04-25 11:35] CarlCDHPIX commented on #919
I use VS Community Edition 2015.

The .net SQLite component is the general one (I assume), downloaded via github, using the NuGet package manager for solution, I type in SQLite and the search term, System.Data.SQLite by SQLite Development Team 1.12M downloads "The Official SQLite database engine for both x86 and x64 along with the ADO.NET providers" is in the description.

From what I have discove

[2017-04-25 11:39] justinclift commented on #919
Thanks @CarlCDHPIX, that should help @chrisjlocke familiarise. :smile:

[2017-04-25 12:57] chrisjlocke commented on #919
Interesting - thats the exact same .net component I use for my sqlite databases.  Never used the encryption side of it though.

What I would suggest is therefore in the application a routine which creates a database backup (always useful...) and then (optionally) removes the encryption from this database.  This would allow you to view the contents of the database if needed.  If any modifications w

[2017-04-26 04:53] Logistes commented on #958
I have finally got back to this problem, found your reply, and it was perfect, thanks.
It is hard to remember, but it is the open dialog homolog for the Finder | Go | "Go to folder ..." action, which has its key stroke combination shown in the menu item. So I can recall it from that.

[2017-04-28 07:48] sbrl commented on #814
I find that everything looks a bit small on my hi-dpi display, and there's only an option to change the size of the text in the table.

[2017-04-28 07:49] sbrl opened #1000 "Suggestion: Allow scrolling beyond the end of the table"
### Details for the issue

I suggest that the user is allowed to scroll 50% of the window height beyond the end of the file. It feels a bit, erm, _odd_ when it doesn't let me.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [x] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_

[2017-04-28 09:02] justinclift commented on #1000
Interesting.  Would you be ok to screenshot the oddness, as it's a bit hard to mentally picture just from the description? :smile:

[2017-04-28 11:06] nowox commented on #141
It is been two Years, can we reopen this issue?

Consider this database:

[code]

With `sqlite3` It is legit to write:

[code]

However, it is not possible to do it so on a View on `DB Browser for SQLite`.

It would be a huge plus for me.

[2017-04-28 14:29] justinclift commented on #141
It's pretty likely we'll support them at some point.  But it's not likely for the upcoming release (3.10.0), and we still a fair amount we need to get done for that. 😕

[2017-04-28 15:47] sbrl commented on #1000
It's just if you have enough rows to need to scroll, then there should be some empty space to let me scroll beyond the end of the rows.

Here's an example of Notepad++ doing it:

![](https://i.stack.imgur.com/w3E41.jpg)

(Note that I don't have Windows at all - I pulled that picture from the internet :P)

[2017-04-29 11:19] MKleusberg commented on #1000
Good idea!

However, we'll have to check if there is a reasonable way to implement this in our code. In a quick search I found [this forum thread](http://www.qtcentre.org/threads/55953-Scroll-QTableView-beyond-last-column-row) but their code is depending on per pixel scrolling which we can't use in DB4S because of [other reasons](https://github.com/sqlitebrowser/sqlitebrowser/commit/e5bca9d2dbeb92

[2017-04-29 16:15] NicoDupont commented on #836
Hi everyone,
I exactly have the same issue on my installation (Ubuntu 16.04 64b)
Version 3.9.99
Version de Qt : 5.5.1
Version de SQLite : 3.11.0

[2017-04-29 16:29] chrisjlocke commented on #836
V3.9.99 means it's a nightly build. What's the date of this version (file modified date)
Have you tried one of the latest nightlies?

[2017-04-29 18:19] NicoDupont commented on #836
It seems I'm on the testing ppa "ubuntu xenial"
where I can see the file modified date ?
Thank you

[2017-04-29 19:11] justinclift commented on #836
Hmmm, looking at the testing ppa listing:

&nbsp; &nbsp; https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser

It seems to be saying the last build was 2016-08-24.

@NicoDupont You may need to attempt building from source yourself.  It should go fine, but if it doesn't then cut-n-paste any error message here and we'll probably be able to help. :smile:

[2017-04-29 19:13] justinclift commented on #836
Oops, no.  I was looking at the "stable" one.  The testing one says it's last build was an hour ago:

&nbsp; &nbsp; https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser-testing

This might still be a bug we need to look into then.

[2017-04-29 19:15] justinclift commented on #836
@NicoDupont Does the error occur for often / all the time, or just sometimes, or ?  If it happens often, is there a way to reliably trigger it?

[2017-04-30 06:18] jungle-boogie commented on #999
I have this same problem, too. I don't know qmake/cmake well enough to know what kind of configuration option to pass in to point it to the correct sqlite3 files.

I have sqlite3 installed and compiled from src: `SQLite version 3.19.0 2017-04-29 19:29:49`

[2017-04-30 09:26] NicoDupont commented on #836
The error occur all the time.
The error appear if I click Write changes on the interface or Write changes in file menu.
If I close the database in the file menu. I click yes to save changes made and it's ok.
[code]

[2017-04-30 10:55] nowox commented on #141
What amount of work this feature would represent? What are the concerned files? If I wanna build DB Browser for SQLite on Windows is there a VS project?

[2017-04-30 13:09] justinclift commented on #141
This takes you through the complete developer environment setup process for Windows, along with getting DB4S built and running:

* https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S

Does that help? :smile:

[2017-04-30 13:11] nowox commented on #141
It's tough, but well documented ^^

[2017-04-30 13:20] justinclift commented on #141
If you're up for getting it done (takes a few hours, though that's mostly downloading), be aware that some of the paths in the setup guide no longer match the ones hard coded in the source.  They're not far off, and it's easy to fix if you know to watch out for it. :wink:

The paths used in the source at the moment are: https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMakeLists.txt#L18-

[2017-04-30 14:37] nowox commented on #141
Great!

[2017-04-30 22:32] justinclift commented on #836
@NicoDupont Interesting.  That's an error message we - in theory - fixed a while ago.

I'll take some time this week to go through our Linux compiling instructions and update them, so you can then try compiling things yourself.  It should be pretty simple once, I've done the update.

[2017-04-30 22:59] justinclift commented on #999
I've added an item related to this for my ToDo list for this week.  For that I'll update our Linux compile instructions, and also figure out the environment variables (or whatever else) is needed for using a custom installation of SQLite or SQLCipher: https://github.com/sqlitebrowser/dbhub.io/issues/32

[2017-05-01 07:42] mburger81 commented on #999
@justinclift That would be really great!! thx a lot!

[2017-05-01 14:43] MKleusberg commented on #980
That happens because we have to execute all SQL commands inside a transaction and the foreign key pragma can't be set inside a transaction. The only reasonable workaround for us that I can think of right now is to somehow detect a ```pragma foreign_keys=x``` statement and disable transactions for that. But that's always going to be error-prone...

@qiulang Do you need to be able to do this using S

[2017-05-01 14:44] MKleusberg commented on #974
Any updates on this? :smiley:

[2017-05-01 14:45] MKleusberg commented on #980
This also seems to be related to #966.

[2017-05-01 14:47] MKleusberg commented on #966
This seems to be the same issue as in #980. I've just tried to explain the problem in that issue and will just copy & paste it: :smiley:

That happens because we have to execute all SQL commands inside a transaction and the foreign key pragma [or any other pragma for that matter] can't be set inside a transaction. The only reasonable workaround for us that I can think of right now is to somehow de

[2017-05-01 15:06] justinclift commented on #966
Maybe if add a checkbox option to the Execute SQL tab "[ ] Run inside transaction", so people can enable/disable the transaction themselves?

[2017-05-01 16:34] christopherthompson81 opened #1001 "Ubuntu Rendering Issue When There is a Long View or Trigger"
### Ubuntu Rendering Issue When There is a Long View or Trigger

There is a rendering issue on the 'Database Structure' tab when using DB Browser for SQLite under Ubuntu when there is a long view or trigger. I suspect there is some problem with limitless horizontal scrolling.

See attached screen-shot:

![dbfs_rendering_bug](https://cloud.githubusercontent.com/assets/2651473/25585812/9dd0472a-2e59

[2017-05-01 17:09] justinclift commented on #1001
Oh, that's interesting.  Is the data set which you're using to trigger that, a public one?

Just thinking that might be helpful for debugging. :smile:

[2017-05-01 18:48] zhm commented on #267
I ran into this same issue and I finally got it to work. It has to do with the library search paths on Windows because `mod_spatialite` in turn loads its own dependent DLLs that reside in the same directory as `mod_spatialite.dll`.

I got it working 2 different ways:

1.) Add the directory containing the spatialite `.dll` files to your %PATH%. Windows searches `%PATH%` for dll files so it will be

[2017-05-01 19:20] justinclift commented on #267
@zhm That's pretty awesome. :smile:

Any interest in cutting-n-pasting that into a wiki page, for better visibility of the info?  It's seems like pretty arcane knowledge that others would definitely benefit from.

[2017-05-01 19:38] christopherthompson81 commented on #1001
It happens before I've loaded any data. The trigger is something I'm
writing and related to Canadian taxes. You could probably reproduce it with
multiple kilobytes of random 'ipsum lorem' comments above a simple select
type view. I can probably make a demonstration database that would exhibit
the error if you're interested.

[2017-05-01 19:52] justinclift commented on #1001
Yep, definitely interested, that would really help. :smile:

[2017-05-01 21:58] zhm commented on #267
I added a new page.

https://github.com/sqlitebrowser/sqlitebrowser/wiki/SpatiaLite-on-Windows

[2017-05-01 21:59] zhm commented on #267
I think this issue can be closed because it's definitely not an issue with DB4S. I don't believe there's anything to be done other than making a more location-independent build of `mod_spatialite`.

[2017-05-02 00:32] justinclift commented on #267
Fantastic!  Added a link on the front page of the wiki pointing at it, so it should be much easier for people to find now.  Thank you heaps Zac. :smile:

[2017-05-02 00:32] #267 closed

[2017-05-02 08:32] chrisjlocke commented on #974
Yes, sorry for the delay.  Just tested the latest nightly, and opening the database in a read-only location correctly correctly disables the necessary buttons, so modification isn't possible.

Testing this issue reminded me that after installation of the nightly, DB4S is run with 'god' permissions (at least on Windows) as the installer also has 'god' permissions, so runs DB4S under the same author

[2017-05-02 08:32] #974 closed

[2017-05-02 09:06] justinclift commented on #974
Thanks @chrisjlocke, that's excellent. :smile:

With the god mode problem, should we drop the offer to run DB4S from the last page of the installer?  From memory that's controllable by [an option in the CMakeLists.txt file](https://github.com/sqlitebrowser/sqlitebrowser/blob/dd685afef16a1c756a6be907aec7355b864c68ee/CMakeLists.txt#L418).  Thinking about this more, we'd probably want to ask about th

[2017-05-02 10:00] chrisjlocke commented on #974
This might help.

http://stackoverflow.com/questions/16555625/how-to-launch-an-executable-on-the-end-of-installation-correctly

[2017-05-02 10:01] chrisjlocke commented on #338
Posted this in #974, so a bit of cross-posting.... ;)

This might help.

http://stackoverflow.com/questions/16555625/how-to-launch-an-executable-on-the-end-of-installation-correctly

[2017-05-02 11:04] justinclift commented on #974
Oh wow.  That should do the trick.  We probably can't change the way it's called directly ourselves, but if we report this to the CMake people along with the solution then it's possible that approach will be incorporated there instead.

I'll add get that done this week, so there's some good lead time for a new CMake release to come out (etc).

[2017-05-02 11:12] justinclift commented on #974
Hmmm, the problem with CPACK_NSIS_MUI_FINISHPAGE_RUN is that it only takes one argument.

But if we install a batch file to do the launching, that limitation might go away.  eg something like:

[code]

[2017-05-02 23:58] justinclift commented on #338
In theory :wink:, that last commit should mean the installer launches DB4S in user mode, not admin mode.

In testing here in a local VM it seems to work ok, but it'd be useful to have other people test and confirm it before I'm confident about it.

@ccw808 @chrisjlocke Would either of you have the time/interest in trying tomorrow's nightly build (3rd May or later) to check?

[2017-05-03 04:16] justinclift opened #1002 "Feature request: Be able to select multiple files in the "import CSV" dialog"
At present our dialog for importing CSV files only allows the selection of a single one.

This turns out to be a fair PITA when needing to import quite a few CSV files into a single database.  eg:

  https://github.com/andreeaPascu/BikeCountsInEdinburgh/tree/master/outputFiles

The files there all use the same import options, so it would be useful to have the import
options dialog appear once with

[2017-05-03 05:16] justinclift opened #1003 "Feature request: Better column type detection in CSV import"
At present our CSV import dialog seems to use `TEXT` as the type for all columns.

It would be useful to do some form of detection on the data (after the last row is loaded?), then change the column types to match whatever is detected:

* `INTEGER` and `REAL` should both be fairly easy to detect and implement
* CSV has no defined way of handling BLOB/binary values in the official RFC, so probably

[2017-05-03 08:25] h4yn0nnym0u5e opened #1004 "Execute SQL doesn't play nicely with one-line comments"
Single-line SQL comments cause peculiar behaviour if run in the "Execute SQL" tab.

Say I run the following:
`-- This comment prevents line count working and "changes the database"`
`SELECT * FROM events WHERE logid=81991 AND type='content'`
then
- I don't get the usual "N rows returned" message
- the database is locked and Write/Revert changes are enabled
- the correct result is returned

Alterna

[2017-05-03 09:14] chrisjlocke commented on #1004
This should be fixed in the latest version.  v3.9.1 is quite old now (v3.10 is due soooon!)

![image](https://cloud.githubusercontent.com/assets/7872218/25654381/b7fabc94-2fe8-11e7-8bb1-bf350c3b0a16.png)

Try downloading from one of the latest nightlies:
https://nightlies.sqlitebrowser.org/win64/ or https://nightlies.sqlitebrowser.org/win32/

[2017-05-03 09:17] justinclift commented on #1004
@h4yn0nnym0u5e Do you have the time & interest to try out the latest nightly build, and double check that it works properly for you? :smile:

If so, the nightly builds are here:

* https://nightlies.sqlitebrowser.org/win32/
* https://nightlies.sqlitebrowser.org/win64/

[2017-05-03 10:12] chrisjlocke commented on #1003
If a value of 33 is detected, do you class that as an integer or a real?  ;)
Has it any impact though - wouldn't the user map the CSV fields to the database fields (which SQLite doesn't even define the type of anyway)
So a CSV might have 3 fields, but the database has 20, so I'd want to map fields blah to blah.

[2017-05-03 10:31] chrisjlocke commented on #338
Will do.  😸

[2017-05-03 12:56] MKleusberg commented on #1003
It actually does have an impact:
[code]

But yeah, it might be best to add a way to define which CSV field should be mapped to which database field. We could also add a routine to guess decent default data types but it's never going to be perfect. That's because we can't really read the entire CSV file just to find out the best data type (and we need to know them before importing any data) - that'

[2017-05-03 13:01] MKleusberg commented on #875
Hmm, that's not difficult to add but I wonder why it would be needed. In the Execute SQL tab you can type in whatever SQL statement you'd like. So I assume you don't mean that part of the program. And in the Create Table window, why would you want the ```IF NOT EXISTS``` bit? The statement wouldn't fail anymore but nothing would happen and you wouldn't even get an error message. I just imagine wor

[2017-05-03 13:02] MKleusberg commented on #877
Did you have a chance to test this yet, @FreudGit? :smiley:

[2017-05-03 14:07] chrisjlocke commented on #1003
I'd guess the types based on the first line, but give the user the ability to change them.  The user should know their schema (especially if they're importing CSV files - thats quite an advanced activity - my Mum could probably use DB4S is she wanted, but there is no way she'd dabble with CSV files!) and guessing INT instead of REAL isn't a huge issue. considering we're using TEXT at the moment! ;

[2017-05-03 14:22] h4yn0nnym0u5e commented on #1004
@justinclift: OK, I've tried the nightly win64 and it fixes the latter two, but not the first one. I'm slightly wrong now in the report title, as the first problem is also caused by a `/* block comment */` at the start, so it's not specific to the `-- line comment`. I've double-checked that the database is locked until I Revert Changes.

I've also found another case:
`SELECT '-- cause error'`
caus

[2017-05-03 14:36] chrisjlocke commented on #1004
Yes, that appears to get executed as `SELECT COUNT(*) FROM (SELECT ');` - everything right of the -- is deemed part of the comment.  Ooh.

[2017-05-03 15:06] chrisjlocke commented on #977
Prodding @justinclift ..... ;)   🖖

[2017-05-03 15:18] justinclift commented on #1004
Awesome, so we're making progress in the right direction at least.  But, still a bit further to go. :smile:

@revolter Any interesting in following this up?  I'm kind of guessing this is related to your comment stripping regex bits from a while back?

[2017-05-03 15:19] justinclift commented on #977
Ahhh yeah, I'll need to muck with the OSX and Windows nightly upload script bits.  Adding this to the ToDo list so I don't forget. (may push it to next week though)

[2017-05-03 15:40] justinclift commented on #1003
Heh Heh Heh, I was actually thinking of a fairly simple approach, which - in my head so far - seems like it would be both accurate and fairly reasonable in cpu/IO overhead.

Potential data types:

1. UNDECIDED
2. INTEGER
3. REAL
4. TEXT

Concept for the process:

1. At CSV data load time (after the dialog for choosing things like separate char closes), create a simple array of n elements, one of e

[2017-05-03 15:44] chrisjlocke commented on #977
Thats fine - you have my permission.  🤺

[2017-05-03 15:50] chrisjlocke commented on #338
Now works fine. \o/  🥇

[2017-05-03 15:50] #338 closed

[2017-05-03 15:56] justinclift commented on #1003
Here's an example of why the data type per column is important (click the pic to go to the data on dev1 btw):
[![screen shot 2017-05-03 at 16 42 52](https://cloud.githubusercontent.com/assets/406299/25668837/b4879a32-301f-11e7-8571-47df3328575a.png)](https://dev1.dbhub.io/justinclift/Bike%20Counts%20In%20Edinburgh.sqlite?table=38%20-%20Bruntsfield%20Place%20-%20North%20Side)
The `channel_1` column

[2017-05-03 16:07] justinclift commented on #338
Thanks @chrisjlocke, really appreciate you taking the time for this. :smile:

[2017-05-03 18:37] revolter commented on #1004
You can have block comments in SQL?! 😲

@justinclift, Surely it is 😢  But I don't know how to solve other more complex cases like `SELECT 'this -- causes error'`.

[2017-05-03 19:13] MKleusberg commented on #735
@justinclift I can try :smiley:

@chrisjlocke Can you try the new commit I have just pushed? It's completely untested because I don't have a Windows system, so I'm wondering if it does the job :wink:

[2017-05-03 20:18] justinclift commented on #875
Well, if cut-n-pasteing the output of some sqldump type backup commands, they generate `CREATE TABLE IF NOT EXISTS` style commands.  So this would be useful for handling that would needing people to manually edit the SQL.

While some of our user base would have no problem doing this editing, others would.  So if it's easy + accurate to implement we might as well. 😄

[2017-05-03 20:23] Qlogic commented on #875
Sorry Martin,  This was a misunderstanding with me and Apple’s CoreData.  CoreData —no matter what I tried, showed up an error that my  table did not exist, when it did and I could see it by using SB.

I was trying to pre-population a store and put it in my app bundle.
Turns out CoreData was creating the store for me and it was empty— no data—no table.

Once I got my head on straight and read thei

[2017-05-03 20:33] justinclift commented on #875
No worries Larry.  Closing this issue then, but you're welcome to re-open it if it turns out to be needed after all. 😄

[2017-05-03 20:33] #875 closed

[2017-05-03 20:38] justinclift commented on #999
No worries. 😄

This may be pushed to next week (after looking at fairly immediate/urgent tasks), but it's of high importance so it won't be passed over.

[2017-05-03 21:08] h4yn0nnym0u5e commented on #1004
I don't have the ability to re-compile from source, but I've been playing with regexes a bit in Python, and I think
 `^((?:(?:[^'-]|-(?!-))*|(?:'[^']*'))*)(--.*)$`
yields two captured groups, the first is the SQL code and the second is the line comment. This relies on NOT concatenating the lines of a multi-line SQL statement (remove the line comments before concatenation, assuming this is being do

[2017-05-03 22:23] justinclift commented on #1004
Thanks @h4yn0nnym0u5e, that's awesome. :smile:

[2017-05-03 22:49] justinclift commented on #513
@wolfc01 Carl, out of curiosity did you ever get time to check if this is fixed from your point of view?

[2017-05-03 22:50] justinclift commented on #469
@tonypdmtr If you've the time/energy, would you be ok to check a recent nightly from your point of view? :smile:

[2017-05-03 22:52] justinclift commented on #923
Oops, somehow missed this.

@capitancooker Did the nightly builds fix this for you? 😄

[2017-05-03 23:01] justinclift commented on #205
@hko-gh Did you have a chance to try a recent nightly build?  A lot of improvements have happened since our 3.9.1 release. 😄

[2017-05-04 06:00] capitancooker commented on #923
@justinclift yes!

[2017-05-04 06:37] tonypdmtr commented on #469
Seems OK. Thanks.

[2017-05-04 07:14] justinclift commented on #469
Awesome @tonypdmtr, thanks for taking the time. :smile:

[2017-05-04 07:15] justinclift commented on #923
Excellent. :smile:

[2017-05-04 09:54] revolter commented on #1004
From what I remember, it doesn't concatenate the lines prior to removing comments.

I hoped for QScintilla to have something to remove comments, knowing it already detects and highlights them, but I didn't find any function that does this.

And, nice regex you have there, could you please explain it a bit? As I only understand them best when I write them.

[2017-05-04 11:27] h4yn0nnym0u5e commented on #1004
Here you go, @revolter - like any code, regexes are pretty much write-only! I think there are ways to comment them, but I'm too lazy usually...
[code]

[2017-05-04 14:11] justinclift opened #1005 "Catching run-away queries"
In email conversation with @h4yn0nnym0u5e, one somewhat frustrating thing that can crop up when using DB4S (manually, in the "Execute SQL" tab) is getting a join wrong, and the result set tries to return a huge number of rows.  eg 1.6 mill rows

@MKleusberg @innermous @prutz1311 Any idea if there is some way we could catch that kind of thing - without needing a large amount of code change - and no

[2017-05-04 14:44] chrisjlocke commented on #1005
Just a thought, but might be worth throwing that out to the sqlite users mailing group, as they might suggest some hook you could use .... you're not going to know how many rows you're going to get back until sqlite has done its biz (and consumed 97 GB of memory...) but you might be able to abort it after ... say, 20 seconds?

[2017-05-04 14:49] ankushbbbr opened #1006 "not responding when running large SQL script"
### Details for the issue

While executing large sql scripts from .sql files, the application goes not responding. This work must be done in a seperate thread, to avoid blocking the UI thread

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [x ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ x] Win

[2017-05-04 14:59] chrisjlocke commented on #1006
Unsure how other OS's handle this..... (sorry - just thinking aloud...)

[2017-05-04 15:37] justinclift commented on #1005
Ahhh, good thinking Chris.  You're already on that mailing list aren't you?

If so, would you be ok to ask? :smile:

[2017-05-04 15:41] justinclift commented on #1006
@ankushbbbr Good point, that's probably a decent idea we should implement.

@MKleusberg ?

@ankushbbbr As a thought, since you're using a really old version of our program, would you be ok trying one of our latest nightly builds and letting us know if the problem still seems the same?

If so, they're here (pick either the 32 or 64 bit one as needed):

* https://nightlies.sqlitebrowser.org/win64/
*

[2017-05-04 15:44] MKleusberg commented on #875
Yep, no problem at all, Larry :smiley:

[2017-05-04 15:44] chrisjlocke commented on #1005
Surely can.  ✍️

[2017-05-04 15:50] ankushbbbr commented on #1006
@justinclift  Sorry I marked thw wrong version in the post. I'm using the latest version, 3.9.1

[2017-05-04 15:55] MKleusberg commented on #1005
No need to ask them :wink: [This](https://sqlite.org/c3ref/interrupt.html) does what we need. I'd suggest to not do anything automatically because some queries just take their time. See #409 for example. But what we can do is add a cancel button which just allows the user to stop the query at any time.

[2017-05-04 15:56] justinclift commented on #1005
Awesome. 😀

[2017-05-04 15:57] MKleusberg commented on #1006
This is somewhat related to #1005 and might be solved with just the same fix.

[2017-05-04 15:58] justinclift commented on #1006
@ankushbbbr No worries at all. :smile:

[2017-05-04 16:04] chrisjlocke opened #1007 "Selecting a table (browse data) results in 4 queries"
### Details for the issue

When a table is selected in the 'Browse Data' tab, four queries are run:

`SELECT COUNT(*) FROM (SELECT '_rowid_',* FROM 'table_name' ORDER BY '_rowid_' ASC);`
`SELECT '_rowid_',* FROM 'table_name' ORDER BY '_rowid_' ASC LIMIT 0, 10000;`
`SELECT COUNT(*) FROM (SELECT '_rowid_',* FROM 'table_name' ORDER BY '_rowid_' DESC);`
`SELECT '_rowid_',* FROM 'table_name' ORDER BY '

[2017-05-04 16:10] chrisjlocke commented on #1005
Yup, Dr. Richard Hipp just replied back with the same suggestion:

[2017-05-04 16:19] MKleusberg commented on #1007
Not sure why you get 4 queries, two for ASC and two for DESC. Have you changed the sort order in between?

You're absolutely right about the sorting & counting thing. I have just done a quick test and this
[code]
generates 9 rows for my test table (with PK), while this
[code]
generates 40 rows.
More instructions don't necessarily mean longer execution times but it probably does in this case.

We h

[2017-05-04 16:25] justinclift commented on #1005
Excellent, thanks Chris & Dr. Richard Hipp. :smile:

[2017-05-04 16:28] justinclift commented on #1007
As a thought, is the "ORDER BY" in the query added regardless, or is that just due to the approach @chrisjlocke was using for the cut-n-pasted example??

[2017-05-04 16:30] justinclift commented on #1005
For reference:

&nbsp; &nbsp; https://www.mail-archive.com/sqlite-users@mailinglists.sqlite.org/msg103468.html

[2017-05-04 16:36] MKleusberg commented on #1007
It depends. For the COUNT queries we just take the original SELECT statement as-is and insert it here:
[code]
So, if the original statement contains an ORDER BY clause it'll be used in the count query, too. And if not, we won't insert one.

What we would need to do is remove the ORDER BY clause (if there is one) from the original statement. It's a bit tricky because we don't have a parser for sele

[2017-05-04 16:37] justinclift commented on #735
@chrisjlocke Ping? 😁

[2017-05-04 16:45] chrisjlocke commented on #1007
A table was simply selected from the drop-down box in the 'Browse Data' tab ....

[2017-05-04 16:46] chrisjlocke commented on #1007
No - a table was selected from the drop-down box in the 'Browse Data' tab,,,

[2017-05-04 16:53] MKleusberg commented on #1007
@chrisjlocke Got it! If I change the default sort order, switch the table, and then come back to the first table, I get 4 queries, too. That definitely need to be addressed, too.

[2017-05-04 17:15] chrisjlocke commented on #1007
Interesting, as on mine I haven't set a sort order, so simply switching tables...

[2017-05-04 17:16] justinclift commented on #806
As a data point, I tried the batch file approach yesterday.  eg we run a batch file at the end of the installation process, and it does a `del /F vs_redist??.exe` (with the correct file name), then rmdir's the redistributable's subdirectory.

The deletion command always fails with a "permission denied" error, so it seems like vc_redist*.exe is being installed using Admin priviledges, but the batch

[2017-05-04 17:46] MKleusberg commented on #1007
Hmm, to be honest I have no idea how that happens because the default sort order is ascending while your query sorts descending (well, in the second try, that is). I assume you have already tried restarting the application?

[2017-05-04 17:49] MKleusberg commented on #1007
Let me prepare a quick list of ToDo items for this:

[] Don't execute four queries where two are sufficient. No need to first query the data in the one sorting order and then again in the other order.
[] Remove the ORDER BY clause (if there is one) from the query when doing a count.
[] Ideally, get rid of the count query altogether. But this might break the scrolling.

[2017-05-04 17:53] justinclift commented on #1007
Hmmm, if we need the count(), can we quietly add it into the original query so it all gets done as part of a single statement?

[2017-05-04 18:01] MKleusberg commented on #1007
@justinclift I don't think so. Or at least I don't know how the statement should look like. Do you have something in mind there?

@chrisjlocke Can you test again using the latest version from master? In theory, the first todo item should be implemented in that version :smiley:

[2017-05-04 18:25] justinclift commented on #1007
@MKleusberg Hmmm, upon thinking about it more... nah, the thought I had in mind was way too simplistic to work.  Doh. :wink:

[2017-05-05 10:42] chrisjlocke commented on #735
The file list history now has the correct backslashes (didn't before), but the window caption doesn't.

![image](https://cloud.githubusercontent.com/assets/7872218/25742568/eff1e3de-3187-11e7-8241-9518ad5ea836.png)

[2017-05-05 12:21] MKleusberg commented on #735
Thanks! Should be fixed with the last commit :smiley:

[2017-05-05 12:26] MKleusberg commented on #1007
@justinclift No worries :laughing:

@chrisjlocke The descending sort order you get seems to be the same issue as #641. Any idea how to track that down? Does it happen for all databases/tables for you?

[2017-05-05 12:27] MKleusberg commented on #824
@justinclift Any update on this? :smiley:

[2017-05-05 12:34] MKleusberg commented on #738
Can somebody test if this is fixed by Oleg's change? Seems to work fine now for me at least.

[2017-05-05 13:11] justinclift commented on #824
I'm kind of thinking this probably isn't an issue now, since (I think) the [update for qscintilla you pushed yesterday](https://github.com/sqlitebrowser/sqlitebrowser/commit/bddae31bf12b3ad050104352851d7a0b25886613) takes care of things.

@agarny Thoughts?  Does the latest qscintilla release solve the problem properly? :smile:

[2017-05-05 13:16] justinclift commented on #824
@MKleusberg Ugh... it seems like QScintilla have switched their codebase to be GPLv3 *only* with no prior warning (?):

&nbsp; &nbsp; https://github.com/opencor/opencor/issues/1301

I'm kind of thinking we'll either needs to drop back to the version prior to that change, or pick a different library. 😦

[2017-05-05 13:22] MKleusberg commented on #821
I'll just drop this link here as a reminder for myself:
http://www.qcustomplot.com/documentation/classQCPCurve.html

[2017-05-05 13:24] justinclift commented on #824
Further reference:

* https://www.riverbankcomputing.com/pipermail/qscintilla/2016-March/001105.html
* https://www.riverbankcomputing.com/pipermail/qscintilla/2017-May/001203.html

[2017-05-05 13:34] agarny commented on #824
@justinclift: I can see that you just found the two links I was going to send you. So, as you may have seen, the latest version of QScintilla that contains the GPL exception is version 2.8.4, which was released in September 2014 (!!). The author of QScintilla has been considering switching to LGPL+commercial for more than a year now, but still hasn't made up his mind.

For my project, we can't aff

[2017-05-05 13:48] agarny commented on #824
FWIW, QScintilla 2.8.10 does indeed solve the problem.

[2017-05-05 13:50] MKleusberg commented on #824
Same problem here. We have some (minor) problems with QScintilla and I hope that the new version (or some future version) might fix them. And since I don't know about any good alternative we'll probably have to stick with QScintilla...

Same for qcustomplot by the way. That seems to be licensed under GPL v3, too, and that not just for the latest version.

[2017-05-05 13:51] justinclift commented on #824
@agarny Thanks. :smile:

@MKleusberg I might have jumped the gun with worrying about the QScintilla license change.  The MPLv2 part of our licensing looks like it's compatible so we shouldn't have a problem.

&nbsp; &nbsp; https://www.mozilla.org/en-US/MPL/2.0/FAQ/#mpl-and-lgpl

[2017-05-05 13:52] justinclift commented on #824
Closing this, as it seems like a solved problem. 😁

[2017-05-05 13:52] #824 closed

[2017-05-05 14:04] MKleusberg commented on #824
Cool :smiley:

This license chaos always reminds me of [this article](http://250bpm.com/blog:82) :wink:

[2017-05-05 14:30] justinclift commented on #824
Oh wow, that's a fairly awesome article.  Hadn't come across it before and it raises a concept I'd not yet seen. :smile:

[2017-05-05 20:38] justinclift commented on #738
Christian, the original reporter, tested our latest source today and confirms it's now working:

Looks good!

Thanks heaps for getting this taken care of @prutz1311, and @MKleusberg for the reminder. :smile:

[2017-05-05 20:38] #738 closed

[2017-05-07 09:47] chrisjlocke commented on #1007
I was going to say 'yes, across all databases and tables', but I'm not so sure.  By clicking across the tabs, it did create a rogue ASC query.

![image](https://cloud.githubusercontent.com/assets/7872218/25779528/61b11bf8-3312-11e7-8dda-c3096355d01a.png)

Also, after opening another database, its now just doing two queries, not four.
Will test further...

[2017-05-07 09:55] chrisjlocke commented on #1007
Hmm.  After a bit of head scratching, it appears the *first* time you open a database, browsing a table is ASC.  After that, its DESC.

http://screencast-o-matic.com/watch/cbhiQLXZGE

[2017-05-07 12:57] justinclift commented on #232
Ahhh, so the correct approach here is probably to determine how many rows are visible in the Browse Data tab, then have the next/previous pagination buttons move by that value.

Changing the size of the window would change that too of course.

[2017-05-07 18:26] justinclift commented on #832
@frispete Mucking around with getting DB4S to compile on OpenSuSE Leap 42.2:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Notes-for-compiling-on-OpenSuSE-Leap

I've only tried with the CMake version so far.  As @MKleusberg points out, the QScintilla provided by the system isn't functional (for us).  So, even though we can point the compile at it, and it finishes without error

[2017-05-07 18:44] justinclift commented on #961
We now have the needed note in BUILDING.md. c8dba296df117a6f8ab486ade8418328580e2961 :smile:

[2017-05-07 18:44] #961 closed

[2017-05-07 22:00] justinclift commented on #994
As a data point the CMake approach in our BUILDING.md instructions is working fine "as-is" with Kubuntu 17.04.  Tried it today since I was already looking into compiling stuff for other Linux distributions anyway.

[2017-05-07 22:36] justinclift commented on #803
Just updated the building instructions slightly for CentOS/Fedora:

* https://github.com/sqlitebrowser/sqlitebrowser/blob/06398be8840d7b9f7f36334446caa8e6c20d771e/BUILDING.md#centos--fedora-linux

Tested here on Fedora 25 x64.  I still haven't looked into how to override paths yet, for example when providing a custom compiled newer version of SQLite... but I should get that figured out over the ne

[2017-05-08 09:14] ulascanerturk opened #1008 "SQLite Browser Saving Error"
Save Error for SQLite Browser

When i press the 'write changes' button, i take error :
Error while saving the database file. This means that not all changes to the database were saved. You need to resolve the following error first.

no such savepoint: RESTOREPOINT (RELEASE RESTOREPOINT;)

I cannot fixed this problem! Please help.

#### I'm using DB4S on:

- [x] Linux: ( _distro:_ ubuntu 16.04 LTS_

[2017-05-08 09:26] chrisjlocke commented on #1008
What version of DB4S?

[2017-05-08 09:39] ulascanerturk commented on #1008
Version 3.9.99

Qt Version 5.5.1

SQLite Version 3.11.0

[2017-05-08 09:49] MKleusberg commented on #1008
Does this happen whenever you try to save a database? Or is the error limited to some databases or only some changes made to a db?

[2017-05-08 09:52] ulascanerturk commented on #1008
happen whenever i try to save a database. i can establish a table but after that its delete by itself because i cannot save the file. Also :
bunny@bunny-laptop:~$ sqlite -version
2.8.17
bunny@bunny-laptop:~$ sqlite3 -version
3.11.0 2016-02-15 17:29:24 3d862f207e3adc00f78066799ac5a8c282430a5f

i dont know it is about or not?

[2017-05-08 09:54] chrisjlocke commented on #1008
That means its a nightly build.  What is the date of this version?  (ie, which nightly is it?)

[2017-05-08 09:58] ulascanerturk commented on #1008
I think its the latest version because i downloaded from website via instructions for ubuntu.

[2017-05-08 10:09] MKleusberg commented on #232
Just tried to implement the pagewise scrolling. But I think it needs some more testing.

Also, the code for calculating the number of currently visible rows if off by one for me, and thus is the page-wise scrolling. Does anybody else have this issue, too? You can check by looking at the row numbers at the bottom of the window and comparing them to the row numbers in the table view.

[2017-05-08 10:17] MKleusberg commented on #1008
@ulascanerturk Looks like we link to two different PPAs for Ubuntu packages. One has a version from August 2016 and one has today's version. Can you post the output of the shell command to find out which one you're using?
[code]

The two different SQLite versions by the way shouldn't be the problem. We're only ever using the 3.x versions and ignore all other.

[2017-05-08 10:25] ulascanerturk commented on #1008
There is nothing come from this command.

[2017-05-08 10:32] MKleusberg commented on #1007
The video helps a lot. Thanks for that! But I still have no idea how that can happen :wink: Are you compiling DB4S by yourself or are you using the nightlies? I'm asking because we might be able to narrow down the source of the problem by adding some debug outputs here and there.

[2017-05-08 10:34] MKleusberg commented on #1008
Ok sorry, my bad. Can you try this one, too?
[code]

[2017-05-08 10:37] ulascanerturk commented on #1008
@MKleusberg

/etc/apt/sources.list.d/linuxgndu-ubuntu-sqlitebrowser-testing-xenial.list:deb http://ppa.launchpad.net/linuxgndu/sqlitebrowser-testing/ubuntu xenial main
/etc/apt/sources.list.d/linuxgndu-ubuntu-sqlitebrowser-testing-xenial.list:# deb-src http://ppa.launchpad.net/linuxgndu/sqlitebrowser-testing/ubuntu xenial main
/etc/apt/sources.list.d/linuxgndu-ubuntu-sqlitebrowser-testing-xenial.l

[2017-05-08 10:44] MKleusberg commented on #1001
I've just prepared a test database containing two long lorem ipsum views. ```xx``` is one long line, ```yy``` are many lines. Not sure if they are long enough though. For both views it's struggling (```xx``` prints one long empty line as a tooltip, ```yy``` fills the entire screen with its tooltip) but I never get the weird output from your screenshot.

@justinclift Do you still have an Ubuntu VM

[2017-05-08 11:00] chrisjlocke commented on #1007
Using the Windows nightlies.  💨

[2017-05-08 11:21] MKleusberg commented on #950
All done :smiley: The first one is a little tricky because the widget is disabled, it just doesn't look like it. But that's something we can't do much about...

@chrisjlocke Can you double check that the other three are fixed in the next nightly build? :smiley:

[2017-05-08 11:28] chrisjlocke commented on #950
Will do.  😼

[2017-05-08 11:33] MKleusberg commented on #776
@justinclift Is this related to #824?

[2017-05-08 11:35] MKleusberg commented on #735
@chrisjlocke Is it working for you? :smiley:

[2017-05-08 11:52] MKleusberg commented on #833
Sorry for the delay, @leventelist! Can you try again using the latest version from master? This should work now:
[code]

[2017-05-08 11:57] MKleusberg commented on #306
Any update on this, @kaldown? We're Qt5-only by now and chances are that the issue is fixed simply by using the new Qt version :smiley: Do you have the time and the interest to do a quick test?

[2017-05-08 12:18] MKleusberg commented on #583
@justinclift Should be fixed, too, now :wink: Can you double check?

[2017-05-08 12:22] MKleusberg commented on #1008
Hmm... so you should have the latest version. I assume you have updated your system?

This seems to be the same issue as in #836 and maybe #878. What is still irritating me is that this is supposed to happen no matter what changes you make. Is it also happening when you're creating an entirely new database, add some test data to that, and save then?

[2017-05-08 12:23] MKleusberg commented on #878
@justinclift and @revolter Have you tried Oleg's changes? They seem to work for me :smiley:

[2017-05-08 12:33] ulascanerturk commented on #1008
this is exactly the same problem with #836 but I don't understand what is the solution. Yes, i've updated the system and set up the program repeatedly but still error. By the way, i can create a new database but when I try to add data and press the save button error come then.

[2017-05-08 12:40] chrisjlocke commented on #735
Working brilliantly now, thank you!  🍨

[2017-05-08 12:40] #735 closed

[2017-05-08 12:50] justinclift commented on #583
Will do.  Probably later today, but it may get pushed out to sometime this week depending on how other things go. :wink:

[2017-05-08 13:43] leventelist commented on #833
Ok, I'll try as I have a chance. Maybe today evening.
Thanks for fixing the bugs anyways.

What about the cmake support? I'll test that too.

Lev

On Mon, May 8, 2017 at 1:52 PM, Martin Kleusberg <notifications@github.com>
wrote:

[2017-05-08 15:50] lvbeck commented on #629
@MKleusberg just another tiny feature request, could you please add:
DROP TABLE IF EXISTS `Tablename`;
before CREATE TABLE syntax?
This would be very helpful if the table existed in database. Thank you!

[2017-05-08 18:35] h4yn0nnym0u5e opened #1009 "Problems with setting up dev environment for Win x64"
### Details for the issue

Couple of problems encountered with [the instructions:](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S)
- the `C:\dev\SQLite` folder should apparently be named `C:\dev\SQLite-Win64`
- `vcredist_x64` should apparently be put in `C:\dev\dependencies`, not `C:\git_repos\sqlitebrowser\deps`

### Useful extra informatio

[2017-05-08 19:19] justinclift commented on #1009
Cool.  Everyone has write access to the wiki, so it's updatable if you've the time and inclination yourself.

If not, leave this here and we'll get around to it... er... sometime. 😁

[2017-05-09 08:27] h4yn0nnym0u5e commented on #1009
Happy to edit the wiki myself ... er ... sometime. Not sure if the above is indicative of other things that have changed but didn't happen to bite me - is that likely? I may have made myself difficulties by installing VS 2013 last, as it's a 5Gb download so I did other installs first while it was downloading, then looped back to do the stuff I couldn't do because it wasn't installed.

[2017-05-09 10:04] AndreasSummer commented on #963
Worked :)

[2017-05-09 10:16] justinclift commented on #963
Awesome. :smile:

[2017-05-09 10:24] justinclift commented on #1009
Nah, I knew the directories needed changing... I just hadn't gotten around to it.  Personal prioritisation + laziness at times. 😉

[2017-05-09 10:52] justinclift commented on #1008
@ulascanerturk As thought, would you be ok to try compiling our program yourself?  Asking because this bug *really* should be fixed by some changes we did a while back. So I'm kind of suspecting that **somehow** the packages you've got don't include it.

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#ubuntu-linux

If you're ok to compile our program yourself,

[2017-05-09 10:55] chrisjlocke commented on #1009
Are you sure?  Does that depend whether you're building an x32 or x64 flavour of DB4S?  Can't remember what I did last time, but all seemed to work OK.  I'll go through the building steps again and have a play.

[2017-05-09 10:57] justinclift commented on #1009
@chrisjlocke Yeah, some paths needing updating in the CMakeLists.txt file after I wrote the initial guide:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/0c8cb4ec1dc37f2d971d23cc68376de13a24e54c/CMakeLists.txt#L20-L30

... and I kind of didn't update the screenshots afterwards... 👼

[2017-05-09 11:05] justinclift commented on #776
@MKleusberg Yep, same (now fixed) issue.  Well spotted. :smile:

[2017-05-09 11:05] #776 closed

[2017-05-09 11:07] justinclift commented on #1001
@Yep, I can test this.  My Ubuntu VM is really Kubuntu, but it's pretty easy to download standard Ubuntu 16.04 and whip up a new one.  I'll add this to my task list for this week.

[2017-05-09 11:30] chrisjlocke commented on #1009
Excellent.  OK, leave it with me.  🐮

[2017-05-09 11:31] ulascanerturk commented on #1008
@justinclift I cannot compile the program myself, unfortunately.

This is the output of terminal while terminally is open. Maybe you can help me after this.

`~$ sqlitebrowser
executeSQL:  "COMMIT;" -> cannot commit - no transaction is active
Sqlite parse error:  "line 2:25: unexpected char: 'I'" ( "CREATE TABLE `list` (\n\t`Field1`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`Field2`\tINTEGER,\n\t`Fie

[2017-05-09 14:01] justinclift commented on #1008
@ulascanerturk Co-incidentally, I'm checking over our instructions for compiling on Debian and Ubuntu today, so I'll take a look at this problem while I'm at it.

I'll probably test out the version of "sqlitebrowser" that comes from the place you're getting it, and see if the same problem happens here.  If so, that should mean I can figure out a reasonable way forward. :smile:

[2017-05-09 15:10] justinclift commented on #1001
Aha, I ***knew*** this sounded familiar.  Pretty sure this bug is another occurance of #920, and the solution is to compile it against a newer Qt library.

[2017-05-09 15:31] justinclift commented on #832
@MKleusberg Your [suggested patch to sqlitetypes.h](https://github.com/sqlitebrowser/sqlitebrowser/issues/832#issuecomment-271159422) works, and lets DB4S build on Ubuntu 16.04.2 again.

Made a proper commit out of it [here](https://github.com/justinclift/sqlitebrowser/commit/c6fbb84773dc11bcc6a60d5e6d67f645068abe0b).

If that patch is your creation and you're happy with it, should we pull it acro

[2017-05-09 15:54] justinclift commented on #832
An alternative that seems to work is installing Qt 5.6 through this PPA first:

&nbsp; &nbsp; https://launchpad.net/~ci-train-ppa-service/+archive/ubuntu/stable-phone-overlay

Compiling DB4S works after that, without the above patch.

If the patch approach is workable though, it's probably better as that'd also give us slightly wider compatibility in general (Qt 5.5).

[2017-05-09 16:07] justinclift commented on #1001
@MKleusberg As a data point, just tried your test database on an Ubuntu 16.04.2 VM here, compiling using Qt 5.6 (from [a 3rd party PPA](https://launchpad.net/~ci-train-ppa-service/+archive/ubuntu/stable-phone-overlay)).

No rendering issue like the above showed up, ***but*** the "Database Structure" tab took ages (~9.5 seconds) to show up.  Switching from "Database Structure" to any of the other t

[2017-05-09 16:10] justinclift commented on #1001
Well, it's not caused by VMware Fusion's implementation of "Graphics Acceleration" for Linux.  Same problem both ways.

[2017-05-09 16:25] justinclift commented on #1001
Tried it with a fresh build using Qt 5.5 (with the initial compatiblity patch) instead.  Same behaviour with that database.

Using a different database (eg [this](https://dev1.dbhub.io/justinclift/Belfast%20Bikes%20Docking%20Stations.sqlite)), DB4S has no delay.  The "Database Structure" tab shows immediately when switching at all times.

[2017-05-09 17:09] justinclift commented on #1001
Ahh, this is interesting.  I just installed Qt 5.8 from the official Qt download site (qt.io).  When DB4S is compiled using that, the slowness issue isn't present.

Looks like whatever the problem is, it's been fixed sometime after Qt 5.6.1.

[2017-05-09 17:22] justinclift commented on #1001
Qt 5.7 doesn't have the problem either.

It really look like both Qt 5.5 and 5.6 on Ubuntu aren't fantastic for DB4S.  For anyone having weird slowness or screen corruption issues, it'll need to be compiling using Qt 5.7 or above instead.

[2017-05-09 17:48] kaldown commented on #306
2 years past since.
I'm no more FBSD everyday user ;D

[2017-05-09 18:00] leventelist commented on #833
Unfortunately it doesn't compile on my system. I have an up to date Debian Jessie. It seems that my system got too old.

/usr/include/c++/4.9/bits/c++0x_warning.h:32:2: error: #error This file requires compiler and library support for the ISO C++ 2011 standard. This support is currently experimental, and must be enabled with the -std=c++11 or -std=gnu++11 compiler options.
 #error This file requir

[2017-05-09 18:21] justinclift commented on #306
Interesting, our servers for dbhub.io are running on FreeBSD.

I might as well try spinning up a desktop sometime next week, and take a look into the state of the DB4S port there.

[2017-05-09 18:26] justinclift commented on #833
@leventelist As a thought, it's probably a good idea to install Qt 5.7 from the Qt.io download site too.  I've been trying things out with Ubuntu 16.04 today to investigate a a few of the issues reported over time.  It turns out that Qt versions older than Qt 5.7 have some weird problems. 😦

[2017-05-09 18:47] ulascanerturk commented on #1008
After I compiled the program with codes from here:
[]( https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#ubuntu-linux)

Problem solved.
Still, there is an error like that ' Sqlite parse error: ' but I can create a table and add variables.

[2017-05-09 18:52] justinclift commented on #1008
@ulascanerturk Thanks, that sounds like good progress.

Would you be ok to screenshot that `Sqlite parse error` if it happens again?  Just so we can check + make sure it shouldn't hurt anything. :smile:

[2017-05-09 21:01] leventelist commented on #833
Ok. Just a note. Should the cmake/qmake system take care about dependencies? So it shall detect Qt5.7, and refuse to configure the code if it is older.

[2017-05-09 21:09] justinclift commented on #833
Sort of. :smile:

When you install Qt 5.7 (eg in ~/Qt by default), it comes with it's own version of `qmake`. (eg somewhere under ~/Qt/5.7/)

If you run that version of qmake, it's supposed to automatically choose the correct Qt 5.7 versions of bits instead of the older ones.

Hmmm, as a temporary thing which might be helpful, I took a bunch of screenshots earlier today of the Qt install + compile

[2017-05-10 07:31] leventelist commented on #833
I tried on Debian testing, with recent Qt and compiler. qmake doesn't
complained about my obvious missing dependency:

In file included from sqlitedb.cpp:2:0:
sqlite.h:13:25: fatal error: sqlite3.h: No such file or directory
     #include <sqlite3.h>

After installing the required packages, it installed fine. I suggest using
cmake as the code configuration tool.

Levente

On Tue, May 9, 2017 at 11

[2017-05-10 16:49] zwrmueller commented on #513
Hi Justin, how can I make use of and test the nightly builds for Windows64 if I sit on a sqlitebrowser **portable app** version and have no administer priviledges?

Regards
 Ralf

[2017-05-10 17:04] justinclift commented on #513
@zwrmueller Hmmm... I don't think we have a useful ongoing way to do that (yet).

If you need a something "once off", I can grab our latest nightly, install it in a VM here, then make a .zip file of the installed files.  If think if you unzip them into a place of your choosing, then that might work.

No guarantees 😁 , but worth a shot if you need a nightly to try. :smile:

[2017-05-10 17:41] chrisjlocke commented on #513
You don't need to install in a VM and .ZIP it back up again - simply download the latest nightly and unzip that using 7zip - it'll create some 'wacky' directories, but the core files will be in one directory, then the 'platforms' directory.

[2017-05-10 17:58] justinclift commented on #513
@chrisjlocke Cool, didn't know that.  Sounds practical then. :smile:

[2017-05-10 18:23] chrisjlocke commented on #513
So, ignore the $PLUGINS directory, as thats the setup file's 'noise'.

![image](https://cloud.githubusercontent.com/assets/7872218/25914358/eb1c55c4-35b5-11e7-82d5-d16b3a073f7b.png)

...and the 'redist' directory, as that'll be installed anyway.  So just replace the files in the 'APP' directory of the portable installation.

I'll write this into the Wiki, as I'm sure someone else out there has the

[2017-05-10 18:40] zwrmueller commented on #513
Great! I checked this before but was'nt successful. But you encouraged me to hang on. And in addition to your hints, for me I needed to replace (update) the platforms directory in addition to the files mentioned by you.

Thanx Ralf

[2017-05-10 20:53] justinclift commented on #833
Thanks Lev. :smile:

I'm working through some `qmake` stuff at the moment, and yeah our CMake setup turns out to be more complete for Linux.

When CMake is used it puts the icon file, metadata, etc in the right places.  But our Qmake install doesn't.  I'm looking into it now, but it might take a few more days of mucking around with until it's correct. :smile:

I doubt either CMake nor Qmake will d

[2017-05-10 21:37] leventelist commented on #833
One of the major user case of cmake is to detect installed packages. .configure (autotool) did the same thing, but it isn't portable (eg. it is a PITA on Windows). I personally use cmake it to detect SQLite. Here is what I do.

[CMakeLists.txt](https://github.com/sqlitebrowser/sqlitebrowser/files/991259/CMakeLists.txt)

I use the same CMakeLists.txt on Linux and FreeBSD, so this is cross platform.

[2017-05-10 21:42] leventelist commented on #833
And I think we can close this issue, since the original problem is solved now. Thanks.

[2017-05-10 21:53] justinclift commented on #833
No worries Lev, thanks. :smile:

[2017-05-10 21:53] #833 closed

[2017-05-11 08:11] andisys opened #1010 "DB Browser for SQLite 3.9.1 compatibility with Windows XP (32 bit) (SOLVED)"
### Details for the issue

- An attempt to open the installed DB Browser for SQLite v.3.9.1 in the Windows XP (32 bit) environment returns error "DB Browser for SQLite.exe is not a valid Win32 application"

### Useful extra information

Since the original topic #893 "was locked and limited conversation to collaborators on 27 Feb", but there are still noob users like me and #986 around, that just w

[2017-05-11 09:39] chrisjlocke commented on #1010
If I could hug you, I would.  Some valuable information there.  I looked into manipulating the .exe file and various PE editors, but none really explained what to change.

I couldn't see your photo/screenshot though - your link just takes me to a page which says, "Only logged in users can see this profile".  You can copy and paste the image here, or if you email it to me (db4s [at] chrisjlocke.co.

[2017-05-11 09:52] andisys commented on #1010
Hey, @chrisjlocke! OK, I'll try attaching the image with the 1st solution to this comment. Let's see if it works. Once again: Original file's hex-code is on the Left | Patched file's hex-code on the right. (btw, if you would have time, please tell me if it works for nightlies)

![dbsqlite3 9 1patch](https://cloud.githubusercontent.com/assets/28617767/25943477/a452ec46-3648-11e7-817a-035eef8741ca.j

[2017-05-11 11:09] chrisjlocke commented on #1010
So is that always in the same place, or does it depend on how its been compiled?
The 'editbin' method you posted seems the easiest.  I'll try on last nights nightly.  I've an XP VM, so will try in that.
Thanks for posting the screenshot. 😸

[2017-05-11 11:56] andisys commented on #1010
I am not sure whether during compilations data in the PE header is always written into exactly the same addresses, as yet I have no experience in this at all. But I think with basis given by the screenshot next time it would be easier to spot the location of wanted data (at least I would have an idea about what am I looking for). To the 'Hex' method I actually came from executing 'EditBin' method,

[2017-05-11 12:08] depontius commented on #435
This is an old thread, but I'll just add that yesterday it saved my hide.  Qt-4.6 may be ancient, but it's what's in use in RedHat 6.8, which is still widely used in industry.  This patch is not irrelevant to me.  Just for jollies, and to be informative, my company-standard installation has qt-1:4.6.2-28 and qt3-3.3.8b-30 installed.  (If you thought Qt-4.6 was old...)  I have qt5-5.6.1-3 available

[2017-05-11 13:03] peteristhegreat commented on #435
Awesome!  Glad it was useful.  The biggest thing to watch for with older versions of RedHat is support for OpenGL or the MesaGL libraries and xcb support.  If those are fully installed and supported, then Qt 5 will play nice.  Otherwise some gotchas come up.  Qt 4.8.x doesn't need OpenGL, and Qt Lite (in Qt 5.8+) also doesn't need OpenGL.

[2017-05-11 15:15] chrisjlocke commented on #1010
Didn't work for me.

![image](https://cloud.githubusercontent.com/assets/7872218/25956936/01c42b08-3665-11e7-8e34-6c731fc8d015.png)

[2017-05-11 15:20] justinclift commented on #1010
As an alternative idea for our nightly builds, this is (a copy of) the batch file we use for building the Windows ones:

&nbsp; &nbsp; https://gist.github.com/justinclift/11cc926f214e882c8162f97c53929c07

If someone can suggest a change to it which would add XP support, that'd be completely welcome. 😁

[2017-05-11 15:34] chrisjlocke commented on #1010
After changing '06 00 00' to '05 00 01' in the guts of the program, it threw up another error.

![image](https://cloud.githubusercontent.com/assets/7872218/25958093/b56808f8-3667-11e7-97a3-3990360a7717.png)

...and failed to run.

[2017-05-11 16:23] justinclift commented on #435
@depontius No worries.  When EL 6.9 is released there's roughly a 0% chance it'll come with a largely upgraded version of Qt.  Red Hat is pretty serious about not introducing major binary changes to their major releases, apart from stability and security fixes.  (I worked for Red Hat for a few years, so this isn't an unknown area to me. :wink)

On a side note, we finished migrating our (DB Browser

[2017-05-11 16:43] andisys commented on #1010
@chrisjlocke, I really don't know where did you get it and why did you use that command shown in your CMD prompt screenshot, i.e:

`link "DB Browser for SQlite.exe" /subsystem:windows, 5.01 /osversion:5.1`

as I've never suggested that. It is totally wrong! Though I must agree that my syntax explanation could be a bit complicated...

So next I'll post a series of screenshots, to make sure that you

[2017-05-11 16:48] andisys commented on #1010
As for method #1 try these substitutions in hex instead, let's see if it works (works on mine flawlessly):

![66h0cvo1q-e](https://cloud.githubusercontent.com/assets/28617767/25961363/b98550d8-3682-11e7-8a28-7e488d92e86e.jpg)

[2017-05-11 17:28] chrisjlocke commented on #1010
Oh, I took it from your instructions.  Oops.  😕

![image](https://cloud.githubusercontent.com/assets/7872218/25962926/7030e79a-3677-11e7-851b-b0f0360e5685.png)

[2017-05-11 17:38] andisys commented on #1010
Mm, sorry, I cannot see a single instance of "**editbin.exe**" in your screenshot, I see word "**link**" instead. Well, it doesn't matter. I've supplied the more clear example of EditBin use, without any of that confusing syntax.

[2017-05-11 17:48] chrisjlocke commented on #1010
Doh.  Good point.  Oops.  🔫

[2017-05-11 17:54] chrisjlocke commented on #1010
Either way, I changed the .exe, and got the 'blah blah kernet32.dll' error.  I believe this is because from the 3.9.1 release, we've changed to Qt5 instead of Qt4, or it could be how the nightlies are built, and these have different dependencies from the 'official' DB4S releases ... @justinclift  could possibly confirm on that, as he's a whizz and guru on anything to do with building, compiling an

[2017-05-11 17:58] andisys commented on #1010
I'll try latest nightly this weekend, I'll let you know if I'll come with the similar result. ))))

[2017-05-11 20:54] karim commented on #1010
@justinclift Can you change [L255](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMakeLists.txt#L225) in CMakeLists.txt to

    set(CMAKE_EXE_LINKER_FLAGS "${CMAKE_EXE_LINKER_FLAGS} /subsystem:windows,5.01")

and try building it.

[2017-05-11 21:58] justinclift commented on #1010
@karim Yep, I can give that a shot.  Gimme an hour or so, as I'm finishing off some other stuff.  If it builds ok, then I'll upload it to the nightlies servers and paste a link here for people to test. :smile:

[2017-05-11 22:09] justinclift commented on #1010
@karim Hopefully this is correct: https://github.com/justinclift/sqlitebrowser/commit/fd07c1435681de053279e0a4944831a7925235b8

I'll try a build with that shortly.

[2017-05-11 22:19] karim commented on #1010
@justinclift Yes.. I think. 😄

[2017-05-11 22:32] justinclift commented on #1010
Thanks. :smile:

Is anyone up for trying these out and seeing how they go?

* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-2017-05-11-win32-xp.exe
* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-sqlcipher-2017-05-11-win32-xp.exe

[2017-05-11 22:40] justinclift commented on #1010
Actually, no.  Ignore those two links, I mucked up the batch file and I think those two are builds from earlier on today.  The XP builds were named a bit different.

Gimme 5 mins. :smile:

[2017-05-11 23:13] karim commented on #1010
I don't have XP but after installing this and checking the exe, it is still using `6.00` (Vista) subsystem.

[2017-05-11 23:39] justinclift commented on #1010
Damn. 😦

[2017-05-11 23:43] karim commented on #1010
If you are building the exe using Visual Studio 2012 (or higher), you need to change the default [toolset](https://blogs.msdn.microsoft.com/vcblog/2012/10/08/windows-xp-targeting-with-c-in-visual-studio-2012/) also, and things will start to get complicated. 😄

I guess patching the exe right after building it will be better/easier. The file need to be patched right after it is compiled and before i

[2017-05-11 23:45] justinclift commented on #1010
k, that might be workable.

If it helps, this is the log for the builds which just ran:

* https://nightlies.sqlitebrowser.org/win32-onceoffs/xp_v2_build_log.txt

Maybe something in there indicates the problem?

If not, then yeah, we can probably run `editbin` after the build.  I just need someone to give me the exact command to run. :smile:

[2017-05-11 23:57] karim commented on #1010
It is already in the old [issue](https://github.com/sqlitebrowser/sqlitebrowser/issues/893#issuecomment-274370095) and [this one](https://github.com/sqlitebrowser/sqlitebrowser/issues/1010#issue-227910739) too.

32-bit version:

`editbin file.exe /SUBSYSTEM:WINDOWS,5.01`

64-bit version:

`editbin file-x64.exe /SUBSYSTEM:WINDOWS,5.02`

More info [here](https://msdn.microsoft.com/en-us/library/4cc7

[2017-05-11 23:59] justinclift commented on #1010
Ahhh well, that's pretty simple then.

[2017-05-12 00:00] justinclift commented on #1010
Ahhh, hang on.  Is there an alternative source instead of "http://ru.dll-overhaul.com"?

At first glance that site looks extremely dodgy.

[2017-05-12 00:02] karim commented on #1010
It is already included in Visual Studio. Should be in `C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\bin\`.

[2017-05-12 00:03] justinclift commented on #1010
Thanks @karim.  I'm hitting the sack now, but will pick this up tomorrow. :smile:

[2017-05-12 00:04] karim commented on #1010
Okay, good night mate. 😄

[2017-05-12 00:54] kinghelix commented on #388
argh! sorry for the lack of response, i'm not usually on the actual github site, so i've just seen this notification.

just downloaded and tested the latest version, this works great!! thanks very much for it justin! the little things like this make all the difference

cheers

[2017-05-12 06:28] justinclift commented on #388
The fix was by @MKleusberg, not myself, but no worries.  Glad it's working better now. :smile:

[2017-05-12 07:22] justinclift commented on #1010
This is turning out to be a bit more complicated than expected.  Our Windows nightly build box uses Qt 5.8, as Qt versions earlier than 5.7 have some weird bugs.

... and it seems like Qt 5.7 and above don't support XP.

However, I do have an ancient laptop not doing anything important downstairs other than being a music player, which might be up for the task instead.  Gimme a bit and I'll see if

[2017-05-12 07:48] chrisjlocke commented on #1010
So if I followed your Windows build instructions and installed Qt 5.6, that
would work?  I've a VM I could install it all on.

On Fri, May 12, 2017 at 8:22 AM, Justin Clift <notifications@github.com>
wrote:

[2017-05-12 07:49] justinclift commented on #1010
@chrisjlocke In theory, yep. :smile:

[2017-05-12 07:50] chrisjlocke commented on #1010
OK, I'll have a go. 👨‍🎤

[2017-05-12 08:13] MKleusberg commented on #1008
Sounds like some problem with the PPA binaries then. I have no idea why that happens because it seems to work for most people, except for @ulascanerturk and @NicoDupont in issue #836.

By the way, I'm wondering: the version is 3.9.99 which means it's the nightly build, i.e. using the latest code. And it says Qt version 5.5.1 which makes sense because both @ulascanerturk and @NicoDupont are on Ubun

[2017-05-12 08:33] MKleusberg commented on #306
No worries, @kaldown :smiley:

@justinclift We could just close this issue then. I'd guess it's solved by now and if anybody else should encounter the same issue they can just open a new one or reopen this one.

[2017-05-12 08:43] MKleusberg commented on #832
@justinclift Hmm, not much to change in these few lines ^^ I've changed the commit to include an ```#if``` in order to not break the build for anybody using Qt 5.6 or later and pushed it to master. If there aren't any more problems, building on Qt 5.5 should work now.

[2017-05-12 08:57] MKleusberg commented on #1008
@ulascanerturk Can you update the sqlitebrowser package tomorrow (or any later date)? If my theory proves right there should be a new version in the PPA tomorrow which might fix the problem :smiley: If not, we'll investigate further.

[2017-05-12 08:59] justinclift commented on #1001
Yep.  If you want to do it, then go for it.  Otherwise I'll get it done later on today. :smile:

[2017-05-12 09:01] justinclift commented on #306
No worries.  I'll get to the FreeBSD port of DB4S at some point anyway.

[2017-05-12 09:01] #306 closed

[2017-05-12 09:02] justinclift commented on #832
Awesome. :smile:

[2017-05-12 09:22] MKleusberg commented on #1001
@justinclift Done :smiley:

[2017-05-12 10:57] leventelist commented on #832
I'm going to test it on Debian stable. I'm afraid that it only has qt5.3.
I'll check later today.

Lev

On May 12, 2017 11:02, "Justin Clift" <notifications@github.com> wrote:

[2017-05-12 13:31] justinclift commented on #1010
Well, it's a fail here from my attempt.  After spending **way** too much time trying to get Windows on the old laptop... it turns out the reason it point blank refuses to load is that all my Windows ISO's are 64-bit.  And this ancient laptop needs 32-bit.

So... @chrisjlocke it's up to you. :wink:

[2017-05-12 13:34] karim commented on #1010
I made a huge mistake. 😄

Changing [L225](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMakeLists.txt#L225) in CMakeLists.txt will not be applied since the build system was changed from MinGW to MSVC. The changes are correct but were ignored/skipped since they are inside `if ( MINGW )`. The correct line should be [L335](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMake

[2017-05-12 13:36] justinclift commented on #1010
Ahhhh, yeah I can give that a go.  Give me a bit of time, as I'm doing some other stuff atm.

[2017-05-12 13:47] MKleusberg commented on #629
@lvbeck Sure, no problem :smiley: I've added an additional option to the Export SQL dialog to enable this feature. So you'll need to set it up like this:
![spectacle lh5631](https://cloud.githubusercontent.com/assets/3153504/26000659/1275dc4c-372a-11e7-83a8-9c47cfb35cef.png)
Can you download the next nightly build (tomorrow) and check if it's working for you as expected?

[2017-05-12 13:54] chrisjlocke commented on #1010
Using the latest source?  And you didn't get a kernel32 error?

On Fri, May 12, 2017 at 2:36 PM, Justin Clift <notifications@github.com>
wrote:

[2017-05-12 13:57] MKleusberg commented on #1010
@karim Looks reasonable to me (but I have to admit I haven't read all the comments on this issue). The version numbers are the same as the minimum numbers in the table [here](https://msdn.microsoft.com/en-us/en-en/library/fcc1zstk.aspx) and the ```CMAKE_CL_64``` switch looks reasonable, too. So feel free to open a PR for your commit and I can just merge it proactively :smiley: At least it doesn't

[2017-05-12 13:58] justinclift commented on #1010
Hmmm, not just yet.  The Windows nightly build box is running it now, so we might as well wait and see if that finishes ok. :wink:

[2017-05-12 14:01] MKleusberg commented on #1010
Sure :smiley:

[2017-05-12 14:03] karim commented on #1010
@chrisjlocke Yes. Using the latest source.

My build system:

- CMake 3.8.1
- Visual Studio Community 2015 Edition Update 3
- Nullsoft Scriptable Install System 3.01
- OpenSSL 1.1.0e
- Qt 5.7.1
- SQLite 3.18.0
- Github Desktop 3.3.4.0

Using the 64-bit of everything, on Windows 7 64-bit.

[2017-05-12 14:04] justinclift commented on #1010
Ahhh, MSVC 2015 works too then.  Good to know. :smile:

[2017-05-12 14:08] justinclift commented on #1010
Btw, the build finished and the uploaded files are here:

* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-2017-05-12-win32-xp_v3.exe
* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-sqlcipher-2017-05-12-win32-xp_v3.exe

Anyone able to verify them?

[2017-05-12 14:09] karim commented on #1010
@justinclift Yes. I did everything exactly like in the wiki (very nice with a lot of screenshots). 😄

I just changed this `cmake -G "Visual Studio 12 2013 Win64" -Wno-dev` to that `cmake -G "Visual Studio 14 2015 Win64" -Wno-dev`

[2017-05-12 14:16] karim commented on #1010
@justinclift I installed it (on Windows 7) and the exe is correctly using `5.01` subsystem instead of `6.00`, so it should work. But someone with Windows XP should test it just to sure.

[2017-05-12 14:20] justinclift commented on #1010
Awesome. :smile:

@andisys @h1618 @iRybin In theory, these should work on WinXP 32-bit:

* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-2017-05-12-win32-xp_v3.exe
* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-sqlcipher-2017-05-12-win32-xp_v3.exe

Would any of you have the time and interest to try them out?

[2017-05-12 14:21] justinclift commented on #1010
@chrisjlocke Since you mentioned having an XP VM around too, same as last comment. :smile:

[2017-05-12 15:26] MKleusberg commented on #141
@nowox Working on this now. Turns out to be trickier than expected but I might be able to push a first version this evening.

[2017-05-12 16:28] h1618 commented on #1010
Installed both on a 32bit Windows XP box. Good news is, both installed without problem, and both had PE's subsystem set to 5.1. Bad news is both raised an error popup immediately after start: "The application terminated as a result of a CTRL+C." This very error I have seen already with other new Qt apps, and I think it is because qt5core.dll has two missing imports, one being CancelIoEx in kernel3

[2017-05-12 16:33] justinclift commented on #1010
Thanks @h1618, that completely makes sense.  So, we need a build to run in a VM that has Qt 5.6, just for XP compatiblity.

That's probably achievable... :smile:

[2017-05-12 16:52] chrisjlocke commented on #1010
Yup, I can try that... if people can wait until Monday... ;)
I've a VM or three I can use.  💻

[2017-05-12 16:56] justinclift commented on #1010
@chrisjlocke With the VM's you mention, would any of them be suitable for a nightly builder for XP?  eg something that's fairly reliable and will spit out the appropriate binaries each night?

If you're unsure, it's not a stress as I already have other computers running 24/7 so chucking an extra VM on one of those won't hurt anything. :smile:

[2017-05-12 17:02] MKleusberg commented on #141
Progress:
- [X] Update
- [ ] Insert
- [ ] Delete

Delete seems easy enough, insert however more tricky.

By default, views are still locked from editing because most databases don't have triggers in place for editing views. This means you have to enable editing for a view by browsing it, right clicking on the column headers, and clicking "Unlock view editing". You'll then be asked for the name of

[2017-05-12 17:07] justinclift commented on #1010
Actually, I got this.  I'm making a linked clone of the original building VM, and will run it in parallel on the same box.  It'll have Qt5.6 though, and upload files with some kind of obvious "WinXP" in their name.

[2017-05-12 17:58] andisys commented on #1010
Hey to everyone! With the latest build for tests by @justinclift same here, on Windows XP.
![dbbrowkernel](https://cloud.githubusercontent.com/assets/28617767/26010455/9702805c-3755-11e7-94fa-da88d93b88f6.jpg)

[2017-05-12 18:12] chrisjlocke commented on #1010
Yes, that must be because of the Qt version.  I'll try building DB4S with Qt 5.6. Hopefully DB4S will compile OK with that version.  Thats the plan, anyway.  @justinclift will probably beat me to it though! ;) 🌳

[2017-05-12 19:24] justinclift commented on #1010
Ok, next one to test.  This is with Qt 5.6 installed instead:

* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-2017-05-12-win32-xp_v4.exe

The 32-bit SQLCipher build failed, but I haven't checked the log to find out why yet.  Hopefully just a typo on my part or something similar.

If anyone has 64-bit WinXP around, these would be useful to test as well:

* https://

[2017-05-12 19:31] h1618 commented on #1010
Again tested on my 32bit XP box: installs and works like a charm, no issues found playing around a little bit with my sqlite3 databases - thanks a lot!

[2017-05-12 20:09] karim commented on #1010
@justinclift I think you can use Qt 5.7 too for the XP support.

Issue #893 shows that patching the latest official version of DB4S (3.9.1) made it work without problems even though it was built with Qt 5.7. I guess Qt 5.7 is still using the same APIs (needed for DB4S) as in Qt 5.6, so it can be used to build XP. Qt 5.8 however, started using newer Windows (Vista) APIs, and that's why it is failin

[2017-05-12 21:09] justinclift commented on #1010
Awesome, sounds like we're well on the way to having a good ongoing solution.

I'll redo the build using Qt 5.7 too, just so we can know for sure if it does or doesn't work.

[2017-05-12 22:05] andisys commented on #1010
Dear @justinclift the latest test published by you about two hours ago **works flawlessly**! I want to thank you and everyone in this topic for their contribution to this issue! I've originally started this topic only because the support for Windows XP by DB4S wasn't officially dropped, while the solutions I've read in #893 were not exactly clear to me in terms of their application. Sorry, unfortu

[2017-05-12 22:12] justinclift commented on #1010
@andisys Excellent. :smile:

I'm still trying different variations of things out, so we can add "official" support for WinXP to our nightly builds.  Making good progress, but it's not completely in place yet. :wink:

[2017-05-12 23:22] justinclift commented on #1010
Ok, these are built with Qt 5.7:

**32-bit Win XP**

* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-2017-05-12-win32-xp_v5.exe
* https://nightlies.sqlitebrowser.org/win32-onceoffs/DB%20Browser%20for%20SQLite-sqlcipher-2017-05-12-win32-xp_v5.exe

**64-bit Win XP**

* https://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-2017-05-12-win64-xp_

[2017-05-12 23:51] JoeErsatz commented on #986
Thank you for not forgetting about me, though I was content using v3.8. But YES, I was able to make the cited patch (using an old pgm I had called binedit) and now my v3.9.1 works fine under WXP. I don't immediately see where/how one opens a database read-only, but I trust it is there somewhere/somehow, and don't think for a moment that this is any longer the teensiest bit important to me anymore.

[2017-05-13 00:51] andisys commented on #1010
1st installation pack in Win32 link works fine... testing second link...

[2017-05-13 06:50] ulascanerturk commented on #1008
@justinclift yes the error is exactly.
@MKleusberg i will update the program today, thanks for help :+1:

[2017-05-13 11:20] justinclift commented on #1010
Awesome @andisys, thanks for testing and confirming.  Yep @karim was right, Qt 5.7 does seem ok with WinXP.

So the next questions are:

* Should we add a WinXP download to the existing 3.9.1 release page? (pretty easy to do)
* Which of the nightly build options would be useful for WinXP users?  I'm happy to add whatever, I just need to know which things would be useful. :smile:
  * 32-bit (no SQL

[2017-05-13 11:51] karim commented on #1010
- Sounds like a good idea. Yes, you should add WinXP version with the rest of the downloads, so new users can download it instead of the other one (and report it as not working on their Windows XP).
- I think you can skip the 64-bit version of WinXP. I don't know if this version is even being used by anyone, and the 32-bit version will work fine on it too.

Also please note that, WinXP build is al

[2017-05-13 12:05] NicoDupont commented on #1008
Hi ! I updated this morning and the error seems to be fixed :)
Thank you for your work :)

[2017-05-13 13:02] justinclift commented on #1010
That all makes sense.

With the Qt versions and possibly having one download each (SQLCipher, and non-SQLCipher) that works for everything... let me think about it a bit.  I can see the appeal of that, on the other hand though that'll mean we'd be stuck on Qt 5.7 for potentially ages.

I'm actually hoping for some new stuff in Qt 5.9/5.10 that would be useful (TLS cert verification), butI suppose

[2017-05-13 13:06] justinclift commented on #1010
On a related-to-XP note, this seems important:

&nbsp; &nbsp; https://blogs.technet.microsoft.com/msrc/2017/05/12/customer-guidance-for-wannacrypt-attacks/?utm_source=t.co&utm_medium=referral

[2017-05-13 15:30] glawrence commented on #1010
Personally I am increasingly astounded that people still use XP, many Open Source projects have dropped support for it or provide an old version "as-is". I don't believe we should let XP support stop progress.

[2017-05-13 17:16] justinclift commented on #1010
Yep, that's the thought.  We do currently build completely ok on Qt 5.5 and above, with Qt 5.7 being the minimum required to avoid some non-critical weirdness seen on Ubuntu.

If we drop the Qt version on the nightly windows build server from Qt 5.8 back to Qt 5.7 (easy to do), that'd mean our binaries work on XP too.

Thinking it over, it's probably not a bad idea to make happen.  When later Qt 5

[2017-05-13 17:49] h1618 commented on #1010
also confirming that both v5 versions (Qt 5.7) installed and work on my windows xp x86 box without issues. Had medium thorough tests with real world test data, editing/inserting/deleting data, encryption, decryption, and all went smooth and worked as it should.

[2017-05-13 18:27] chrisjlocke commented on #1010
Indeed.  I'm not sure why people still have this as their 'development' machine.  I can understand (eg, the self service tills in Tesco) still having XP embedded*, and thus, might be using SQLite somewhere (using this as an example) but why would someone still need to edit a database on XP?  Just use a Windows 7 or 8 box, run DB4S on there to edit the database, and move the database back to XP.

*

[2017-05-13 19:16] justinclift commented on #1010
Thanks @h1618. :smile:

@chrisjlocke Well, some people seem to be using a "Media Center Edition", which I can understand.  Looking at @andisys's screenshot there as an example.

But... connecting such a system to the internet and using it on potentially malicous content (eg flash, email, anything-with-advertisements)... that's not something I'd be doing personally. :wink:

[2017-05-14 08:22] andisys commented on #1010
Hello everyone! Since I've started this mess, let me explain my position on the Windows XP. Like many, I've been chasing the progress and had always tried to get most modern things at a time. But later I've got fed up with the fact that everything "latest" is also is the most unstable. You buy a new latest Supermicro motherboard, and hey, they've just found a problem and made a new revision that a

[2017-05-14 08:49] chrisjlocke commented on #1010
Bear in mind (again, which triggered this topic) is that v3.9.1 is 'relatively' old now, and many bugs and improvements have been made to the software since its release.  For some users, v3.9.1 has a couple of 'unusable' bugs, which means they'll have to use the nightlies.

I agree that newer versions of software/hardware aren't as good as their replacements.  Take .Net as a prime example.  Using

[2017-05-14 09:11] andisys commented on #1010
Hello everyone! Since I've started this mess, let me explain my position on the Windows XP. Like many, I've been chasing the progress and had always tried to get most modern things at a time. But later I've got fed up with the fact that everything "latest" is also is the most unstable. You buy a new latest Supermicro motherboard, and hey, they've just found a problem and made a new revision that a

[2017-05-14 09:20] MKleusberg commented on #1008
Thanks for testing, @NicoDupont :+1: I'm glad it works now :smiley:

[2017-05-14 09:23] MKleusberg commented on #836
I'll close this issue because it has been solved by @prutz1311 and @innermous a while ago. The Ubuntu problem reported by @NicoDupont seems to be fixed, too. See issue #1008.

If it turns out to be still an issue, feel free to reopen the issue :smiley:

[2017-05-14 10:00] justinclift commented on #1010
Oops.  Well... the nightly build server has just been changed to Qt 5.7, with the nightly build script started again just a few minutes ago to regenerate today's ones.

So, the nightlies will support XP at least for a while more.

Once that build finishes, I'll look at making a 3.9.1 compatible version of XP and add that to the 3.9.1 Release downloads.

[2017-05-14 10:22] andisys commented on #1010
@justinclift maybe name it 4.9.2? Because I would imagine that some XP people have already received their earlier notification within their DB4S of 4.9.1 update, tried it, it didn't work, and they decided to stay with their DB4S 4.9.0. till next attempt (as I would do if I wouldn't happen to see #8.9.3 across).

[2017-05-14 10:47] justinclift commented on #1010
Good thinking.  Hmmm... we'll probably go with "3.9.1v2", and also add some description + announcements bits for the new XP support in relevant places:

* On the 3.9.1 release page.  Something near the top like "***2017-May-14 update*** - Due to popular request, a Windows XP download has been added: [filename here]"
* In a news item on the sqlitebrowser.org 1 page website.
* Via Twitter

I *think*

[2017-05-14 10:49] andisys commented on #1010
Sound perfect! Thank you! ))

[2017-05-14 10:50] justinclift commented on #1010
Cool.  Do you have time to check this works ok?

* https://nightlies.sqlitebrowser.org/win32/DB%20Browser%20for%20SQLite-sqlcipher-2017-05-14-win32.exe

That's one of the nightlies just created now using Qt 5.7.  I want to make sure it's actually working instead of just assuming I got it right. :wink:

[2017-05-14 10:51] andisys commented on #1010
Gimme a minute. I'll update this comment once ready.

[2017-05-14 11:04] karim commented on #1010
#### To support Windows XP we can do one of these:

1. One build (with Qt 5.7) that supports Windows XP and up. One nightly build also with Qt 5.7. Should make things easier for @justinclift. 😄

2. Two builds, one for XP (Qt 5.7) and another for Windows Vista/7 and up (latest Qt version). One nightly with latest Qt version, and **no** nightly for XP (just the official "as-is" version). Same as @an

[2017-05-14 11:11] karim commented on #1010
@chrisjlocke Actually, I want to upgrade to Visual Studio 2017 but I can't since they don't offer an offline installer due to its size (50 GB). 😱

[2017-05-14 11:13] justinclift commented on #1010
Yep, several possibilities exist.  Something interesting finally absorbed into my head yesterday... Qt seems designed to have multiple versions of itself installed in parallel at the same time.

So, it's super easy to have both 5.7 and 5.8 installed in the same VM, without conflicting with each other.  eg:

* C:\dev\Qt\5.7
* C:\dev\Qt\5.8

The way to choose which gets used is easy.  The path in th

[2017-05-14 11:15] justinclift commented on #1010
Awesome, thanks for testing again @andisys.  I'll have a 3.9.1v2 binary ready for testing in a bit too, if that's ok.

[2017-05-14 12:34] justinclift commented on #1010
Ok, this should be a suitable 3.9.1v2 for WinXP:

* https://nightlies.sqlitebrowser.org/win32-prerelease/DB.Browser.for.SQLite-3.9.1v2-winXP.exe

If someone can confirm it's ok, I'll add that to the 3.9.1 Releases page then do the announcement update bits too.

[2017-05-14 13:07] andisys commented on #1010
BRB

[2017-05-14 13:27] justinclift commented on #1010
Thanks, I'll get that added to the right bits then.

And yeah, the "3.9.1" in the About dialog is correct.  I didn't want to muck around with strings inside the program itself. :wink:

[2017-05-14 13:51] justinclift commented on #1010
k, it's in the 3.9.1 release now, and on the sqlitebrowser.org website too.

I'll send a tweet about it later, as I'm not on the computer which I have the twitter credentials on atm.

If anyone's interested in keeping an eye on the download count for this XP compatible download, the `download_count` field here is close to real-time:

&nbsp; &nbsp; https://api.github.com/repos/sqlitebrowser/sqliteb

[2017-05-14 15:03] justinclift commented on #1010
k, tweet done:

&nbsp; &nbsp; https://twitter.com/sqlitebrowser/status/863771346056228864

Everything for this issue seem complete now (thanks everyone!), so going to close it.

If something else does turn up though, feel welcome to re-open it. :smile:

[2017-05-14 15:03] #1010 closed

[2017-05-14 15:24] justinclift commented on #994
@deepsidhu1313 This was fixed by @MKleusberg a few days ago, with https://github.com/sqlitebrowser/sqlitebrowser/commit/6e6f7cdc18e127a0004296c53e13054c5da7c24d.

Closing this now as people using Ubuntu 16.04 have confirmed the nightlies are building correctly again. :smile:

[2017-05-14 15:24] #994 closed

[2017-05-14 15:25] justinclift commented on #1008
@ulascanerturk Did you get a chance to try the latest nightly build out?

Just asking as I'm trying to reduce the number of open issues we have (correctly though). :wink:

[2017-05-14 16:44] nowox commented on #141
Wooh that's nice. I should give a try

[2017-05-14 17:19] justinclift commented on #1004
@revolter This is @h4yn0nnym0u5e's commit pared back to just the changes, if you've time to look through them: https://github.com/justinclift/sqlitebrowser/commit/5748daf66180d3afaf0cf8f0eebecf82575c72b1

:smile:

[2017-05-15 09:32] lvbeck commented on #629
@MKleusberg I tested nightly build "DB Browser for SQLite-2017-05-15-win64.exe", it work exactly as expected, thank you for the amazing work!

[2017-05-15 09:32] #629 closed

[2017-05-15 11:31] justinclift commented on #629
Awesome. :smile:

[2017-05-15 12:46] justinclift opened #1012 "Double clicking an expression column row in new Edit Index dialog removes the row"
While trying things out in the new Edit Index dialog, something strange happened.

Double clicking on an "expression column" row in the right hand side (eg expecting to be able to edit the text) instead removed the row.

I've created a screencast, which I'll attach in a few minutes.

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/issue_uploads/DB4S%20Issue%201012.mp4

[2017-05-15 12:58] justinclift commented on #1012
At a guess, without looking at the code, it's probably related to the double click action normally swapping the row between the left and right window panes.

Expression column rows seem to get deleted instead of being transferred to the left hand side.  eg clicking the left arrow button on an expression column also nukes the row.

[2017-05-15 13:03] chrisjlocke commented on #1009
Corrected. 🥀

[2017-05-15 13:03] #1009 closed

[2017-05-15 13:11] justinclift commented on #1009
Awesome, thanks @chrisjlocke. :smile:

[2017-05-15 13:16] chrisjlocke commented on #1009
![image](https://cloud.githubusercontent.com/assets/7872218/26059282/1ffcb16e-3979-11e7-9104-55903a91cdc9.png)

[2017-05-15 15:31] ulascanerturk commented on #1008
I tried but still, there is the same error. But I think now this problem is on my own computer. Because I try to delete program first. After I delete the program, still it's been.When try to delete again, I take the error which is SQLite browser not exist on this computer but I can open the program. After I will fix this problem I hope problem work regularly.

[2017-05-15 16:10] ulascanerturk commented on #1008
Thank you for your help :+1:
Should I close the issue or not? This is my first github experience :smile:

[2017-05-15 17:21] justinclift commented on #1008
Probably, yeah. 😄

Welcome to GitHub by the way, hope it was a decent experience. 👯

[2017-05-16 13:55] justinclift commented on #977
The nightly build scripts for OSX and Windows now add links for "LATEST" and "LATEST-SQLCipher" after uploading new builds each night:

* https://nightlies.sqlitebrowser.org/osx/
* https://nightlies.sqlitebrowser.org/win32/
* https://nightlies.sqlitebrowser.org/win64/

I'd personally prefer if they somehow just bounced to the correct one (eg an obvious link indicator, but still gives the correct d

[2017-05-16 14:22] chrisjlocke commented on #977
I was going to build a flashy index myself, in a more 'calendar' view way,
linking to the various flavours, but with x32, x64, SQL-Cipher versions,
etc, it was a struggle not making it a link nightmare!

When you say 'bounced', do you mean when you click 'latest', it downloads 'DB
Browser for SQLite-2017-05-16-win64.exe
<https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-2017-05

[2017-05-16 14:38] justinclift commented on #977
Yep, that's exactly the thing.  The way Nginx seems to display soft links is as a direct file name, instead of redirecting people to the correct "LATEST" download. 😦

For PHP (specifically)... I'd rather not have PHP anywhere in our infrastructure.  It's had too many bad security problems over the years - even in core code - for me to place it in a position of trust. eg public facing servers

Errr

[2017-05-16 14:39] justinclift commented on #977
Hmmm, there might be an Nginx IRC channel or mailing list we can ask.  There's probably some way we can get this done without having to change the server from static pages to dynamic content.

[2017-05-16 14:41] justinclift commented on #977
Oh.  I just realised something... we can indeed get this done, and in a simple way.

The current index page is an "autogenerated" one.  If however we supply our own "index.html", that'll be displayed instead.

So, we just need something which generates an appropriate static index.html page (once per night, after the uploads), and which has a decent "LATEST" link pointing to the correct latest bina

[2017-05-16 14:47] karim commented on #977
True. I tried to download it and i got a file with the name "LATEST" and no extension.

![latest](https://cloud.githubusercontent.com/assets/8761081/26111166/ad1043e6-3a54-11e7-91b3-8f852152f60d.jpg)

Maybe it can be done with a simple HTTP redirect? I didn't use Nginx in a long time, but maybe something like..

`/win64/lastest/ -> /win64/DB%20Browser%20for%20SQLite-(YYY-MM-DD)-win64.exe`

[2017-05-16 14:57] chrisjlocke commented on #977
Is this something Go can do?  Never used it, so don't know what it can do.

On Tue, May 16, 2017 at 3:48 PM, Karim ElDeeb <notifications@github.com>
wrote:

[2017-05-16 15:09] chrisjlocke commented on #977
index.html page

That kinda defeats the purpose of what I was after... but looking at it,
its not going to work.
I was kinda hoping to redirect to DB Browser for SQLite-Nightly-win64.exe
<https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-2017-05-16-win64.exe>
which
would be the 'latest'.  I can't see the benefit of putting a link to that
on the index page, as they'll have a vie

[2017-05-16 15:24] justinclift commented on #977
@karim @chrisjlocke Yep, I think this is doable.  Gimme an hour or two, and I might have a barebones approach we can look at to see if it's actually going to work.

[2017-05-16 15:40] karim commented on #977
Okay, I misunderstood what @chrisjlocke meant. I got it now and I think it is easier and straightforward. Instead of a dynamic page or redirecting, we can use a simple **copy** to `latest` folder.

`https://nightlies.sqlitebrowser.org/latest/`

Right after building the installer, copy it to **latest** folder and remove the date from it, so it will be like..

`https://nightlies.sqlitebrowser.org/la

[2017-05-16 16:05] lvbeck opened #1013 "Export indexes should respect tables selection"
### Details for the issue
currently if I export some database tables, the output sql file always contain indexes of all tables in the database, which means my selection of tables is ignored.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x] Window

[2017-05-16 16:23] justinclift commented on #977
Ahhhh.  I should have checked this issue before starting coding.

Yep, I misunderstood too.  The way you're describing sounds super simple and easy to implement.

I'll give it a shot now.

[2017-05-16 16:25] justinclift commented on #1013
Ahhh, yeah... I can see how that'd be un-wanted. :smile:

@MKleusberg This sounds like exactly your kind of thing to look at. 😬

[2017-05-16 16:28] justinclift commented on #1013
So, something like this, and always with the most current entry (for each OS/architecture) in it?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/LATEST/

[2017-05-16 16:29] justinclift commented on #977
So, something like this, and always with the most current entry (for each OS/architecture) in it?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/LATEST/

[2017-05-16 16:41] karim commented on #977
Yes. Lowercase is fine too. 😄

This might replace..

Nightly builds (for Mac/Win/Win64/etc) are available at:

- https://nightlies.sqlitebrowser.org/osx/
- https://nightlies.sqlitebrowser.org/win32/
- https://nightlies.sqlitebrowser.org/win64/

..with this in the README.md too

Nightly builds are available at:

- https://nightlies.sqlitebrowser.org/latest/

[2017-05-16 16:51] justinclift commented on #977
No worries.  I'll make the name lowercase, and updating the scripting to copy the right bits in place.

We can look at the README after that too. :smile:

[2017-05-16 16:59] chrisjlocke commented on #977
Thanks for your help you two.  Much appreciated.  🍶

[2017-05-16 17:50] eevleevs opened #1014 "Open SQL file path"
Open SQL file dialog should default to the same path as the database; instead it opens home folder (tested on Windows).

[2017-05-16 17:55] justinclift commented on #977
k, the scripting updates for both OSX and Windows are done, and appear to be working ok.  I've run the complete build scripts for both through once afterwards, and the builds are correctly being placed into the `/latest/` directory.

Lets keep this issue open until tomorrow, once we've seen a proper overnight run succeed on it's own.

Do either of you guys feel like doing a PR with the updates to

[2017-05-16 18:26] karim commented on #977
I think @chrisjlocke wanted the filename to be *static*. The date in the filename is.. ahm.. pointless, as it's implied to be today's date. Also, more importantly, if someone linked to a file in `latest` folder, the link will be broken after 24 hours. 😄

However, a link like this https://nightlies.sqlitebrowser.org/latest/DB.Browser.for.SQLite-win64.exe will always refer to the latest windows 64-b

[2017-05-16 20:52] justinclift commented on #977
That totally makes sense.  The build script for both OSX and Windows have been updated to match.

I **think** we're ok now.  Let's take a look at the result of the scripts overnight though, just to make sure. :smile:

[2017-05-16 20:53] justinclift commented on #977
Actually... should we use spaces or dots in between the words of "DB Browser for SQLite"?  The script can do either way.  It's set to spaces at the moment ("DB Browser for SQLite"), but it's trivial to change to dots ("DB.Browser.for.SQLite") if that'd be more useful.

[2017-05-16 20:59] justinclift commented on #1014
@eevleevs As a thought, there is an option in the Preferences dialog for adjusting this.

Saying that because over the years we've had people with distinctly different needs for the "default location to open" open issues here, so we made it configurable.

Are you ok to look through there and see if the current options suit? :smile:

[2017-05-16 21:04] karim commented on #977
Both are fine, but I vote for dot. 😄 Spaces are not url-friendly.

[2017-05-16 21:14] eevleevs commented on #1014
Suit only if you work on a single directory. If you use multiple databases in different places it is still uncomfortable. I would favor an option to open the directory where the active database is.

[2017-05-16 21:19] justinclift commented on #1014
Yep, that sounds reasonable. :smile:

[2017-05-16 21:28] justinclift commented on #977
No worries. :smile:

We're now using dots for the `latest` directory then.

The `osx`, `win32`, and `win64` directories are still using spaces though, just because they have been so far. :wink:

[2017-05-16 21:43] karim commented on #977
That's very good. 😄 👍

[2017-05-16 21:45] justinclift commented on #463
@peku33 @iursevla Ping?

[2017-05-17 06:59] karim commented on #1010
@justinclift `download_count: 728` 😄

[2017-05-17 07:49] justinclift commented on #977
The overnight builds went flawlessly for both OSX and Windows, with everything showing up as expected in the new [latest](https://nightlies.sqlitebrowser.org/latest/) nightlies directory.  So, closing this now. :smile:

Thanks for your persistence guys. 😀

[2017-05-17 08:00] justinclift commented on #1010
Heh Heh Heh

Yep, people are downloading it.  As a thought, it's probably a combination of two different things:

* People wanting a WinXP build
* People not sure what they need, and just clicking the first download on the sqlitebrowser.org website

It's probably a mix of both, but as for how many of each... no idea personally. :wink:

[2017-05-17 08:13] chrisjlocke commented on #977
Ditto, thanks Justin.

On 17 May 2017 8:49 am, "Justin Clift" <notifications@github.com> wrote:

[2017-05-17 08:25] justinclift commented on #977
Just remembered the README.md and main website need updating with the new location.  I'll get that done later today.

[2017-05-17 08:46] justinclift commented on #232
Trying this out here on OSX, and it's a lot better now than the previous step-by-100 behaviour. :smile:

The "off-by-one" thing could be kind of annoying though. 😕
![screen shot 2017-05-17 at 09 39 03](https://cloud.githubusercontent.com/assets/406299/26145610/f3f949e8-3ae4-11e7-9e33-74df62a71d95.png)
![screen shot 2017-05-17 at 09 38 52](https://cloud.githubusercontent.com/assets/406299/26145616/

[2017-05-17 08:51] #1008 closed

[2017-05-17 08:52] justinclift commented on #878
Yep, just tested it here on OSX too.  Working well.

Thanks heaps @prutz1311. 😀

[2017-05-17 08:52] #878 closed

[2017-05-17 09:01] justinclift commented on #264
I've just emailed the contact point (orangetree@) for the Unity plugin developers, pointing them at this issue + asking if they're using SQLCipher for the encryption layer.

Hopefully we get a response back, and they use SQLCipher.  If they do, this might all be workable. :wink:

[2017-05-17 09:03] justinclift commented on #950
@chrisjlocke Ping. 😉

[2017-05-17 09:10] iursevla commented on #463
@justinclift I tried today and it seems to work. Windows 10, Version 3.9.1

[2017-05-17 09:20] justinclift commented on #264
Hmmm, looking at discussions about that Unity plugin... it seems like it's not actively developed any more. 😦

[2017-05-17 09:26] justinclift commented on #463
@iursevla Awesome, thanks for checking. :smile:

[2017-05-17 09:27] justinclift commented on #901
@MKleusberg As #463 is fixed, we're ok to close this now aren't we?

[2017-05-17 09:44] MKleusberg commented on #1008
@ulascanerturk Maybe this is because of the manual installation. Do you still have the compile directory? If so, you can try opening a terminal in the ```build``` directory and type
[code]

If you need any assistance, feel free to ask :smiley:

[2017-05-17 09:58] MKleusberg commented on #232
Actually, it looks a lot better on your system than on mine. In your case it's (as far as I can see) just that we're counting the last "visible" row even if it's just one pixel high. That doesn't make a lot of sense but there's not that much we can do about it because only counting fully visible rows is no alternative either. And only counting rows that are more than x % visible will always be mes

[2017-05-17 09:59] MKleusberg commented on #264
Oh :frowning: But well, the hex input is definitely an improvement in DB4S anyway :wink:

[2017-05-17 10:04] MKleusberg commented on #901
@justinclift Yeah. I can still reproduce the problem but it's just how SQLite works. So no reason to keep this open :smiley:

[2017-05-17 10:04] #901 closed

[2017-05-17 10:07] justinclift commented on #264
Good point. :smile:

In the meantime I've added the `response requested` label, so we come back to this issue in a few days time if I don't get a response to the email first.

[2017-05-17 10:11] justinclift commented on #232
Wow, that's weird.  Sounds like we need to intercept the event handler on Linux that changes the row counter, and stop the +1 behaviour.

[2017-05-17 10:13] justinclift commented on #1008
@MKleusberg Hmmmm, are you sure CMake includes a "make uninstall" target?  I could have sworn that was one of the things missing for it.

[2017-05-17 10:14] MKleusberg commented on #1012
Yeah, this isn't optimal. You can edit the expression column by clicking it (to select it) and then clicking again (to start editing) but if you do it to fast it counts as a double click and the column is removed entirely. That's probably a little too frustrating even if you know about the two separate clicks :wink: I'll probably disable the double click action for expression columns, so that you'

[2017-05-17 10:18] MKleusberg commented on #1008
@justinclift Oh wow you're right. How can they have an install but no uninstall target?!

@ulascanerturk In this case just delete ```/usr/local/bin/sqlitebrowser```. That's the only (important) application file that was installed.

[2017-05-17 10:18] justinclift commented on #1012
Hmmm, would it be feasible to have the double click action for expression columns trigger the "edit text" mode?  Same as the two slow clicks you describe above.

[2017-05-17 10:21] MKleusberg commented on #232
But we'd need to know when exactly it's happening. The problem seems to be that our ```ExtendedTableWidget::numVisibleRows()``` method returns the wrong value which probably means that Qt's ```rowAt()``` returns a wrong value. But as this only happens on some platforms and with some Qt versions it's going to be hard to fix it...

[2017-05-17 10:22] MKleusberg commented on #1012
Yep, should be doable :smiley:

[2017-05-17 10:42] justinclift commented on #232
Gah. ☹️

[2017-05-17 15:21] justinclift commented on #977
k, now it's all complete. :smile:

[2017-05-17 15:21] #977 closed

[2017-05-17 18:16] justinclift commented on #419
@bobatwhidbey As an update, the backward/forward slash inconsistency is fixed in nightly builds from just over a week ago.  We haven't added the row height option (yet) though, but will probably get around to it "at some point". :wink:

[2017-05-17 18:29] justinclift commented on #481
@tonypdmtr Reading through your original report for this... I think we might have been misunderstanding it.

When running a SQL query in the "Execute SQL" tab on yesterdays's nightly OSX build, the results should show up in the window pane below.  I didn't personally think the result pane was hooked up to the "Edit Database Cell" er.. dockable window thing :wink: at all, but you're right.  When I

[2017-05-17 18:43] justinclift opened #1015 "Edge case crashing bug in nightlies"
Just found a simple, completely repeatable crashing bug in our latest OSX nightly build.

1. Execute a query in the Execute SQL tab (eg `SELECT count(*) FROM download_counts`), using [this DB](https://dev1.dbhub.io/justinclift/DB4S%20download%20stats.sqlite), though it'll probably happen for every DB.
2. In the result pane below, click on the result with the mouse, then press backspace (as if want

[2017-05-17 18:48] justinclift commented on #866
Closing this due to lack of response.

[2017-05-17 18:48] #866 closed

[2017-05-17 18:49] justinclift commented on #877
@FreudGit Would you be ok to try out latest nightly build, and let us know if it's fixed for you?  In theory, it should have been fixed a while back. :smile:

[2017-05-17 18:50] justinclift commented on #978
Closing this due to lack of response.

[2017-05-17 18:50] #978 closed

[2017-05-17 18:53] justinclift commented on #865
@pirelaurent Would you have time to try out latest nightly 32 + 64 bit builds, and let us know if they still have this crash problem?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-05-17 18:55] justinclift commented on #774
@elyorm @drescherjm Would you have time to try our latest nightly 32 + 64 bit builds, and let us know if they still have this crash problem?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-05-17 18:57] justinclift commented on #477
Closing this for now, as it's pretty old and we have tonnes of other things to fix. :wink:

@pikeas If this still happens though and you care about it, please feel welcome to re-open this issue and we'll get around to investigating at some point. 😁

[2017-05-17 18:57] #477 closed

[2017-05-17 19:03] drescherjm commented on #774
I tried it a few days ago with a somewhat recent nightly (not exactly sure
of the date) and that failed the same way however the laptop is in the
field and I don't have current access to that.

John

On Wed, May 17, 2017 at 2:55 PM, Justin Clift <notifications@github.com>
wrote:

--
John M. Drescher

[2017-05-17 19:18] justinclift commented on #774
Thanks @drescherjm, that's interesting.

My first guess is there's some kind of dll conflict.  There are some tools around to show which dlls are being used by a program, so we should be able to compare what your system is doing to a "known good" one.

But yeah, it'll need you to have the laptop in hand.  Ping us when you're ok with things and we can take a look at this. :smile:

[2017-05-17 19:44] ulascanerturk commented on #1008
for information the program works well :+1:
Thanks for all your help :smile:

[2017-05-17 20:31] FreudGit commented on #877
Can you please remind me how to get the last nightly? ?

[2017-05-17 20:51] tonypdmtr commented on #481
Well, I didn't say it should be editable.  However, the reason IMO you need the read-only edit box is because long cell contents are easier to read that way, rather than directly from the grid cell.

[2017-05-17 23:30] justinclift commented on #481
Ahhh, that makes good sense.  Hadn't thought of it that way at all.

Yeah, we should probably hook up the keyboard keys with the Edit Database Cell contents there too then.

[2017-05-17 23:32] justinclift commented on #877
Oops, sorry I should have mentioned it.  The latest nightly builds are here:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-05-18 04:49] abbasshah17 commented on #866
Apologies for the late response, I received the mail on a vacation when I had no tested news to add. But @justinclift unfortunately yes! I got it fixed but I don't know how. I didn't update the software, so unless some windows `exe`, `dll`, etc. files were required to run which were missing from the system previously I have no idea why DB Browser is suddenly working. Anyway the other day a junior

[2017-05-18 08:46] justinclift commented on #866
No worries. :smile:

It sounds like maybe a Windows Update or similar fixed the problem.  At least it's working now.

[2017-05-18 11:22] andisys commented on #1010
"download_count": 1050 by now. I am really wondering whether you consider this amount worth the effort input, as I don't possess any other data to compare to?

Unlike other links, it clearly states Win XP, so personally I doubt that there would be too many crazy people attempting to install Windows XP version on something else. Well, unless you consider all people that still use Window XP crazy. x

[2017-05-18 12:01] justinclift commented on #1010
If you find this kind of stuff interesting, here's our latest stats (from a few minutes ago) in hourly snapshots:

&nbsp; &nbsp; https://dev1.dbhub.io/justinclift/DB4S%20download%20stats.sqlite?sort=hour&dir=DESC

The webUI there is under development (eg there's no real front page to speak of yet :wink), but the sort and paging keys work.  Or you can just download the databse (SQLite format of cou

[2017-05-18 12:11] chrisjlocke opened #1016 "Refreshing 'Browse Data' data, lies about the sorting"
### Details for the issue

If you browse a table using the 'Browse Data' tab, then sort via clicking a column heading, and then click the 'Refresh Data' button, the data is pulled from the database again (as expected) but the column you clicked on is still 'selected' with the sorted up/down arrow.  If you then click this column AGAIN (to resort it, as its currently unsorted) the sort order is reve

[2017-05-18 12:15] justinclift commented on #1016
Ahhh.  Would it be more optimal to have the refresh button apply the sorting (as you mention), but we also include some way to forget any sort selection?

[2017-05-18 13:35] chrisjlocke commented on #1016
Best of both worlds! I can see you've done this before! ;)

[2017-05-18 13:38] chrisjlocke commented on #1010
I'm more worried we have a link saying "Download 32-bit Win XP.exe" -
people are probably thinking its a fulll blown copy of XP! ;)    *

*No, I know they're not.  Honest.

On Thu, May 18, 2017 at 1:02 PM, Justin Clift <notifications@github.com>
wrote:

[2017-05-18 16:22] iKlsR commented on #1002
Has this been started by any chance?

[2017-05-18 16:34] justinclift commented on #1002
Nope, I wish. :wink:

[2017-05-18 16:35] iKlsR commented on #1002
If you can outline any specifics on how this should be implemented I can tackle it this weekend. Currently in need of this.

[2017-05-18 16:46] justinclift commented on #1002
I hadn't really thought it through much, but as a first concept I'm thinking that the initial dialog itself needs to allow multiple-file selection (currently single-file only).  Then user facing dialog which presents options should probably also display some kind of list with the selected file names, along with a checkbox next to each (and select/deselect all toggle button).

And some way to apply

[2017-05-18 16:48] iKlsR commented on #1002
I can work with that, we can always iterate on the PR. Thanks.

[2017-05-18 17:49] karim commented on #1002
To add to what @justinclift said, maybe a *folder selection* too?

If the open file dialog is active and you click on **Open** button *without* selecting any file, it will open/select all the files for import from the current directory? One problem for this is that all .csv files must be in the same format to be imported properly.

Also, `Ctrl` + click while the open dialog is open to select files

[2017-05-19 13:06] MKleusberg commented on #1015
I wonder how that wasn't noticed before :+1: But it should be fixed with the latest commit :smile:

[2017-05-19 13:24] MKleusberg commented on #481
Thanks for the detailed explanation, @tonypdmtr :smile: I've just changed the code to allow include selection via keyboard, however it's not that easy as you can see [here](https://doc.qt.io/qt-5/qabstractitemview.html#activated). On some platforms you'll need to press Enter to trigger the action, i.e. first change the selection by using the arrow keys, then press Enter to show the contents. I'm n

[2017-05-19 13:38] MKleusberg commented on #1016
With the next nightly build it should keep the current sorting when pressing the refresh button. So it shouldn't be that annoying anymore :wink:

I haven't (yet) added a button for removing the sort order. But there already is a (somewhat hidden) way to do so: right click on the column headers, click "Show rowid column", then left click on the rowid column header, and then (optionally) right click

[2017-05-19 13:44] MKleusberg commented on #1002
@iKlsR If you need any technical assistance while working on this, just comment on this issue or write me an email and I'll try to help. I won't be available the entire weekend but you can still give it a try :smile:

[2017-05-19 14:36] justinclift commented on #1015
Excellent, that fixed it.  Thanks @MKleusberg. :smile:

[2017-05-19 14:36] #1015 closed

[2017-05-19 14:52] chrisjlocke commented on #1016
Excellent, thanks!  Will check over the weekend/Monday.  Appreciate that.

[2017-05-20 15:03] iKlsR commented on #482
For simple build purposes, the compile step for using MSVC is way too long with so much stuff to dl. I'm not sure if there were any large changes between this post and now but I got the browser to build on windows by just opening the `.pro` in Qt Creator.

Only thing is I had to build the amalgamation as a static and a shared lib and plob those in Qt's mingw folder since the solution calls for `-l

[2017-05-20 17:40] iKlsR commented on #1002
@justinclift Seemed out of place (didn't read most of the comments) so I removed it. Yup, I have a basic working first draft. I should have it up sometime later, have some other stuff to take care of.

[2017-05-20 22:36] justinclift commented on #1002
No worries.  Ironically I needed a break from the computer today, so have been keeping mostly offline.  Just reading up on git internals on my tablet instead, as we need to adjust the data model we're using for the dbhub.io project.

Tomorrow (eg Sunday) I'll be mostly online (still doing dbhub.io stuff), but should be checking email and Gitter more often if that's useful. :smile:

[2017-05-21 18:16] tonypdmtr commented on #481
Indeed, now ENTER is needed all the time whether for **both** keyboard and mouse.  (This feels awkward to me.  It's certainly worse for mouse users as they now have to use both mouse and keyboard.)

I'm not sure of the previous mouse behavior but didn't it update the edit box with each mouse click?  If so, then perhaps the mouse click event could be 'manually' called whenever the grid cell is chan

[2017-05-23 13:38] fatscally opened #1017 "Unexpected Execute behaviour"
### Details for the issue
Unexpected behaviour.
Seems like the "Execute SQL" and "Execute current line" buttons are crossed.

I want to run this code
[code]
If I select the first line "_SELECT * FROM Transactions_ " and click the Execute SQL arrow >
`This is the output:  4 rows returned in 0ms from: SELECT * FROM Transactions`

but if I click the Execute Current Line the output is:
[code]

### Use

[2017-05-23 14:13] justinclift commented on #1017
Just to check, which version is this happening on?  Asking because we've mucked around a lot with the code for the *Execute SQL* window since the 3.9.1 release, so it's definitely changed since then.

If the above is happening with our recent nightly releases though, we should definitely look into it. :smile:

[2017-05-23 14:20] fatscally commented on #1017
Hi.

I only discovered and downloaded your app yesterday 23 May 2017.

[image: Inline image 1]

On Tue, May 23, 2017 at 3:14 PM, Justin Clift <notifications@github.com>
wrote:

[2017-05-23 14:22] fatscally commented on #1017
sorry the screen grab image didn't show.
it's///

Version 3.9.1
Qt Version 5.7.1
SQL Cipher Version 3.11.0

On Tue, May 23, 2017 at 3:20 PM, Ray Brennan <ray@quitealright.com> wrote:

[2017-05-23 14:25] justinclift commented on #1017
Thanks, that's useful.  Would you be ok to try the latest nightly build and see if it's happening there as well?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

In theory (!), it shouldn't be a problem any more. 😁

[2017-05-23 14:26] fatscally commented on #1017
As a fellow developer I'd be happy to :)

On Tue, May 23, 2017 at 3:25 PM, Justin Clift <notifications@github.com>
wrote:

[2017-05-23 14:47] fatscally commented on #1017
I can't download it from that address here at work.  I'll try it in a few
hours from home.  :)

On Tue, May 23, 2017 at 3:26 PM, Ray Brennan <ray@quitealright.com> wrote:

[2017-05-23 18:16] fatscally commented on #1017
Version 3.9.99
Qt 5.7.1
Sqlite 3.18.0

Same problem.

Ok so using only the tool I created a new db with "Table1" with fields
(Integer) Id, (Text) Name, (Integer) Age
I inserted 3 rows:

Insert into Table1 (Id, Name, Age)
Values (1, "Ray", 1),
(2, "Bob", 2),
(3, "Pierce", 3)

Now I query the table:

Select * from Table1
Where Age <= 2

but highlight just the first row *Select * from Table1*

Execut

[2017-05-23 18:40] justinclift commented on #1017
Damn, I could have sworn we fixed this a while back.  We'll need to look into it again before the next release.

Thanks for pointing it out @fatscally. :smile:

[2017-05-23 18:50] fatscally commented on #1017
It's a good tool.  Keep at it.
I'll add more comments as I play about with it some more.

In Visual Studio 2010 all "bit" rows are returned as "False" even when the
values in them are mixed "False" / "0" etc.  That's why I went looking for
another tool.  It was with the help of your tool that I could see what's
happening.  VS was hiding the problem.

On Tue, May 23, 2017 at 7:40 PM, Justin Clift <

[2017-05-23 19:32] justinclift commented on #1017
Thanks. :smile:

Yeah, everything has bugs, but at least we're somewhat more approachable. :wink:

[2017-05-23 22:29] iKlsR commented on #1002
Hi guys, real life hit like a sack of bricks. Finishing up and will open a PR shortly. Not sure if I will need to write tests as you will see but added some small additional functionality. Will need some help making it conform better to the org style and cleaning up the code, thanks.

@karim I think the features I added maybe negated the need for folder selection, let me know however, keen to see

[2017-05-24 00:39] justinclift commented on #1002
Muaaa Haaaa Haaaa.  That's awesome. 7k files is definitely in the realm of "wouldn't want to do that by hand". 😁

For your PR, @MKleusberg is the right person to review it.  Hopefully he has time to over the next few days.

@MKleusberg ?

[2017-05-24 09:49] chrisjlocke commented on #1017
Just a thought (haven't fully tested it, but wanted to confirm...) you mention "but highlight just the first row".  Theoretically, no highlighting is necessary, and it might be that thats giving the 'false information'...
I know this was working semi-recently, as it was me that highlighted the previous quirks with it.

[2017-05-24 10:04] chrisjlocke commented on #1017
OK, so 'Execute SQL' (or F5) will execute the sql statements in the window, while 'Execute current line' is technically more 'Execute current *statement*'.  A subtle, but obvious difference.

The highlighting is important in that if some SQL is highlighted (ie, part of a statement) and 'Execute SQL' (or F5) is pressed, then only that SQL is executed.  Highlighting has no effect on the 'Execute cur

[2017-05-24 10:08] fatscally commented on #1017
Just tried it there.   Highlighting is required.

Anyway I woke up this morning thinking that there should be only 1
button.   If nothing is highlighted then it runs the whole script, but if a
selection is highlighted then only the selection gets run.  This, I would
consider to be expected / normal behaviour.  This is how it works in
SSMS or Rapid for Sybase.

As I was saying, I think it's a very

[2017-05-24 10:31] fatscally commented on #1017
1)  If I put this code in it will fail no matter where I put the cursor.  I
think that it should, this would be expected behaviour

select * from Tags where Id <= 2
select * from Tags where Id >= 3

If I highlight a single line it will run with F5.   Shift+F5 will result in
error.

2)
If I split the lines

select * from Tags
where Id <= 2

select * from Tags
where Id >= 3

Only F5 will work as exp

[2017-05-24 10:51] chrisjlocke commented on #1017
Technically, its not valid SQL.  DB4S will 'merge' all lines (as an SQL statement can be split over multiple lines, eg:
[code]
So DB4S is squishing your statements together and forming this:
[code]

Slap a semi colon on the end of each statement, and DB4S will know where one statement ends, and another begins.

2. Again, if you add the semi colon, Shift+F5 will work.  Honest.

[2017-05-24 11:17] fatscally commented on #1017
I think we might be over complicating the problem now at this point.  Might
need to remind ourselves to keep it simple?

Yes I understand that it concatenates the lines.
Is adding the ; is bogus?  Is that how it's done in the other 'big player'
apps? I know I don't consciously use it when I'm scripting outside of C#.

select * from Transactions (*C1)
where Id <= 3; (*C1)
select * from Transactions

[2017-05-24 11:34] chrisjlocke commented on #1017
Some programs 'detect' where the semi colon should go, others don't.  I use SQL Studio and that gets confused if I don't add semi colons.  You can't 'assume' that lines beginning with 'select' is a new statement, as you can have multiple 'select' statements in a select statement.  The semi colon just explicitly defines where you want the ending to be.

Welcome fellow .Net-er.  I program mainly in

[2017-05-24 11:48] fatscally commented on #1017
"*You can't 'assume' that lines beginning with 'select' is a new statement,
as you can have multiple 'select' statements in a select statement.*"  Yes
- very good.  I don't know how the boffins do it.  I've never put my mind
to it.

Hello fellow .Net-er back!
I grew up in VB6 land which ultimately led me to .Net.  I strongly urge
anyone to cross over to C#.  It's not that hard but it does have ext

[2017-05-24 12:40] chrisjlocke commented on #1017
Ditto.  Well, I'd love to create some Android apps.  I work in a manufacturing business, so to create a small app where someone could interact with a database 'somewhere' would be useful.
99.99% of my coding is for Windows applications (WinForms, rather than WPF).  I use SQLite for most of the databases (seems to work OK in a multi-user environment on a server, even though they say 'don't do that!

[2017-05-24 14:52] chrisjlocke opened #1019 "Browsing Recently Viewed Table Causes Crash"
### Details for the issue

Have been using an older nightly fine (7 May or so) but downloaded a recent nightly (24 May) and now if I browse a recently browsed table, DB4S crashes.
http://screencast-o-matic.com/watch/cbhZ2HXkz2

Windows doesn't really provide useful info *where* its crashing, so not sure what helpful info I can provide.

I haven't tried the obvious yet of rebooting and retrying.  T

[2017-05-24 14:56] fatscally commented on #1017
Back on topic.

I would with a reflex CTRL+E to run the script.   I'm sure I got this habit
from SSMS ;)

On Wed, May 24, 2017 at 1:40 PM, Chris Locke <notifications@github.com>
wrote:

[2017-05-24 15:03] justinclift commented on #1019
Interesting.  Does the nightly from before 19th May work?  eg the 18th or similar.

I'm wondering if it's a side effect from b7cd1c7dbd0606d12f6b2ab31451760b39cac82f somehow. :smile:

[2017-05-24 17:48] chrisjlocke commented on #1019
I'll have a go tomorrow... certainly ones from early May were OK.

[2017-05-24 17:49] eevleevs opened #1020 "Active filters are not updated on table modification"
### Details for the issue

- set a filter on one column on "browse data"
- modify the table adding another column before the one with the filter
- the filter is in the same position, but not anymore on the same field

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm us

[2017-05-24 18:00] justinclift commented on #1020
Interesting bug, thanks for reporting it. :smile:

[2017-05-24 18:27] jjxtra opened #1021 "Unable to change page size in latest version"
Changing the page size has no effect when done either in the GUI or in SQL query window. Database is brand new, no tables yet. Have tried with all different journal modes too, no change.

PRAGMA main.page_size = 8192;
PRAGMA main.page_size; // shows 1024

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

###

[2017-05-24 18:32] justinclift commented on #1021
Oh that's different.  We'll definitely need to look into that.

Thanks for pointing it out @jjxtra. :smile:

[2017-05-25 03:33] EvoWizz opened #1022 "Modify multiple cells' values at the same time"
### Details for the issue
Hi! It would be great to be able to modify multiple cells' values when selecting multiple cells.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [x] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x] Windows: ( _version: 10 x64)
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:_ ___ )
- [ ] Other

[2017-05-25 07:50] justinclift commented on #1022
Interesting thought.  When reading that, the concept I'm getting is that if someone selects multiple cells then types (say) the number 5, all of the selected cells would get that value.

Is that the kind of thing you're meaning? :smile:

[2017-05-25 08:19] EvoWizz commented on #1022
@justinclift Exactly! :)

[2017-05-25 09:04] justinclift commented on #1022
Cool. :smile:

[2017-05-25 09:18] chrisjlocke commented on #1019
Yes, nightlies from 18 May and 19 May worked fine.  The nightly from 20 May exhibits the above crash.

[2017-05-25 09:19] chrisjlocke commented on #1022
Haha!  I was thinking something similar the other day as I had to update a number of cells in a database. Would be a nice feature.  ☕️

[2017-05-25 09:22] justinclift commented on #1019
Awesome @chrisjlocke. :smile:

[2017-05-25 09:52] chrisjlocke commented on #1017
Custom keys can't be set yet, and changing the keys may not be possible, as Ctrl+E currently shows/hides the 'Edit Database Cell' tab.

[2017-05-25 10:01] justinclift commented on #1017
Yeah, we do have an outstanding item for adding some kind of key binding change.  But, it's not a small piece of work and it's probably not something we'll get done in the near future. 😇

[2017-05-25 15:20] c01313 opened #1023 "Adjust column width to name for all columns"
### Details for the issue
I have a table with lots and lots of columns and when browsing data it's very difficult to see column names that are on the longer side, so I've been double clicking the spacer between columns, which adjusts the column width to the name.  Is there any way to do this across all columns without having to manually double click each spacer?

If not, is that something you'd co

[2017-05-25 17:01] justinclift commented on #1023
It's definitely a reasonable idea.  I suspect this is something people have asked about before, but we've just not gotten around to implementing yet.

Um... don't suppose you're any good with C++ and Qt programming? :smile:

[2017-05-25 17:44] c01313 commented on #1023
Unfortunately not at all. 🤷‍♂️

[2017-05-25 19:23] jungle-boogie commented on #999
Hi @justinclift,

Have you had a chance to update the docs?

[2017-05-25 21:36] justinclift commented on #999
I've made a decent start on going through the docs from a Qt Creator perspective here:

* https://github.com/sqlitebrowser/sqlitebrowser/wiki/Compiling-on-Ubuntu-16.04-with-Qt-Creator

... but haven't yet gotten up to the point of determining how to override the system provided SQLite.

While doing that, I found that - unlike our CMake configuration - using `qmake` didn't install all of the requir

[2017-05-25 22:05] justinclift commented on #1023
No worries. :smile:

[2017-05-26 07:37] chrisjlocke commented on #1023
if you select multiple columns (they have to be adjacent - you can't select just specific columns) and double click the spacer, then all those columns will have the same width.  So if you select all columns (by clicking the top left square) and double clicking the column spacer to the right of the largest column, all columns will be super long.  So not perfect, but quicker than clicking each colum

[2017-05-26 10:05] matuszuborupc opened #1024 "Tabsheet "Execute SQL" - not possible write char with diakritic how id Š,š,ďť,ň,ľ..."
### Details for the issue

Not possible in the editor write special chars from char over 128 - 255 or unicode ....
example
select * from "Košice"

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Linux: ( _distro:

[2017-05-26 10:21] chrisjlocke commented on #1016
Works perfectly... so long as it wasn't this that caused #1019 😨

[2017-05-26 10:21] #1016 closed

[2017-05-26 10:53] justinclift commented on #1024
Interesting.  Which version is this happening with, and on which operating system? :smile:

[2017-05-26 11:37] MKleusberg commented on #1016
Cool, thanks for testing :smiley: I'll have a look at #1019 soon.

[2017-05-26 11:43] MKleusberg commented on #1019
Thanks for tracking this down, @chrisjlocke! In this case I believe that this is indeed caused by 7ad80352616df1b185ab87f989cb7c2fd6c784c5. I'm just not sure why yet and it will be tricky to debug because it doesn't crash for me. But I'll try :smile:

[2017-05-26 11:46] justinclift commented on #1019
@MKleusberg If it's useful, I can kick off the windows build script and point it at a branch of your repo or something, to make some one off build(s) for Chris to test with.

[2017-05-26 11:47] justinclift commented on #1019
Oh... one other thing springs to mind.  I recently updated the Windows build box to use SQLite 3.19.0.  I wonder if that's the cause?

[2017-05-26 11:48] justinclift commented on #1019
Ahhh.  sqlite.org now lists 3.19.2 as the latest.  I'll update the build box with that and remake todays nightlies.  Gimme a few minutes.

[2017-05-26 11:52] MKleusberg commented on #1019
Yeah, makes sense to use the latest SQLite version. But it's probably not the source of the problem here (I guess).
Can you make a build from [this branch](https://github.com/sqlitebrowser/sqlitebrowser/tree/issue1019)? This prints some rudimentary debug output to the console.

[2017-05-26 12:04] justinclift commented on #1019
Yep, will do.  Gimme a bit. :smile:

[2017-05-26 12:09] MKleusberg commented on #999
As fas as I understand you have (at least) two versions of the SQLite, @mburger81, the system version that was installed using the package manager and the manually installed version. During compilation we just statically link to the first library version we can find. In your case that should be the system one.

So what you'll need to do is recompile DB4S and configure the build to search for the m

[2017-05-26 12:17] justinclift commented on #1019
k, it's building now.  In theory it they should pop up in the *-onceoffs dirs in ~1/2 hour:

* https://nightlies.sqlitebrowser.org/win64-onceoffs/
* https://nightlies.sqlitebrowser.org/win32-onceoffs/

... and have "issue1019v1" in their name.

[2017-05-26 12:31] MKleusberg commented on #1019
Cool, thanks :smile:

@chrisjlocke Can you test again using those build? It should still crash but - when you start the new build from cmd.exe - print some debug information that hopefully provides at least some clue on where to start looking for the bug :wink:

[2017-05-26 12:56] justinclift commented on #1023
A sounds like that'd make for a useful FAQ item or similar kind of thing on the wiki.

@karim @chrisjlocke Would either of you have the time/interest to make something suitable? :smile:

[2017-05-26 13:02] matuszuborupc commented on #1024
Version 3.6.0
Qt Version 5.4.1
Sqlite 3.8.9

Windows 7

From: Justin Clift
Sent: Friday, May 26, 2017 12:53 PM
To: sqlitebrowser/sqlitebrowser
Cc: matuszuborupc ; Author
Subject: Re: [sqlitebrowser/sqlitebrowser] Tabsheet "Execute SQL" - not possible write char with diakritic how id Š,š,ďť,ň,ľ... (#1024)

Interesting. Which version is this happening with, and on which operating system? 😄

—
You ar

[2017-05-26 13:07] justinclift commented on #1024
Thanks @matuszuborupc.  That's a very old version.  Would you be ok to try our latest release?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.1

I'm pretty sure diacritics work in that. :smile:

[2017-05-26 13:34] chrisjlocke commented on #1023
"Its wacky and its weird and unlike any other feature you've used."  😉

[2017-05-26 14:38] chrisjlocke commented on #1023
https://github.com/sqlitebrowser/sqlitebrowser/wiki/Resizing-Columns

[2017-05-26 18:52] matuszuborupc commented on #1024
Sorry my fault, after update to 3.9.1 sw worked fine.

Thx.

From: Justin Clift
Sent: Friday, May 26, 2017 3:07 PM
To: sqlitebrowser/sqlitebrowser
Cc: matuszuborupc ; Mention
Subject: Re: [sqlitebrowser/sqlitebrowser] Tabsheet "Execute SQL" - not possible write char with diakritic how id Š,š,ďť,ň,ľ... (#1024)

Thanks @matuszuborupc. That's a very old version. Would you be ok to try our latest rele

[2017-05-26 19:05] iKlsR commented on #1022
I don't like the selection model available for tables, it doesn't respect `Ctrl` and `Shift` as one would expect and instead treats everything as a `Shift` selection.

[2017-05-26 20:49] justinclift commented on #1022
@iKlsR From memory, the current behaviour (done in #709) is an improvement over what it was before.

The advantage of having skill with C++ and Qt, is that you can shape it to be better. 😁

Would improving it further be of interest to you? 😉

[2017-05-26 20:51] justinclift commented on #1024
Awesome. :smile:

[2017-05-26 20:51] #1024 closed

[2017-05-27 06:15] justinclift commented on #308
Oops, somehow missed this. 😦

If this is still happening with our latest nightly builds, then changing the dialog text is very easy to do.

Um... if you're still interested in this, would you be ok to check if this still happens with our latest nightly build?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

If it still happens, I'll update the dialog text. :smile:

[2017-05-27 06:46] justinclift opened #1025 "Update SQLCipher version for Windows nightlies to 3.4.1"
SQLCipher 3.4.1 was released a while ago.  Our Windows nightlies use an older version though, as it's based on a modified version (changed to compile easier on Windows).

It would be useful to update my SQLCipher repo to version 3.4.1, so that our Windows nightlies use that.

[2017-05-27 07:30] chrisjlocke commented on #1023
Oh yeah, forgot about that.... doh.  🦀

[2017-05-27 07:31] chrisjlocke commented on #1025
Will be happy to test if you need a 'tester'. 😸
Can't remember if you have a Win VM to test.

[2017-05-27 07:36] justinclift commented on #1025
Thanks @chrisjlocke. 😄

I do have one, but it's stored on machine I rarely turn on and is a bit of a pain to get happening.

Probably won't get to this any time real soon though.  It's more of a reminder/placeholder issue for myself so I don't forget. :wink:

[2017-05-27 21:51] chrisjlocke commented on #1022
The underlying control (or widget...?) should have this 'basic' functionality, then its down to the program to acknowledge/respect that, rather than the other way around?  Maybe the control does though - haven't played with Qt in any real depth.

[2017-05-27 22:57] justinclift commented on #1022
From memory of the issue, as it turned out to be fairly complex, we made it into a "single selection only" because that was the most practical approach for the time we had available.

The widget itself definitely can be told to allow multiple selections.  It does need corresponding code for handling that though.  Pasting a multiple-cell selection from one table to another has weird edge cases, and

[2017-05-28 11:22] eevleevs opened #1026 "Hide columns"
### Details for the issue

I often use a db instead of a spreadsheet, and I would use the possibility to hide columns in order to focus only on certain fields. Views don't seem a solution to this because they cannot edit data.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [X] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [X]

[2017-05-28 11:26] justinclift commented on #1026
Interesting thought.  Yep, it does sound like it would be useful. :smile:

[2017-05-28 12:54] WiliTest opened #1027 "feature request: add "set selected field to NULL" option"
### Details for the issue

If there is a way to set all selected field to null (in brownse data), I did not find it. I have seen that I could delete all the entry in once, but I'm not shure it's the same as setting these field as NULL. So I did it one by one manually using the buttons "set as null" and "apply", which was quite a job.

It would be intuitive to have a right click option : "set as nu

[2017-05-28 13:26] justinclift commented on #1027
Good thinking.  That's a very good reason to have a "Set as NULL" button or something similar in the main Browse Data window, not just inside the cell editing window.

[2017-05-28 13:28] justinclift commented on #1027
As a thought, for a workaround approach for now it'd be possible to set all values to NULL using SQL.  eg something like `UPDATE sometable SET column = NULL`.  Doing it like that without a WHERE clause will apply it to all rows. :smile:

[2017-05-28 13:33] chrisjlocke commented on #1027
This is sort of linked to the other issue raised recently of changing multiple cell values at once. The is a keyboard shortcut to null a cell contents, so it could be carried across all selected columns/rows... assuming the Qt control plays nicely...

[2017-05-28 13:51] WiliTest commented on #1027
I'm impressed you already looked at it. Thanks a lot for all you have done (even if you don't implement that!)

[2017-05-28 14:02] WiliTest commented on #1027
By the way it would even better to implement a "replace all fields by", so you could set to NULL or whatever.

ps: I'm impressed you already looked at it. Thanks a lot for all you have done (even if you don't implement that!)

[2017-05-28 14:10] justinclift commented on #1027
No worries. :smile:

[2017-05-28 14:33] MKleusberg commented on #1027
There's a keyboard shortcut for this (but no button) :smile: You can press Alt + Delete or Alt + Backspace to set the current field to NULL. Here's a list of all non-obvious keyboard shortcuts: https://github.com/sqlitebrowser/sqlitebrowser/wiki/Keyboard-shortcuts#browse-data-tab

But yeah, for now it works only for single fields. I'll try to fix that over the next couple of days, if time permits

[2017-05-28 16:15] chrisjlocke commented on #1026
A possible 'temporary workaround' is that columns can be resized down to quite a small size.
![image](https://cloud.githubusercontent.com/assets/7872218/26530240/29b23e36-43c9-11e7-8b9c-ae522a1904f3.png)

These can also be saved if the database is saved as a 'project', which is handy...
So not perfect, but 'workable'.... ;)

[2017-05-28 16:24] justinclift commented on #1026
Yep, that'd probably work too. :smile:

[2017-05-28 16:28] iKlsR commented on #1022
@justinclift Sure, when I get the time if someone hasn't done it yet. To clarify, I'm talking about the edit multiple cells feature, the underlying column selection is an issue to itself and would require some non-trivial structural changes.

[2017-05-28 16:29] iKlsR commented on #1026
How would one go about showing back the hidden column, do we want to selectively hide columns and then have a mass show all hidden?

[2017-05-28 16:54] justinclift commented on #919
@CarlCDHPIX @chrisjlocke Just stumbled on this: https://github.com/praeclarum/sqlite-net/commit/4858d1fba57f6a4a26157a4daa72a4da1a9f4004

I'm not at all a .NET person, so not 100% sure here... but it sounds like SQLite-net (close to it's next release) will soon support encrypting with SQLCipher.  Which might mean we can then open databases created with it.

Well, hoping that's the case. :smile:

[2017-05-28 16:55] eevleevs commented on #1026
Mass show works for me, if you want to make it simple.
For hiding, would be good if one could select several columns, and hide all at once.

[2017-05-28 16:56] justinclift commented on #1022
No worries at all, it all helps. 😁

[2017-05-29 09:39] chrisjlocke commented on #919
I don't think this is the 'official' system.data.sqlite.dll but a separate
project, but if it 'solves an issue', could be worth investigating.
I'll have a play with it.  Not a huge issue (as fields should be unique
anyway) but a major issue with the 'official' release is that while you can
specify table names in sql queries, the fields returned back aren't table
prefixed. I'm waffling, but sometim

[2017-05-29 13:11] justinclift commented on #919
Cool. :smile:

[2017-05-29 19:25] palmiche commented on #308
The text didn't change from 3.9.1 to 3.9.99.  :confused:

[2017-05-29 19:42] justinclift commented on #308
Ahhh yeah.  Looking at it here, it's still there: https://github.com/sqlitebrowser/sqlitebrowser/blob/7ad80352616df1b185ab87f989cb7c2fd6c784c5/src/sqlitedb.cpp#L48

Just to confirm, "NOCASE collation does not handle multi-byte characters.  Proceed?" would be better yeah?

If so, I'll change it immediately.  Better wording suggestions are welcome too of course. :smile:

[2017-05-29 20:13] palmiche commented on #308
I'm not sure about that. What will happen if you choose "No"? From a purely UI pov a warning with just one button has the same effect: you execute the query anyway. So what the user (me) needs to know is what effect will the choices have.

Something like:

Title: "NOCASE collation does not handle multi-byte characters. Proceed? "
Message:
"A table in this database requires a special collation func

[2017-05-29 20:17] justinclift commented on #308
Ahhh, yeah.  I'm not sure what those effects are either.  We'll have to ask someone who knows this part of things better. 😕

[2017-05-29 20:24] palmiche commented on #308
My point exactly. 😉

[2017-05-29 21:30] justinclift commented on #729
@chrisjlocke This is done now isn't it? :smile:

[2017-05-30 05:27] chrisjlocke commented on #729
Surely is.  🚯 😋
Documentation and screenshots updated.  The DOS screenshots look a bit pants* as they've been more doctored than redone, but I can redo them again.
*No-one will notice.... much! ;)

[2017-05-30 05:27] #729 closed

[2017-05-30 05:54] justinclift commented on #729
Awesome, thanks @chrisjlocke. 😁

[2017-05-30 12:57] fatscally opened #1028 "Incorrect total row count browsing data"
On the Browse Data tab.  I have a table with 80 rows.  When I scroll to the bottom it reports "65-0 of 0"

2 pictures are the same table but the top is not scrolled to the end.
![image](https://cloud.githubusercontent.com/assets/5503999/26583919/f44fa95a-453e-11e7-816e-720359f3104b.png)

![image](https://cloud.githubusercontent.com/assets/5503999/26583895/e20b1388-453e-11e7-8abc-eca4703e0662.png)

[2017-05-30 14:39] justinclift commented on #1028
As a thought, does it happen with our recently nightly builds too?  We changed the pagination code for the Browse Data tab on May 8th to jump by however many rows are currently being displayed.

[2017-05-30 14:42] fatscally commented on #1028
Hi.

Version 3.9.1

Qt Version 5.7.1

SQLCipher Version 3.11.0

On Tue, May 30, 2017 at 3:39 PM, Justin Clift <notifications@github.com>
wrote:

[2017-05-30 15:14] jungle-boogie commented on #999
The steps provided by @MKleusberg worked great! Now my sqlitebrowser from git master is in sync with my sqlite version.

Thanks!

[2017-05-30 15:25] chrisjlocke commented on #1028
v3.9.1 is quite old now*.  Try one of the latest nightlies from here:
https://nightlies.sqlitebrowser.org/latest

*By that I mean we've put a lot of time and effort in fixing issues, but haven't yet made a full release, so our nightlies are more up to date than the version available for main download.

[2017-05-30 15:32] fatscally commented on #1028
Oh right, I forgot.  At work I'm on the last release.  At home I have a
night release.  I'll take a look later when I get home.  :)

On Tue, May 30, 2017 at 4:25 PM, Chris Locke <notifications@github.com>
wrote:

[2017-05-30 20:32] justinclift commented on #999
Awesome. :smile:

[2017-05-31 13:34] c01313 commented on #1023
That works for me for the time being.  Thanks Justin and Chris.  Should I close this or is a "better" solution something you'd still plan on implementing?

[2017-05-31 13:40] justinclift commented on #1023
Probably close it for now.  We're swamped with issues as is, so cutting down on the non-major ones for a while is probably not a bad idea. :smile:

[2017-05-31 13:44] c01313 commented on #1023
Haha, no worries.  Closed.  Cheers.

[2017-05-31 13:44] #1023 closed

[2017-05-31 17:35] justinclift commented on #893
Closing this issue as we updated our 3.9.1 release with Windows XP support a few weeks ago (14th May). :smile:

[2017-05-31 17:35] #893 closed

[2017-05-31 18:43] allender opened #1029 "Nightly windows installer executable don't launch"
### Details for the issue

I tried downloading the nightly windows installer (64 and 32 bit) so that I could get json support that is not currently available in the release version.  When I double click the executable in windows explorer (or choose open from the context menu), nothing happens.  If I run the executable from the command line, the installer runs and the nightly build is correctly ins

[2017-05-31 18:49] justinclift commented on #1029
@chrisjlocke @karim Any ideas? :smile:

[2017-05-31 21:24] karim commented on #1029
I just tried installing the latest nightly version and everything is working fine. I'm on windows 7 though.

The only difference I see between the official version and the nightly builds is that the nightly builds are not digitally signed. Also, since they are *downloaded from the internet* they might be flagged as unsafe. Could it be Windows 10 blocking the installer somehow?

@allender Does the

[2017-05-31 21:40] chrisjlocke commented on #1029
I run this quite happily on Windows 10, although it does come up with the 'Hey, this is a new program, are you sure you want to run this?'

What anti-virus have you got?  Anything in the event viewer?

[2017-05-31 21:46] justinclift commented on #1029
@karim Ahhh yeah, good idea.  I can manually sign one of the nightlies to see if that's the problem.

If that does turn out to be the case, then all is not lost.  I have some notes from one of the StartCom (!) staff on how to potentially script the signing.  It may work out doable.

[2017-05-31 21:48] allender commented on #1029
I "unblocked" the app in the properties pane and it's working.  I didn't even think about digital signatures.  Sorry about that.  I so appreciate the help.

[2017-05-31 21:50] justinclift commented on #1029
You're welcome @allender, glad the problem didn't turn out to be something more serious. :smile:

[2017-05-31 21:50] #1029 closed

[2017-06-01 00:26] TharosTheDragon opened #1031 "Windows 10 multi-touch glitch"
I'm not so experienced with C++, so I'll ask my question here in the hopes that it's easier for one of the developers to answer than trying to find out myself. I'm investigating a graphical feedback glitch. I've seen it in several applications on Windows 10. It involves the way a multi-touch cancels an alt-click.

My question is this. Is there any code at all in this code base that relates to touc

[2017-06-01 00:36] justinclift commented on #1031
Hmmm, reasonably sure there's not.

As a thought, our application uses a popular windowing framework called Qt:

&nbsp; &nbsp; http://qt.io

I kind of wonder if the glitch you're hitting might be something common to Qt applications?

[2017-06-01 00:42] TharosTheDragon commented on #1031
That's a good answer, and a good lead.

Chrome and Firefox are among the applications that share this bug with SQLite Browser. And apparently Chrome uses its own GUI framework. But perhaps it's based on QT, GTK, etc. https://stackoverflow.com/questions/874609/which-gui-library-does-google-chrome-use

[2017-06-01 10:26] justinclift commented on #1031
Are you able to record and show the graphical glitch?

Kind of thinking that'd probably help, as some of the people who help out this project are fairly experienced and might be able to narrow it down for you. :smile:

[2017-06-01 13:01] TharosTheDragon commented on #1031
Sure, here you go. If you have a Windows 10 touch screen device, you can try it yourself: https://drive.google.com/open?id=0BxC2eCzurT9rN1VVcl8xd0xVa2c

[2017-06-01 13:20] justinclift commented on #1031
k, just watched that.  I can see a rectangle thing repeatedly trying to open, but I'm not understanding the context of "what should it be doing?". :smile:

For Win 10, we'd need one of the other people around to chime in.  I'm very much against the Win10 spyware (telemetry-can't-be-turned-off) approach, so I've never run it. Nor plan to in the foreseeable future. :wink:

That's just me though, whe

[2017-06-01 14:32] TharosTheDragon commented on #1031
The rectangle thing isn't trying to open. The white square is an indicator that your touch-and-hold is about to trigger an alt-click. It's comparable to the circle that snakes around your finger in Windows 7. On Windows 10, there's a white square that does two things: tween in and tween out. Here we see it tweening out without tweening in. What it should be doing is nothing.

[2017-06-01 22:33] iKlsR commented on #1031
@TharosTheDragon Since you mention the *"circle that snakes around your finger"* and the same behavior is present in other apps I think this could be a side effect of your pen and touch settings. Do you have any wacom drivers installed by chance? Also try playing around with the input settings via control panel.

[2017-06-02 01:40] TharosTheDragon commented on #1031
The circle that appears when you press and hold is just Windows 7 touch feedback, isn't it? At any rate, this issue has absolutely nothing to do with Windows 7. I was just trying to explain what the white square was because he apparently hasn't used Windows 10.

I do not have Wacom drivers installed. This issue is not local to my system. If you have a Windows 10 touch screen device you can see for

[2017-06-02 08:24] giangnvt opened #1032 "Incorrect CSV column analyzing"
### Details for the issue
It seems there is a bug when parsing a CSV with some escaped double quote.
For the below CSV data, it parse incorrectly, for the 1st row, it return 6 columns, and 7 columsn for 2nd row (correct is 6), that causes the entire import to fail.

.................................................................
"串","20018","shish kebab","456590","95","naka naka , \"who's there?

[2017-06-02 09:05] justinclift commented on #1032
Looking through this, and the [CSV spec](https://www.rfc-editor.org/rfc/rfc4180.txt) (section 2.7), it seems like the example you've given has the wrong characters for escaping quotes.

Is the program you're creating the CSV with able to change the quote escape characters? :smile:

[2017-06-02 09:24] chrisjlocke commented on #1032
I don't think the hash is escaping the quotations though - in the second example, the hash is before a comma, not after the quotation (whiile in the first example, its after a quotation).

The proper delimitation should be double quotes, so the string should be:

"串","20018","shish kebab","468238","28","The actual definition of this kanji is ""#a skewer#,"" which I believe is much more helpful as

[2017-06-02 10:00] justinclift commented on #1032
Ahhh, I was looking at the actual example data (via the edit button), not what GitHub's showing:

[code]

[2017-06-02 10:10] chrisjlocke commented on #1032
Correctly delimited incorrectly delimited comma separated values .... CDIDCSV?  Thank God we're not working with regular expressions....

Slightly off topic, but I posted this the other day:
![image](https://cloud.githubusercontent.com/assets/7872218/26721530/15e55b2c-4784-11e7-9082-14347dac459a.png)

[2017-06-02 12:37] karim commented on #1019
I have the same exact problem as @chrisjlocke.

Also, it crashes when I move away from "Browse Data" tab and re-select it again. I can only select "Browse Data" tab *once* right after opening any database, and as soon as I select another tab and try to go back to it, DB4S crashes. Nightly versions up to 19 May work fine.

I downloaded the debug version [issue1019v1](https://nightlies.sqlitebrowser

[2017-06-02 13:21] chrisjlocke commented on #1019
Confirmed.  No output is created from running it from the command-line.  It might have to explicitly log it to a file?  I don't think Windows has a 'console' that applications can write to.

I tried to run it with an output option ('dbrowser for sqlite.exe >log.txt') but that didn't work either.

[2017-06-02 13:29] rmariuzzo commented on #737
I was fighting against this issue, had to delete my config files:

[code]

Now, everything back to normal.

[2017-06-02 13:48] karim commented on #1019
Windows apps are either console apps or GUI apps. But you can *attach* a console to a GUI app. Using WinAPI you can do

[code]

[2017-06-02 13:50] justinclift commented on #737
@rmariuzzo  Interesting.  Any idea if using the 1st or 2nd version of our 3.9.1 release for OSX?

The original version we released (October last year) had a Qt bug causing this.  So we made a 2nd version a few weeks later (with "v2" on the end of the filename) which should have fixed it for everyone.  In theory. :wink:

If you're using the 2nd version, that's definitely something we'll need to kee

[2017-06-02 13:52] rmariuzzo commented on #737
I had the issue from 2-3 months ago, and I deleted the version I had and I downloaded today the `DB.Browser.for.SQLite-3.9.1v2.dmg` file and the error was there. Probably, because I already had the issue. I will try to customize my preferences and see if it happens again.

Thanks for the quick reply :)

[2017-06-02 13:53] chrisjlocke commented on #1019
More things I didn't know.  🍸

[2017-06-02 13:59] justinclift commented on #737
No worries. :smile:

[2017-06-02 14:08] justinclift commented on #1019
Yeah, at least some parts of DB4S definitely seem happy to throw an error message out to the console when things go wrong.  Case in point + screenshots: #583 :smile:

[2017-06-02 15:45] chrisjlocke commented on #1019
"Out to the console".  So is that console window always visible?  (ie, when the program is launched) as its not appearing in the version I ran.
And you just ran that from the command prompt?

[2017-06-02 22:27] MKleusberg commented on #1032
Yeah, the problem here is the escaping of the quote chars. It needs to be ```"something""something"``` instead of ```"something\"something"```. That said, we're not handling the wrong escaping very gracefully. For starters the quote chars in the middle of the field are lost which is definitely wrong. But we're also stumbling upon the comma after the second pound char in the second line. This is ca

[2017-06-02 22:30] MKleusberg commented on #1027
Oh. Sorry. It actually already *does* work. Just select multiple fields and press Alt + Delete and there you go, all set to NULL. @WiliTest can you try that? If it doesn't work for you, you can download the latest nightly build and try with that.

[2017-06-02 22:38] MKleusberg commented on #1022
Here's an alternative idea (I wouldn't claim it's better). Leave the editing behaviour as it is but change the paste behaviour. Currently, when you're copying a single cell, then select multiple other cells, press Ctrl+V, and click Yes in the message box that will pop up, then the clipboard content is only pasted into the first of the selected cells. We could change that to paste the clipboard con

[2017-06-02 22:52] MKleusberg commented on #1021
@jjxtra Thanks for pointing this out! :smile: I believe this issue is fixed now. Can you download tomorrow's nightly build (or any later version) and double check that it's working for you?

[2017-06-03 01:08] jjxtra commented on #1021
Absolutely, thanks for doing this. I had briefly taken a gander in the code but didn't see an obvious spot for the fix.

[2017-06-03 23:30] justinclift opened #1033 "CSV import fails on OSX when EOL char is `0D`"
### Details for the issue

When attempting to import either of the .csv files from GitHubs' recent ["Open Source Survey 2017" data release](http://opensourcesurvey.org/2017/), they both fail with an error message for the first line:
![screen shot 2017-06-04 at 00 21 53](https://cloud.githubusercontent.com/assets/406299/26757683/67512250-48bc-11e7-83c8-93830fa18390.png)
* http://github-images.s3.am

[2017-06-04 03:08] FabianInostroza opened #1034 "Doesn't Clear table on empty results"
### Details for the issue

Running a query that returns some data and then running another query that returns no data doesn't update (clear) the table shown on the "Execute SQL" tab.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [x] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _ve

[2017-06-04 08:17] chrisjlocke commented on #1034
Have you tried the latest package from here:
https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser-testing

This doesn't occur on the Windows flavour, so just ensuring you've the latest version.

[2017-06-04 08:33] justinclift commented on #1034
From memory, we fixed this a while after the 3.9.1.  So the "sqlitebrowser-testing" PPA which @chrisjlocke is pointing to shouldn't have this problem. :smile:

[2017-06-04 10:27] justinclift commented on #1032
@giangnvt ping? :smile:

[2017-06-04 10:27] justinclift commented on #1019
Yeah, from memory that was from when I started DB4S from a cmd.exe command prompt.

[2017-06-04 19:47] FabianInostroza commented on #1034
I think that the 3.9.9 version I tested was downloaded from that site.
Downloaded it again to be sure and the problem is still there. The problem is still there but it only
occurs if the query contains comments before the sentence with empty results.

Note that when there are no comments before the sentence the status control shows "<n> rows returned in <x> ms...."
and when there are comments befo

[2017-06-05 01:30] giangnvt commented on #1032
I don't know your being used CSV parsing policy, but on my opinion, a general CSV should allow a customizable escape character, instead of a fixed double quote (I remember that's the way OpenCSV works, but not quite sure).

If the backslash (\) is accepted as escape character, it can simply skip both the double quote before and after the pound pair, or I'm misunderstanding something?

[2017-06-05 19:25] MKleusberg commented on #999
Cool :smile: Glad I could help :wink:

@justinclift Shall we add a Wiki page for this?

[2017-06-05 20:22] justinclift commented on #999
@MKleusberg Definitely.  I'm buried in [other stuff atm](https://github.com/justinclift/dio/commits/master), but maybe @chrisjlocke or @karim or someone has some time to make the appropriate cut-n-pastes? :smile:

[2017-06-06 06:27] chrisjlocke commented on #999
[Done](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Compiling-DB4S-on-Ubuntu-To-Use-A-Pre-Installed-Version-of-SQLite), and added to the front page.

[2017-06-06 06:28] #999 closed

[2017-06-06 10:24] justinclift commented on #999
Perfect @chrisjlocke.  Just looked over it and it's really good. :smile:

[2017-06-06 11:07] chrisjlocke commented on #999
Lol... copy and pasted, so thank @MKleusberg ! ;)  Oh, we already have done.  We'd better not give him too
 much praise..... ;) 🐕

[2017-06-06 11:13] chrisjlocke commented on #1019
OK.  Well, I can't get any output from the 'supplied version', and no console window appears when that version is run (from the command line or from Windows).
Are you sure you built it properly @justinclift? 😜

[2017-06-06 12:10] justinclift commented on #1019
Hmmm, I just ran our nightlies batch file, but pointed towards the branch @MKleusberg.

It is possible I forgot something, but I'm not sure what it might be. 😖

[2017-06-06 14:54] palmiche opened #1035 "Feature request: Option to keep sql tabs on open database"
### Details for the issue

When working with copies of the same database is anoying to reopen every sql tab you had because DB4S closes them very time you open a another DB.

Right now I'm working on android and using adb to retrieve the db from the device. That means for every change I make to the data via app I have to open the new copy and reopen every query I was using at the time.

Please add

[2017-06-06 15:35] justinclift commented on #1035
Sounds like a good idea.  I kind of think someone may have already asked about this previously, but I'm not finding it when looking through our issues either.

@MKleusberg As a related thought, how feasible do you reckon it would be to save the contents of the Execute SQL pane (just the SQL, not the results) in our project files?  So that when a person loads a recent project (eg via Ctrl+1 keypres

[2017-06-06 15:56] palmiche commented on #1035
@justinclift Just in case I do not reopen databases very ofter and when I do is usually for a different issue and using different queries. What I usually work with is numbered or timestamped db names like:
- bd-834.db
- bd-836_release.db
- bd-20170605-101348-000539_error_cliente.db
And all with a single DB4S instance.

[2017-06-06 16:12] palmiche opened #1036 "DB4S save fails silently on read-only .sql files"
### Details for the issue

1. Save sql tab to .sql file.
2. In Explorer set file as read-only.
3. In DB4S tab change content a click Save.
4. Reopen .sql in DB4S

At step 4 you get the same content you had in step 2.
At step 3 DB4S should warn if the file cannot be saved.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ x ] DB4S has a bug
- [ ] DB4S n

[2017-06-06 18:27] justinclift commented on #1036
Yep, that does sound like a missing warning.  At least some kind of alert box should pop up letting the user know about the problem.

[2017-06-06 19:56] justinclift commented on #1035
@palmiche Ahhh ok.  Yeah, the "saving Execute SQL in project files" wouldn't help at all in that scenario.

[2017-06-07 06:48] chrisjlocke commented on #1019
It might be linked (so this is a reminder for me to check when this gets fixed) but DB4S also crashes when you open a project file (as soon as its opened - before anything is displayed).

[2017-06-07 08:03] justinclift commented on #1019
Yeah, that crash happens on Linux too with our current source.  Tried it yesterday and noticed the same thing. :wink:

[2017-06-08 16:23] kaisershahid opened #1037 "Export CSV not escaping columns or newlines in 3.9.1"
hi, i tried exporting some tables to CSV and i saw that any columns with newlines weren't quoted, nor was the newlines themselves escaped, causing issues with parsing/importing in other contexts.

[2017-06-08 16:48] justinclift commented on #1037
Interesting.  Do you have an example .csv file with the problem result which we could take a look at? :smile:

[2017-06-08 17:04] kaisershahid commented on #1037
sure thing! although the examples contain private info that i shouldn't attach here--is there a way i can send you something privately?

[2017-06-08 18:06] justinclift commented on #1037
Sure, email me directly at justin AT postgresql DOT org. :smile:

[2017-06-08 19:04] chrisjlocke commented on #1037
Don't forget that exporting (on Windows in v3.9.1) didn't set any options...

![image](https://user-images.githubusercontent.com/7872218/26946013-b5a124ba-4c85-11e7-8d4a-43dfe1184807.png)

Check the export options are set...

[2017-06-09 06:44] chrisjlocke commented on #1037
I'd also try the nightlies, as v3.9.1 is relatively old now - so many fixes have taken place since that release.

[2017-06-10 07:13] xangels opened #1038 "Crashes"
### Details for the issue
Open a database
go to browse
now click on the drop down and choose the first item on the list.
Crashes - Yes nightly build

[2017-06-10 07:14] xangels commented on #1038
Sorry this is for DB Browser for SQLite

[2017-06-10 07:49] justinclift commented on #1038
Yeah, there are definitely problems in our recent nightly builds.  Just no time for investigating the problem yet. ☹️

The ones **before** 19th May seem ok.  eg 18th of May and earlier

Depending on which Operating System you are using, grab an appropriate one here:

* https://nightlies.sqlitebrowser.org/win64/
* https://nightlies.sqlitebrowser.org/win32/
* https://nightlies.sqlitebrowser.org/osx/

[2017-06-11 05:02] xangels commented on #1038
Confirmed. May 18th is fine.

[2017-06-11 09:29] justinclift commented on #1038
Cool.  Hopefully we'll get the crash problem fixed in the next week or so.

[2017-06-12 03:22] lovebdsobuj opened #1039 "Shortcut Key for Edit Database Cell"
Is there available an keyboard shortcut key that will **Apply** **`Edit Database Cell`** value.

[2017-06-12 06:04] chrisjlocke commented on #1039
Ctrl+Enter (on Windows, at least...)

[2017-06-12 10:34] chrisjlocke commented on #1038
A duplicate of #1019.

[2017-06-12 10:34] #1038 closed

[2017-06-12 15:02] lovebdsobuj commented on #1039
I'm using DB Browser for Sqlite on Linux. And your mentioned shortcut key work.

Is there any way that we can customize Keyboard shortcut?

[2017-06-12 15:44] jjxtra commented on #1021
Unfortunately the latest nightly build as of this morning is limiting the page size to 4096. So now when I run the two lines from the top of this issue, it gives 4096 as the page size.

[2017-06-12 15:50] justinclift commented on #1021
Gaaah.  Ok so we're in the right area of things, but still aren't quite over the finish line. :wink:

[2017-06-12 16:38] chrisjlocke commented on #1039
Unfortunately not.  Due to the way Qt works, they have been hardwired in.  There is probably a better way of doing it, but its low on the list of things to fix.  Once we get bored and have nothing to do, it'll probably get looked at, as it would be nifty.  👨‍🍳

[2017-06-13 13:51] allender commented on #1019
FWIW, I am having the same problem.  I load up my db, go to the browse tab, look at data, switch to the execute SQL tab and when browsing back to the browse tab, it crashes.  it looks like I have the nightly from around May 31.  If it would be helpful, I can try and supply you a db file that causes this issue.

[2017-06-13 14:00] chrisjlocke commented on #1019
It looks like _any_ file causes the issue, so don't think an example would be required .... but many grateful thanks anyway! I think we've nailed it down to _what_ the problem is, just haven't got the fix in place yet.... 🍳

[2017-06-13 14:12] karim commented on #1019
@allender In the meantime you can downgrade to any version *before* May 20 as it does not have this issue.

[2017-06-13 14:19] allender commented on #1019
Assuming it has json support, then yes :)

[2017-06-13 14:31] chrisjlocke commented on #1019
Reading issue #677, the JSON1 extension has been part of the nightlies since Jan 2017.  The nightly from 19 May should therefore be good to go. 🚗

[2017-06-13 16:25] palmiche commented on #938
👍 for this to be in the next release.
👍 👍 👍 👍 👍 if implemented like SSMS:  a single dialog with all unsaved files.
![20170613-122330-000542 microsoft sql server management studio](https://user-images.githubusercontent.com/12277525/27092998-331f70b2-5033-11e7-878f-0edf9a81441e.png)

[2017-06-13 16:51] justinclift commented on #938
Ahhh, good thinking.  Yep, that makes sense. :smile:

[2017-06-15 09:07] zhouhao27 opened #1040 "Is SqlCipher supported/"
I need to encrypt my database. I'd like to know if SQLCipher is supported? How am I going to use it? Thanks.

[2017-06-15 09:23] zhouhao27 commented on #1040
I found it. Thanks.

[2017-06-15 09:23] #1040 closed

[2017-06-15 09:35] chrisjlocke commented on #1040
Just for completeness (in case anyone else finds this query but no solution), SQLCipher is now part of DB Browser and is integrated.  Simply open a database (or create a new one) and from the **File** menu, select **Set Encryption**.

![image](https://user-images.githubusercontent.com/7872218/27175158-36190b14-51b6-11e7-9d1f-f2e7339017b1.png)

The nightlies are built using a different process, and

[2017-06-15 11:46] lpirl commented on #1026
for references, resolving #141 (edit views) would resolve this issue as well

[2017-06-16 13:58] MKleusberg commented on #999
Why not? :P

[2017-06-16 14:09] chrisjlocke commented on #999
To cure 'Big Head Syndrome' required the use of a big needle.  Taken rectally.

![image](https://user-images.githubusercontent.com/7872218/27230016-b94cb400-52a5-11e7-836d-38dec403b819.png)

[2017-06-16 14:22] justinclift commented on #999
Eeeeewwwww!

[2017-06-16 15:09] MKleusberg commented on #999
Haha, I see :wink:

[2017-06-16 15:35] #1002 closed

[2017-06-16 15:38] MKleusberg commented on #1002
@justinclift Want to try the new feature? I've just merged Ricardo's PR :smiley:

[2017-06-16 15:42] justinclift commented on #1002
Sure can. Compiling now. :smile:

[2017-06-16 16:00] MKleusberg commented on #1019
Makes sense that it is crashing for the project files, too, because while loading the project file, we're first opening the database as usual and then set the currently browsed table. If this is the first table in the list it's causing the same line of events as in the original issue.

But I'm still not sure how this might happen :frowning_face: If you don't see any output from the debug build thi

[2017-06-16 17:45] fulldecent opened #1041 "Import with default columns"
During an import from CSV file the operation will fail if the CSV does not include all columns.

![screen shot 2017-06-16 at 1 35 51 pm](https://user-images.githubusercontent.com/382183/27238189-f11a49bc-5299-11e7-8b0c-8da84c1a17d5.png)

Instead, I think this operation should also work if the columns do not match but the remaining columns all have default values.

[2017-06-16 17:55] justinclift commented on #1019
@MKleusberg As a note, this isn't a windows only crash.  I compiled on Fedora Linux a few days ago, and it immediately crashed when opening a project file.

As a side note, when compiling on OSX an hour or two ago I noticed a huge amount of warnings of compiling weirdness.  I kind of wonder if there's something funky going on with some of the recent library updates (QScintilla or and QCustomPlot)

[2017-06-16 18:11] justinclift commented on #1041
Yeah, that sounds reasonable. :smile:

Not sure when we'll get around to it, but the concept itself doesn't sound super hard.

[2017-06-16 18:27] justinclift commented on #1002
Hmmm, when I select only a subset of files in the list, should the window close after the import?

As an example, clone the git repo here for a bunch of sample files:

&nbsp; &nbsp; https://github.com/andreeaPascu/BikeCountsInEdinburgh

Select the 48 individual files named "xx - [somename].csv", then click the Open button:

![screen shot 2017-06-16 at 16 58 05](https://user-images.githubuserconten

[2017-06-16 18:32] iKlsR commented on #1002
@justinclift Ah, yes, you're right, forgot that bit of the workflow. I'll submit a followup pr later. Not a bug, long open PRs make your memory foggy :). Appreciate the detailed explanation.

[2017-06-16 18:36] justinclift opened #1042 "New compilation warnings on OSX"
When compiling DB4S now on OSX (first time I've tried in a few weeks), a bunch of warnings show up.

[code]

[code]

[code]

[code]

None of these are build breaking, but we should get these resolved at some point. :smile:

[2017-06-16 18:37] justinclift commented on #1002
Cool, no worries at all. :smile:

[2017-06-16 18:38] iKlsR commented on #1002
You can just press *Match Similar* right off the bat.

Keep testing!

[2017-06-16 18:40] justinclift commented on #1002
Hmmm, how easy would it be to have each entry be removed from the list as it's import completes?

That way people could see the list shrink visibly onscreen, and the left over list would just still be there in the window when all the selected ones are done.

[2017-06-16 18:58] iKlsR commented on #1002
@justinclift Shouldn't be hard. This whole process could be made even silkier by spinning up a thread or two but don't want to over engineer here, would also introduce concurrency which I don't see any existing use of in the repo.

[2017-06-17 06:59] lucy9383 opened #1043 "Crash when I try to create a new database"
### Details for the issue

### Useful extra information

#### I'm opening this issue because:

- [X] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x] Windows: ( _version:_ 8.1_ )
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:_ ___ )
- [ ] Other: ___

#### I'm using DB4S version:

- [X] 3.9.1
- [X] 3.9.0
- [ ]

[2017-06-17 08:04] justinclift commented on #1043
@lucy9383 Yeah, there are definitely problems in our recent nightly builds.  Just no time for investigating the problem yet. ☹️

The ones **before** 20th May seem ok.  eg 19th of May and earlier

Depending on which Operating System you are using, grab an appropriate one here:

* https://nightlies.sqlitebrowser.org/win64/
* https://nightlies.sqlitebrowser.org/win32/
* https://nightlies.sqlitebrowse

[2017-06-17 08:05] justinclift commented on #1043
@chrisjlocke Do you reckon we should copy the builds for the 19th May back over our latest nightlies, and suspend the updating of them each night for now?  It's a trivial change to do.

[2017-06-17 08:09] justinclift commented on #1043
@chrisjlocke As a thought for diagnosing the problem, do you have time to try making a few builds?

There are 3 commits on the 20th May, and we don't know which one of them is the trigger.  If you've time to build a DB4S from git a few times + test it, but rewinding it back to just before each of those commits... that should give us a definitive answer.

[2017-06-17 09:04] chrisjlocke commented on #1043
Not until Monday.  @lucy9383 's issue isn't to do with the 'browse table' crash though, but to do with the 'new database' button.  From the looks of the intro, she has tried the latest nightly, so thought I'd just point out that the ones after 20 May were broken.
I've not seen this particular crash on Win 8.1 before, so need to find one at work.  We've several Win 8 machines, so one of those most

[2017-06-17 09:07] justinclift commented on #1043
No worries. :smile:

[2017-06-17 09:35] MKleusberg commented on #1021
Hmm, the limit should be 65536. I have no idea where the 4096 value might come from.

That said, my fix only changes the GUI pragma editor, not the SQL execution bit. Have you tried the GUI editor yet?

I'll also put a reference to issue #966 here. That issue is about not being able to edit pragmas from the SQL editor.

[2017-06-17 09:37] MKleusberg commented on #1019
Yeah, it doesn't sound Windows-specific either. But still, on my Linux system it doesn't crash... I'll investigate further :wink:

[2017-06-17 10:29] MKleusberg commented on #1013
Thanks for reporting this :smile: The issue should be fixed in the next nightly build. Are you ok to test if it's working for you, @lvbeck? But be warned that the latest nightlies (probably including the next one) are going to crash if you browse the same table twice. We're currently trying to find out why that is happening.

[2017-06-17 10:31] MKleusberg commented on #1027
Did you have a chance to test this yet, @WiliTest :smiley:

[2017-06-17 10:40] justinclift commented on #1037
@kaisershahid Did exporting with newlines select in the drop down work? :smile:

[2017-06-17 11:12] jjxtra commented on #1021
This does work using the GUI.

[2017-06-17 11:17] MKleusberg commented on #1019
Ok, I feel like I'm on a scent now. If my current assumptions prove to be right, that would explain this crash as well as he problem in #1007. On the other hand I have no idea why this wouldn't have crashed in earlier versions, too.

Anyway, can you try tomorrow's nightly build, @chrisjlocke? Does it change anything? Or does it maybe even work correctly with this? :smiley:

[2017-06-17 11:18] MKleusberg commented on #1007
Can you test tomorrow's nightly build for this issue, too (as well as for #1019)? The 4 queries problem might be fixed by that as well :smiley:

[2017-06-17 11:21] lvbeck commented on #1013
@MKleusberg sure, I can test the next nightly build, thank you for notice me the crash issue, I will use the nightly build with precaution.

[2017-06-17 11:43] chrisjlocke commented on #1007
No problem.  Thanks.

[2017-06-17 11:44] chrisjlocke commented on #1019
No problem.  🔎

[2017-06-17 18:07] justinclift commented on #1037
Damn, I'm at a loss on how to figure this one out.  For me, the newline options work ok with the data you emailed me... gahh. 😦

[2017-06-17 20:38] MKleusberg commented on #1043
@lucy9383 Unfortunately this isn't to fix because I'm unable to reproduce the issue. As @chrisjlocke already pointed out we already had one user with this problem but didn't manage to find the source of the problem. However, let's do our best to track this down this time :wink: I've just written a first draft of a Wiki page that explains how to gather more debug information in situations like thes

[2017-06-17 20:41] MKleusberg commented on #1019
Awesome :smiley: If it still crashes, I have written [this Wiki page](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Debugging-a-crash-on-Windows) on how to debug a crash in a slightly more efficient way. It's still not perfect (neither the Wiki page nor the debug process) but better than nothing I guess :wink:

[2017-06-18 10:10] justinclift commented on #1019
@MKleusberg Just did a manual bisect on Fedora, to find out where the "crash when opening project files" bug started.  It's definitely this commit which introduces it: 21ee1f2703967b6caa6c07d6e0cfdca0b5c5d25f

Recompiling and running with the commit prior seems fine.  When moved by one to the above commit, the crash happens.

[2017-06-18 10:13] justinclift commented on #1019
As a note, also tried with the latest commit (6984d451d6b249a11215472b5abeb5cba5c69ff3), which also crashes.

[2017-06-18 10:15] justinclift commented on #1019
Hmmm, I might be able to attach a debugger to it and see what the crash point it.

Might be time to install Qt Creator here...

[2017-06-18 10:46] justinclift commented on #1019
Yep.  Caught the crash, and make a series of screenshots walking back the call stack.  I need to get back into the Golang thing now, but I reckon the screenshots below should be helpful. :smile:

![screenshot_2017-06-18_11-41-34](https://user-images.githubusercontent.com/406299/27260114-ade76232-541b-11e7-9da0-66e94ddff5af.png)
![screenshot_2017-06-18_11-42-08](https://user-images.githubuserconten

[2017-06-19 09:15] mukhtaramin opened #1044 "Cannot open file Debug.obj when Compile DB4S using MSVC"
### Details for the issue
I tried to compile DB4S using MSVC by following the procedures on this page https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S
on the step 12, I got an error LNK1104: cannot open file 'C:\git_repos\sqlitebrowser\libs\qscintilla\Qt4Qt5\Debug.obj' on Project DB Browser for SQLite.

I have tried to add the path in linker i

[2017-06-19 10:58] chrisjlocke commented on #1044
Haven't looked at the paths, but 'Qt4Qt5' doesn't look right ... shouldn't it be one or the other?

[2017-06-19 11:02] mkhtrmn commented on #1044
In fact, the path 'Qt4Qt5' does exist https://github.com/sqlitebrowser/sqlitebrowser/tree/master/libs/qscintilla/Qt4Qt5

[2017-06-19 11:47] justinclift commented on #1044
@chrisjlocke Yeah, that's one of the paths of the QScintilla library.

@mkhtrmn Would you be ok to cut-n-paste the few lines before that error message?  That might help us figure out what's going on.

Oh... it might be useful to take a look at the file size of `C:\git_repos\sqlitebrowser\libs\qscintilla\Qt4Qt5\Debug.obj` too, just in case it's missing or 0 bytes in length or something. :smile:

[2017-06-19 12:36] gmseed opened #1045 "DB Browser Crashes When Importing Its Own .sql dump"
Hi

I can get DB Browser to crash with the following steps:

1) Open a 120MB .db database.
2) Export the db to .sql using the File\Export option.
3) Close the project and create a new database by clicking the New Database button.
4) Open the Execute SQL tab
5) Click the icon for loading a .sql file
6) Click the > arrow to execute the .sql
7) Crash

My question is: what is the upperbound MB size of

[2017-06-19 12:57] justinclift commented on #1045
Oops, just saw your mailing list message too. :wink:

Which version of our software are you using, and on what OS?

People have reported using multi-GB files with DB4S (our acronym for DB Browser for SQLite), but I'm not remembering what kind of sizes people have reported for the SQL export/import part of things.

[2017-06-19 13:44] gmseed commented on #1045
Version 3.9.1

Qt Version 5.7.0

SQLCipher Version 3.11.0

Win7-32bit

[2017-06-19 13:49] justinclift commented on #1045
Interesting.  Would you be ok to try this ~recent nightly build instead?

  &nbsp; &nbsp; https://nightlies.sqlitebrowser.org/win32/DB%20Browser%20for%20SQLite-2017-05-19-win32.exe

Note - ignore newer ones, there's a crash bug after ~19th May or so which we haven't yet tracked down. :wink:

[2017-06-19 13:54] chrisjlocke commented on #1045
Also, have you tried File | Import | Database from SQL file...

![image](https://user-images.githubusercontent.com/7872218/27288622-2fbcbad0-54ff-11e7-87c1-2add9994e5ff.png)

[2017-06-19 13:58] justinclift commented on #949
@awi1369 @SafaAlfulaij Is this something we still need to investigate or put time into? :smile:

[2017-06-19 13:59] gmseed commented on #1045
#justinclift:
1) Downloaded: DB Browser for SQLite-2017-05-19-win32.exe
2) Clicked No when asked if want to uninstall "old" version
3) Click Next and Agree buttons
4) Click Browse...
5) Installation hangs!!!!!

Graham

[2017-06-19 14:02] justinclift commented on #1045
Gah.  Well, this is starting out bad and getting worse! :wink:

Ok, maybe let it uninstall the old version instead.  That might be causing the hang. :smile:

[2017-06-19 14:09] chrisjlocke commented on #1045
Have you 7zip?  This can 'unpack' the files.  DB4S is happy to run 'portable' (in the sense that it doesn't need to be installed).  The 'installation hangs' could be Windows popping up a shield in the taskbar (the consent thingy), but you do sound like you know what you're doing, so I don't like saying, "are you sure you've checked the taskbar....." ;) 🐔

[2017-06-19 14:13] gmseed commented on #1045
Although I selected "No" to not uninstall the previous version it DID uninstall it as I can't see the previous version. Bizarre.

[2017-06-19 14:15] chrisjlocke commented on #1045
Thats weird, as I install the nightlies regularly, and its not done that on my machine.

If the installation still hangs, just extract this ZIP.
http://remote.mumfordwood.com:56082/db4s.zip

[2017-06-20 11:18] lucy9383 commented on #1043
Hi,

Sorry for the late reply.  I have tried to run WinDbg.  Following is the information I got.  Hope it will help:

Microsoft (R) Windows Debugger Version 6.3.9600.17237 AMD64
Copyright (c) Microsoft Corporation. All rights reserved.

CommandLine: "C:\Program Files\DB Browser for SQLite\DB Browser for SQLite.exe"
Symbol search path is: *** Invalid ***
********************************************

[2017-06-20 11:18] lucy9383 commented on #1043
BTW, I installed the version of May 1st

[2017-06-20 11:57] justinclift commented on #1043
Thanks @lucy9383. :smile:

Sorry for taking so long, we're all a bit busy at the moment with Real Life things. :wink: Hopefully we'll get time to investigate this in more depth on the weekend. :smile:

[2017-06-20 12:02] justinclift commented on #1043
@lucy9383 Oh... just to check.. the version that's crashing for you... that's from the 1st May?

[2017-06-20 13:52] iKlsR commented on #1002
Update, started but haven't gotten the time to look back at this yet. It's a tad bit more involved than I expected. Not the list requirement but changing the default behaviour of the dialog which overrode `accept()` and actually cemented the operations when the dialog was closed. Will get to it as soon as I can.

[2017-06-20 14:46] justinclift commented on #1002
No worries @iKlsR.  We all seem to be going through a busy stage atm. :wink:

[2017-06-21 13:33] WiliTest commented on #1027
@MKleusberg Alt + Delete does work! (but it's everthing but intuitive). (I apologize for the delay)

[2017-06-21 13:37] justinclift commented on #1027
Cool. :smile:

Maybe we should add a menu option for it or something, so more people discover it?

[2017-06-21 13:40] WiliTest commented on #1027
I would go for a right click, it's where I first look for it. But you guys made a super work. Thanks a lot!

[2017-06-21 21:58] MKleusberg commented on #1028
@fatscally In the last few nightly builds the paging arrows should actually jump one page instead of 100 rows. As for the wrong row count, unfortunately I don't have an idea yet. What happens when you resize the window? Does it change anything? And is this a 'normal' table or a ```WITHOUT ROWID``` table?

[2017-06-21 22:10] MKleusberg commented on #1043
Thanks @lucy9383! Can you paste the call stack here as well? That's in an extra window that you can show by opening the ```View``` menu and clicking ```Call stack```. You can then just make a screen shot of that window :wink:

[2017-06-21 22:23] MKleusberg commented on #1019
This looks like it might indeed be the same problem as in the original issue (i.e. the project file crash and the browsing recently viewed table crash are the same). I still don't see the error though :frowning_face:

[2017-06-21 22:27] justinclift commented on #1019
k, I'll have another go at it tomorrow, and see if I can collect more useful info for what's going on. :smile:

[2017-06-21 22:34] MKleusberg commented on #1019
Cool, thanks :smile: But no worries if you don't have the time for it tomorrow. I think I'll borrow an Windows laptop one of the next days and see if I can spot something.

[2017-06-21 22:38] justinclift commented on #1019
Hmmm, maybe run up Fedora 25 x64 (the XFCE download ISO) in a VM, and see if it crashes for you? Might be easier. :smile:

[2017-06-22 05:30] chrisjlocke commented on #1019
If you want a Windows VM, let me know.

[2017-06-22 08:02] mglatz opened #1046 "case insensitive autocomplete"
### Details for the issue
I'd love to have autocomplete on table names case insenstive. as My tables usually begin with uppercase char, I'd like if they would come up in autocomplete even if I start writing their name with lowercase.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ x] DB4S needs a feature
- [ ] DB4S has another pr