[2017-01-03 11:46] CarlCDHPIX commented on #919
So, I am using 3.9.99 nightly build ( which says invalid file form) because the 3.9.1 would just crash (closing down the app).

The help about menu in sqlite browser is saying:
Version 3.9.99
Qt version 5.7.0
SQLite version 3.15.0

I am not using any encryption on the database at all - just using the standard password protection built into sqlite, in the case of vb.net, i am issuing a changepasswo

[2017-01-03 14:20] justinclift commented on #919
Hmmm, when you say "standard password protection built into SQLite", that confuses me. :smile:

Er... SQLite doesn't have any password protection built into it.  (Thus our use of SQLCipher)

Maybe it's a new thing, just recently added?

[2017-01-03 15:06] chrisjlocke commented on #919
The wrapper of sqlite for .net (commonly refered to as system.data.sqlite.dll) has encryption, but its a weird legacy implimentation.  Certainly not compatible with sqlCipher.

sqlCipher do do a .net flavour which is (obviously) compatible, but you have to pay $$$ for that.
https://www.zetetic.net/sqlcipher/sqlcipher-ado/

[2017-01-03 15:11] chrisjlocke commented on #911
Wondering if this was linked to #872, where the primary key can't be set... ?  Wondering if the parser was broken... ?  (just thinking out loud...)

[2017-01-03 16:00] iRybin commented on #893
So what version runs on XP or what shall be done to run it on XP?

[2017-01-03 17:53] CarlCDHPIX commented on #919
Ah right. Ok. Here's some info I used to do the password - it looks like the .NET components use RSA to encrypt it with a password:

You can password protect SQLite3 DB. For the first time before doing any operations, set password as follows.

SQLiteConnection conn = new SQLiteConnection("Data Source=MyDatabase.sqlite;Version=3;");
conn.SetPassword("password");
conn.open();
then next time you can

[2017-01-03 18:05] justinclift commented on #919
Thanks @chrisjlocke. :smile:

@CarlCDHPIX No worries at all.  I'll close this for now, as I don't think there's much use in leaving it open at the moment.  We're kind of overwhelmed with the number of issues at the moment right now anyway. :wink:

[2017-01-03 18:05] #919 closed

[2017-01-03 18:08] justinclift commented on #893
From memory, the 3.8.0 and earlier all should:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.8.0

[2017-01-03 19:34] MKleusberg commented on #867
The max number of lines is now set to 30. This should improve the usability quite a bit, I hope :) Can you test one of the next nightly builds to check if it's working for you, @UweKeim ? :smiley:

[2017-01-03 19:35] MKleusberg commented on #761
Any updates on this issue?

[2017-01-03 19:44] justinclift commented on #867
@MKleusberg Should we make it configurable?

[2017-01-03 19:45] justinclift commented on #761
From memory of ages ago, I changed the lower limit to be 1 (as in a singular character).

Haven't followed up though to check for performance differences. :wink:

[2017-01-03 20:04] MKleusberg commented on #816
I've just pushed a commit which adds a static colour table of 12 colours (taken from the LibreOffice chart colours). Until we come up with a working algorithm this hopefully improves the situation a bit :)

[2017-01-03 20:10] MKleusberg commented on #867
Nah, it's probably not worth it. I don't think many people would edit that option anyway if we had one. If somebody does complain we can still add it easily :smiley:

[2017-01-03 20:12] MKleusberg commented on #761
You're right, looks like the minimum is 1 now. But I'm not sure if that helps performance-wise either :wink:

[2017-01-03 20:14] justinclift commented on #816
As a data point for choosing colours, this site might be useful:

&nbsp; &nbsp; http://colorbrewer2.org

Their GitHub repo:

&nbsp; &nbsp; https://github.com/axismaps/colorbrewer/

The "downloads" link there has a list with 165 palettes.  If desired, we could get pretty fancy with things. 😀

[2017-01-03 20:15] justinclift commented on #867
No worries at all. :smile:

[2017-01-03 20:16] justinclift commented on #867
@MKleusberg, do you have time to look at #918?

@innermous is blocked on it. 👼

[2017-01-03 20:17] MKleusberg commented on #917
@ghellquist Feel free to play around with this! :smiley: We highly appreciate any help in coding!

I've started playing around with this a couple of days ago, too, and it looks like this is a bit more difficult. In the grammar file you'll need to add the VIRTUAL and the USING keyword, but also add some branch for parsing the slightly different syntax of those virtual tables. In our grammar code (i

[2017-01-03 20:27] MKleusberg commented on #918
I can't seem to reproduce this :frowning: If I create a new table and add a foreign key it is only appears once later (which is correct). If I edit an existing table and add a foreign key it is not saved at all (which is definitely wrong). I'll probably fix the latter issue tomorrow, so no worries with that. But I'm not sure how to the two different constraints at once...

[2017-01-03 20:46] h1618 commented on #893
@iRybin: as I said already in comment 2, if you are able to operate a hexeditor, just changing offset 0x40 and 0x44 of the sqlitebrowser.exe executable from 0x0006 (Vista) to 0x0005 (XP) is all that's needed - it is not a technical reason, just a restrictive labeling that alienates XP users ...

[2017-01-04 00:25] innermous commented on #911
Parser is alright.
Martin added some refactoring that caused broken primary keys.

[2017-01-04 02:51] justinclift commented on #911
Closing this due to lack of response. ☹️

[2017-01-04 02:51] #911 closed

[2017-01-04 07:36] UweKeim commented on #867
@MKleusberg I've downloaded [this one](https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-sqlcipher-2017-01-04-win64.exe) from [this page](https://nightlies.sqlitebrowser.org/win64/).

Seems to work as expected. Thank you very much! 😄

![image](https://cloud.githubusercontent.com/assets/415439/21634637/ec1ca3ea-d258-11e6-846e-8048e91d04fc.png)

[2017-01-04 09:00] revolter commented on #867
I downloaded the 04/01/2017 nightly and for me, the dropdown goes fullscreen, even bigger than the window (which I like). Does that 30 limit have effect only on Windows?

[2017-01-04 15:55] innermous commented on #918
@MKleusberg alright, looking forward to it :)
Wanna add some more UI enhancements on foreign keys which requires everything working without bugs before I apply those.

[2017-01-04 16:20] MKleusberg commented on #867
@revolter No, that should work on all platforms. I've tested this on Linux and it worked, too. :smiley:

@UweKeim Thanks for the quick reply! I'm glad I could help :smiley: Closing this issue then.

[2017-01-04 16:20] #867 closed

[2017-01-04 17:45] MKleusberg commented on #872
@prutz1311 This should be fixed with the latest commit from master. Can you grab that code and rebuild to check if it's working for you? :smiley:

[2017-01-04 18:34] MKleusberg commented on #918
Ok, so the foreign key duplication should be fixed now as well. It happened whenever you would edit a previously set foreign key: the new key would be added, but the old one wouldn't be removed. This is fixed now.

[2017-01-04 18:45] prutz1311 commented on #872
Yes, with a40fe0b it works as expected:

![image](https://cloud.githubusercontent.com/assets/6525383/21654555/03fefa6c-d2c7-11e6-9c2b-8845a98e8b4f.png)

Can we close the issue now?

[2017-01-04 18:51] MKleusberg commented on #872
Wow, that was a prompt reply from your side :smiley: Thanks for testing this!

Yep, I'm going to close this issue for now. If any further problems with this or anything else should occur feel free to open a new issue.

[2017-01-04 18:51] #872 closed

[2017-01-04 19:08] justinclift commented on #192
@MKleusberg With the latest commits, is this now fixed?

[2017-01-04 19:10] justinclift commented on #914
Closing this now as it **seems** like it's fixed.

If it turns out not to be, you're welcome to reopen this @JonathanJohann. :smile:

[2017-01-04 19:10] #914 closed

[2017-01-04 19:12] justinclift commented on #902
Closing this, as it doesn't seem like we can do much/anything to add support for [] characters.

@instrumentally You're welcome to reopen this if it turns out I closed it prematurely. 😀

[2017-01-04 19:12] #902 closed

[2017-01-04 19:12] MKleusberg commented on #192
No, not yet. The last commits only fixed some bug I've introduced during my code refactoring. This means we're in a much better position now to start working on this but it's not yet implemented.

[2017-01-04 19:14] justinclift commented on #192
No worries. :smile:

[2017-01-04 19:14] justinclift commented on #192
#614 seems related to this too.

[2017-01-04 19:42] MKleusberg commented on #903
Unfortunately that's most likely not possible. The problem is that SQLite is serverless. Each application opens the database on its own and doesn't share the connection. So even though multiple applications can open the same file at the same time it's basically two separate connections that can't really interact with each other (except for some basic locking functionality). But this means one appl

[2017-01-04 19:51] justinclift commented on #903
Ahhh, so an ideal solution would be some kind of SQLite proxy.  eg load that and point it at a database, then load DB4S and point it at the proxy

It's not something we can do ourselves (in the short term anyway), though as a separate idea it does sound kind of nifty

Doing some quick Google searching turned up a few hits for "SQLite proxy", but nothing seeming to be the right kind of thing. @deni

[2017-01-04 19:51] #903 closed

[2017-01-04 20:07] MKleusberg commented on #903
Even a 'proxy' would be difficult to do because SQLite only opens database files. So the proxy would just open the database file, but what would the application open? It can't open the same file because then it's no proxy. But it can't open some connection to the proxy either because that's no file. So I'm afraid you'll definitely need to update your application or the SQLite library...

[2017-01-04 23:47] jlmcgraw opened #920 "Screen corruption"
![screenshot at 2017-01-04 18-44-52](https://cloud.githubusercontent.com/assets/3441886/21663422/1634f90c-d2ae-11e6-9e91-0d24d2d54331.png)
### Details for the issue
Screen corruption in Database Schema view

Sample database that shows the problem is included in this archive https://www.dropbox.com/s/j018ph69x9nduv4/data.tar.xz

### Useful extra information

#### I'm opening this issue because:

-

[2017-01-05 00:10] justinclift commented on #920
Well, that's different. :wink:

Doing some searching online shows various issues with screen corruption in VirtualBox, and also some with AMD cards.

Does either of that apply to you? :smile:

[2017-01-05 00:14] justinclift commented on #920
Hmmm, also wondering if it's maybe a Qt thing.  Hmmm....

[2017-01-05 00:16] justinclift commented on #920
Next though, does it start out looking like that, or is the corruption triggered by something?  eg it starts out looking ok, but corruption happens when making the window bigger (for example)

Trying to make a mental picture here of what the cause could be. :smile:

[2017-01-05 00:37] jlmcgraw commented on #920
Yeah, it's a bit of a head scratcher

Some data points:

1) Yes, this is under VirtualBox ( Version 5.1.12 r112440 (Qt5.5.1) )

2) The screen does start out that way, at least for that particular
database.  When I load others (which are also included in that link I
added.  See "/data/databases/" ) they look fine. Is the problem database
too big, or the schema too long or something along those line

[2017-01-05 00:59] innermous commented on #920
I don't think it's DB B related issue, seriously.

[2017-01-05 01:37] justinclift commented on #920
@jlmcgraw Has that link changed?  Just tried it and got a 404. :wink:

I'm kind of thinking it's likely a bug in VirtualBox that's being triggered by some weird edge case.

Random things to try, that might start to show the shape of the problem:

* In the VirtualBox settings, see if changing graphics related things helps.  eg Try different video memory sizes
* Also in VirtualBox, do you have the G

[2017-01-05 01:49] jlmcgraw commented on #920
Try this link: https://www.dropbox.com/s/fk1uup3zx7sb8r0/data.tar.xz?dl=0

I'm certainly willing to do some work on it.  I do have the guest
additions installed and I'll try adjusting a few settings related to
graphics.

I can also work on compiling from source if you think there's a
difference between it and what is in the PPA.

FWIW, this is the only application I see corruption in and it's only

[2017-01-05 01:56] justinclift commented on #920
@innermous Yeah, it's more likely a Qt issue related to some weird virtualbox bug.  It doesn't mean we should ignore it though, as it *is* obviously affecting DB4S.

[2017-01-05 01:58] justinclift commented on #920
@jlmcgraw Definitely try compiling DB4S (our abbreviation for sqlitebrowser) on the VM.  I'm *hoping* :smile: it's a weird interaction between VirtualBox and the Qt libraries of the system it was compiled on.  If that's the case, then using a version built on the VM has a reasonable chance of working.

[2017-01-05 02:00] justinclift commented on #920
@jlmcgraw It's very late in my TZ, so I'm hitting the sack in the next few minutes.  I'll take a look at this issue again tomorrow and see if you've made any progress.

Btw, the new download link worked fine.  Haven't investigated the data set yet (a tomorrow task). :smile:

[2017-01-05 03:02] jlmcgraw commented on #920
No problem, thanks for all of the help so far.

I've done the following and I'm still seeing the same issue

    1. Clone repository from github

    2. cmake .

             This produced some messages and failed, which lead me to
    issue #635 and then to installing some qt5 related stuff

    3. sudo apt install qt5-default qttools5-dev-tools

    4. cmake .

             This produced some me

[2017-01-05 03:04] jlmcgraw commented on #920
I've discovered something interesting:  I deleted the APT_RWY and
APT_APT tables and the corruption is gone!

What is it about those tables?  The length of the schema?

On 01/04/2017 10:02 PM, Jesse McGraw wrote:

[2017-01-05 03:09] innermous commented on #920
Use hastebin or alternatives for such long outputs next time, please :)

[2017-01-05 03:39] jlmcgraw commented on #920
Let me clarify that: if I delete the two tables from within the application the corruption disappears instantly

[2017-01-05 08:28] chateb commented on #868
Yes, indeed, the nightly version works. Thank you! 👍

[2017-01-05 10:50] justinclift commented on #868
Awesome @chateb, thanks for letting us know. 😄

[2017-01-05 10:50] #868 closed

[2017-01-05 11:11] justinclift commented on #892
@steda112 Ping... :smile:

[2017-01-05 13:56] revolter commented on #908
@MKleusberg I did the following:

- downloaded 04.01.2017 nightly
- opened database
- clicked `Browse Data`
- clicked refresh button
- hit <kbd>tab</kbd>

but nothing happened.

I somehow got it working but it behaved very weird:

I got the <kbd>tab</kbd> key to toggle the focus between controls, but when I kept it on the `New Record` and clicked the tables dropdown, the blue outline got removed,

[2017-01-05 17:23] justinclift commented on #920
@jlmcgraw Interesting looking data set. :smile:

Just loaded spatial56day.db here with DB4S 3.9.1 (on OSX).  No screen corruption (as expected).

I'll try out Ubuntu MATE in a VM (VMware Fusion though), and see if something shows up with that.

If it doesn't, I'm thinking you'll need to file a bug with the Virtualbox project.  But, let me try it here first. :smile:

[2017-01-05 17:36] MKleusberg commented on #867
@revolter Sorry, you're right! That value applies for Windows and some Linux configurations but not for OS X. On OS X it seems to be impossible to manually set the number of max visible items in an easy way. See [here](https://doc.qt.io/qt-5/qcombobox.html#maxVisibleItems-prop):
[code]

[2017-01-05 17:48] zayass opened #922 "Crashes when switching tabs on macOS"
### Details for the issue

Crashes when changing main tabs with opened db

### Useful extra information

http://pastebin.com/K3tcLLas

#### I'm opening this issue because:

- [x] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Linux: ( _distro:_ ___ )
- [x] Mac OS: ( _version:_ 10.12.2

[2017-01-05 17:53] revolter commented on #867
Good to know. There's no problem for me. As I said, I like that it's showing full height 😄

[2017-01-05 18:15] chrisjlocke commented on #922
Needs more logs... ;)

[2017-01-05 18:26] MKleusberg commented on #51
Finally implemented the missing 10% :smiley:

[2017-01-05 18:26] #51 closed

[2017-01-05 18:31] MKleusberg commented on #922
Does this happen for any database or just for a specific one?

[2017-01-05 18:35] zayass commented on #922
@chrisjlocke how to grab it?
@MKleusberg I have only one

[2017-01-05 18:43] MKleusberg commented on #19
Closing this as it's almost been a year without updates. Chances are that the copy-paste situation improved when we moved to Qt5 but either way: there isn't much we can do about it on our side. Adding an edit option to the right side of the hex editor turns out to be difficult, too. We would have improve the QHexEdit widget but that's an external project by different people. The "caf.." problem is

[2017-01-05 18:43] #19 closed

[2017-01-05 18:50] justinclift commented on #920
@jlmcgraw Unexpected surprise here.  The same screen corruption is showing on Ubuntu MATE 16.10 here in VMware Fusion:

![screenshot at 2017-01-05 18-44-12](https://cloud.githubusercontent.com/assets/406299/21693043/5253b710-d377-11e6-8439-9e44f3a174fe.png)

So it's not a VirtualBox thing after all.  My next best guess is that it's a bug in the (older) Qt library being used.  The way to test that

[2017-01-05 18:51] justinclift commented on #920
@deepsidhu1313 You might find this issue interesting too. :smile:

[2017-01-05 19:30] jlmcgraw commented on #920
I just tried in a freshly created Standard Ubuntu 16.10 x64 desktop VM and
I see the same corruption.

Versions for this VM:
 Db4s: 3.7.0
 Qt: 5.5.1
Sqlite: 3.9.2

Deleting the apt_apt and apt_rwy tables within the application immediately
clears up the corruption

On Thu, Jan 5, 2017 at 1:51 PM Justin Clift <notifications@github.com>
wrote:

[2017-01-05 20:02] justinclift commented on #920
Yep, it seems like a bug in the older version of Qt (5.6.1).  After compiling it with the latest Qt (using Qt Creator, from qt.io), the corruption isn't there:

![screenshot at 2017-01-05 19-52-51](https://cloud.githubusercontent.com/assets/406299/21695222/c7c92b8e-d380-11e6-9553-82d93a4eec1d.png)

Some notes on things I needed to do for compiling with Qt Creator, in case they're useful:

* Remove

[2017-01-05 20:06] justinclift commented on #51
Yay! :smile:

[2017-01-05 20:12] justinclift commented on #922
Interesting.  The error message it shows can **generally** be regarded as one of two things:

* Either bad hardware (for example, flaky ram), or
* Something wrong with one of the shared libraries

Let's hope it's a shared library problem. 😀

@zayass Would you be ok to try both of our latest nightly builds, and check if either of those work without crashing?

* https://nightlies.sqlitebrowser.org/o

[2017-01-05 20:17] MKleusberg commented on #922
But the crash happens in our code (see the first line in the call stack):
[code]

In that function (DbStructureModel::rowCount) some pointer casting magic happens, so maybe the crash happens because of that.

[2017-01-05 20:47] MKleusberg commented on #917
I have added basic support for virtual tables to the grammar parser. It's still a long way to go from here because browsing and editing those tables still doesn't work as expected. But at least the ```Sqlite parse error``` is gone. You can check out the latest version in master and test yourself. And there's still a lot of work to do for better support of virtual tables, so I still want to encoura

[2017-01-05 20:57] ghellquist commented on #917
Thank you.
I agree that the grammar thing seems the least difficult, had something in place (probably not as good as your solution).

Modules for creating virtual tables seems to each have their own grammar: the fts5 module as example has quite a few extras. So in order to be simple to use, the db Browser should know the standard modules grammars. Additionally, perhaps, the support tables created

[2017-01-05 22:03] MKleusberg commented on #81
All table statements in the sample database are now parsed correctly. This means no foreign keys, constraints, and cascades should be removed when editing those tables. Furthermore, if there *is* a table which isn't fully supported yet you'll see a warning when editing that table.

There are more missing details in the grammar parser but I think we should collect those in issue #741. So I'd sugges

[2017-01-05 22:14] justinclift commented on #81
Just tried to download the database, but the link is 404-ing.

@TWiStErRob Do you still have a copy of it handy?

[2017-01-05 22:19] MKleusberg commented on #81
@justinclift Luckily I had still a copy on my disk. Just emailed it to you :smiley:

[2017-01-05 22:30] justinclift commented on #81
Thanks, added a ToDo item to try this out tomorrow. :smile:

[2017-01-06 00:48] jlmcgraw commented on #920
Yep, it did help.  On the same stock Ubuntu that had issues I followed these steps along with the install of qt 5.7.0 and I no longer see the corruption.

[2017-01-06 01:32] justinclift commented on #920
Awesome. 😀

Are you ok to take it from here if we close this issue?

[2017-01-06 01:49] jlmcgraw commented on #920
That's fine with me.  Did you want to look deeper into what interaction is triggering this issue since this is an experience users may receive until the distributions update their qt libraries?  Or did I manage to stumble across some unique screwball corner case that isn't worth bothering with?

[2017-01-06 04:06] justinclift commented on #920
Well, (to me) it seems like a Qt bug that there's not much we can do about until the Qt library in Ubuntu is updated.  It's probably going to be triggered by all kinds of weird stuff, and isn't really worth the time to investigate more as we're already kind of overloaded with things.

Note - It's not a complete loss, people will be able to find the details in this issue here with some simple searc

[2017-01-06 04:06] #920 closed

[2017-01-06 04:32] justinclift commented on #920
@jlmcgraw With the spatial56day.db database, it seems good for testing our SQLite parser with (an area of things we're working on).

Is it ok with you if we hang onto it and use it for development stuff?

[2017-01-06 06:24] revolter commented on #922
@zayass, Could you share the database with us if it's not private?

[2017-01-06 08:44] jlmcgraw commented on #920
Sure, it's from a project on github (jlmcgraw/processFaaData)

[2017-01-06 09:21] justinclift commented on #920
Awesome @jlmcgraw, thanks. :smile:

@MKleusberg The archive here has a database in it (/databases/spatial56.db) that seems useful for your parser testing purposes:

&nbsp; &nbsp; https://www.dropbox.com/s/fk1uup3zx7sb8r0/data.tar.xz?dl=0

[2017-01-06 11:05] chrisjlocke commented on #920
...and that hasn't been stored on dbhub.io because..... ;)

[2017-01-06 11:38] innermous commented on #920
@chrisjlocke nice catch

[2017-01-06 11:44] justinclift commented on #920
@chrisjlocke Good point.  I haven't created any real reference data sets on the dev1 server yet mainly because I've been working on the visualisation stuff.

But yeah, it doesn't hurt to upload it there to make things easier. :wink:

[2017-01-06 12:05] justinclift commented on #920
@chrisjlocke It's on DBHub now:

&nbsp; &nbsp; https://dev1.dbhub.io/justinclift/spatial56day.db :smile:

It's over 200MB in size... that's the first one of largish size I've tried btw.  Kind of surprised it uploaded and downloaded without issues, though it did.  Upload was a bit slow, but that's probably because it's not a beefy server at the moment.

Did a binary compare of the database file dow

[2017-01-06 14:30] jlmcgraw commented on #920
Hey, no air quotes around 'real data'!

[2017-01-06 17:39] MKleusberg commented on #205
Just tested this with the latest version and it seems to be fixed. No idea when the fix was pushed, sorry for the waiting time :frowning: I'm going to close this issue since it's really old and everything seems to work as expected now. But if any further problems should arise, feel free to reopen this issue :smiley:

[2017-01-06 17:39] #205 closed

[2017-01-06 17:47] justinclift commented on #205
@hko-gh Do you have a few minutes to try this out with our latest nightly version, to double check it from your point of view? :smile:

[2017-01-06 17:49] justinclift commented on #920
Heh Heh Heh, good points. :smile:

[2017-01-06 18:09] MKleusberg commented on #294
This should be fixed by now :smiley: Any recent release should definitely work. Sorry for the late reply :frowning: I'm going to close this issue but if any issues with this happen to come up feel free to reopen it or open a new one any time :smiley:

[2017-01-06 18:09] #294 closed

[2017-01-06 18:20] MKleusberg commented on #469
Ha ha, this was broken again in the meantime ^^ Just pushed a new fix. Can somebody test this and confirm it's working now?

[2017-01-06 18:24] MKleusberg commented on #478
Any updates on this? The "not an error" string is from SQLite but I don't see how it will be shown in the latest version of DB4S anymore.

[2017-01-06 18:26] MKleusberg commented on #490
Yes, that was the commit that caused the application to slow down, effectively disabling the block prefetch feature. That performance bug got fixed in the meantime, so it should all be fine now :smiley:

Also, I'm going to close this issue because the filter delay seems to work fine :smiley:

[2017-01-06 18:26] #490 closed

[2017-01-06 18:27] MKleusberg commented on #499
@zwrmueller Did you have any time to test this yet? :smiley:

[2017-01-06 18:27] MKleusberg commented on #513
Any update on this, @wolfc01? :smiley:

[2017-01-06 18:44] ergovia-mobile commented on #832
An documentation update would be very much welcome. I tried to build sqlitebrowser with sqlcipher support longer that I liked using [building.md](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md) on a (K)ubuntu 16.04.1. I could not build the master no matter what I used (cmake, make, qmake -> _/usr/include/x86_64-linux-gnu/qt5/QtCore/qhash.h:103:5: error: no matching function

[2017-01-06 19:09] justinclift commented on #832
@ergovia-mobile Interesting.  Was that just now?

I got things to compile on Ubuntu MATE 16.10 yesterday using these steps:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/issues/920#issuecomment-270742689

Maybe I should spin up a VM and go through the steps again... 😁

[2017-01-06 19:12] ergovia-mobile commented on #832
Jepp, just now. :)

[2017-01-06 19:13] justinclift commented on #832
Cool.  I still have the VM, so I'll try it out now. :smile:

[2017-01-06 19:20] ergovia-mobile commented on #832
Thank you. Good luck!

[2017-01-06 19:22] justinclift commented on #832
k, just update the VM I was using yesterday with our very latest source code.

It compiled without issue, so that's good news.

I'm downloading Kubuntu 16.0.4.1 now.  I'll put that in a VM and try out the steps from yesterday on it, and see if I can figure out a proper build process for updating our instructions with. :smile:

[2017-01-06 19:24] ergovia-mobile commented on #832
That's interesting. Feel free to ask the version number of an package that I have installed. :smile:

[2017-01-06 19:39] justinclift commented on #832
Kubuntu looks interesting.  I'm not personally tried KDE in many years (since 3.x?), so this seems like a very polished experience.  Seems like that team has gone in a good direction (unlike my personal opinion of the Gnome team). :wink:

[2017-01-06 19:49] ergovia-mobile commented on #832
Totally agree. KDE was glorious in the 3.x days. It hat a pretty rough time in the beginning of the 4.x versions but now it's pretty good looking **and** stable :smile:

[2017-01-06 19:55] justinclift commented on #832
Yep, the existing (CMake) build instructions are failing for me in a new Kubuntu 16.0.4.1 VM:

[code]

Next step, try with qmake instead.

[2017-01-06 20:04] justinclift commented on #832
Same message with the version of qmake installed from the Kubuntu repos.  The error line in the message seems to be:

    /usr/include/x86_64-linux-gnu/qt5/QtCore/qhash.h:103:5: error: no matching function for call to ‘qHash(const QVector<QSharedPointer<sqlb::Field> >&)’
     Q_DECL_NOEXCEPT_EXPR(noexcept(qHash(t)))

Maybe there's a C++11 setting not being picked up?

I'll try with the latest Qt (

[2017-01-06 20:20] MKleusberg commented on #832
Looks like this function is missing: https://doc.qt.io/qt-5/qvector.html#qHash
The documentation says it's introduced in Qt 5.6, so I assume Kubuntu 16.04 ships an older version?

[2017-01-06 20:27] justinclift commented on #832
Yep, seems to be Qt 5.5.1.

[2017-01-06 20:30] justinclift commented on #832
@MKleusberg What do you reckon the right approach here is?  Should we declare ourselves to be Qt 5.6 (and above) only, or should we consider alternative approaches to making the code work with older Qt5?

I'm kind of thinking Qt 5.6 and above is probably ok.  The existing "long life" distributions (eg *buntu LTS, CentOS/RHEL) will be providing older builds of DB4S anyway.  Anyone wanting to build

[2017-01-06 20:38] justinclift commented on #832
Well, this is interesting.  It's impossible to download the Qt 5.7.1 release *without* getting Qt Creator forcibly installed as well.

What kind of sleazy bullshit from the Qt team is that? ☹️

[2017-01-06 21:04] justinclift commented on #832
@ergovia-mobile If you download Qt 5.7.1 from qt.io, then compile through Qt Creator (open the sqlitebrowser.pro file with it), things compile fine.

Haven't managed to get it compiling from the command line though, and I need to move onto some other stuff.

Are you ok to try the newer Qt approach?

[2017-01-06 23:00] justinclift commented on #81
@MKleusberg Is this warning on the virtual table 'Search' expected?

![screen shot 2017-01-06 at 22 52 36](https://cloud.githubusercontent.com/assets/406299/21735580/d8ad16b2-d462-11e6-8223-667e62f4b508.png)
"USING USING" seems like an error (causing the warning?), though I'm not sure where it's originating from.  Haven't attached a debugger. :smile:

On a side note, choosing that virtual table (n

[2017-01-06 23:17] TWiStErRob commented on #81
Original code that created that is
[code]
you can probably find the same in the .sqlite file if you open it with a text editor/grep it.

[2017-01-06 23:30] TWiStErRob commented on #741
Tip: https://github.com/search?l=SQL&q=_id&ref=searchresults&type=Code&utf8=%E2%9C%93 may give you a few examples to try.

[2017-01-07 00:34] justinclift commented on #81
Thanks @TWiStErRob.  I was definitely taking the lazy approach. :wink:

[2017-01-08 09:52] capitancooker opened #923 "Text and background colors"
### Details for the issue
On preferences/data browser,
 text and background color for field are all black.
I do modification but at next start this issue come back.
Thanks
![schermata 2017-01-08 alle 10 49 24](https://cloud.githubusercontent.com/assets/16868088/21748861/6a1e6fa0-d590-11e6-8132-3bd6181b3c94.jpg)

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is cras

[2017-01-08 10:25] revolter commented on #923
This is a duplicate of #737. The latest nightlies should fix it.

[2017-01-08 10:25] #923 closed

[2017-01-08 15:19] tomcumming commented on #848
Same issue on windows portable build. Also seems to ignore the pragma after I turn it on (i can still insert invalid rows)

[2017-01-08 15:28] MKleusberg commented on #848
As a first thought: is the check box in View -> Preferences, Database, Foreign keys checked or unchecked?

[2017-01-08 15:37] MKleusberg commented on #81
@justinclift Just fixed the double 'USING' bit. Thanks for pointing this out :smiley:
The warning is still showing up but that's expected. You'll see it for all tables that aren't fully parsed by our grammar parser yet. This is true for all virtual tables. Because of this the Browse Data tab stays empty, too. See issue #917 as well. Virtual tables are a going to be a whole new problem for us :smil

[2017-01-08 15:37] #81 closed

[2017-01-08 15:54] MKleusberg commented on #832
I think Kubuntu 16.04 uses Qt 5.5, correct?
In this case we could try this:
1) Open ```src/sqlitetypes.h```
2) After line 9 (```#include <QVector>```) add a new, empty line and insert this:
[code]
3) Try to recompile. Does it compile now? If yes, are table constraints working? If not, has the error message changed?

Maybe we can add this one function and get the minimum Qt version required down to

[2017-01-08 18:54] lulol commented on #893
@h1618 If that helps, the [nighly builds](https://nightlies.sqlitebrowser.org/win32/) runs fine on XP SP3, even on CPUs without SSE2. There is a note even in the project front page to test them in case of trouble. :smile:

[2017-01-08 21:49] justinclift commented on #893
@lulol Cool, that's good info. :smile:

[2017-01-08 22:21] tomcumming commented on #848
Yes, it is checked

[2017-01-08 23:30] MKleusberg commented on #848
That's odd. You said it's also ignoring the pragma after manually turning it on. I assume you did click the Save button at the bottom of the window? Sounds like a stupid question but I sometimes forget that button :wink: If you're sure you saved the modified pragma settings. it seems like we have a general problem with foreign keys in your case. Not sure yet what to do then :smiley:

[2017-01-08 23:48] tomcumming commented on #848
yes I am :) i also tried `PRAGMA foreign_keys = on;` in the sql box and write changes after running that. Still no luck

[2017-01-09 09:51] hko-gh commented on #205
Sorry, still not working for me. When I rename a table in the 'Database structure' tab, everything works as intended. But when I rename a table manually using the 'Execute SQL' tab, I do not have the correct auto-completion afterwards. (Version 3.9.1. 64-bit Win7)

[2017-01-09 10:36] ergovia-mobile commented on #832
Yes, my Kubuntu uses Qt 5.5.1. I got a blackscreen on my machine this morning. After a lot of hassel a reinstallation of KDE fixed things. So much for stable :smile: Maybe the Qt Up- and Downgrades messed things up. Dunno....
I am totally fine using v3.9.1 and thinks it is the best/easiest solution if you declare yourself to be Qt 5.6 (and above) only. Just updated build-docs and everybody is happ

[2017-01-09 12:17] chrisjlocke commented on #205
You need to download one of the nightly builds (usually version 3.9.99) from here:
https://nightlies.sqlitebrowser.org/win64/

eg:
https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-2017-01-09-win64.exe

v3.9.1 is our 'last release' which doesn't get automatically updated with fixes, etc.

[2017-01-09 14:10] thomaskilian opened #926 "Preferences mangled"
### Details for the issue

Since today the preferences mangles colors

![pic20170109150007](https://cloud.githubusercontent.com/assets/69296/21768975/a9509a58-d67c-11e6-95e2-04018f58b5e0.png)

Obviously a change of the font was the culprit. Here is the mangled preferences file:

[com.sqlitebrowser.sqlitebrowser.plist.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/693644/com.sqlitebrowse

[2017-01-09 14:29] revolter commented on #926
This is a duplicate of #737. The latest nightlies should fix it.

[2017-01-09 14:29] #926 closed

[2017-01-09 14:51] thomaskilian commented on #926
Hmm. The link https://nightlies.sqlitebrowser.org/osx/ has mid last year as latest new build. And `brew cask install sqlitebrowser` fails with

[2017-01-09 15:25] revolter commented on #926
No, there is:

[2017-01-09 15:28] revolter commented on #926
About the `cask` issue, the release's attachment name was renamed to `DB.Browser.for.SQLite-3.9.1v2.dmg`. @justinclift, Any idea how can we update the cask's url?

[2017-01-09 15:29] thomaskilian commented on #926
Are my aged eyes that bad?

![pic20170109162812](https://cloud.githubusercontent.com/assets/69296/21771704/ca3dfdee-d688-11e6-91dc-a6d95a24c54a.png)

[2017-01-09 15:31] revolter commented on #926
![screen shot 2017-01-09 at 17 31 38](https://cloud.githubusercontent.com/assets/5748627/21771796/7f3be35c-d691-11e6-91aa-ec357ad2720e.png)

[2017-01-09 15:32] thomaskilian commented on #926
Argh. Would be good to that on top :-/

[2017-01-09 15:37] revolter commented on #926
@justinclift Can you change the ordering of that please? 😄

[2017-01-09 15:38] revolter commented on #926
As for the curl error, try running `brew cask update`.

[2017-01-09 16:02] revolter commented on #490
Wow, I always thought it takes a little because the table is large, didn't know there was a delay there. A big thanks from me, too, @MKleusberg!

[2017-01-09 16:56] thomaskilian commented on #926
That solved it. Also the nightly build worked. Thanks!

[2017-01-09 17:15] hdchan opened #927 "Various Compiling Errors"
### Details for the issue

Hi I'm trying to compile the project on my Mac but getting this error. I've followed the steps in the BUILDING.md file for **MacOS X > Building an .app bundle**

I got up to the **qmake** action, but the next step **make** fails with the following. I've attemped the two **qmake** commands in the latter part of the secion:

### Useful extra information

#### I'm opening t

[2017-01-09 19:46] justinclift commented on #926
@revolter The ordering is coming from Nginx... seems standard alphabetical.

I guess we can look into Nginx options and see if that can be changed. :smile:

[2017-01-09 19:53] revolter commented on #926
https://github.com/aperezdc/ngx-fancyindex this looks marvelous!

[2017-01-09 20:11] justinclift commented on #926
@revolter No worries.  Want an account on the nightlies server, so you can get that done? :smile:

[2017-01-09 22:28] justinclift commented on #927
Interesting.  We've moved to require Qt5 for compiling, as it makes things better for development and pretty much every platform supports it now.

If you reinstall your Homebrew provided qt, in theory (!) that should get updated to Qt5.  After that, compiling our source code should work.

Are you ok to give that a go? :smile:

[2017-01-10 20:29] zayass commented on #922
Sorry for delay. Here is db
[meta_v2.db.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/697267/meta_v2.db.zip)

I don't have clear steps to reproduce but when I switching between Structure and Data tabs it constantly crash. May be on first switch maybe on 10th

[2017-01-11 08:11] revolter commented on #922
I can't reproduce it with a ~1 week old nightly.

[2017-01-11 19:17] MKleusberg commented on #490
Thanks :smile_cat:

[2017-01-12 03:04] iseldonz opened #929 "Table fields sometimes not handled properly"
### Details for the issue

Trying to view and modify an existing database. The viewing and modifying work fine with SQLite Database Browser 2.0 b1 (which I believe is an "ancestor" of DB Browser for SQLite), but with DB Browser for SQLite, things do not work as expected.

The database opens, but using "Browse Data", if certain tables are selected (but not all), the list of fields of that table is

[2017-01-12 05:42] chrisjlocke commented on #929
This hasn't been mentioned before, which would imply something specific with your database ... it has an interesting schema...
Is there any chance of a copy of the database causing issues? If it is just the schema, then the data can be removed from the database.

[2017-01-12 11:01] nkahnfr commented on #737
Hi,

Sorry but the problem is still there for me whenever I try to modify preferences.
I am using Sierra (10.12.2) and DB4S from cask (3.9.1v2).

If I don't modify preferences I can restart DB4S and background colors remain correct.
Whenever I change a preference and restart DB4S the black-on-black issue is present.

Please find attached a working and bugged version of sqlitebrowser settings.
[sql

[2017-01-12 11:29] revolter commented on #737
As @jtlowe said, I think you need to delete the preferences file (while DB4S is closed), as they might be corrupted or something. You can do so from terminal by running this command in terminal:

    rm ~/Library/Preferences/com.sqlitebrowser.sqlitebrowser.plist

or by simply going to that location and manually removing that file.

@jtlowe, Correct me if I'm wrong.

[2017-01-12 12:05] nkahnfr commented on #737
@revolter Sorry, I forgot to mention that I did all my tests from a fresh setting file after having deleted the previous one. So deleting the setting file does not help in my case.

[2017-01-12 12:12] justinclift commented on #737
Interesting.  It sounds like the Qt fix might not be as complete as we were thinking.

@nkahnfr Would you be ok to try one of our recent nightly builds and see if that makes a difference? (download location is listed on the front page of this project, if that helps)

[2017-01-12 12:36] nkahnfr commented on #737
@justinclift Ok, just found the bug, it's me! :-)
After uninstalling the cask version of DB4S to test a nightly build I realized that another old version (3.9.1) was still installed...
I uninstalled it and reinstall latest version using cask and everything works perfectly!

Sorry guys for the wrong alert, my bad.
And thanks again for the fix.

[2017-01-12 12:37] jtlowe commented on #737
I've been doing some testing using settings from nkahnfr's attached .plist but haven't been able to reproduce the issue. I did notice this part below that diffs from my preferences.

`<key>databrowser.reg_bg_colour</key>
<data><string>@Variant(</string>`

[2017-01-12 12:39] jtlowe commented on #737
Disregard my last comment, just saw @nkahnfr message

[2017-01-12 12:42] revolter commented on #737
But maybe there is a bug that caused `@Variant(` to be saved instead of an actual color.

[2017-01-12 12:46] #737 closed

[2017-01-12 12:47] justinclift commented on #737
Thanks all. :smile:

@revolter Yep, that does sound like a new bug.  Seems like a serialisation problem.  Do you have time to create an Issue for it? (if not, I can do it) :smile:

[2017-01-12 12:53] revolter opened #930 "Preferences file contains corrupted serialized data"
### Details for the issue

The archive that @nkahnfr uploaded [here][1] contains what looks like a corrupted preferences file. As pointed out by @jtlowe [here][2], the `databrowser.reg_bg_colour` key has the value `@Variant(`. @nkahnfr said that:

I uninstalled it and reinstall latest version using cask and everything works perfectly!

but this might be an actual bug in our code. A check to see if

[2017-01-12 12:53] revolter commented on #737
@justinclift, Done.

[2017-01-12 13:07] justinclift commented on #737
Excellent, thanks @revolter. :smile:

[2017-01-12 13:20] nkahnfr commented on #930
Since I don't know if that bug could also be related to the fact I wasn't using the right version of DB4S when I exported my settings files, here is a summary of the different files I provided.

- [sqlitebrowser.plist.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/701448/sqlitebrowser.plist.zip) are settings files generated using 3.9.1 version that is known to have issues on macOS Sierr

[2017-01-12 16:50] evilandfox opened #931 "Checkbox "use transaction" when importing from *.sql file if it hasn't begin/end lines"
### Details for the issue

Hi. Sometimes *.sql files has no instructions for using transaction and importing from them is very slow. Checkbox for forcing transaction import will be very useful in this situations. Sorry if this issue already exists)

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ x] DB4S needs a feature
- [ ] DB4S

[2017-01-12 17:38] justinclift commented on #931
Yeah, good idea. :smile:

[2017-01-12 19:43] chrisjlocke commented on #931
#827 ?

[2017-01-12 20:03] MKleusberg commented on #832
Just added a comment about Qt 5.6 and C++11 to the BUILDING.md file :smiley:

@justinclift What do you reckon, can we leave it like this? Or do we need to suggest using qmake instead of cmake as well? I'm not entirely sure if cmake is still broken and/or on what systems it's broken.

[2017-01-12 20:16] MKleusberg commented on #927
Yeah, these definitely happen because you're trying to compile using Qt4. You either need to stick with version 3.9.1 (or some of the slightly later commits) or need to install Qt5 when you want to compile the latest version from master.

[2017-01-12 21:13] justinclift commented on #832
Oops.  Just added this to my ToDo list for investigating this week.

I'll try it out probably Saturday and see if we can make it work with Qt 5.5. :smile:

[2017-01-13 10:48] lulol commented on #893
@justinclift @h1618 @iRybin Hmmm. Unfortunately seems that the new nigthly builds available don't work with XP SP3 anymore. :sob:

The latest version that can confirm that works with XP SP3 is 2016-10-01, but is not available to download anymore.

In my case if I'm doing it right, patching the PE header in the binary as @h1618 suggest doesn't help: the program then loads but crashes immediately wi

[2017-01-13 11:04] justinclift commented on #893
@lulol Ahhh, that date range triggers a relevant memory.  When we used to support building with Qt4, our Windows nightly build process was done on a Linux box, cross compiling to Windows.

When we change to Qt5-only, we set up a new build system for the Windows nightlies.  That was around October.  So it looks like the previous build process used to work for XP, whereas the new build process doesn

[2017-01-13 15:35] joelworsham opened #932 "Prompting for encryption password on unencrypted database"
### Details for the issue

I download an sql file from a site backup on WP Engine. Multiple agents ensure me the file is NOT encrypted. One specific response he had when asked was:

I download the file and try to open it and it prompts me for the password.

~[](http://d.pr/i/89yz+)

I click "ok" and it reloads that same prompt.

I click "cancel" and it tells me the file is invalid:

~[](http://d.p

[2017-01-13 15:39] revolter commented on #932
I think you're trying to open up an `.sql` file, and not a database `.sqlite` file.

[2017-01-13 15:43] revolter commented on #932
I wonder if we can detect if the file is a database or not, and print something like "Not a database".

[2017-01-13 15:45] chrisjlocke commented on #932
Just to elaborate this answer; a database consists of tables, fields and records, etc.  A .sql file is instructions (in SQL) to recreate that database.  As such, DB4S cannot 'open' that .sql file, but it can import it, so you can create a blank database, then import that .sql file.  :)

[2017-01-13 15:46] justinclift commented on #932
Ahhh, yeah.  That definitely sounds like a text file with SQL statements in it, not a SQLite database file itself.

@joelworsham Not to worry though, you should be able to import it using **File** → **Import** → **Database from SQL file...**

![screen shot 2017-01-13 at 15 44 38](https://cloud.githubusercontent.com/assets/406299/21935937/4db468a4-d9a7-11e6-9dae-5a0974838417.png)

Are you ok to try

[2017-01-13 15:48] chrisjlocke commented on #932
Should be easy to detect if the first 100 characters or so of the file contains pure valid SQL commands .... usually only 'drop table if not exists' and all that jazz...

[2017-01-13 15:49] justinclift commented on #932
@revolter *I wonder if we can detect if the file is a database or not, and print something like "Not a database".*

Yeah, we kind of do already.  We first try to detect if it's a database file, and if it's not recognisable then we assume it's an encrypted file instead.  So, we then pop open a dialog asking for a password (etc).

I suppose we could add a step in between those, where we try to detec

[2017-01-13 16:28] joelworsham commented on #932
Thanks guys. I thought it was a valid file, but it was indeed just a dump, plaintext. It would be nice if the program could give a better response to this though. I'm willing to bet many others have done exactly what I did. Perhaps you can somehow tell that it is a DB dump and tell the user something like:

[2017-01-14 12:14] MKleusberg commented on #848
I did some further research: you can't edit the foreign keys pragma inside a transaction (https://www.sqlite.org/pragma.html#pragma_foreign_keys). That makes it impossible to set that pragma from inside the SQL editor. Also, unlike other pragmas, it is not stored in the database file but must be set again each time a new connection is built (https://stackoverflow.com/a/15303742). This makes it imp

[2017-01-14 12:53] justinclift commented on #848
If it's really needed to kept, we could store that pragma setting in the (per database) project file.

[2017-01-14 13:28] MKleusberg commented on #877
Thanks for reporting this, @FreudGit! You've stumbled upon a nice corner case there. This happens when using an unquoted default value that's a keyword at the same time. In your case that's the ```DEFAULT NO``` part of the ```EMERGENCY``` column. I think this should be fixed by the latest commit. Can you try tomorrow's nightly build to check if it's working for you as well? :smiley:

[2017-01-15 18:41] MKleusberg commented on #929
@iseldonz This sounds very much like a problem with our SQL parser. As @chrisjlocke said, it'd be best to have a look at your table schema. It's sufficient to just have the schema, no data is required. What you can do is to open the database file in DB4S, click the text in the schema column for a not working table, hit Ctrl+C and paste it here in Github. Should be easy for us to fix it then :smile

[2017-01-15 18:48] MKleusberg commented on #354
Any updates on this? From what I can tell this was tested using Qt4 and as it might be a Qt thing, it might be worth checking this out with Qt5.

[2017-01-15 19:25] MKleusberg commented on #325
Sorry, this took a while :wink:

With the next nightly build there will be a menu item to open a database in read only mode. With this all editing options in the GUI will be disabled and no SQL statements that make changes to the database will be allowed. Are you're still interested in this, @JoeErsatz? If so you can try out tomorrow's nightly build :smiley:

[2017-01-15 20:25] MKleusberg commented on #866
Can you try tomorrow's nightly build, @AndreasMartin72? I've just changed the error handling code a bit but I'm not entirely sure it affects your problem. Still, it's worth a try :smiley:

[2017-01-15 20:28] MKleusberg commented on #847
That's an interesting observation, @ibinshoid! :smiley: We've recently moved to Qt5-only, so it's worth trying again with the latest code and using Qt5.

[2017-01-15 20:56] JoeErsatz commented on #325
Yes, it is still of interest to me. Many earnest thanks for your efforts in regard to my request! But I won't be testing it via the nightly build. Instead, I harbor every confidence that you guys know precisely what you're doing, and if the feature appears in the next release then it will be employed. I presume the implementation of read-only open in sqlitebrowser is a proverbial "walk in the park

[2017-01-15 21:36] justinclift commented on #325
@JoeErsatz Ahhh... there's a minor drawback to that concept.  We do our very best to make things work properly, but it's an 80/20 thing.  80% of the time everything works out well, and there aren't any hidden surprises.  20% of the time though... things turn out to need a bit of kicking into shape. 😀

Thus our general request for feedback, to help catch those 20%-ers. :wink:

[2017-01-17 09:22] oliverw commented on #264
👍 Has been made any progress on this?

[2017-01-17 09:54] vanitasvitae opened #934 "Cannot switch workspace on gnome when SQLiteBrowser is open"
### Details for the issue
Hi!
Im using sqlitebrowser from the Debian testing repository on my machine running Gnome Shell (3.22.2).
When I have sqlitebrowser opened, it seems like it is constantly requesting focus. I cannot switch workspaces, since it constantly switches back to the sqlitebrowser window.
Also I cannot minimize it, since it instantly gets de-minimized again.

### Useful extra infor

[2017-01-17 19:38] karim opened #935 "Range operator for Filter"
If I have an INTEGER column I can filter the numbers in it using the supported operators from this page https://github.com/sqlitebrowser/sqlitebrowser/wiki/Using-the-Filters.

Is it possible to have a filter for **range** (- or \~)? Something like _min-max_ (or _min~max_) to show only the numbers in this range. For example, If I want to filter a column with numbers between 1 and 5 I can type in fi

[2017-01-17 19:46] justinclift commented on #935
Sounds like a worthwhile enhancement.  We could probably do something to make it work. :smile:

@MKleusberg Thoughts?

[2017-01-17 19:52] justinclift commented on #934
Thanks for reporting this.  I'm pretty sure someone else has mentioned this happening to them a few months ago too, but I'm not finding the bug report about it just yet.

@revolter Do you remember the previous bug report about this?  From memory, you commented on it.

[2017-01-18 03:07] innermous commented on #934
In any case it's upstream bug, not SQLiteBrowser.

[2017-01-18 03:38] justinclift commented on #934
Why an upstream bug?

[2017-01-18 19:02] mextedol opened #936 "An acutal code problem with lua"
I was coding with lua got this error
chunk_2:(11,29-12,12): attempt to call a nil value

Pls help

[2017-01-18 19:27] justinclift commented on #936
Is this related to DB Browser for SQLite?

[2017-01-18 19:28] justinclift commented on #936
If you're needing help with Lua coding, it's probably best to ask on the Lua mailing list:

&nbsp; &nbsp; http://www.lua.org/lua-l.html

:smile:

[2017-01-18 20:36] innermous commented on #936
I wonder every time when I see such issues...

[2017-01-18 21:07] #936 closed

[2017-01-18 21:09] justinclift commented on #887
@revolter Do you have time to try this out on latest master build?

[2017-01-18 22:30] dridk opened #937 "Add Qt Badge"
Could you add the following badge ? Just to promote Qt !
![badge](https://img.shields.io/badge/Qt-qmake-green.svg)

[2017-01-18 22:37] justinclift commented on #937
Yep, why not?

Done btw. :smile:

[2017-01-18 22:37] #937 closed

[2017-01-19 16:28] frispete commented on #832
Guys, cmake is broken at the moment.

After struggling an hour to get 3.9.1 build with cmake, I found this issue, and switched to qmake.
FWIW, my builds are public: https://build.opensuse.org/package/show/home:frispete:PyQt5/sqlitebrowser

The problem with cmake starts with the first line of CMakeLists.txt:
`project("DB Browser for SQLite")`

Urgh, blanks in projects name. We all know, that build

[2017-01-19 17:06] justinclift commented on #832
@frispete Yeah, it's a right PITA at the moment. :wink:

As a thought, have you tried building from our master branch instead of the tarball?  Some of the problems should be fixed there, though not all. 😦

[2017-01-19 17:09] leventelist commented on #832
I think it is not cmake what is broken. It is sqlitebrowser that miss uses
cmake. Correct?

On 19 Jan 2017 17:28, "Hans-Peter Jansen" <notifications@github.com> wrote:

[2017-01-20 00:43] frispete commented on #832
@justinclift Well, to be honest, I'm glad to have it running "nearly" current. The rename of the binary and all is a real PITA for packagers like me. So even with cmake fixed, I'm inclined to keep the qmake build, because I'm lazy, and sqlitebrowser would be the very first app, that contain spaces in the name (we only have a few thousand other binaries @openSUSE...). Be assured, that this will lea

[2017-01-20 01:16] justinclift commented on #832
@frispete No argument here.  Changing the project name in CMakeLists.txt was one of the first things we did after the 3.9.1 release.  It's now only "DB Browser for SQLite" for the OS's which have a need for that (OSX and Windows).

[2017-01-20 13:50] frispete commented on #832
@justinclift I see, the CMakeLists.txt looks better now. Let's make a deal, you provide some way of using the system qscintilla, and I test, help to fix the fallout, and push the result to openSUSE official..

Hmm the qscintilla version is tweaked, but that is flagged as needed from MacOS only, hence it should be fine. Deal?

[2017-01-20 15:39] frispete commented on #832
@justinclift BTW, the separate Qt packages are available here: http://download.qt.io/official_releases/qt/5.7/5.7.1/submodules/

[2017-01-20 16:14] justinclift commented on #832
@MKleusberg @innermous Any interest in getting the system provided QScintilla picked up?

I rarely use Linux (more into OSX, BSD), so it's not something I personally care about atm. :smile:

[2017-01-20 17:13] frispete commented on #832
Good news for [openSUSE:](https://build.opensuse.org/request/show/451660)
[code]

[2017-01-20 17:15] MKleusberg commented on #832
@justinclift I hate that cmake file. But I will have a look at it, maybe even this evening.
So it's a deal, @frispete :wink:

[2017-01-20 17:59] MKleusberg commented on #832
Ugh, the libscintilla2-dev package in Debian (and Ubuntu) is still built against Qt4. So unfortunately I can't test this that easily.

@frispete I've just pushed a largely untested commit which *might* work on openSUSE. Feel free to give it a try :smiley:

[2017-01-20 18:27] MKleusberg commented on #325
No worries :smiley: I'll close this issue for now because I'm pretty sure it should be working with the next release. If it doesn't work as you expected, feel free to re-open it anytime, @JoeErsatz. Should we update this issue as soon as the new release is out to remind you of this issue/fix?

[2017-01-20 18:27] #325 closed

[2017-01-20 19:01] russlamb opened #938 "Unsaved Query closes without prompt"
### Details for the issue
Query tabs can be closed without any prompt to save or warning about lost data.

I had several queries open for a coding test.  Each query corresponded to an answer to a test question.  I had saved the queries to SQL files, but i needed to close the database.  I closed out of all the open query tabs, not realizing i had made changes to each of them after I had last saved.

[2017-01-20 20:25] justinclift commented on #938
Yep, this does make sense to implement.  Shouldn't be to hard to do either. :smile:

[2017-01-20 22:17] MKleusberg commented on #917
I've just added some code that should make it possible to browse virtual tables. Depending on the virtual table function it should also be possible to add and remove rows and edit cell values. The only thing that doesn't really work at all is editing the table schema of virtual tables, but I guess that's fine for now. Are you interested in giving tomorrow's nightly build a test, @ghellquist? I gue

[2017-01-20 22:23] MKleusberg commented on #917
Same for you of course, @bagage! :smiley: You can check out the latest version from master and compile that again. The warning should disappear and the application should work much better with virtual tables in general.

[2017-01-22 11:21] MKleusberg commented on #848
Just added the foreign keys settings to the project file :smiley: I think that's all we can do at the moment.

[2017-01-22 11:25] justinclift commented on #848
Awesome. :smile:

@tomcumming Would you have time to try out the nightly build (tomorrow), and check that the pragma setting works for you when the database is saved & loaded via project file?

[2017-01-22 14:43] MKleusberg commented on #264
From what I understand this is an issue with the key formats we support. SQLCipher allows text key (like 'my passphrase') as well as raw keys (like '0xabcdef0123456789'). Since we only support the text key format all databases encrypted using the raw key format can't be opened. At least that's how I understand the issue, and either way: this definitely needs to be fixed :smiley:

I've just added s

[2017-01-22 20:24] tomcumming commented on #848
Sorry @justinclift , I won't have access to a windows PC for a while !

[2017-01-22 20:42] karim commented on #893
@h1618 If patching the PE header fixed the "not a valid Win32 application" error and allowed you to run DB4S without problems, then I believe the fix is very simple.

Microsoft dropped support for Windows XP on newer versions of Visual Studio by setting *SystemVersion* (offset 0x0040) in the PE header for all generated .exe to version 6 (Windows Vista) by the linker. MinGW on the other hand set th

[2017-01-22 21:25] justinclift commented on #848
No worries, was a thought. :smile:

[2017-01-22 21:26] justinclift commented on #848
Oops.  Sorry, wrong button. :wink:

@tomcumming Our automatic nightlies get built for OSX too if that helps?

[2017-01-22 21:29] justinclift commented on #893
@karim Yep, it's completely possible.

As a thought, since you seem to know a lot about this stuff... this is the batch file that runs automatically each night to create the windows builds:

&nbsp; &nbsp; https://gist.github.com/justinclift/11cc926f214e882c8162f97c53929c07

It's using CMake to generate the MSVC project files, then builds them with `devenv`.  Any idea if that /SUBSYSTEM switch woul

[2017-01-22 23:19] karim commented on #893
@justinclift Unfortunately I don't have much experience with CMake.

`devenv.exe` (Visual Studio) works with `.vcxproj` XML project files, and will not accept that /SUBSYSTEM switch. It is a linker switch and should be added to CMake so it can generate a working `.vcxproj` file for `devenv` to use.

[2017-01-22 23:41] karim commented on #893
@justinclift Unfortunately I don't have much experience with CMake.

`devenv.exe` (Visual Studio) works with `.vcxproj` XML project files, and will not accept that /SUBSYSTEM switch. It is a linker switch and should be added to CMake so it can generate a working `.vcxproj` file for `devenv` to use.

Try editing the `CMakeList.txt` and add the switch there, then look at the generated `.vcxproj` fil

[2017-01-23 08:16] glawrence commented on #893
Personally I don't think the editbin solution is ideal. If something else changes in Qt or elsewhere and we actually drop XP support but then use this to "add it back" then we could be covering up a multitude of issues. So, we should do this with the linker really.

However I would vote for dropping XP support completely.

[2017-01-23 10:52] chrisjlocke commented on #893
If details are given on one of the wiki pages how to 'fiddle' with a program to make it XP compatible, then its up to the user whether they can use those instructions or not.  They're already 'dicing with death' using an old OS, so having a 'multitude of issues' will be the icing on the cake.  I don't think its up to us to do that though... (and maintain software for non-maintained OS's)

[2017-01-23 14:50] karim commented on #893
@glawrence `editbin` will not add/remove support for XP. It will just set the minimum operating system version in the PE header so the OS can load it. This is exactly what the linker will do after combining all the object codes into an executable.

It is perfectly fine to set it to a lower value too. The latest version of MinGW set it to 4 (Windows 95/NT), even if you are targeting newer OS like W

[2017-01-24 18:26] justinclift commented on #893
Been thinking about this.  It seems it'll be fairly simple (in the short to medium term) to keep DB4S working with XP.  So, we might as well keep making XP compatible releases.

After all, we do support OS/2 still. 😀

When the underlying things we rely on (eg Qt, SQLCipher) stop working for XP, that'll probably be a reasonable point at which we can stop supporting XP.

One caveat - if it turns out

[2017-01-24 21:09] jlmcgraw opened #940 "Database will not open from a Virtualbox shared folder"
### Details for the issue

I'm attempting to open an sqlite database (called "Recordings.db") associated with Voice Memos copied from an iPhone.

When attempting to open this file from a VirtualBox Shared Folder db4s fails with "invalid file format"

If I copy that same file locally to the virtual machine then it opens successfully.

This is most likely a VirtualBox Shared Folders issue but I thou

[2017-01-24 21:17] justinclift commented on #940
Interesting.  No idea where to even begin with this, so hoping some of the others have ideas. :smile:

[2017-01-24 23:17] karim commented on #893
@justinclift I agree with you, and that's why I prefer the `editbin` way, since it doesn't mess with the project build system or source code, and no files need to be changed. You can add it in the batch file that create the windows builds, and make a new installer for *legacy* windows.

Anyway, no one can support XP forever while every project is dropping support for it. According to this [comment

[2017-01-24 23:57] justinclift commented on #893
Ahhh, it might be a moot issue then.  There's some stuff in Qt 5.8 which I'm hoping fixes an OSX network communication issue (not sure yet though).  If it doesn't, then no worries we can stick with Qt 5.6. :wink:

[2017-01-25 01:07] jlmcgraw commented on #940
Are you able to recreate this issue? (if you still have your Mate VM from the last issue I filed) :)

[2017-01-25 02:05] justinclift commented on #940
Heh Heh Heh

I haven't tried, and probably won't for (at least) a few days personally.  My headspace is entirely in a different area at the moment and I **really** don't want to break that. :wink:

[2017-01-25 02:06] jlmcgraw commented on #940
Fair enough.  Like I said, it's probably a bug in VirtualBox but figured
you might have some good insight into it

On Tue, Jan 24, 2017 at 9:05 PM Justin Clift <notifications@github.com>
wrote:

[2017-01-25 10:31] schdub opened #941 "Endless loop in EditTableDialog::addField()"
### Details for the issue

1) Create new Table;
2) Click 'Add field' in 'Edit table definition' dialog;
3) DB4S isn't responding.

### Useful extra information

Bug was introduced by @MKleusberg in https://github.com/sqlitebrowser/sqlitebrowser/commit/f728ff73ab18fe038c457fa2fb392fdd892dc808

#### I'm opening this issue because:

- [X] DB4S is hang up
- [ ] DB4S has a bug
- [ ] DB4S needs a featur

[2017-01-25 10:31] schdub opened #942 "Crash in SqliteTableModel::getForeignKeyClause"
### Details for the issue

1) Open DB;
2) Open 'Execute SQL' tab;
3) Execute simply select query to retrive data;
4) Hover mouse over cell 1:1 in retrieved data.
5) Crash.

### Useful extra information

For some reason SqliteTableModel::m_sTable is empty:
![screenshot from 2017-01-25 13 13 37](https://cloud.githubusercontent.com/assets/1304776/22286599/c4304586-e300-11e6-84df-35df316d2c3f.png)

##

[2017-01-25 11:05] justinclift commented on #942
Awesome @schdub.  @MKleusberg has been working on Foreign Key stuff recently, so this will probably interest him. :smile:

[2017-01-25 11:08] innermous commented on #942
Can't reproduce it.
```Execute simply select query to retrive data;```
It's not enough, something tells me it's specific for your table/database.
Please, provide more useful information.

[2017-01-25 11:11] innermous commented on #942
**UPD**: Sorry, I am able to reproduce it now. This happens if one hovers a cell for at least 3-4 seconds.
Working on it.

[2017-01-25 12:24] innermous commented on #942
Tooltips in execute SQL tab can't be shown right now, since foreign key functionality relies on fixed size tables as *static* database objects.
I can only apply little fix that prevents crash right now.

[2017-01-25 14:58] pmoorelegistek opened #944 "FTS5"
### Details for the issue

Please add support for FTS5. I'd like to be able to test performance of large databases and different queries to decide if I should upgrade my application to use it.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [X] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [X] Windows: ( _version:_ 10)
- [ ] Li

[2017-01-25 15:14] glawrence commented on #944
This is a duplicate of #781 as far as I can tell

[2017-01-25 15:14] #944 closed

[2017-01-25 15:23] pmoorelegistek commented on #781
Has there been any progress on this? Can I help in any way? Would really like to be able to try out FTS5 using DB Browser. Thanks.

[2017-01-25 15:50] justinclift commented on #944
@pmoorelegistek Yep, it's already pencilled in to be added with our next major release.  That's probably not any time in the real close future though.  eg likely a few months away at least

[2017-01-25 16:53] pmoorelegistek commented on #944
Hm. Maybe I’ll fork the project then. Is the issue still related to SQLCipher?

From: Justin Clift [mailto:notifications@github.com]
Sent: Wednesday, January 25, 2017 9:50 AM
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: Peter N. Moore <pmoore@legistek.com>; Mention <mention@noreply.github.com>
Subject: Re: [sqlitebrowser/sqlitebrowser] FTS5 (#944)

@pmoorelegistek<https:/

[2017-01-25 17:15] justinclift commented on #944
As far as I remember, yeah.  Saying that because it's been a while (few months?) since I looked at that part of things, so my memory is hazy.

If it helps, this is the batch file we use for automatically building our nightlies on Windows:

  &nbsp; &nbsp;https://gist.github.com/justinclift/11cc926f214e882c8162f97c53929c07

Note, it looks more complicated than it really is, because it runs twice.

[2017-01-25 17:16] justinclift commented on #942
Cool, sounds like progress in the right direction. :smile:

[2017-01-25 17:28] pmoorelegistek commented on #944
Yes line 41 is exactly where it is (and line 80 for x64).

All you should need to do is define the preprocessor flag SQLITE_ENABLE_FTS5.

I’m a little unclear as to why FTS4 is even working in your current build since you don’t define those preprocessor flags anywhere, and FTS3 and FTS4 are not enabled by default either. But wherever you’re compiling SQLite, as long as you make sure SQLITE_ENABLE_

[2017-01-25 17:34] justinclift commented on #944
Cool.  Does this look like a suitable replacement for line 41?
    cl sqlite3.c -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_API=_declspec(dllexport) -link -dll -out:sqlite3.dll

If that's the case, I can probably try kicking off a build now (takes 1/2 hour to finish) and put it on the nightlies server somewhere for you to try out.

[2017-01-25 17:36] MKleusberg commented on #944
@justinclift This should be the most correct version, I think:
[code]
See [here](https://sqlite.org/fts3.html#compiling_and_enabling_fts3_and_fts4).

[2017-01-25 17:37] MKleusberg commented on #944
Line 80, too.

[2017-01-25 17:38] justinclift commented on #944
Awesome.  :smile:

Now realising we can probably include JSON1 support along with it too, as per the comment here: https://github.com/sqlitebrowser/sqlitebrowser/issues/677#issuecomment-266739629

Not sure if SQLCipher works with the same defines, but it doesn't hurt to try and see what happens. :smile:

I'll give it a go now.

[2017-01-25 17:40] pmoorelegistek commented on #944
Agreed. Although again I’m not sure why FTS is working at all in DB Browser without those flags – and it does work - so I’m curious if this makes a difference. It should though.

From: Martin Kleusberg [mailto:notifications@github.com]
Sent: Wednesday, January 25, 2017 11:37 AM
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: Peter N. Moore <pmoore@legistek.com>; Mention <men

[2017-01-25 17:42] pmoorelegistek commented on #944
In the version that has SQLCipher, are you using SQLCipher’s implementation of SQLite even for non-encrypted databases? That would explain why FTS works in the official Windows build. And if so we would need to use the non-SQLCipher version.

From: Justin Clift [mailto:notifications@github.com]
Sent: Wednesday, January 25, 2017 11:39 AM
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github

[2017-01-25 17:45] justinclift commented on #944
For the SQLCipher build it's implementation gets used for both encrypted and non-encrypted databases.  So yep, you're probably right.  Lets experiment a bit with the build script now and figure out what does and doesn't work. :smile:

[2017-01-25 18:16] justinclift commented on #944
@pmoorelegistek Do you have time to try these out?

* https://nightlies.sqlitebrowser.org/win32/DB%20Browser%20for%20SQLite-2017-01-25-FTSv1-win32.exe
* https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-2017-01-25-FTSv1-win64.exe

Only tried building the SQLite version (not SQLCipher) as a first go.  We can try SQLCipher things out after we're happy the straight SQLite options

[2017-01-25 19:22] schdub commented on #627
@justinclift this behavior works as expected in accordance with #241.

[2017-01-25 19:42] justinclift commented on #627
@schdub They seem like different things.  #241 seems to be about selecting several columns, then resizing all of the selected ones.

This issue seems to be about trying to resize a single column, but all columns are resized instead.

Am I reading it wrong? :smile:

[2017-01-25 19:58] schdub commented on #627
@justinclift after adding new record new row is selecting MainWindow::addRecord(), 568 (I don't know why, since 2013-04-07)
if we continue to change width of single column, it will actually change the width of all columns, because new row is selected (every column in row is selected).

[2017-01-25 19:59] justinclift commented on #627
Ahhhh.  Yeah, I'm not sure of the best behaviour here.  @tonypdmtr ?

[2017-01-26 02:20] prutz1311 opened #945 "Cannot change name of a newly created field when creating a table"
### Details for the issue

When creating a new table and trying to set a new name to a field, sqlitebrowser responds with an error `There already is a field with that name. Please rename it first or choose a different name for this field.`
![image](https://cloud.githubusercontent.com/assets/6525383/22317453/c8d7fd48-e384-11e6-8e29-672359c6cd9e.png)
Expected: changing name both in the table widget

[2017-01-26 04:37] aludee commented on #944
Both copies can work for me.
I was able to create, rebuild, search and delete the fts5 table(s).

This is great! Thanks.

[2017-01-26 11:57] arjo1754 opened #946 "Wrong character set"
### Details for the issue
Export cvs files don't use utf-8 as character settings so my Swedish letters are being translated to something else.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Linux: ( _distro:_ _

[2017-01-26 12:58] #941 closed

[2017-01-26 14:24] justinclift commented on #946
Interesting.  Yeah, we'll probably need to look at [RFC 4180](https://tools.ietf.org/html/rfc4180) in detail again, to work out the right approach here. :smile:

From scanning over it quickly just now, section 3 (for the MIME registration) says:

So the CSV specification itself seems to allow more than just US-ASCII.  eg Unicode output is probably a good idea. :smile:

[2017-01-26 15:45] justinclift commented on #944
@aludee Awesome, thanks for checking and confirming.

I've just added those options to the main nightly build script for windows.  It's only for the SQLite (not encrypted) version for now.  SQLCipher version still needs working on. :wink:

[2017-01-26 16:16] pmoorelegistek commented on #944
Also confirmed, it’s working great. Thanks so much for getting this done so quickly. And for the great piece of software; it’s a huge time saver for me in optimizing queries for my application.

From: aludee [mailto:notifications@github.com]
Sent: Wednesday, January 25, 2017 10:38 PM
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: Peter N. Moore <pmoore@legistek.com>; Mentio

[2017-01-26 16:18] justinclift commented on #945
Fixed by @schdub in #947. Thanks @schdub! :smile:

[2017-01-26 16:18] #945 closed

[2017-01-26 16:20] justinclift commented on #944
You're welcome. :smile:

Am compiling a Win64 SQLCipher build with FTS3/4/5 & JSON1 extensions enabled right now.  Would you have time to try it out when it's finished? (assuming it doesn't break during compiling :wink:)

[2017-01-26 16:27] schdub commented on #913
@innermous, is there any progress?

[2017-01-26 16:47] pmoorelegistek commented on #944
Oh great. Sure would be happy to.

(Incidentally I wish I knew SQLCipher existed two years ago because I would up making a custom SQLite VFS for encrypted databases in Windows. Works great but man was that painful…).

From: Justin Clift [mailto:notifications@github.com]
Sent: Thursday, January 26, 2017 10:20 AM
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: Peter N. Moore <

[2017-01-26 17:13] justinclift commented on #944
@pmoorelegistek Thanks.  Please give this a shot and let me know if the FTS bits are working ok:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-sqlcipher-2017-01-26-FTSv1-win64.exe

For that, the approach I used was adding the FTS5 and JSON1 defines to the default list for SQLCipher: https://github.com/justinclift/sqlcipher/commit/c04e7b9a8affa6cc25da9d06622e6

[2017-01-26 17:36] kehugter opened #948 "Change workspaces blocked in Cinnamon"
### Details for the issue

A running DB4S instance prevents changing the workspace in Cinnamon 3.2.6 on Debian testing. Keyboard and graphical shortcuts are affected.

It is actually possible to change workspaces by typing the keyboard shoutcut quickly enough. Movement between workspaces is then normal until the one displaying DB4S gets focus again.

The problem starts in one of the following comm

[2017-01-26 17:38] kehugter commented on #948
Must have misspelled "workspace" when I searched for duplicates, now I see that there's an open issue.

ping #934

[2017-01-26 17:39] #948 closed

[2017-01-26 17:40] kehugter commented on #934
From #948

The problem starts in one of the following commits

1ced89779353346548d2e71d8eb58dc4d278f1ca
b9e4433318efb869af494dd2c7631e0787248143
aa965ff7256bbf0dcb279ad90697c3ed9f56c203

1ced897 and aa965ff fail to compile in my machine, so I couldn't bisect the exact bad commit.

[2017-01-26 17:45] justinclift commented on #934
@kehugter Excellent, that's good info. :smile:

[2017-01-27 07:57] glawrence commented on #946
I agree @justinclift Unicode does need to be possible, so maybe we need an option/choice somewhere to control this

[2017-01-27 09:28] arjo1754 commented on #946
The same problem is in "import"
Thank you for fast response; On Sunday I shall send at least some
hundreds of mails so I need  (not a must) a solution ´til then. Is there
any way to copy and past all records in a table?
Best regards
Arne Johansson

Den 2017-01-27 kl. 08:57, skrev Geoff Lawrence:

[2017-01-27 09:30] awi1369 opened #949 "Right to left formatting of text is not retained when using 'Edit Cell' dialog"
i want save text in right side! but when i click Apply ,text save in left side!
i can not save it right side!
please see video,how can i  save in right side!?help me please
https://youtu.be/LmHSJrNqi6c

[2017-01-27 09:41] chrisjlocke commented on #946
SQLiteStudio supports Unicode.  might be worth a peruse...
https://sqlitestudio.pl/index.rvt

[2017-01-27 10:02] justinclift commented on #949
Interesting.  That definitely seems like a bug.

@awi1369 Was that with version 3.9.1?  If so, do you have time to try our latest nightly build?  The behaviour may be different in that. :smile:

* https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-2017-01-27-win64.exe

[2017-01-27 10:03] justinclift commented on #949
@SafaAlfulaij This might be of interest to you. :smile:

[2017-01-27 10:20] awi1369 commented on #949
@justinclift   same problem in  nightly build!  i can not save in right side!

[2017-01-27 10:36] justinclift commented on #949
Oh well. 😦   Thanks for checking @awi1369, that does help. :smile:

[2017-01-27 10:37] justinclift commented on #946
@innermous @schdub Any interest in updating the CVS export function to output Unicode? :smile:

[2017-01-27 11:18] MKleusberg commented on #942
Yeah, I don't there is much more that we can do right now. In order to support the foreign key tooltip + shortcut for queries in the Execute SQL tab we'd have to parse and understand SELECT statements and those can become quite complex. We'd need a mechanism to track which column in the results table comes from which column of which table in the database. It's the same effort that's needed to impl

[2017-01-27 11:47] MKleusberg commented on #935
We've just merged a PR by @schdub that implements this (using the ```1~5``` notation) :smiley:

@karim Can you test tomorrow's nightly build to see if it's working for you? :smiley:

[2017-01-27 11:51] MKleusberg commented on #226
One more thing: We need to update the wiki page on using the filters. There are two things that changed in the meantime:
1) We've added a range operator (```1~5```). See #939.
2) We've changed the default behaviour when no operator is specified. In the Wiki it says that for text a case-independent exact search is performed by default. But that isn't true anymore. What we do now is add ```%``` in t

[2017-01-27 12:22] SafaAlfulaij commented on #949
The problem is actually that sqlitebrowser doesn't set the direction for that textbox to LTR automaticly. It should do that as all other widgets. I'll check. I think it's because of the text formatting (It's a richtext widget).

And for the bug, it is not. This is the right and correct behaviour. You can't save in "Right side", because you started the text with LTR direction letter.
It doesn't mat

[2017-01-27 13:31] arjo1754 commented on #946
Yes but can't convert to .cvs or .txt, only to html
best regards
Arne Johansson

Den 2017-01-27 kl. 10:41, skrev Chris Locke:

[2017-01-27 13:40] innermous commented on #913
@schdub in my local branch.

[2017-01-27 14:27] MKleusberg commented on #946
@arjo1754 I've just tried this using the latest version and it's using the UTF8 format in the export... So I'll need your help debugging this:
1) Which version are you using? Have you tried the latest nightly build?
2) Can you download [this database](https://dev1.dbhub.io/x/download/mkleusberg/issue946.db?version=1) and try exporting the table in there? Does it produce the same error for you?
3)

[2017-01-27 14:37] MKleusberg opened #950 "Some issues with the plot feature"
Here are some issues @chrisjlocke found in the plotting feature testing the latest version from master. See PR #925 for details.

[code]

[2017-01-27 15:20] pmoorelegistek commented on #944
Sorry for the lag. Yeah FTS5 is working perfectly! I haven’t tried out more advanced features like ranking or highlighting but I have no reason to doubt they’ll work (or if they don’t it’s an SQLite problem and nothing to do with your code).

Thanks again, seriously.

From: Justin Clift [mailto:notifications@github.com]
Sent: Thursday, January 26, 2017 11:14 AM
To: sqlitebrowser/sqlitebrowser <sql

[2017-01-27 16:59] MKleusberg commented on #629
This should really be fixed I think :smiley: @lvbeck Can you test the latest version (3.9.1 or the nightly builds, whatever you prefer)? I'm pretty sure we quote all names using the ``` ` ``` quotes.

[2017-01-27 17:02] MKleusberg commented on #629
Oh no I'm sorry, I was wrong. For the SQL dump we take the CREATE statement as is. This means it's quoted in the SQL export just like it's quoted in the original database. But I can fix that :smiley:

[2017-01-27 17:11] MKleusberg commented on #629
@lvbeck Sorry for the confusion :smiley: If you're still interested in this, can you test tomorrow's nightly build and see if it's improving the situation for you? For triggers and views we don't have a chance to do this (yet) but tables and indices should be much better now.

[2017-01-27 17:27] arjo1754 commented on #946
Hello,
after export the textfile looks like this:
a
Ã¥
Det
dÃ¤r
tvÃ¥
Ã¶ver

I'm using version 3.9.1
QT version 5.7.0
SQLCipher version 3.11

Best regards
Arne Johansson

Den 2017-01-27 kl. 15:27, skrev Martin Kleusberg:

[2017-01-27 18:09] MKleusberg commented on #946
This does look like it's UTF8. So I'm guessing it's your editor that doesn't open it correctly. I don't know which editor you use but it probably has some way to manually set the encoding of the file to UTF8. Have you tried that?

To further narrow down the issue:
1) What do you get when you open this file? [test.txt](https://github.com/sqlitebrowser/sqlitebrowser/files/735961/test.txt) That's wha

[2017-01-27 18:18] arjo1754 commented on #946
I'm very interested and hope that it goes with the "import function to
Best regards
Arne Johansson

Den 2017-01-27 kl. 11:37, skrev Justin Clift:

[2017-01-27 18:38] MKleusberg commented on #940
Seems like a common issue with SQLite + Virtualbox:
https://forums.virtualbox.org/viewtopic.php?f=3&t=42404
https://forums.plex.tv/discussion/165867/ubuntu-on-virtualbox-w-shared-folders-sqlite-mmap-error
https://dba.stackexchange.com/questions/44156/disk-i-o-error-in-sqlite/80594
http://fossil-users.fossil-scm.narkive.com/muAXYMCp/problem-accessing-shared-folder-in-virtualbox

From the last link

[2017-01-27 19:47] justinclift commented on #944
Thanks @pmoorelegistek, that really helps.

I'll update the nightly build pieces for Windows, so everything has FTS3/4/5 & JSON1 included. :smile:

[2017-01-27 19:50] justinclift commented on #818
Closing this now, as it seems to be fixed. :smile:

(if that's not the case, this is welcome to be reopened)

[2017-01-27 19:50] #818 closed

[2017-01-27 19:52] justinclift commented on #942
@MKleusberg Should this be closed then?

[2017-01-27 20:01] justinclift commented on #940
@MKleusberg Ahhh, that definitely makes sense.

I guess we should close this now, as it's not a DB4S problem (and we're trying to get the issue count down :wink).

@jlmcgraw Are you ok to file a bug with the VirtualBox project?

&nbsp; &nbsp; https://www.virtualbox.org/wiki/Bugtracker

[2017-01-27 20:01] #940 closed

[2017-01-27 20:04] justinclift commented on #940
This seems potentially relevant:

&nbsp; &nbsp; https://www.virtualbox.org/ticket/10059

Not seeing any other tickets in their system about SQLite with shared folders.  Search page:

&nbsp; &nbsp; https://www.virtualbox.org/search?ticket=on&q=sqlite

[2017-01-27 20:04] lvbeck commented on #629
@MKleusberg it would be great if you can implement this feature(tables and indices are enough for me), however I am not able to test the nightly build this week, I will check later ASAP, thank you.

[2017-01-27 20:10] MKleusberg commented on #629
No worries :smiley: Just test it whenever you have the time for it. Thank you for your effort! :smiley:

[2017-01-27 20:13] MKleusberg commented on #942
Yeah, I guess we can close it. If you have the time you could open a meta issue for this instead to collect use cases for a full SELECT statement parser. This here is one of them, the two issues I've mentioned above are others, and maybe there are more.

[2017-01-27 20:13] #942 closed

[2017-01-27 21:00] justinclift commented on #781
Updated the windows build scripts just now.

The nightly builds on Windows - both with and without encryption -now include the FTS3, FTS4, FTS5, and JSON1 extensions.

[2017-01-27 21:00] #781 closed

[2017-01-27 21:10] justinclift commented on #677
@bhj @thiagosantos @slidertom @DjPasco Good news.  The nightly builds on Windows - both with and without encryption -now include the FTS3, FTS4, FTS5, and JSON1 extensions.

They'll be in the next major Windows releases too. :smile:

[2017-01-27 21:10] #677 closed

[2017-01-27 21:12] justinclift commented on #844
@dsimcg Good news.  The nightly builds on Windows - both with and without encryption - now include the FTS3, FTS4, FTS5, and JSON1 extensions.

They'll be in the next major Windows releases too. :smile:

[2017-01-27 21:42] MKleusberg commented on #790
@gjijon Which pragmas do you mean? All of them, including e.g. the ```user version``` pragma? Or just some of them, e.g. the ```foreign keys``` pragma?

The reason I'm asking is that some pragmas aren't stored in the database file at all by SQLite, they are only saved for the current connection. So closing and opening the database again will reset them. Foreign keys are one example. In this case t

[2017-01-27 21:54] MKleusberg commented on #481
Just tested this using the latest version and it seems to work. I think we've fixed this quite some time ago to be honest. Are we ok to close this issue? :smiley:

[2017-01-27 21:57] MKleusberg commented on #478
Closing this because it's a really old issue and I believe it is fixed. If you can still reproduce this in the latest version, please re-open this issue, @thetazzbot :smiley:

[2017-01-27 21:57] #478 closed

[2017-01-27 22:02] MKleusberg commented on #469
Closing this because it's an old issue without many updates and I'm pretty sure it's fixed :smiley: If you feel like I've closed this issue too hastily please reopen it :smiley:

[2017-01-27 22:02] #469 closed

[2017-01-27 22:19] MKleusberg commented on #513
Closing this because it's an old issue without any updates recently. If this isn't working for you as expected, please reopen this issue. :smiley:

[2017-01-27 22:19] #513 closed

[2017-01-27 22:20] MKleusberg commented on #499
Closing this because it's an old issue without any updates recently. If this isn't working for you as expected, please reopen this issue. :smiley:

[2017-01-27 22:20] #499 closed

[2017-01-27 23:36] justinclift commented on #481
Hmmm, not sure.  @tonypdmtr ?

[2017-01-28 00:44] tonypdmtr commented on #481
Still does not work with the keyboard -- moving from cell to cell does not update the edit box.  It only with mouse clicks.

The CTRL-ENTER issue is OK.

(BTW, what happened to the statically built daily releases?)

[2017-01-28 00:52] tonypdmtr commented on #627
I see the problem now.  I guess it's a non-issue then other than it's not obvious to the user why this is happening.

So, if the whole row is automatically selected when pressing 'New Record', it could also appear as selected (all highlighted -- instead of just the row number) just as if one selected the row manually by clicking on the row number.  This would at least make it obvious that the whol

[2017-01-28 00:54] justinclift commented on #481
@tonypdmtr We had to drop the statically built window's nightlies a few months ago, as we changed to use Qt5 only.  The static builds relied on Qt4, so that approach no longer worked.

Thus new nightlies.  Dynamic builds though.  The build script we use for Windows is here:

&nbsp; &nbsp; https://gist.github.com/justinclift/11cc926f214e882c8162f97c53929c07

If you have ideas on how to tweak/change

[2017-01-28 02:43] karim commented on #935
@MKleusberg Thanks. Yes I will try it and report back.

[2017-01-28 02:53] justinclift commented on #892
Closing this due to lack of response. 😦

[2017-01-28 02:53] #892 closed

[2017-01-28 02:55] justinclift commented on #542
Closing this, as it really sounds like a data problem and not a bug in DB4S.

[2017-01-28 02:55] #542 closed

[2017-01-28 02:58] justinclift commented on #354
Closing this due to lack of response.  It's pretty likely (but not guaranteed) to not be a problem with our upcoming release due to Qt5.

If it does still happen, this issue is welcome to be reopened. :smile:

[2017-01-28 02:58] #354 closed

[2017-01-28 02:59] justinclift commented on #243
Looking back over this... @jungle-boogie how did you rearrange the column order during import?

[2017-01-28 03:00] justinclift commented on #213
Closing this due to lack of response.

[2017-01-28 03:00] #213 closed

[2017-01-28 03:07] justinclift commented on #720
As a data point, the [CSV RFC](https://tools.ietf.org/html/rfc4180) doesn't define a way to encode binary data.

Wonder what it would take to create a follow up RFC, filling in some of these edge cases we've noticed are missing:

* encoding of binary data (eg probably base64 encode it)
* clearly establish NULL vs "no value provided for this field" (so use the default value): https://github.com/sql

[2017-01-28 03:10] justinclift commented on #929
Closing this due to lack of response. 😦

[2017-01-28 03:10] #929 closed

[2017-01-28 03:10] justinclift commented on #332
Closing this due to lack of response. 😦

[2017-01-28 03:10] #332 closed

[2017-01-28 03:11] justinclift commented on #504
Closing this due to lack of response. 😦

[2017-01-28 03:11] #504 closed

[2017-01-28 03:11] justinclift commented on #789
Closing this due to lack of response. 😦

[2017-01-28 03:11] #789 closed

[2017-01-28 03:12] justinclift commented on #817
Closing this due to lack of response. 😦

[2017-01-28 03:12] #817 closed

[2017-01-28 03:13] justinclift commented on #847
Closing this due to lack of response. 😦

[2017-01-28 03:13] #847 closed

[2017-01-28 03:14] justinclift commented on #879
Closing this due to lack of response. 😦

[2017-01-28 03:14] #879 closed

[2017-01-28 03:14] justinclift commented on #882
Closing this, as there's nothing to really do at the moment. :smile:

[2017-01-28 03:14] #882 closed

[2017-01-28 03:15] justinclift commented on #889
Closing this due to lack of response. 😦

[2017-01-28 03:15] #889 closed

[2017-01-28 03:15] justinclift commented on #927
Closing this due to lack of response. 😦

[2017-01-28 03:15] #927 closed

[2017-01-28 03:18] justinclift commented on #949
@SafaAlfulaij Thanks. :smile:

And yeah, if you get this figured out we're happy to merge a PR. 😁

[2017-01-28 06:36] prutz1311 opened #951 "Foreign key editing widget is too small"
### Details for the issue
When I create or modify table, foreign key field wigdet size is too small:
![image](https://cloud.githubusercontent.com/assets/6525383/22394812/987c78a0-e53b-11e6-9cbb-83761708c1e3.png)

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using D

[2017-01-28 06:57] justinclift commented on #951
The same thing happens on OSX too.  It was introduced recently with the new foreign key drop down widgets).

We just haven't gotten to figuring out better sizes for those widgets.

If you have the time and interesting to investigate it, we'd welcome a PR. :smile:

[2017-01-28 09:03] chrisjlocke commented on #213
Just a nod that if you have a blank CR on the end of a SQL statement, DB4S throws up this 'error'.
Appreciate this is now closed, but if it ever gets reopened and this is referred to, this note'll be found! ;)

[2017-01-28 09:04] arjo1754 commented on #946
Hello, I've tested this and SQLiteStudio deliver a file with the right
characters but it's not a formatted csv-file as it is in the
SQLiteBrowser. But thanks at least I can use email-addresses and names
in my email delivery system
Best regards
Arne Johansson

Den 2017-01-27 kl. 10:41, skrev Chris Locke:

[2017-01-28 10:02] chrisjlocke commented on #478
This is reproducable if the SQL contains an extra CR or blank line.

So this works great:

![image](https://cloud.githubusercontent.com/assets/7872218/22395810/a82e8ba8-e540-11e6-8e08-a68e09161ebb.png)
![image](https://cloud.githubusercontent.com/assets/7872218/22395813/b73b0e1e-e540-11e6-8e0d-07b5ab5c28d9.png)

While this doesn't
![image](https://cloud.githubusercontent.com/assets/7872218/2239581

[2017-01-28 10:20] justinclift commented on #946
Hmmm, that's weird.

@arjo1754 Are you able to send us a working csv produced by SQLiteStudio?

We can probably figure out the difference from that. :smile:

Also, what happened when you tried @MKleusberg's two files?

[2017-01-28 14:43] karim commented on #935
@MKleusberg I tested it and it is working very nice. Thanks!

@schdub Thanks a lot for this! 😄

[2017-01-28 16:21] prutz1311 commented on #951
I can only make it look like this:
![image](https://cloud.githubusercontent.com/assets/6525383/22397962/dc074c6e-e58e-11e6-94d1-a21994588d78.png)
No idea though how to align these boxes to the top.

[2017-01-28 17:12] innermous commented on #951
@justinclift it was not "introduced", table view was malformed from the beginning, there's nothing wrong with delegate, it inherits cell's geometry.

[2017-01-28 17:27] arjo1754 commented on #946
I'll send you two files one from sqlitebrowser which is a right
formatted csv-file with wrong characters. The other file is not a real
csv-file from sqlitestudio but the characters are right.

I have upgraded with neightly build so now
I'm using version 3.9.99
QT version 5.7.0
SQLCipher version 3.16.2

This is the result of @MKlusenberg's files:
Hello,
after export the textfile looks like this:
a

[2017-01-28 22:11] innermous commented on #946
You just compromised peoples emails didn't you

[2017-01-29 00:41] justinclift commented on #946
Yep, that added people's email details right into the ticket, publicly displaying the lot. 😦  I've just manually removed them.

@arjo1754 That turned out to not be a great idea.  Would you be ok to email the files to me instead (justin@postgresql.org), and I'll forward them to Martin.

[2017-01-29 00:43] justinclift commented on #951
@innermous Sorry.  That was a misunderstanding on my part then. 😦

[2017-01-29 10:53] swinster commented on #789
@justinclift apologies for being tardy on this. Yes, this issue was fixed.- current version 3.9.1

[2017-01-30 03:37] justinclift commented on #789
Thanks @swinster. :smile:

[2017-01-30 03:40] justinclift commented on #935
@chrisjlocke Any interest in updating the Filters page on the wiki with this new operator? :smile:

[2017-01-30 06:11] jungle-boogie commented on #243
@justinclift,

I think I'm mistaken.

I think what I was saying is that within a table I can change the column order, but I cannot change a table order of an import. Sorry about that.

best,
jb

[2017-01-30 06:52] corymalcolmtaylor opened #952 "Trouble installing database in an Appcelerator Alloy app on Android"
### Details for the issue
I created a tiny DB with this application on OSX Sierra.  I installed the app into my appcelerator titanium app and it worked in the iOS sim.  However on the Android emulator and on the android device it does not seem to get recognized - no instal error is reported but the table is missing.  Is the file produced by this application incompatible with android?

### Useful e

[2017-01-30 07:17] dsimcg commented on #844
Awesome!

[2017-01-30 07:53] chrisjlocke commented on #952
Are you sure Android is looking at the right place?  sqlite is a bit 'weird' in that if it can't find the file, it tends to create a blank file.  The file structure in Android is also quite 'involved' with quite nested 'directories'.

The file produced by DB4S is in 'sqlite' format, so should be openable by any version of sqlite.

[2017-01-30 08:03] corymalcolmtaylor commented on #952
Not sure, but I tried adding the db file in many different places with no luck.     Some people say to put it in the assets folder, some in the Resources folder, some say the lib folder, other in the same folder as my js-script.  If I was just writing for Android I would include the sql to create the  db but the appcelerator best practise is to include the database if it is small so I'm trying tha

[2017-01-30 09:51] chrisjlocke commented on #952
So check the filesize of the database on Android.  If sqlite has created the file, you may be able to see the database, but it will be 0 bytes long.

[2017-01-30 09:57] chrisjlocke commented on #935
Just updating the wiki, but ... well, its not working for me....

![image](https://cloud.githubusercontent.com/assets/7872218/22418793/62f771b0-e6d2-11e6-88ab-9e090208a9fe.png)

1~6 shouldn't be including 11 should it? If I change it to 2~6, I get the right result.

[2017-01-30 10:03] corymalcolmtaylor commented on #952
I was able to run a create table statement on the database after opening it so a database is getting created but not the one I am trying to install.     In appcelerator the Ti.Database.install(dbfilename) method will create an empty database if it fails to install the one given as dbfilename.  So if the file format is somehow not compatible or if the file is not found it will create the empty db.

[2017-01-30 10:36] chrisjlocke commented on #935
Wiki page updated.  👍

[2017-01-30 11:33] MKleusberg commented on #935
@chrisjlocke I've stumbled upon that, too :wink: But that's actually because of SQLite's treatment of data types. ```Field3``` is probably of type ```text``` in your database. If you change it to ```integer``` SQLite it'll work as expected. That's just how SQLite works: you can save any kind of data in any column, no matter the column's data format. But as soon as you're querying the table the dat

[2017-01-30 11:43] MKleusberg commented on #951
Because it hasn't been (explicitly) mentioned here before I'll add another observation of mine.

When editing a foreign key it looks like this for me:
![screenshot_20170130_123615](https://cloud.githubusercontent.com/assets/3153504/22421798/55f65438-e6e9-11e6-809e-8e1132aa0122.png)
The height is a little smaller than it could be but that doesn't bother me much. However, if I click on another row t

[2017-01-30 11:47] chrisjlocke commented on #935
Good spot - yup, the field type was text.  `*blush mode on*`.  Doh! ;)
Changing it to integer works as required.  (`*flushes head down toilet*`)

[2017-01-30 18:31] jungle-boogie opened #953 "views crashes sqlitebrowser by changing tabs"
### Details for the issue

Installed latest Windows build:
DB Browser for SQLite-2017-01-30-win64.exe

Reproducible steps:

 0. Opened up a database I created a few months ago
 1. click browse data
 2. Change to views table
 3. Change to database structure tab back to browse data
 4. Crashing as soon as browse data is selected.

### Useful extra information

My simple create sql:
[code]

#### I'm

[2017-01-30 18:39] jungle-boogie commented on #953
Okay, crash can happen without the refresh procedure and steps above have been modified to reflect this.

[2017-01-30 20:23] MKleusberg commented on #953
Thanks for reporting this, @jungle-boogie! This was caused by some refactoring I did recently and which needs some thorough testing. So I'm quite happy you've reported this issue :smiley: I've just pushed a commit, so it should be fixed in the next nightly build. Can you test that for me and confirm it's working even in your database? Also, if you should find any other problems like this one, plea

[2017-01-30 20:24] MKleusberg commented on #935
No worries, it took me some time to figure this out, too :smiley: And it wasn't even the first time this confused me :wink:

[2017-01-30 20:40] jungle-boogie commented on #953
Hi @MKleusberg, happy to help. Out of curiosity, when did you make the changes? Just curious how many nightly builds escaped before I caught this.

I'll keep this issue opened until tomorrow and update with the results.

thanks!

[2017-01-30 21:05] MKleusberg commented on #953
Thanks a lot :smiley:

I've worked on the refactoring from 20/01/2017 till 23/01/2017. This bug was probably introduced by commit d236f6df9f09c9969e8c75f6f4728048b6da7eff, so it's in there since 23/01/2017 :wink:

[2017-01-30 21:43] mtissington opened #954 "insert row does not use default when function"
CREATE TABLE `test2` (
	`id`	TEXT NOT NULL DEFAULT (randomblob(6)),
	`name`	INTEGER,
	PRIMARY KEY(`id`)
);

Browse data and the click new record, default has wrong value.

[2017-01-31 03:48] karim commented on #935
Maybe DB4S should provide a hint when the `~` (range) operator is being used on a column that is not an `INTEGER`. A tooltip, modeless dialog, or changing the background color of the column's filter?

This should work also with `>` (greater than) and `<` (less than) operators, since they are only used with numbers.

[2017-01-31 15:21] justinclift commented on #954
Interesting.  Which version is this happening with, and on which OS? :smile:

If you're on Windows or OSX, would you be ok to try the latest nightly build? (download locations are listed on our front page)

Asking because we've improving our constraint and foreign key handling code recently, so there's a decent chance this is already fixed. 😁

[2017-01-31 15:23] mtissington commented on #954
Its on Windows with the latest nightly build .99

[2017-01-31 15:27] justinclift commented on #954
@MKleusberg This issue sounds like it'll be of interest to you.

@mtissington Thanks. :smile: The .99 bit is kind of placeholder text to signal "this is a development build".  We really need to get that updated at some point so development builds shows the git commit hash they were built from instead (much more useful). :wink:

[2017-01-31 15:47] chrisjlocke commented on #954
Or the date of the build.... that must be really simple to do?

[2017-01-31 15:52] MKleusberg commented on #954
This is actually easy to fix but that fix comes with a caveat. Suppose having this table layout:
[code]
In this case I'm not so sure we want to use the default value because then the 'Add record' button stops working after the first insert because you can't use the value 1 multiple times. I don't think that's what users expect for table schemas like that either. So we're in a dilemma here.

I thin

[2017-01-31 15:54] MKleusberg commented on #954
@chrisjlocke Build date sounds good. We used to have the git commit hash in there but it never really worked that well. I don't remember the reason why we deleted it but I do remember how I happy I was to finally get rid of all the build script magic that was needed :wink:

[2017-01-31 15:56] justinclift commented on #954
@MKleusberg You sure we ever got it working (the git hash thing)?  /me really doesn't remember it :wink:

[2017-01-31 15:59] justinclift commented on #954
Well, I guess it depends on what it would take to get a useful string (date, git commit hash, etc?) turned into a string that can be compiled in at build time.

If we need to use OS specific stuff (eg sh on *nix, batch file stuff on Win) it could get tricky.

[2017-01-31 16:05] MKleusberg commented on #954
@justinclift See commit 5c1347bb927e72227af1e744f758f5dd07adf75a, 441d4e79b7d4f8cac4256b6f9369045ecabe3338 and 69a6685eaae0bbf33e76338c309f1e34170b08c9 for example. We definitely tried to get it working :smiley: Seems like it only ever worked using the cmake build though.

[2017-01-31 16:10] jungle-boogie commented on #953
This is fixed! Thanks for the quick fix.

[2017-01-31 16:10] #953 closed

[2017-01-31 16:13] MKleusberg commented on #953
Awesome :D Thanks again for reporting this!

[2017-01-31 16:26] chrisjlocke commented on #954
Does it have to though?  In VB, 'it' knows details about itself (version, current directory, etc) and as such its full path.  This is passed to the IO to determine the last modification date of said file...
Dont' know if any of that can be cross-platform.....  *mind boggles, eyes glaze*

[2017-01-31 16:33] justinclift commented on #954
@MKleusberg Thanks. :smile:

[2017-01-31 16:33] justinclift commented on #954
@chrisjlocke Yep, there might be compiler or build system variables we could use.  That would be good. :smile:

[2017-01-31 16:34] mtissington commented on #954
If the user (me) is intelligent enough to create a default value that is random (and possibly a constraint) then do you need to check for it causing duplicates?

If you do, instead of trying to parse it and check if it is random can you do an if exists first?

[2017-01-31 17:01] mtissington opened #955 "check constraint fails but import succeedes"
I have the following sql script which when I load it, it successfully commits.
There should be an error. The first INSERT INTO fails with a check constraint and the record is ignored.
Expected result is for the transaction to fail.

BEGIN TRANSCTION;
CREATE TABLE `types` (
	`uuid`	TEXT DEFAULT (lower(hex(randomblob(4))||'-'||hex(randomblob(2))||'-'||hex(randomblob(2))||'-'||hex(randomblob(2))||'-'

[2017-01-31 17:18] MKleusberg commented on #954
@mtissington The random value is fine. Especially in your case collisions aren't very likely either. But what I'm worried about is that the same code (on our side) also had to handle non-random default values that are used in primary key or unique columns.

So I'm wondering what sort of logic I could implement to support your case (maybe even ignoring collisions) but also to not screw it up for no

[2017-01-31 17:49] mtissington opened #956 "utf16 displayed incorrect in browse"
I created a table and insert a row with the following

CREATE TABLE `characterSets` (
	`name`	TEXT NOT NULL UNIQUE,
	`characters`	TEXT NOT NULL,
	PRIMARY KEY(`name`)
);
INSERT INTO `characterSets` (name,characters) VALUES ('Line Separators', char(10, 11, 12, 13, 133, 8232, 8233));

When I browse the row it shows like the attached png. This is not correct.

![capture](https://cloud.githubuserconten

[2017-01-31 18:03] mtissington opened #957 "import sql and begin transaction"
I maybe confused here .. I have an sql file with multiple CREATE TABLEs

BEGIN TRANSACTION;
CREATE TABLE ....
CREATE TABLE ....
CREATE TABLE ....
COMMIT;

One of the CREATE TABLE statements has an error.
When I execute the sql (using Import) I get the error, however the other tables have been created.

Why?

I would expect the entire transaction to be rolled back.

[2017-01-31 18:19] MKleusberg commented on #955
You're right! There are multiple problems with our SQL import. These couple of lines you've posted there were quite valuable for me because they revealed three problems at once. So thanks a lot for this :smiley:

The main problem here and for #957, too, is that we have to remove all transaction bits from your SQL code because DB4S always opens its own transaction right after opening a database fil

[2017-01-31 18:20] MKleusberg commented on #957
Same here as in #955. Should be working with tomorrow's nightly build. Can you download that tomorrow  (or any later day) and check if it's improving things for you? :smiley:

[2017-01-31 18:28] MKleusberg commented on #956
How does it look when you double click that cell to open the Edit cell dialog? Can you copy or screenshot the value from there, including all the line breaks?

[2017-01-31 19:13] mtissington commented on #956
Here you go (fyi http://unicode.org/standard/reports/tr13/tr13-5.html)

![capture](https://cloud.githubusercontent.com/assets/6769116/22480329/f6738232-e7e8-11e6-8012-0cabd2e39069.PNG)

[2017-02-01 14:14] mtissington commented on #957
Unfortunately it has made things worse. Now I get a rollback without an error. See the attached.

I think there is still an implied transaction. My sql file has a BEGIN TRANSACTION and COMMIT in it, so a rollback on error is to be expected. However when I remove the transaction I still get the rollback  error which should not happen. If I run the previous build it seems to load the sql just fine (

[2017-02-01 17:42] MKleusberg commented on #957
Hm, sorry about that! I have just made a change which should work around this 'not an error' error. Do you still have the original SQL file causing this error somewhere? And if so can you check again with tomorrow's nightly build? If it still doesn't work it'd be interesting to know what's going on around statement number 30, probably at the end of the file.

[2017-02-01 17:45] mtissington commented on #957
OK, will check again tomorrow – thanks.

Should I raise another issue, that Import should output to the log I think.

From: Martin Kleusberg [mailto:notifications@github.com]
Sent: 01 February 2017 17:43
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: Michael Tissington <mail@oaklodge.com>; Author <author@noreply.github.com>
Subject: Re: [sqlitebrowser/sqlitebrowser] import

[2017-02-01 18:03] MKleusberg commented on #957
Thanks for testing! :smiley:

If you think the import should print to the SQL log feel free to open a new issue for that. The problem here is that unfortunately it's not so easy to do that. When you're importing, say, 100k rows, printing them all to the SQL log would cost way too much performance. But maybe we can discuss a solution for this in a new issue :smiley:

[2017-02-01 18:06] MKleusberg commented on #478
Good news. Thanks to the same error message appearing in #957 and the comment by @chrisjlocke (which now seems to be deleted) I have managed to get a 'not an error' error message in the Execute SQL tab :smiley: I have fixed this particular case now, so I'm more or less confident that this is finally fixed entirely now.

[2017-02-02 12:04] chrisjlocke commented on #478
You stated you couldn't reproduce it, but I 'found a way' (nature always finds a way...) but I realised I was using v3.9.1.  As soon as I tested the latest nightly, I couldn't reproduce it, so deleted the comment..... :)

[2017-02-02 13:06] innermous commented on #951
I can't reproduce it :(

[2017-02-02 15:03] mtissington commented on #957
This error still exists and is not fixed (sorry to say)

Please see the attached, the error should be that a CHECK constraint has failed.

[Test.sql.txt](https://github.com/sqlitebrowser/sqlitebrowser/files/748068/Test.sql.txt)

In addition when I remove the BEGIN/COMMIT Transaction statements in the sql, the load is still rolled back. This should not happen. The Load process should follow what is

[2017-02-02 20:08] MKleusberg commented on #478
@chrisjlocke No worries :D It helped me somehow provoking a 'not an error' error, so it definitely helped me ;)

[2017-02-02 20:14] MKleusberg commented on #547
This should be fixed by now :smiley: Can you double check using the latest version?

And yes, the highlighting something and pressing F5 is an intentional, but undocumented feature. Maybe it makes sense having a Wiki page for each of the main tabs (and maybe the dialogs) mentioning the shortcuts and hidden features.

[2017-02-02 20:38] MKleusberg commented on #588
I agree, good idea :smiley: That's why I've finally implemented it :wink: If you're still around, @tonypdmtr, are you interested in testing tomorrow's nightly build to see if it's working for you?

[2017-02-02 20:38] MKleusberg commented on #617
Any update on this? Basically there are two ways to work with multiple databases:
1) Open a second instance of DB4S and open the other database in there.
2) Attach another database (as mentioned above) to the main connection.

The problem with approach 2 is that (at least for now) the attached databases don't show up in the UI. But that's a different issue, I think :smiley:

[2017-02-02 20:48] MKleusberg commented on #620
Just pushed a commit that reduces the margin in there. There's more we could do to make this look better but I'm not sure we should. One reason is that this would mean the Database Structure tab would start looking different from the rest of the application. Another reason is that Qt does all sorts of things to make applications appear in different ways on different platforms and I'm not sure how

[2017-02-02 21:12] MKleusberg commented on #536
I've just made a commit that adds two new shortcuts for this. For now I have decided to set them to ```Ctrl + PageUp``` and ```Ctrl + PageDown``` because in my opinion Ctrl+Arrow keys feels like it's about selecting table cells (even though it doesn't at the moment), not like changing the table altogether. But that's just my opinion. If a majority feels like it should be the arrow keys I can alway

[2017-02-02 22:29] tonypdmtr commented on #588
I sure am.

[2017-02-02 22:43] MKleusberg commented on #588
Awesome :D By the way, I totally forgot to mention: you have to search for ```=NULL``` (all capital letters) for this.

[2017-02-03 00:53] Logistes opened #958 "Useful to have a way to enter a full path rather than have to navigate"
Since I am using sqlitebrowser to help me develop iOS applications in Xcode using Core Data, the pathnames to the sqlite files are demoralisingly long and hard to remember. I can easily print the full pathname in the console and then copy it into the paste buffer. I would like sqlitebrowser to have a place for me to copy and paste that path and open the database directly.

At present the only way

[2017-02-03 08:17] chrisjlocke commented on #588
Is this in the current nightly?  Doesn't seem to work for me...

![image](https://cloud.githubusercontent.com/assets/7872218/22584235/35ab4186-e9e9-11e6-8d74-f4b450cd6f40.png)

[2017-02-03 08:24] chrisjlocke commented on #547
But then they would no longer be hidden.... 😉

[2017-02-03 08:39] chrisjlocke commented on #547
I'll look at adding some Wiki pages.
This does indeed work in the latest nightly.

Just one slight query.  Executing the current line / SQL enables and then disables the 'Write Changes' and 'Revert Changes' buttons.  Is this correct?  Seems unnecessary and slightly confusing...

[2017-02-03 08:40] #547 closed

[2017-02-03 10:10] chrisjlocke commented on #958
I was thinking you could 'cheat' by using the 'history' of the last 4 opened files.... In Windows this is stored (I believe) in the registry.  Not sure where its stored on Apple devices...
My kludge would be to edit the history, then simply click the file in DB4S...

[2017-02-03 10:44] abbasshah17 commented on #866
Hi, I think I might be facing a similar issue, I pulled SQLCipher DB (created by an Android App) from an Android Box and tried to open, getting the same "Please enter the key used to encrypt the database" dialog over and over again, even though I have supplied it with the correct passkey. I am not setting page size, so I put page size 1024 in the dialog.

Could this be the same issue or a differen

[2017-02-03 15:54] MKleusberg commented on #547
@chrisjlocke You're right :confused: Just tried two workarounds and neither of them helped. What wonders me most is that everything's so slow that you can actually easily see it.

[2017-02-03 15:57] MKleusberg commented on #588
It definitely should be in there. I've also just tried this again and for me it's working. Very weird. Are you sure you're using the latest nightly build?

[2017-02-03 15:58] MKleusberg commented on #958
At least on Linux you can just click File -> Open Database and copy the whole path including file name into the file name box at the bottom, then click OK and it opens it no matter what directory you are in. Have you tried that already?

[2017-02-03 16:08] MKleusberg commented on #866
@abbasshah17 Hard to say what's the problem there. We have no chance of finding out what exactly is wrong when failing to open an encrypted database. What sort of Android app are you using? Maybe we can find out what encryption settings they are using.

[2017-02-03 16:26] MKleusberg commented on #627
Isn't that the case already? When I click Add Record the entire row is selected and highlighted just like when clicking the row number manually.
Another idea would be to only select the first column of the newly added row. This way the auto resizing won't happen. It would also make more sense for putting data into the row: when all columns are selected I can't just start typing and Tab-bing throug

[2017-02-03 16:31] MKleusberg commented on #951
Just pushed an experimental patch for this. Can you try again with the latest version from master, @prutz1311? No guarantees it's going to get any better with that though :wink:

[2017-02-03 16:47] MKleusberg commented on #635
Sounds like the focus problem is the same as in #934. But the bi-sected commits mentioned there are from a later date. Maybe it's a connection of multiple things causing this behaviour, I don't know. Either way, if anybody feels like bi-secting this (earlier) problem, *please* do so :smiley:

[2017-02-03 16:48] MKleusberg commented on #934
Just quickly mentioning issue #635 here which seems to describe a similar problem (see the last couple of comments). However, that issue is older than the commits mentioned by @kehugter. No idea how to explain this but maybe this is some valuable input for somebody :smiley:

[2017-02-03 17:14] prutz1311 commented on #951
Now it fits perfectly on Xubuntu 14.04.5:
![image](https://cloud.githubusercontent.com/assets/6525383/22600777/1acc7664-ea4d-11e6-9fb7-4cb37c0142b2.png)
Not sure however what it looks like on other systems. We probably also need feedback from @innermous .

[2017-02-03 17:15] #951 closed

[2017-02-03 17:28] chrisjlocke commented on #588
Sorry, I apologise. Downloaded the last nightly, but the last nightly was yesterday's... there doesn't seem to be a nightly for this morning. Didn't look that closely at the date...

[2017-02-03 18:15] steda112 commented on #892
Dear Justin,

sorry for not responding - to little time, I´m sorry. Thank you very
much for your help and support.

Regards,

Stefan

Am 28.01.2017 um 03:53 schrieb Justin Clift:

[2017-02-03 20:28] MKleusberg commented on #951
Thanks for testing this so quickly, @prutz1311! :smiley: I guess this should work on all platforms then. For me, the second time I open the foreign key editor it's still a little smaller than the first time, but only very slightly and only sometimes. So that's no big problem for me.

[2017-02-03 21:53] tonypdmtr commented on #627
In latest build I just tried, only the row number is highlighted when pressing "Add Record".  The entire row is highlighted only after starting the column resizing, which is too late as you have already messed up all other rows from their previous size.

[2017-02-03 21:58] tonypdmtr commented on #588
I tried just now with latest available download, and it does not work.

[2017-02-04 00:45] roman-ku commented on #814
Heh, this hack/workaround fixes the issue: https://forum.videolan.org/viewtopic.php?t=121272#p423989

[2017-02-04 12:00] Logistes commented on #958
Thanks for the suggestion. I'm on a Mac. The trouble is that in the app I
will be developing, the paths are going to change frequently and each
simulator has a different path.

On 3 February 2017 at 20:11, Chris Locke <notifications@github.com> wrote:

[2017-02-04 12:01] Logistes commented on #958
I'm on a Mac, and there is unfortunately no such text box.

On 4 February 2017 at 01:58, Martin Kleusberg <notifications@github.com>
wrote:

[2017-02-04 15:20] chrisjlocke commented on #588
Unfortunately, as per my message above, the nighties are temporarily unavailable. They be broke. Hopefully normal service will be resumed shortly.

[2017-02-04 15:52] justinclift commented on #588
Sorry for the problem with the nightlies over the last 2 days.  They get built on a box here at my house... and the internet gateway died.  Seems like a hardware problem.

Things should be ok again from tomorrow, as the gateway is getting replaced presently. (typing this message through it, but needs more testing)

[2017-02-05 16:29] MKleusberg commented on #226
Just added a new wiki page listing the more hidden keyboard shortcuts that I know of: https://github.com/sqlitebrowser/sqlitebrowser/wiki/Keyboard-shortcuts Feel free to extend it :smiley:

[2017-02-05 16:31] MKleusberg commented on #588
Thanks for testing! :smiley: Closing this issue then. If you should stumble upon any problem with this, feel free to re-open it anytime.

[2017-02-05 16:31] #588 closed

[2017-02-05 18:46] zbZippy commented on #956
what shows browser down on the right lower corner? UTF...?

[2017-02-05 18:52] mtissington commented on #956
I thought that was a good question - it was UTF8 now it it UTF16le and the result is the same.

[2017-02-05 23:56] tonypdmtr commented on #536
Seems OK.

[2017-02-07 12:18] Phil1988 opened #959 "Export/Import problem"
### Details for the issue

I have 2 Databases as *.db file that I want to merge.

On the first Database I use the export function (as SQL file instead of CSV) and export all tables I want, with NO "INSERT INTO" and NO "Multiple VALUES" seleced.
In the dropdown I chose "only data export" and export it.

In the 2nd Database I try to import as SQL file and it runs without any messages/hints/problems.

[2017-02-07 14:07] Phil1988 commented on #959
I tried the latest nightly (3.9.99) and get this error:

![error](https://cloud.githubusercontent.com/assets/6054234/22694338/2395c35c-ed47-11e6-9d42-01dfd1703092.PNG)

[2017-02-07 18:25] justinclift commented on #875
Sorry for the delay, somehow I'd just not noticed this issue.

With the CoreData error you mention, what's the situation where it happens?  (just trying to understand the perspective you're coming from better) :smile:

[2017-02-07 18:52] justinclift commented on #959
Thinking about this, I'm not completely understanding the process you're using.  It sounds like you're exporting the first database as a SQL file (no problem there), but there's no mention of how you're exporting the 2nd one.

As a general thought, the error you're mentioning ***seems*** like the kind of thing that happens when an exported CVS file doesn't have the correct delimiters.  (eg they're

[2017-02-08 05:53] Phil1988 commented on #959
hey @justinclift ,
I didnt mention of exporting the 2nd database because I didnt export this.

Maybe my way is wrong but I thought I could go like this:
1. Export the first database (as SQL file)
2. Imtort the first database (as SQL file) into the 2nd database
3. Save as new database.
4. Merging completed :)

I have no idea what to change on the export process to work properly.

If I export the fi

[2017-02-08 17:35] schdub commented on #959
Hello, @Phil1988. Could you send me all necessary files (*.db and/or *.sql) to reproduce this issue?

[2017-02-09 06:59] waqas-ansari opened #960 "Exclude HTML tags and some UNICODE Characters while searching in SQLite using REGEXP"
I am working with Arabic Language saved in UNICODE Format in SQLite. I want to implement a search. But there's a problem.

Let's say the text is

[code]

And it is stored in SQLite Database. Now I want to search `html`, it will return the result and if I search  `وامر` it won't return a result because in actual text, it is `وَاْمُرْ` (with these extra UNICODE).

I want to ignore all HTML tags and

[2017-02-09 07:17] justinclift commented on #960
As a general thought, this seems like a general SQL question rather than something specific to DB4S.

What you ***probably*** should do is ask on the sqlite users mailing list:

&nbsp; &nbsp; http://mailinglists.sqlite.org/cgi-bin/mailman/listinfo/sqlite-users

There are many knowledgable & helpful people there, and it's very likely you'll receive good suggestions/advice. :smile:

[2017-02-09 07:21] waqas-ansari commented on #960
Thank you for guiding me. I will definitely do so.

[2017-02-09 07:23] justinclift commented on #960
You're welcome. :smile:

[2017-02-09 07:23] #960 closed

[2017-02-09 23:37] justinclift commented on #959
@Phil1988 If you're ok with sharing the files with @schdub (or any other databases that give the same problem), he's very likely able to help. :smile:

[2017-02-10 14:28] Phil1988 commented on #959
The problem is that I dont have any other databases/files to reproduce this issue and the databases I am trying to merge are Whatsapp databases with a lot of private data that I dont want to share.

Is there anything else I can do, to help you helping me? :D

[2017-02-10 16:25] schdub commented on #959
@Phil1988, could you send to me only schema of your tables, without data.

[2017-02-11 13:55] Phil1988 commented on #959
I deleted every record of the databases so every data should be gone (hopefully :D ).

Here are the 2 databases, I hope you can find the problem here.
![database1 db](https://cloud.githubusercontent.com/assets/6054234/22854216/df0dad3c-f069-11e6-9116-c61aa1d3bcee.png)
![database2 db](https://cloud.githubusercontent.com/assets/6054234/22854218/e1fe2152-f069-11e6-95b6-c4d0d7349320.png)

I renamed th

[2017-02-11 15:51] schdub commented on #959
I believe that the problems associated with the table messages_fts (CREATE VIRTUAL TABLE messages_fts USING FTS3()), which requires support of Full Text Search 3 extension. It is an assumption.

@Phil1988 remove your files by editing last message (databases still contains some of private data). Just use email next time.

[2017-02-11 17:19] schdub commented on #959
Is data lost in any of these tables:

messages_fts
messages_fts_segments
messages_fts_segdir
messages_fts_content

?

If yes. My guess, this is because you can't merge FTS 'Shadow Tables' without understanding how full-text search is implemented.
If no. Could you please research which tables is losing data.

[2017-02-11 19:57] MKleusberg commented on #536
Thanks for testing! :smiley:

[2017-02-11 19:57] #536 closed

[2017-02-12 07:56] SafaAlfulaij commented on #949
@awi1369 Can you please write the information of your system locale? I tested it in Windows 10 with both English and Arabic locales, and the text in the edit box was aligned to left (And it's direction is LTR).
Appeared as:
<div dir="ltr">
H5:
</div>
and not (as you have):
<div dir="rtl">
H5:
</div>

[2017-02-12 08:56] akhilman commented on #934
Bug appears only when `View→Edit Database Cell`  is enabled.

[2017-02-12 12:49] Phil1988 commented on #959
I dont know if one of there tables has some lost data because only the "chat_list" and "messages" tables are  important for that merging and I only tried to export and import these.

[2017-02-12 14:15] schdub commented on #959
@justinclift, still not enough data to understand what is going on in a particular case, but it seems to me that the problem is that at the time of import, while inserting rows with existing PK's doesn't output any error messages.

For example, lets create a table and add the 3 rows:

    CREATE TABLE `table` (`pk` INTEGER, `text` TEXT, PRIMARY KEY(`pk`));
    INSERT INTO `table` (`pk`, `text`) VA

[2017-02-12 16:03] Phil1988 commented on #959
What is "PK" ? Primary Key?

The exported and the imported database have both the "_id" row as "INTERGER PRIMARY KEY AUTOINCREMENT".

[2017-02-14 05:05] baksosapi commented on #832
OPENSUSE :

`sid@linux-tfej:~/Downloads/sqlitebrowser-3.9.1> sudo make install
root's password:
cd libs/antlr-2.7.7/ && make -f Makefile.antlr install
make[1]: Entering directory '/home/sid/Downloads/sqlitebrowser-3.9.1/libs/antlr-2.7.7'
make -f Makefile.antlr.Release install
make[2]: Entering directory '/home/sid/Downloads/sqlitebrowser-3.9.1/libs/antlr-2.7.7'
make[2]: Nothing to be done for 'ins

[2017-02-14 20:19] MKleusberg commented on #19
It's been almost three years, so this is probably just for the records, but: Good news! I've just updated the QHexEdit library in our repository and editing the ASCII code on the right side of the hex editor is now finally supported :wink:

[2017-02-14 20:40] justinclift commented on #19
@MKleusberg That's awesome. :smile:

[2017-02-14 22:40] prutz1311 commented on #859
This error message comes from sqlite when you are trying to empty a primary key cell (https://github.com/sqlitebrowser/sqlitebrowser/blob/b5345fe6766d1c6ed3457f3d89a78a9a62b7bb81/src/sqlitedb.cpp#L988). Should we notify sqlite developers?

Example:
[code]

[code]

[code]

[2017-02-14 22:42] mtissington commented on #411
I am still getting this error on the latest nightly build.
Do I need to be concerned about this?
Can you fix it?

[2017-02-15 09:49] andrewvaughanj opened #961 "System version of libscintilla2 causes `sqlitebrowser` to crash"
### Details for the issue

When running `sqlitebrowser` built from source, I am seeing a SIGSEGV on application start. The backtrace in `gdb` looks like:

[code]

Given I know that `sqlitebrowser` used to work under RHEL 7.2, I used `git bisect` to find where the problem was introduced:

* `git checkout c0d2e9131ea1bf9eded26f4c3de868d0fbad000a && git clean -f -d x . && cmake . && make -j12 && ./sq

[2017-02-15 10:04] justinclift commented on #961
Interesting.  Looks like one for @MKleusberg. :wink:

[2017-02-15 14:29] gboudreau commented on #958
@Logistes On Mac, in the Open Database dialog, hit <kbd>cmd</kbd>-<kbd>shift</kbd>-<kbd>g</kbd>, and paste the full path to your SQLite database file (you might need to use a right-click in the textbox to be able to paste in there for some reason).

[2017-02-15 21:09] MKleusberg commented on #961
Turns out it's surprisingly difficult to inspect RHEL packages without having it installed.
@andrewvaughanj Can you help me here and find out if Red Hat's QScintilla package is built for Qt4? If so that would be the problem because we depend on a Qt5 version.

Either way, I'll try to add a command line switch for not using the distribution's library.

[2017-02-15 21:21] MKleusberg commented on #961
Can you try again using the latest version from master and setting the ```FORCE_INTERNAL_QSCINTILLA``` flag? Like this:
[code]
In theory this should work for you just as it did before. But it would still be interesting to know if your QScintilla package is based on Qt4 because it might make it easier to work around this problem automatically.

[2017-02-15 21:21] andrewvaughanj commented on #961
@MKleusberg: -- not sure if this helps:

* `git checkout c0d2e9131ea1bf9eded26f4c3de868d0fbad000a && git clean -f -d x . && cmake . && make -j12`
* `ldd sqlitebrowser | grep scintilla2` == `/lib64/libqscintilla2.so.11`
* `ldd /lib64/libqscintilla2.so.11 | grep -i qtcore` == `/lib64/libQtCore.so.4`
* `strings /lib64/libQtCore.so.4 | grep "4\." | grep "QtCore"` (as per https://kb.froglogic.com/displ

[2017-02-15 21:23] andrewvaughanj commented on #961
@MKleusberg: yup `cmake -DFORCE_INTERNAL_QSCINTILLA=ON .` makes it work on master!

[2017-02-15 21:25] MKleusberg commented on #961
@andrewvaughanj Thanks, this helps a lot! I'll try to find a way to automatically detect if the system's version of QScintilla works for us but can't make any promises on this yet :wink: But at least it builds for you now, I'm glad to hear that :smiley:

[2017-02-15 21:29] andrewvaughanj commented on #961
Worst comes to the worst, I can create a pull request that just adds some words to `BUILDING.md` stating "if your system-wide version of QScintilla isn't built to support Qt5, please build using `-DFORCE_INTERNAL_QSCINTILLA=ON`".

[2017-02-15 21:32] MKleusberg commented on #961
Sounds reasonable :+1:
I hope this issue will gradually become irrelevant as Qt5 becomes more and more widespread.

[2017-02-15 21:57] MKleusberg commented on #859
Thanks for the detailed analysis, @prutz1311! This helps a lot! :+1: There's probably no need to ask the SQLite developers, it kind of makes sense now. The column is a ```INTEGER PRIMARY KEY``` and we're trying to set it to an empty string. Usually SQLite (more or less) ignores the data type of a field but when they've built an primary key index for this column assuming it's an integer data type i

[2017-02-15 22:12] MKleusberg commented on #934
That's some interesting information, @akhilman! Can you double check one extra case for me? When disabling the ```View -> Edit Database Cell``` option do you have the ```View -> Plot``` option enabled? And if not, does setting it change anything?

If we can really narrow this down to the Edit dialog I could prepare a patch that adds tons of debug output to that dialog and, with any luck, this help

[2017-02-15 22:23] MKleusberg commented on #815
The problem seems to be in this line and the next one:
https://github.com/sqlitebrowser/sqlitebrowser/blob/master/libs/qscintilla/src/KeyMap.cpp#L131

So it's not a Qt problem but not exactly a QScintilla problem either because this file is part of the underlying Scintilla library, not part of the Qt wrapper around it. Might be worth it to check if they changed these lines in their latest version

[2017-02-15 22:52] kehugter commented on #934
It's only `Edit Database Cell`. Tried all permutations and `Plot` doesn't trigger the issue.

[2017-02-16 00:16] prutz1311 commented on #859
It seems like the actual data type doesn't matter, e.g. you can insert this value:
[code]
and it will proceed just fine (an integer gets inserted).
I will check your commit later, have to go now.

[2017-02-17 11:44] MKleusberg commented on #859
I think the variable type in C doesn't matter for SQLite. If it's convertible to an integer it is treated as an integer, even though in C it's a char*.

[2017-02-17 12:03] MKleusberg commented on #409
Thanks for reminding me @sprintel and sorry for the delay! The main problem here is that we have to execute this query essentially twice. One time for getting the total row count like this:
[code]
And one time for actually getting the first block of data:
[code]

This explains why it's taking so much longer. The issue here is that we need to know the total row count before doing anything else to g

[2017-02-17 12:04] MKleusberg commented on #411
As long as you're just inserting, updating, or deleting records there is no need to be concerned at all. This works just fine. You only get in trouble when editing the table using our Edit Table dialog. In this case the collation gets dropped. That issue is related to #741. I'll try to fix that, too, so there's no need to worry about collations here anymore :smiley:

[2017-02-17 13:04] justinclift commented on #409
@MKleusberg As a thought, if we add debugging output to the build maybe we should leave it in and have it toggled on/off by a command line switch or something?

[2017-02-17 13:07] MKleusberg commented on #411
This should be working in the next nightly build. Do you have the time to check if it's fixing your problems, @mtissington, @slidertom and @chrisjlocke? You still can't edit collations in the Edit Table dialog but at least they shouldn't get lost when editing the table.

[2017-02-17 16:32] sprintel commented on #409
@MKleusberg - I recently got a new PC so I have different results when I tested the sample that I sent you. The latest DB browser (v3.9.1) now can complete the query in 149 second (2.5 minute) vs 68 second if I use sqlitespy. With my old PC, DB browser took 6 minutes to finish the query vs 1 min and 45 with sqlitespy. It seems DB browser processes the query faster but still lags behind other sqlit

[2017-02-17 17:18] prutz1311 commented on #859
There is also `int sqlite3_bind_int(sqlite3_stmt*, int, int)` and some others https://sqlite.org/c3ref/bind_blob.html.
Now (fd1f4f2) if I press <kbd>backspace</kbd>, the value changes to zero:
![image](https://cloud.githubusercontent.com/assets/6525383/23075205/9f1aad00-f54c-11e6-899c-4ec7efb4ffe6.png)
But if I press <kbd>backspace</kbd> the second time on another cell, I see another error:

![ima

[2017-02-17 17:31] justinclift commented on #409
@MKleusberg As an "out there" idea, remember how we add a Qt regex function upon startup?  Don't suppose the presence of that might affect the communication path or something?

[2017-02-18 07:41] justinclift commented on #892
You're welcome. :smile:

[2017-02-21 16:11] justinclift opened #962 "Travis CI build problem"
Travis CI is failing for our builds at the moment, with this error:

[code]

The URL given `/rwky/redis/ubuntu/dists/trusty/main/binary-amd64/Packages` is still returning 404, so this looks like it's not just a transient problem.

Anyone have ideas on what we need to change in order to fix this, or should we attempt to contact the Travis people?

[2017-02-21 16:31] MKleusberg commented on #962
Here's somebody else having the same problem: https://github.com/travis-ci/travis-ci/issues/7332
Looks like someone has changed their PPA path and Travis has been relying on it and that's why everyone's builds are now failing :frowning:

I haven't read the entire discussion on this issue yet but it looks like it might just be fixed by now. Not sure though.

[2017-02-21 16:36] justinclift commented on #962
Awesome. :smile:

Reading the comment on that thread, there does seem a decent chance it's resolved.  Plenty of people there saying it's now working for them, although a few "still broken" are happening too.

Guess we'll find out with the next commit. :smile:

[2017-02-23 15:36] AndreasSummer opened #963 "Rightclick open table doesn't open the right table"
When you try to open a database table in "Database Structure" and click right and choose  "Browse Table" in the context menu, it opens the first table instead of the selected one.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x ] Windows: ( _ver

[2017-02-23 16:42] chrisjlocke commented on #963
If you download and try the latest nightly (nightly version: https://github.com/sqlitebrowser/sqlitebrowser#windows) then this should be fixed.

[2017-02-23 18:25] justinclift commented on #963
Yeah, this was mentioned to us shortly after the 3.9.1 release, so has been in the nightly builds now for some time.

@AndreasSummer Are you ok to try out the latest nightly build? :smile:

[2017-02-24 05:16] zhanghedr opened #964 "Critical WIFI interference for macOS"
### Details for the issue
When running DB Browser for SQLite on my 2016 15-inch Macbook Pro, the WIFI connection becomes very unstable and the ping is moving up and down dramatically. Sometimes it even causes connection dropping. I tested that It happens for both 2.4GHz and 5GHz WIFI. Thanks.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has

[2017-02-24 06:10] chrisjlocke commented on #964
Just to confirm, you believe a program is affecting your physical WiFi connection?  As soon as DB4S is closed down, the WiFi status is returned to normal?
DB4S is an application, so its hard to see how it can affect the 'outside world' as such.  It would only use the WiFi....in fact, it doesn't, it goes through your OS.... to access files on a network share.

I'm not familiar with Macs, but does i

[2017-02-24 11:14] justinclift commented on #964
@zhanghedr Interesting.  That's the first time a problem like this has been mentioned.

Do any other applications cause the same problem?

I'm kind of thinking there might be a problem with your WiFi hardware, which is being triggered by DB4S.  At the moment, that's the only thing I can think of.

If you try our latest nightly build (download locations are on the front page), does it still happen?

[2017-02-24 15:33] zhanghedr commented on #964
@chrisjlocke @justinclift Thanks for reply. This is the only application I found caused the problem. I haven't  faced this issue on Windows before with any application. It sounds weird but it happens on macOS for me.

It shouldn't be hardware issue since I went to apple store yesterday and they checked hardware and the system and it doesn't have any issue. Then I tested WIFI by pinging google and

[2017-02-24 16:39] chrisjlocke commented on #964
The only other suggestion I can offer at this stage is to confirm whether or not the ping request time improves after a short time.  I can imagine (as a possibility) DB4S doing some 'am I up to date?' checks, but apart from that (which should be minimal) DB4S doesn't use the network (unless you're opening a database over the network, of course...)
If left open, does the ping request time improve,

[2017-02-25 00:50] urmommaz commented on #893
No support for XP? Too hard? Yeah, I hear ya. Too hard to use your product as well when there are so many other choices that do work...SQL Server, Oracle, MySQL, PostgreSQL, Redis, MongoDB. Wasn't too hard for them apparently ; )

[2017-02-25 05:20] zhanghedr commented on #964
@chrisjlocke Yes the network improve quickly when DB4S is closed. It seems tab doesn't matter.

Actually I found that I have same issue with another SQLite client. I doubt that maybe my mac has something conflict with sqlite3. That's so weird. I think you may close the issue if you want. I can reopen it if I found the solution later or if someone else has same issue with me.

[2017-02-25 05:20] #964 closed

[2017-02-25 10:17] chrisjlocke commented on #893
@urmommaz - DB4S is open Source, so if its such an easy task to support XP, you're more than welcome to code away and give us pull requests.  We can then merge those into the product.
We'll wait. 👍

[2017-02-25 10:46] justinclift commented on #893
@urmommaz You do realise this project is an IDE for SQLite, not SQLite itself yeah? :wink:

[2017-02-25 14:12] dridk opened #965 "Open file from console doens't display the good path in recent menu"
### Details for the issue
Open file from console doesn't display the good path in recent menu

### Useful extra information
From console :

     sqlitebrowser database.sqlite

From gui , fileMenu : The file cannot be load because it's just the filename and not the full path.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has

[2017-02-25 15:28] hackingtosh opened #966 "Cant define PRAGMAs from "run sql" tab"
### Details for the issue

I cant define pragmas on the run-sql tab. E. g. if I type and execute "pragma auto_vacuum = 1;" and choose the tab "edit pragmas" i cant see my changes.

Its also not working when i modify the options directly on the "edit pragmas" tab, also if i hit the "save" button hundrets of times.

But i found a workaround, if i type and execute this:
end transaction;
pragma auto_v

[2017-02-26 04:38] innermous commented on #893
@urmommaz then why don't you just use them instead?

[2017-02-26 09:22] justinclift commented on #965
Ahhh, that's interesting.  Does it still happen with modern DB4S though?  Version 3.7.0 is really old, and we've changed the code that does this stuff a fair amount in the meantime.

[2017-02-26 09:26] justinclift commented on #966
Interesting.  Sounds like our transaction control bits are/were interfering with setting pragmas.

Would you be ok to try out the latest nightly version?  We've done a fair amount of work on our transaction control pieces since our 3.9.1 release.  There's a decent chance this bug won't be present in the nightlies. :smile:

[2017-02-26 11:37] dridk commented on #965
Same issue for the last version. I made you a pull request to fix that.

[2017-02-26 11:49] dridk opened #968 "Create AppImage"
I would suggest to create an AppImage for Linux.
Several Qt application does it by using https://github.com/probonopd/linuxdeployqt/
Personnaly I prefere compile myself or getting application from the PPA. But for some people appImage would be greate. See http://appimage.org/

[2017-02-26 12:08] probonopd commented on #968
Started working on it [here](https://github.com/probonopd/sqlitebrowser/blob/patch-1/.travis.yml).

[2017-02-26 13:07] hackingtosh commented on #966
Yes I tried "DB Browser for SQLite-2017-02-22-win64", but the problem is still there. The changes will be accepted only, if I hit the "compact database" option. Cant you recreate my problem by yourself?

[2017-02-26 13:32] probonopd commented on #968
Sent Pull Request https://github.com/sqlitebrowser/sqlitebrowser/pull/969.

[2017-02-26 13:51] justinclift commented on #968
AppImage looks interesting.

[2017-02-26 13:52] justinclift commented on #966
It's not something I have time to look at personally today.  My focus for today is on other stuff which is well overdue. :wink:

Hopefully one of the other team members has time to investigate. :smile:

[2017-02-26 13:59] justinclift commented on #968
Thanks @dridk and @probonopd, just merged it.  Going to watch this over the next few days to gain a better understanding of how it works in practise.

We'll likely need to document "how get get the transfer.sh URL out of the log" in our wiki, but that shouldn't be hard once it's understood. :smile:

[2017-02-26 13:59] #968 closed

[2017-02-26 14:01] justinclift commented on #965
Thanks @dridk. :smile:

[2017-02-26 14:14] probonopd commented on #968
Instead of storing AppImage builds temporarily for 14 days each on transfer.sh, you could use GitHub Releases to store the binaries permanently. This way, they would be visible on the [Releases](https://github.com/sqlitebrowser/sqlitebrowser/releases) page of your project. This is what I recommend. See https://docs.travis-ci.com/user/deployment/releases/. If you want to do this for continuous buil

[2017-02-26 14:23] hackingtosh commented on #966
Ok thanks, I thought maybe you already noticed this problem ;)

[2017-02-26 14:37] justinclift commented on #966
No worries at all. :smile:

[2017-02-26 14:42] justinclift commented on #968
Keeping the binaries (for every commit) in GitHub releases sounds fairly terrible for our project.

We have a server for nightly releases, which could hold those kind of development centred builds.  We'd need to figure out how to get the Travis CI builds uploaded to that securely though, without embedding username/password in the .travis.yml.

Something to investigate at a later date. :smile:

[2017-02-26 14:55] probonopd commented on #968
Excellent.

By the way, uploadtool deletes the prior continuous build and then uploads the latest one, so that there is always only one "continuous" tag on GitHub Releases.

[2017-02-26 14:58] justinclift commented on #968
Interesting, thanks. :smile:

[2017-02-26 14:59] justinclift commented on #962
Yep, builds are indeed working again. :smile:

[2017-02-26 14:59] #962 closed

[2017-02-26 15:03] dridk opened #970 "Qt showroom"
Promote Qt and add sqlitebrowser into https://showroom.qt.io/

[2017-02-26 15:24] justinclift commented on #970
Wow, didn't even know that existed.  It's a really good idea.

Let's do it for our verison 3.10 (or maybe 3.10.1 :wink) release, as that should have a lot of interesting capabilities. :smile:

[2017-02-26 17:29] urmommaz commented on #893
Slow much?

Sent from Yahoo Mail on Android

  On Sat, Feb 25, 2017 at 10:38 PM, Vladyslav<notifications@github.com> wrote:
@urmommaz then why don't you just use them instead?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-26 22:50] justinclift commented on #893
Due to idiot further responses from @urmommaz, this Issue has been locked.

[2017-02-26 23:23] MKleusberg commented on #964
Just one more idea: does it help when when you go to the Settings dialog and disable the Automatic update check? That's the only network activity in the application.

[2017-02-26 23:24] MKleusberg commented on #962
Awesome :D

[2017-02-27 08:09] chrisjlocke commented on #964
Unless you're opening a (big?) database over a network connection.

[2017-02-27 11:41] justinclift commented on #964
@zhanghedr Just to check... did you download DB4S from our official locations? (eg sqlitebrowser.org, or from github.com/sqlitebrowser)

Just wondering if maybe the download came from somewhere else, and someone has put something dodgy in it. 😖

[2017-02-27 13:25] revolter commented on #682
Noticed SmartGit's solution for this, from which we might take some ideas:

![screen shot 2017-02-27 at 15 20 47](https://cloud.githubusercontent.com/assets/5748627/23362933/bbc3bef4-fd00-11e6-8e22-000734ed64b2.png)

It detects duplicated and shows a breadcrumb style name separated by `|`.

![screen shot 2017-02-27 at 15 22 30](https://cloud.githubusercontent.com/assets/5748627/23362951/d12abfe0-f

[2017-02-27 13:40] zhanghedr commented on #964
@justinclift @MKleusberg @chrisjlocke  I downloaded from sqlitebrowser.org. And it's a small database. It seems my mac network has conflict with sqlite3 database, not with specific client software. Hope I am the only one facing this, sad. For now I have to stand with it while developing with sqlite. Thanks guys.

[2017-02-27 15:45] justinclift commented on #964
@zhanghedr No worries, it was just a thought.  And yeah, that is a weird problem. 😦

[2017-02-28 14:44] #965 closed

[2017-03-01 17:40] Gilead7 opened #971 "Upgrade now wants password when one was not entered"
### Details for the issue

Just upgraded to Win7 from XP. I was working on an SQLite Database for a Unity project using the previous XP compatible sqlite browser. After I install the newest version 3.91 and load my previous database, it asks for a password. I never had a password before, how do I get back into my database?

### Useful extra information

#### I'm opening this issue because:

- [ ]

[2017-03-01 19:20] justinclift commented on #971
That's strange.  DB4S asks for a password when it can't recognise the file as a database, so it assumes it's an encrypted one.

Are you able to open the database ok with the command line version of SQLite?  That should help figure out where the problem lies.

[2017-03-01 22:07] chrisjlocke commented on #971
Are you able to email me the database at all, or is it confidential information?

[2017-03-02 16:39] Gilead7 commented on #971
It's basically for scratch/testing purposes.
I uninstalled and then reinstalled and was able to open it. If there is
something funky, do let me know. Crazy things can happen when migrating.
On 3/1/2017 5:07 PM, Chris Locke wrote:

[2017-03-02 17:19] chrisjlocke commented on #971
Weird.  Glad its now resolved now though.

[2017-03-02 17:19] #971 closed

[2017-03-02 19:17] Gilead7 commented on #971
Me too

On 3/2/2017 12:19 PM, Chris Locke wrote:

[2017-03-02 21:08] prutz1311 commented on #792
The memory leak still occurs, for example, when I import a 200M csv file, sqlitebrowser uses something like 2.4 Gb of RAM (60%) and does not release it after the import. Maybe that's due to the way `QTextStream` and `QFile` work. In contrast `.import` command of the command-line tool `sqlite3` uses only about 0.1% of my 4Gb RAM (`ps aux` output). Would it be a good idea to try to include their imp

[2017-03-02 23:33] innermous commented on #792
@prutz1311 could you provide data set, please?

[2017-03-03 10:52] justinclift commented on #963
Closing due to lack of response. ☹️

[2017-03-03 10:52] #963 closed

[2017-03-03 10:54] justinclift commented on #629
@lvbeck ping?

[2017-03-03 10:57] lvbeck commented on #629
@justinclift @MKleusberg thanks, it's now working! I will close the issue

[2017-03-03 14:16] justinclift commented on #629
@lvbeck Excellent, thanks for checking and letting us know. :smile:

[2017-03-03 18:47] prutz1311 commented on #792
Something like that https://drive.google.com/drive/folders/0B0ARB4SyceKZcUV0MUFMMUJiajg

[2017-03-05 08:46] roneqwerty commented on #12
so any way to decrypt the sqlite file encrypted by sqlite cipher without know the password?

[2017-03-05 09:47] justinclift commented on #12
There's no practical way to do this.

[2017-03-05 09:52] chrisjlocke commented on #12
If there was, there would be no benefit to encrypting it...

[2017-03-05 09:56] roneqwerty commented on #12
Thank you for your response.
no way? am try to find way ...because always door have a backdoor. newest all companies try to make a program like this . so we have to find way. rone

      From: Justin Clift <notifications@github.com>
 To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: roneqwerty <roneqwerty@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Sunday, March 5,

[2017-03-05 09:59] chrisjlocke commented on #12
You can brute force the password with every possible combination, but even with 7 bytes, you're looking at 7.20e16 possible combinations.  Good luck with that.  😆

[2017-03-05 10:11] roneqwerty commented on #12
do you have program to do the brute force for it? rone

      From: Chris Locke <notifications@github.com>
 To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: roneqwerty <roneqwerty@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Sunday, March 5, 2017 12:59 PM
 Subject: Re: [sqlitebrowser/sqlitebrowser] Open Encrypted Database (#12)

You can brute force the password wit

[2017-03-05 10:12] roneqwerty commented on #12
I will try to do my best...nothing is possible :-) rone

      From: Chris Locke <notifications@github.com>
 To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: roneqwerty <roneqwerty@yahoo.com>; Comment <comment@noreply.github.com>
 Sent: Sunday, March 5, 2017 12:59 PM
 Subject: Re: [sqlitebrowser/sqlitebrowser] Open Encrypted Database (#12)

You can brute force the password wi

[2017-03-05 12:29] justinclift commented on #12
With using a brute force solution... if you used several rooms filled the very best computer equipment existing right now, it would probably take you several ***centuries*** to get the solution.  For just one encrypted database.  In reality, it would probably a lot longer though.

But, you're welcome to try.  Nothing is stopping you. :smile:

[2017-03-05 12:31] justinclift commented on #12
That is only the case where someone has made a mistake, or where regulation has added a weakness on purpose and hoped no-one else finds out about it.

If the encryption we use, called SQLCipher, has this problem, we don't know about it.  If you do find a backdoor in it, please let us know. :smile:

[2017-03-05 14:14] chrisjlocke commented on #12
Only if you log in as Joshua.....

![image](https://cloud.githubusercontent.com/assets/7872218/23587981/e273a0bc-01ad-11e7-8ad8-8a4be4ee7589.png)

If hack into the DB4S servers and you get an option to play Global Thermonuclear War, look for 'chess' instead...

[2017-03-05 19:36] Gilead7 commented on #971
One more thing, not sure why or how to fix it. When I tried to add to
the database, it said is was read only. I can't find anything that tells
me where that setting is.

On 3/2/2017 12:19 PM, Chris Locke wrote:

[2017-03-06 00:47] justinclift commented on #971
@Gilead7 On windows, it's probably the file level settings for "Read Only".  You can change that in Windows Explorer by right clicking then choosing properties.

That's the theory anyway. :wink:

[2017-03-06 03:23] rodrigozanatta opened #973 "Is there an easy way to browser tables?"
Just want to know if I can go to next table with some shortcut. When I am browsing the tables, I need to click in their name in drop-down menu. Then, to go to next, need to do the same thing.

Why not a simple shortcut or icon to go to next table. This will make my life really easier.

[2017-03-06 07:52] chrisjlocke commented on #971
Its also dependant on how you access that file.  What I mean by that is, if its a network share, then file permissions are based on that share as well as the physical file permissions.  So you might have physical file permissions, but the share permissions say otherwise.

If you're accessing the file locally, then yes, its file permissions.

If you're accessing the file in c:\program files or c:\p

[2017-03-06 08:16] chrisjlocke opened #974 "Modifying table structure of a read-only database doesn't fail with an error"
### Details for the issue

If you open a read-only database, adding a new record correctly fails.

![image](https://cloud.githubusercontent.com/assets/7872218/23601592/33c16b5c-0244-11e7-9369-05c965f10d34.png)

However, if you modify the table structure, pressing 'Write Changes' generates no error, so the user may incorrectly assume the modification was successful.

Closing and re-opening the data

[2017-03-06 09:32] chrisjlocke commented on #973
Click in the 'Table' combo box (which on Windows you can get to by pressing Alt+T) then simply press the down arrow key.  You can press the down arrow key again and again to get the next table.
Depending on your operating system, you can get an application to 'wrap' these two keystrokes in one, so pressing something else (eg, F8) runs the macro of pressing Alt+T, then down arrow......

[2017-03-06 09:56] justinclift commented on #974
Oh wow, good catch.  That's definitely a bug needing fixing. :smile:

[2017-03-06 11:44] chrisjlocke commented on #974
Not sure how the first error gets detected .... I presume as writing to the journal fails.
Presume creating a temp file at database opening and trying to write to that would 'test' if the database is writable.  It wouldn't solve the actual 'database attributes are read-only' though... unless that could be identified...  so a two-part test would be needed.

[2017-03-06 14:18] rodrigozanatta commented on #973
@chrisjlocke I am using the Mac OS X. I tried what you say. Here is ⌘+T. But doing the same thing, when I press down, it just go down one cell. Even if I focus the drop-down menu, the down button don't work.
Maybe this is a specific bug from Mac Os X. Is there a dirt solution to this?

[2017-03-06 15:46] chrisjlocke commented on #973
Install Windows?  ;)

Does pressing Tab change the focus?  I've not got a Mac to test this on.

[2017-03-06 16:06] justinclift commented on #973
It's probably not a bad idea to include some shortcuts for switching between tables via keystroke. :smile:

[2017-03-06 17:18] justinclift commented on #974
SQLite itself provides a function for opening databases in "Read only" mode.  Enforced by SQLite itself.

From memory, we use that function to open the database when we detect it's not writable.  eg file/dir/etc permissions blocking it

Watching your video, I'm thinking the "Modify X" (table/index/etc) option shouldn't be enabled when the database is in read only mode, and things are going pear sh

[2017-03-06 17:22] chrisjlocke opened #975 "Cannot modify table structure ... fields get duplicated"
### Details for the issue

When a field is moved up or down, DB4S seems to duplicate all the fields.  If one of these fields is then moved, DB4S complains or crashes.

http://screencast-o-matic.com/watch/cbe1bF6UnC

This is on the last available nightly, 22 Jan 2017.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a

[2017-03-06 17:40] justinclift commented on #975
Thanks Chris, should be fairly simple for @MKleusberg to fix. :smile:

[2017-03-06 18:17] rodrigozanatta commented on #973
@justinclift great idea. How difficult is to make this? I am right now looking a lot of tables and need to do two mouse click to get the next table. I will love have this fix now. 👍

@chrisjlocke the tab don't change the focus. This is not common in osx, but I thing is about the interface technology they used in sqlitebrowser.

[2017-03-06 18:44] justinclift commented on #973
@rodrigozanatta It's unlikely to happen in the next fortnight.  Our main developer for DB4S is on holiday for a few weeks, and I'm working on server side stuff in a different language completely. :wink:

[2017-03-06 20:32] rodrigozanatta commented on #973
@justinclift thanks for answer. I will wait..

[2017-03-07 03:27] prcutler commented on #934
I can confirm this bug on GNOME 3.22 on Fedora 25.  Looking at the above comments, I'm just running SQLIteBrowser as it comes installed by default - I haven't disabled or enabled the Views as mentioned two comments above.  If there is anything you want me to try to confirm, please let me know.

[2017-03-08 11:54] romio102 opened #976 "Intermittently crashes when sqlite3_prepare_v2 called with sqlite version 3.15.2"
### Details for the issue
I am using sqlite in multi-threaded environment where multiple applications use sqlite queries to perform get/set operations on attributes available in sqlite db tables. Intermittently i am seeing applications crashing when get operation is performed which intern call sqlite3_prepare_v2.
Crash is not frequent. I rarely see this issue. One thing to notice that, I never hit

[2017-03-08 12:57] justinclift commented on #976
Interesting.  Would you be ok to run `ldd` on the sqlitebrowser executable?  It sounds like there might be a linking problem.

Er... just to confirm, you are using sqlitebrowser yeah, not straight sqlite itself?

[2017-03-08 23:40] romio102 commented on #976
@justinclift ,
I downloaded SQLite tarball (**sqlite-autoconf-3150200.tar.gz**) from **https://sqlite.org/download.html** and I am using SQLite as library itself. Not using SQLite browser.
Also, i guess if its a linking problem then i should face the problem every time using SQLite APIs. But i am facing this issue once in a while and its quiet random.

[2017-03-09 06:07] chrisjlocke commented on #976
You have posted this question on the SQLite Browser issue system.  This is for support for the application DB Browser for SQLite - not SQLite itself.
You can post your question to the SQLite support group by emailing the question to sqlite-users@mailinglists.sqlite.org

[2017-03-09 07:12] romio102 commented on #976
Sure. I will drop a mail to SQLite support group. Thanks for the help.

[2017-03-09 07:12] #976 closed

[2017-03-09 08:47] chrisjlocke opened #977 "Nightly builds needs a 'latest' link on the server"
### Details for the issue

Issue is more for reminder purposes.
It would be handy if the nightly build repository had a 'latest' link (one per OS) pointing to the latest build.  This would make pointing to the latest build easier, and also help towards creating a pretty index of builds, as the list could be pre-built once a month.  Or something.  Anyway.  This is phase 1.

The final part of the cu

[2017-03-09 08:51] justinclift commented on #976
@romio102 No worries at all.  Hopefully you get it solved. :smile:

[2017-03-09 10:37] MKleusberg commented on #973
Still on holiday, so just a quick note from my side: I think we already have exactly what you're asking for, @rodrigozanatta :smiley: When you're using a recent nightly build you should be able to switch tables using the ```Ctrl + PageDown``` and ```Ctrl + PageUp``` shortcuts.

[2017-03-10 10:30] govindrawat55 opened #978 "file is encrypted or is not a database sqlite c#"
Once I encrypt the .db file from DB Browser, i am unable to read .db file from uwp application.

I am getting error like "**file is encrypted or is not a database**". Please help me.

Note : I am using "Sqlite.net-plc" for connect SQLite DB to UWP application.

[2017-03-10 11:20] chrisjlocke commented on #978
DB Browser uses SQLCipher encryption.  Does Sqlite.net-plc support 256-bit AES?

[2017-03-10 11:30] chrisjlocke commented on #919
Appreciate this is closed, but @CarlCDHPIX , which .NET component were you using?

[2017-03-11 13:11] justinclift opened #979 "Add proxy support for DBHub.io connectivity"
We'll need to add support for common proxies (eg HTTPS, SOCKS 4/5 ?, etc) for our connectivity with DBHub.io.

Proxies are used in ***many*** business and government places, so missing this would be a major growth limiter. :wink:

[2017-03-11 17:46] prutz1311 commented on #731
Would it be a good idea to always pass to `EditDialog::loadData(const QByteArray& data)` only the data from the database cell instead of taking it from some other buffer when changing editing mode? Though that would introduce questions like how to deal with unsaved data, i.e. when `Apply` has not been pressed.

[2017-03-12 15:36] rodrigozanatta commented on #973
@MKleusberg , I tested and it worked really good! In mac you need to use ⌘ + PageDown or ⌘ + PageUp. Thanks, this makes a lot of difference!

[2017-03-12 15:36] #973 closed

[2017-03-12 15:45] justinclift commented on #973
Awesome.  Thanks @MKleusberg. :smile:

[2017-03-13 03:41] qiulang opened #980 "PRAGMA foreign_keys = ON; failed"
### Details for the issue

PRAGMA foreign_keys = ON;

Query executed successfully: PRAGMA foreign_keys = ON; (took 0ms)

Run PRAGMA foreign_keys; again and still show 0

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Linux: ( _distro:_ ___ )

[2017-03-13 08:26] OmgImAlexis commented on #866
I get this issue too when trying to open a file that's on a samba share yet when I copy the file to my desktop and open it there's no issues.

[2017-03-13 09:06] justinclift commented on #866
@OmgImAlexis Interesting.  Does it still happen with our recent nightly builds?

[2017-03-13 09:07] justinclift commented on #980
Interesting.  Does it still happen with our recent nightly builds?  Download locations are listed on our front page, if that helps. :smile:

[2017-03-13 10:50] OmgImAlexis commented on #866
I'm not sure as I have never used this product before and only noticed it on the first time I tried it.

Do you have a link to the nightly builds that I can try?
I'm using Mac OS Sierra if that matters.

[2017-03-13 11:17] justinclift commented on #866
Oops, I should have included it. :smile:

These are our nightly builds for OSX:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/osx/

They're ordered by date.  There's a build that includes encryption, and one without.  If your database isn't encrypted, then either will be suitable for trying out.

[2017-03-13 12:17] OmgImAlexis commented on #866
@justinclift both are working fine for me now. So the nightly has whatever issue I had fixed.

[2017-03-13 13:11] justinclift commented on #866
Excellent @OmgImAlexis. :smile:

[2017-03-13 13:12] justinclift commented on #866
@AndreasMartin72 Ping, did you have time to try out a recent nightly build? 😄

[2017-03-14 07:57] voltento opened #981 "Don't show selected table"
### Details for the issue

"Data Structure -> table right click -> Browse table"  show first table but no seleted

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x] Windows: ( _version: 10 Pro )
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _versi

[2017-03-14 09:16] chrisjlocke commented on #981
What version of DB Browser for SQLite are you using?
Try one of the nightlies here:
https://nightlies.sqlitebrowser.org/win64/

I think this was an issue in v3.9.1 which was fixed.

[2017-03-14 09:40] voltento commented on #981
You right, thank you.

[2017-03-14 09:40] #981 closed

[2017-03-14 10:42] chrisjlocke commented on #981
\o/  Glad it worked. 👍

[2017-03-16 15:36] MKleusberg commented on #409
@justinclift Nah, that only gets called when you're actually performing a regex operation, i.e. not when simply browsing a table. The problem seems to be that we're essentially performing each query twice.

[2017-03-16 16:12] MKleusberg commented on #975
Oops, sorry! My bad! :smiley: Should be fixed now. Can you test if it's working for you?

If you notice any other problems with the table editing please open more issues, Chris. This really helps fixing all the fallout of my refactoring :+1:

[2017-03-16 16:22] chrisjlocke commented on #975
Will check out tomorrows nightly.  :)

[2017-03-16 16:53] justinclift commented on #975
Hmmm, the nightlies don't seem to be running, yet again.

Which is weird as I can literally see the box they run on from where I'm sitting, and it's in hibernation mode.  As it should be this time of the day.

Hmmm, I'll kick it again and see what's up.  I don't think it's the box itself though, but something is weird with the network switch such that it's not seeing it upon wakeup.  I've been get

[2017-03-16 17:00] justinclift commented on #975
New nightlies are building now...

[2017-03-17 07:45] chrisjlocke commented on #975
Yes, works perfectly now thanks. 👍 🥇

[2017-03-17 08:00] #975 closed

[2017-03-17 09:23] MKleusberg commented on #975
Thanks for testing :D

[2017-03-18 13:33] HarelM opened #982 "Latest release doesn't remove previous version from add remove program menu"
I just installed version 3.9.1.
My file association was targeting the previous version (3.8.x) which made me understand that it wasn't removed as part of the installation of the latest version...

[2017-03-18 13:37] HarelM commented on #861
In windows 10 is't super simple, but .sqlite and .db association would be a great addition to the installer.

[2017-03-18 13:39] HarelM opened #983 "Better updater"
Would be great if there was a proper updater instead of the popup that tells me to go and download the latest version when opening the app.
Keep up the good work!

[2017-03-18 13:54] chrisjlocke commented on #983
This is sort of intentional.  Some people dont want their software updating automatically or to a different version than the one they have.  A message popping up seemed a happy compromise.

[2017-03-18 13:56] chrisjlocke commented on #982
Yes, this was an issue in the 3.8.x installer (and 3.9 I believe) which should be fixed now, as the issue was identified when people starting upgrading to 3.9.1.
It didn't help that the directory location for the installation also changed between versions, otherwise this wouldn't have been an issue... ;)

[2017-03-18 14:02] HarelM commented on #983
I'm not arguing about the necessity of the pop-up :-)
Just the trip to the site, download and install which can be done as part of the application.
See Notepad++ for example, and many others.
If a user doesn't want to update he should just click cancel.
For me, the necessity to download something and then install it is what sometimes prevents me from updating an application (just sharing my point

[2017-03-18 17:21] Naihonn commented on #983
I agree with HarelM. It is always nice when you can upgrade so seamlessly. :0) And Notepad++ is indeed quite nice example of that. Although it is downloading installer first but it discards it after that I hope.

[2017-03-23 11:40] MrAppWare opened #984 "Floating windows not docking in main window"
### Details for the issue

I can't get a floating window to dock at the main window's borders. Hovering the dock above the main window has no effect.

### Useful extra information

Double clicking on the title bar of a floating window correctly docks it to the main window.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [x] DB4S has a

[2017-03-23 12:30] justinclift commented on #984
For me, when trying a few minutes ago with a nightly build of a few weeks ago... this was inconsistent.  Some times when hovering a dock (eg SQL Log) over part of the main window the snapping function would work.  Other times it was just ignored.

It seems like we need to investigate this and make it work reliably.

In the meantime, double clicking on the title bar of the dock does seem to work.

[2017-03-23 15:45] MKleusberg commented on #974
Hmm, are you sure you tried this using the latest nightly build? :smiley: Because for me the 'Modify table' option isn't even enabled. Also, can you try opening the file using the ```File -> Open database read only``` menu option to see if that makes any difference?

[2017-03-23 18:07] chrisjlocke commented on #974
It wasn't the latest nightly at the time, as there was a *cough* few technical issues with the nightly production system...
Will try the latest nightly and check.  👍

[2017-03-23 18:54] justinclift commented on #974
Yeah, the (home grade) switch the build mac is plugged into was acting weird.  It was stopping the box from picking up a network connection after coming out of sleep mode.

In theory (!), it should be fixed now.

[2017-03-25 00:04] prutz1311 commented on #555
@chrisjlocke I observe something similar this with Python sqlite3 connector. What follows from the SQLite documentation https://www.sqlite.org/atomiccommit.html is that no other process can see changes from your program before it calls something like `commit()`. Here is an example:

[code]
[code]
Btw if I change journal mode and then close and lauch the application, it is set to `delete` again.

[2017-03-25 19:24] prutz1311 opened #985 "Cannot change case of a column name"
### Details for the issue

When I have this table
![image](https://cloud.githubusercontent.com/assets/6525383/24325376/981b49ec-11a8-11e7-9c6d-4ad431612f50.png)
and try to change name `A` to `a`, it says `There already is a field with that name. Please rename it first or choose a different name for this field.`:
![image](https://cloud.githubusercontent.com/assets/6525383/24325393/f70f5114-11a8-11e

[2017-03-25 19:29] justinclift commented on #985
Ahhh.  @MKleusberg This'll be one for you. :smile:

[2017-03-25 21:22] MKleusberg commented on #985
Should be fixed with the latest commit :smiley: Good catch by the way, @prutz1311 :+1:

[2017-03-26 18:11] JoeErsatz opened #986 "I was asked about Open R/O suggestion but 3.9.1 won't launch"
### Details for the issue
Kindly pardon this bizarre interruption. My mind is going fast as I age, though I'm relatively young (66) by popular standards. Really, I have trouble focusing. No, this isn't particularly important since I have minimal use for DB SQLite Browser and my current version 3.8.0 does what I need it to do. I was contacted in January saying that my suggestion for Open in read-on

[2017-03-26 19:01] chrisjlocke commented on #986
Indeed, the newer version of DB4S doesn't support XP.  It is possible, but due to the methods of building the application we use, not easily 'automated'.
As a side note, Windows XP is quite an old operating system now and is unsupported as far as security patches, etc, goes, so if you use it in a 'production' environment (or for more than just 'testing') then it shouldn't be used to go online.
As

[2017-03-26 21:37] JoeErsatz commented on #986
Many thanks for that. Sure, I would ditch this machine in a flash and get a W10 PC (this one, I'm fairly sure, isn't W10 hardware compatible). Another PC of mine runs W10 and I'm disappointed I can't get the game Snood 4.10 to operate right on it. But your advice hasn't fallen on deaf ears so just know that - thanks again. Over and out.

[2017-03-27 01:43] justinclift commented on #893
@h1618 Do you have the time and motivation to create an XP compatible build of our 3.9.1 release?

Some people are looking for a Win XP compatible build, so having something verified as working (I don't have XP) would be good for them. eg #986 :smile:

If you can make it, we can put it on our "[nightlies](https://nightlies.sqlitebrowser.org)" server() and point people at it when they ask. :smile:

[2017-03-28 17:16] prutz1311 commented on #985
Now it works properly.

[2017-03-28 17:16] #985 closed

[2017-03-29 12:30] keedhost opened #987 "Ukrainian translation"
Hello. I made full ikrainian translation for sqlitebrowser.

Please test it and add to main repo/

https://github.com/keedhost/sqlitebrowser-ukrainian

[2017-03-29 16:55] ecki opened #988 "Typo in menu "Help -> SQL Ciper" of german translation"
### Details for the issue

On german UI under "Hilfe" there is a "SQL Ciper FAQ" item, which should be "SQL Cipher" I guess. The same "SQLCiper-Version" text also shows up in the about dialog for the version (3.11.0)

### Useful extra information

Portable App, if I switch UI language to english it is fine.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [Y] DB4S has a bug
- [ ] DB

[2017-03-29 22:34] justinclift commented on #987
Thanks @keedhost, that's excellent. :smile:

I'll add the sqlb_uk_UA.ts file in the next few days.  Did you base the translation upon our latest development code (eg our "master" branch), or upon something else?

[2017-03-29 22:36] justinclift commented on #988
Thanks @ecki. :smile:

@FriedrichFroebel @VanDerSam What are you thoughts on this? :smile:

[2017-03-30 01:36] ecki commented on #988
Strange enough I dont see the bug in the translation file, the About dialog seems to be translated correctly and the help menu is untranslated. Is there another place for the translations of Windows Portable DB Browser?

[2017-03-30 02:42] Californ1a opened #989 "Font showing black boxes"
### Details for the issue

Similar to #894 The font of the bottom cannot be edited, and I don't have the default font that sqlitebrowser uses, so it shows up as just black squares. The SQL query window above had the same issue, but I was able to change the font of that one to get it to display correctly.
![issue image](http://i.imgur.com/49BmJpu.png)

### Useful extra information

#### I'm opening

[2017-03-30 04:32] chrisjlocke commented on #989
Have you tried the latest nightly?
I'm not 100% sure what the font is, but thought Windows was a bit more sensible.

[2017-03-30 05:09] Californ1a commented on #989
I'm not 100% sure what the font is, but thought Windows was a bit more sensible.

No, I hadn't. Using DB4S version 3.9.99 (2017-03-30-win64) from the nightly builds does fix the font issue, however, it seems like that bottom log is using the same font as the "SQL Log" but a separate size setting whereas the right-side log is using the same font size as the editor.

- "SQL *editor* font" - affects

[2017-03-30 06:20] keedhost commented on #987
Yes

[2017-03-30 07:39] Chaolun-Chen opened #990 "Text color cannot be fixed in "Browse Data""
### Details for the issue
Hi,
DB Browser is useful and easy to use. I have one question about the text color.
The default text color in "Browse Data" is black. I always modify the default color to my favorite color, but these changes cannot be fixed. When I restart the application, these colors that I modified before are all set to default color(black).
Please help to solve this problem.
Thank you

[2017-03-30 10:26] justinclift commented on #989
Ahhh, interesting.  It probably wouldn't hurt to have the various font changing pieces be in the same tab, and have their meaning/labels be clear.

[2017-03-30 10:37] justinclift commented on #990
Interesting. :smile:

If you try the latest nightly build, does it works properly for you?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/osx/

[2017-03-30 10:45] Chaolun-Chen commented on #990
Hi justinclift
Thanks for your help. This problem is solved.
 I downloaded **DB Browser for SQLite_20170330.dmg**, and it works fine.

[2017-03-30 10:47] justinclift commented on #990
Awesome. :smile:

[2017-03-30 10:47] #990 closed

[2017-03-30 11:12] MKleusberg commented on #985
Thanks for testing, Oleg! :smiley:

[2017-03-30 11:17] MKleusberg commented on #988
Ahh, you're probably comparing version 3.9.1 to the translation file from the latest version here on Github (which eventually is going to be 3.10). Iulian has fixed the the typo in the meantime (see commit 1257134dc65547662a81c66bf331dd627ff576f5), so that's why it's correct in the translation file but not yet in the release versions. Can you double check by downloading the latest nightly build? I

[2017-03-30 20:35] ecki commented on #988
Yes I an confirm it is fixed in the nightly build.

[2017-03-30 20:35] #988 closed

[2017-03-31 22:32] ofelius opened #991 "Open new database"
When I open a new database I'm always asked to enter the key used to encrypt the data base file. but as I've never encrypt the file In don't know what to type?

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Lin

[2017-04-01 07:16] chrisjlocke commented on #991
'Open a new database' - do you mean open an existing database, or create a new database?

If open an existing database, are you sure its a valid SQLite v3 database?  Its not a .sql file is it?  (ie, human readable SQL commands, rather than a database of records)

[2017-04-03 19:19] justinclift commented on #987
I'm attempting to get this working in a branch here:

&nbsp; &nbsp; https://github.com/justinclift/sqlitebrowser/tree/ukrainian

It's working fine when compiled on OSX.  I can change to Ukrainian, see messages in that, and change back to English without a problem.

It's not working on Windows though, and I have no idea why. 😦

On Windows, the option for Ukrainian appears in the list and can be sel

[2017-04-03 19:41] keedhost commented on #987
Can you make for me any screenshots with ukrainian version on Mac?

[2017-04-03 21:28] justinclift commented on #987
Yep, I can definitely do that.  I'll be tomorrow though. :smile:

[2017-04-04 10:40] keedhost commented on #987
I don't know why but on FreeBSD 11 same problem like on Windows: after choosing ukrainian and restarting app, locale sets to default. Who knows?

[2017-04-04 12:02] justinclift commented on #987
Hmmm, now I'm wondering what happens if we change it from "uk_UA" to just "uk".  Perhaps the Windows and FreeBSD are recognising "uk_UA" for some unknown reason?

[2017-04-04 12:05] justinclift commented on #987
I'll setup a Windows development VM again later on today, and see if I can figure out what's going wrong. :smile:

[2017-04-04 14:42] justinclift commented on #987
I ***think*** this is everything, except for the CSV import dialog (which I'm having a problem with at the moment). :smile:

- [x] Menus
![screen shot 2017-04-04 at 13 19 03](https://cloud.githubusercontent.com/assets/406299/24660899/b8e94690-1948-11e7-8a82-e5318538883d.png)
![screen shot 2017-04-04 at 13 20 40](https://cloud.githubusercontent.com/assets/406299/24660898/b8e8c724-1948-11e7-9ac0-de5

[2017-04-04 20:32] justinclift commented on #987
@keedhost I don't think I'll get to checking the Windows problem today after all.  It should be tomorrow, or Thursday at the very latest though.

[2017-04-05 07:28] chrisjlocke commented on #991
@ofelius Ping?

[2017-04-05 21:03] justinclift commented on #987
Found the problem.  It was indeed my fault... a typo in the change I made to src/translations/translations.qrc:

https://github.com/justinclift/sqlitebrowser/blob/d5a6bc496dd97004dba6f005d5def7570962812d/src/translations/translations.qrc#L14

The filename extension on that line should be **.qm**, not **.ts**.  Oops.

I'll update my branch with that, and also pull in your updated patch. :smile:

[2017-04-05 21:23] justinclift commented on #987
Ok, I *think* this branch has the latest changes, including Genyk's pieces:

https://github.com/justinclift/sqlitebrowser/tree/ukrainian_version2

Can you double check from your side?

If you're happy with it, I'll merge it in. :smile:

[2017-04-05 21:27] justinclift commented on #987
Ahhh, I didn't see Genyk's patch-7 & patch-8.  I'll add those now too.

[2017-04-05 21:31] justinclift commented on #987
@keedhost @Genyk I've added the patch-7 and patch-8 changes here too:

&nbsp; &nbsp; https://github.com/justinclift/sqlitebrowser/commits/ukrainian_version2

Do you want me to merge it "as is", or should I take updated screenshots again? :smile:

[2017-04-06 15:03] justinclift commented on #620
Well, the reduced margin looks weird to me because it's not how other applications look.

But, to me it's super minor and I'll get used to it. :smile:

[2017-04-06 15:04] justinclift commented on #620
@dridk Do you have a few minutes to try out a recent nightly build, and let us know if the reduced margin is now how you were meaning? :smile:

[2017-04-06 15:43] chrisjlocke commented on #620
The other areas are now looking 'different' to the database structure tab.  So the docked SQL Log, DB Schema, etc, now have the extra margin.

Personally, I prefer 'some' margin.

So this is how it is currently (latest nightly)

![image](https://cloud.githubusercontent.com/assets/7872218/24762914/bb4fa64a-1ae7-11e7-9199-03ca0c1fd808.png)

In my opinion, this would look odd:

![image](https://cloud

[2017-04-06 16:28] justinclift commented on #620
Hmmm, yeah not sure.  On OSX with the latest source, the margins still seem to be there:
![screen shot 2017-04-06 at 17 28 03](https://cloud.githubusercontent.com/assets/406299/24765093/6dd68d32-1aee-11e7-943c-05b90f134e68.png)

[2017-04-06 18:18] justinclift commented on #987
Hmmm, I'm just going to merge it. :smile:

[2017-04-06 18:22] justinclift commented on #987
@keedhost @Genyk All of the Ukrainian translation patches are merged into our master branch now.

Do either of you have time to double check it?

I'll also close the Pull Request, as this was done a bit outside of that. :smile:

[2017-04-06 20:26] Genyk commented on #987
I can recheck all the translation, but i haven`t used this program before. So i cant understand some function even in English :(

[2017-04-06 20:29] justinclift commented on #987
@Genyk If you have the time to play around with it and try things out, then most (80%) of the program is fairly simple.  It's mostly just a display of databases in a spreadsheet format.

You can download a sample database to use with it here:

&nbsp; &nbsp; https://dev1.dbhub.io/justinclift/DB4S%20download%20stats.sqlite
&nbsp; &nbsp; (the green download button on the right side)

Does that help?

[2017-04-06 20:38] Genyk commented on #987
@justinclift I will try to check it all at the weekends.

[2017-04-06 20:39] justinclift commented on #987
@Genyk Awesome!

If you have questions, you're welcome to ask here and I should be able to respond without *too much* delay. :smile:

[2017-04-09 06:13] vlakoff commented on #419
A friendly +1 for this.
I just updated from 2.0b1 to 3.9.1, I was very excited by all the progress… but then I became very sad when I saw how bigger the rows have become…

[2017-04-09 14:50] bjm4054 opened #993 "FTP issue (?) - can't open DB4S to transfer"
### Details for the issue

I created a simple db with 5 tables.  I can view and update it locally (through command-line or DB4S), but when I try to place the .db file on my school server, I hit the following:

Error:	local: unable to open C:\RIT\ISTE_646\rogue6_project1\RIT-esports\db\sqlite\sqlite-tools-win32-x86-3180000\ESports.db
Error:	Critical file transfer error

None of the other files in t

[2017-04-09 15:26] justinclift commented on #993
This is a bit unclear. :wink:

DB4S doesn't natively support FTP itself... so I'm not sure what you're meaning.

Are you ok to explain in a bit more depth? :smile:

[2017-04-09 15:58] bjm4054 commented on #993
Sorry, should have been more clear.  I originally created my SQLite db from the command-line, and was able to upload it to RIT using FileZilla no problem.  I decided to revamp the schema, so I deleted the file from the server.  In the meantime, I installed DB4S, and recreated the db through the UI.  I have no idea whether that's a factor, but now when I try to upload the file, I get the above erro

[2017-04-09 16:08] justinclift commented on #993
k, still needing a bit more information. :smile:

First, what's "RIT"?

Next, what's the exact error message you're getting?  Maybe screenshot it if there's no confidential info in it?

[2017-04-09 16:09] justinclift commented on #993
Ahhh, just noticed that you do have the info in the original bug report, it's just inside the javascript hiding brackets.  I'll remove those and it should show up...

[2017-04-09 16:12] justinclift commented on #993
Ahhh, the "unable to open" bit might be helpful.  It kind of sounds like the file permissions (or maybe ownership) of the file itself are causing an issue:

"unable to open C:\RIT\ISTE_646\rogue6_project1\RIT-esports\db\sqlite\sqlite-tools-win32-x86-3180000\ESports.db"

Maybe double check that?  If there's nothing obvious there, I'd ping one of the school admins and ask if there's a likely reason.

[2017-04-09 16:30] bjm4054 commented on #993
You, sir, are one of the good things in this life.  I closed out of DB4S and still had the problem.  When I exited sqlite3 from the shell, I was able to upload successfully.  Thanks very much.

[2017-04-09 16:38] justinclift commented on #993
Awesome, glad it worked. :smile:

[2017-04-09 16:38] #993 closed

[2017-04-10 07:33] deepsidhu1313 opened #994 "Ubuntu packaging errors"
### Details for the issue
@justinclift

Getting error while Building package for Ubuntu (Debian)

[code]

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [x] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [x] Linux: ( _distro:_ Ubuntu 14.04, 15.04, 15.10 )
- [ ] Mac

[2017-04-10 09:30] justinclift commented on #994
Thanks @deepsidhu1313, I'll setup a *buntu VM again later today and investigate. :smile:

[2017-04-10 12:27] MKleusberg commented on #994
This is probably because of the Qt version. The QVector::removeAll() method was introduced in Qt 5.4 (see https://doc.qt.io/qt-5/qvector.html#removeAll), so when trying to compile with any version <5.4 this error will occur. In theory we could work around that but I vaguely remember there being more features from newer Qt version that we're using...

[2017-04-10 12:41] deepsidhu1313 commented on #994
Please let me know of the main iasue so that i can stop nightly builds for
unsupported ubuntu versions.

On Apr 10, 2017 7:27 AM, "Martin Kleusberg" <notifications@github.com>
wrote:

[2017-04-10 13:11] MKleusberg commented on #419
@bobatwhidbey, @vlakoff Can you try tomorrow's nightly build? I've tried adding some code in there that should help calculating a decent row height depending on the font size. Prior to this the default row height would be set by Qt to some value that might be platform dependent (= hard to predict). So maybe this already helps with your problem. If it doesn't can you include a screenshot of how it

[2017-04-10 13:12] chrisjlocke commented on #991
@ofelius ping?

[2017-04-10 13:43] justinclift commented on #994
Ahhh, from memory we require Qt 5.6 and above now.

@deepsidhu1313 which versions of Ubuntu don't have that available?

[2017-04-10 13:45] justinclift commented on #991
Meh, just going to close this.  9 days without response is generally a good sign the problem is fixed or no longer of interest to the reporter.

@ofelius If that's not the case, you're welcome to reopen this. :smile:

[2017-04-10 13:45] #991 closed

[2017-04-11 08:42] vlakoff commented on #419
Yes, there is an improvement. Here are some screenshots:
* [3.9.1](https://cloud.githubusercontent.com/assets/544424/24899798/e49ba6a8-1ea1-11e7-9791-507eb501d9bd.png)
* [nightly 2017-04-11](https://cloud.githubusercontent.com/assets/544424/24899801/e7bc9bb2-1ea1-11e7-9112-7081f7c3e6a3.png)

Personally I'd prefer even narrower rows, like in the "Database Structure" tab. But it's highly subjective,

[2017-04-11 09:30] justinclift commented on #419
@vlakoff Awesome. :smile:

@bobatwhidbey Do you have the time/interest to try the latest nightly build, and see if that's better for you? :smile:

If so, and if you're still using Win32, the latest nightly builds are here:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/win32/

[2017-04-11 09:32] justinclift commented on #866
@abbasshah17 Did you ever get this fixed?

[2017-04-11 09:33] justinclift commented on #790
Closing due to lack of response. ☹️

[2017-04-11 09:33] #790 closed

[2017-04-11 09:34] deepsidhu1313 commented on #994
@justinclift Ubuntu 16.04 and prior version are effected.

Ubuntu 16.04 and 14.04 are LTS version. 16.04 End of Life Cycle is in April 2021 and 14.04 is in April 2019. Which is a concern if we are unable to pack our software for these distros.

Meanwhile i will try to find a work around or fix.

[2017-04-11 10:04] justinclift commented on #961
@andrewvaughanj And interest in making that Pull Request? :smile:

[2017-04-11 15:06] bobatwhidbey commented on #419
Hi Justin,

While I recently got a Win64 PC, I also have my old Win32 PC.  I tried
both 2017-04-11 versions (what is the difference? what is sqlcipher? )
on the Win32 PC and both worked really well. There are certainly many
more features now which are not apparent how to use. I'm sure the online
Help will follow.

I thought there was going to be something under Preferences that
specifically addres

[2017-04-11 15:58] chrisjlocke commented on #419
The forward/backslashes thing has been around a while ... I raised it sometime ago! (#735).  Other operating systems (which the main programming dudes here use - Linux, OSX, chalkboards, etc) use forward slashes, so us Windows users have to suffer! ;)

SQLCipher is used for encryption support.  At the moment, someone could open your database in something like Notepad and view the data.  It wouldn'

[2017-04-11 16:15] justinclift commented on #735
@MKleusberg Do you have a few moments to knock together a quick patch to use the correct platform specific slashes?

Pretty sure this'll be super easy. :smile:

[2017-04-18 21:02] NF1198 opened #995 "crash (segfault) in SqliteTableModel::getForeignKeyClause"
### Details for the issue

Sqlitebrowser crashes when viewing an SQL view in the Browse Data tab.

Background: This crash happens when viewing an SQL view in the browser tab.  I can reproduce the crash with a large database but not with a small test DB. To cause the crash, I just open the view, then idle. After a short time (varies), sqlitebrowser will crash.

[code]

The crash appears to be occur

[2017-04-18 21:09] justinclift commented on #995
Thanks @NF1198, that's good info.  Foreign key stuff is directly of interest for @MKleusberg, so he'll likely dig into it in the next few days. :smile:

[2017-04-18 21:10] justinclift commented on #995
Out of curiosity, is the data set which triggers the crash public?

Just thinking it might be useful for debugging purposes if it is. :wink:

[2017-04-18 22:10] NF1198 commented on #995
I've attached the dataset. Try browsing `TRIPS_STOPS_EXT`.

It looks like the code causing the crash is:

[code]

commenting out lines 258-261 seems to resolve the crash at the expense of a missing tooltip.

from:
[code]
to
[code]

[abq.gtfs.tar.gz](https://github.com/sqlitebrowser/sqlitebrowser/files/931187/abq.gtfs.tar.gz)

[2017-04-19 09:51] MKleusberg commented on #995
Thanks for reporting this, @NF1198, and also many thanks for the detailed analysis :+1: That helped a lot :smiley:

I think I have fixed the issue with the latest commit. But just to be sure, can you build the latest version from master and check if it's fixed for you?

[2017-04-19 17:23] NF1198 commented on #995
Thanks for working on this so quickly @MKleusberg. The crash seems to be fixed with commit d52263fc02b6bdf4033337c4990046ddaa944d3d.

[2017-04-19 18:10] justinclift commented on #995
Awesome!  Closing this issue now then.

Thanks for reporting it @NF1198, and giving us the info needed to resolve it promptly. :smile:

[2017-04-19 18:10] #995 closed

[2017-04-20 13:48] treddy73 opened #996 "Formatting date columns"
I'm looking at a sqlite database generated from iOS Core Data.  I would like some help trying to format the date columns into a human readable format.  Currently, I just see a 9 digit numeric value.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [X] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [

[2017-04-20 13:56] justinclift commented on #996
No worries.  Two thought come to mind right away... :smile:

* Not sure if you've tried this yet, but you can right click on the heading for a column and choose **Edit display format**.

There are several pre-made formats listed, one of them might work.  It's probably a good idea to try [a recent nightly build](https://nightlies.sqlitebrowser.org/osx/) too, as (from memory) there were some more fo

[2017-04-20 13:57] chrisjlocke commented on #996
Try `select *, format(fieldName,'YYYY-MM-DD') from tableName`

https://www.w3schools.com/sql/sql_func_format.asp