[2014-05-05 17:55] justinclift opened #2 "Preferences ➡ SQL window not large enough on OSX"
On (at least) OSX 10.7.5, the default size for the Preferences window isn't big enough to
fit the SQL tab contents easily.

![screen shot 2014-04-30 at 2 26 13 am](https://cloud.githubusercontent.com/assets/406299/2836803/d5a17db8-d006-11e3-8dc7-2d880cec5d43.png)

Ideally the default size should be big enough that the SQL tab contents display properly without manual resizing.  (or perhaps the dial

[2014-05-05 18:02] #2 closed, assigned to nobody

[2014-05-09 16:31] justinclift opened #4 "Compile error with new icons"
@MKleusberg Oops... compiling is now barfing on the new icons:

[code]

Guessing it'll be pretty simple to fix. :smile:

[2014-05-09 19:02] #4 closed, assigned to MKleusberg

[2014-05-09 19:07] justinclift opened #5 "LGPL licensing text files?"
Part of the text in our About dialog says this:

[code]

Those files don't seem to be in our repo.  Should they be?  If not, we should adjust the About dialog.

[2014-05-09 20:05] #5 closed, assigned to nobody

[2014-05-11 00:55] justinclift opened #6 "Old logo still used in OSX Applications menu"
Just noticed the old logo is still being used in the OSX Applications menu.

Probably not hard to change, I'll look into it tomorrow.  It could even turn out to be something caching on my system, needing a force refresh. :smile:

[2014-05-13 21:51] justinclift opened #7 "New MailWindow.cpp error during compile"
Just got this when trying to compile:

[code]

Seems to have been introduced by https://github.com/sqlitebrowser/sqlitebrowser/commit/da9f24836aa6c31cff129b84a581c923d5fc6b6e.

Maybe it's due to my Qt version?  I have 4.8.6 installed.  Can try 5.x if that would be better.

[2014-05-13 21:53] justinclift opened #8 "Warnings during compile"
Not build breakers, but if these are easy to fix we might as well:

[code]

[code]

[2014-05-14 05:48] #7 closed, assigned to nobody

[2014-05-14 23:37] #8 closed, assigned to nobody

[2014-05-14 23:38] #6 closed, assigned to justinclift

[2014-05-17 09:32] cicku opened #9 "Inquiry: package name"
Hi,

I'm going to package it into Fedora 20 onwards, I'd like to know which name is better, sqlitebrowser or sqlb?

Thanks.

[2014-05-17 09:38] #9 closed, assigned to nobody

[2014-05-21 04:03] justinclift opened #10 "Single quote character in path name breaks compilation"
Tim Streater reported on the sqlite-users mailing list:

[code]

In testing here:

[code]

[2014-05-21 10:34] sqlcipherdd opened #11 "Compiling on Linux with Qt 5.2 throws QUndoCommand error"
case: 1. git clone repo.
          2. open sqlitebrowser.pro through Qt Creator 3.0.0. (based on  Qt 5.2.0  - 64 but)
          3. Celan All -> Run qmake -> Build All
          4. thrown error

Resolved by adding major version settings to qhexedit.pro and qcustomplot .pro files.

[2014-05-21 20:04] techie31 opened #12 "Open Encrypted Database"
I can't seem to figure out how to open an encrypted sqlite database?  If this is not currently possible, I think it would be an appropriate enhancement.

Thanks!

[2014-05-24 11:11] justinclift opened #13 "Entries for the Help menu"
It would be good to have a few additional options in the Help menu:
- Website ➡ http://sqlitebrowser.org
- Documentation ➡ https://github.com/sqlitebrowser/sqlitebrowser/wiki
- Get the source code ➡ https://github.com/sqlitebrowser/sqlitebrowser
- File a bug / Ask a question ➡ https://github.com/sqlitebrowser/sqlitebrowser/issues/new

[2014-05-24 11:17] justinclift opened #14 "Add pipe char '|' as .csv export separator"
If it's easy to do, it would be useful to add the pipe character as a field separator for the .csv export

[2014-05-24 11:22] justinclift opened #15 "Add translations for other languages"
Although this one could be a bit of a pain to initially implement, it would be useful to have the UI text strings be internationalised.

This way we can enable translations of the UI to other languages.

Getting the UI translated would rely on something like Ubuntu Launchpad, Transifex, or whatever else is suitable.

We're already "kind of" in Launchpad already, so we may be able to leverage that

[2014-05-24 15:17] stevehodgett opened #16 "Long TEXT values show as (BLOB) since version 3.1.0"
Just started using the much-improved v3.1.0 via PortableApps - Thanks!
However, I now find that columns with a declared type of TEXT with values which are UTF-8 strings longer than 1024 bytes now appear as (BLOB), both in the Browse Data tab and in the Execute SQL tab result pane. SQLite returns typeof() as 'text'.
Not sure what the previous PortableApps version was, but it displayed text values a

[2014-05-24 17:29] #14 closed, assigned to nobody

[2014-05-24 18:37] #16 closed, assigned to MKleusberg

[2014-05-24 20:11] justinclift opened #17 "Add Twitter link to the website"
Just a reminder for me to add a link to our Twitter account (in the sidebar?) to our website.

[2014-05-24 21:50] justinclift opened #18 "Review the suggestions in SourceForge comments"
This is a reminder for me to look through the SourceForge comments, as some of them have requests/suggestions for simple, potentially useful, functionality.

[2014-05-25 09:10] stevehodgett opened #19 "Editing BLOB as Text truncates value at first NULL byte"
This is more a comment than a bug report, but I noticed this when testing the fix for issue #16.
Suppose you have a BLOB containing multiple null-terminated strings. When you edit the blob, everything is fine as type:Binary, but if you change the type to "Text" in the EditDialog the length of the data remains the same but only the data up to the first null is shown (understandable, but not what th

[2014-05-25 10:03] stevehodgett opened #20 "Remember column widths on Browse Data tab?"
I tend to browse/edit the same set of databases and tables much of the time (a fairly typical scenario?). Would you consider an enhancement to save the column widths the user has set for a given database+table? Either automatically or, to avoid an infinitely growing list, via a button or a menu option?

[2014-05-25 11:01] #13 closed, assigned to nobody

[2014-05-25 16:49] #17 closed, assigned to justinclift

[2014-05-26 22:25] justinclift opened #22 "Shortcut key for "Write Changes" (to disk)"
We have these shortcuts already:
- Ctrl-N for a new database (⌘-N on OSX)
- Ctrl-O to open an existing database (⌘-O on OSX)
- Ctrl-W to close the database (⌘-W on OSX)

It would be good to add a Ctrl-S for Save/Write changes (⌘-S on OSX)

[2014-05-26 22:59] justinclift opened #23 "Allow for custom field separator when importing CSV files"
A request in one of the SourceForge comments:

If it's not hard to add, it sounds useful.

[2014-05-26 23:14] justinclift opened #24 "Enabling auto-increment toggle doesn't change definition field type to integer"
Noticed a small bug when creating a table.  When a field has the type of TEXT, if I toggle the "AI" button on, the field type changes to INTEGER correctly.  In the SQL window at the bottom though, the field types remains as text.

![screen shot 2014-05-27 at 12 10 16 am](https://cloud.githubusercontent.com/assets/406299/3086245/4c3e0f20-e52b-11e3-811f-e8d3bb2ffecd.png)

[2014-05-26 23:17] justinclift opened #25 "Create views?"
Do we have a way to create Views?  Went looking, but couldn't see anything.

[2014-05-26 23:32] #18 closed, assigned to nobody

[2014-05-27 06:25] Jonrysh opened #26 "Sqlite Browser is Hard to Find"
It would be better if the old Sqlite Browser site on Sourceforge had a pointer to this site.  The Sourceforge site comes up in Google searches much earlier.  I wasted a good deal of time trying to get the Sourceforge version to compile.

[2014-05-27 06:27] Jonrysh opened #27 "Documentation -- Filter"
Is there any documentation for Sqlite Browser?  If so, where?  In particular, what do the "Filter" buttons do?

[2014-05-27 07:57] #22 closed, assigned to nobody

[2014-05-27 15:08] Jonrysh opened #28 "Formatting an int"
One field in the database I'm investigating is described as:
dateTime INTEGER NOT NULL UNIQUE PRIMARY KEY,
It's actually, as the name implies, a Unix time field containing seconds since the epoch.  If there any way to display it properly in the browser?

[2014-05-27 15:11] Jonrysh opened #29 "make install does nothing"
make install (invoked in the top level directory, containing BUILDING, ...) doesn't seem to do anything except produce output; no files are installed anywhere.  The program has already been build using make, and seems to work fine.

[2014-05-27 18:15] #24 closed, assigned to nobody

[2014-05-28 03:15] beeradmoore opened #30 "sqlb OSX .app"
Is there any reason sqlb does not contain a compiled osx sqlitebrowser.app in its release distribution?

Was thinking maybe a license issue or possibly a security signing which may prevent it running on other machines issue maybe?

[2014-05-28 22:22] #26 closed, assigned to nobody

[2014-05-28 23:58] justinclift opened #31 "Do we still need Qt built with --with-qt3support ?"
At present, our instructions tell people to build Qt with Qt3 support (--with-qt3support).

However, the README mentions Qt3Support has been removed, as one of the changes since SourceForge:
- Qt3Support was removed

Does Qt really still need compiling with --with-qt3support?

[2014-05-29 00:47] marfire opened #32 "Update the version of SQLite bundled with Windows"
I recently added a partial index (a new SQLite 3.8 feature) to my database and noticed that SQLite Browser was no longer able to read it. I'm assuming that this is because the 3.1 Windows binary version is still using SQLite 3.7.17.

Since 3.8 is 9 months old now, perhaps it's time to update the bundled version?

[2014-05-29 22:51] #31 closed, assigned to nobody

[2014-05-30 16:17] #23 closed, assigned to nobody

[2014-06-01 03:18] #25 closed, assigned to nobody

[2014-06-04 02:57] rafirafi opened #33 "variable type discrepancy"
table is create with episodenb ::
 integer not null
but show as
TEXT
in
sqlitebrowser (version 3.1.0, Qt 4.8.5, QSLite 3.7.17).

This is what I use :
create table if not exists episode (
episodeid integer primary key references filmitem (filmid),
serieid integer not null references filmitem (filmid),
seasonnb integer not null,
episodenb integer no null,
title varchar[max],
foreign key (serieid) re

[2014-06-05 22:12] #32 closed, assigned to rp-

[2014-06-06 14:05] dgeelen opened #34 "Cannot view tables which use constraint CHECK ... IN ( .... )"
When using a CHECK constraint on a column of a table which uses the IN( ... ) syntax to check that the value exists in a known set of values, the resulting table does not appear to have any columns when viewed at the "Database Structure" tab. Inserting values will still work, as will querying the table manually, but the "Browse Data" tab will show rows without any columns or data.

Example:

[code

[2014-06-07 23:50] #20 closed, assigned to nobody

[2014-06-08 12:43] justinclift opened #35 "Add project files purpose/description help info to wiki"
We'll need to add description/info stuff about project files to the wiki, so people know what they do.

[2014-06-10 22:15] justinclift opened #36 "SQLite Browser project files should cope with relative paths"
Mucking around with a SQLite Browser project file a few minutes ago, it turns out it can only take full path names for the "db path" field.

It would be good if it could handle relative path names too (tried it, breaks).  If it's adjusted to be ok with relative path names, then project files can be kept on disk in the same dir as the database files, and it'll all still work if moved around or they

[2014-06-11 20:50] #34 closed, assigned to nobody

[2014-06-11 23:47] #36 closed, assigned to nobody

[2014-06-13 16:15] #33 closed, assigned to nobody

[2014-06-18 06:15] Maypeur opened #37 "New records aren't saved"
It seems i'm encoutered a new bug :
I open my database and in a table i click many times on "New Record", many blank rows appears.

I complete theses blank rows then i click "Write Changes" but only the first new record is saved to the disk, all others are cleared !

It appears the same thing if a delete a new record which hasn't be saved or if a i complete the filter, only the first new record ap

[2014-06-19 14:40] KutayYasarTekoz opened #38 "No targets specified and no makefile found"
maciyepson:~ kutay$ cd foo
maciyepson:foo kutay$ cd sqlitebrowser
maciyepson:sqlitebrowser kutay$ qmake
maciyepson:sqlitebrowser kutay$ make
make: **\* No targets specified and no makefile found.  Stop.

How can i solve this error?

[2014-06-19 18:05] justinclift opened #39 "How to keep journal mode WAL?"
Interesting question from Twitter:

&nbsp; &nbsp; https://twitter.com/brianeunilkim/status/479676964521775104

[code]

Any ideas?

[2014-06-19 18:41] #39 closed, assigned to nobody

[2014-06-20 10:07] dgeelen opened #40 "Cannot view table which uses constraint CHECK ... NOT LIKE ..."
This is similar to issue #34, except using the construction `NOT LIKE`. Please note that using a regular `LIKE`, i.e. without negation, does work.

Example:

[code]

I'm using the test build posted in the comment by @justinclift in issue #34 on Windows 7.

[2014-06-23 08:09] minderdl opened #41 "file contents not shown correctly"
I've a sqlite file created with WinCacheBox (geocaching software). However, sqlitebrowser recognizes only a few parts of the file: only for some tables the structure is shown correctly and only for them the contents is displayed. For all others, it knows how many records are there, but cannot display their contents.
I've put a sample file here: https://www.dropbox.com/s/9mayzr3stx389hd/CacheBox.db

[2014-06-23 08:50] #41 closed, assigned to nobody

[2014-06-23 10:49] MKleusberg opened #42 "Grammar: Support BETWEEN in constraints"
We currently don't support BETWEEN checks in our column constraints. This breaks the UI for a tables like these:

[code]

Keeping issue #40 in mind, it is also worth pointing out that the BETWEEN can also be negated:

[code]

[2014-06-29 20:00] #42 closed, assigned to nobody

[2014-07-02 18:24] #30 closed, assigned to justinclift

[2014-07-05 13:17] #40 closed, assigned to nobody

[2014-07-05 14:29] #27 closed, assigned to nobody

[2014-07-05 16:00] justinclift opened #43 "Add info to BUILDING file on how to run the unit tests"
What are the steps for running the unit tests?

Tried "make test" but no luck there. :wink:

Guessing we should add the info to the BUILDING file.

[2014-07-06 08:12] #43 closed, assigned to justinclift

[2014-07-07 16:07] browserboy opened #45 "Invalid file format when opening existing database after 3.2.0 upgrade"
After installing version sqlite browser 3.2.0 for Windows, trying to open an existing SQLite database displays a dialog box containing "Invalid file format".

Additional Info:
Qt Version 4.8.5
SQLite Version: 3.8.4.3
OS Version: Windows 8.1 Pro, 64-bit.

[2014-07-07 17:18] Nakedtoe1 opened #46 "Stopped work"
The SQLite browser program has stopped working every time I try to open a file and shutsdown

[2014-07-09 07:10] stevehodgett opened #48 "Release 3.2.0 for PortableApps?"
Would love to be able to upgrade my sqlitebrowser 3.1 for PortableApps :-)

[2014-07-09 12:09] jzsoftware opened #49 "Problem with default values when adding Record"
When you try to add a record, it does not use the specified default value for the fields, that are not being entered. To see an example of how this could be accomplished take a look at the firefox plugin SQLite manager (Screenshot added below)
![image](https://cloud.githubusercontent.com/assets/8113476/3523976/d0586672-0761-11e4-89dc-a66a2a57adfe.png)

[2014-07-10 06:11] nirbal opened #50 "Multilingual support"
I am non-professional user that is trying to import csv file that include Hebrew characters.
The file is endorsement of XML file to excel 2010 file and then save as csv file.
After upload the SQL database is not encode Hebrew.
What I need to do in order to see Hebrew in the database?

Hopefully you will help me.
Thanks,
Nir

[2014-07-11 16:01] #49 closed, assigned to nobody

[2014-07-11 16:56] MKleusberg opened #51 "Add full support for tables without rowid"
Commit 3761acfd024d4126ac67d55ce877d493986f4aa5 has added support for 'without rowid' tables to our Table class and commit a002e6768f65fc68a228abe7bd356acd730b641a improved the SqliteTableModel class to allow browsing these tables.

However, a lot of UI features still don't work when a without rowid table is being worked on. These include adding and deleting rows as well as editing cells. It would

[2014-07-15 07:53] cicku opened #53 "Tag name correction"
Hi,

Is it ok for you to use non-numeric chars in the tags?

For instance I got this now: sqlitebrowser-sqlb-3.2.0.tar.gz.

The sqlb- is annoying here, is it Ok to remove it?

Thanks.

[2014-07-15 14:06] tprochazka opened #54 "No such collation sequence: LOCALIZED"
I have db file from Android and every operation fail with "No such collation sequence: LOCALIZED" error. It is some Android related feature?

Here is SQL code for the table

[code]

[2014-07-15 14:08] martinlindhe opened #55 "Simplify Mac OSX setup in README.md"
homebrew has been updated with a brew of sqlitebrowser 3.2.0

All that is required to install from brew now is:
`brew install sqlitebrowser`

[code]

[code]

[2014-07-15 18:00] loeschg opened #56 "Crash when opening existing db - OS X Mavericks"
[code]

[2014-07-15 20:25] #53 closed, assigned to nobody

[2014-07-16 10:37] #48 closed, assigned to nobody

[2014-07-16 10:41] #46 closed, assigned to nobody

[2014-07-16 12:45] elfring opened #58 "Complete quoting for parameters of some CMake commands"
Some parameters (like "[${QT_USE_FILE}](https://github.com/sqlitebrowser/sqlitebrowser/blob/17cf2018ca0867d0da22c91727d7bdc61ef2bb04/CMakeLists.txt#L24)" and "[${ANTLR_DIR}](https://github.com/sqlitebrowser/sqlitebrowser/blob/42a2faf4113ce9a1289454f634ffa1edd40e7a8d/tests/CMakeLists.txt#L57)") are passed to CMake commands in your build scripts without enclosing them by quotation marks. I see that

[2014-07-16 12:51] elfring opened #59 "reserved identifier violation"
I would like to point out that identifiers like "[`__ABOUTDIALOG_H__`](https://github.com/sqlitebrowser/sqlitebrowser/blob/78b305e7bbaa80c7ac62ac77e133aef51b324b1d/src/AboutDialog.h#L1)" and "[`__APPLICATION_H__`](https://github.com/sqlitebrowser/sqlitebrowser/blob/040be65489288da1a07b010694ca8c81ec28abd8/src/Application.h#L1)" [do not fit](https://www.securecoding.cert.org/confluence/display/cplu

[2014-07-19 13:19] techkey opened #60 "Browse Data tab shows no fields and no data"
The `Browse Data` tab shows the correct number of rows but no fields. If I Execute the same SQL as the `Browse Data` tab does then the fields are visible and populated with data.

I've attached 3 screenshots, one from the `Database Structure` tab, one from the `Browse Data` tab and one from the `Execute SQL` tab.

![database_structure](https://cloud.githubusercontent.com/assets/670271/3634743/683b

[2014-07-20 13:03] error505 opened #61 "UTF-8 Unicode"
When i insert new table from .csv file all my characters that are unicode like č,š,đ,ć,ž,ü,ö,ä, convert in ��
How to fix it. Thanks in advance!

[2014-07-21 10:16] justinclift opened #62 "Outdated version number in src/app.plist file"
As suspected by @MKleusberg in https://github.com/sqlitebrowser/sqlitebrowser/issues/56, our OSX .app application bundle is reporting the wrong version number.

In both the master and sqlb-3.2.x branches, it's still set to 3.1 in src/app.plist:

[code]

The fix for 3.2 branch is pretty obvious "3.2".  Any thoughts on what we should use for the master branch though?  Only integer and period charact

[2014-07-21 14:54] richardwiden opened #63 "Crashes when loading database"
I don't know how to figure out WHY it crashes can anyone point me to the relevant log files? Using the windows binary.

[2014-07-21 19:58] jadeade opened #64 "Modify table fails with more than one field with default values"
I just realized that when I try to modify a table after a default value has been introduced, following changes are just ignored. They appear in the modify table window and the "query" on the bottom is updated, but if you hit OK, nothing else happens. I also realized that you usually get a little window after any change that dissapears very fast (I think that it reads "executing SQL" or something l

[2014-07-21 22:06] #56 closed, assigned to nobody

[2014-07-25 08:29] ghost opened #65 "Compilation warning [-Wformat]"
Here is compilation warning:
https://github.com/sqlitebrowser/sqlitebrowser/blob/master/libs/antlr-2.7.7/src/String.cpp#L41

Caused by wrong type specifier. rhs is size_t (unsigned long int), but '%u' is (unsigned int)
May be it should be changed to '%lu' ?

[2014-07-27 11:43] #65 closed, assigned to nobody

[2014-07-27 12:14] justinclift opened #67 "Nightly Windows builds busted atm"
Just noticed the timestamp on the latest nightly Windows build is from about a week ago.

The build.log file indicates the host is out of space.  :wink:

[code]

Rene, do you have a few minutes to get that sorted out and manually kick off a new nightly build?

[2014-07-27 13:02] sysads opened #68 "Compile not working on Ubuntu 14.04"
I have just tried compiling on ubuntu 14.04 but ran into this error:

sqlitedb.cpp:11:21: fatal error: sqlite3.h: No such file or directory
 #include <sqlite3.h>
                     ^
compilation terminated.
make[2]: **\* [release/sqlitedb.o] Error 1
make[2]: Leaving directory `/home/sysadmin/sqlitebrowser/src'
make[1]: *** [release] Error 2
make[1]: Leaving directory`/home/sysadmin/sqlitebrowser

[2014-07-27 17:46] #68 closed, assigned to nobody

[2014-07-27 19:02] #67 closed, assigned to rp-

[2014-07-27 20:12] #62 closed, assigned to nobody

[2014-07-27 21:16] #61 closed, assigned to nobody

[2014-07-31 08:56] #55 closed, assigned to justinclift

[2014-07-31 16:25] #50 closed, assigned to nobody

[2014-07-31 19:33] #59 closed, assigned to nobody

[2014-07-31 19:39] #10 closed, assigned to nobody

[2014-08-02 12:06] cdekok opened #72 "Linux instructions?"
How to compile the app for linux? I am using ubuntu 14.04

[2014-08-03 08:34] cdekok opened #73 "Adding constraints"
I am not sure if this is already possible or I am overlooking something but I would like to add a unique constraint to a column and a foreign key constraint.
Currently I only see a way to add a NOT NULL constraint with the checkbox and a CHECK constraint with the input field.
Is this functionality still missing?

[2014-08-06 18:42] #58 closed, assigned to nobody

[2014-08-07 21:10] rp- opened #74 "modify table: changes immediately executed"
If you change a column to NOT NULL, check constraint....
And hit cancel in the edittable dialog, the changes are already done and can only be reverted.

It would be nicer to queue up those changes until the OK button is clicked.

[2014-08-10 04:00] #73 closed, assigned to nobody

[2014-08-11 17:57] Tmdean opened #75 "DB schema pane"
It'd be a lot easier to write SQL if you could see the schema while you're in the Execute SQL tab. This could be achieved with another pane (like the Plot pane) that shows the current DB schema as a treeview.

Having to switch between the Database Structure and Execute SQL tabs is difficult because you have to constantly refer to this information while writing a SQL statement if you have more than

[2014-08-13 08:54] ou9810 opened #76 "LIMIT & OFFSET"
Use both of them will crash in SQL log.
The result of LIMIT a,b should be LIMIT b,a.

[2014-08-15 16:03] #11 closed, assigned to nobody

[2014-08-16 05:46] #63 closed, assigned to nobody

[2014-08-16 13:46] TWiStErRob opened #77 "APPCRASH on opening an SQLite file exported from Android"
Affected versions: 3.+: CRASH, 2.0.0b1: empty schema

Standard Windows 7 crash window:

[code]

The file causing it: http://temp.twisterrob.net/share/MagicHomeInventory.sqlite
The DB has no data in it, just the schema: tables, triggers, views.

Opening it with _android-sdk-windows\platform-tools\sqlite3.exe_ works, so I tried to narrow it down.

If I drop these:

[code]

I tried dropping only the

[2014-08-16 19:08] #74 closed, assigned to nobody

[2014-08-17 11:06] #45 closed, assigned to nobody

[2014-08-18 00:10] jschultz opened #78 "Problem with 'ASC' keyword in key definition"
Hello,

Since version 3.2, sqlitebrowser reports an error on tables with the 'ASC' keyword in its primary key definition. For example, the a database consisting of the following table (created with sqlite3):

CREATE TABLE [Test]([Field] [int] NOT NULL, CONSTRAINT [Test_Constraint] PRIMARY KEY %28 [Field] ASC %29);

cannot be browsed or modified with sqlitebrowser. That is, browsing the table shows

[2014-08-19 22:59] jschultz opened #79 "Some usability improvement requests"
Hello folks,

After the excellent service on my last request, I have a couple more:
1. On the 'Database Structure' tab, could the schema be made to collapse along with the field list? As it is, the benefit of collapsing is rather lost when the schema is long and you can only see a few (or only one) tables on your window anyway.
2. On the results from running an SQL query, long fields (varchar and

[2014-08-20 06:11] #78 closed, assigned to nobody

[2014-08-21 13:10] manisandro opened #80 "Crash when reading table with `rowid` as column name"
Create a table with

[code]

Attempting to open the corresponding sqlite file will result in

[code]

and the program segfaulting:

[code]
##

[code]

Sample sqlite file: https://smani.fedorapeople.org/tmp/test.sqlite

[2014-08-24 18:58] #77 closed, assigned to nobody

[2014-08-24 19:00] justinclift opened #81 "Editing schema would remove foreign keys, constraints, and cascades"
From @TWiStErRob:

This is following on from https://github.com/sqlitebrowser/sqlitebrowser/issues/77.

[2014-08-28 11:19] deichbilder opened #84 "import csv-file deletes spaces"
Hi! When I import a csv-file into a table every single space was deleted (v 3.3.0). Special characters are not displayed correctly even though in v 2.0 it worked fine. What happened? Is it my fault? Can I make any settings to avoid at least the space-deleting? Thanks a lot for your help!

[2014-08-28 17:53] loeschg opened #85 "Possible to open sqlitebrowser (with db) from shell?"
Would love to be able to open the app from the command line and pass a path to an existing sqlite database. Does this feature exist?

[2014-08-28 18:50] #85 closed, assigned to nobody

[2014-08-29 20:49] devandanger opened #86 "No such function: REGEXP"
I get the following error No such function: REGEXP
When I'm attempting the a regexp is this a configuration on my side or just a feature of sqlite3 not currently supported in this app?

[2014-08-30 21:32] #86 closed, assigned to nobody

[2014-08-31 02:39] go4shoe opened #87 "Browse Data doesn't work for INTEGER PRIMARY KEY"
1. CREATE TABLE t(x INTEGER, y, z, PRIMARY KEY(x ASC));
2. insert some records
3. try to browse => no data shows up

[2014-08-31 18:39] Z4us opened #88 "3.3.1 on OSX is using an old version of sqlite3"
I had version 3.3.0 installed and working well (except the 'without rowid' issue) with 3.8.6, but changed to 3.3.1 update and reports it's working with 3.7.12. FWIW: I have OSX 10.8.6

[2014-08-31 22:21] akhilman opened #89 "Execute SQL and dark KDE theme"
The input field in a Execute SQL tab with white on dark KDE theme becomes unusable because of it shows white text on white background.
Can you make this field follow system theme?
Screenshot: http://h01.akhil.ru/drop/u6wq

[2014-08-31 22:23] #89 closed, assigned to nobody

[2014-09-01 14:04] mvt91 opened #90 "Translations"
Hi all,

I did a french translation. Where I can share the file ?
Thanks.

[2014-09-01 20:04] diego0020 opened #91 "expression in limit clause"
A query with an expression on the limit clause is not shown, for example

select \* from subjects order by subject limit 2*2

does not appears in the results panel. However the status message correctly reads
"4 Rows returned from: select \* from subjects order by subject limit 2*2 (took 1ms)"

[2014-09-03 05:16] #90 closed, assigned to nobody

[2014-09-03 10:19] nielscup opened #94 "Import Table from CSV bug"
Import table from a CSV file does not handle linebreaks in a field: If a field in the csv file contains a linebreak, the import function handles it as the start of a new record. A solution might be to take the number of fields per record into account as well.

I noticed this while importing a csv file from a third party.

ps. I find the "Import table from a CSV file" function brilliant anyways!

[2014-09-03 10:39] mattn opened #95 "Crash with inserting 10000 rows"
[code]

I run this sql, but sqlbrowser crashed.

Windows7 32bit

[2014-09-03 17:07] #88 closed, assigned to justinclift

[2014-09-03 22:46] justinclift opened #96 "New warnings on OSX when compiling"
Looks like some warnings have crept into the new CSV code, on OSX anyway. :wink:

[code]

[2014-09-03 23:02] justinclift opened #97 "Default value not working correctly"
This interesting bug (in latest master) was reported by email:

[code]

"sometable" is created, but when new rows are added they have 0 in the somefield2 column instead of 6.

Tested it myself on newly compiled master, and it's definitely happening there.

Any ideas?

[2014-09-04 17:07] #96 closed, assigned to nobody

[2014-09-05 01:49] #95 closed, assigned to nobody

[2014-09-05 19:07] #97 closed, assigned to nobody

[2014-09-06 13:10] Z4us opened #98 "Nightly build"
Where can I find the so-called 'nightly build' for OSX?

[2014-09-07 12:53] jiggersplat opened #99 "Feature Request"
Ability to export results of a select statement to a CSV.  Currently users must create view or table using select then export that.

[2014-09-07 12:56] #99 closed, assigned to nobody

[2014-09-07 15:07] #98 closed, assigned to justinclift

[2014-09-10 15:26] Z4us opened #100 "Access more than one database"
Will it be possible to access more than one file in a session?

I tried an 'attach', but B4S (Browser for SQLite) seems not to support it. Perhaps in a future version?
Standard one can attach nine more databases and even 124 with runtime-options.

Ref: http://www.sqlite.org/limits.html#max_attached

I get
 cannot ATTACH database within transaction: attach 'file:../db/main.sqlite:mode-ro' as dd;
I

[2014-09-15 01:00] justinclift opened #102 "New compile warnings on OSX"
Just noticed these. :wink:

[code]

[2014-09-15 19:04] MarkyMar opened #103 "Export Database or Table to SQL or CSV - allow export schema only"
Export Database or Table to SQL or CSV - allow a user to export the schema only
Suggest adding a check box to the existing Export dialog.
Check box label:  "Export schema only"
Default check box condition: Unchecked

[2014-09-16 17:21] #102 closed, assigned to nobody

[2014-09-16 17:50] justinclift opened #104 "New release check for non-Windows versions?"
Just noticed this code in the MainWindow.cpp file:

[code]

Would it be feasible to do this for the other OS's we provide packages for?  eg at least OSX

[2014-09-16 19:24] #104 closed, assigned to nobody

[2014-09-17 08:17] mikeee324 opened #105 "Refresh Button clears filters"
Is it possible to make a toggle so that I can use the refresh button and still keep the filters I've entered?

[2014-09-18 19:37] maxslimmer opened #106 "<tab> key to move to next filter"
On the Browse Data tab: It would really enhance keyboard navigation to have either (or) both the 'enter' and 'tab' keys move input focus to the next filter field. Currently 'tab' moves to the next data cell and 'enter' does nothing.

[2014-09-18 22:51] #100 closed, assigned to nobody

[2014-09-19 00:30] ghost opened #107 "Table export to CSV crashes for large tables with out-of-memory exception."
It appears that the table export to CSV builds the export file content first in RAM before writing it to the specified file. If the table is very large the process is hitting the 2GB RAM limit of Windows 32bit applications. Then it crashes. No file gets written at all.

[2014-09-19 22:04] jadeade opened #108 "Cannot set a custom field type"
I would like to have a Date field, but it's not possible, as the types are limited to these on the combobox

Need custom types, please!!

[2014-09-20 14:59] #105 closed, assigned to nobody

[2014-09-20 17:33] ToniTaste opened #109 "Foreign Key in Edit Create Table"
In my opinion it is not possible to create a table with foreign keys in the edit create table dialog. If I create the table with SQL and then I make a modification with the edit create dialog the foreign keys will be delete.

[2014-09-20 17:43] ToniTaste opened #110 "Insert data problem with NOT NULL"
My table:
CREATE TABLE `test` (
    `ID`    INTEGER NOT NULL,
    `Name`  TEXT NOT NULL,
    `ID2`   INTEGER NOT NULL,
    PRIMARY KEY(ID,ID2)
);

It is not possible to insert a record in Browse Date because there is a primary key with two fields and twice are NOT NULL

[2014-09-20 17:45] #109 closed, assigned to nobody

[2014-09-21 15:41] #54 closed, assigned to nobody

[2014-09-21 18:48] #76 closed, assigned to nobody

[2014-09-21 18:49] #28 closed, assigned to nobody

[2014-09-22 09:14] #84 closed, assigned to nobody

[2014-09-22 23:33] #15 closed, assigned to nobody

[2014-09-23 15:12] garrett opened #111 "Linux support?"
Hi all,

In looking through the README, I noticed there's no mention of Linux. Can sqlitebrowser run on Linux? Are there instructions for compiling it? Do any distributions ship it?

Could this information be added to the README (and perhaps other docs too)? Thanks!

[2014-09-24 12:13] raananb opened #112 "Wild cards in filters"
Non-English (i.e. French) items may contain single quotes and thus require these quotes doubled for sqlite.
It will be useful if sqlitebrowser allowed to search for double quotes, or for that matter any sequence of characters, in a filter. Wild cards may be a solution.

[2014-09-25 01:44] justinclift opened #113 "Database Structure - lines too long"
Bug reported via private email:

[code]

![noscrollingindatabasestructureview](https://cloud.githubusercontent.com/assets/406299/4398404/476bf8ac-4455-11e4-91c5-8650775545c4.png)

[2014-09-25 10:26] serden84 opened #114 "DB file size limit"
Software works very fine with <1GB files, but I have one sqlite, which is 8.6GB and can't open. The question is: is there any limit of sqlite file size? Do you have experience with large files?

[2014-09-28 20:37] Z4us opened #115 "Latest nightly build (20140928) starts in other directory than default"
In previous builds the application always started in the directory named in preferences. Since today (perhaps before, did not install between 19 and 27, sep 18 was ok) starts in the directory I was some time ago - iTunes...

[2014-09-29 06:41] #115 closed, assigned to nobody

[2014-09-30 11:56] justinclift opened #116 "Any ideas about this Chrome problem?"
https://twitter.com/MilanManca/status/516166436923125760

Personally, am thinking it might be a corrupted SQLite database there.

[2014-09-30 12:47] jonorozcoc opened #117 "Esquema en el TreeView del DataBase Structure"
Hola, el problema es el siguiente, es que cuando muestras el esquema de una tabla dentro del TreeView  su tamaño cambia considerablemente dañandole el aspecto a tu programa.

[2014-09-30 19:41] jonatandorozco opened #118 "Compatibilidad de SQLite"
Quisiera saber si su software posee compatibilidad con SQLite 2.x, puesto que es el mas usado por mi grupo de trabajo para realizar web development.

[2014-10-01 11:00] #116 closed, assigned to nobody

[2014-10-01 14:56] rajivnarayana opened #119 "Execute SQL might support allowing users to drag and drop from DBSchema so they don't have to type the names of variables."

[2014-10-02 11:24] DavidDewolfs opened #120 "Menu bar / tab titles / dialog buttons wrongly translated"
Hello,

When running the DB browser for SQLite version 999.0.0 under Kubuntu 13.04, I get my menu bar, dialog buttons and tab headers in a different - and wrong - language (specifically German) from my locale settings (Country: United States of America, Preferred Language: American English). Seems like everything explicitly KDE-related is being mistranslated. All of the rest looks correct. Screens

[2014-10-04 21:39] Z4us opened #122 "Data browser: only one result filtered. Bottom left we see 0, where there is 1"
![b4s304_f](https://cloud.githubusercontent.com/assets/8590771/4516870/a0874bce-4c0e-11e4-934b-3fdf4725472b.gif)

nightly build OSX of 4 October

[2014-10-06 03:06] #107 closed, assigned to nobody

[2014-10-06 03:44] justinclift opened #123 "Quote handling in CSV export still needs a bit more tweaking"
As reported by @beyonav in https://github.com/sqlitebrowser/sqlitebrowser/issues/107#issuecomment-57966995, it looks like our quote character handling still needs a bit more tweaking.

With reference to the spec at https://tools.ietf.org/html/rfc4180:

[2014-10-07 08:35] VrIgHtEr opened #124 "Custom collation not handled correctly"
I have an sqlite database that I created from c# (using the System.Data.SQLite library) and I have created a table using a custom collation function.

When I try to open the database in this program, the table with the custom collation does not work. I can't view the data, and I can't even run any queries on it, not even those queries that don't involve any comparisons, such as "select \* from tes

[2014-10-07 09:52] #122 closed, assigned to nobody

[2014-10-08 11:30] DSLituiev opened #125 "SQL string visual problem"
The issue I faced is that the cursor, '|' is shifted backwards to the position it actually is. Sometimes it is not between characters, but on top of a character. In the end of a string it lags a character behind.

E.g. I see
JO|IN
then I press 'Backspace' and get
J|ON

I run SQLite Database Browser on Ubuntu 12.04 LTS.

[2014-10-11 16:23] stevefalzon opened #126 "When Using the Modify table dialog the table schema isn't updated when any column in the table has a DEFAULT value"
- Note \* Edited. Title should be: When Using the Modify table dialog the table schema isn't updated when any column in the table has a DEFAULT value.

example error message:

"renameColumn: creating new table failed, DB says:''0'': syntax error"

Steve

PS. Apologies for originally posting this in a deprecated branch, first time using github, didn't realise I was posting in the wrong place.

[2014-10-11 17:33] M-Rick opened #127 "Feature request: Form view"
It would be great to a get a form view in the way of Bento or Glom. It would be more attractive and more convenient to enter datas.

[2014-10-13 22:56] #120 closed, assigned to nobody

[2014-10-13 23:38] #72 closed, assigned to nobody

[2014-10-13 23:48] #112 closed, assigned to nobody

[2014-10-14 02:50] #75 closed, assigned to nobody

[2014-10-14 13:14] #124 closed, assigned to nobody

[2014-10-15 11:02] MKleusberg opened #128 "Grammar parser fails to parse two quotes as used for escaping one"
Sorry for the confusing title of this issue :)
Here's the issue: SQL allows you to escape quote characters in a string literal by doubling them; like this:

[code]

Our grammar parser, however, fails to parse these. With commit b841025bae8cba4796ba3cd0e27a40ec96c6b71d I've already added a test case for this.

[2014-10-15 14:47] elton12345 opened #129 "Table Fields can be added but not renamed"
While modifying a table it is possible to add fields. These get names like Field7, Field8 and so on. Within the browser these fields can be given meaningful names, but these names never make it into the database - after "Write Changes" the generic names reappear.
sqlitebrowser 3.3.1, Mac OS 10.9.5.

[2014-10-15 14:52] elton12345 opened #130 "Browser crashes when inserting many records"
While filling a table with records I pasted a large number of INSERT statements (about 1,000) into the "Execute SQL" tab. On executing these sqlitebrowser crashed repeatedly.
Doing the same with a smaller number of INSERTs (about 200) was successful.
sqlitebrowser 3.3.1, Mac OS 10.9.5.

[2014-10-15 15:03] elton12345 opened #131 "Font size too small in log part of "Execute SQL" tab [minor annoyance]"
It's simply too small to read - but I can copy the text and view it in the Mac clipboard.
![bildschirmfoto 2014-10-15 um 17 02 16](https://cloud.githubusercontent.com/assets/9253552/4647579/53044ab6-547c-11e4-963f-a8d30b1c88b8.png)

[2014-10-15 16:23] #130 closed, assigned to nobody

[2014-10-15 17:23] #131 closed, assigned to nobody

[2014-10-15 17:28] #106 closed, assigned to nobody

[2014-10-15 17:39] #129 closed, assigned to nobody

[2014-10-15 22:30] rallyRays opened #132 "Importing CSV with space's."
Hi there,

I am importing a CSV with text fields, and the space between the text isn't importing. It appears to be removing all the spaces?

Is there a solution for this?

Thanks!!!
scott

[2014-10-16 11:40] jadeade opened #133 "When deleting a default value, it keeps using DEFAULT clause with '' value"
While editing a table definition, I set a default value and later I wanted to stop using that default value and deleted the content of it, but there's no way to "clear" the default flag, it continues using the DEFAULT clause with empty string as default value. I understand that under determined conditions you could need a empty string value as default, but what if you want to remove that default v

[2014-10-16 11:45] #64 closed, assigned to nobody

[2014-10-16 12:56] #111 closed, assigned to justinclift

[2014-10-16 22:36] #132 closed, assigned to nobody

[2014-10-17 15:55] #108 closed, assigned to nobody

[2014-10-17 15:58] #125 closed, assigned to nobody

[2014-10-21 10:05] #133 closed, assigned to nobody

[2014-10-21 18:55] #128 closed, assigned to nobody

[2014-10-23 01:02] roehrip opened #135 "Exporting Text fields should always use quotation marks"
I want to export a reference table from a development environment and import it into the production database.

When I export a TEXT field that contains a string that can be interpreted as a number it is exported without quotation marks. Unfortunately that means that leading '0' characters are lost when I execute the resulting SQL to import it again. The string is changed.

Example of an exported t

[2014-10-24 05:12] #91 closed, assigned to nobody

[2014-10-24 05:13] #80 closed, assigned to nobody

[2014-10-27 20:19] #110 closed, assigned to nobody

[2014-10-27 20:20] #135 closed, assigned to nobody

[2014-10-27 22:40] #123 closed, assigned to nobody

[2014-10-29 12:55] xiangxw opened #139 "Add tooltip for all table items"
some items are very long, such as "Schema" in "Database Structure" tab, items in "Browse Data" tab.

[2014-10-30 11:54] MarcoTroester opened #140 "No Access to SQL-Statement of View"
Hi,

I've been using your SQLite Browser software for about some months and just updated to your new program version. Generally I enjoy your software a lot, but recently I've been a bit disappointed about editing options for views:

Your new program version shows the CREATE VIEW SQL on "Database Structure" tab, but doesn't allow to copy or edit it like in your previous versions. I just wanted to c

[2014-10-31 00:43] asperax opened #141 "Allow Insert/Update/Delete for Views on Browse Data tab"
This is a feature request to allow Insert/Update/Delete user interface capability for Views on Browse Data tab.

Views are normally read-only in SQLite, however, SQLite supports using triggers on Views, which handle the write operations attempted against the View. When this is the case, the absence of a user interface for editing the view means you have to write SQL code to do so.

To avoid confus

[2014-10-31 01:30] #139 closed, assigned to nobody

[2014-10-31 18:57] rnavarro-gpsw opened #142 "new versio message appears even after don't show again"
Every time I start the app, I get a new version available even though I've clicked "Don't show again"
I'm on version 3.3.1

[2014-10-31 18:57] #142 closed, assigned to nobody

[2014-10-31 19:42] Tythesly opened #143 "Unable to open sqlite3 file."
I am trying to open this sqlite3 file but your program says invalid file format.

[2014-11-01 14:44] #143 closed, assigned to nobody

[2014-11-01 21:50] Tythesly opened #144 "CSV export bug - Fields aren't automatically quoted when separator character is present in the data"
ME AGAIN XD

That tool worked and All the information I need is in here!

Just one problem!
![screenshot_22](https://cloud.githubusercontent.com/assets/2800945/4873405/ee02075a-6210-11e4-9b15-1f16883a94a9.png)

Its in KOREAN! :'(

That isn't what I need help with though. When i try to export the table it seems to mess up the korean characters... I don't know if this is a problem with your program

[2014-11-02 01:05] timrae opened #145 "Windows installer :: App not registered properly"
If I try to right-click on a custom file type, and open with, sqlite browser doesn't appear. Even after going browse -> and manually selecting the sqlitebrowser executable from program files doesn't fix the issue.

Also sqlitebrowser doesn't appear in the list of programs to uninstall

[2014-11-02 02:18] #126 closed, assigned to nobody

[2014-11-02 02:20] #38 closed, assigned to nobody

[2014-11-06 22:30] Tythesly opened #146 "Export Multiple Tables"
When browsing the data of the SQlite file can you make it so that its possible to export all the tables into CSV files? Doing one at a time is taking forever xD

[2014-11-07 01:56] Tythesly opened #147 "Search all tables for specific text"
Would be cool if we can search all the tables. This SQlite file has 25 different item tables... I am trying to find the one that uses 0479 for the id_icon xD

![screenshot_12](https://cloud.githubusercontent.com/assets/2800945/4947305/52c7e0e2-6621-11e4-964b-d4083bdc1282.png)

[2014-11-07 05:21] reeshkov opened #148 "Linux: If table name by digits, data not show"
For example:
![sqlitebrowser_browsedata](https://cloud.githubusercontent.com/assets/3741754/4948757/c52c1f1a-6656-11e4-866b-bf4b369723fa.png)
If table name in quotes, in query then data is shown:
![sqlitebrowser_query](https://cloud.githubusercontent.com/assets/3741754/4948765/fd7ece62-6656-11e4-9443-cefc0ca34629.png)

[2014-11-07 21:15] #144 closed, assigned to nobody

[2014-11-07 21:16] kannes opened #149 "Remember CSV export options"
It would be great if the "Export to CSV" dialog (for queries) would remember the options. I like to export TAB-separated without quoting, so right now I have to click four times every export.

Also it would be great if the file save dialog that comes after would not be restricted. I like to save those as .tsv or even without file extension.

I am on Linux, using version 3.4.0

[2014-11-08 12:28] dylan666 opened #150 "near ".": syntax error:"
This select is working:
select \* from
Table1 join Table2
on Table1.ConsumerID = Table2.id
where Table1.visibility = 0 and Table2.visibility = 1

This Update is not working:
update Table1
set Table1.Visibility=1
from Table1
Table1 join Table2
on Table1.ConsumerID = Table2.id
where Table1.visibility = 0 and Table2.visibility = 1

The error message is:
near ".": syntax error:

First of all the synta

[2014-11-08 15:28] #150 closed, assigned to nobody

[2014-11-09 14:33] #149 closed, assigned to nobody

[2014-11-10 08:18] mkmkme opened #151 "[feature request]"Execute SQL": clear output if query returns nothing"

[2014-11-12 07:01] #151 closed, assigned to nobody

[2014-11-13 10:10] spassvogel opened #152 "Remember last location in the Execute SQL file dialog"
It would be really neat if the 'open SQL file' dialog (on Execute SQL tab) would remember the last directory I opened a file from. Now I have to navigate to the correct directory every time.

Also, when I press save it does not remember that I opened a sql file in the first place so I have to find the file. This could be a UX choice though.

One last thing. Some database tools have the option to e

[2014-11-14 17:52] #148 closed, assigned to nobody

[2014-11-16 19:06] AAverin opened #153 "UTF-16 in data input fields?"
I'm trying to input some rare UTF symbols, like acute accent (U0301), for example. But looks like edits fields in the UI do not support them.
Would be great if I could see them in UI.
Also, any way to input such symbols? Like, if I write \U0301 in the Edit field, will it read as one symbol in db or as 5?

[2014-11-16 19:09] tonnyavery opened #154 "Ability to link tables with dropdowns for auto-input"
I have a big database in mind that will be in sqlite.
And the most common data fill scenario would be the following:
There are 2-3 dictionary-tables that store dictionary entires, lots of them.
And there will be 1 table that will tie these entries together.
Obviously, this combination-table will have only id's from dictionary-tables, but it's so difficult to first input dictionaries, and they jump

[2014-11-16 23:03] #152 closed, assigned to nobody

[2014-11-17 11:46] #154 closed, assigned to nobody

[2014-11-17 14:33] chucklu opened #155 "How to open a database that is protected by a password?"
I create a sqlite database with the password 'abcd'.When I try to open the database ,this software just told me "Invalid file format"
I wonder why there is no choice to inuput the password to access the database

[2014-11-17 20:27] DongilKim opened #156 "Export to SQL INT Datatype Expression"
When dump .db to .sql

In version 3.3.1:
INSERT INTO `T_EXAMPLE` VALUES('STRING',0,'STRING2',0,NULL);

In version 3.4.0:
INSERT INTO `T_EXAMPLE` VALUES ('STRING','0','STRING2','0',NULL);
1. Additional space is attached to "VALUES"
2. Integer value is wrapped with ' '

Especially number 2 problem. Is it correct? I suppose it is not.

[2014-11-19 02:02] #87 closed, assigned to nobody

[2014-11-20 18:14] Tellie opened #157 "Add support for compiling on OS/2"
Hello,

Not sure it's right place, but...

When i compile it to OS2 using Qt v4.7.3 i get make error:

..\MainWindow.cpp: In member function 'bool MainWindow::loadProject(QString)':
..\MainWindow.cpp:1854:101: error: 'class QStringRef' has no member named 'toUtf8'
..\sqlitedb.cpp: In member function 'int DBBrowserDB::addRecord(const QString&)':
..\sqlitedb.cpp:640:9: warning: 'pk_value' may be use

[2014-11-21 01:36] Tythesly opened #158 "Compare Database Files"
Possibly add the feature to compare 2 separate database files to find differences in the tables... Possibility? Or just a dream?

[2014-11-23 19:44] lukas-w opened #159 "Crash when opening db without rowid and composite primary key"
Opening a db file with a table like this crashes SqliteBrowser:

[code]

The crash happens at `sqlitetypes.cpp:391`. That line fails because `tab.findPk()` returns `-1` as it can't find a single primary key column.

[code]

[code]

[2014-11-24 00:20] rallyRays opened #160 "Importing CSV with numeric data"
Hi there,

When I import data from a CVS file (exported from excel), one of the columns in the database is a numeric hexColor. some of those hexColors are "000000"(or black), and they are imported as "0" into SQL.Another issue is the hexColor "314659" is imported as "5.57e+92".

ATTACHED IMAGE EXPLANATION:

original data from excel:
srays_Excel_screenshot.PNG

exported CVS data:
srays_CVS_screensh

[2014-11-25 22:43] AndrewSav opened #161 "Feature Request: progress indicator and cancel button for long operations"
This Feature request comes along issues #114 and #107.

It would be nice if there would be a progress indicator when opening big databases or exporting big tables. `Cancel` button also will be welcome. Currently application freezes and becomes unresponsive until the operation ends. And you keep wondering if it's frozen for good or it's still alive and doing something.

[2014-11-26 15:29] MetaMemoryT opened #162 "Feature Request: Automatic update if found new version"
If software can automatically check for updates, we should have a button [Update] that downloads new exe and then starts installer.

[2014-11-26 16:49] #156 closed, assigned to nobody

[2014-11-26 22:41] #159 closed, assigned to nobody

[2014-11-27 02:28] 77tb opened #163 "NULL field values are not highlighted"

[2014-11-27 04:59] rob-hills opened #164 "Default sqlitebrowser version for current Ubuntu (14.04LTS) is VERY old"
I am trying to convert an existing MySQL DB to sqlite.  Being an optimist, I first tried an "ansi-compatible" export from the MySQL DB for one table, created (and saved) a new DB in sqlitebrowser and then tried running some of the Export file.  The result is that sqlitebrowser just hangs.

I was hoping to see it report a syntax error or something like that so I could go about massaging the sql exp

[2014-11-27 07:49] #146 closed, assigned to nobody

[2014-11-27 19:27] #118 closed, assigned to nobody

[2014-11-27 20:22] aMarCruz opened #166 "Functiones como DEFAULT de campos"
Hola,
¿hay alguna forma de introducir funciones como valor DEFAULT para un campo?
Lo que necesito es el valor de hora UTC como entero con este esquema:

     `timestamp` INTEGER NOT NULL DEFAULT (strftime('%s','now'))

veo el código y parece que no es posible.

Sería útil una ampliación que aceptara esta funcionalidad.
Por ejemplo, Visual FoxPro usa el "=()" para reconocer funciones:

    =(expres

[2014-11-28 01:01] justinclift opened #167 "Can't edit column when its called "Name""
Bug reported on Twitter:

&nbsp; &nbsp; https://twitter.com/Slini11/status/537656333684977667

![b3yjlgcceaadkuh](https://cloud.githubusercontent.com/assets/406299/5222720/106794a2-769a-11e4-9f01-b0db594fff57.png)

and:

&nbsp; &nbsp; https://twitter.com/Slini11/status/537924591763849216

[2014-12-08 11:03] PioneeringStar opened #170 "Export to CSV incorrect handling of carriage returns in output"
Attempting to export a SQLite table to a CSV file. Table contains text fields with carriage returns. Instead of properly wrapping the carriage returns, they're included in the output file. This causes issues when opening the CSV file. This happens in the export to SQL file as well:

INSERT INTO `SqliteArticleV3` VALUES ('04a2cca8-ab3c-47bd-bd6b-66be299c88b7','2012-12-28 00:00:00','Lazy day','0','L

[2014-12-08 15:13] #170 closed, assigned to nobody

[2014-12-08 17:34] #157 closed, assigned to nobody

[2014-12-11 12:02] Blackkatt opened #172 "Failure to delete some SQLite entries (.s3db)"
This is what happens when I try to delete this entry,

SELECT COUNT(*) FROM (SELECT `_rowid_`,* FROM `Instances`  ORDER BY `name` DESC);
SELECT `_rowid_`,* FROM `Instances`  ORDER BY `name` DESC LIMIT 0, 50000;
SELECT COUNT(*) FROM (SELECT `_rowid_`,* FROM `Instances`  ORDER BY `name` ASC);
SELECT `_rowid_`,* FROM `Instances`  ORDER BY `name` ASC LIMIT 0, 50000;
DELETE FROM `Instances` WHERE `_row

[2014-12-11 21:31] bonerfart opened #173 "Phones home"
Program (3.4.0 as downloaded 2014-12-11 from sourceforge) immediately phones home to an IP hosting suspicious sites such as 5monkeys.se (see http://reverseip.domaintools.com/search/?q=23.235.43.133). It shows no opt-out or autoaupdate options.

[2014-12-13 20:12] Z4us opened #174 "Attach database when main is encrypted"
If main is encrypted the version with SQLcipher seems to think all databases to attach are encrypted even when they are not.

[2014-12-17 19:37] samir-aguiar opened #175 "Compatibility with shadow build"
I know that the preferred method for compiling is cmake, but I tried to compile through Qt Creator with qmake and had problems with the libraries because I was using shadow build.
Besides, of course, disabling shadow build, another solution I found was to use the OUT_PWD variable instead of the PWD variable when declaring the libs path. The code looks like this:

[code]

This variable is equal to

[2014-12-26 10:44] malitech opened #176 "Index"
Hello,

I want to re-create an index for a database file and it has to be similar to the previous formatting. To have that, I want an option "None" for sorting of an index. Now there are "ASC" and "DESC" only. I don't want any sorting. Please add this. It's very important. Thanks! :)

Before:
(
    key_remote_jid,
    key_from_me,
    key_id
)

After:
(
    key_remote_jid, ASC,
    key_from_me, AS

[2014-12-31 01:56] myersjj opened #177 "Export CSV problem"
When I try to export as CSV the output from a query with delimiter set to ',' (comma), it does not quote fields that contain commas.

[2015-01-02 08:43] hughsie opened #178 "Please create an AppData file for sqlitebrowser"
Please consider writing and installing an AppData file with the application description and some screenshots, else sqlitebrowser looks really bad in the GNOME and KDE Software Centers. We'd love to showcase more applications, but without the extra data file we can't.

See http://people.freedesktop.org/~hughsient/appdata/ for details; thanks!

Richard

[2015-01-02 12:23] justinclift commented on #177
Yeah, it's a known bug in the current release.  It's fixed in the latest nightly builds (and our source code too), if that helps.

If you're on OSX or Windows, would you be ok to try the latest nightly build and try that out? (download locations are on the front page of this repo)

[2015-01-02 12:38] justinclift commented on #176
@malitech Out of curiosity, have you had a chance to try out the latest nightly build?

Wondering if this is working well for you now or not. :wink:

[2015-01-02 14:26] glawrence commented on #178
I believe you can do this yourself via a pull request, so why not do it yourself, you seem to know what is required?

Rather than use developer time on this, I reckon someone else could help with this, if you. I would be happy to give it a go if there are no other volunteers and it is agreed this is a good thing.

[2015-01-02 16:36] hughsie commented on #178
Right, I could indeed do a pull request. There are three main reason I've asked upstream maintainers to do this rather than just submit something myself:

* You probably know the application inside out, e.g. how to take screenshots to fully show off all the features that would take many weeks of me using to find out.
* You can update the description and screenshots yourself when you add new featur

[2015-01-02 18:22] myersjj commented on #177
Yes, the latest nightly build fixed this issue.

[2015-01-02 18:22] #177 closed

[2015-01-03 19:10] malitech commented on #176
Hello, I checked it out right now. Works great. Thanks. :)

[2015-01-03 19:10] #176 closed

[2015-01-04 22:27] thesoftwarebin opened #179 "Database Structure view: wrong parsing of CHECK constraints"
Hi!

I'm running DB Browser for Sqlite 3.4.0 on Windows 7.

* run test1:
<pre>
CREATE TABLE "a" (
	`b`	TEXT CHECK(`b`='A')
);
</pre>
and visit the Database Structure view: 1 table "a" with 1 column "b", that's OK.

* delete table "a" and run test2:
<pre>
CREATE TABLE "a" (
	`b`	TEXT CHECK(`b`='A' or `b`='B')
);
</pre>
and visit again the Database Structure view: 1 table "a" but column "b" is not s

[2015-01-04 23:06] justinclift commented on #176
Excellent.  Thanks for verifying. :grinning:

[2015-01-04 23:08] justinclift commented on #179
Would you be ok to try the latest nightly build?  There's been a lot of bug fixing since the 3.4.0 release, including with constraints. (download locations are listed on the front page of the repo)

Hopefully it's already fixed :smile:, though if it's not we'll need to look into it. :wink:

[2015-01-05 20:22] lbartoletti opened #180 "FreeBSD Port"
Hi,

I am pleased to announce that it's done! I created the ports and it was commited.
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=196365

You can install it via FreeBSD ports system:
#make -C /usr/ports/databases/sqlitebrowser install

[2015-01-05 21:05] thesoftwarebin commented on #179
Hello Justin,

  I downloaded latest build (http://rp.oldsch00l.com/sqlitebrowser/sqlitebrowser.exe.xz) a few minutes ago and repeated test2. It still shows the same defect as in ver.3.4.0.

May I please ask if you (and/or who reads this) to execute test2? Just to exclude that my setup is wrong. Thanks and kindest regards,

Andrea

[2015-01-06 13:16] MKleusberg commented on #179
Hello Andrea!
I can confirm this issue and could track its source down to the combination of a complex check constraint expression (containing an 'or') and using string literals inside it (comparing the column against a number would work). Anyways, the problem is fixed now, so tomorrow's nightly build will hopefully work better for you! :)

[2015-01-06 18:21] MKleusberg commented on #175
I can see no reason why this shouldn't work on any system. The OUT_PWD variable is a standard qmake feature since a long time. So it really will work on any system and for any Qt version (any version we support anyways). Just to be sure, I tested it on my system and it didn't break anything.

@samir-aguiar Sorry for the late reply but I'd be happy to include this fix in our code. cmake might be th

[2015-01-07 01:53] thesoftwarebin commented on #179
I downloaded the latest build and re-ran test2, now it works correctly. Thank you guys!

[2015-01-07 01:53] #179 closed

[2015-01-07 05:41] lbartoletti commented on #180
Yes,

You have two choice for install it:
Using port:
#make -C /usr/ports/databases/sqlitebrowser install

Using package:
#pkg install quiterss

Regards

[2015-01-07 18:23] samir-aguiar commented on #175
@MKleusberg if everything is good, I've just opened a pull request :)

[2015-01-08 21:57] MKleusberg commented on #175
Thanks again for your effort! :+1: I've just merged your pull request. I suggest leaving this issue open for another week or so, just in case this does cause problems for somebody, though I'm pretty confident that won't happen :)

[2015-01-08 23:43] samir-aguiar opened #182 "Ability to change language"
I believe it would be quite useful to be able to change the application language in the preferences dialog.
For example, my system language is German because I'm trying to learn it, but I like to use some applications in English because otherwise I have no clue of what they are saying.

I could work on this if you like.
From what I saw, DB Browser would probably need to be restarted to apply the c

[2015-01-09 14:49] justinclift commented on #180
Is "quiterss" the correct package name there?

[2015-01-09 14:54] justinclift commented on #182
Interesting idea.  On Linux and OSX it's not too difficult to change the language for a program prior to launch (change the LANG environment variable, then launch).  But that's not the case for every OS (eg windows), so this is probably a useful enhancement.

[2015-01-09 14:59] Z4us commented on #182
Perhaps all text to be translated in a seperate dynamic file

Kind regards / Vriendelijke groeten / Cordiali saluti,
Klaas V <http://www.innocentisart.eu/klaasv/indexw.html> Innocentisart
<http://www.innocentisart.eu>
klaasv@innocentisart.eu

On Fri, Jan 9, 2015 at 3:54 PM, Justin Clift <notifications@github.com>
wrote:

[2015-01-09 16:11] lbartoletti commented on #180
Sorry...

I works on quiterrss package too..
Remove pkg install quiterss.
It's:
#pkg install sqlitebrowser

[2015-01-12 10:35] SIRprise opened #183 "Can't add new record"
"Error adding new record: near ")":syntax error". I don't know where to search the problem.
Please make a repair function, fix this or show the position of the illegal record. https://dl.dropboxusercontent.com/u/13673400/test.sqlite

After "compact database" the button "write changes" is disabled.

[2015-01-12 14:28] Z4us commented on #183
The problem is probably in your schema SQLite does not recognize the types 'BOOL' nor 'DATETIME

sqlite> select * from spieleliste;
Name                                      Hersteller    Genre             F  installiert       Pl  durchgespiel  Sonstiges /   Bewertung   Erscheinungsdatum
----------------------------------------  ------------  ----------------  -  ----------------  --  ------------

[2015-01-12 14:33] Z4us commented on #183
and https://www.sqlite.org/datatype3.html#affinity

[2015-01-12 16:34] rp- commented on #183
there was some kind of small bug in our parsing grammar, because it wasn't really covered in the sqlite3 documentation.
Should be fixed with next nightly build.

c6f585e9c4ca86faf9667339c9102c3a357fd48f

[2015-01-12 18:37] MKleusberg commented on #183
Re "After "compact database" the button "write changes" is disabled.":
This is actually supposed to happen. The reason is that SQLite requires us to commit all changes before compacting the database, so this is what SQLiteBrowser does. There's also a warning at the top of the Compact Database dialog telling you about the fact that all changes are going to be written to disk before the database is

[2015-01-12 19:42] SIRprise commented on #183
@rp:
thank you for fixing!

@MKleusberg:
Writing the changes is ok, but if you open a db-file and compress it you need to change anything in db to save the compressed one.

[2015-01-12 20:16] jvonmitchell opened #184 "Add field does not support datetime"
I've noticed that the types available when creating a new field in a table are limited.  Is there any goal to support datetime?

[2015-01-12 20:20] ircer commented on #184
SQLite does not have a storage class set aside for storing dates and/or times.

[2015-01-14 22:48] samir-aguiar commented on #182
@Z4us sorry, but I didn't understand. What do you mean by separate file? I meant an option in the Preferences pane to select between the .qm translation files.

@justinclift Can you please test if you can change the language on the Mac (by changing the environment variables) with the lastest version? While working on this I found out that I cannot change it and I think it might be a bug.

[2015-01-17 13:34] #175 closed

[2015-01-17 13:38] MKleusberg commented on #182
@samir-aguiar
If you wanted to work on this that'd be awesome :smile: As for the question of where to put the new option in the preferences dialog I think it might be best to create a new tab (called 'Application' or 'Interface' or similar) for this. If you move the 'Default Location' option to that tab as well, the language option wouldn't even be the only field in there.

[2015-01-18 14:34] Z4us commented on #182
@https://github.com/samir-aguiar I mean it may be possible that developers make a kind of template for translators to easily translate the relevant data in the source to be translated to their language.

[2015-01-18 15:44] vassileiosdermentzis opened #186 "save SQL query bug report"
I use SQLiteBrowser in Windows Vista

1. I clicked in saveSQL file in execute SQL tab
2. In select file name window I press Save button and browses all folders (browse/hide folders option) instead of saving.
3. When it browses, I press again Save and nothing happens

[2015-01-18 15:51] MKleusberg commented on #182
@Z4us There's a tool included in the Qt framework for this: Qt Linguist (http://doc.qt.io/qt-5/qtlinguist-index.html). The basic translation process is to add a new entry to the TRANSLATIONS part in the src/src.pro file (currently around line 90), then re-build the project. Now, the build system will collect all the strings to translate in the entire application and put them in the file you just a

[2015-01-18 16:07] samir-aguiar commented on #182
@MKleusberg great, I'm working on this :grinning:

[2015-01-18 17:36] Z4us commented on #186
You have a SQL-statement correctly executed in the screen?
If so then click save-SQL-icon, type a filename
then save

[2015-01-19 16:36] justinclift commented on #182
Hmmmm, thinking about where to put a "change language" user interface element... shouldn't that go on the main window somewhere (unobtrusive)?

Just thinking of this from the point of view of.... "what happens if it starts up in a language I can't read?"  (eg mandarin, japanese, etc).  It would be very tricky to navigate to the preferences dialog in that situation, let alone finding the correct ta

[2015-01-19 16:39] #180 closed

[2015-01-19 16:40] justinclift commented on #180
Thanks, updated the installation info. :smile:

Btw, we'll probably be releasing v3.5.0 in the next few days.  Would you be ok to update the FreeBSD port when that happens?

[2015-01-19 16:42] justinclift commented on #178
This isn't something I'm personally interested in doing (not a fan of Gnome, and I don't use KDE).  However if someone does a pull request with the right bits, we'll happily merge it. :grinning:

[2015-01-19 16:44] justinclift commented on #173
k, for the next release (3.5), we'll only put the binaries on GitHub.  I'll also remove all of the existing binaries from SourceForge, and point people at the GitHub download location.

[2015-01-19 16:45] justinclift commented on #173
@bonerfart Btw, which OS did you find this behaviour on?

[2015-01-19 19:44] samir-aguiar commented on #182
I've just opened a pull request, but let's leave there while we decide on this then. :)

But I don't know, although this can happen most users will probably use that option once (if ever) and leave it alone for good. In such cases I think it would be strange to have it on the main screen.

[2015-01-19 20:51] glawrence commented on #182
I think if any app opens in a language you can't understand there is something very wrong, so I would kill it and then check my OS settings and search for known issues. If that is still not fixable I would try it on another machine or read someone's advice, probably from a ticket here, to navigate in the language I don't know to select one I do. So, my personal view is not on the main screen but i

[2015-01-21 18:12] justinclift commented on #182
@samir-aguiar @glawrence No worries at all, I was just kinda idly thinking out loud. :wink:

eg whatever you guys come up with is all good.  If it turns out to be non-optimal in practise, someone will probably create an issue about it then. :grinning:

[2015-01-21 20:33] glawrence commented on #182
Much better to think out loud @justinclift and have the discussion in public, especially for an open source project. @samir-aguiar I think the key is getting it working, then we can all see it, test it and you or someone can always comment, suggest or tweek it later. I always prefer to get functionality in and then tidy up afterwards.

[2015-01-21 22:25] samir-aguiar commented on #182
Keep thinking out loud @justinclift, ideas are always welcome. :smile:
I couldn't agree more, @glawrence. The current pull request is for a working version if you want to give it a go.

[2015-01-21 23:14] samir-aguiar commented on #162
Something that I thought:
The program could check for updates when initializing, and...
- On Windows it would download and run the installer, that should remove the previous version and install the new files.
- On Mac perhaps it's better to integrate Sparkle into the project and let it do the job. It's widely used and probably has less bugs than the alternatives.
- On Linux I think the package man

[2015-01-22 14:16] justinclift commented on #162
Yeah, that sounds like the right approach for Windows.  For OSX, it **might** not be that straightforward.  DB Browser 4 SQLite (we really need to think of an acronym for this program :wink:) can be installed using one of the OSX package managers (eg Homebrew).  So using a solution blindly on that platform probably isn't the right approach.  [Sparkle](http://sparkle-project.org) does sound worth i

[2015-01-22 14:20] justinclift commented on #162
Looking at the Sparkle instructions, this seems doable:

  https://github.com/sparkle-project/Sparkle/wiki

Sounds like it's mostly a packaging approach, and won't really touch the executable code itself.  This would probably work well for our existing .dmg/.app bundle downloads, without conflicting with the Homebrew installed versions.

[2015-01-22 18:12] samir-aguiar commented on #162
Yeah, I was thinking about giving it a try. :smile:
But I didn't know that there was a Homebrew formula for DB Browser 4 SQLite (I'm waiting for that anagram). Homebrew doesn't officially support autoupdate, does it? If not, Mac users who wanted that would need to set up a cron job or schedule the execution of a AppleScript/Automator Task.

Anyway, I'll do some testings with Sparkle and tell what

[2015-01-23 09:37] asanchez75 opened #188 "Maximum Number Of Columns"
How can I increase the Maximum Number Of Columns?
As far I understand the limit is 2000 but I need 8000.
Thanks

[2015-01-23 13:29] justinclift commented on #162
If it helps, I can provide the cronjob script used for the nightly builds of D2B4S (acronym test 1 :wink:) for OSX.  Probably chuck it in a gist or something.  Useful?

[2015-01-23 13:36] justinclift commented on #162
With Homebrew, I don't *think* it has an auto-update capability yet (unless recently added).  So yeah, people need to manually update when they're using that.

[2015-01-23 14:04] MKleusberg commented on #188
The 2000 columns limit is set by SQLite itself, so unfortunately we have no influence on that. There is a way of increasing the limit, however. You'd need to compile SQLite by yourself with the SQLITE_MAX_COLUMN setting changed to 8000 (see https://www.sqlite.org/limits.html#max_column). After that you need to compile SQLiteBrowser, too, using the modified SQLite library you just compiled. If you

[2015-01-23 14:08] MKleusberg commented on #184
You can just type your own datatypes into the data type field. The INTEGER/TEXT/BLOB/REAL/NUMERIC drop down box is just a list of suggestions and the text field next to the button opening it is a free-type input field.

[2015-01-23 14:08] samir-aguiar commented on #162
Yeah, it would be great. Please send it to me :grinning:

[2015-01-23 14:16] MKleusberg commented on #173
A 'whois' on the IP you reported says, it's owned by Fastly. That's a company which hosts all sort of websites and web applications, including Github. So I'm not that sure this connection is opened by some code added by Sourceforge - it might just be our update code connecting to Github. But without any information on the transferred data we can't really be sure.

Either way, maybe we should add a

[2015-01-23 14:37] justinclift commented on #162
Cool.  This is the script that generates the nightlies:

&nbsp; &nbsp; https://gist.github.com/justinclift/38887c1cfe480adfb11b

It's not at all elegant, and could be improved a lot (eg checking return codes for failures and similar)... but it works.

[2015-01-23 14:39] justinclift commented on #162
Btw, I'm kinda thinking "DB4S" is the shortest potential acronym we could use...

[2015-01-23 15:42] justinclift commented on #173
@MKleusberg Yeah, that's probably a decent preference thing to add.

[2015-01-23 15:43] justinclift commented on #184
@jvonmitchell Thoughts? (wondering if we can close this :wink:)

[2015-01-23 17:06] asanchez75 commented on #188
Thanks for your prompt answer. I just tried to compile and it works very well if I use Homebrew.

However, in my case I can not use Homebrew because I have to change the value SQLITE_MAX_COLUMN in the source code of sqlite before to compile and after to compile sqlitebrowser. The first compiling (sqlite was fine) but the last one (sqlitebrowser) was unsuccessful.
Then, I think the problem is becau

[2015-01-23 18:07] samir-aguiar commented on #162
Nice @justinclift, I was already thinking about asking you if you used qmake and macdeployqt to generate the bundles and .dmg files because I have another pull request to open related to the translations thing and bundle generation. Thanks!

DB4S sounds good to me :smile:

[2015-01-24 18:23] justinclift commented on #188
Hmmmm, you might want to cheat.  When Homebrew downloads source code, it caches the tarball on the filesystem (for me on an OSX 10.9.5 system, it's under /Library/Caches/Homebrew).

So, you can change the parameter in that tarball + update the md5sum of the sqlite Homebrew formula to match it.  That way, if you tell Homebrew to recompile the formula it will get your updated code.

Note though... t

[2015-01-27 14:57] justinclift commented on #182
Are we ok to close this one now, as #187 is merged?

[2015-01-27 22:07] samir-aguiar commented on #182
Please if possible wait until I make the changes suggested by @MKleusberg because I might ask for suggestions. :smile:

[2015-01-28 05:59] ashishkumartiwari opened #190 "Problem in database attachment"
I tried to attach a database with another database, but nothing happened after attachment. I want to attach a database with another to copy the data from one's database to another database table.

[2015-01-28 12:50] MKleusberg commented on #190
What do you mean with 'nothing happened'? It should ask you for a name to attach the database under and - if the attach operation performed successfully - won't show any message, the new database is just there and can be accessed by SQL, eg:
[code]

Of course, the attached DB should be shown somewhere in the UI but either way, it should be attached. But maybe even that's not working for you - that

[2015-01-28 13:02] MKleusberg opened #191 "Execute SQL tab: Add search bar for SQL code"
It'd be nice to have the option to search for texts or patterns in the SQL code in the Execute SQL tab. Some people keep all their SQL queries as some sort of history (I don't), but this would also be useful when opening a database dump or some similarly large SQL file. A find & replace function makes it even more useful.
I would suggest implementing this as one of these search bars modern applica

[2015-01-28 13:16] MKleusberg opened #192 "Proper foreign key support in the UI"
We could parse the foreign key constraints in a table definition to understand which column links to which column of a different table and then use that information in the Browse Data tab: When hovering over a cell with a foreign key constraint and some data in it, we could show a tooltip telling the user to what table is linked here. And when holding Ctrl and then clicking the cell (or some simil

[2015-01-29 11:25] justinclift commented on #182
Sure, no worries at all. :smile:

[2015-01-29 11:26] justinclift commented on #192
Sounds like a really good idea.  Please make it so. :grin:

[2015-01-29 11:27] justinclift commented on #191
This is a bit unclear to me.   Can you whip up a dodgy pic or something to illustrate?  (doesn't have to be pretty, just needs to get the concept across) :wink:

[2015-01-29 17:23] MKleusberg commented on #191
Here's a mockup of what I mean - "something you'd expect to open when you press Ctrl+F" might've been a better description :)
![find_mockup](https://cloud.githubusercontent.com/assets/3153504/5962376/c61a3ef6-a7e3-11e4-95c8-c7c4c0394f36.png)

[2015-01-30 00:42] justinclift commented on #191
Ahhh, ok.  In the example above, would it then reduce the output to show only rows with 'example' in them?

[2015-01-30 15:42] lbartoletti commented on #180
Yes, I will update the port.

[2015-01-30 16:26] justinclift commented on #180
Thanks.  It'll probably be this weekend. :smile:

[2015-01-31 18:11] justinclift commented on #180
@lbartoletti 3.5.0 is out now. :smile:

[2015-02-02 05:10] lbartoletti commented on #180
Done with a patch for translations: using Datadir (/usr/local/share/sqlitebrowser/) when installing instead of binary dir (/usr/local/bin).

Waiting for approval https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=197253

[2015-02-02 13:15] justinclift commented on #180
Thanks, that's awesome. :grinning:

[2015-02-02 13:19] justinclift commented on #180
Out of curiosity, the port seems to be carrying some patches (as below), should we merge these into the main codebase?

[code]

[code]

[2015-02-03 14:38] Z4us commented on #190
https://www.sqlite.org/lang_attach.html

[2015-02-03 14:42] Z4us commented on #190
and https://www.sqlite.org/c3ref/open.html#urifilenamesinsqlite3open

[2015-02-04 16:23] MKleusberg commented on #174
Thanks for noticing this! This issue should be fixed by commit f63b11925df2f7b538ef0f9f7da975e875aa5289 which, however, probably needs a bit more testing.

[2015-02-04 16:59] MKleusberg commented on #172
So, I could track down the issue to the very large primary key values used in the database which wouldn't fit in the int datatype we were using at some places. This should be fixed in the next nightly build.
Thanks for your bug report, @Blackkatt :smiley:

[2015-02-04 17:03] Blackkatt commented on #172
@MKleusberg  Haha good work! I'll have to give it another try just because you spent all that time locating the issue WTG!

[2015-02-04 18:18] justinclift commented on #190
@ashishkumartiwari Ping?

[2015-02-04 18:20] justinclift commented on #174
@Z4us Do you have a few minutes to try out the fix in the next nightly build (from tomorrow onwards)? :smile:

[2015-02-04 18:22] justinclift commented on #172
@Blackkatt Would you be ok to try the next nightly build (after tonight), and confirm back whether it's now working properly or not?  (download locations for the nightly builds are on the front page of this repo) :smile:

[2015-02-04 18:24] Blackkatt commented on #172
sure why not

[2015-02-04 18:28] Blackkatt commented on #172
@justinclift could you link me perhaps, I see nothing called Nightly Builds only the master updated 2h ago =)

[2015-02-05 08:51] harysutanto opened #193 "CSV Import bug - final row being missed"
OS : OS X Yosemite 10.10.2
SQLiteBrowser Ver : 3.5.0

There's a bug when importing CSV files to database that the last record is not imported. Say that I have 10 records, then only 9 of them is imported, 20 records and only 19 imported. I use another SQLite browser app and the import works fine. Maybe you can work this bug out, I really love using your app for simplicity and easy to use.

This cas

[2015-02-05 09:09] rp- commented on #193
Hi!

Can you provide such a CSV file? Maybe as real download, pasting it somewhere might ruin the linebreaks.

[2015-02-05 10:01] harysutanto commented on #193
Ok. Here is the CSV file with 10 records, and only the first 9 is imported.

CSV file is generated using Apple's Numbers app on OS X.

https://www.dropbox.com/s/e8pad14efeki5e7/ZWATCHACTIVITY.csv?dl=0

[2015-02-05 14:11] Z4us commented on #174
I took like 10 minutes tit test the build of MMXV-II-V and it works of course. I expected no less of MKleusberg. You guys rule! Keep up the great work on DB Browser4SQLite. Can we expect a 3.5.1 soon?

[2015-02-05 14:12] #174 closed

[2015-02-05 14:15] rp- commented on #193
Thanks, I think I got it, looks like a stupid mistaken variable.

[2015-02-05 14:31] Z4us commented on #172
SQLite by default uses 64-bit: https://www.sqlite.org/lang_createtable.html

<quote>
ROWIDs and the INTEGER PRIMARY KEY

Except for WITHOUT ROWID tables, all rows within SQLite tables have a 64-bit signed integer key that uniquely identifies the row within its table. This integer is usually called the "rowid".
</quote>

[2015-02-05 14:59] rp- commented on #193
should be fixed: 8d55fd5c48ef9ac5f94edfbe0af463dacf071593

[2015-02-05 15:20] harysutanto commented on #193
Thanks for the fix!

[2015-02-06 09:29] da3moon opened #194 "Crash when a table name is empty"
Hi,

My usecase is probably not supposed to happen, but it happened: I unfortunatly added a table with no name. Having this leads to a software crash at startup.

But anyway, thanks for this amazing sowtare!
da3

[2015-02-06 13:16] samir-aguiar commented on #162
Just a status update: I've managed to integrate Sparkle into the app, but not without adding code. I needed to add a small Object-C++ source file to call the Sparkle methods. Sparkle also requires packages to be signed and does a bunch of checks to avoid tampered updates so the .plist files required some changes as well.
Anyway, it was just the basic integration; I still need to look at Sparkle's

[2015-02-06 13:16] MKleusberg commented on #194
This is an interesting catch ;) I wasn't aware at all that SQLite would allow you to do this. Anyway, the problem should be fixed in the next nightly build, so you can use the database and the table just like any other - that's if I didn't miss anything while testing the patch, of course :smiley:

[2015-02-06 13:21] MKleusberg commented on #172
@Blackkatt For Windows you can find them [here](http://rp.oldsch00l.com/sqlitebrowser/). Just download the sqlitebrowser.exe.xz file and uncompress it with 7-Zip or some similar program.

[2015-02-06 13:22] Blackkatt commented on #172
@MKleusberg ok, spanx, I'll test this out later today then =)

[2015-02-06 13:23] MKleusberg commented on #174
Thanks for the kind words, @Z4us :smiley: Not sure if we're going to release a 3.5.1 but I hope 3.6 won't take that long :)

[2015-02-06 16:34] harysutanto opened #195 "NULL value imported from CSV file become empty string"
<b>OS : OS X 10.10.2
SQLitebrowser Version : Feb 06, 2015 nightlies</b>

It is as the title suggests, null value is become empty string when I tried to import from CSV file which has a null value (etc,10,,10,). I tried to import using other SQLite app the null value (etc,10,,10,) become <i>NULL</i> instead of empty string. Oh, and the preview when importing a CSV file (after choosing the CSV file)

[2015-02-06 17:30] justinclift opened #196 "Default Location field can't be changed in v3.5.0 on OS"

[2015-02-06 17:35] justinclift opened #197 "Default Location field can't be changed in v3.5.0 on OSX"
As reported here (and confirmed by myself just now), the "Default Location" preference value can't be changed.  The text field can't be typed into, and the "clickable" button doesn't open a dialog.

&nbsp; &nbsp; https://twitter.com/umeya_mann/status/562772757021491201

![b9hkk02ccaigrwg](https://cloud.githubusercontent.com/assets/406299/6084142/76fa04ac-ae26-11e4-9ca3-ab8f16ac32e6.png)

We may wa

[2015-02-06 17:41] samir-aguiar commented on #197
Ohh, that's on me, that's probably caused by ae03113. Sorry about that, I'm taking a look.

[2015-02-06 17:54] justinclift commented on #197
Thanks. :smile:

[2015-02-06 17:57] justinclift commented on #174
Thanks guys, that's awesome. :grin:

[2015-02-06 17:58] #196 closed

[2015-02-06 17:59] justinclift commented on #196
No idea how this got double posted.  I hadn't even finished typing in the original info... :frowning:

[2015-02-06 18:01] justinclift commented on #193
@harysutanto Sounds like this was just a simple mistaken variable bug, so should be fixed now.  However, just to be 100% sure, would you be ok to test with the latest nightly and confirm back if it's ok or not? :smile:

[2015-02-06 18:02] justinclift commented on #162
Cool.  All good progress.  Pleae keep it up. :grinning:

[2015-02-06 18:14] justinclift commented on #194
@da3moon Would you be ok to try the next nightly build (tomorrow), and confirm back to us if it's all working properly now or not?  (download locations for the nightlies are listed on the front page of this repo)

[2015-02-06 19:08] samir-aguiar commented on #197
@justinclift I think this should fix it! Sorry about that!

[2015-02-06 20:37] justinclift opened #199 "Suggestions for funky 3.6.0 project name?"
We don't have a funky project name for our 3.6.0 release yet.

Anyone have suggetions?

They started out with sunlight/light based names, then I ran out of ideas and just picked interesting word sets.  So, pretty much anything that sounds interesting is a valid suggestion. :grinning:

[2015-02-06 20:45] justinclift commented on #197
Awesome Samir, yep, that fixed it. :smile:

@MKleusberg @rp- I'd like to get this fix into a main release very quickly.  @rp- Do you have time to build a new windows release in the next few days?  I can do the OSX bits, release notes, etc. :smile:

[2015-02-06 23:52] justinclift opened #200 "Some translations have the Preferences menu in the wrong place on OSX"
When testing #189, it turns out some of the translations have their Preferences dialog turn up in the wrong menu under OSX.

For OSX, it should always be under the Application menu.  For at least Russian and French it's turning up in a different menu ("Vue" for the French).

[2015-02-07 04:08] harysutanto commented on #195
On second try, I think when importing from a CSV data to current table that exist in the sqlite database ignores whatever default value the table has. Maybe this is why, when importing from a CSV the value of the table become empty cell rather than the table default value NULL.

I already tried using other default value other than NULL, and the result is also an empty cell rather than default valu

[2015-02-07 04:12] harysutanto commented on #193
Oh yeah, I already tested using the Feb 06, 2015 nightlies, and the problem is fixed but forgot to post here. Silly me!

Anyway, Thanks again for the fix!

[2015-02-07 13:37] justinclift commented on #193
Awesome. :grinning:

[2015-02-07 16:12] rp- commented on #197
We might want to merge a few more bug fixes into 3.5.1 (csv import, ...)
But yeah I can build a windows version tomorrow.

[2015-02-07 16:26] rp- commented on #195
Well I can live with the argument that an empty: ',,' column should NULL and if you want a empty string the CSV data should be ',"",'.
But to get default values for columns is a bit more tricky and maybe not always what a user would expect or want. And usually it shouldn't be such a problem to get default values you want into the csv data. e.g. with libreoffice calc or excel.

[2015-02-07 18:43] Z4us commented on #199
Primavera

(i.e. Italian for spring - eventually you may write it not exactly correct, but as a pun like 'Prima Vera')

[2015-02-07 18:58] Z4us commented on #197
t seems I had a vision a few days ago. Thank you, rp et al ;-D

[2015-02-07 18:58] glawrence commented on #199
I would suggest coming up with a pattern rather than a name. For example, I worked for a company once where projects were named after letters of the alphabet, starting with A of course and their theme was alcohol, so the first project might have been Ale for example, however I worked on Guinness.

It might be better to use something that won't have copyright or trademark issues! Just in case. Ther

[2015-02-07 19:53] justinclift commented on #199
Heh, that's two decent thoughts... keep them coming. :grinning:

[2015-02-07 19:56] justinclift commented on #197
@rp- Yeah, I reckon we should include all of the bug fixes since release. eg the CSV import off-by-one bug, the support for empty table names, both of @samir-aguiar's PR's, etc

[2015-02-08 08:16] Z4us commented on #199
Following glawrence's suggestion we would start with F being the sixth letter of the alphabet.  Combination with mine 'Frühling' (German for spring) or his own 'Frankfurt'

[2015-02-08 09:36] da3moon commented on #194
Hi @justinclift , I just tested it, it works. Thanks @MKleusberg for the fast fix !!! (And I corrected my own software as well, so this should no longer happen :+1: )

[2015-02-08 10:15] #194 closed

[2015-02-08 10:25] rp- commented on #197
draft is up.

[2015-02-08 13:15] justinclift commented on #197
@rp- Thanks, that's Awesome. :grinning:

[2015-02-08 13:15] #197 closed

[2015-02-08 13:24] justinclift commented on #199
Personally, I'm kinda against using letters of the alphabet.  (Due to Canonical doing that, and I'm no fan of theirs. :wink:)... and place names is kinda boring.

eg "Space Pizza Express" does sound more interesting... and could lead to nifty release-logos :grinning:

For 3.6.0, how about "Dragon Emperor Chu"?

[2015-02-08 15:17] justinclift commented on #197
3.5.1 is released: https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.5.1

[2015-02-08 16:53] justinclift commented on #180
@lbartoletti It turns out there were a few important bugs in 3.5.0, so v3.5.1 has just been released (if you want to update the port?). :smile:

[2015-02-08 17:01] lbartoletti commented on #180
Hello, I do not think that this patch is to be applied in the code base, it was necessary for me to make a clean install on FreeBSD. Nevertheless, it may be possible to perform a modification of the code to be compatible with all systems. Indeed, SqliteBrowser search the directory "translations" where it is installed (local dir or install dir /usr/[local]/bin).
Now it is in my view a mistake when

[2015-02-08 18:19] M-Rick commented on #127
Hi

I come back to you with a long time later after the request. I am very sorry, I have been busy and forgot to look after this.

So, to remind the request was to create a simple form view for SQLite browser.

I spoke a bout Glom (Gnome) and Bento (Mac OS X).

They are working almost the same way, but with a simpler way for Bento with a little more graphic features, so I made screenshots of it wi

[2015-02-08 21:07] justinclift commented on #180
@MKleusberg Hmmm, any ideas? :smile:

[2015-02-08 21:09] justinclift commented on #127
Thanks, downloading that now.  Is it ok if I insert those pictures into this Issue, so others can see them?

[2015-02-08 21:55] Z4us commented on #199
Referring to China to avoid political correctness ;-?

[2015-02-08 22:38] M-Rick commented on #127
ho yes that's ok

I shared them this way cos' of the heavy file, but now they are yours 😉

Le 8 févr. 2015 à 22:09, Justin Clift a écrit :

[2015-02-08 22:58] justinclift commented on #199
??? Not really.  China didn't really spring to mind at all.  Just been watching anime today tho, while doing other stuff. :grinning:

[2015-02-08 23:11] justinclift commented on #127
Cool.  It looks like you've spent a lot of time and effort thinking this through, so I hope someone picks up this Issue + implements it. :grinning:

![plein_ecran_08_02_15_14_00](https://cloud.githubusercontent.com/assets/406299/6099064/d331a48e-afe6-11e4-987d-465ec33871ff.png)
![plein_ecran_08_02_15_14_10](https://cloud.githubusercontent.com/assets/406299/6099068/d3390e54-afe6-11e4-93fe-fd1655782

[2015-02-08 23:12] justinclift commented on #127
I guess there would need to be a "form designer" part, and a "form viewer" part (eg for displaying data and/or data entry).

[2015-02-08 23:16] justinclift commented on #190
Hmmm, going to close this for now.

@ashishkumartiwari If this is still not working for you and you still need assistance, you're welcome to reopen it. :smile:

[2015-02-09 08:21] Blackkatt commented on #172
Seem to work fine, GJ.

[2015-02-09 09:25] DerkachAlex opened #201 "Can't paste(edit) text manually in Edit Table wizard (sql query control)"
With last update I can't manually edit sql query in Edit Table wizard.
I think this option is required!
What do you think about it?

[2015-02-09 09:31] #201 closed

[2015-02-09 09:32] DerkachAlex commented on #201
sorry. editable sql text is in Execute SQL tab.
wrong issue :)

[2015-02-09 12:10] Z4us commented on #199
What about famous people provided:
1 they are dead
2 equally use artists, champions in sports, politicians, (fe)males etc.
3 perhaps they have something to do with the date e.g. day of birth, death, victory, dissertation, speech etc.

example: if a release is planned April 4 one may think of Martin Luther King

[2015-02-09 16:17] justinclift commented on #199
Ahhhh, that's an interesting idea.

March 1st is our next tentative release date, so lets look for some March 1st people for that. :smile:

[2015-02-09 16:20] justinclift commented on #201
No worries at all. :grinning:

[2015-02-09 16:20] justinclift commented on #172
Excellent, thanks for confirming back. :smile:

[2015-02-09 16:20] #172 closed

[2015-02-09 17:02] samir-aguiar commented on #199
I also find interesting the name of stars/galaxies, famous historical
battles or Greek/Roman mythology characters.
On Feb 9, 2015 5:17 PM, "Justin Clift" <notifications@github.com> wrote:

[2015-02-09 17:27] justinclift commented on #199
Maybe name it after "Gioachino Rossini"?

&nbsp; &nbsp; http://www.thefamouspeople.com/march-1st.php

[2015-02-09 17:28] justinclift commented on #199
@samir-aguiar Famous historical battles &larr; Meh.. naming a release after the death of lots of people... doesn't sound optimal. :anguished:

[2015-02-09 17:48] MKleusberg commented on #199
Naming it after some event that happened on this particular date kind of forces us to stick exactly to the planned release date. Don't know if that's a good or a bad thing... - but it definitely might make releases more stressful ;)
Anyway, I'm looking at https://en.wikipedia.org/wiki/March_1 at the moment... How about Beer Day? Or Justin Bieber? :wink: Or, more seriously, Naomi Anderson.

[2015-02-09 18:49] justinclift commented on #199
Naomi Anderson seems like a decent figure.  Now, how to turn that into an interesting project name... :grin:

[2015-02-09 20:53] M-Rick commented on #127
yes of course, that'd be more convenient.

Le 9 févr. 2015 à 00:13, Justin Clift a écrit :

[2015-02-09 21:00] M-Rick commented on #127
yes it took me some time, but because I think this little piece of software is good enough to fill the gap.

but I am also aware that'll be a lot of work for the dev(s) behind… and unfortunately, I am unable to help at this level 😞
but I only based my view with a discontinued software. Glom for Gnome is interesting too, but it's less handy, but it has for it that it can manage SQLite databases, bu

[2015-02-09 22:43] samir-aguiar commented on #182
So I've implemented the changes proposed by @MKleusberg and the behavior is the following: it adds the suffix "[System language]" when the language has a corresponding translation and, if that's not English, it adds "[Default language]" to English. It also moves the selected language to the top.

However, for English the resulting text is "English (United States) [System language]", which seems ki

[2015-02-09 23:08] justinclift commented on #182
Heh, nah that length is fine.  Feel free to widen out the combo box as needed for it. :smile:

[2015-02-09 23:12] justinclift opened #202 "64-bit windows build?"
A user on Twitter mentioned that 3.5.0 is crashing on Windows when trying to open an 11GB SQLite database file.

The thought occurred to me that maybe if we can provide a 64-bit windows version (instead of Win32), maybe that would work.

Though, I have absolutely no idea where to even start.  Maybe we need to look into the "free" version of Visual Studio that (from dodgy memory) Microsoft started

[2015-02-09 23:17] samir-aguiar commented on #182
Okay then!
What about some flags? :smile:
![image](https://cloud.githubusercontent.com/assets/3753623/6118080/2783eb5e-b0ba-11e4-8d2a-e3a19fd8c18d.png)

[2015-02-10 00:00] justinclift commented on #182
Flags aren't a bad idea, but some people can have a problem with them. eg where there are conflicts over national boundaries

That being said, if it's easy to include them, maybe lets do that anyway... we can adjust later if people have a serious issue with them. :grinning:

[2015-02-10 00:01] justinclift commented on #182
... they do add some nice colour... :innocent:

[2015-02-10 08:31] samir-aguiar commented on #182
It's actually quite easy to add them; QComboBox supports passing a QIcon() along with the data, so it would be a matter of including the images in the resource file. Of course, a image file would need to be added for every new translation.
I've found [this pack](http://www.iconarchive.com/show/world-flags-icons-by-osiris.html) that contains a lot of flags and is free to use according to the licens

[2015-02-10 09:00] Z4us commented on #202
Depends on the file system. If they still use FAT32 nothing helps

http://en.wikipedia.org/wiki/Large_file_support

[2015-02-10 09:06] Z4us commented on #199
Malak Karsh's birth was exactly a century ago

[2015-02-10 09:12] Z4us commented on #199
What about Naomi Anderson's dream?

[2015-02-10 09:27] rp- commented on #199
Not that I care too much about release names, actually I hate the debian/ubuntu naming, because I never really know which name belongs to which release.

I don't think using names of real characters is a good idea, I would rather use fictional characters or something completely different.
But again release names don't really add anything useful, until they are funny. (e.g. grml release names if yo

[2015-02-10 11:30] Z4us commented on #199
Fictional characters and/or anagrams is a good idea as well

[2015-02-10 14:15] justinclift commented on #199
Hmmmm....

k, on that note how about "Zoidberg has landed".  That's a fictional character (Futurama), and sounds somewhat interesting.  Now, we just need someone with illustration skillz... :grinning:

(Though I could go with "Naomi Anderson's Dream" as well tbh) :wink:

[2015-02-10 14:22] justinclift commented on #202
For reference, the problem report on Twitter is here:

  &nbsp; &nbsp; https://twitter.com/MikeSchwert/status/564645625547870208

I'm pretty sure he's not using FAT32.  He wouldn't have an 11GB file to open if he was. :wink:

[2015-02-10 14:35] justinclift commented on #182
Hmmm, yeah, lets add them.  Does this look useful?

&nbsp; &nbsp; https://github.com/sqlitebrowser/iso-country-flags-svg-collection

Forked that to our own org repo, so it doesn't go away or disappear mysteriously. We can delete it if it turns out not to be useful.

[2015-02-10 22:15] samir-aguiar commented on #182
Yeah, that's good. I'll be doing some tests and commit later this week.

[2015-02-11 05:23] lbartoletti commented on #180
sqlitebrowser 3.5.1 commited on FreeBSD :)
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=197474

[2015-02-11 07:29] glawrence commented on #202
Just to help dodgy memory @justinclift as I suffer the same, I believe you mean Visual Studio Community Edition, which is better than the old Express Editions and more information is at http://www.visualstudio.com/en-us/news/vs2013-community-vs.aspx

[2015-02-11 17:58] MKleusberg commented on #200
Hi Justin, can you test this with the commit I've just made? If I understood the Qt documentation correctly it might work this way but I've no chance to actually test it...

[2015-02-11 22:30] justinclift commented on #200
Sure, I'll give it a shot tomorrow.  Need sleep atm. :wink:

[2015-02-11 22:32] justinclift commented on #180
Thank you. :grinning:

[2015-02-11 22:34] justinclift commented on #202
@glawrence Thanks yeah, that's probably it. :smile:

[2015-02-11 23:15] Z4us commented on #199
Animals - fictional like Snoopy, Snowy (we call him Bobby) etc

[2015-02-12 04:26] justinclift commented on #200
Tested this just now instead, and yep, it works:

* Compiling the v3.5.1 version &rarr; Preferences entry is in the wrong menu
* Compiling with this patch applied &rarr; Preferences entry is in the Application menu (checked all of Chinese, French, German, and Russian).

Awesome stuff Martin. :grinning:

[2015-02-12 04:26] #200 closed

[2015-02-12 08:07] samir-aguiar commented on #200
Nice one, working here as well. Those Qt roles are tricky :smile:

[2015-02-12 23:53] Greg-Roberts commented on #140
I feel a bit like an idiot for not trying Ctrl+C before seeing you post. I think it will do what I need but I'd still like to second the request for a clear way to edit the create statement.

Thanks,

Greg

[2015-02-13 22:57] samir-aguiar commented on #182
Well, I guess it's done.
The system and default language (when the former is not American English) now have a suffix appended to them and the chosen language stays on top.

I've done a lot of testing with those flags and couldn't get them to look nice when building with small resolutions, so I've just built 320x240 images and manually rescaled them with Gimp.

If someone could test the width of th

[2015-02-13 23:52] StormTrooper opened #203 "Running a query and % is dropped?"
Table:

BEGIN TRANSACTION;
CREATE TABLE `table1` (
	`Field1`	TEXT
);
INSERT INTO `table1` VALUES ('testing');
INSERT INTO `table1` VALUES ('123');
INSERT INTO `table1` VALUES ('87654');
COMMIT;

Query:
select * from table1 where CAST(Field1 AS Text) LIKE '%2%'

1 Rows returned from: select * from table1 where CAST(Field1 AS Text) LIKE '2%' (took %3ms)

The % in front of '2%' is dropped and no resu

[2015-02-14 03:51] justinclift commented on #182
Just tried the latest nightly on Win7, and the combo box width looks really good.  Good stuff! :grinning:

Interestingly, only "English (United States) [System Language]" is available in the drop down box.  I'll create a new issue for that in a minute (guessing its a packaging problem on Windows).

[2015-02-14 03:51] #182 closed

[2015-02-14 03:56] justinclift commented on #203
Ouch, that doesn't sound good.  Um, hopefully one of the guys has time to look into it in the next couple of days.

[2015-02-14 03:59] justinclift opened #204 "Windows builds don't seem to include translations"
Installed DB4S 3.5.1 on Windows 7, then looked at the languages available in the Preferences dialog.  It only has "English (United States)" available in the drop down.  Also tried the latest nightly, which has @samir-aguiar's latest code in it, and that has the same limitation.

Wondering if this could be a packaging problem on Windows or something?

[2015-02-14 08:29] StormTrooper commented on #203
Did another test and ran from the sqlite3 cli - working fine.

sqlite> select * from table1 where CAST(Field1 AS Text) LIKE '%2%';
123

[2015-02-14 18:06] justinclift commented on #203
Yep, sounds like a definite bug then.

[2015-02-14 18:29] StormTrooper commented on #203
Some more info which hopefully points to where the problem could be:

like '%6% - working.
like '%3% - is changed to like '6%';
like '%2%'; - is changed to like '2%';
like '%1%'; - is changed to like '7%';

Very odd. :)

[2015-02-14 18:35] samir-aguiar commented on #203
I think I've got it. :smile:
The "%2" was being seen as a placeholder by QString::arg() when doing replacements.

[2015-02-14 18:46] StormTrooper commented on #203
Great stuff. That was quick - thanks. Will check in the nightly tomorrow.

[2015-02-14 18:55] justinclift commented on #203
@samir-aguiar Awesome. :grinning:

[2015-02-15 07:07] StormTrooper commented on #203
Tested on the latest nightly. Now working. Thanks a lot guys!

[2015-02-15 07:07] #203 closed

[2015-02-15 15:58] justinclift commented on #203
@StormTrooper Excellent, thanks for testing and confirming back. :smile:

[2015-02-15 19:39] justinclift commented on #184
Closing this, as it's not really anything we can do something with.

[2015-02-15 19:39] #184 closed

[2015-02-15 19:44] justinclift commented on #183
@SIRprise Reading through this again, this confuses me:

[code]

Do you mean that changes are NOT being saved when the database is compressed?

I just tested it with our latest code, and it **seems** to be saving things when compressing.  Am I not seeing something important? :smile:

[2015-02-15 19:45] justinclift commented on #188
@asanchez75 How did this go? :smile:

[2015-02-15 19:46] justinclift commented on #186
@vassileiosdermentzis Did you get this figured out?

[2015-02-15 19:50] justinclift commented on #164
Hmmmm, we could probably put a call out through Twitter, to see if someone wants to create a PPA for our releases on an ongoing basis.  Pretty sure @rp- is busy with other stuff atm.

Guessing no objections? :smile:

[2015-02-15 19:51] justinclift commented on #167
Closing this, as the original reporter never got back to us. :frowning:

[2015-02-15 19:51] #167 closed

[2015-02-15 19:54] justinclift commented on #160
@rallyRays Looking back through our older issues atm.  Did putting quotation marks around the hex numbers get it to work? (wondering if it did, and if this issue can be closed :wink:)

[2015-02-15 21:16] SIRprise commented on #183
@justinclift The "compact" function seems to have effect if a record between records was deleted. Description of behaviour of 2 Versions before, step by step what I did:
- remove record(s) between other records (in "Browse Data")
- write changes
- press compact
- write-button is greyed out, but at this time nothing was saved and filesize is still large

In Version 3.5.1 DB is written to file immed

[2015-02-15 21:16] #183 closed

[2015-02-15 23:11] justinclift commented on #183
Cool.  :smile:

[2015-02-15 23:16] vassileiosdermentzis commented on #186
No i didn't I am still getting this bug
Στις 15 Φεβ 2015 9:46 μ.μ., ο χρήστης "Justin Clift" <
notifications@github.com> έγραψε:

[2015-02-16 00:52] rallyRays commented on #160
Hey Justin,

This issue was discovered when I tried to remove the hexColors alpha values from, so “FF01273C” to “01273C”. I ended up going back to the hexColor with the alpha “FF” values.

Cheers,

Scott

From: Justin Clift [mailto:notifications@github.com]
Sent: Sunday, February 15, 2015 1:55 PM
To: sqlitebrowser/sqlitebrowser
Cc: rallyRays
Subject: Re: [sqlitebrowser] Importing CSV with numeric

[2015-02-16 01:22] justinclift commented on #186
Ok, I will try to help. :smile:

For me, using our 3.5.1 release, I can go to the 'Execute SQL' tab and type in a query.  Like this:
![screenshot1](https://cloud.githubusercontent.com/assets/406299/6206041/4dc9c956-b578-11e4-9850-93a3b069c244.png)
It opens up a file dialog, so I can choose a location to save the file.  I give it a filename ('myquery.sql'), then click 'Save'.  Like this:
![screensh

[2015-02-16 02:25] justinclift commented on #160
Yeah, that sounds like a workable approach.  Closing this issue for now.  If you reckon it's worth opening again for further investigation, feel free to. :smile:

[2015-02-16 02:25] #160 closed

[2015-02-16 09:14] hko-gh opened #205 "Update tables in "execute SQL" tab"
First: great piece of software!
Second: The auto-completion is not updated when SQL statements are executed "Execute SQL" tab. So when I add or remove tables there, auto-completion is not up to date.

[2015-02-16 09:28] hko-gh opened #206 "Save history or SQL snippets"
It would be great to have the possibility to paste SQL code in the "Execute SQL" tab. Either having a history browser or a simple snippet manager where you can add the current code to would be very supportive. At the moment I have a text file where I paste often-used statements, which is not very comfortable.
What do you think?

[2015-02-17 13:01] justinclift commented on #206
Hmmm yeah, both sounds useful.  A "*History Browser*" (that saves between sessions), and a "*Snippet Manager*" to organise often used SQL er... snippets, would be cool.

First question... are you able to assist in getting it done?  eg coding skills, or design skills (eg whip up some potential layout screenshots) or similar? :grin:

[2015-02-17 13:02] justinclift commented on #205
Aha, sounds like a bug.  Which OS, and which version of DB4S (our acronym) are you using? :smile:

[2015-02-17 13:36] justinclift commented on #163
Btw, if anyone has time to check, the code for this is in our latest nightlies.  Feedback (prior to next release) would be awesome. :smile:

[2015-02-17 14:08] hko-gh commented on #205
Win7 64bit using the sqlitebrowser 32bit win installer. Noticed that behaviour in the last 3 versions (3.4.0, 3.5.0 and 3.5.1)

[2015-02-17 20:13] dkovalkov opened #207 "Reopen database feature"
Thank you for developing sqlitebrowser. I use it several years. I get databases from mobile device and often I need to reopen them to see changes. Can you make menu item which:
1. close current database,
2. open it again

[2015-02-18 11:41] justinclift commented on #207
Shouldn't be too hard. :smile:

[2015-02-18 11:44] justinclift commented on #207
By the way, are you using "Close File" then the recent files list at the moment?

eg:

* File &rarr; Close
* File &rarr; 1

?

[2015-02-18 12:09] dkovalkov commented on #207
Oh, thank you. I did not see database history. Much time I used old version without history.

[2015-02-18 12:09] #207 closed

[2015-02-18 16:50] justinclift commented on #207
All good. :smile:

[2015-02-19 03:07] pleaseloveme opened #208 "Windows version always checking for new version"
The registry key HKCU/Software/sqlitebrowser/sqlitebrowser/checkversion/disable doesn't seem to have any effect for every release I've been using in the last year -- the program always checks and always throws an annoying popup if something new is available. Clicking "Don't show again" does seem to change the registry value, so I guess that works. Just kind of annoying.

Also, it'd be nice if you

[2015-02-19 14:31] justinclift commented on #208
Hmmm, that does sound like a bug which needs fixing.

And yeah, using the registry may not the most portable approach.  Using a .ini file or similar is probably a suitable alternative. :smile:

[2015-02-19 14:33] justinclift opened #209 "Pressing tab on last field of "Browse Data" should auto-create new record"
When inputting a bunch of data today, it became a real pain having to click on "New Record" to create each new line.  It would be a bunch more user-friendly for this scenario, if pressing "TAB" when on the very last field of the last record in a table, automatically started a new record and placed the cursor in the first
field of it.

In theory, this should be pretty easy to implement too. :wink:

[2015-02-20 09:55] jon80 opened #210 "Ranges for data types"
I need to know the ranges of data that can be used for numeric data, if it is possible to update the article at https://www.sqlite.org/datatype3.html,

[2015-02-20 13:24] Z4us commented on #210
Floating see http://steve.hollasch.net/cgindex/coding/ieeefloat.html

Integer from -(2 ^ 64) to (2ˆ64) -1

[2015-02-20 17:25] justinclift commented on #210
@jon80 It's probably best to ask on the SQLite Users mailing list:

&nbsp; &nbsp; http://mailinglists.sqlite.org/cgi-bin/mailman/listinfo/sqlite-users

:smile:

[2015-02-22 09:08] Z4us commented on #209
As a non-native English speaker I don't understand "a real to have" as if 'rea;' is a noun as well?

On a more serious and on-topic note: increasing user-friendliness is always a good plan for any software OS, commercial or something in between.

[2015-02-22 12:42] justinclift commented on #209
Oops, missing word.  "became a real pain having to click...".  Fixed.

Thanks for pointing it out. :smile:

[2015-02-24 14:49] jon80 opened #211 "CREATE TABLE syntax error not clear"
I don't quite understand why this statement is an error, should you review the documentation or is it my mistake?
![untitled7](https://cloud.githubusercontent.com/assets/719110/6351517/84d51caa-bc3c-11e4-90e7-83e70606f2f1.png)

See https://www.sqlite.org/lang_savepoint.html, and, https://www.sqlite.org/lang_createtable.html.

SQLite v 3.5.1
QT Version 4.8.5
SQLite Version 3.8.8.2
![untitled7](http

[2015-02-24 14:51] rp- commented on #211
there is no statement separator after the SAVEPOINT pre.
you need a ';' or sqlite will see this as ONE statement

[2015-02-24 14:52] jon80 commented on #211
thanks

[2015-02-24 14:52] jon80 commented on #211
I think I tried this, but thanks.

[2015-02-24 14:53] jon80 commented on #211
The only statement not supported is the 'IF NOT EXISTS', at least so I deduce.

[2015-02-24 20:02] justinclift commented on #211
Not sure if this is a bug in our program?  Does the statement (including the IF NOT EXISTS) work with the standard sqlite3 command line too?  If it doesn't there either, then it sounds like a limitation of SQLite itself (for now anyway).

[2015-02-26 09:27] Z4us commented on #211
The syntax should be

create table if not exists customer (customer_id...

Indeed if you suspect a bug RTFM

https://www.sqlite.org/lang_createtable.html

[2015-02-26 11:52] justinclift commented on #211
Thanks @Z4us.  Closing this now. :smile:

[2015-02-26 11:52] #211 closed

[2015-03-01 23:58] atoregozh opened #212 "Please add support for CR line endings"
I had a small table in csv format that had 3 columns and I wanted to import that into sqlitebrowser (create new database then file -> import -> import from CSV file). The import doesn't look right as instead of having multiple rows, it just imports everything into 1 single row. I was teaching a workshop using sqlitebrowser today and everyone who had a Mac had the same issue. We downloaded the most

[2015-03-02 08:43] rp- commented on #212
This sounds as your used Mac editor wrote Mac line endings CR.

The CSV RFC (http://www.ietf.org/rfc/rfc4180.txt) specifies CRLF (windows line endings) as line separators.

[2015-03-02 09:28] Z4us commented on #212
@rp standard line ending of Mac is LF since the beginning of 21st century :-)

http://en.wikipedia.org/wiki/Newline#Representations

Perhaps for next milestone you may create an option in the menu where users may choose the EOL symbol of their system?

[2015-03-02 15:59] justinclift commented on #212
Interesting.  Guess I've only ever exported CSV files instead of importing them. :wink:

Wonder if it's possible to reliably detect all of the common line endings (*nix, OSX, Windows) and not have to make it an option?

[2015-03-02 19:09] atoregozh commented on #212
I forgot to add that this bug wasn't just for csv files but also for text files as well. When I tried importing a text file, I had the same 1 row with many fields instead of several rows and several columns.

[2015-03-03 00:02] MKleusberg commented on #173
Just added that option: In the preferences dialog you can now disable the automatic update check and I'm pretty confident that this will lead to no network connections being opened. If this should still be the case with any version from now on, we know the source code has been changed before compilation.

[2015-03-03 00:12] MKleusberg commented on #208
I've just added a new option to the settings dialog which lets you disable the update check altogether. If you don't want to wait for the next version to have this included, you can wait for the next nightly build (see download links in the README.md file). Either way, all you need to do is removing the tick from the Automatic updates enabled check box in the settings dialog.

As for the registry/

[2015-03-03 00:13] MKleusberg commented on #209
Done :smile: Good idea, by the way!

[2015-03-03 00:16] MKleusberg commented on #207
You don't even have to close the database when reopening it using the history. DB4S does that automatically for you :smile:

[2015-03-03 00:22] MKleusberg commented on #183
As far as I know there is no way to not automatically save your database after doing a VACUUM in SQLite. https://sqlite.org/lang_vacuum.html says that a VACUUM writes all the data into a new database and then replaces the old one; to me this sounds like there's no way to do this without having it written to disk. So unfortunately there is no way for us to let you save the changes manually. Not sur

[2015-03-03 00:24] MKleusberg commented on #200
Thank you both :smiley:

[2015-03-03 03:31] pleaseloveme commented on #208
Great response; thanks for the update.

The INI thing was just me nitpicking after realizing that the checkversion flag was in the registry. It's always helpful if user preferences are easy to migrate to another system; registry keys/hierarchy are usually not published by developers. Sqlitebrowser is very light on user preferences, but it's a burden with some Windows programs. I didn't realize tha

[2015-03-03 09:42] ghost opened #213 "Importing CSV - how to find error?"
Hi

I'm importing 3 CSV's. The first 2 worked ok but the 3rd shows:

![capture](https://cloud.githubusercontent.com/assets/8420596/6459769/8f9d4dcc-c189-11e4-9880-47a04e20a29a.PNG)

How can I find the error, to fix it?

[2015-03-03 09:59] rp- commented on #208
@MKleusberg switching to ini file might not be that complicated. We can specify on every platform if you want to store settings in native style(registry on win) or with an ini file. The problem is just, that we would need a proper upgrade mechanism for windows users, so they don't lose their settings. And I'm not sure if this is worth the work.

[2015-03-03 13:53] MKleusberg commented on #213
Hard to tell without the CSV file... - are you, by any chance, able to provide us the file which is causing you trouble? You can also send it by email. Maybe the first 3 lines or so will already suffice for reproducing the problem, so you could check that beforehand if you want to reduce the amount of data.

I've also improved the error messages. They won't be much more detailed in your case but i

[2015-03-03 18:12] samir-aguiar commented on #212
@atoregozh could you provide a sample file?
The code works with LF and CRLF line endings, even if the file uses both. However, as @rp- mentioned it doesn't work with the old CR line endings, so perhaps your editor has that as default. TextWrangler, for instance, offers the ability to save with the three.

[2015-03-03 18:39] atoregozh commented on #212
@samir-aguiar I'm not sure how to upload the file in this discussion but you can download "handle.csv" from here: http://web.mit.edu/aizhan/www/twitter_api_workshop/docs/

[2015-03-03 19:04] samir-aguiar commented on #212
Yes, that's using only CR.
The easiest ways to check is to use a editor that shows that information (Sublime Text does and IIRC so does TextWrangler) or open Terminal and run:
`$ file <filename>`

The output for your file is:
`handle.csv: ASCII text, with CR line terminators`

However, apparently this is a bug (or a feature?) of Office for Mac when exporting to CSV. I don't know if there is a sett

[2015-03-03 19:08] justinclift commented on #209
Thanks Martin, trying this out now. :smile:

[2015-03-03 19:20] samir-aguiar commented on #212
Hmm I did some searches and apparently there's no setting in Excel to change that. Don't know why would they choose this behavior though...

Anyway, from what I've seen it would be easy to also accept only CR as the line-ending character. What do you guys think?

[2015-03-03 19:24] atoregozh commented on #212
@samir-aguiar thanks! that did fix it, but why would the sqlitebrowser code not work with CR endings? because they are "old" and no one uses them? I guess there would be some people who would view their csv files using excel, and if they save it, the file will be saved with CR endings.

[2015-03-03 19:28] atoregozh commented on #212
@samir-aguiar this might be off-topic re sqlitebrowser issue: I used both options of checking the line endings you suggested and terminal does say that I have CR endings, but when I opened the file in Sublime Text2, and viewed the file's line endings, the tick was on Mac OS9 and not on Windows. Would that imply that sublime text is not recognizing the correct line endings?

[2015-03-03 19:38] justinclift opened #214 "Background color for NULL values goes white when changed"
Trying out the new NULL background colour thing, and discovered a minor bug.

1) In the Browse Data tab, with a table open that has NULL values shown correctly (using the colour from preferences)
2) I then go into the Preferences dialog and change the colour.  When I exit the dialog, the fields with NULL values change to (blank) white, instead of the new colour chosen.

Clicking the "New record" b

[2015-03-03 19:41] justinclift commented on #209
Yep, well done.  This is a lot nicer to use now, and a lot faster for inputing multiple rows of data. :grinning:

[2015-03-03 19:41] #209 closed

[2015-03-03 19:43] samir-aguiar commented on #212
@atoregozh It doesn't work probably because they are not common and are not accepted by the RFC, but I don't know for sure, I've only recently joined the project :smile:

As for Sublime, it's showing correctly: Windows uses CRLF. CR was used by Mac OS until version 9 and starting with OS X it switched to Unix line endings (LF).

[2015-03-03 19:44] justinclift commented on #173
@bonerfart Sound working to you?

[2015-03-03 19:54] justinclift commented on #212
@samir-aguiar Yeah, if it's easy to also add support for just CR as line endings - and not muck up anything else - then lets do it. :smile:

[2015-03-03 20:07] samir-aguiar commented on #214
That's weird, I've done some tests but couldn't reproduce. Here it immediately changes.
More info please? :smile:

[2015-03-03 20:44] MKleusberg commented on #212
I agree that we should add 'silent' support for CR line endings, so just treat them as LFs and not having a checkbox in the dialog for it. In my opinion we should support as many broken CSV variations as possible (as most CSV files are broken in one way or another according to the RFC).

@samir-aguiar Feel free to change the csvparser code. Maybe adding some more tests before changing it just to m

[2015-03-03 21:26] justinclift commented on #214
Sure. :smile:

So, starting with this table:
![start](https://cloud.githubusercontent.com/assets/406299/6472491/d522f0fc-c1ea-11e4-936b-fc39b9fa2037.png)
I then click the "New Record" button to create a new row:
![new row created](https://cloud.githubusercontent.com/assets/406299/6472493/da109646-c1ea-11e4-87be-0a0653f25c39.png)
(yeah, it's green - that's just the NULL colour value setting at the

[2015-03-03 22:09] samir-aguiar commented on #214
That's really strange, I followed the steps and it just works.
Can you try closing the app, removing or renaming the settings file and trying again?
It's this one:
`~/Library/Preferences/com.sqlitebrowser.sqlitebrowser.plist`
Maybe that's it, somehow it doesn't get the new values. Perhaps the stored settings are corrupted.

If that doesn't work, send me the database, I'll do some more tests. :grin

[2015-03-04 03:14] justinclift commented on #214
Tried it, and no change.  I'll email the database to you. :wink:

[2015-03-04 14:16] justinclift opened #215 "Add (Qt) REGEXP support for the Execute SQL tab"
Query via Twitter:

&nbsp; &nbsp; https://twitter.com/BryanMcConkey/status/573115725595844608

[code]

Thoughts? :smile:

[2015-03-04 16:49] samir-aguiar commented on #213
@MKleusberg I've added two tests, one for CR endings and another for empty strings between separators. Any ideas for other tests?

[2015-03-04 17:08] justinclift commented on #213
Non-empty strings between separators? (just saying... I really have no clue if that's appropriate) :grin:

[2015-03-04 20:35] samir-aguiar commented on #212
I think it should be working now.
By mistake I referenced and commented in the other CSV issue... it's right next to this one :smile:

@justinclift we already cover cases where there's a non-empty string between the separators :wink:

[2015-03-04 20:39] atoregozh commented on #212
@samir-aguiar great you already added support for CR? Does that mean that I should reinstall sqlitebrowser? Again off-topic: I actually have Mac OS X, why would sublime show that I have Mac OS 9 and thus I have CR endings?

[2015-03-04 21:16] samir-aguiar commented on #212
@atoregozh Yeah, you can test tomorrow with the nightly build. It won't be in the stable version though -- if everything works out it should be in the next release.
The line endings are actually part of the file contents, so Sublime is telling you that this file uses the character '\r' to indicate a line break. OS 9 text editors added that character to the files when saving them to represent a new

[2015-03-04 21:37] justinclift commented on #212
@atoregozh We have a script which runs every night, compiling the very latest code on MacOSX and leaving it's results here:

&nbsp; &nbsp; http://mirror.salasaga.org/sqlitebrowser/nightly/

It's a way for people to test the very latest changes, without needing to wait for an official release.

Please try out the latest build (in a few hours), to verify things are working for you now.  If they're n

[2015-03-04 21:53] atoregozh commented on #212
@justinclift sure I'll install it later tonight. Per link you gave, what's the difference between sqlitebrowser vs sqlitebrowser-cipher? And which one should I install (sorry maybe that's not a relevant question)

[2015-03-05 14:20] kutoman opened #216 "Table Definition Template for csv import"
Hi,
it would be very relieving if there was the possiblity to store/load table definitions which then can be applied to tables which are imported from csv files.
It suits to my use case where a bunch of people are managing data in a csv file on google drive (since concurrent access is possible) which then needs to be imported in a certain sqlite databse. The data belongs to a certain table of that

[2015-03-05 14:36] Z4us commented on #216
You can use the first line of a CSV-file as table definition with column names. No need to worry about types since SQLite does it "autodramaticcaly"

https://www.sqlite.org/cli.html#csv

[2015-03-05 15:41] kutoman commented on #216
thanks for the advice!

[2015-03-05 16:13] kutoman commented on #216
hmm unfortunately that does not really work:
"questionPool.csv:1: INSERT failed: datatype mismatch"

[2015-03-05 16:52] #216 closed

[2015-03-05 19:34] justinclift commented on #212
@atoregozh They're both very similar (same GUI), but the -sqlcipher one supports full database encryption as well.  So, pick whichever one best meets your needs. :smile:

[2015-03-05 19:42] justinclift commented on #216
Awesome stuff @Z4us . :smile:

[2015-03-05 22:26] samir-aguiar commented on #214
Thanks Justin!
The fields are actually empty as they can't be NULL (because of the constraint), but right after adding a new record the table was getting it wrong.
It should be fixed now. :smile:

[2015-03-06 00:28] justinclift commented on #214
Just tried it... not sure if it's fixed or not... :wink:

With that database, I removed the "NOT NULL" constraint for the table ("Database Structure" tab → modify "Modify Table..."), then went to the Browse Data tab.  Clicked the "New Record" button to add a row, then clicked off of it to un-highlight it.  And got this:
![screen shot 2015-03-06 at 00 26 37](https://cloud.githubusercontent.com/asse

[2015-03-06 00:35] justinclift commented on #215
Thinking about this more... we pretty much rely on SQLite to provide the SQL processing part of things.  @BryanMcConkey (hoping that's is the correct GitHub user account :wink:), what's a good example of what you're looking for?

Depending on what/where it may or may not be possible, and we may need to suggest it to upstream SQLite developers first...

[2015-03-06 05:36] nuzvid opened #217 "SQLite Browser Select results 7 rows but data not displayed"
I have a DB with Table Id as text and kwd as Text

Id has values
3.1.1.a
3.1.1.b
...

If I make a query:
select * from Sutra where Id like '%3.%'

I see the result as:
6 Rows returned from: select * from Sutra where Id like '2.%' (took 2ms)

No records displayed.

Problem (a): When I ask for '%3.% why it is taking as '2.%' ?
Problem (b): 6 rows returned, but the records not displayed

[2015-03-06 06:24] rp- commented on #217
This is a duplicate of #203 and should already be fixed in the nightly build.

[2015-03-06 06:52] samir-aguiar commented on #214
Yeah, that's because of the PK constraint, it doesn't insert NULL values as PK.

[2015-03-06 08:24] justinclift commented on #214
Thanks @samir-aguiar, all good then. :grin:

We're going to have to do something about the default NULL colour too (need to make a new CR).  It's a super strong red by default, and made me think there was something wrong... :wink:

[2015-03-06 08:24] #214 closed

[2015-03-06 12:02] MKleusberg commented on #215
Just a bit of background:
SQLite syntax includes the REGEXP keyword but SQLite lacks an implementation of an regular expression algorithm. Instead it tries to call a user-defined function and just errors out if it can't find one: https://www.sqlite.org/lang_expr.html#regexp
I have no idea why they do it this way - maybe fore more flexibility or simply to avoid adding dependencies to any other libr

[2015-03-06 13:24] justinclift commented on #215
Wow.  That's unexpected and pretty darn awesome. :grinning:

[2015-03-06 13:50] bryanmcconkey commented on #215
Wow, quick turn around on that inquery. I will look into tesing it out soon (probably tomorrow).

As for why SQLite does not implement the function I suspect is just to keep the lib as small as possible for embedded purposes where REGEXP is rarely needed. Hooking to qt implementation is what I would expect for sqlitebrowser.

Thanks again,  I will let you know how it works for me.

[2015-03-06 17:05] Oldimac10yrsold opened #218 "Open .db file with sql 2.0 1b and nothing loads"
Some background info here, skip over to get to the problem.

-------Before yelling at me, please understand the new 3.x versions of sql arent compatible with my mac version 10.6.8 for some reason. I have no programming experience, but i have used this program before to edit some integers for an iphone app a few years ago, however it isnt working now, even with the same app, the same software, and

[2015-03-06 19:01] Z4us commented on #218
You're sure it's a made with a version after 3.6.12 (the standard of 10.6.8) I can imagine 2.* databases can't be handled by sqlitebrowser, not even with sqlite3. I suggest to dump the old db and load it with a version after 3.7.*

Normally DB4S can handle practically all sqlite3 databases.

I have 10.6.8 and normally use (or convert to) the newest version (now 3.8.8.3)
If you need help you may se

[2015-03-06 19:18] Oldimac10yrsold commented on #218
Version 3.6.18, as it says from the about dropdown, not sure if that is what you meant by 2.*. I do remember though, i was able to load the database document with no problems and edit in the past.

[2015-03-07 08:58] Z4us commented on #218
This issue has 2.0 in the title.

More about release 2 here: http://slackbuilds.org/repository/13.37/system/sqlite2/

It's about 2.8.17_6

Probably I misunderstood the title. When you open your database in Terminal* do you get an error message?

*
Finder > Applications > Utility > Terminal.app

cd  /Users/me/Desktop/Cashe/db
sqlite3 Cashe.db

[2015-03-07 09:16] Z4us commented on #218
Perhaps you used to use SQLitebrowser
Version 2.0b1 released - 2009-12-10
If it's really based on SQLite 3.6.18 you may miss some OSX specific features

http://www.sqlite.org/changes.html

[2015-03-07 09:28] Z4us commented on #218
You mean SQLitebrowser 2.01b
with http://www.sqlite.org/changes.html#version_3_6_18 ?

[2015-03-07 16:38] bryanmcconkey commented on #215
Took a few minutes to download the nightly and give it a whirl. Its working as expected. Thanks again for the feature support!

[2015-03-07 17:16] Oldimac10yrsold commented on #218
yes, i did mean 2.01b, sorry for the confusion.

I went into terminal and here is what i have

My-iMac:~ Games$ cd /Users/me/Desktop/Cashe/db
-bash: cd: /Users/me/Desktop/Cashe/db: No such file or directory
Mt-IMac:~ Games$ sqlite3 Cashe.db
SQLite version 3.6.12
Enter ".help" for instructions
Enter SQL statements terminated with a ";"
sqlite>

[2015-03-07 18:40] justinclift commented on #218
Interesting, that seems to have loaded it ok.  I wonder why our latest code isn't working with it. :frowning:

Um, how big is that database file?  If it's not too big, are you ok to email it to me or something (justin@postgresql.org)?  I'll see if I can figure out what's wrong with it, and if not, I'll forward it to our main developers for having a look.

[2015-03-07 18:42] justinclift commented on #215
Fantastic news.  Thanks for testing and confirming it @bryanmcconkey. :grinning:

[2015-03-07 18:42] #215 closed

[2015-03-07 19:13] Oldimac10yrsold commented on #218
I sent the file justin. i have no idea if it is encrypted or not, but i have heard it shows that there is an error instead of showing up blank.

[2015-03-07 19:19] rp- commented on #218
the file didn't load, check the output, the directory doesn't even exists:
```-bash: cd: /Users/me/Desktop/Cashe/db: No such file or directory```

if sqlite3 is called with a non existent file, it will just create a new database.

[2015-03-08 02:00] justinclift commented on #218
@rp- Yeah, saw that.  Am figuring the only way to be sure is to take a look at it and see what's what. :wink:

@Oldimac10yrsold Weirdly, I didn't receive the email.  It's definitely possible my anti-spam stuff automatically deleted it, so I've turned them off completely for now.  Would you be ok to try sending it again?

In theory, there shouldn't be anything that can stop it from getting through

[2015-03-08 02:32] Oldimac10yrsold commented on #218
@justinclift re-emailed to you.

[2015-03-08 13:48] justinclift commented on #218
Yep, got it this time.  It's definitely a SQLite3 database file, and DB4S opened it ok on my system.

Now, we just need to figure out why recent versions of DB4S isn't working on yours.

As a first thought, which version of DB4S have you downloaded to try?  If you're not sure, would you be ok to grab the latest version **without encryption** and try that?

&nbsp; &nbsp; https://github.com/sqlitebr

[2015-03-08 14:18] Oldimac10yrsold commented on #218
Good to hear that it isnt encrypted :)

i believe i downloaded every version and tried to use them, however they "arent supported on this mac"

screenshots are here:
http://imgur.com/LVc4LFA
http://imgur.com/ZQSqf1O
http://imgur.com/NQYA4sA
http://imgur.com/ESfPiqF

[2015-03-09 00:37] Z4us commented on #218
Did you ever changed the database with a version after 3.6.18? In this case you absolutely need to upgrade. Let's hope it's not corrupted.

https://www.sqlite.org/howtocorrupt.html

[2015-03-09 07:04] atoregozh commented on #212
@justinclift Thank you! I downloaded the last built (from March 8) and it works! I appreciate your fast assistance with this. And I learned a lot myself )

[2015-03-09 07:49] atoregozh opened #219 "Export of table to CSV from database table doesn't align columns and rows correctly"
Dear contributors, I'm reporting an issue with sqlitebrowser related to exporting table from database. When I view the table from sqlitebrowser, all the alignments are in place, but when I try to export the table to as a csv, the rows and columns are get misaligned. I'm using sqlitebrowser for mac. I updated the install to the latest "night" install from March 8. Input file: the database is "examp

[2015-03-09 08:16] samir-aguiar commented on #214
That's true, @justinclift, I'll commit some changes related to that later. :smiley:

[2015-03-09 08:21] samir-aguiar commented on #214
BTW, apparently it should be possible to add NULL fields as PK, so that's also a bug. Not related to the color stuff though.

[2015-03-09 09:03] samir-aguiar commented on #215
Nice! :+1:

[2015-03-09 09:11] samir-aguiar commented on #218
@Oldimac10yrsold try the following: right-click on sqlitebrowser.app, click "Show package contents". Now go to Contents > MacOS and double click on the sqlitebrowser file (I'm not sure if the path is correct, can't check now). See if the app opens or if not, what message appears.

[2015-03-09 11:14] Z4us commented on #218
@samir: On Apple we don't right-click, but ctrl-click

the rest of the info is correct:

--[[z4us|binz--]]
cd sqlitebrowser.app/Contents/MacOS
--[[z4us|MacOS--]]
ls
sqlitebrowser translations
--[[z4us|MacOS--]]

[2015-03-09 12:06] samir-aguiar commented on #218
You're right @Z4us, thanks. I have mine customized for so long that I forgot the original behaviour.
The first thing I did after buying a magic mouse was enable right clicking. The same with maximizing windows, couldn't stand they only expanding and not taking all the space. :stuck_out_tongue_winking_eye:

[2015-03-09 13:08] justinclift commented on #218
@Oldimac10yrsold Ahhh, I just thought of something.  I kind of suspect your iMac might not be using an Intel processor, which is what our OSX downloads have been made with (so far).

Would you be ok to screenshot your "About this Mac" dialog?  The one that shows the overall system info, from the Apple menu?  For example, this is what mine looks like:

![screen shot 2015-03-09 at 13 07 54](https://

[2015-03-09 13:12] justinclift commented on #212
@atoregozh - @samir-aguiar deserves your thanks, as he did the work, not me. :wink:

[2015-03-09 13:12] #212 closed

[2015-03-09 13:14] justinclift commented on #219
When you say "misaligned", would you be ok to screenshot it and add it here?  (dragging and dropping images into these comment fields works)

It's kind of hard to visualise the problem without a screenshot.  Not impossible... but a screenshot would really help. :smile:

[2015-03-09 13:31] Z4us commented on #219
In the same directory there is a file 'example.sqlite'.

[2015-03-09 13:43] justinclift opened #220 "Default background colour for NULL fields needs adjusting"
At the moment, the default background colour for NULL fields is a very strong red.  It makes things seem like there's an error, when there's not:

![screen shot 2015-03-09 at 13 37 50](https://cloud.githubusercontent.com/assets/406299/6555908/8287b6ae-c661-11e4-96d3-94a9feda660a.png)
Maybe #ffd0cd instead?

![screen shot 2015-03-09 at 13 39 22](https://cloud.githubusercontent.com/assets/406299/655

[2015-03-09 13:46] justinclift commented on #219
@Z4us Thanks.  Looking now... incredibly slow web server though (27KB/s). :frowning:

[2015-03-09 13:57] grahamlabdon opened #221 "add column constraint"
Hi
I am trying to add a column constraint in order to restrict a column to a certain set of values
Field1 IN ("one","two")
However, when I enter this in the 'Check' column in the table editor I see it in the SQL but pressing OK makes it disappear

If I open an existing database with such a constraint I am unable to add a row

What is happening?

[2015-03-09 13:59] justinclift commented on #219
@Z4us They're both SQLite database files.

@atoregozh I've downloaded example.db and exported the result table to a .csv file.  The file is hugely wide though, so can't be sensibly viewed in my OSX Terminal window.  How are you viewing it? (a screenshot really would be helpful btw :smile:)

[2015-03-09 14:13] atoregozh commented on #212
@samir-aguiar Thank you so much for helping!

[2015-03-09 15:02] samir-aguiar commented on #212
No worries :smile:

[2015-03-09 17:51] atoregozh commented on #219
@justinclift  it is just my Uni uses a bit slow servers, hence is a lag :(

I put 2 files: csv_screenshot.png and sqlitebrowser_screenshot.png. You can see misalignment there. I used excel to view the csv file.

[2015-03-09 18:13] samir-aguiar commented on #220
I've changed this and added options (not commited yet) for a custom text and custom foreground and background color, as suggested by @glawrence in #163.
However, I can't find a nice layout for the fields. I've added them to a new "Data Browser" tab, because I though that putting them somewhere else would be misleading.
Thoughts? :smile:

![null_fields](https://cloud.githubusercontent.com/assets/37

[2015-03-09 18:15] samir-aguiar commented on #220
P.S. those colours won't be the default, of course :smile:

[2015-03-09 20:43] samir-aguiar commented on #219
@atoregozh can you try the nightly build tomorrow to see if the issue is fixed? The problem was that some of the values end with the CR character ('\r'), which was not escaped when exporting. Because we now accept it as a line ending character, I've changed the code to also escape them.

[2015-03-09 20:45] Oldimac10yrsold commented on #218
@samir-aguiar I went to the MacOS folder and clicked and it opened with this dialogue
MY-iMac:~ me$ /Users/me/Desktop/Storage/SQLite\ Database\ Browser\ 2.0\ b1.app/Contents/MacOS/sqlitebrowser ; exit;

and SQL opened normally.
@justinclift
im gonna hit 2 birds with 1 stone, and shoe what folder i was in and my mac info

http://imgur.com/Pc4fZVb

[2015-03-09 20:47] samir-aguiar commented on #218
@Oldimac10yrsold Sorry, I forgot to mention that this should be done with the lastest version, the one that you say it's not working on your Mac.

[2015-03-09 20:54] Oldimac10yrsold commented on #218
@samir-aguiar Here is what it says in terminal

my-iMac:~ me$ /Volumes/src:sqlitebrowser/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;
-bash: /Volumes/src:sqlitebrowser/sqlitebrowser.app/Contents/MacOS/sqlitebrowser: Bad CPU type in executable
logout

[Process completed]

[2015-03-09 21:00] atoregozh commented on #219
@samir-aguiar sure will do. Thanks for your help in many ways

[2015-03-09 21:09] rp- commented on #218
32 bit OS/CPU?

[2015-03-09 21:16] glawrence commented on #220
Thanks for remembering! I quite like #ffd0cd by the way and the new tab looks good to me.

[2015-03-09 21:22] Oldimac10yrsold commented on #218
@rp- i believe so

[2015-03-09 21:44] MKleusberg commented on #221
Strange, I can't reproduce this... Are you sure you're using the latest version? You can check this by clicking on the Help->About menu item; it should be 3.5.1.

[2015-03-10 01:38] justinclift commented on #219
Awesome @samir-aguiar. :smile:

[2015-03-10 01:44] justinclift commented on #218
@Oldimac10yrsold In theory, you should be able to compile this on your Mac and it would work.

I'm just trying to think of an easy way for you to do that, as it's normally done from the command line.  There's probably a GUI way to compile it, but it's not coming to mind. (it's very late here, and I'm very tired, so might be able to remember it tomorrow) :wink:

As a side thought, how often do you

[2015-03-10 01:47] justinclift commented on #220
Yep, looks workable to me too.  Clean look, clear info.  Pretty good. :smile:

[2015-03-10 01:50] justinclift commented on #220
Actually, is it easy to have the "NULL fields" title at the top of the containing box be a bit more um... stand out?  Bolder or underlined or errr... something?

Not at all critical, but I'm just thinking "it's the heading for the stuff below" and it's not really standing out as a heading that much.  Yet. :wink:

[2015-03-10 02:04] justinclift commented on #217
@nuzvid Have you had a chance to try out the nightly build, to see if it's fixed for you there? (it should be)

[2015-03-10 02:09] Oldimac10yrsold commented on #218
@justinclift I can wait, i dont modify these files often, maybe once a year if i use them to begin with.

[2015-03-10 07:26] justinclift commented on #218
@Oldimac10yrsold Is this the model of Mac you're using? :smile:

&nbsp; &nbsp; http://www.everymac.com/systems/apple/imac/specs/imac_cd_2.0_20.html

[2015-03-10 20:04] Oldimac10yrsold commented on #218
@justinclift to my knowledge, yes.

[2015-03-10 21:26] justinclift commented on #218
@samir-aguiar Any idea how we could compile a 32-bit version of DB4S as a once off?

I don't have access to any 32-bit OSX systems, and the virtualisation stuff I have either won't run OSX or won't present a 32-bit Intel cpu to it. :frowning:

[2015-03-11 04:32] jmagyari opened #222 "Enhancement Request, Allow Copy to info in About DB Browser OSX Version"
Allow copying of info in About DB Browser, so it can be copied and pasted when sending bug and enhancement requests 351, 486, SQLCipher386 version and 351, 486, SQLite 3.8.8.2.

Also should in SQLCipher Version mention OPENSSL version?

[2015-03-11 04:38] justinclift commented on #222
Sounds useful. :smile:

[2015-03-11 04:40] jmagyari opened #223 "Foreign Characters incorrectly displayed on OSX for v3.5.1, Qt 4.8.6, SQLite 3.8.8.2 and SQLCipher 3.8.6"
FROM http://www2.sqlite.org/cvstrac/wiki?p=ConverterTools
Download Northwind.SL3
from http://download.vive.net/Northwind.zip
NAVICAT FOR SQLITE 11.1.9 CONNECT TO NORTHWIND.SL3,
VIEW CUSTOMER TABLE, VIEW COMPANY NAMES USING FOREIGN CHARACTERS
They appear correct in NAVICAT

Connect via sqlitebrowser and foreign characters appear as question mark in BLACK rotated
Browse Data Table Customers->Company

[2015-03-11 04:42] jmagyari opened #224 "Default Directory After Opening a DB should be last Successful opened Directory"
After Opening a DB, then Opening an additional DB the Browser should start from the directory where the last Successful Open occurred

[2015-03-11 09:53] samir-aguiar commented on #218
@justinclift I'm not sure, I don't have any 32-bit system either...
I'll do some tests tonight :wink:

[2015-03-11 14:12] justinclift commented on #224
Yeah, I tend to agree with this.  Had the same thought the other day, but didn't get around to turning it into a proper issue here.

Thanks for doing so. :smile:

[2015-03-11 14:13] justinclift commented on #223
Interesting.  I'll take a look after work today. :smile:

[2015-03-11 14:16] justinclift commented on #223
Just took a look now instead, and yep, you're right.  This is what's showing for me on OSX 10.9.5:
![screen shot 2015-03-11 at 14 15 26](https://cloud.githubusercontent.com/assets/406299/6598089/297766ba-c7f9-11e4-8dcb-1e4017d599dc.png)

[2015-03-11 15:12] Z4us commented on #223
I have a version of the same database that works correctly. I'll send it to you if you want and PM me your email-address.

México D.F.

Perhaps a good idea to use this as our standard TestBase?

[2015-03-11 15:13] trbsi opened #225 "Invalid file format"
I'm trying to open sqlite database. It is working with some databases, with others there is error:"Invalid file format"
Not sure if it is because of database or sqlitebrowser

[2015-03-11 15:16] rp- commented on #223
The same thing is on Linux and even on the commandline client.
So my guess is that the database didn't get correctly converted to a UTF16 sqlite3 db or the strings are not correctly converted to UTF8 strings

[2015-03-11 15:21] Z4us commented on #223
--[[z4us|bb--]]
sqlite3 nw.sqb
SQLite version 3.8.8.3 2015-02-25 13:29:11
Enter ".help" for usage hints.
sqlite> select * from Customers where CustomerID like 'AN%';
ANATR|Ana Trujillo Emparedados y helados|Ana Trujillo|Owner|Avda. de la Constitución 2222|México D.F.||05021|Mexico|(5) 555-4729|(5) 555-3745
ANTON|Antonio Moreno Taquería|Antonio Moreno|Owner|Mataderos  2312|México D.F.||05023|Mexico

[2015-03-11 15:34] Z4us commented on #223
I agree with https://github.com/rp-

Perhaps the uploader used some pre-UTF8 codePage

To check go to http://mysharepoint.org/Accounting/Lists/Client%20List/AllItems.aspx

[2015-03-11 16:03] justinclift commented on #225
Couple of questions.. :smile:

* Which version of DB4S (new acronym for SQLite Browser) are you trying with?
* Which Operating system are you using?

If the file is not too big (eg couple of MB's), and the info in it isn't confidential, you can email it to me directly (justin@postgresql.org) and I'll see if I can figure it out.

[2015-03-11 16:09] justinclift commented on #223
@jmagyari Looks like a problem with the data itself then, so I'm marking this as invalid and closing it.

You're completely welcome to re-open this though, if you find out the original data really is ok somehow. :smile:

[2015-03-11 16:16] justinclift commented on #223
Hmmm... thinking it through more... it doesn't appear to be something wrong with the data.  Here's what it looks like in Navicat for SQLite (just grabbed their trial):
![screen shot 2015-03-11 at 16 16 07](https://cloud.githubusercontent.com/assets/406299/6600864/fcd02fa0-c809-11e4-8e74-22a3a665bce4.png)

[2015-03-11 16:17] trbsi commented on #225
DB4S 3.5.1.
Win 8.1

 I will email it to you now :)

[2015-03-11 16:26] justinclift commented on #225
Just took a look through them, and they don't appear to be with SQLite version 3, nor SQLite version 2 database files.

There's definitely data of some sort in them, as using "vi -b" or even "strings" on them shows bits of text in them.

Sorry to say, but I have no idea what you can open them with. :frowning:

[2015-03-11 16:26] trbsi commented on #225
It's fine, thank you :)

[2015-03-11 16:28] justinclift commented on #225
Good luck. :smile:

[2015-03-11 16:28] #225 closed

[2015-03-11 17:14] justinclift commented on #208
@MKleusberg What's the right way for us to verify this is working correctly, before our next release?

I'm thinking maybe building a release from latest source, but modify the source to have an older version number in it, so it should notice the update.  And then see if the on/off toggle works.

Sound about right?

[2015-03-11 19:48] samir-aguiar commented on #220
Indeed it was too small, @justinclift. Here's how it looks in the end:

![browser_settings](https://cloud.githubusercontent.com/assets/3753623/6605025/0bdc8462-c82d-11e4-80eb-d6c4cd336e76.png)

The default colors and text are the same as in the first implementation by @MKleusberg. I think this way is better because it's more neutral and won't change much for those accustomed to the old appearance,

[2015-03-11 21:03] justinclift commented on #222
Thanks Martin.  Seems to work well here for the standard SQLite build:
![screen shot 2015-03-11 at 20 32 31](https://cloud.githubusercontent.com/assets/406299/6606220/d9a8c414-c82d-11e4-8a2f-9eb9606b08ab.png)

I haven't tried with the SQLCipher build yet.  Having some issues on my local system after a recent Xcode software update. :innocent:

[2015-03-11 21:34] justinclift commented on #220
Looking good.  Is there a way to horizontally centre the "NULL" string in the field?

[2015-03-11 21:43] samir-aguiar commented on #220
Done :smile:

[2015-03-11 21:48] justinclift commented on #220
Hmmmm, just tried it.  It's showing centres in the Preferences dialog, but not for the fields themselves in the Browse Data tab?

[2015-03-11 21:52] justinclift commented on #220
Then again... I'm kind of wondering if "centred" in the Browse Data fields will actually look right... :wink:

[2015-03-11 22:08] samir-aguiar commented on #220
Ahh I thought you meant the field in the settings pane. :grin:
Yeah, that's doable, but won't that look out of place when the others are left-aligned horizontally?
Have a look:

![screen](https://cloud.githubusercontent.com/assets/3753623/6607961/66f674e6-c843-11e4-8f20-a281b2cceea8.png)

[2015-03-11 22:09] justinclift commented on #224
Hmmm... actually no, I've just remembered we've had discussion about this before and it turns out there are several viewpoints on it.  (it's in previous issues here if you want to investigate)

There is a way forward, but I'd need to go and dig through the issues again myself to refresh my memory first... :wink:

[2015-03-11 22:12] justinclift commented on #220
Hmmm yeah.  I think you're right.  It looks good centred in the Preferences dialog bit, but in the Browse Data tab... not so much.  Leave it left aligned. :smile:

[2015-03-11 22:30] justinclift commented on #221
@grahamlabdon ping?

[2015-03-11 22:32] justinclift commented on #217
Closing this.

@nuzvid If the latest nightly build doesn't have this fixed for you, please reopen this. :smile:

[2015-03-11 22:32] #217 closed

[2015-03-11 22:34] justinclift commented on #213
@ircer Is this problem still happening for you?

[2015-03-11 22:35] justinclift commented on #205
@MKleusberg @rp- Any idea how easy a fix this would be?  It sounds like a function call needs to be run after each Execute SQL command.  ?

[2015-03-11 23:15] justinclift commented on #218
@Oldimac10yrsold If we can't get this figured out, you may need to use something like [Navicat for SQLite](http://www.navicat.com/products/navicat-for-sqlite).  Their product page says it supports OSX 10.6, and is a 32-bit/64-bit version.  It's a commercial product though. :frowning:

Note - we have no association to the Navicat people.  I was just looking at it earlier today for another bug. :win

[2015-03-12 01:33] Oldimac10yrsold commented on #218
Navicat doesnt work either.

[2015-03-12 01:37] justinclift commented on #218
Heh Heh Heh.  This is proving to be a challenge eh? :wink:

[2015-03-12 01:37] Oldimac10yrsold commented on #218
Yes sir
:)

[2015-03-12 01:39] justinclift commented on #218
Out of curiosity, do you have Xcode installed on your iMac?

We might be able to write some clear instructions for you to compile things yourself... but I suspect you might not have the software needed to compile it.

[2015-03-12 12:04] justinclift commented on #218
@Oldimac10yrsold Try this, and let us know if it works?

&nbsp; &nbsp; http://mirror.salasaga.org/sqlitebrowser/onceoffs/sqlitebrowser_32bits.dmg

That's from @samir-aguiar, who left an initial 32-bit compile run overnight.  We're hoping it works, but not 100% sure. :wink:

[2015-03-12 16:51] atoregozh commented on #219
Hi @samir-aguiar! I tested the last build and it works perfectly! Thank you so much for a quick fix :+1:

[2015-03-12 17:27] justinclift commented on #219
Excellent.  Thanks for letting us know @atoregozh. :smile:

[2015-03-12 17:27] #219 closed

[2015-03-12 17:51] justinclift commented on #195
Thinking through this a bit, its pretty straightforward (to me atm :wink:), that a field consisting of only two single quotes, should be an empty string.  eg:
* '','other stuf'
* 1,'',13
* 1,2,''

Also, a field with only NULL in it (unquoted) is very likely meant to be a NULL.  eg:
* NULL,1,2
* 1,NULL,2
* 3,4,NULL

Though section 2.6 of [RFC 4180](https://www.rfc-editor.org/rfc/rfc4180.txt) does i

[2015-03-12 18:29] harysutanto commented on #195
Yes, actually I also prefer to have an option for what to do with the empy value (',,') than to set the field to default value by default.

Anyway, Thanks for the responses and keep up the good work!

[2015-03-12 20:15] Oldimac10yrsold commented on #218
403 forbidden when i clicked the link. Interesting.

[2015-03-12 22:43] justinclift commented on #218
Oops, that'll be a problem on my end.  I must have gotten the permissions wrong on the server directory...  gimme a minute. :anguished:

[2015-03-12 22:45] justinclift commented on #218
Should be good now.  Sorry about that.  I rarely make that kind of dumb mistake, but it does still happen. :smiling_imp:

[2015-03-13 00:46] samir-aguiar commented on #220
So @justinclift I've commited some changes for this bug of not being able to set the value to NULL. Now the clear button should set it permanently :smiley: Also, when it's NULL the type in the edit dialog will be shown as "Null", so it's possible to tell empty from NULL.
If you could test it would be great :smile:

[2015-03-13 01:34] Oldimac10yrsold commented on #218
Last login: Thu Mar 12 15:43:54 on console
/Volumes/sqlitebrowser/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;
Jim-Collinsworths-iMac:~ Games$ /Volumes/sqlitebrowser/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;
dyld: Library not loaded: /usr/lib/libc++.1.dylib
  Referenced from: /Volumes/sqlitebrowser/sqlitebrowser.app/Contents/MacOS/../Frameworks/QtPrintSupport.framework/Versi

[2015-03-13 08:56] rp- commented on #205
shouldn't be to hard, just a call to update the stored tables/columns in the texteditor widget after a execute sql was done

[2015-03-13 15:41] MKleusberg commented on #222
It's exactly the same in the SQLCipher version. However, I haven't added the OpenSSL version (though that would be nice to have) because SQLCipher doesn't seem to report it anywhere and I can't think of a sane way of getting it from somewhere else.

[2015-03-13 15:47] MKleusberg commented on #208
@justinclift Yes, that's one possible approach. Maybe it's a bit easier to leave the version number as it is but change the link in [MainWindow.cpp, line 182](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.cpp#L182) to point to a copy of the file in some other place. Then you could change the currentrelease file and test this option as well as the notifications in genera

[2015-03-13 20:02] justinclift commented on #222
k, lets ask the SQLCipher people if there's already a way, or if they think it's a good idea to add in their future releases. :smile:

[2015-03-13 20:17] justinclift opened #226 "Wiki pages we should have :)"
Placeholder issue for wiki pages we should add:

* How to use regular expressions in the Execute SQL tab, as [added here](https://github.com/sqlitebrowser/sqlitebrowser/commit/6d1a874f8077b859bee2dd9d4031f242cfa1e807) by @MKleusberg.

Anyone wanting to help out is definitely welcome (and encouraged!) to being or improve any of these pages in the wiki! :grinning:

[2015-03-13 20:43] justinclift commented on #222
Cool, looks like it'll be available in future SQLCipher versions.  We might want to keep this issue open until then, when we can add the relevant bits.

[2015-03-13 20:59] justinclift commented on #220
Awesome.  Just tried it out, and NULL values are now kept correctly.  No more reverting back to blank spaces at every opportunity.

They're written out to disk correctly now too, so things set to NULL **keep** as NULL.  Until changed on purpose of course.

Thanks @samir-aguiar I think this is a important fix.  Kinda feels like we'd been missing foundational data handling with this busted. :wink:

[2015-03-13 20:59] #220 closed

[2015-03-13 22:47] samir-aguiar commented on #223
This is really a problem with the data. In the header of the file it says UTF-8, but the characters are encoded in Windows-1252 or ISO 8859-1. Navicat probably uses one of them as fallback or something. But the specification states that only 3 encodings are valid, namely UTF-8, UTF-16le and UTF-16be.

[2015-03-13 22:55] samir-aguiar commented on #226
Added one more item :grinning:

[2015-03-13 22:59] justinclift commented on #223
Awesome, thanks for looking into it @samir-aguiar.

Is this something we should try to recognise and work around (similar to Navicat), or are we good as-is?

Kind of wondering if there's a way to detect bad data, so we could at least warn the user.  No idea how feasible that really is though. :wink:  If it's a major undertaking, then lets not bother. :smile:

[2015-03-13 23:00] justinclift commented on #218
k.  Next version to try:

&nbsp; &nbsp; http://mirror.salasaga.org/sqlitebrowser/onceoffs/sqlitebrowser_32bit_20150313.dmg

[2015-03-13 23:01] justinclift commented on #226
Good thinking.  And yeah, we should add stuff here as we think of it. :smile:

[2015-03-13 23:32] MKleusberg commented on #226
Just added one more, too :)

[2015-03-13 23:55] MKleusberg opened #227 "Grammar parser doesn't read foreign key column constraints"
[code]
is equivalent to
[code]
However, only the latter is fully read by our grammar parser. If you use the first version, DB4S will work but silently drop the foreign key clause when you edit the table definition.

[2015-03-13 23:58] MKleusberg commented on #227
Should be fixed but any extra tests are welcome :)

[2015-03-14 00:24] lallousx86 opened #228 "Browser just crashes after executing this query"
Hello,

Start with a new DB and go to SQL tab and execute:

CREATE TABLE customer(
         id INTEGER,
         firstName TEXT,
         middleName TEXT,
         lastName   TEXT,
         address TEXT,
         contactNum TEXT
);

 CREATE TABLE item(
        id INTEGER,
        name TEXT,
        description TEXT
 );

 CREATE TABLE orders(
        id INTEGER,
        customerID INTEGER,

[2015-03-14 00:24] lallousx86 commented on #228
I forgot to mention, I am running on Windows.

[2015-03-14 00:51] MKleusberg commented on #228
The problem here was that the spelling of the columns used in the foreign key clauses are different from those actually used in the table definition. See here for example 'customerID' vs 'customerId' (note the final letter 'd'):
[code]
Of course this should work anyway and a crash is a bit of a overdramatic reaction :smile: I've just pushed a fix for this issue. If you want to try out the latest v

[2015-03-14 01:15] samir-aguiar commented on #223
Hmm I don't know much about encoding, but it's possible to detect invalid UTF-8 characters, yes. It could then default to some other encoding instead of invalidating them (which is what I think is currently happening). So I think it's doable, however it will probably require a lot of changes.

[2015-03-14 10:41] Z4us commented on #226
Just corrected a page :)

[2015-03-14 11:38] justinclift commented on #227
Awesome. :grin:

Should we set the milestone for this to 3.6, or leave it alone for now, in case more stuff comes up? :smile:

[2015-03-14 11:40] justinclift commented on #228
@lallousx86 Would you be ok to try out the nightly build, and let us know if it does or doesn't work well for you now? :smile:

[2015-03-14 12:38] justinclift commented on #161
Thinking about this, I suspect the right way to do this is have a pop up dialog showing progress, something like this:

![progress bar 1](https://cloud.githubusercontent.com/assets/406299/6651687/f2e2822e-ca46-11e4-8485-f3ce09abffcb.png)

[2015-03-14 18:55] lallousx86 commented on #228
Thanks for the efforts. I will try that Monday when I am back in the office.

[2015-03-15 01:31] Oldimac10yrsold commented on #218
doesnt even open :(

[2015-03-15 01:55] samir-aguiar commented on #218
Any output from the console?
Try the following, put sqlitebrowser.app in your downloads folder.
Supposing that the downloads folder is in `/Users/< your username >/Downloads`, open Terminal and run:
`cd ~/Downloads`
Then:
`otool -L sqlitebrowser.app/Contents/MacOS/sqlitebrowser`
And paste the output here, starting from the line that says `sqlitebrowser.app/Contents/MacOS/sqlitebrowser`.

[2015-03-15 02:29] Oldimac10yrsold commented on #218
"otool doesnt exist"

so i just right clicked and opened its contents, macos folder, right click >open with terminal:

Last login: Sat Mar 14 22:19:00 on ttys000
/Volumes/src:sqlitebrowser/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;
my-iMac:~ me$ /Volumes/src:sqlitebrowser/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;
Bus error
logout

[Process completed]

[2015-03-15 10:31] Z4us commented on #218
If you're sure using the 32-bit version there might be a bug in it.

When I do the same I see a similar message (without 'Bus error')  B4S is launched

Last login: Fri Mar  6 19:53:10 on ttys001
/Users/Shared/ZeaGuiL/binz/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;
localhost:~ <myHome>$ /Users/Shared/ZeaGuiL/binz/sqlitebrowser.app/Contents/MacOS/sqlitebrowser ; exit;

FWIW it's this 64-

[2015-03-15 13:05] justinclift commented on #222
@MKleusberg Would it be feasible to add the git commit id in the About dialog, when DB4S is compiled from git manually?  eg same thing that detects master_git, but puts something like "git master commit c3c8f8ce568114d7aae1ae263e03390617c7c878" instead?

[2015-03-15 13:07] justinclift commented on #218
@Z4us Hmmm, not yet.  It's a good idea though.  We should add something to the About dialog to show the git commit id it was compiled with, if it's on master_git.

Just asked [here](https://github.com/sqlitebrowser/sqlitebrowser/issues/222#issuecomment-81000342), as there's already an open issue being worked on for stuff in the Dialog box.

I think I'll ask my work colleagues at Red Hat if someone

[2015-03-15 13:23] samir-aguiar commented on #218
That error is related to memory issues, as to accessing invalid addresses. That's probably some library incompatibility, but I don't know what. I've compiled Qt with libstdc++, the target as OS 10.6 and the arch as i386. I've also linked a universal build of libsqlite, that contains both 32 and 64-bit instructions.
@Oldimac10yrsold can you try the following?
With the .dmg file mounted, open Termin

[2015-03-15 16:10] Z4us commented on #223
It's indeed rather tricky to make an educated guess. There are so many ways to encode/encrypt data. Navicat was lucky since 8859-1 (Latin-1?) is (almost was) one of the most common. If the developers are able to detect let's say four of five of those, they deserve a prize. I don't think it's worth all the effort though besides an increase in size...

[2015-03-15 17:00] justinclift commented on #223
k.  Sounds like we should mark this off as "won't fix", because although technically possible to deal with... it's an edge case for dealing with bad data and is likely a lot of effort.

Although, if someone does come along and contribute a fix/patch to address the problem, we'll happily merge it. :smile:

[2015-03-15 17:01] #223 closed

[2015-03-15 22:15] Oldimac10yrsold commented on #218
"Bus error (core dumped)"

cant find the core folder. Also, what is DB4S? i just want to check my knowledge.

[2015-03-15 22:47] samir-aguiar commented on #218
Hmm I think that folder it's hidden by default.
Run this on Terminal:
`mkdir ~/Downloads/cores`
then
`cp -R /cores/* ~/Downloads/cores`
Then check your Downloads folder, a new `cores` folder should be there with the interesting files. If you could upload them somewhere and send the link it would be great :smiley:

DB4S is our acronym for DB Browser for SQLite :)

[2015-03-16 01:59] Oldimac10yrsold commented on #218
Okay, i have one file in it, how shall i send it to you?

[2015-03-16 07:00] AndrewSav commented on #161
Looks good to me.

[2015-03-16 09:06] Z4us commented on #161
A pop up, Justin? There are people who hate them, even block them. Better is IMNSHO a menu item called Staus or Progress with lines for all (sub)processes that take longer than let's say two or three minutes.

[2015-03-16 10:45] Z4us commented on #218
Like Samir said: Upload it somewhere e.g >> https://gist.github.com/
 and post the link here.

[2015-03-16 14:48] justinclift commented on #161
@Z4us Ahhh, hadn't thought of that as it's not a browser.  But yeah, point taken. :smile:

So, maybe a status bar thing instead then...?

[2015-03-16 17:00] Z4us commented on #161
Right, some kewl animation if technically not too hard to develop :)

[2015-03-16 17:45] Z4us commented on #224
Your default directory will be opened by default. Works for me. Another way is to open one of the last five opened databases.

[2015-03-16 19:43] justinclift commented on #161
Qt provides a "progress bar" widget, so that's probably the thing to use for the display.

Collecting the info to use with it is likely harder.  For (say) as CSV import it would probably be something like:

* Do an initial row count for the input file.  This is so we can know how far we've progressed through the total file, during the import.
* Figure out how often to update the progress bar
 * Ma

[2015-03-16 21:15] justinclift commented on #228
@lallousx86 Reminder ping... :smile:

[2015-03-16 22:22] lallousx86 commented on #228
thanks. it works. much appreciated.

Sent from Yahoo Mail on Android

From:"Justin Clift" <notifications@github.com>
Date:Mon, Mar 16, 2015 at 2:15 PM
Subject:Re: [sqlitebrowser] Browser just crashes after executing this query (#228)

@lallousx86 Reminder ping... ￼

—
Reply to this email directly or view it on GitHub.￼

[2015-03-16 23:09] justinclift commented on #228
Awesome.  Thanks for checking and confirming back to us @lallousx86. :smile:

[2015-03-16 23:09] #228 closed

[2015-03-17 19:52] justinclift commented on #218
Potential way forward.  @CBredesen (colleague at Red Hat) has a suitable OSX box, and we're working on getting the right development bits installed on it. :grin:

Hopefully this works out. :wink:

[2015-03-17 20:54] cbredesen commented on #218
OK I got through most of this stuff but I'm now met with this, when trying to `brew install qt`, on the `make` step:

[code]

[2015-03-17 21:47] justinclift commented on #218
@cbredesen No worries.  As a first step, run this to get Homebrew to check it's environment for gotchas:

    $ brew doctor

Ideally, it should come back like this:

    $ brew doctor
    Your system is ready to brew.
    $

Guessing it won't, so we'll need to see what's wrong and address that first.

[2015-03-17 22:10] Oldimac10yrsold commented on #218
@Z4us gist caused me a lo of frustration trying to upload the file. any other method?

[2015-03-17 22:13] justinclift commented on #218
@Oldimac10yrsold How big is the file?  If it's only a few MB, then maybe email it to me?  I can get it to @samir-aguiar from there. :smile:

[2015-03-18 18:54] yura371 opened #229 "BLOB"
When I create a BLOB in the field while maintaining it through the client software size of file twice as much than the original. Fix please.

[2015-03-18 19:06] yura371 commented on #229
Here are two files https://drive.google.com/file/d/0B1rJ9TOTvh-VcHBKSWdFSFJaTFE/view?usp=sharing
One original and one saved by the client (connected to the base of this SQLITE3)

[2015-03-18 19:57] justinclift opened #230 "File type selector for blob import isn't working correctly on OSX"
Just tried importing an image file into a database field, but the file selector isn't working correctly.
![screen shot 2015-03-18 at 19 54 10](https://cloud.githubusercontent.com/assets/406299/6718086/0178777a-cda9-11e4-8cca-bf670016667e.png)
The "image" and "all" selectors aren't letting me select the .jpg files in the folder, as shown.

Something incorrect in the way the filters are constructed?

[2015-03-18 20:05] justinclift commented on #229
Which version is it happening for, and on which OS?

I've just tried it here on my desktop (OSX 10.9) using our latest nightly build.  For me it worked fine, with the export file being the exact same size as the imported file.

This is what I did to import it:

1. Open a database (a test one I often use)
2. Edited a field (type "REAL", but it should not matter)
3. Changed the type to "binary" (I d

[2015-03-18 21:21] Oldimac10yrsold commented on #218
the original file is 600 megabytes, the .zip is 101 megabytes.

[2015-03-18 21:37] Z4us commented on #229
I downloaded your files and 'file *'-result:

clientopen.jpg: data
original.jpg:   JPEG image data, JFIF standard 1.01

Editing filetype seems a bad idea

[2015-03-18 22:19] justinclift commented on #229
@Z4us Well, by "edited a field" I mean I double clicked on it in the Browse Data tab, so it brought up the dialog with the import and export buttons.

[2015-03-18 22:22] justinclift commented on #218
Hmmm.  That's a bit big for an email.

Do you have an FTP or SFTP program you're comfortable with?  If you do, I can create an account for you to upload the file somewhere. :smile:

Btw - Sorry this is dragging out so long.  It turns out this is more complicated than it seemed... :frowning:

[2015-03-18 22:34] samir-aguiar commented on #218
Perhaps upload it to Dropbox, Drive or something of the kind and send us the link? I think it also works :smile:

[2015-03-19 01:34] Oldimac10yrsold commented on #218
i can do google drive. just give me an address to send to and ill get it done asap.

[2015-03-19 06:54] samir-aguiar commented on #218
Nice, you can send it to saguiar@gmx.de
Thanks :)

[2015-03-19 08:03] Z4us commented on #229
Sorry, Justin, I misunderstood, my bad.
Apparently it does matter if the type is real or anything else of numeric nature.
Try one with type BLOB (eventually TEXT)

Perhaps this is helpful: https://www.sqlite.org/intern-v-extern-blob.html

As Italians express it: IBAL (i.e. "in bocca al lupo")

[2015-03-19 12:17] harrisrap opened #231 "Sort arrows are wrong direction"
The arrows in the column headings to indicate sort direction are incorrect.  They are the opposite of what they should be.  An upward facing arrow means the sort is from smaller to bigger (or alphabetic).  A downward facing arrow means the sort is from bigger to smaller (or reverse alphabetic).
Take a look at the arrows in the column headers of folders on a PC or a Mac, or in Outlook, or any other

[2015-03-19 12:27] harrisrap opened #232 "Paging arrows issue"
There are some issues with the paging arrows in the bottom left.  One thing is just a little confusing at first.  You are doing something that is not typical UI.  I've never seen software that lets you scroll, and also tells you which lines are being displayed in just the viewable window, and also lets you page through the scrollable view.  Once I figured out what was going on, it is actually pret

[2015-03-19 16:17] justinclift commented on #232
Interesting.  I'll try this out after work to get a better idea what you mean, although I kind of think I know already. :smile:

Which version of DB4S and OS are you using btw?

[2015-03-19 16:17] justinclift commented on #231
I'll check this out tonight too. :smile:

[2015-03-19 16:20] harrisrap commented on #232
V3.5.1
OSX Yosemite 10.10.2

[2015-03-19 16:21] justinclift commented on #232
Cool. :smile:

[2015-03-19 16:31] samir-aguiar commented on #232
I think it might be a OS X thing, because I couldn't reproduce on Fedora. Will try on OS X when I get home as well. :)

[2015-03-19 16:44] samir-aguiar commented on #230
I think it's a Qt but on OS X, because it works on Fedora:

![save_as](https://cloud.githubusercontent.com/assets/3753623/6735536/1e5d94a4-ce5f-11e4-9fdf-c447a9f9bc13.png)

Will do some research when I get home :)

[2015-03-19 20:25] Oldimac10yrsold commented on #218
sent the share samir :)

[2015-03-19 21:27] AndreasMartin72 opened #233 "Small bug causes crash"
Starting application with no database open, a click on the "save file" icon on the "Execute SQL" button then leads into crash.
Anyway, great piece of code. Thank you!

[2015-03-19 23:22] justinclift commented on #233
Yep, just confirmed it on OSX 10.9 with our latest code. :wink:

Thanks for pointing it out. :smile:

[2015-03-19 23:38] justinclift commented on #232
On OSX 10.9 here, and I'm trying it out now.  It seems to be **trying** to page through results by 100 at a time, but getting it wrong for the first page worth.  Here's an example... I've resized the window to just show the first 10 results:
![screen shot 2015-03-19 at 23 31 43](https://cloud.githubusercontent.com/assets/406299/6743317/258c7d72-ce90-11e4-97b0-b17ab6efab07.png)
Now I click the sing

[2015-03-19 23:56] justinclift commented on #231
Hmmmm, on OSX 10.9 here, and it doesn't seem to be wrong for me.  For example, the sort column here is the "hour" column.  The little arrow is pointing downward which should mean biggest to smallest, and the sort order is doing that:
![screen shot 2015-03-19 at 23 53 55](https://cloud.githubusercontent.com/assets/406299/6743547/3c5c720c-ce93-11e4-850d-cd15d9c57855.png)
It seems to be correct in th

[2015-03-19 23:58] samir-aguiar commented on #218
Thanks, I was checking and it seems to be a problem with the Qt libraries. I'll build Qt again overnight with some other flags set and we send you another binary tomorrow... Let's see if it works this time :grimacing:

[2015-03-19 23:59] justinclift commented on #218
@cbredesen btw ping... just in case. :smile:

[2015-03-20 00:05] Oldimac10yrsold commented on #218
Thanks guys :)

[2015-03-20 00:08] justinclift commented on #178
@glawrence Any interest in picking this up?  If you're willing to, we might as well get it done... :wink:

[2015-03-20 05:05] harrisrap commented on #231
![screen shot 2015-03-19 at 10 03 04 pm](https://cloud.githubusercontent.com/assets/5605944/6746358/11ddd606-ce84-11e4-948f-348d0863c272.png)
![screen shot 2015-03-19 at 10 03 30 pm](https://cloud.githubusercontent.com/assets/5605944/6746359/11f58364-ce84-11e4-8e35-23688efddb50.png)

[2015-03-20 06:12] justinclift commented on #231
Interesting.  What data type is the parent_list_id field defined with there?

[2015-03-20 07:53] glawrence commented on #178
Yes, ok, I will give this a go. Do you have a target for the next release?

[2015-03-20 12:37] harrisrap commented on #231
![screen shot 2015-03-20 at 5 36 46 am](https://cloud.githubusercontent.com/assets/5605944/6751612/2c247f4e-cec3-11e4-8719-f4b73205fc4f.png)

[2015-03-20 13:38] Z4us commented on #231
INT = short for INTEGER it's written full in 'list_id' to make it (synonym) of ROWID

ref. https://www.sqlite.org/lang_createtable.html#rowid

[2015-03-20 14:00] harrisrap commented on #231
It is sorting incorrectly for list_id too

![screen shot 2015-03-20 at 6 59 39 am](https://cloud.githubusercontent.com/assets/5605944/6752832/b94f72f6-cece-11e4-842a-3b5dad50dabb.png)

[2015-03-20 14:49] justinclift commented on #178
Yep, April 18th. :smile:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/milestones

[2015-03-20 17:34] yura371 opened #234 "VACUUM"
Why sqlitebrowser write "cannot VACUUM from within a transaction: VACUUM;"? When I select "VACUUM" query.

[2015-03-20 17:54] justinclift commented on #234
Yeah, that doesn't sound good.

Which version are you using, and on which OS?

[2015-03-20 19:08] justinclift commented on #234
Hmmm, it happens here on OSX 10.9.5, using our latest code:
![screen shot 2015-03-20 at 18 53 36](https://cloud.githubusercontent.com/assets/406299/6758762/951c77ee-cf32-11e4-9e2b-9726e2607ab5.png)
@yura371 File → Compact Database works for me though.  Is that good enough for you for now?

![screen shot 2015-03-20 at 19 07 10](https://cloud.githubusercontent.com/assets/406299/6758990/62322494-cf34

[2015-03-21 00:09] Z4us commented on #231
The arrow shows the order you can change the current one to so the opposite of what is the "status quo"

[2015-03-21 18:32] cbredesen commented on #218
Hey all, sorry about the delay. Built fine once I got XCode installed. I have a .app but not the .dmg ... what would you like me to do?

[2015-03-21 18:47] samir-aguiar commented on #218
That's great, @cbredesen!

I was going to send another version but I dug further and I didn't think that would work either. I'm running some tests with Valgrind and Xcode Inspector to see if they can find leaks, but they are not helping much.
It would be great if you could upload it somewhere or send it to @justinclift so he could upload to his server. To build .dmg, Qt comes with a deploy tool. Y

[2015-03-21 19:01] samir-aguiar commented on #233
This should be fixed now, thanks! :)

[2015-03-21 19:04] cbredesen commented on #218
Here you go:

https://dl.dropboxusercontent.com/u/12092928/sqlitebrowser.dmg

[2015-03-21 19:10] samir-aguiar commented on #218
Thanks @cbredesen!

@Oldimac10yrsold can you try this version?

[2015-03-21 20:24] samir-aguiar commented on #230
So this is really a (bug in Qt)[https://bugreports.qt.io/browse/QTBUG-38427]. It also affects version 4.8.5.

[2015-03-21 20:34] samir-aguiar commented on #210
Well, @Z4us already said the ranges and we can't edit their documentation, so I'm closing this. :)

[2015-03-21 20:34] #210 closed

[2015-03-21 20:42] justinclift commented on #233
Thanks @samir-aguiar, tried it here and it seems good to me.  @AndreasMartin72 Do you have a few minutes to verify it's working properly now for you too? :smile:

[2015-03-21 20:46] justinclift commented on #230
Hmmm, looks like it's been sitting there unfixed for about a year. :frowning:

As a workaround for us for now, maybe we should make the "All files (*)" filter the default?  That way people can at least select stuff.

I had to rename the file I wanted to use (an image) to .txt, just so I could recognise it.  Doesn't seem fantastic. :wink:

[2015-03-21 20:50] justinclift commented on #218
That's Fantastic @cbredesen. :grinning:

Just tried it here on 64-bit OSX 10.9.5 out of curiosity, and it works here too.  Don't really need it myself, but it's interesting to note. :wink:

[2015-03-21 21:00] samir-aguiar commented on #230
The files become clickable if you leave and enter the directory again after changing the filter.
Another workaround is not use the native file dialog. That works, but it will look a little bit weird.
Or perhaps subclass QFileDialog and force a refresh when changing filter, but might be too much for something not so critical.

[2015-03-21 21:23] AndreasMartin72 commented on #233
Hi Justin,
 
I took the version from 21.03.2015 (http://rp.oldsch00l.com/sqlitebrowser/), the problem still occures...
 
Regards,
Andreas
 
 
-----Ursprüngliche Nachricht-----
 Von: "Justin Clift" [notifications@github.com]
 Gesendet: Sa. 21.03.2015 21:42
 An: "sqlitebrowser/sqlitebrowser" [sqlitebrowser@noreply.github.com]
 Kopie: "AndreasMartin72" [andi.martin@freenet.de]
 Betreff: Re: [sqlitebr

[2015-03-21 23:53] justinclift commented on #233
Oops yeah, you'd need to wait until tomorrow because the nightly build process hasn't run yet. :smile:

[2015-03-21 23:55] justinclift commented on #230
Hmmm, if subclassing works... how much effort would it be?  Wouldn't it inherit pretty much everything (hopefully)?

Just thinking that from a user perspective, that's the only fix that would completely work atm. :frowning:

[2015-03-22 17:55] samir-aguiar commented on #230
Done :smiley:

[2015-03-22 18:38] justinclift commented on #230
Thanks, that's working perfectly. :smile:

[2015-03-22 18:38] #230 closed

[2015-03-22 20:19] samir-aguiar commented on #231
Ok, I think I got this fixed.
Apparently the problem happened when opening a table for the first time (either by opening a database file or switching tables) and clicking on a header. Then the data were sorted correctly (based on the order from the SQL query), but the arrow was upside-down.
Would be great if you could do some tests :smile:

[2015-03-22 20:53] samir-aguiar commented on #232
Yeah, the buttons are supposed to scroll 100 records up/downwards, no matter the size of the window. So if the window is very small, it will appear to skip a lot of records, but it's just moving the selection by 100 records.

[2015-03-22 20:58] justinclift commented on #231
Awesome @samir-aguiar. :grin:

Just tried out the behaviour for this before-vs-after, and yeah, you guys are right.  Here's a sort showing the wrong order (from the commit right before this one):
![screen shot 2015-03-22 at 20 49 40](https://cloud.githubusercontent.com/assets/406299/6771413/0ebb98e8-d0d5-11e4-850a-b852a90b2d5c.png)
and the opposite direction:
![screen shot 2015-03-22 at 20 51 30](

[2015-03-22 21:02] justinclift commented on #232
Are we able to control the positioning of the cursor in the window, so the cursor keeps it's current position in the window?  eg if it's on the first row when the arrow is pressed, the new window still has it on the first row

Kinda thinking it might be tricky, but then again I don't know Qt. :wink:

[2015-03-22 23:54] Oldimac10yrsold commented on #218
the good news, it works! the file loads and everything is cool.

the bad news is that i cant seem to find the data fields i need to edit :)

[2015-03-23 01:30] justinclift commented on #218
@Oldimac10yrsold FINALLY! :dancers: Awesome that it works. :grinning:  Hopefully you figure out the data fields you need at some point... :wink:

@cbredesen Thank you, you're a legend. :smile:

Team - we should probably add this specific .dmg file to our Releases page, so anyone else using a 32-bit Mac can also benefit.  It'd be interesting to see the download #'s for it over time too, in case it'

[2015-03-23 01:30] #218 closed

[2015-03-23 09:34] rp- commented on #234
this doesn't work, because internally we create a transaction around all statements in the execute sql editor. And VACUUM can't be run within an transaction.

As a workaround use the "compact Database", from the menu as suggested.

[2015-03-23 11:20] justinclift commented on #234
@rp- Interesting.  This seems to work if someone **really** needs a way to run vacuum instead of doing the Compact Database option for some reason:
![screen shot 2015-03-23 at 11 17 56](https://cloud.githubusercontent.com/assets/406299/6778882/8bddb972-d14e-11e4-95d8-c9aff2323ad1.png)
Dodgy workaround though. :wink:

[2015-03-23 17:14] glawrence commented on #178
I have created a pull request, please see my comments in the request as I believe it needs to be checked.

@hughsie could you take a quick look too please?

[2015-03-23 21:42] M-Rick commented on #127
This database can be a good example as well for a data form GUI.
Records http://pushpopcorn.com

![](http://static1.squarespace.com/static/5052391a24ac3b03d5339e83/54c624ffe4b0f7f4ab66fb1e/54c67deae4b0c0cee6211603/1422294523506/Records+Screen+Shot+1.png)

[2015-03-24 16:24] justinclift commented on #90
@mvt91 Would you be interested in updating the translation for our next release (in a few weeks)? :smile:

[2015-03-24 18:19] AndreasMartin72 commented on #233
Re: [sqlitebrowser] Small bug causes crash (#233)

Hi Justin,

yes, now it's ok, thank you!

Cheers,
Andreas

Oops yeah, you'd need to wait until tomorrow because the nightly build process hasn't run yet. 
—
Reply to this email directly or view it on GitHub.

-- 
Grüße,
Andreas Martin
mailto:andi.martin@freenet.de

[2015-03-24 18:35] justinclift commented on #233
Awesome.  Thanks for testing it and getting back to us Andreas. :smile:

[2015-03-24 18:35] #233 closed

[2015-03-24 18:37] justinclift commented on #231
@harrisrap ping? :smile:

[2015-03-24 18:39] justinclift commented on #234
Closing this for now, as it seems like something we're not going to change.

"Compact database" is hopefully a workable alternative instead. :smile:

[2015-03-24 18:39] #234 closed

[2015-03-24 23:00] jaymmartin opened #236 "Bad Query Parse using %3"
Running the query:

`SELECT * FROM address WHERE house_number LIKE '%3';`
runs a query like
`SELECT * FROM address WHERE house_number LIKE '20';`

The number that %3 gets turned into seems somewhat random, but usually less than 20.

Note that %1 and %2 are also broken, but %4 and up work.

[2015-03-24 23:08] justinclift commented on #236
Thanks for the report Jay.  This is fixed in the nightly builds already.  Well, in theory it is. :smile:

Are you ok to grab the latest nightly build and try that, just to make sure? (locations are listed on the front page of our this)

[2015-03-24 23:10] justinclift commented on #236
I think this is the bug where it's identified and fixed, if that helps: https://github.com/sqlitebrowser/sqlitebrowser/issues/203

If it turns out this is not the same bug, and it's in our latest code, then yeah, it's a real bug that needs fixing. :smile:

[2015-03-24 23:19] jaymmartin commented on #236
Nightly build works! Sorry for the trouble. I swear I searched first. :frowning:

[2015-03-24 23:19] #236 closed

[2015-03-24 23:20] justinclift commented on #225
Btw - Don't get stressed about the "Invalid".  It's just so I can scan down the closed bug list quickly when preparing our next release. :smile:

[2015-03-24 23:22] justinclift commented on #236
It's no worries at all. :smile:

If something else weird/not-great turns up, please report that too. (really) :grin: :

[2015-03-24 23:27] justinclift commented on #186
@vassileiosdermentzis ping... :smile:

[2015-03-24 23:28] justinclift commented on #188
@asanchez75 ping?

(note - I'll close this in a day or two if no response...)

[2015-03-25 08:57] mvt91 commented on #90
I Justin,

No problem. Please, send me the file.

[2015-03-25 09:18] harrisrap commented on #231
Sorry, I don’t see how to install the nightly build.  Instructions please?

From:  Justin Clift <notifications@github.com>
Reply-To:  sqlitebrowser/sqlitebrowser
<reply+00558a38a1be9e9cea4eaae9d10d9f7d4a8ec1551e9469ac92cf00000001112970e69
2a169ce03c0d70d@reply.github.com>
Date:  Tuesday, March 24, 2015 at 11:37 AM
To:  sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc:  Harris Rapp

[2015-03-25 09:28] justinclift commented on #231
No worries. :smile:

1. Remove the existing DB4S / SQLite Browser application from your /Applications list.

2. Grab the .dmg here:

&nbsp; &nbsp; http://mirror.salasaga.org/sqlitebrowser/nightly/sqlitebrowser_20150325.dmg

3. Open that dmg file (double click on it in Finder), then drag-n-drop the sqlitebrowser.app file to your /Applications folder.

In theory, that should install the latest night

[2015-03-25 09:33] justinclift commented on #90
Cool.  I think I'll need to generate it first, which I don't remember how to do off the top of my head.  I'll look at it tonight. (I really should write down instructions for myself eh? :wink:)

[2015-03-25 09:33] harrisrap commented on #231
Eureka!  You did it.  Sort arrows are working perfectly now.  Nice work
gentlemen.

From:  Justin Clift <notifications@github.com>
Reply-To:  sqlitebrowser/sqlitebrowser
<reply+00558a389fdf40b4d4348be19551238009be3ecf26363cb192cf00000001112a41c49
2a169ce03c0d70d@reply.github.com>
Date:  Wednesday, March 25, 2015 at 2:28 AM
To:  sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc:  Ha

[2015-03-25 09:36] justinclift commented on #231
Awesome. You've nailed another one perfectly @samir-aguiar. :grin:

@harrisrap Thank you very much for reporting the problem, and verifying the fix.  It really helps. :smile:

[2015-03-25 09:36] #231 closed

[2015-03-25 09:43] justinclift commented on #155
Hmmmm, thinking this specific issue through, it seems like it's not really a problem with DB4S, nor something we can really do anything with.

Going to close it as "invalid" for now, as it's most likely a file created using an encryption method we don't support yet (nor plan to, unless someone wants to take up the task :wink:).

If that doesn't seem right, feel free to reopen this. :smile:

[2015-03-25 09:43] #155 closed

[2015-03-25 10:22] mvt91 commented on #90
Hi Justin,

You will find the translated file with this mail.
I made a review of the file : sqlb_fr.ts (XML file)

Please, take care... The file is coded with UTF-8. All entities are coded with
this option.
I mean, for example :
l&apos;ouverture
will be, in the file
l'ouverture
The html source data (line 28) has his entites encoded*
style=&quot; font-size:small; text-decoration: underline;
color:#

[2015-03-25 13:10] justinclift commented on #90
Awesome.  Would you be ok to email it to me (justin@postgresql.org)? :smile:

GitHub just drops email attachments. :frowning:

[2015-03-26 09:13] deepsidhu1313 opened #238 "Feature request: Please add a PPA for Linux Mint"
It will be better if we get a version for Linux, However windows version can be executed using wine.

[2015-03-26 12:06] justinclift commented on #238
We support Linux already.  Some distributions already package us, though maybe not the very latest version.

Which Linux distribution are you using?  If a package for us doesn't exist, would you be interested in creating/maintaining one? :smile:

Btw - Instructions to compile on Linux are in [BUILDING.md](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md).  It's pretty easy. :

[2015-03-26 14:57] deepsidhu1313 commented on #238
My apologies for not knowing that and my laziness :sweat_smile: . I am using Linux Mint 17.1. Can you please maintain a ppa for that.?

If you say i can maintain the ppa. :smiley:

[2015-03-26 17:33] justinclift commented on #238
Sure.  If you can put together an initial PPA for Mint, we can add it to the download locations on the front page.  We can also include you in the release process (eg emails :smile:), so that Mint has packages ready for people at release time.

How does that sound? :smile:

[2015-03-26 17:35] justinclift commented on #178
Awesome stuff @glawrence. :smile:

[2015-03-26 17:35] #178 closed

[2015-03-26 18:51] deepsidhu1313 commented on #238
Good :+1:

I will be free in next few weeks, i will be right to it.

[2015-03-26 19:56] justinclift commented on #238
Awesome. We're planning on releasing v3.6.0 in a few weeks, on 18th April (roughly):

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/milestones

So, you have some time. :smile:

[2015-03-26 19:58] deepsidhu1313 commented on #238
Yeah sure , i will be free by then. :smiley:

[2015-03-26 19:58] #238 closed

[2015-03-27 10:01] rp- commented on #238
for reference there is an PPAR for an older version. As I don't have really the time and motivation to keep the PPA up to date:

https://launchpad.net/~peinthor/+archive/ubuntu/sqlitebrowser

[2015-03-27 14:35] Z4us commented on #199
Since it's the centennial of her birth:

https://en.wikipedia.org/wiki/Regina_Ghazaryan

[2015-03-27 15:21] justinclift commented on #199
Cool.  There have been a few suggestions, so lets put them together in a list and vote here for them +1/-1 style.

I'll get the list assembled later on today (after work), unless someone has time to do it sooner. :smile:

[2015-03-28 08:54] gimKondo opened #239 "Type of imported BLOB data"
BLOB data imported from file is not typed BLOB but TEXT.
We can replicate by following way.

1. create table
[code]
2. add new record on "Browse Data" tab
3. update 'Image' data by importing image file(e.g. jpg file) on 'Edit database cell'
4. query type of 'Image' data, and get TEXT type
[code]

Maybe, the reason of this issue is DBBrowserDB::updateRecord(sqlitedb.cpp) method.
Imported data for u

[2015-03-28 11:23] fu-hsi opened #240 "WITHOUT ROWID for TEXT column"
SqliteBrowser allows using WITHOUT ROWID only for INTEGER column.
SQLite does not have this limitation:
https://www.sqlite.org/withoutrowid.html

[2015-03-28 12:09] justinclift commented on #240
@MKleusberg ?

[2015-03-28 12:10] justinclift commented on #239
Definitely sounds like a bug. :smile:

[2015-03-28 13:02] fu-hsi commented on #240
![](http://markac.home.pl/pub/sqlite.png)

[2015-03-28 16:24] gimKondo commented on #239
Thanks for response.
Yes, I guess #229 is caused by same problem, too.

[2015-03-28 19:38] finjulhich opened #241 "feature request: resize multiple cols and rows in 1 go in the main QTableView"
It would be nice to select multiple cols and get them all resized in 1 go as has been implemented here:
https://forum.qt.io/topic/16047/solved-qtableview-resize-of-several-columns/6

[2015-03-29 19:00] galmok opened #242 "Export sql doesn't name insert columns"
When exporting the database to SQL with the purpose of importing the data from one of the tables via SQL to another database, it would be extremely helpful if the columns were named in the INSERT statement. This would make the insert work even if the columns were in a different order in the target database (my situation),

I can solve it by replacing the INSERT word like this:

INSERT INTO `SomeDa

[2015-03-29 19:02] galmok opened #243 "Import CSV column order"
It would be great if the column order during csv import could be changed. If the order of the columns in the target database doesn't match the source database, swapping the columns around manually is somewhat difficult.

[2015-03-30 00:21] justinclift commented on #242
Yeah, that makes sense.  We'll probably need some kind of dialog so people can choose their preferred options too. :smile:

[2015-03-30 00:25] justinclift commented on #243
Hmmmm, needing to import columns in a different order than defined in a csv file is pretty unusual (I think anyway).  I doubt we'll do this... but if someone sends in a patch to make it happen we'll happily merge it. :smile:

[2015-03-30 04:59] galmok commented on #243
Well, the problem is that csv import ignores column names in the csv file
and assumes the order is the same. In my situation this was not so. I
resorted to fixing the sql export as fixing the csv file was too much work.
But as a csv importer is already present, a dialog allowing the user to
arrange the csv columns before import would make sense.

[2015-03-30 15:04] DongilKim opened #244 "+Infinite and -Infinite Expression on Export Database to SQL file"
Create Sample Table using "Import/Database from SQL file" function

This foo table has these values

Export foo table to SQL using "Export/Database to SQL file" function. This SQL Statement generates error on "Inf".

I think that this is right. What do you think about this?

[2015-03-30 15:54] justinclift commented on #244
Hmmm yeah, that doesn't sound good. :frowning:

[2015-04-01 07:24] plusky opened #245 "licensing information clarification"
According to README.md, "DB Browser for SQLite is bi-licensed under the Mozilla Public License Version 2, as well as the GNU General Public License Version 3 or later." - it is not clear if this means that conditions of both licenses must be met at same time or that one or other license must be followed.

Thanks for clarification

[2015-04-01 13:51] MKleusberg commented on #234
The 'Compact database' is just a GUI element for calling the vacuum function, so it's not even really a workaround in a technical sense but just exactly the required function here :)

[2015-04-01 18:19] justinclift commented on #245
Well, it pretty much means when you're creating something from this project, you can choose whichever of the two licenses best suits you, OR you can use both of them.

  eg, if you're creating something to put in (say) the Apple Store - which forbids GPL usage I think - you'd want to use the Mozilla license for that.  You're obliged to only follow the Mozilla license terms then.

Conversely, you c

[2015-04-01 18:31] justinclift commented on #234
Excellent. :smile: