[2016-08-20 19:16] justinclift commented on #711
Cheapest option for signing on Windows so far seems to be US$84, through kSoftware:

&nbsp; &nbsp; http://codesigning.ksoftware.net

It's a US business, with a link to the US "Better Business Bureau" on their website, with no complaints.  So... might be workable.

[2016-08-20 19:43] MKleusberg commented on #558
Maybe include d98338ce89089755aef305f8c04ce22ac2509ee9, too. It does change a lot but it's good to get this tested :wink:

[2016-08-20 20:07] justinclift commented on #711
Certum has an "OpenSource Code Signing" thing:

&nbsp; &nbsp; http://www.certum.eu/certum/cert,offer_code_signing.xml

At first look, it seems cheap at 14 euro's.  It doesn't actually seem to do anything useful though, as their certificates aren't something which MS Authenticode can use.

Certum **does** offer Authenticode certificates... but they're ~200 euro.  Eg, it sounds like a scam for getti

[2016-08-20 20:10] justinclift commented on #711
Useful info: http://www.tech-pro.net/code-signing-for-developers.html

[2016-08-20 20:29] justinclift commented on #711
Certificates through [StartCom](https://startssl.com) seem to be the cheapest yet, at US$59.90.

Additionally, it seems the whole process can be done online.  Getting one through kSoftware would require finding a notary, getting my ID documents signed by them, etc.  eg a total pain in the butt (I live in remote UK). :wink:

[2016-08-20 21:12] justinclift commented on #711
Just submitted documentation and paid through StartCom.  They still need to manually check things, so it might be a Monday thing as well.

[2016-08-20 21:37] justinclift commented on #711
And now I find the link to [Outercurve](http://outercurve.org/whatwedo), who might have been able to sign our releases with their certificate.  Oh well. :wink:

[2016-08-20 21:46] justinclift commented on #711
This post at the bottom of this seems to have a good step by step walk through for getting it done through StartCom.  Which is good, as StartCom's own docs... are almost non-existent:

&nbsp; &nbsp; https://stackoverflow.com/questions/1177552/code-signing-certificate-for-open-source-projects

[2016-08-21 02:38] MarqueIV commented on #737
The good news is macOS Beta is now open to everyone, even without the developer network.  Even so, your product has greatly improved my development environment so I would be more than happy to help you with testing, signed or unsigned. Let me know. I don't mind installing out for test builds.

Feel free to reach out to me directly too.  234-248-6275 or Mark@MarkDonohoe.com

Hope I can help!

Mark

[2016-08-21 13:07] MKleusberg opened #738 "plot: Doesn't handle datetime at DST beginc correcly"
### Details for the issue

Just found this on the [Debian bug tracker](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=826878)

[code]

I'm still able to reproduce this with the latest version. It's also highly unlikely that this is a Linux-only bug.
### Useful extra information

#### I'm opening this issue because:
- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4

[2016-08-21 13:12] justinclift commented on #738
It seems like DB4S isn't handling invalid data points (eg datestamp that doesn't exist) in a good way.

Would the better approach be to ignore the invalid points + show a warning, or something else?

[2016-08-21 13:21] justinclift commented on #738
Well spotted btw. :smile:

[2016-08-21 15:44] justinclift commented on #737
Thanks Mark. :smile:

It looks like the Apple Developer staff work on weekends, and they just sorted out the paperwork for that side of things.  Now.. reading time. :smile:

[2016-08-21 15:57] justinclift commented on #711
Good news.  The Apple Developer staff work on weekends, and have fixed my account.

I've just renewed my OSX Developer membership, so in theory can sign our OSX releases now.

I'll try it out later on today, after investigating some more of our translation bits.

[2016-08-21 18:40] justinclift commented on #738
Useful conversation snippet from Christian (the original reporter), copied from email.

problems in my sqlite files).  Specifying the timezone on the commandline or
inside sqlitebrowser (if it does not use UTC as in the sqlitefile) would be
even nicer as I could view all my data in sqlitebrowser.

When we put time into fixing this, we should probably ask Christian (via the email in the Debian bug

[2016-08-21 20:44] justinclift commented on #711
It's taken some doing, but I **think** signing on OSX is working ok.

If anyone on OSX has a few minutes to try it, please grab this latest build (3.9.x series) and test if OSX throws up a warning when trying to run it:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx-prerelease/DB%20Browser%20for%20SQLite-3.9.0-beta2.dmg

If it does... looks like I still have more stuff to figure out. :wink:

[2016-08-21 20:46] justinclift commented on #737
It's taken some doing, but I **think** signing on OSX is working ok now.

@MarqueIV If you have a few minutes to try it, please grab this latest build (3.9.x series) and test if OSX throws up a warning when trying to run it:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx-prerelease/DB%20Browser%20for%20SQLite-3.9.0-beta2.dmg

In theory the signature is all good, OSX is happy, etc.  But... w

[2016-08-21 21:00] justinclift commented on #711
The nightly build script for OSX has been updated with the signing pieces too, so (in theory) all of our OSX nightly builds should now "just work" without any "unsigned application" type of warning.

[2016-08-21 21:02] justinclift commented on #603
Updated our OSX nightly build script today.  It's now building with Qt5 (and signing the .app's), so that's one less thing to take care of. :smile:

[2016-08-22 15:27] revolter commented on #711
Following these steps:

- download and open beta 2 `.dmg`
- drag the `.app` to the `Downloads` folder
- open the `.app`

shows this alert:

![screen shot 2016-08-22 at 18 25 24](https://cloud.githubusercontent.com/assets/5748627/17860329/cae80426-6895-11e6-9bd3-8c2bc038b79e.png)

This is the alert that should have been gone, right? Could it be because I didn't move it to the `Applications` folder

[2016-08-22 15:38] justinclift commented on #711
Nah, that's a different warning.  Not sure if that one's even possible to get rid of.

The warning being discussed here is the "Gatekeeper" one, whose settings are controlled through *OSX System Preferences → Security*.

Most people seem to change it to "Mac App Store and identified developers", which should make the warning go away for signed applications:
![screen shot 2016-08-22 at 16 32 37](ht

[2016-08-22 15:41] justinclift commented on #711
Ugh.  I just tried out last night's nightly build.  There does seem to be something wrong with it anyway.  The .app icon is wrong for starters, and the security certificate doesn't seem ok.

It's probably a good thing that the logs for the nightlies are keep.  Will investigate soon. :smile:

[2016-08-22 20:17] justinclift commented on #711
So, StartCom are not that good.  The person doing the "verification" step has a script to follow, and that script **requires** me to submit a utility bill showing my phone number.

Problem is... none of mine do.  I don't like phones, and the area I live in has no mobile service.

Bit of an impasse.  I've asked them to reach out to their CEO, Eddy Nigg, to intervene.  He's been active on the Mozill

[2016-08-22 21:58] justinclift commented on #711
Ok, I think the nightly OSX builds are fixed now.  It turns out Debug mode builds don't include the icon.  Couldn't find a way to adjust that, so the nightlies are back to using Release mode.

The signing problem seems due to a problem with the way I'd constructed the keychain (where certificates are stored).  Moved the certificate to the system keychain... which (in theory) should work.  We can c

[2016-08-22 23:36] justinclift commented on #737
@MarqueIV Tested the latest nightly build on macOS Sierra (newly installed "Version 10.12 Beta (16A239m)") just now:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx/DB%20Browser%20for%20SQLite-sqlcipher_20160822.dmg

Two fairly concerning problems show up immediately, though both seem more like bugs with Sierra.

When trying to mount the .dmg on Sierra through Finder, it claims the .dmg is d

[2016-08-22 23:38] justinclift commented on #737
Hmmm, Sierra is saying there is a new update available (Beta 7).  I'll give that a try too, just in case it fixes the bugs seen above.

[2016-08-23 01:17] MarqueIV commented on #737
Yeah, just came out today I think.  I'm installing it on my machine too if you want another tester.

[Sent from my iPad Pro]

[2016-08-23 01:24] MarqueIV commented on #737
The DMG worked fine for me. As for the app, it worked after I disabled the security prompt.

Even so, there was another issue... if you say 'run it this time' from sys prefs security, it doesn't actually open but instead prompts you again. You have to completely disable the security, run the app, then reenable.

My guess is you're using a boot strap mech which would cause that as the boot strapped

[2016-08-23 01:41] MarqueIV commented on #737
Crap! Missed this.  I'll test when I'm back on my machine in about an hour.

[Sent from my iPad Pro]

[2016-08-23 02:57] MarqueIV commented on #737
Just a quick update... both the beta 2 and nightly open fine here on my desktop running El Capitan.  No security prompts anymore so it's recognized as being signed.

I'm currently installing the latest beta (Sierra 7) on my notebook and will let you know what happens there.

[2016-08-23 03:26] MarqueIV commented on #737
FYI... 3.9.99, the nightly doesn't properly browse data.  It's not returning all records.  I'm seeing paging controls but they don't seem to work either.  Note, this is still on El Cap.

[2016-08-23 08:59] revolter commented on #711
It looks like I already had that setting selected instead of `Anywhere`. Tested it with `3.8.0` and it blocked it, and with beta 2 and it opened it correctly.

[2016-08-23 11:20] justinclift commented on #737
Thanks, @MarqueIV. :smile:

It's interesting about the 3.9.99 nightly build not properly browsing data.

Something like that happened on my system a while back.  eg In a database with 140,000+ records... The Browse Data tab would only show (say) up to the ~18,000th one using the slider and/or the controls.  Literally no way to see all of the data. 😦

That wasn't happening for anyone else though, s

[2016-08-23 11:51] MarqueIV commented on #737
If it matters, this is a relatively small dataset.  It’s the NJ Transit train times.  Definitely not 100K+ records.  The largest table is 44K but most are < 5K

BTW, even in 3.9.00 and even 3.8 the paging controls seem to be doing odd things.  For instance, right now on my browse data tab, it says 1-11 of 229.  If I hit the ‘next page’ button (the right arrow without the line) it now says 91-101 o

[2016-08-23 12:04] justinclift commented on #737
Interesting.  Sounds like the code around this needs a bit of love and attention.

Will take a look in a few days. :smile:

[2016-08-23 12:49] justinclift commented on #711
StartCom have ok'd my validation, so going through the code signing learning experience for Windows now. :wink:

[2016-08-23 14:38] justinclift commented on #737
Found the reason for the weird error with Sierra claiming the .dmg and .app were damaged.  It's because Sophos anti-virus was installed prior to the upgrade.  Seems like it doesn't work with Sierra (or at least doesn't survive the upgrade process), but leave enough of it's remnants behind to break application launching.

After redoing the upgrade without Sophos, that problem has gone away.  The si

[2016-08-23 15:21] justinclift commented on #737
Not sure what the root cause is yet, but the problem of all data not being shown does go away when building with Qt4.

We'll probably build this release with Qt4 then, and figure out the cause/fix afterwards.

[2016-08-23 15:23] justinclift commented on #603
There's a problem with Qt5 not showing all data records, on at least OSX: https://github.com/sqlitebrowser/sqlitebrowser/issues/737#issuecomment-241616641

It happens for both SQLCipher and non-SQLCipher builds.  When dropping back to Qt4, the issue goes away.

Haven't tried on Window yet, to see if it's just an OSX-only thing.

[2016-08-23 17:45] justinclift commented on #737
As a data point, this bug with all of the data not being shown isn't happening on Win64.

Seems like it might really be an OSX-only bug. 😦

[2016-08-23 18:39] Disactive opened #739 "SQLitebrowser and System.Data.SQLite"
### Details for the issue

Yeah.. why not?
You can add the ability to open databases that are protected with RS of System.Data.SQLite (.Net Framework)
Then will be the best SQLite Browser in the world!

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [X] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

-

[2016-08-23 19:10] justinclift commented on #739
Hmmm, it's unlikely.  Out of curiosity, do you know if that part of .Net is one which MS have Open Sourced?

[2016-08-23 19:22] Disactive commented on #739
But System.Data.SQLite is not a part of Microsoft.. that come from SQLite DLLs

[2016-08-23 19:29] justinclift commented on #739
Ahhhh, my bad.  Are you meaning this?

&nbsp; &nbsp; https://system.data.sqlite.org/index.html/doc/trunk/www/index.wiki

[2016-08-23 23:07] justinclift commented on #737
@MarqueIV Would you have time to test this?

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx-prerelease/DB%20Browser%20for%20SQLite-3.9.0-beta3.dmg

That one should allow you to see all of the data.  The only real change is that it's using Qt4 instead of Qt5.

But, Qt4 is "good enough" for the moment.  We'll do the switch to Qt5 when all of the potential issues are resolved.

[2016-08-24 06:37] MarqueIV commented on #737
Just tried it.  While I can now browse all the data in the table, it still has that wonky paging behavior I spoke about earlier.

Oh... and the preferences issue is still there.  Here's what I see when I close, then reopen, then go right to browsing data...

![image](https://cloud.githubusercontent.com/assets/897883/17920618/a07dcc70-69a3-11e6-95eb-6ef112923287.png)

[2016-08-24 09:20] justinclift commented on #737
@MarqueIV Ouch.  Yeah, that doesn't look great.

I'll look through our preferences code now, to see if something obvious jumps out.  Otherwise, this will have to be figured out at a later time.  It sounds like a Sierra-only bug, and may not be affecting everyone.

With your Sierra setup, is it a VM, or physical hardware, or ?

Just wondering on the details, in case something springs to mind from t

[2016-08-24 09:24] revolter commented on #737
@justinclift, All the background colors (`*_bg_colour`) are [defaulting to white][1], so it looks like maybe it's a Qt bug?

  [1]: https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/PreferencesDialog.cpp#L296-L305

[2016-08-24 09:27] justinclift commented on #737
@revolter Yep, that's possible.  It's going to be hard to figure out the problem unless we can replicate it.

As an alternative thought @MarqueIV, would you be interested in building DB4S to investigate?

Your CV shows in-depth programming skills, including C++.  So, it's probably right in your skill set. 😀

Setting up a DB4S development environment on OSX is fairly easy, if that helps.

[2016-08-24 15:31] MKleusberg commented on #737
No idea why it's black on black. The default, in the case that there is no config file, is black on white (https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/PreferencesDialog.cpp#L282). How are settings stored on MacOS anyway? Do they have config files or something like a Windows registry? In the latter case Sierra could at least in theory send Null values which we wouldn't notice bec

[2016-08-24 15:31] MKleusberg commented on #737
Ah @revolter was faster ^^

[2016-08-24 15:48] justinclift commented on #737
@MKleusberg That Null thought is interesting.  Maybe we should adjust our code to detect that, and if it's Null then return the default value instead?

[2016-08-24 16:17] justinclift commented on #711
With some assistance from the StartCom online chat staff, it's done. :smile:

Closing this now as both Windows (Win64+Win32) and OSX releases will be signed from here on.

[2016-08-24 16:17] #711 closed

[2016-08-24 16:24] justinclift commented on #410
Closing this, as it's definitely fixed for everything except large size images.

Large images will likely be addressed in the next release anyway. :smile:

[2016-08-24 16:24] #410 closed

[2016-08-24 16:27] justinclift commented on #272
For me, when I checked here they're both using the same icon.  That was on Win 7 x64.

@cnromaine We're just about to release 3.9.0, so I'll close this.  If it turns out that the icons for 3.9.0 are different for you, feel free to reopen this and we can look back into it for the next release. :smile:

[2016-08-24 16:27] #272 closed

[2016-08-24 16:28] justinclift commented on #643
Meh, we've done what we can for the 3.9.0 release.  It's "good enough for now".

:wink:

[2016-08-24 16:28] #643 closed

[2016-08-24 16:28] justinclift commented on #729
Moving this to the next release target, as it wasn't done in time for 3.9.0.

[2016-08-24 16:29] justinclift commented on #579
This will have to be a 3.10.0 thing instead of for this release.  Didn't get time to investigate it properly for 3.9.0.

[2016-08-24 16:32] justinclift commented on #677
@bhj The new release out today - 3.9.0 - doesn't have JSON1 included in it.  It's purely because we included SQLCipher by default in all builds, and I haven't yet had time to investigate how to build them both together.

It may turn out to be super easy... I just don't know (yet). :wink:

In the meantime, grabbing any of our nightly builds *without* SQLCipher should work.  They have the JSON1 exte

[2016-08-24 18:04] Disactive commented on #739
Yeah, that is what i mean :)

[2016-08-24 18:22] justinclift commented on #739
@Disactive Looking at the website, it seems like an alternative approach to opening SQLite files.

What does the "protected with RS" bit mean in your request? :smile:

[2016-08-24 18:29] MKleusberg opened #741 "Help wanted: testing our grammar parser"
Here's a task for all who want to contribute but don't feel ready to start C++-coding.

Our grammar parser needs some more stress-testing, I think. The grammar parser is the part that tries to understand the ```CREATE TABLE ...``` statements and extract all the information on the table. So testing it is as simple as creating a new database, adding a table (via SQL), opening it in the Edit Table di

[2016-08-24 18:49] goozak opened #742 "Unable to uninstall program from "Programs and Features" in Win7"
Could be considered an installation bug, especially for 'regular' user.
Windows 7 Ultimate SP 1
DB Browser for SQLite 3.9.0, 64-bit

There is no "uninstall" entry in Windows 7 "Programs and Features" Control Panel item. (There was one for v. 3.8.0.)

Workaround is to directly use the "Uninstall.exe" program in the installation folder (the one above the "bin" folder where the program's executable f

[2016-08-24 18:52] justinclift commented on #742
@goozak Thanks for pointing this out.

I remember seeing this as well when testing the NSIS package, but completely forgot about it.

We'll investigate this in time for the next release.  In the meantime... damn. 😦

[2016-08-24 18:52] Disactive commented on #739
I mean.. whit this dll you can set a password to database, but you can only open it again whit the same dll.. not but other SQLite browser.. and.. in internet exists only 1 browser that can open encrypted database with this dlls, but is a very only software (2009), now is pretty bugged.
If i try to open a encrypted database with your browser, i get an error. Becase this dll encrypt files using RSA

[2016-08-24 18:54] justinclift commented on #742
In theory, it's probably just something simple in our NSIS package generation variables:

* https://github.com/sqlitebrowser/sqlitebrowser/blob/e21dc402562d448a37b76ee7fe253501d96e6752/CMakeLists.txt#L354-L386

It'll just take some experimentation to find out exactly what's wrong, and fix it.

[2016-08-24 18:57] justinclift commented on #739
Ahhhh.  I understand part of it.

The System.Data.SQLite software can add RSA encryption to files.

Do you know if it uses [the official "SEE" encryption](https://www.sqlite.org/see/doc/trunk/www/index.wiki), or if it uses something else?

[2016-08-24 18:59] justinclift commented on #279
Yeah, we should add an option for setting file associations for the next release.

Especially considering the 3.9.0 release changed the install path again.

/me completely forgot about potential impact of that on file associations

[2016-08-24 19:04] Disactive commented on #739
No, the enrcryption use a personal security system, that is writed in the System.Data.SQLite.
For set a password you can simply add this dll to a project and use a command:
Connection.SetPassword("MyPass");

I have read womthing online, and im sure that use not SEE (external plugin) but RSA (internal function).

[2016-08-24 19:18] justinclift commented on #739
Thanks @Disactive, it's making sense now. :smile:

We've taken a quick look at the System.Data.SQLite bits... and it doesn't really seem like there's much benefit to implementing that in DB4S.

It might be possible to adjust our SQLite layer to use that, but it's probably a fair amount of work.  It would only give us version basic encryption too, unlike the strong encryption in SQLCipher.

If you

[2016-08-24 19:35] Disactive commented on #739
That will be awesome, but i dont know C++ language, so... i can't give you a big help.
Anyway.. i think (and is just my opinion).. i think that you will have good benefit if you add the ability to open database that are encrypted with System.Data.SQLite. Because there are many users that use this dll with .Net Framework, by programming in VB.Net; C#, F, etc.. and many of them will use this interna

[2016-08-24 19:39] justinclift commented on #739
Hmmm. It sounds like a lot of work needed on our part. 😦

Sorry, but this is very unlikely to happen unless someone willing to do the work themselves gets involved.  I'm going to close this issue, but if someone **is** willing to do the needed work to implement this, they're welcome to reopen it and get it done. :smile:

[2016-08-24 19:39] #739 closed

[2016-08-24 21:06] bhj commented on #677
Appreciate it @justinclift - people will probably want a JSON browser too, heh... One step at a time :wink:

[2016-08-24 21:29] justinclift commented on #677
Heh Heh Heh

We definitely accept Pull Requests if you're up for it. 😁

[2016-08-24 21:31] chrisjlocke commented on #739
Just a nod that this (or similar) came up recently on the system.data.sqlite mailing list.  Dr Richard Hipp mentioned System.data.sqlite can be recompiled to use SEE, rather than its own encryption library.

No.  Databases encrypted by the legacy encryption mechanism in SDS are
not readable or writable with SEE, and vice versa.
SDS can be recompiled to use SEE.

[2016-08-24 21:34] justinclift commented on #739
Hmmm, if System.Data.SQLite could be recompiled to use SQLCipher, that might make things easier.

It's not something I'm personally interested in, but @Disactive may want to ask about it on [the SQLCipher forums](https://discuss.zetetic.net/c/sqlcipher).

[2016-08-24 22:51] ronCYA commented on #332
Can do! Need to work on some projects at the moment but will be sure to
find some time this weekend for you. Great to hear about your progress :)

On 25 Aug 2016 4:50 am, "Justin Clift" <notifications@github.com> wrote:

[2016-08-24 23:00] justinclift commented on #332
Thanks @ronCYA. :smile:

[2016-08-24 23:13] rudolf323 opened #743 "Exporting CSV table from 3.9.0 causes corruption when imported back in"
### Details for the issue

So I'm using Chrome's SessionBuddy extension and once in a while I export SavedSessions table out of the extension's DB to edit out some URL's (from The Great Suspender). And after that I import back the saved .CSV (it's edited on N++) into SQLite browser. It all worked great on 3.8.0. But now on the 3.9.0 version when I tried to export the table as .CSV, edited it, impo

[2016-08-24 23:20] MKleusberg commented on #688
I've just pushed a commit which adds basic JSON export support. There are a few things missing here and there (more menu entries for easier access throughout the program, an option to change from CSV to JSON format and back while being in the dialog, a way to export SQL query results as JSON, and exporting multiple tables into one JSON file). Other than that JSON export is there :smiley:
However,

[2016-08-24 23:26] justinclift commented on #743
Ouch, that doesn't sound good at all.

Is the database you're dong this on private or sensitive?  Asking because I'm wondering if you could maybe email it to me (justin@postgresql.org)?  That way tomorrow I'll try and get the problem to happen for me, so we can fix it. :smile:

If not, no stress, I can still try tomorrow using a made up database here. :smile:

[2016-08-24 23:30] justinclift commented on #688
Unfortunately, the OSX nightlies are back to using Qt4 again.

There's a problem with Qt5 on OSX, where it doesn't show all of the data in the tables. 😦

Until we get that figured out... Qt4.

***sigh***

[2016-08-24 23:34] rudolf323 commented on #743
It's private, but you can easily try this by yourself if you're using Chrome:

- [link to the extension](https://chrome.google.com/webstore/detail/session-buddy/edacconmaakjimmfgnblocblbcdcpbko?hl=en)

- It automatically creates a DB in this location when you save a session.
- `C:\Users\[username]\AppData\Local\Google\Chrome\User Data\Default\databases\chrome-extension_edacconmaakjimmfgnblocblbcdc

[2016-08-24 23:35] justinclift commented on #743
Thanks @rudolf323.

I'll install Chrome in a VM tomorrow and see what's going on. :smile:

We might be releasing a v3.9.1 in near future after all. :wink:

[2016-08-24 23:36] justinclift commented on #743
Just in case it turns out to make a difference, which version of Windows are you running?

[2016-08-24 23:40] rudolf323 commented on #743
@justinclift Windows 10 Anniversary Update

[2016-08-24 23:41] justinclift commented on #743
Thanks @rudolf323. :smile:

[2016-08-25 04:06] MarqueIV commented on #737
re: the nulls... yes... definitely check for that and return the defaults as necessary.  I'm one to always code for any possible value that's compilable (that a word?)

To answer your question, this isn't a VM, it's the Mac version running right on the hardware.  However, I'm also running Win10 via Parallels 11.  I can check the Win version of the same build if you want to send it over. I also hav

[2016-08-25 04:14] MarqueIV commented on #737
Also, just ran your 3.9.99 beta 3 (which appears to be signed) on Sierra beta 7 and still got the black cells.  I'm wondering if perhaps there's some bad preferences being held around.  Can you give me a list of all the locations you've written files and I'll nuke them all? (Do you have an uninstaller or script? That would be even better!)

[2016-08-25 08:23] Swabek opened #744 "DB Schema view resets on tab change"
**Steps To Reproduce:**
1) Open any database with one or more tables
2) Expand any table in the "DB Schema" view on the right
3) Change the main tab (e.g. from "Database Structure" to "Browse Data"

**Actual Results:**
All your expanded tables get collapsed.

**Expected Results:**
All your expanded tables stays expanded.

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ]

[2016-08-25 10:26] justinclift commented on #744
Thanks for reporting this @Swabek, this is definitely a bug.

It's happening here OSX too, so this isn't just a Windows thing either.

[2016-08-25 10:32] innermous commented on #744
@justinclift it's not even close a bug, it's intended behavior by someone who've written that code.
Every time on changing current tab it wipes whole dbstructuremodel and fills it from scratch.

[2016-08-25 10:34] justinclift commented on #744
Heh Heh Heh

It sounds like they may have tried to "keep it safe", and got it wrong. :wink:

[2016-08-25 10:54] justinclift commented on #737
@MarqueIV Wiping the preference files is an interesting thought.

For my OSX 10.9.5 desktop, this is where they are for my user:

[code]

And yeah... spread out.  Trying to maintain compatibility with historical releases, so people (in theory) don't have to setup their preferences again just because they upgraded. :wink:

Checking Sierra, they're in the same place too.  Deleting those files should

[2016-08-25 10:56] AdamPS opened #745 "Register Windows file extensions (open from Explorer)"
### Details for the issue

I had hoped to be able to open files directly from outside of sqlitebrowser - e.g. from Windows Explorer, another file manager, or the command line.  For this to work, it would need sqlitebrowser to register for some file extensions: *.sqlite, and maybe others.

Is this something that you would expect to work?  If not, please can I request it as a feature?

Thanks

### U

[2016-08-25 11:11] justinclift commented on #745
Yep, in theory this should work.

However... it seems like I broke the file extensions again with this release by changing the installation path. 😦

We have a now-outdated wiki entry for the old location:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Windows-File-Associations

The concept mentioned in it is correct, although the paths need updating for this new release.

I'll

[2016-08-25 11:12] justinclift commented on #745
Actually, I think this might be a duplicate report for an existing (much older) report of the same breakage.  But, lets get this fixed for now, and we can figure out the duplicate-or-not later.

[2016-08-25 11:39] AdamPS commented on #745
Thanks for a very quick reply, and let me know if you need me to test a Beta

[2016-08-25 11:45] justinclift commented on #745
Hmmm, investigating this more, it seems like association with file extensions isn't something we've **yet** done automatically (or given an option for).

But, because almost everyone uses file extensions for this exact purpose :smile:, everyone has been creating the extensions manually (eg using Windows Explorer).

Two bits of thought arise for this:

a) Changing the installation path - which I di

[2016-08-25 12:44] justinclift commented on #745
Found it, #279 is the older issue about this too.

[2016-08-25 13:02] justinclift commented on #279
Looking into this a bit, it seems like we could add an option to our installer for people to choose whether to "Associate file extensions?" or not.

There's no direct support for doing so in CMake's "CPack" (which controls the NSIS packaging process), but it should be feasible using some of the "extra install" commands.

* https://cmake.org/pipermail/cmake/2009-January/026252.html
* https://cmake.

[2016-08-25 13:13] AdamPS commented on #279
Thanks, an option in the installer sounds excellent.  This would also help the users who had created associations by hand that subsequently got broken with renaming.

You will need to decide what extensions to use.  As a starting point for that, according to http://stackoverflow.com/questions/808499/what-is-the-best-extension-name-sqlite-database-files

[2016-08-25 13:15] justinclift commented on #279
Good thinking @AdamPS. That does look like a useful source of info on commonly used file extensions. :smile:

[2016-08-25 13:20] justinclift commented on #745
@AdamPS I'll close this issue now as a duplicate, and we can continue to get a solution in place through the older issue. :smile:

[2016-08-25 13:20] #745 closed

[2016-08-25 13:23] justinclift commented on #508
Ahhh, forgot about this issue.

@tonypdmtr Going to close this, as it's fixed in the 3.9.0 release which came out yesterday. :smile:

[2016-08-25 13:23] #508 closed

[2016-08-25 13:24] justinclift commented on #451
Closing this due to lack of response.

[2016-08-25 13:24] #451 closed

[2016-08-25 13:28] justinclift commented on #239
@gimKondo Would you have time to check if this is fixed in [our new 3.9.0 release](https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0)?

I **think** it is, because the new release checks the data type for each cell, instead of only checking the column.  So, this new release should be more accurate. :smile:

[2016-08-25 13:31] justinclift commented on #229
@MKleusberg Any idea what the status of this one is?

[2016-08-25 14:07] justinclift commented on #743
@rudolf323 With this, I haven't yet tried out the Chrome extension.  Something popped into mind though, which might explain the problem.

In the export dialog (*File* → *Export* → *Export data as CSV*), the drop down option at the bottom is "New line characters":
![screen shot 2016-08-25 at 15 02 08](https://cloud.githubusercontent.com/assets/406299/17972022/380802ea-6ad5-11e6-9fc5-89aa25f863e7.pn

[2016-08-25 14:07] justinclift commented on #707
Closing this due to lack of response.

[2016-08-25 14:07] #707 closed

[2016-08-25 14:09] justinclift commented on #554
Closing this due to lack of response.

Note - In theory, this should be fixed in [our new 3.9.0 release](https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0) anyway. :smile:

[2016-08-25 14:09] #554 closed

[2016-08-25 14:10] justinclift commented on #495
@skifans Just an update, we released version 3.9.0 yesterday.  When you're back, please test with that one instead. :smile:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0

[2016-08-25 14:11] justinclift commented on #552
@whieronymus Reminder ping?

Note, we [released 3.9.0 yesterday](https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0), so that would be the one to test with instead. :smile:

[2016-08-25 15:20] chrisjlocke commented on #279
Just tried this on my Windows 10 machine, and some useful 'quick' command line tools.
So, from an administrative command prompt (not just a command prompt when logged in as a user with admin rights, but right click the 'cmd' shortcut and 'run as admin') type these commands:
`assoc .db=sqlite3Database`
`ftype sqlite3Database="C:\Program Files\DB Browser for SQLite\bin\DB Browser for SQLite.exe"`

O

[2016-08-25 15:34] srknkrn opened #746 ""sqlitebrowser" command doesn't work"
### Details for the issue

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [x] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows
- [ ] Linux: ( _distro:_ ___ )
- [x] Mac OS
- [ ] Other: ___

#### I'm using DB4S version:

- [x] 3.9.0
- [ ] 3.8.0
- [ ] Other: ___

I cant start  the browser usi

[2016-08-25 15:44] justinclift commented on #279
@chrisjlocke Cool, those `assoc` and `ftype` commands look useful. :smile:

With the `3.9.0` release, it installs into ... `\DB Browser for SQLite\3.9.0\` with the `bin` directory + files inside that.  So, the paths will be slightly different than shown.

[2016-08-25 15:51] chrisjlocke commented on #279
Yes, I removed the '3.9.0' from my install, and added the 'change your paths / file extensions as required' to the above instructions!  Just my personal preference, but on my main machine, I don't install into separate directories.

I've used Inno Setup in the past to create Windows installs.  That does optional (ie, via checkboxes) file associations, but a user preference in the program is always

[2016-08-25 15:54] justinclift commented on #746
Ahhh, that's interesting.  We changed the name of the command from "sqlitebrowser" to "DB Browser for SQLite".

But, that might not have been a great idea for people used to launching it from the command line. 😦

Depending on which shell you have configured, it **might** be possible to launch it by typing `DB` then hitting tab for autocompletion.

If that doesn't work, it's probably possible to cr

[2016-08-25 16:00] AdamPS commented on #279
A user preference in the program would be convenient.  However it needs to be done carefully because changing file associated settings needs temporary escalation to Administrator access.

I feel that the developers should choose either install time or a subsequent preference depending on implementation factors.  As a user, I would welcome and can adapt to either.

[2016-08-25 16:23] justinclift commented on #279
Makes sense.  I'll look into doing it via the installer.  But, probably won't investigate today.

Feeling a bit burnt out from the hectic last few days getting the release ready.  Ironically... I need a holiday. 😁

[2016-08-25 16:23] srknkrn commented on #746
It work when I type DB then hitting TAB and I did update using .tar file ,also I used the same file for installation before the update...
This command does not work
`ln -s "/path/to/new/DB Browser for SQLite" "sqlitebrowser"
`
and by the way I saw some error message after "cmake ." command, should I share?

[2016-08-25 16:24] justinclift commented on #746
Yep, please share it.  It's better to see the error, just in case it is important. :smile:

[2016-08-25 16:38] srknkrn commented on #746
CMake Warning (dev) at CMakeLists.txt:270 (add_executable):
  Policy CMP0037 is not set: Target names should not be reserved and should
  match a validity pattern.  Run "cmake --help-policy CMP0037" for policy
  details.  Use the cmake_policy command to set the policy and suppress this
  warning.

  The target name "DB Browser for SQLite" is reserved or not valid for
  certain CMake features, such

[2016-08-25 18:29] justinclift commented on #746
Thanks.  That warning isn't a problem, you can ignore it. :smile:

[2016-08-25 18:35] justinclift commented on #279
Realised something important.  We don't really **need** to use CMake for creating the installer.  The way things are configured now, CMake drives the NSIS packaging program, but doesn't make easy the wide variety of things that NSIS allows.

If we just use NSIS directly, it shouldn't be too hard to make an installer which does what we want, including optional creation of file associations.

Note -

[2016-08-25 18:45] justinclift commented on #279
Other Open Source projects have their NSIS scripts online too, and some of the pieces in them we can probably copy/adapt.  eg from VLC:

* https://github.com/videolan/vlc/blob/master/extras/package/win32/NSIS/vlc.win32.nsi.in#L224-L230
* https://trac.videolan.org/vlc/ticket/4323

This will probably fix #742 on the way through too.

[2016-08-25 20:51] srknkrn commented on #746
Okay but still "sqlitebrowser" command does not work :( and this errors message from after "make" command
`Scanning dependencies of target qscintilla2
[  5%] Building CXX object libs/qscintilla/Qt4Qt5/CMakeFiles/qscintilla2.dir/qsciscintilla.cpp.o
/Users/someuser/sqlitebrowser-3.9.0/libs/qscintilla/Qt4Qt5/qsciscintilla.cpp:267:9: warning:
      add explicit braces to avoid dangling else [-Wdanglin

[2016-08-25 21:27] Disactive commented on #739
My idea was to use the integrated protection, not another external dll. :)
Anyway.. i dont know what i must ask on this forum, so.. i think i will pass :)

[2016-08-25 22:03] rudolf323 commented on #743
@justinclift I just tried it and it works !!! Thanks.

[2016-08-25 22:16] justinclift commented on #743
Awesome, that's good news. :smile:

[2016-08-25 22:16] #743 closed

[2016-08-25 22:20] justinclift commented on #746
Ahhhh.  Try using `qmake` instead of `cmake`, using the steps here:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#building-an-app-bundle

In theory (!), that should work.  It will generate an .app bundle though, which I'm not sure you want. 😦

[2016-08-25 22:34] geoffblack opened #748 "Selected table in Browse Data tab resets to first table on tab change"
Steps To Reproduce:

1) Open any database with one or more tables
2) Expend any table in the "Browse Data" view on the right
3) Change the tab from "Browse Data" to "Execute SQL " and back to "Browse Data"

Actual Results:
The selected table is reset to the first table in the DB.

Expected Results:
The selected table stays the same as before you changed tabs.

#### I'm opening this issue because:

[2016-08-25 22:35] justinclift commented on #748
Thanks for pointing this out @geoffblack, that does look like a bug related to #744.

@innermous Will your fix for #744 solve this one too?

[2016-08-26 08:17] innermous commented on #748
1. Not related to #744, it was about schema tree structure.
2. It is already fixed a week ago, use nightly build.

[2016-08-26 10:27] justinclift commented on #748
@geoffblack Interestingly, this does seem to be already fixed in our latest development code. :smile:

Would you be ok to try out [the latest nightly build for Windows](https://github.com/sqlitebrowser/sqlitebrowser#windows), and let us know if it's fixed for you?

The download locations are on our front page, if that helps.

[2016-08-26 10:33] justinclift commented on #635
@PSE-AG Any luck with this? :smile:

[2016-08-26 11:02] PSE-AG commented on #635
Hi

I'm so sorry, I have been terribly busy in the last couple of weeks and I had an operation two weeks ago and have been recovering since then.

I did find out however that the reason I got the segfaults was not my RAM or or debian buildchain. Some time ago I installed linuxbrew because I wanted to test something. linuxbrew compiled a glibc, gcc and other packages on its own and put them at the

[2016-08-26 11:05] justinclift commented on #635
No worries at all. :smile:

Healing well, and getting better is definitely of much higher importance. 😁

[2016-08-26 14:54] geoffblack commented on #748
It is indeed fixed in the latest nightly, thanks.

[2016-08-26 14:54] karim opened #749 "There is no default font selected in the Preference window"
### Details for the issue

DB4S has a default font that it is using for the "Browse Data" tab. You can see it in the next image.

![db4s_1](https://cloud.githubusercontent.com/assets/8761081/18008694/6887ef3c-6ba9-11e6-87dc-b8876c7d2cff.jpg)

However, if you open the "Preference" window to change anything, or simply opened it and closed it without changing anything, it will change the default font

[2016-08-26 14:55] srknkrn commented on #746
I think I have to get used to "DB" with TAB. :) You can close this issue if there is nothing to work with "sqlitebrowser" command. Thank you

[2016-08-26 15:36] justinclift commented on #748
Awesome. :smile:

[2016-08-26 15:37] justinclift commented on #748
I'll close this now then, as the code is available in our nightlies, and will be in the next major release too. :smile:

[2016-08-26 15:37] #748 closed

[2016-08-26 15:40] justinclift commented on #749
@karim Thanks for pointing this out.  This is happening here too on a freshly installed system.

It sounds like we need to adjust how the default font values are chosen and displayed in Preferences, so that it's not blank/incorrect like in your screenshots.

[2016-08-26 15:41] justinclift commented on #746
Cool. :smile:

Yeah, the new DB<tab> approach is probably the way to go. :wink:

[2016-08-26 15:41] #746 closed

[2016-08-26 16:40] innermous commented on #749
@karim is `font` value empty in your .conf file, after you click OK? It's just `font=` right?

[2016-08-26 16:49] karim commented on #749
@innermous Yes.

![db4s_4](https://cloud.githubusercontent.com/assets/8761081/18013302/b7fc91ee-6bbd-11e6-9eec-ea17e11115dd.jpg)

There is no .conf file. Everything is saved in Windows Registry.

[2016-08-26 16:54] innermous commented on #749
@karim if I send a fix in next few minutes(via PR), are you able to test it?

[2016-08-26 16:59] karim commented on #749
@innermous Only if you are going to build it, cause I don't know how. :smile:

[2016-08-26 17:00] innermous commented on #749
@karim I am not a windows user...
@justinclift says he can reproduce it, so I hope he will test changes.

[2016-08-26 19:41] justinclift commented on #749
@innermous Yep, I can test it here. :smile:

I can also build a package for @karim to test with on Windows too.  One of my VM snapshots has everything set up for building, I just need to give it updated source code. 😀

[2016-08-26 20:01] karim commented on #749
@justinclift Let me know when you build it so I can test.

[2016-08-26 20:05] justinclift commented on #749
Building it now.  Gimme 15+ minutes, as the build server isn't super fast. :wink:

[2016-08-26 20:07] justinclift commented on #749
@karim As a side note, if you're ever interested in building it yourself, we added step-by-step instructions to set up a development environment here:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S

It's not tricky at all... just very time consuming the first time around. 😼

[2016-08-26 20:19] karim commented on #749
@justinclift Thanks. :+1: I saved the link and I will give it a try later.

[2016-08-26 20:39] justinclift commented on #749
@karim Try this one out: :smile:

* http://nightlies.sqlitebrowser.org/osx-onceoffs/DB%20Browser%20for%20SQLite-3.9.0-issue749v1-win64.exe

It's the 3.9.0 release +@innermous's potential fix.

[2016-08-26 20:44] justinclift commented on #749
@innermous Yep, that fixed the initial blank entry for the Font in the "Data Browser" tab, so the concept seems good. :smile:

The same adjustment needs to be done for the "SQL editor font" in the "SQL" tab too.

[2016-08-26 20:58] justinclift commented on #279
Aha, this looks like the thing we want:

* https://github.com/videolan/vlc/blob/master/extras/package/win32/NSIS/helpers/extensions.nsh

[2016-08-26 21:26] innermous commented on #749
Fixed [here](https://github.com/sqlitebrowser/sqlitebrowser/commit/b15c7f20a5c735f6e059d6e5a7a91df435a3526a).

[2016-08-26 21:31] justinclift commented on #749
We need to get the other field fixed too. :wink:

[2016-08-26 21:34] skifans commented on #495
One above has fixed the issue for me and works perfectly - nice one :smile:

[2016-08-26 21:34] #495 closed

[2016-08-26 21:36] justinclift commented on #495
Thanks for checking and letting us know @skifans. :smile:

[2016-08-26 21:52] karim commented on #749
Sorry for the delay, and.. yes, it works! :tada:

It is no longer blank and it is now set to "MS Shell Dlg 2".

Also, and like @justinclift said, we need to change the font for the "Execute SQL" tab too.

[2016-08-27 01:45] justinclift commented on #749
@karim We can probably get this properly fixed (eg with the Execute SQL one too) in the next day or so.

As a thought, if you use the binary editing mode in the "Edit Database Cell" panel much, try setting the "Data Browser" Font field to Courier.  Or any other fixed width font really.

The binary editing mode seems to look weird using a font that's not fixed width, at least on my system. :wink:

[2016-08-27 02:31] karim commented on #749
@justinclift I don't use the "Edit Database Cell", I edit fields directly which is very fast. I move around with the arrow keys and start typing on a highlighted field to edit. It is one of the things I like a lot about DB4S.

Thanks for making me a working build, and thanks to @innermous for making a quick fix.

[2016-08-27 08:03] AdamPS commented on #279
Excellent.  One other thought - if possible please can the installer allow a reconfigure option to change the setting of any config options without forcing a reinstall.  Often when I am evaluating software, I don't want to take over existing extensions.  But then when I decide to use it to replace my existing software, I want to go back and enable the extensions.

[2016-08-27 10:46] justinclift commented on #749
No worries at all.  I use keyboard navigation a lot too when editing text data. :smile:

[2016-08-27 10:55] justinclift commented on #279
@AdamPS That makes good sense.  While looking into "how to set up file associations with NSIS?", several other posts on the topic (for other applications) have mentioned that exact same thing. :smile:

It's probably going to be faster (for now) to add the file extension support into our "Preferences" dialog somewhere.  It would mean they're not set during installation (yet), but instead you can en

[2016-08-27 20:26] glawrence commented on #279
Nice info for Windows 10 with assoc and fstype @chrisjlocke any chance you could add this to https://github.com/sqlitebrowser/sqlitebrowser/wiki/Windows-File-Associations please?

[2016-08-27 22:33] justinclift commented on #749
@karim If you have a few minutes, would you be ok to try this build out?

* http://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-3.9.0-issue749v2-win64.exe

In theory, that should be fixed for both of the font fields. :smile:

[2016-08-27 22:44] karim commented on #749
@justinclift Yes, I see now that the font in "Execute SQL" tab has changed. It is much better now, like it used to be. This font doesn't change when you change `font` in "Preferences" window, right?

[2016-08-27 22:48] justinclift commented on #749
Hmmm, from memory, it should be controllable through the Preferences.  I **think** it's the "SQL editor font" line in the "SQL" tab, but don't quote me on that.

I'd have to look at the code to be sure, and I've closed down that VM.

If it's important to you though, I can look over it in the morning to refresh my memory?

[2016-08-27 22:55] karim commented on #749
Ahhhh, yes. :smile: I see it now. It is like you said in the "SQL" tab in "Preferences".

No no, it is not important at all. I was just wondering, that's all. Cause I changed the font like I normally do in "Data Browser" and it was changed, but then I switched to "Execute SQL" and it was the same, so I thought something was wrong. I didn't notice it has its own font settings in "SQL" tab, sorry.

[2016-08-27 23:18] justinclift commented on #749
You're welcome @karim.  Thanks for reporting this and testing the fixes.  It definitely helps. :smile:

[2016-08-27 23:18] #749 closed

[2016-08-28 10:41] justinclift commented on #558
@OmarWKH Sorry for the delay here.  Got caught up in other stuff. 😦

@MKleusberg Getting back around to this again.  Should a Qt5 build using master HEAD be ok?

[2016-08-28 14:14] justinclift opened #750 "Qt5 blocker: DB4S + Qt5 + OSX == not all data shown"
### Details for the issue

When built with Qt5 on OSX, DB4S isn't showing all of the table data.

The table info shows the correct total number of records, but the scroll bar isn't correctly scrolling to the bottom of them, and the page buttons don't work properly either.

It's a bit hard to describe using just words, so I'll do some screenrecording later today to show the problem in action.

This

[2016-08-28 14:15] justinclift commented on #688
Created a new issue about the Qt5 problem on OSX, so we can investigate it properly: #750

[2016-08-28 21:46] innermous commented on #688
@MKleusberg JSon is not working correctly, it generates 11MiB files for 3 record table and file is just corrupted.
Tried with 3 different tables, actually.

[2016-08-28 22:16] TheOriginalWinCat opened #752 "Custom Page Size max too low."
### Details for the issue

When loading a db with a custom page size, the dialog only allows a max value of 8092 (seams like a typo for 8192), yet a page size up to 65536 is valid.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x] Windows
- [ ] Li

[2016-08-28 22:21] justinclift commented on #752
Ouch.  Yep, that does sound like a bug.

@MKleusberg One for you?

[2016-08-29 09:19] MKleusberg commented on #752
This seems to be a bug in the SQLCipher encryption dialog. I've increased the max page size to 65536 (and the min page size from 1 to 512). Should be all good now :smiley: We don't have nightly builds for Windows with SQLCipher support yet, but if you want to test the changes, @TheOriginalWinCat, you can ask @justinclift to build you a once-off. He'll only need to know if you're running a 32bit or

[2016-08-29 09:24] MKleusberg commented on #558
@justinclift Yes, should be ok.

[2016-08-29 10:39] TheOriginalWinCat commented on #752
I'm running 64bit Windows, but I'm in no rush. :)

[2016-08-29 11:07] justinclift commented on #752
Awesome @MKleusberg, thank you. :smile:

[2016-08-29 15:20] justinclift commented on #742
@goozak Would you have a few minutes to try out this build?

* http://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-201608291559-win64.exe

With that build - for me - the correct entry is now appearing again in Add/Remove programs.

It'd be really helpful if you have time to verify it from your point of view. :smile:

[2016-08-29 15:25] justinclift commented on #752
@TheOriginalWinCat Would you have a few minutes to try out this build?

* http://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-201608291559-win64.exe

That has @MKleusberg's fix in it.  In testing here, it accept encryption key page sizes up to 65536 now, and the same works when unlocking a database too.

Verifying it from your point of view would be nifty. :smile:

@MKleu

[2016-08-29 15:27] justinclift commented on #558
@OmarWKH Would you have a few minutes to try out this build?

* http://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-201608291559-win64.exe

It's our latest development code, with @MKleusberg's fixes in it.  In theory, it should be better for you now, but it's always good to check. :wink:

[2016-08-29 15:37] justinclift commented on #279
@chrisjlocke (and others): What would the "optimal" directory layout be?

* Maybe having everything (except plugins/platform) in "C:\Program Files\DB Browser for SQLite"? eg:
 * "C:\Program Files\DB Browser for SQLite\DB Browser for SQLite.exe"
 * "C:\Program Files\DB Browser for SQLite\*.dll"
 * "C:\Program Files\DB Browser for SQLite\uninstall.exe"

Asking because I've just now managed to get th

[2016-08-29 15:55] goozak commented on #742
Yep!  The program now shows up in the Uninstall list as expected.

Minor glitch when _uninstalling_ the program : It doesn't check if program is currently in use.  The uninstall goes through without any errors, but leaves the program executable and DLLs in place.

[2016-08-29 15:59] justinclift commented on #742
Thanks @goozak that's one bit solved at least. :smile:

With the uninstaller not checking for files in use... ouch. 👿

Not sure if it's something we can control, but I'll take a look and find out. :smile:

[2016-08-29 16:02] OmarWKH commented on #558
It works! :smile:
Output for multiple FK constraints is as expected (I also tested a single constraint and it still works fine).
[code]

[2016-08-29 19:30] TheOriginalWinCat commented on #752
I tried the build provided but I'm still not able to open the DB.

I suspect it's a different issue tho as the db I'm trying to open it's created using the c# wrapper System.Data.SQLite.dll from what I can see there is no password and the db contents don't look encrypted when opened in a hex editor. But I do know they exec "PRAGMA page_size = 32768;" which Is how I came to report this.

I can veri

[2016-08-29 19:49] justinclift commented on #558
Awesome @OmarWKH, that's really good news. :smile:

I'll close this Issue now, as that build will remain online for people to use, and our next release will have this included also. :smile:

[2016-08-29 19:49] #558 closed

[2016-08-29 19:52] justinclift commented on #752
@TheOriginalWinCat Ahhh, yeah.  We don't support System.Data.SQLite databases at this stage.

We **probably** won't either, unless someone submits patches to add the support (which we'll happily accept).

Don't suppose you're a C++ developer? :smile:

[2016-08-29 20:13] TheOriginalWinCat commented on #752
Yes I'm a c++ developer, but I personally use the native sqlite code so the browser works just fine for my needs :smile:

I just decided to have a browse of a db created by a 3rd party tool that happens to use the c# wrapper, so unfortunately I don't feel like implementing support :disappointed:

[2016-08-29 20:34] justinclift commented on #752
Heh Heh Heh, no worries at all. :wink:

Btw, this is a related issue also about System.Data.SQLite from just a few days ago: #739

It mentions a GUI called [SQLite2009 Pro](http://sqlite2009pro.azurewebsites.net), which seems like it would work.  That page mentions it's been updated in 2014 as well, so it's not *completely* ancient. :smile:

[2016-08-29 22:48] bobatwhidbey opened #753 "Add *.sql to the OpenDialog filter"
### Details for the issue

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ x] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ x] Windows
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS
- [ ] Other: ___

#### I'm using DB4S version:

- [ x] 3.9.0
- [ ] 3.8.0
- [ ] Other: ___

#### I have also:

- [ ] T

[2016-08-29 23:50] justinclift commented on #753
Ahhh, that's interesting. :smile:

In theory, that's **supposed** to be happening already in a few places:

* File → "Import database from SQL" dialog. (code [here](https://github.com/sqlitebrowser/sqlitebrowser/blob/684958b29ce3d26684d9142d73df773b11189d54/src/MainWindow.cpp#L1132))
* "Open SQL File" button in the Execute SQL tab. (code [here](https://github.com/sqlitebrowser/sqlitebrowser/blob/6

[2016-08-30 00:21] bobatwhidbey commented on #753
Here's what I see. I'm hoping you can add *.sql to the four file
extensions you already have.

On 8/29/2016 4:50 PM, Justin Clift wrote:

[2016-08-30 00:31] justinclift commented on #753
Would you be ok to attach the screenshot using the web interface?

GitHub doesn't recognise images in attachments, so they just get dropped. 😦

[2016-08-30 00:43] bobatwhidbey commented on #753
Hope this comes through
![image](https://cloud.githubusercontent.com/assets/13080152/18072084/1efaaeae-6e10-11e6-886e-977d28bf0973.png)

[2016-08-30 00:53] justinclift commented on #279
Note - When implementing this in the Preferences window, it would make sense to have it work well with #659 too.

[2016-08-30 01:03] justinclift commented on #742
@goozak There doesn't seem to be any good way to have the uninstaller abort if the files are in use, or even mark them for removal with the next system restart. 😦

The NSIS (3.0) uninstaller itself has exactly the same problem.

It *might* be fixable by using a different Windows packaging mechanism (eg [WiX](http://wixtoolset.org) or [Inno Setup](http://jrsoftware.org/isinfo.php)), but we're unlik

[2016-08-30 01:03] #742 closed

[2016-08-30 03:12] bobatwhidbey commented on #753
They are sqlite3 files. I don't like such a long file extension and have
been using just .sql for a few years. Thousands of file from all the
users of my app have been created.

http://www.bridgecaptain.com/downloadDD.html

On 8/29/2016 5:52 PM, Justin Clift wrote:

[2016-08-30 06:10] rvalk opened #754 "DBBrowser 3.9.0 does not show up as default program, nor can be selected as default program"
### Details for the issue

After de-installing the former DBBowser, which did work well, I installed DBBrowser 3.9.0 and found that my database does not recognize DBBrowser anymore as it's default program to start with. I tried to associate *.db (extention I use for a long time) with DBBrowser, but 3.9.0 does not appear, even after browse and select, in the program list to open the files with.
Is

[2016-08-30 09:33] chrisjlocke commented on #279
For Windows, there is no 'benefit' of having a 'bin' directory - its soley a cosmetic thing.  Does the plugins directory sit in the root, or under the 'bin' directory? (I don't have a 'plugins' on my install...)
If in the 'bin' directory, then there is no benefit of a 'bin' directory.

[2016-08-30 09:39] chrisjlocke commented on #753
SQL is a language, and as such its 'common' for .sql files to contain SQL commands, thus the reason they're used in database import/export dialogs, etc.
A database isn't a collection of SQL commands, but instead, a collection of data.  It makes more 'sense' to use a .db extension to denote a database, rather than a collection of SQL commands.

As Justin says though, you can do whatever you want, b

[2016-08-30 09:48] goozak commented on #742
That's totally fine.  :-)

I found this, which seems to do both the checking and the aborting : http://nsis.sourceforge.net/Check_whether_your_application_is_running

Not sure if it's any help in your case though, I have no idea how NSIS works.

[2016-08-30 10:25] PSE-AG commented on #635
So, I make a git clone and the current commit is `684958b29ce3d26684d9142d73df773b11189d54`.

I first tried `qmake && make` and this time it compilied without any issue. The program runs without problems.

I also tried `cmake`. It still complaining about missing `ANTLR2` libraries, but this may be a path issue. `cmake` is able to generate a `Makefile` and running `make` works also as well, the bin

[2016-08-30 12:48] justinclift commented on #635
Cool, making progress. :smile:

With the `ANTLR2` warnings, there seem to be two distinct paths that can go down:

a) Warning message about it not being found, but DB4S compiles + works ok anyway
b) Warning message, then failure to compile

With a), it can be ignored.  It turns there there are two different approaches for finding ANTLR2 in our CMake configuration, one of them is a fallback to the

[2016-08-30 12:52] justinclift commented on #742
Ahhh, that's interesting.  Hadn't seen that. :smile:

I'll bear them in mind later, when I next need to dig into the installer again. (unfortunately, it's not standard NSIS, we use a combination of CMake/CPack to drive NSIS.  Turns out that's painful for adding things onto 😦 )

[2016-08-30 13:05] justinclift commented on #753
Yeah, this is a hard call.  If someone came along and suggested an extension that's not commonly used for a different purpose, there's a good chance we'd add it.  After all, it's would be unlikely to have a negative impact on anyone.

... but ".sql" isn't like that.  It's commonly used (including by us) for a specific purpose as **not** a database file. :wink:

This is **sort** of like if someone

[2016-08-30 13:24] justinclift commented on #279
Yeah.  I **suspect** the "bin" directory is just a historical accident. (I didn't write the initial CMake stuff)

With CMake, it's `INSTALL` command has a **required** parameter called `DESTINATION`.  That parameter gives a subdirectory name (under "C:\Program Files\DB Browser for SQLite") to install into.  eg: `bin`, `docs` or whatever (it's free form text)

* Leaving out that parameter doesn't w

[2016-08-30 13:29] bobatwhidbey commented on #753
I understand your reasons for not adding .sql to the list. Makes perfect
sense.

At the moment I just have one extra step - changing to the All Files (*)
view in the open dialog. I can live with that until #659 is up and
running.  I'll also consider use of the .db extension instead.

On 8/30/2016 6:05 AM, Justin Clift wrote:

[2016-08-30 13:30] justinclift commented on #754
Sorry @rvalk, that's my fault.  I changed the default installation directory to include the version number (eg `3.9.0`) in the path name.  It turns out that was a bad idea. 😦

You can fix the problem manually though.  If you're ok with using regedit, you can adjust things yourself using @chrisjlocke's instructions here:

* https://github.com/sqlitebrowser/sqlitebrowser/issues/279#issuecomment-2424

[2016-08-30 13:31] justinclift commented on #754
Note - We're also working out a proper "more permanent" fix for this in #279.  We'll probably add something in the Preferences dialog so people can set file associations there.

It hasn't been added yet, but research is happening. :smile:

[2016-08-30 13:34] justinclift commented on #753
Cool, no worries at all @bobatwhidbey. :smile:

[2016-08-30 13:34] #753 closed

[2016-08-30 14:15] PSE-AG commented on #635
Hi

the `v3.9.x` also compiles (qmake/cmake) without a problem. The focus problem is there as well. I'll test it later @home, different system (gentoo).

[2016-08-30 16:12] glawrence commented on #279
@justinclift I just realised that @chrisjlocke makes a good point. By default Windows searches for DLLs in the same directory as the .exe so putting *.exe and *.dll in the same directory is a good thing.

[2016-08-30 16:19] jungle-boogie opened #755 "windows build failure on nightly"
If not already known, the nightly windows build is broken:
http://sqlitebrowser.oldsch00l.com/build.log

[code]

see also: https://github.com/sqlitebrowser/sqlitebrowser/issues/758

[2016-08-30 16:41] justinclift commented on #755
Thank @jungle-boogie.  It's likely the result from changing CMake config in `master` branch yesterday.

Emailing @rp- now, to see if it's fixable. :smile:

[2016-08-30 16:42] justinclift commented on #279
Good point, it might work out totally fine.  I just haven't investigated the plugins stuff yet, so am not sure. :smile:

[2016-08-30 17:07] MarqueIV commented on #737
Ha! Found the cause of the issue!

Using your above references to the prefs, I nuked them, and as I had hoped, the colors appeared as normal even after closing, then reopening the app.

However, as soon as I went and changed from the default colors to match my liking (for reference, I set nulls to 'Moss' and binary to 'Lavender', both under 'Crayons'), while they displayed correctly for that sessi

[2016-08-30 17:16] MarqueIV commented on #750
Hi Justin! This was the same issue I described to you earlier.  As mentioned, while in QT4 you can see all the data, the paging controls are wonky there too (i.e. I don't know of *any* version where they work correctly.)

[2016-08-30 17:20] MarqueIV commented on #741
Not sure if this is related, but when modifying an existing table, adding a primary key to it, even after confirming that the data should support a primary key on the selected fields (i.e. no nulls and when running a group-by with a count on the fields, I never get anything but a '1') it just silently fails and doesn't add the key.  No warnings, no errors, nothing.  The dialog just gets dismissed

[2016-08-30 17:28] MarqueIV opened #756 "Multiple Windows or at least split-screen views"
### Details for the issue

Hoping to get a nice new feature/capability.  Routinely when I am working on writing complex SQL queries, I use the 'Execute SQL' tab to refine them as I like being able to type and hit ctrl-enter to see the results.  Even better, doing so with a specific selection only executes that code making it a joy to use.

However, many times I have to routinely go back to the 'Br

[2016-08-30 17:44] MKleusberg commented on #744
Should be more or less fixed by 684958b29ce3d26684d9142d73df773b11189d54 which I committed yesterday. The DB schema view will still reset as soon as the DB schema actually changes but at least it doesn't happen on each and every tab change anymore :wink:
@Swabek Currently our nightly builds are broken but I hope they'll be up and running this or the next night. As soon as that's done you'll be abl

[2016-08-30 19:53] appjeanne opened #757 "Whenever I click the Browse Data tab, the selected table reverts to the first table in the database."
### Details for the issue

First I click on Browse data and choose a table, then I select another tab like Execute SQL.  When I then click the Browse Data tab, the selected table reverts to the first table in the database.
This is very annoying.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has

[2016-08-30 20:01] chrisjlocke commented on #756
Just as a 'workaround', could you not run multiple copies of the application?  Not a fantastic solution (and probably not even a solution) but I've tried it a couple of times and it sorta worked...

[2016-08-30 20:18] glawrence commented on #756
Nice thinking, it does sound like something we should be doing

[2016-08-30 21:56] jungle-boogie opened #758 "dragonflybsd: build fails"
### Details for the issue

Ever since commit 8a9130883b9e89d57d33b6c3a0ee8ee59ce9957b, I cannot build sqlitebrowser:

[code]

commit https://github.com/sqlitebrowser/sqlitebrowser/commit/e7b12332f7935b75a0f972cbb6d04e3587800898 does not resolve the issue, either.

On dragonflybsd master:
DragonFly v4.7.0.270.gc211e-DEVELOPMENT #21: Mon Aug 29 13:07:08 PDT 2016

see also: https://github.com/sqliteb

[2016-08-31 02:01] justinclift commented on #750
Yep, this is the one.  Figured it best to put in a separate issue, so we can track this one down as it's own thing.

Which reminds me, this really needs some screenrecording things of the bug in action to properly convey the problem.

Don't suppose you'd have the time/interest to do some?  If not, no worries, I will get around to it. :smile:

[2016-08-31 02:08] justinclift commented on #741
@MarqueIV With the behaviour you're describing, how recent a build of DB4S is that?

Asking because @MKleusberg has been improving the constraints handling code over the last few days, including adding a warning message when our parser can't understand all of the constraints.

If you've the time/interest, trying the nightly build out (tomorrow) and seeing if that problem still happens would be use

[2016-08-31 02:26] MarqueIV commented on #741
Definitely have both the time and the interest.  Again, your product is an integral part of me being able to create mine so anything I can do to help I do so gladly! :)  Just post the link here on where I need to go to get the daily to test and I'll let you know, just like I did with the black-on-black browsing issue.

[2016-08-31 02:27] MarqueIV commented on #741
Oh... and it's your just-released build... again, the one you linked to in the other question about preferences and colors.

[2016-08-31 02:33] MarqueIV commented on #750
[OddPagingInDbBrowser.mov.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/446295/OddPagingInDbBrowser.mov.zip)
Movie attached.  You can see that while only eight rows are shown (sizing changes this amount), it's still paging by up to 100 places, meaning if you want to see anything between 9 and 90, you can't use the paging controls.  Paging size should match the shown number of rows, alw

[2016-08-31 02:37] MarqueIV commented on #756
@chrisjlocke, that's not really a feasible option as when you change the structure in one side, you can't tell the other to easily refresh.  That and two different instances would be two different transaction scopes too (i.e. where you have to commit or revert your changes with the buttons on the toolbar.)  In a perfect world, it would work like Visual Studio (or VS Code) where you can create tabs

[2016-08-31 06:34] chrisjlocke commented on #757
This is linked to #744 which has recently been fixed.  However, we usually have 'nightly builds' which have the latest fixes and tweaks in them, but unfortunately, due to one of the latest fixes and tweaks, the program isn't compiling properly, so the nightlies aren't available.  However, check back in a couple of days, and theoretically, this issue might have been fixed.  Give @justinclift a hug

[2016-08-31 07:11] chrisjlocke commented on #754
In Windows, you can also right click the file, select 'Open with...', tick the ticky box, and click 'More apps' (if on Windows 10) then find where you installed DB4S.

http://chrisjlocke.co.uk/associations/

[2016-08-31 10:07] justinclift opened #759 "Make "reload" behaviour optimal per-tab"
[This is @revolter's idea, from: https://github.com/sqlitebrowser/sqlitebrowser/commit/684958b29ce3d26684d9142d73df773b11189d54#commitcomment-18843683]

@sqlitebrowser/developers, What do you say if we would have a reload button in the `Database Structure` as we have in the `Browse Data` tab?

If adding a button is not wanted, a problem I forgot to report is that if you hit <kbd>ctrl</kbd> + <kbd>

[2016-08-31 10:10] justinclift commented on #750
Ahhh.  I'm suspecting this is a different issue, though probably related.  But, both should be looked into.

[2016-08-31 10:25] justinclift commented on #755
Haven't heard back from @rp-, so took a different approach instead as pointed out by @MKleusberg: https://github.com/sqlitebrowser/sqlitebrowser/commit/2957974974bb874b0219e52d63c198658c02f686

I **think** the nightly build will be ok again now.  At least until we switch to Qt5, by which time we'll need to have a Qt5 compatible version of it running. :smile:

[2016-08-31 10:28] justinclift commented on #758
As a thought, would you be ok to try the build with `qmake` instead of `cmake`?

That's a curiosity thing on my part, just to understand if `qmake` works ok on DragonFly BSD. :smile:

Regardless of that, I've just pushed a commit to the `master` branch which should fix the CMake issue.  In theory.  If you have the time/inclination to test that, it would be cool. :smile:

[2016-08-31 10:52] chrisjlocke commented on #759
Just a nod (vote?) that we should (could?) use F5 for refresh/reload, etc ... seems more of a natural 'refresh button', especially if you've ever used a web browser! :wink:  Easier to do one handed, too....
But this is linked to the 'remap keys to what you want' featurette thats 'in the next version', so ... hmm...

[2016-08-31 10:57] Swabek commented on #744
Just compiled it myself under Linux.
The described bug (DB Schema view resets on tab change) is fixed.
But there is now a new bug:
Now the reset happend when I clicked on "Cancel" in the "Modify Table" dialog.
This takes not only in the DB Schema view on the right place. Also in the main window.

I also think it is not the best practice to reset the hole schema. Why not just refresh the changed co

[2016-08-31 11:23] MarqueIV commented on #750
Yes, different than the QT5 issue of not seeing all the rows, which I did see as well. This issue exists in both QT4 and QT5 versions.

[2016-08-31 11:37] revolter commented on #759
On a mac, <kbd>cmd</kbd> + <kbd>r</kbd> reloads a page in the browser, and on Windows, IIRC, works with this and <kbd>F5</kbd> too. And I find it easier than going for the <kbd>F5</kbd> key, and I it would need the <kbd>fn</kbd> key to be pressed on some laptops with media features for the F keys.

Anyways, this was more about the idea rather than the shortcut, which, as you said, will be able to

[2016-08-31 12:09] appjeanne commented on #757
Thanks for your prompt reply!  I'll check back later!

On Wed, Aug 31, 2016 at 2:34 AM, Chris Locke <notifications@github.com>
wrote:

[2016-08-31 15:25] jungle-boogie commented on #758
Hi @justinclift,

Prior to doing the git pull, I attempted t use qmake:

`/usr/local/lib/qt5/bin/qmake`

[code]

[2016-08-31 15:28] jungle-boogie commented on #758
Hi @justinclift,

cmake build also fails after a `git pull`

`cmake .`

[code]

[2016-08-31 15:28] justinclift commented on #757
Sorru @appjeanne, I accidentally broke our automatic nightly builds while adjusting some settings.

In theory (!) it's fixed now, so the new nightly build tomorrow should be fine to use.  Though, we'll need to double check again anyway, just in case something else is still making it unhappy. 👼

[2016-08-31 15:33] justinclift commented on #758
Damn. 😦

Just to double check, did you reset & clean the git tree before attempting those? eg:

[code]

That's just me hoping the build failed due to left over files from the previous run. 😁

If that's definitely not the case, then what happens if you roll the git repo back a few commits, to just before the change I made? eg:

[code]

[2016-08-31 15:57] justinclift commented on #756
Reading through this, the concept sounds fine.  If we can do it in a way which keeps the UI simple for newcomers, it's probably a good thing to make happen.

The tabbed main window approach is probably a good thing for newcomers.  eg it's fairly simple to get the idea of.  We could add a checkbox in Preferences to switch from the tabbed view, to a "multi-panel" (best term I could think of) view in

[2016-08-31 16:00] jungle-boogie commented on #758
Hi @justinclift,

You saved the day! resetting head and cleaning it worked with qmake! I'll close this issue and see what happens on #755 tomorrow!

Thanks,
sean

[2016-08-31 16:00] #758 closed

[2016-08-31 16:00] justinclift commented on #741
Awesome. :smile:

The nightly builds for OSX are here:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx/

[2016-08-31 16:01] justinclift commented on #758
Excellent. :smile:

[2016-08-31 17:57] rvalk commented on #754
Hi Justin,
I could assign the db ti DBBrowser 3.9.0 now, all my db's do have the new icon now.
Thanks for your help.
Rob Valk
     Wednesday, 31 August 2016, 05:35PM +02:00 from Justin Clift  notifications@github.com :

[2016-08-31 20:33] justinclift commented on #754
Cool.  Hopefully we'll have a proper solution working for the next major version. :smile:

[2016-08-31 20:33] #754 closed

[2016-08-31 20:41] justinclift commented on #754
@chrisjlocke Just tried watching the video on your /associations/ page.  For me, it's not working through the Jplayer thing on the website.  [Downloading it directly](http://chrisjlocke.co.uk/wp-content/uploads/2016/08/31_0750.mp4) and watching with VLC works fine though. :smile:

[2016-08-31 21:34] chrisjlocke commented on #754
Hmm, that's interesting. Must be a poor player. Worked ok on my Chrome. :disappointed:

[2016-08-31 21:36] chrisjlocke commented on #759
Your suggestion is still a great idea. One key to rule them all! :wink:

[2016-09-01 04:02] justinclift commented on #755
The logs from the nightly build seems to say it succeeded.

Haven't personally tried the resulting package though. :wink:

[2016-09-01 05:29] chrisjlocke commented on #755
Just tested the nightly, and it works.  Compared the 'about' box with 3.9, and noticed 3.9 doesn't show a SQLite version?

3.9
![image](https://cloud.githubusercontent.com/assets/7872218/18156266/ee5e7754-700c-11e6-9726-b38b1977cab0.png)

3.9.99
![image](https://cloud.githubusercontent.com/assets/7872218/18156272/fe1d2e60-700c-11e6-8096-b78c6d12bc21.png)

Also, the icons for both are different - 3

[2016-09-01 11:37] chrisjlocke commented on #682
I've just created a Wiki page of Windows shortcuts.  I presume these are the same (albeit Control instead of Ctrl) for Mac and Ctrl (?) for Linux.
https://github.com/sqlitebrowser/sqlitebrowser/wiki/Windows-Keyboard-Shortcuts

I'll amend it so its 'Application Keyboard Shortcuts' and split by OS, rather than 3 separate pages for each OS.

Out of interest, Ctrl+D seems to be a dupe of Ctrl+P - show

[2016-09-01 16:10] innermous commented on #682
@revolter why would user type a shortcut? He would just press it and apply settings.

[2016-09-01 16:11] innermous commented on #682
You guys really don't understand how it works, nobody enters shortcuts in text field.

[2016-09-01 16:13] chrisjlocke opened #760 "Printable schema"
### Details for the issue

I know the 'Database Structure' shows the database schema, and I print this out a lot when working on various databases.  I work in Windows, so its easy to do a printscreen, slap it in Word or something, and print it out.  However, one of the systems I'm working on is 17 tables, with one of these having 17 fields.  Nothing 'major', but it means printing it from the 'Data

[2016-09-01 16:14] innermous commented on #682
You worry about irrelevant things. Relevant thing is to create observer which would control all possible shortcuts in all possible classes where they are currently hardcoded.
If someone creates a list of those in wiki, I'll implement it.

[2016-09-01 17:13] jungle-boogie commented on #755
The nightly I downloaded is identical to the second picture above.

[2016-09-01 18:26] justinclift commented on #682
Thanks @chrisjlocke. :smile:

With Ctrl+P, it's probably that way from when it was first implemented.  P == Plot or similar.

On the other hand though, Ctrl+P is commonly by programs to mean "Print". (eg send the document, view, whatever to a printer)

@innermous That's a bit confusing.  When you say "shortcuts that *can* be changed", are you meaning some shortcuts can't be?

[2016-09-01 18:36] innermous commented on #682
@justinclift why would you change "Open file" shortcut, for example?

[2016-09-01 18:37] justinclift commented on #298
@mvrhov This is probably not going to happen.

We're moving towards using Qt5 only, and at least for Windows it seems statically build with Qt5 is a pain, and may not even work properly. (eg lack of image plugins) 😦

[2016-09-01 18:39] justinclift commented on #515
Closing this now, as the SQLCipher support included with 3.9.0 seems to work ok. :smile:

[2016-09-01 18:39] #515 closed

[2016-09-01 18:45] justinclift commented on #682
Heh Heh Heh

Sure, I don't have a need to... but some people might. (possibly assistive devices maybe? but I really don' t know)

Anyway, isn't the whole point that we give people a choice, so if they want to change it they can? :smile:

[2016-09-01 18:47] justinclift commented on #760
Seems like a good feature to have.

@chrisjlocke So.. this might be a good starter project for your C++/Qt learning? :smile:

[2016-09-01 18:58] justinclift commented on #682
No worries @innermous. :smile:

[2016-09-01 19:12] justinclift commented on #755
@chrisjlocke Yeah, the version info shown for our SQLCipher builds is a bit wonky.  We query the SQLCipher library for it's version number... but instead of telling us the correct info, it just returns the version of SQLCipher it's based on.  That info is probably helpful for some people (maybe feature detection?), but doesn't really match up with how we're doing things.

We do have an open DB4S i

[2016-09-01 22:04] chrisjlocke commented on #760
Oh crap....  :wink:

[2016-09-01 22:14] chrisjlocke commented on #755
Aah, pull 585...
https://github.com/sqlitebrowser/sqlitebrowser/pull/585

[2016-09-01 22:23] chrisjlocke commented on #682
I think once you have a system to change the keys ... someone likes Ctrl+R as thats what they're used to, but someone else is used to F5... then you can 'open the system' so people can change it all - you may as well change any key rather than just this one, that one or the other...

At work, we use the 'ICE' method of prioritising - impact, cost and ease.  The impact here is higher usability, but

[2016-09-01 22:27] chrisjlocke commented on #298
Does this mean the nightlies won't be one .exe?

[2016-09-02 01:43] justinclift commented on #298
Yep. :wink:

[2016-09-02 01:44] justinclift commented on #755
Thanks.  That's why I missed it... only looked in the Issues. :wink:

[2016-09-02 06:20] abhilash1in opened #761 "SQLite browser lags"
I have a database of size 90 MB. SQLite browser doesn't seem to handle it too well. It has a huge lag while browsing or updating the db.

[2016-09-02 07:25] innermous commented on #761
Define "doesn't seem to handle it to well". What's exactly happening? UI freeze?

[2016-09-02 09:20] chrisjlocke commented on #298
Guess thats good in one way .... without all the Qt DLLs, the .exe is 2 MB rather than 32 MB...  The .exe should get updated but the DLLs won't change as often, so should just be a matter of downloading a smaller .exe and overwriting it.

[2016-09-02 10:47] revolter commented on #682
@innermous, Where did I say that?

[2016-09-02 10:54] innermous commented on #682
@revolter

[2016-09-02 10:58] innermous commented on #682
Anyway, I am already working on it. Help with testing would be really appreciated, as well as another wiki page for OS X shortcuts since those are beyond my conversance.

[2016-09-02 11:27] revolter commented on #682
I said that the users should __not__ type the shortcuts.

[2016-09-02 13:29] chrisjlocke commented on #682
@revolter's solution (combo box and textbox) is the best solution - easier to validate what the user wants.  The Windows' method (ie, VB) is painful!
![image](https://cloud.githubusercontent.com/assets/7872218/18205376/9a08612a-7119-11e6-8c67-06d4134ef9c3.png)

Just because 'Ctrl' isn't in the right case, it throws a wobbly.

[2016-09-02 13:40] chrisjlocke commented on #761
Is it a locally attached database, or on a network?
Although only 90 MB, how many tables and rows within those tables are there?
Is it just when you change tabs? You said 'updating the db' - can you give more detailed steps to reproduce?

I created a table with four fields and filled it with 549,000 rows.  The fields just had 'a' as a content.  The only real lag I see is changing a field type, eg,

[2016-09-02 14:16] abhilash1in commented on #761
It is a local database. I have just one table with 260 rows.

My table create statement is as follows:

[code]

All the fields are small (less than hundred characters) except `img` (of type `blob ` with approximately 33000 characters in every row) and `string1` (of type `text` with approximately a 1000 characters in every row)

By 'updating the db' I meant, adding new rows to the db.

When I open

[2016-09-02 14:27] justinclift commented on #761
@abhilash1in Just to check, which version are you using, and which OS is it running on?

We made *some performance* enhancements with the recent 3.9.0, but if you're using that one and it's still not great it sounds like more effort is probably needed.

As a second thought, if you're on Windows or OSX, would you be ok to try the latest nightly build?  That has some internal changes which should ma

[2016-09-02 14:35] abhilash1in commented on #761
I'm using 3.9.0 on Windows 10. I've faced the lag since version 3.8.0. It was infact why I updated to 3.9.0 recently.

I shall try the latest nightly build soon and let you know!

[2016-09-02 14:36] abhilash1in commented on #761
I **must** mention that 3.9.0 has been significantly faster than 3.8.0!

[2016-09-02 14:38] chrisjlocke commented on #761
Any chance of a copy of the database?  Only ask to test it on another machine.  Such a lag sounds 'odd' so wanted to check it here...
From the schema you've provided, I could knock up a 'possible duplicate', but just wanted to cut a corner or two! :wink:

[2016-09-02 14:45] pbtura opened #762 "FTS4 Support?"
I'm using the latest version of sqlitebroswer (3.9.0) on OSX 10.11. I need to run a query that uses FTS to do a full text search on one of my tables. However, when I actually run the query I get the error: "no such module: fts4". Does the version of sqlite that comes with sqlite browser  #not include fts3/4 support? If not, is there some way to add it, or to at least point the program to the sqlit

[2016-09-02 14:48] abhilash1in commented on #761
It's for a client and I can't share it publicly! Even I'm beginning to wonder now if my PC is starving for resources with Android Studio and Chrome browser open in the background! If you can email me, I might be able to share it personally! abhilash1in@gmail.com  :wink:

[2016-09-02 14:55] justinclift commented on #761
@chrisjlocke This one is yours for in-depth investigation (eg knock up the duplicate for testing, or email @abhilash1in, etc). :smile:

@abhilash1in As a thought, do you have the "Edit Database Cell" panel open?  If so, see if turning that off makes a difference.  If it doesn't something else to investigate is this:

1. Make a copy of the database
2. In the copy, empty out the image column.  eg `U

[2016-09-02 15:02] abhilash1in commented on #761
I emptied the `img` column in a copy of the database and browser is lightning fast!

I cant seem to figure out a suitable `WHERE` clause to empty only **some** of the records. Assistance please?

[2016-09-02 15:14] justinclift commented on #762
Ahhh, interesting thought.  The OSX version includes SQLCipher, compiled using OSX Homebrew.  I didn't add the "--with-fts" option for the SQLCipher command line though. 😦

If you have Homebrew installed, it's very simple to build a version with FTS support included (5-10 mins max):

[code]

The "DB Browser for SQLite" .app should now be in the src/ subdirectory.  You can drag it to /Applications

[2016-09-02 15:31] pbtura commented on #762
I'll give that a try. Thanks so much.

[2016-09-02 15:32] chrisjlocke commented on #761
Feel free to ZIP the database and email it to me at chris@chrisjlocke.co.uk

I can knock up a program which wipes out blocks of X records (eg, 10 or 20) and see what happens.

[2016-09-02 15:36] chrisjlocke commented on #761
I've just amended my database with about 30,000 characters in each of the four fields, and while there was no lag, DB4S did 'cough' and thus, showed no data.

![image](https://cloud.githubusercontent.com/assets/7872218/18209358/4e6fd092-712b-11e6-93a2-c047a693f313.png)

Will try with BLOBS, as that seems to be the performance 'issue'.

[2016-09-02 16:21] pbtura commented on #762
Hmmm... No luck. I opened the newly built app file, pasted in my query, and tried again and I got the exact same error message.

[2016-09-02 16:36] Plutonix opened #763 "NET / Windows DateTime type"
### Details for the issue

This is more a feature request/suggestion and is specific to .NET

If you define a column as 'DATETIME', the ("official") .NET DB provider objects can be configured to return actual .NET DateTime Types via SQLiteDataAdapter and SQLiteDataReader.

The "issue" is that DB Browser tends to ignore/discard "DateTime" and use INTEGER (or sometimes the last legal base type selec

[2016-09-02 16:58] justinclift commented on #762
Ahhh, just found something relevant.  Looking at the SQLCipher formula in Homebrew, the "--with-fts" option includes FTS5 not FTS4:

* https://github.com/Homebrew/homebrew-core/blob/47d7f56c299bf965cda82ae342763c683d183086/Formula/sqlcipher.rb#L30

Is it feasible to update your query for FTS5?

[2016-09-02 17:36] pbtura commented on #762
I'll try it and see.

[2016-09-02 19:01] pbtura commented on #762
I suspect that solution is not going to work now that I think about it. The virtual tables are being created by an iOS app and I'm pretty sure the version of sqlite that xcode uses does not support fts5 yet. Is there a way to build sqlcipher with fts4 instead of fts5?

[2016-09-02 19:53] justinclift commented on #762
Yep.  In theory, changing the line in sqlcipher.rb file to say `-DSQLITE_ENABLE_FTS4` instead of `-DSQLITE_ENABLE_FTS5` should work.

eg: `brew remove sqlcipher`, then change the file, then `brew install sqlcipher --with-fts`.

The sqlcipher.rb file is probably in this location:

* /usr/local/Library/Taps/homebrew/homebrew-core/Formula/sqlcipher.rb

Make a backup of it first, and replace it when d

[2016-09-02 19:58] justinclift commented on #762
Just tested that change here and it seems ok:

[code]

The `FTS4` bit on the end of the `./configure` line looks like it's in effect.

Didn't try the rest of the build steps though.  Will leave that to you. 😀

[2016-09-02 20:58] pbtura commented on #762
It does indeed work. Thanks again for all your help.

[2016-09-02 20:59] #762 closed

[2016-09-02 21:22] justinclift commented on #762
You're welcome @pbtura. :smile:

[2016-09-02 21:26] justinclift commented on #762
Oh, it's probably a good idea to run `macdeployqt` on the .app after you're built it too.  That will copy the OpenSSL, SQLCipher, and Qt shared library files out of the Homebrew directory, into your new "DB Browser for SQLite" app.

[code]

That way, if you uninstall OpenSSL, SQLCipher, or Qt from Homebrew, the .app won't suddenly stop working. :smile:

[2016-09-02 22:47] chrisjlocke commented on #761
Can confirm long strings in a field make DB4S cough.  Have attached a small database.  Shove 100,000 characters in a field, and DB4S struggles browsing data or viewing records via the 'Execute SQL' tab.

It didn't make much difference having a long continuous line of text or text with spaces in it (thought the grid would prefer the latter).  As the grid can only display X characters, would it be w

[2016-09-03 03:11] justinclift commented on #761
Interesting.  As a test, it's probably worth checking whether monospaced fonts (eg Courier) make a difference.

With the hex view in the Edit Cell panel, they're noticeably faster than non-monospaced fonts.

That's unlikely to be the complete solution though. :wink:

[2016-09-03 07:42] glawrence commented on #761
I wonder whether we should default to only pulling back part of a very large field and then go back for everything only when needed. Easier said than done I know! I used to work with a database that was pretty much like that.

[2016-09-03 09:05] chrisjlocke commented on #761
Changing the font to a fixed width font has no effect - either positively or negatively.
As there is no benefit of displaying 300,000 characters in a grid cell, maybe there should be a display limit, so that the 'edit cell' pane is used for full editing.
In the above screenshot, I linked to where DB4S displayed 'Inf' instead of the cell contents.  Its worth noting that even the 'Edit Cell' pane di

[2016-09-03 14:23] chrisjlocke commented on #761
Just a note too that the memory usage is phenomenal while using the above database.  The .exe was using about 1 GB, but on my 16 GB machine, I noticed I was using 91% of it.  Closed the database, and it all came back...

[2016-09-03 15:01] innermous commented on #761
I still didn't get answer to my question.

[2016-09-03 15:03] abhilash1in commented on #761
@innermous just the UI

[2016-09-03 15:04] innermous commented on #761
@abhilash1in can you send me a copy(or just a part) of database? That's needed to localize the trouble.

[2016-09-03 15:10] abhilash1in commented on #761
@innermous you can use @chrisjlocke's[ bloat1.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/453013/bloat1.zip) and [bloat2b.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/453013/bloat1b.zip) to reproduce it. I verified with those db's and it's the exact same problem as originally described.

[2016-09-03 15:13] innermous commented on #761
@abhilash1in alright, thanks.

[2016-09-03 15:18] innermous commented on #761
What's surprising me - paging is not helping much.

[2016-09-03 15:48] abhilash1in commented on #761
@chrisjlocke the memory usage is a bit strange! Was it with the bloat1, bloat1b or with the original one I shared? On my PC,

1. bloat1 contantly takes about 173 MB of memory. Only the CPU usage raises from 0% initially upto about 20% (sometimes lesser) when I scroll (up/down or left/right) in the browser or if I click on a menu item (say File) or if I switch from another application to the browse

[2016-09-03 15:50] innermous commented on #761
@abhilash1in 173 is memory taken by rows displayed on your screen.
Honestly, it's not essential. Both your original and @chrisjlocke 's modified tables are causing troubles that should be fixed...

[2016-09-03 16:15] innermous commented on #761
Well, I found a way to optimize it. I am working on pull request. Someone won't like it though, that's why I don't push it straight to master. So we'll have a discussion.

[2016-09-03 16:16] abhilash1in commented on #761
@innermous could I know the problem and your approach? Just curious :smiley:

[2016-09-03 18:11] innermous commented on #761
@abhilash1in just adding limit. Partly solves the problem, since table still needs lots of performance improvement (not mentioning filtering and sorting, those will just hang the app when using such a big data).
But this solves the trouble for you, at least. Test it with latest commit, please.

[2016-09-03 20:02] innermous commented on #761
@abhilash1in did it work for you?

[2016-09-04 08:39] chrisjlocke commented on #761
It was mine, but I was playing with various tabs in the 'Execute SQL' tab, so each tab was using another 300 MB of memory.  Task Manager showed the .exe was only using about 200 MB, so Windows was using it elsewhere...

[2016-09-04 09:01] chrisjlocke commented on #763
Is this a DB4S issue, and not a SQLite issue?

* TEXT
* NUMERIC
* INTEGER
* REAL
* BLOB

So if you stored your date as text or numeric, its up to your program to convert the data?  In my .Net apps, I normally use `dateVariableImUsing=cdate(sqlreader("dateFieldInDatabase").value.tostring)`

[2016-09-04 16:35] abhilash1in commented on #761
@innermous should I build from the application from source? I'm not sure how to do it

[2016-09-05 05:04] chrisjlocke commented on #761
Check the nightly from here:
http://sqlitebrowser.oldsch00l.com/

It appears to only display/retrieve the first 5,000 characters from the field.  So the good news is that it displays in the grid much quicker, but the downside is that you can no longer view/edit the full field contents.  Consider it a temporary tweak... :wink:

[2016-09-05 07:08] chrisjlocke commented on #752
SQLite Studio is open source (and cross platform).  Haven't tried it with SDS created databases.
http://sqlitestudio.pl/

[2016-09-05 11:24] justinclift commented on #761
Do you reckon it would be a useful if we take small screenshots of new things (like in your post just above), and add them to a page on the wiki named something like "New features in DB4S 3.10.0" ?  It'd be useful reference info, and we could probably use it as source materials (eg cut-n-paste :wink:) for the 3.10.0 release notes. :smile:

[2016-09-05 13:22] chrisjlocke commented on #761
The wiki certainly could do with padding out... :wink:

[2016-09-05 18:13] Mikanoshi opened #764 "FireDAC (Delphi) encryption"
### Details for the issue

Add support for Delphi FireDAC's SQLite encryption, if it's not too complicated :)
It uses aes-256 by default (and it alone will be enough), but supported ciphers are:
_aes-128, aes-192, aes-256, aes-ctr-128, aes-ctr-192, aes-ctr-256, aes-ecb-128, aes-ecb-192, aes-ecb-256_

Actually, encryption is based on SQLCipher as stated in [sources](https://gist.github.com/Mikanosh

[2016-09-05 18:32] justinclift commented on #764
If FireDAC provides a drop-in-replacement for the sqlite3.dll which we could use, this might be an option.  Any idea? :smile:

[2016-09-05 18:38] Mikanoshi commented on #764
I use static linking, because encryption is only available there)

[2016-09-05 18:47] justinclift commented on #764
Ahhh.  I was asking a different thing. :wink:

With SQLCipher, they provide a drop in replacement .dll for the SQLite one.  With that, it meant our code didn't need much changing to add a few specific SQLCipher calls to get the encryption working.

I'm wondering if FireDAC can do the same thing, as it's hard to see from that link what kind of suitable download they provide. 😦

[2016-09-05 18:51] Mikanoshi commented on #764
http://docwiki.embarcadero.com/RADStudio/Berlin/en/Connect_to_SQLite_database_(FireDAC)

[2016-09-05 19:09] justinclift commented on #764
Thanks, that's easier to grok. :smile:

We'll probably not add support for FireDAC (Delphi) encryption then.

If at some point they add support for encryption with shared library (non-static) builds, we're completely ok with re-opening this issue to look at it again. :smile:

[2016-09-05 19:09] #764 closed

[2016-09-05 19:11] justinclift commented on #229
Closing this due to lack of response.

[2016-09-05 19:11] #229 closed

[2016-09-05 19:12] justinclift commented on #239
Closing this due to lack of response. 😦

[2016-09-05 19:12] #239 closed

[2016-09-05 19:12] justinclift commented on #280
Closing this due to lack of response. 😦

[2016-09-05 19:12] #280 closed

[2016-09-05 19:13] justinclift commented on #388
Closing this due to lack of response. 😦

[2016-09-05 19:13] #388 closed

[2016-09-05 19:14] justinclift commented on #635
@PSE-AG How'd this go? :wink:

[2016-09-05 19:15] justinclift commented on #552
Last reminder ping... :wink:

[2016-09-05 19:16] justinclift commented on #761
@abhilash1in Did you have a chance to try out the latest Windows nightly build?  (if it helps, the download locations are listed on our front page)

[2016-09-05 19:31] Mikanoshi commented on #764
Look at that source file I uploaded, there are sqlite3_* functions with cdecl calling convention that are defined in obj file, inside the file there are mentions of sqlite3.c and CodeGear C++ 7.20 compiler.
Maybe it's possible to just convert it to dll?)

[2016-09-05 21:43] shaoran commented on #635
@justinclift: it's me, same person, different account (my personal).

I've made an update in gentoo (dev-db/sqlitebrowser-3.8.0) and it works normal, I can change the to my virtual desktops when `sqlitebrowser` is running.

I've compiled the `v3.9.x` version using `qmake` and `cmake` and I had the same issue: If I change to another virtual desktop, `sqlitebrowser` regains immediately the focus and

[2016-09-05 23:40] Plutonix commented on #763
The NET Provider is fully capable of creating/returning NET DateTime variables/DataTable columns.  **In spite of** DATETIME not being listed, it can be used in the table definition and the official NET provider will use it to do so.

It is a DB Browser issue because it wont allow/use DATETIME when creating a table.

[2016-09-06 00:33] justinclift commented on #763
Interesting.  Trying to visualise how it's not working, but I'm kind of failing. 😦

Is it feasible to show a screenshot or record a screencast or something of the bit that's not working?

[2016-09-06 00:40] justinclift commented on #763
Looking at the table in section 3.2 [here](https://www.sqlite.org/datatype3.html), it seems like "DATETIME" is automatically treated by SQLite as the "NUMERIC" type.

If you define a field as "NUMERIC", instead of using SQL to create it as "DATETIME", does that allow the .NET DB provider objects to work with it properly?

[2016-09-06 02:02] shaoran commented on #635
No,

- When compiled for the `v3.9.x` branch, the focus problem **is** happening
- When compiled for the `master` branch, the focus problem **is** happening
- When compiled for the `v3.8.0` branch, the focus problem **is not** happening

[2016-09-06 02:03] justinclift commented on #635
Thanks, now it's clear.  It's something we've done between the 3.8.0 and 3.9.0 release, and it's still happening.

Damn. 😦

[2016-09-06 02:06] justinclift commented on #635
We can probably take a brute force approach to working out why.  (eg manual bisect)

It's a bit time consuming, although very effective.  I won't have time for it personally for at least the next fortnight though. 😦

[2016-09-06 04:25] Mikanoshi commented on #764
This is an obj file in COFF64 format, maybe it can be linked directly with 64-bit version of DB4S:
[sqlite3_x64.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/455907/sqlite3_x64.zip)
or make a DLL out of it, somehow :)

[2016-09-06 10:43] justinclift commented on #764
Yeah, it might be feasible to do, with some digging.

Would you have the time/inclination to look into it? :smile:

[2016-09-06 12:26] MKleusberg commented on #761
@chrisjlocke I was confused by this, too :smiley: For me at least the problem was that the minimum value for this field is 1000. If you set a value below that (I was trying 5 for testing purposes) Qt recognises it as an invalid value and changes it back to 5000. Other than that I couldn't see any problem with the settings dialog.

[2016-09-06 12:35] MKleusberg commented on #761
[code]
This should be fixed by 4b79f92eaac280c621244cb36c6954f0976c5142. So the next nightly build might be worth checking out :smiley:

[2016-09-06 12:45] justinclift commented on #761
That's awesome @MKleusberg.  I was wondering how to distinguish between the two different uses for the same data() call.

As you've just shown... that's what roles are for. :smile:

[2016-09-06 13:46] MKleusberg commented on #741
@MarqueIV Yes, this might be related. But either way it definitely sounds like a bug :smiley: Unfortunately I can't reproduce this using one of my test database. So I'm afraid you have to send me that 20MB file; maybe you can zip it though or upload it somewhere.

[2016-09-06 14:18] MKleusberg commented on #603
I think I'll do a quick test and push a commit which introduces some C++11 code just to see if and where it's failing :smiley:

[2016-09-06 18:39] Jeff-G commented on #601
Related to #553, and part of the fixes requested in #628.

[2016-09-06 19:06] innermous commented on #761
@MKleusberg because I set minimum to 1k :)
@chrisjlocke do you really think 5k symbols can be displayed handy? Editor is just for that, grid is preview stuff...

[2016-09-06 19:24] Plutonix commented on #763
![sqlitedates](https://cloud.githubusercontent.com/assets/12514284/18286901/70ac8a1c-743a-11e6-82ea-7f7e20d4d538.gif)

It relates to when defining a table.  The first part shows how even when I type in `DATETIME` it uses whatever - something from the dropdown list.  The second part shows how it acts with a table which was created in a SQL window.

I _believe_ "DATETIME" acts like meta-data for the

[2016-09-06 19:36] justinclift commented on #601
@Jeff-G As a thought, would you be ok to try **today's** nightly build?  @MKleusberg was fixing some of the constraint stuff last week, and it should be in better shape now.

Note the "**today's** build" wording though.  We added some experimental code this afternoon, which could break tonight's automatic nightly build (we're testing some things out).  There may not be a good nightly build from to

[2016-09-06 19:37] chrisjlocke commented on #761
No, I don't think 5000 characters is handy ... The grid can only show at tops 20, and as its truncated, shouldn't be edited, so I was entering low values, and it was being reset to 5000. . I didn't realise the 'edit cell' pane was showing the full text either... It only displayed '5000 characters' in its status. I didn't test it any further or deeper as I thought it was work in progress...

I assu

[2016-09-06 19:43] innermous commented on #761
@chrisjlocke feel free to change it?

And yeah, 1k is lower limit. As I said, feel free to change it, even via github. Say, to 1.

[2016-09-06 19:45] justinclift commented on #763
Thanks @Plutonix, that definitely helps show the problem. :smile:

From my perspective, I'd call this a bug in our handling of the field definition values.  We're not detecting when a person has typed their own value (eg `DATETIME`) into the Type field.  Instead, we just blindingly use the string value before it was overwritten.  eg `INTEGER`, `TEXT`, `BLOB`, etc.

If we change the code so it uses

[2016-09-06 19:46] justinclift commented on #761
Yeah, 1 makes sense to me as a lower boundary.  If people want to choose that, we might as well let them, it's shouldn't hurt anything. :smile:

[2016-09-06 21:17] Plutonix commented on #763
I think using something from the list is generally a good idea, since the list is complete except for this one (?) case.   There might be other types allowed - who knows,  I cant find this latent ability documented anywhere.

Since other platforms might choke on it, is the reason I suggested an option.  When *Enable NET DateTime* is on, add DateTime and Date to the list (I am not sure it actually

[2016-09-06 21:19] justinclift commented on #763
Cool, this is probably doable. :smile:

[2016-09-06 21:19] justinclift commented on #763
Cool, this is probably doable. :smile:

[2016-09-06 21:19] justinclift commented on #763
Cool, this is probably doable. :smile:

[2016-09-06 23:43] Novo55 commented on #601
No worries will give it a run later today.

thanks

Steve W
steve_w@exemail.com.au

On 7 Sep 2016, at 5:36 am, Justin Clift <notifications@github.com> wrote:

[2016-09-07 03:41] Mikanoshi commented on #764
You mean in C++?) No, I can only provide libs, and maybe create a DLL, but it wouldn't be any different, if the above obj can be linked already.

[2016-09-07 07:46] chrisjlocke commented on #763
Just a query, but when you type 'datetime' in the text field, are you pressing Enter?  If I do that, 'DateTime' is set for the field...

[2016-09-07 11:42] Novo55 commented on #601
Hi Justin,

I just tried the database again and got the same error.

keep on trying :-),  I’ll give it a try in a few days.

regards

Steve W
steve_w@exemail.com.au

On 7 Sep 2016, at 5:36 am, Justin Clift <notifications@github.com> wrote:

[2016-09-07 11:58] justinclift commented on #601
Thanks Steve. :smile:

[2016-09-07 21:08] pchtsp opened #765 "mouse unable to be seen in debian"
### Details for the issue

When I open the application my mouse is frozen outside (in the margin) of the program. The mouse works correctly with every other application.
The mouse actually is working because buttons become selected and I can click on things but I do not see where it is aiming.

It's like the window doesn't get along with the pointer.

The rest appears to work correctly.

### Usefu

[2016-09-07 21:36] justinclift commented on #765
Interesting.  Version 3.8.0 is a bit old now, and we've made a **lot** of changes for the recent 3.9.0 release.

Are you comfortable with compiling things yourself?  If so, the instructions for Ubuntu **might** "just work":

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#ubuntu-linux

As an alternative idea, @deepsidhu1313 may have suggestions.  He creates our

[2016-09-08 10:03] revolter opened #766 "Two or more commented lines causes a query to fail"
### Details for the issue

Having a query like:

[code]

causes it to fail with the error:

[code]

Removing either one makes the query succeed. Even running:

[code]

completes successfully.

### Useful extra information

This was added in `3.9.0`, as it was working well in `3.8.0`.

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ]

[2016-09-08 11:10] justinclift commented on #766
Do you reckon the regex for stripping comments might be the cause?

[2016-09-08 12:09] revolter commented on #766
Can you point me to it?

[2016-09-08 12:15] revolter commented on #766
If the comments are removed by us, then the `Show SQL submitted by Application` shows the wrong content, as the comments are present there.

[2016-09-08 13:27] justinclift commented on #766
Well spotted. :smile:

This is the regex springing to mind: https://github.com/sqlitebrowser/sqlitebrowser/commit/f37c162c183595179c50f7aada14fe6acdb85f79

[2016-09-08 14:38] revolter commented on #766
Oh, yes, sorry :( I'll fix it in a couple of hours.

[2016-09-08 14:39] revolter commented on #766
We didn't change to Qt5 only, right? :( Because Qt5 allows me to solve it very easy.

[2016-09-08 17:30] justinclift commented on #766
Correct.  We're still supporting Qt4 for now. 😦

[2016-09-08 18:49] chrisjlocke opened #768 "SQL log incorrectly shows statements not executed"
### Details for the issue

If you enter various SQL statements in the 'Execute SQL' tab but only execute specific lines, while these are correctly executed, the log shows the executed statement, plus those that followed.  The statements that followed are however, not actually executed.  The log window is therefore being naughty and lying.

A screencast of what I'm mumbling about.
http://screencast

[2016-09-08 19:18] justinclift commented on #768
Good catch. :smile:

[2016-09-08 19:22] chrisjlocke commented on #768
hehe- that just reminded me of this GIF...
http://i.imgur.com/ph4TKDK.gif

"Did you just catch that?"

[2016-09-08 19:35] #766 closed

[2016-09-08 19:41] justinclift commented on #768
😏

[2016-09-08 19:53] chrisjlocke opened #769 "[Enhancement] Focus the newly created field after clicking 'Add field'"
### Details for the issue

Bit of a pet peeve, but don't know what the 'ease of implementation' is.
When you click 'Add field' in the 'Edit Table Definition' dialog, a new field is created, but depending on the number of fields already in the table, this field is below the horizontal scrollbar, so you have to scroll down first to find it, then click it twice to edit it (there is a 0.0003% chance '

[2016-09-08 20:01] justinclift commented on #769
Changing the view to show the new field could probably be done with a handler which catches the "Add Field" button click.  The edit mode bit needs a bit of thinking about though.  Not sure if it's always desirable behaviour or not?  (thinking maybe it's fine, but not yet sure)

[2016-09-08 20:01] justinclift commented on #765
@pchtsp ping?

[2016-09-08 20:06] deepsidhu1313 commented on #765
Hi @justinclift & @pchtsp. Do you guys need my help ?? Sorry it took me sometime to respond. I can look into the bug if still exist in 3.9 on debian. may be i will be able to figure it out if it is related to packaging or anything else. Thanks.

[2016-09-08 20:19] justinclift commented on #765
@deepsidhu1313 Any idea about building 3.9.0 for Maru? (eg Debian on ARM) :smile:

[2016-09-08 20:23] deepsidhu1313 commented on #765
I already deployed packages for that (arm) on my ppa. But dont worry i will
create another ppa for just for testing this bug.

On Sep 8, 2016 3:19 PM, "Justin Clift" <notifications@github.com> wrote:

[2016-09-08 20:27] justinclift commented on #765
Thanks @deepsidhu1313. :smile:

[2016-09-08 21:23] revolter commented on #768
[This][1] is another problem related to this one.

  [1]: https://github.com/sqlitebrowser/sqlitebrowser/issues/766#issuecomment-245578686

[2016-09-08 21:27] revolter commented on #768
Wait, it looks like only in the `Show SQL submitted by User` the comments appear, but I'm pretty sure that at work, those appeared in `... Application` too.

[2016-09-08 21:32] pchtsp commented on #765
Hey! Thanks both for the quick answer and the help. I do feel comfortable
building from source. As soon as I plug my phone to an HDMI screen, I will
test building it.

I'll keep you informed. And thanks again!

F.

On Sep 8, 2016 22:28, "Justin Clift" <notifications@github.com> wrote:

[2016-09-08 21:40] chrisjlocke commented on #769
If you click 'Add field' and it switches focus, if you didn't want it to, (as your mouse pointer would still be on it) you'd just push the 'Add field' button again, if thats what you wanted to do.  I can agree it wouldn't always be desirable, but equally, it has no drawback or causes problems.  maybe.  Heck, I don't know... maybe it should make me a coffee too while its at it! :wink:

[2016-09-08 21:47] revolter commented on #768
@chrisjlocke, Can you test this with 55d8905 applied?

[2016-09-08 21:50] revolter commented on #769
Even though I don't know what @chrisjlocke's 0.0003% statistic is based on (joke), I completely agree with this.

[2016-09-08 22:04] revolter commented on #769
@chrisjlocke Done! Can you test and see if it works ok (and that I understood it ok)?

[2016-09-08 22:08] revolter commented on #744
As the initial issue was solved, can we close this? And maybe @Swabek opens a separate issue for the last problem (if one wasn't already created).

[2016-09-08 22:10] revolter commented on #757
@appjeanne, Can you test the [latest nightly build][1] and confirm that this is fixed?

  [1]: http://sqlitebrowser.oldsch00l.com

[2016-09-08 22:12] chrisjlocke commented on #769
Excellent - thanks!   Will check it and let you know.  If you get a knock at your door and some bald guy gives you a big sloppy kiss......no, that won't be me..... ;)

[2016-09-08 22:18] revolter commented on #769
😆 I personally felt the need of this too, but didn't take time to solve it :D

[2016-09-09 00:30] dflogeras opened #770 "UI inconsistent with database when using deferred foreign keys"
### Details for the issue

I am attempting to design a DB using foreign keys.  It has already been discussed that there are deficiencies if a column has a FK as well as a non-null, since you cannot add a row.  I thought I might be able to work around it, and discovered (I think) another bug.  I attempted to make my FK "DEFERRABLE INITIALLY DEFERRED" (https://www.sqlite.org/foreignkeys.html#fk_defe

[2016-09-09 00:36] dflogeras commented on #770
Arrg I don't know where the text I just typed went.  OK again,

I tried to work around the fact that sqlitebrowser doesn't work when you have a foreign key with NOT NULL.
Using sqlite3, create the following schema (note the DEFERRABLE INITIALLY DEFERRED, see https://www.sqlite.org/foreignkeys.html#fk_deferred):

CREATE TABLE one ( pk INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT );
INSERT INTO "one

[2016-09-09 01:27] justinclift commented on #770
Oops.  When you wrote it out, you put it inside the `` tags.  Browsers don't show stuff between those tags, so it effectively disappeared.  I've just removed those two tags from around what you typed, so it shows up now. :smile:

Btw, would you be ok trying the NOT NULL foreign key support with our very latest code from the `master` branch?  @MKleusberg was improving our foreign key support last w

[2016-09-09 04:35] dflogeras commented on #770
Thanks Justin (re the missing text), I thought that might have been the case :) oops.

I just tried master, and it is slightly workable. It seems now new rows are inserted with 1 in the FK column, instead of 0.  That works, as long as I have a 1 in the column the FK refers to, which may or may not be the case :)

If the idea suggested in other tickets to have a manual BEGIN/COMMIT process was work

[2016-09-09 05:43] chrisjlocke commented on #769
This is fantastically perfect.  Not just perfect, but better than perfect!  Seriously - this is such a great improvement in terms of usability.  What with this one and the 'now-defaulting-to-the-field-type-you-want', I've finished coding my databases before I've even started!

Thanks @revolter for resolving this so quickly.  Appreciated.  :smile_cat:

[2016-09-09 05:43] #769 closed

[2016-09-09 05:47] chrisjlocke commented on #768
I can confirm this is resolved in the latest nightly.  Whatever we're paying you, should be doubled. :wink:

[2016-09-09 05:47] #768 closed

[2016-09-09 07:10] chrisjlocke opened #771 "Large spacing in 'cannot create indexes' dialog"
### Details for the issue

Added a field to my database, and DB4S struggled to put back some indexes.  Bit weird, as there was no reason why it shouldn't have been able to do it - I was adding a field, not deleting any.  Aah well, no biggie.  However, the dialog was a bit 'caca' with a huge gap.

![image](https://cloud.githubusercontent.com/assets/7872218/18378407/bc2ed4dc-7664-11e6-84f8-89304792c

[2016-09-09 07:58] pchtsp commented on #765
@justinclift @deepsidhu1313 .

Just tried compiling with ubuntu instructions. Worked. I have only checked that I can indeed see the mouse over the GUI and load a database I had.

The previous version was 3.8.5 so I guess it could be a good idea to update the repository.

thanks again!
F.

[2016-09-09 08:00] chrisjlocke commented on #771
I assume there is no log as to why recreating these indexes failed?  Running the statements in the above dialog worked flawlessly.  Nothing appeared in the SQL log...

[2016-09-09 08:00] #765 closed

[2016-09-09 08:50] justinclift commented on #765
Awesome @pchtsp, that's good news. :smile:

Out of curiosity, which repository had 3.8.5 in it, so we can investigate?

[2016-09-09 08:52] justinclift commented on #770
Excellent, thanks for testing it and letting us know @dflogeras. :smile:

@MKleusberg Sounds like this will be of interest to you. :smile:

[2016-09-09 15:51] justinclift commented on #771
Interesting.  This kind of thing suggests that writing to a log somewhere is probably a good idea.

If you can reproduce the problem, try starting DB4S from the command line (eg from DOS window, Powershell, etc).  Sometimes debug messages turn up there, so it's probably a useful thing to check, just in case. :smile:

[2016-09-09 21:53] Swabek commented on #744
@revolter Ok.
Verified fixed in [684958b](https://github.com/sqlitebrowser/sqlitebrowser/commit/684958b29ce3d26684d9142d73df773b11189d54).

[2016-09-09 21:53] #744 closed

[2016-09-09 22:07] chrisjlocke commented on #741
In the latest nightly (9 Sep) the parser seems broken for multiple lines...

![image](https://cloud.githubusercontent.com/assets/7872218/18404358/174da74e-76e2-11e6-86f9-350352d50168.png)

This only seems a recent 'breakage'...

[2016-09-10 01:15] justinclift commented on #741
It might be from this commit by @revolter yesterday: https://github.com/sqlitebrowser/sqlitebrowser/commit/55d8905b904ac57cf759db3b235b1ce27ab8c8a5

[2016-09-10 06:37] chrisjlocke commented on #741
Oops, now I feel guilty...:wink:

[2016-09-10 16:50] appjeanne commented on #757
Yes it is fixed!! Thank you!

On Thu, Sep 8, 2016 at 6:11 PM, Iulian Onofrei <notifications@github.com>
wrote:

[2016-09-10 21:21] justinclift commented on #757
Awesome.  Thanks for letting us know @appjeanne. :smile:

[2016-09-10 21:21] #757 closed

[2016-09-11 03:08] mafagafogigante opened #773 "Cannot delete some indexes it was able to create"
### Details for the issue

As of https://github.com/sqlitebrowser/sqlitebrowser/commit/7deeb02889e170752bba2aa9ed367fcdb9912cdf, DB4S fails to delete some indexes it creates.

### Useful extra information

If one was to create an index starting or ending with trimmable characters (such as an ASCII whitespace ` `), one would create an index which the browser cannot delete by itself.

This is the ty

[2016-09-11 09:59] justinclift commented on #773
Good catch. :smile:

[2016-09-11 15:14] gimKondo commented on #239
@justinclift Sorry, I missed your request.

Now, I confirm that this has been fixed.
Thanks for your nice release.

[2016-09-11 16:07] justinclift commented on #239
You're welcome @gimKondo. :smile:

[2016-09-13 02:52] elyorm opened #774 "db browser for sqlite.exe has stopped working"
A problem caused the program to stop working correctly. Windows will close bla bla bla ...

[2016-09-13 06:45] revolter commented on #774
It would have helped if you completed the issue template and not remove it. So, what version? What operating system?

[2016-09-13 12:04] justinclift commented on #774
@elyorm Thanks for reporting it, we will need more info though so we can investigate. :smile:

As well as what @revolter mentions (it's important), info about when/where it crashed would help.  For example, did it crash as soon as you opened it, or did it crash in the middle of doing something, (or something else)?

Are you ok to help us out with that info, so we can try figuring it out? :smile:

[2016-09-14 13:05] justinclift commented on #774
@elyorm ping?

[2016-09-14 13:06] justinclift commented on #552
Closing this due to lack of response. 😦

[2016-09-14 13:06] #552 closed

[2016-09-14 13:07] justinclift commented on #332
@ronCYA ping? :smile:

[2016-09-14 22:43] justinclift opened #775 "Create Windows nightly builds for Qt5"
We need to update our nightly builds on Windows to use Qt5 + SQLCipher.

This can be done from the Windows command line using `msbuild` + MSVC 2013.

It's probably a decent idea to learn Powershell for this too, instead of using cmd.exe.

[2016-09-15 06:04] elyorm commented on #774
Version 3.9.0, Qt Version 5.7.0, SQLCipher Version 3.11.0

windows 10

when I click "Open Database"

[2016-09-15 08:19] revolter commented on #774
@elyorm Is it happening every time you click `Open Database`?
@justinclift Do you have time to test this on your VM?

[2016-09-15 08:48] chrisjlocke commented on #774
64bit?

Works fine for me.  I can only assume (as is usual) Windows will try and open the last used location.  If this is on media that no longer exists, DB4S might be getting confused?  Is there a registry entry telling DB4S where to open, or does it rely on Windows?

[2016-09-15 08:53] revolter commented on #774
Nonetheless, it should not crash. Are you able to force the last path to a non-existing path and reproduce this?

[2016-09-15 10:48] chrisjlocke commented on #774
I've set it to weird paths, wrong paths and even 'cannot access' paths.  It'll default to the program directory if it can't.  A 'cannot access' path correctly comes up with a warning.
![image](https://cloud.githubusercontent.com/assets/7872218/18547230/387e7bb2-7b3a-11e6-8702-9dca32ecfd3a.png)

I can't reproduce this, so this may not be the cause. :cry:

[2016-09-15 12:08] revolter commented on #774
Great job! Shame that the news is bad :(

@elyorm We need more info in order to reproduce this.

1. Did you use DB4S before this crash?
2. Do you have admin privileges on your current account?

[2016-09-15 13:39] chrisjlocke commented on #774
Deleting the DB4S registry leg could also be an option.  I can knock up a VB program to do that, as I was just creating a program to reset the file associations.

[2016-09-15 14:54] justinclift commented on #774
We might want to add some debugging info / error handling to the "Open Database" method, even in just a once-off temporary build, to try and understand why it's crashing.

[2016-09-15 15:04] drescherjm commented on #774
I have seen the released 64 bit version crash at the "Open Database" on several machines at work. I had to revert these to the 32 bit version. It does not happen on all machines. Other 64 bit Qt applications on the same PCs work fine. The crash does happen on accounts without admin privileges.

[2016-09-15 15:19] chrisjlocke commented on #774
I've a Windows 10 64bitty PC at work, so will try with a non-admin user.

[2016-09-15 16:04] justinclift commented on #774
@drescherjm Thanks for mentioning it.  It was sounding like a one-off thing until then. :smile:

[2016-09-15 17:52] justinclift opened #776 "DB4S compile failure on OSX 10.11.6 with XCode 8"
Updated my system last night with "XCode 8", without thinking it though. 😦

Now, DB4S compile fails when used with Qt5:

[code]

It's compiling and running perfectly fine against Qt4 though.

Anyone have suggestion on what it could be caused by?

[2016-09-15 18:39] justinclift commented on #774
@elyorm @drescherjm Would you be ok to screenshot the error information?

For me, when a crash happens on Windows, a dialog comes up that sometimes has useful information about the crash.  If that happens for you (eg giving a .dll name), that would help us fix this. :smile:

[2016-09-15 19:26] justinclift commented on #776
Removed Xcode 8, and re-installed Xcode 7.3.1.  DB4S compiles without issue.

Looks like an Xcode 8 specific problem.

[2016-09-16 07:02] revolter commented on #776
[This answer][1] says that it will be fixed in Qt 5.6.1, but it offers no source.

  [1]: http://stackoverflow.com/a/39499500/865175

[2016-09-16 08:23] chrisjlocke commented on #774
Unfortunately, the 'stopped working' dialog doesn't give any information, apart from 'its dead, Jim'.

![image](https://cloud.githubusercontent.com/assets/7872218/18579693/2f29f64e-7bef-11e6-8818-688ccaf42f0a.png)

[2016-09-16 10:30] justinclift commented on #774
@chrisjlocke Thanks.  Maybe the info is directed elsewhere then.  Does crash information from DB4S show up in Event Viewer?

[2016-09-16 12:58] justinclift commented on #776
Nah, that answer is for a different Xcode 8 problem.  It's for an incompatibility with Qt 5.6.0/5.7.0 and Xcode 8.

When starting Qt Creator 5.7.0 with Xcode 8 installed.  This error is displayed:

[code]

The link you gave has a working fix.

The compile problem I'm reporting here isn't fixed by that. 😦

[2016-09-16 14:06] wodim opened #777 ""Execute SQL" output does not escape HTML entities"
![2016-09-16_16-05-14](https://cloud.githubusercontent.com/assets/1001553/18588595/6abafd24-7c27-11e6-8243-b27b781578e0.png)

[2016-09-16 14:17] justinclift commented on #777
Ahhh, well spotted.  Yeah, that should be fixed. :smile:

[2016-09-16 14:45] revolter commented on #737
@justinclift, Did / Can you test this on El Capitan?

[2016-09-16 14:48] justinclift commented on #737
I can, but not right now. :wink:

[2016-09-16 17:18] MarqueIV commented on #737
Just chiming in.  Does this mean someone worked on a fix for the prefs here?  If so, lemme know and I can test it right now on El Cap 10.11.6. (I'm not set up to build tho so if someone can make a binary, that would be great.)

[2016-09-16 17:21] MarqueIV commented on #756
Sounds like an excellent plan to get started.  One-each of the main windows is fine for now. That would solve my personal problem/desire to browse the data while editing SQL in another window.

[2016-09-16 17:27] MarqueIV commented on #756
Here's another thought... to keep things simple, pre-load the 'tabs' with the four main areas you have now.  Let us close them, move them, etc.  Then, have a 'New Tab' button that when you click it asks you do you want a new schema view, browse view, SQL view, etc.  A simple drop-down prompt under the button would work.  Point being if you design it so each 'tab' is its own thing, but which can po

[2016-09-16 18:13] justinclift commented on #756
Interesting thought, that's a useful sounding approach. :smile:

[2016-09-16 18:14] justinclift commented on #737
Nope, not yet.  @revolter was just meaning I should test it on El Capitan to see if it's a Sierra only thing. :wink:

[2016-09-19 08:09] revolter commented on #755
But the icon didn't change, right?

[2016-09-19 09:34] TorbenJ opened #778 "Typo in About dialog"
### Details for the issue

There is a typo in the About dialog of DB4S.
The label "SQLCipher-Version 3.11.0" actually says "SQLCiper-Version 3.11.0" so there is a missing "h" in "Cipher".

Just a very minor issue but I noticed it so I report it :)

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S h

[2016-09-19 09:36] revolter commented on #635
[It looks][1] like you can activate a window using the `QWidget::activateWindow` function, and we only call it [here][2], but that shouldn't be a problem. So maybe it's an implicit behaviour caused by something else, rather than some explicit call?

  [1]: http://stackoverflow.com/a/2242490/865175
  [2]: https://github.com/sqlitebrowser/sqlitebrowser/blob/55d8905b904ac57cf759db3b235b1ce27ab8c8a5/s

[2016-09-19 09:38] revolter commented on #778
Fixed in 1257134. It was the German translation who had this typo.

[2016-09-19 09:38] #778 closed

[2016-09-19 10:09] revolter commented on #763
We need to update the create statement with the current `Type`'s value on blur too, not only when pressing <kbd>Enter</kbd>.

[2016-09-19 10:25] revolter commented on #504
@orbisvicis, Do you have time to test this using the nightly build?

[2016-09-19 10:28] revolter commented on #329
@AnthonyUccello, Ping? 😄

[2016-09-19 10:56] revolter commented on #741
Ups, sorry. So should a line mean a text line or an SQL line (up until the first semi colon)?

[2016-09-19 13:52] revolter opened #779 "Pass crypted database password from command line"
### Details for the issue

It would be great if one could open an SQLCipher crypted database from the command line by setting a `password` argument to the command, so the password promt dialog would be skipped.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [x] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB

[2016-09-19 14:24] justinclift commented on #779
This would be useful, as least for our main target audience (eg people using their own desktops).

One thing to be aware of though, passwords passed on the command line can be a security problem in a multi-user environment. (eg several people logged into the same computer)

When someone does a `ps` (or anything similar) from the command line to show the process list, it shows the running commands.

[2016-09-19 14:24] justinclift commented on #779
Just to be clear, I still think this would be useful. :smile:

[2016-09-19 14:32] revolter commented on #779
Well, I'm pretty sure I saw other well-known commands (which I can't remember now) that ask for your password. I think it's the user's problem, not ours, we really can't do anything regarding this.

[2016-09-19 15:32] justinclift commented on #779
It could.

[2016-09-19 16:11] revolter commented on #779
So, should we vote or something? 😄

[2016-09-19 16:56] justinclift commented on #779
If you want. :smile:

Personally, I'm ok with you adding this... as long as we clearly spell out where it's useful, and where it's a bad idea.  That way, people at least have the option to use it when it's suitable.

[2016-09-19 18:32] chrisjlocke commented on #741
A line should be up to a semi-colon, so lines can be split.  Its more readable creating a table like:
`create table blah (`
`id text,`
`dinDang real,`
`piddlePop integer,`
`diddleIDo text);`

but thats just me... :wink:

[2016-09-19 19:32] mafagafogigante commented on #741
Pretty much what was said above. Production SQLite code has many queries spanning multiple lines.

[2016-09-19 19:38] revolter commented on #741
I'm working now on a fix.

[2016-09-19 19:43] revolter commented on #741
Well, It didn't work ok in 3.8.0 too. I'm working of a proper fix.

[2016-09-20 09:01] aludee opened #781 "Error creating/dropping FTS5 table"
Creating fts5 prompts an error.

no such module: fts5: CREATE VIRTUAL TABLE article_fts5_001 USING fts5(content="article", platform, title, segment_text)
### Useful extra information

The virtual table article_fts5_001 is created, but the fts support tables are not.
Also the virtual table cannot be dropped.

<img width="430" alt="screen shot 2016-09-20 at 4 58 57 pm" src="https://cloud.githubuserc

[2016-09-20 09:49] revolter commented on #779
Well, my reason was to speed opening crypted databases faster. Like creating an alias that quickly/directly opens a database without the need to manually enter a password. But from what I read [in this serverfault question][1], it's completely forbidden.

  [1]: http://serverfault.com/questions/592744/how-to-hide-a-password-passed-as-command-line-argument

Thinking that the `.db4s` file in `$HOME`

[2016-09-20 10:01] innermous commented on #779
I don't think about it, I'm not considering introducing such a vulnerable thing. Password typing is zero cost operation, stop inventing the wheel.

[2016-09-20 10:04] revolter commented on #779
When you enter is tens of times every day, is not zero cost operation. But I understand your point.

[2016-09-20 10:04] #779 closed

[2016-09-20 10:06] innermous commented on #779
Why closed? That was just my opinion.

[2016-09-20 10:09] revolter commented on #779
You told me to stop inventing the wheel. And indeed, for multiple users on the same computer or other configurations, this isn't safe. It only applies to my specific use case, so I'll just implement it in my fork.

[2016-09-20 10:26] chrisjlocke commented on #781
We had something similar with FTS support and OSX.  (See #762).  Wanna change your OS? :wink:
@justinclift started mentioning homebrews and stuff - think he might have got confused with his whiskey collection.  None of that really helps you, but can only assume DB4S for Windows can be 'tweaked' to include FTS support....  @justinclift will bounce along soon and either confirm or ... something else

[2016-09-20 11:36] justinclift commented on #779
A weird thought occurs... if we had a plugin system, this could be done as an optional plugin. :smile:

[2016-09-20 11:41] justinclift commented on #781
Yeah.  Sorry about this @aludee

On Windows the version of SQLCipher (a encryption enhanced replacement for SQLite) we used was compiled without any of the SQLite extensions.

It's only due to a lack of time for researching if/how to compile them in.  It's completely possible the FTS5 module is easy to add, it's just no-one's yet looked into it.

If someone with a working DB4S build system has tim

[2016-09-20 15:57] innermous commented on #779
Well, this might be useful in special use cases. We might implement this and add an appropriate checkbox in settings window, with advising users use this carefully, since it can be total disaster in security means.

[2016-09-20 20:36] innermous commented on #773
I wonder how people find these bugs... I thought I am the special one.

[2016-09-20 21:25] loeschg opened #782 "Can't open from commandline - OS X"
[code]

Trying to open from the command line (and pass a db as a command line parameter), and it's not working. I'm not able to open from the command line at all and was wondering if somebody might have some insight.

[code]

When directly trying to execute
[code]

[2016-09-20 21:51] justinclift commented on #782
Hmmm, that doesn't seem happy at all. 😦

Which version of OSX is this happening on?

[2016-09-20 21:56] justinclift commented on #782
As an experiment, would be ok to try compiling it yourself?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#building-an-app-bundle

If you have OSX Homebrew already installed, it's very easy. (5-10 mins max)

Asking because that's something I do fairly often, then use `open` (as you show above) to start it up.  This has generally worked for me... but it could

[2016-09-20 22:16] loeschg commented on #782
Running OS X - 10.11.6

Will give that a go and report back.

[2016-09-20 22:26] loeschg commented on #782
What the heck. I followed those steps, and now opening works fine from command line, even without using the newly built `.app`. ¯\_(ツ)_/¯

[2016-09-20 22:26] #782 closed

[2016-09-20 22:35] loeschg commented on #782
Yeah, some configuration must have changed. In my older iterm session, I still get the same error as I initially posted. If I open a new session/tab in iterm, it works correctly.

[2016-09-20 22:41] mafagafogigante commented on #773
The right mindset to find failures. Similar attempts reveal problems in several non-mature terminal utilities. These problems, however, never happen to an end user until they happen, which may take a few years, or may never happen.

[2016-09-20 22:47] justinclift commented on #782
Yeah, that sounds like a weird one. :wink:

[2016-09-20 22:50] justinclift commented on #773
Yeah.  On a similar note, if you want to see weird things happen (and you use Libvirt for anything), make some VM's with unusual unicode characters in (eg) their pathname, paths to their storage, etc.

Note - Don't do that with anything running important data.  Just saying. :wink:

[2016-09-21 06:35] chrisjlocke commented on #773
Just chippin' in, but I don't think or regard this as a bug per se.  If I type this:
`create table     jack      (id text);`
`create index    jack2    on jack (id);`

Then the table 'jack' and index 'jack2' are created as expected (well, as semi-expected - without whitespace).
If I enclose that in quotes, then yes, the whitespace is created.  However, as its explicitly set, DB4S is doing what I'm

[2016-09-21 10:14] justinclift commented on #773
Creating tables/indexes/(etc) with spaces isn't really the problem.  The problem is DB4S failing to work with those tables/indexes/(etc) afterwards.

eg select the "jack " index, choose to delete it... and the delete will fail.  In the code for the deletion, there seems to be the equivalent of a trim() function happening on the object name before it's getting deleted.

I took a quick look at this

[2016-09-21 10:15] mafagafogigante commented on #773
I was typing and your comment popped up. Damn. Will present a demo soon.

[2016-09-21 10:24] mafagafogigante commented on #773
[How to reproduce the issue](https://www.youtube.com/watch?v=fp_pzS7FD3c).

[2016-09-21 10:27] justinclift commented on #773
Yep, that's clear. :smile:

[2016-09-21 10:40] mafagafogigante opened #783 "Lots of QGradient::setColorAt messages to stdout"
### Details for the issue

After playing with DB4S on Linux I got back to the terminal to see about 100 occurrences of

[code]
#### I'm opening this issue because:
- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [X] DB4S has another problem
#### I'm using DB4S on:
- [X] Linux: (Fedora with 4.6.6-200.fc23.x86_64)
#### I'm using DB4S version:

Current master branch.
#### I h

[2016-09-21 10:54] justinclift commented on #783
Yeah, we do see a number of unusual messages like this on the output.  Some seem to be generated by DB4S, and others generated by Qt itself.

We've not yet put time into tracking down and fixing the one which don't sound critical though.

[2016-09-21 11:52] chrisjlocke commented on #773
Aah, through the GUI.  Apologies - so used to using the 'Execute SQL' tab, I do all the work through that.

[2016-09-21 12:25] mafagafogigante commented on #773
I like that Gnome makes these captures so easy (and working on multiple 1080p screens out of the box). Many examples are show, don't tell and these settle most issues.

[2016-09-21 12:38] mafagafogigante commented on #783
Just to let the little debugging I did in this time recorded somewhere:

If you let the cursor blinking in a state such as the following

![bug-cropping-sqlitebrowser](https://cloud.githubusercontent.com/assets/8271090/18711170/0664d492-7fdf-11e6-974d-87f84d0dc5da.png)

You get a few of the reported messages per second to standard output.

[2016-09-21 13:33] justinclift commented on #783
That does seem odd.

[2016-09-23 12:22] davidhedley opened #784 "Browse Data tab does not remember the selected table"
### Details for the issue

Switching to the "Browse Data" tab resets the Table dropdown to the first item. It should remember the previously selected table (if any). I would say this is a bug - it seems to remember the row position when switching to the tab but not the table!

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S

[2016-09-23 12:29] revolter commented on #784
This issue was already reported here: #757.

It was fixed and will be available in the next 3.9.1 release. 😄

[2016-09-23 12:33] chrisjlocke commented on #784
...or the next nightly, assuming that gets resolved before 3.9.1 is released... :wink:

[2016-09-23 12:37] davidhedley commented on #784
Many thanks. I didn't spot the duplicate issue in the list. Sorry to waste your time and keep up the great work!

[2016-09-23 12:37] #784 closed

[2016-09-23 12:39] revolter commented on #784
Not a problem. And as @chrisjlocke mentioned, you can try the nightly version until the release, which, AFAIK, contains the fix.

[2016-09-23 13:18] dragonstar0828 opened #785 "Primary key not showing in Indices"
### Details for the issue

I created a field as a autoincrement primary key but it doesn't show in indicies - why
or why not?
### Useful extra information

#### I'm opening this issue because:
- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [X] DB4S has another problem
#### I'm using DB4S on:
- [X] Windows
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS
- [ ] Other: ___
#### I

[2016-09-23 14:02] justinclift commented on #785
Ouch, that doesn't seem good. :smile:

Would you have time to try the latest nightly build?  We have been fixing some of the problems with our handling of constraints (and similar), so there's a fairly good chance it's already been solved.

The download locations for nightly builds are on our front page, if that helps. :smile:

[2016-09-23 14:12] dragonstar0828 commented on #785
Nightly builds for Windows link goes here...

http://sqlitebrowser.oldsch00l.com/

... which only contains a build log text file entry.

[2016-09-23 14:21] justinclift commented on #785
Aaarrgh.  That's right, we busted the build yesterday.  Sorry, I completely forgot.

The build was fixed earlier today though, so a new one should be automatically generated tonight.

Umm... would be ok to try it out tomorrow? (sorry for the hassle)

[2016-09-23 14:23] dragonstar0828 commented on #785
Sure, or you can zip up the 64-bit Windows .exe and send it to me at darrel.christensen@tx.rr.com

[2016-09-23 14:26] RH-Euronext opened #786 "Name "DB Browser for SQLite" has spaces which cause "missing separator""
### Details for the issue
There are two related issues:
1) the name was changed to “DB Browser for SQLite” (in 2014, I think) but the spaces (with cmake version 3.6.1) cause a “missing separator” problem when make is run.
2) After a local correction to 1), later.
sudo make install
failed because src/icons/DB_Browser_for_SQLite.png, distri/DB_Browser_for_SQLite.desktop and distri/DB_Browser_for_SQL

[2016-09-23 14:28] justinclift commented on #785
Heh Heh Heh

Sorry, I'm focused on other stuff over the last few days, and probably until early next week.  Thus my leaving it to the automatic builds. :smile:

[2016-09-23 14:30] justinclift commented on #786
Thanks Richard.  We'll be making a 3.9.1 release in the near future, which is probably a good time for getting this fixed. :smile:

[2016-09-23 14:33] RH-Euronext commented on #786
Well I should say thanks to you guys for the product.
Seems to work very well so far as I’ve used it.

It will participate in a significant demo next Friday!

From: Justin Clift [mailto:notifications@github.com]
Sent: vendredi 23 septembre 2016 16:31
To: sqlitebrowser/sqlitebrowser
Cc: Richard Hickling - Contractor; Author
Subject: Re: [sqlitebrowser/sqlitebrowser] Name "DB Browser for SQLite" has

[2016-09-23 14:54] joshua-meng commented on #776
Here is the solution:
http://stackoverflow.com/questions/33728905/qt-creator-project-error-xcode-not-set-up-properly-you-may-need-to-confirm-t

[2016-09-23 15:03] justinclift commented on #786
Awesome. 😀

[2016-09-23 15:05] justinclift commented on #776
@joshua-meng Hmmm, that didn't work for me.  I had already made that fix to get past the initial Xcode 8 warning.

Is it working for you?

[2016-09-23 15:28] joshua-meng commented on #776
@justinclift
I followed the steps then Qt Creator can create & compile GUI project on OSX 10.11.6 and Qt5.7.0.

In Xcode 8, as Bruce said, this happens when Qt tries to find xcrun when it should be looking for xcodebuild.

Step 1:

Open the file:

Qt_install_folder/5.7/clang_64/mkspecs/features/mac/default_pre.prf
Step 2:

Replace:

isEmpty($$list($$system("/usr/bin/xcrun -find xcrun 2>/dev/null")

[2016-09-23 15:51] justinclift commented on #776
Thanks.  I'll look back into this again later, I must have been doing something wrong first time around. :smile:

[2016-09-23 17:45] justinclift opened #787 "Interesting way to show contributors"
The Serverless project has an interesting way to show contributors:

&nbsp; &nbsp; https://github.com/serverless/serverless#contributors

We might want to do similar.  Even for release notes. 😀

Thoughts?

[2016-09-23 19:18] mafagafogigante commented on #787
Seems good. Do you know what they use to generate the HTML?

[2016-09-23 19:45] justinclift commented on #787
Looking at the source for their README.md, they seem to be embedding HTML directly.

eg, this is their first entry:

    | [<img src="https://avatars.githubusercontent.com/u/2752551?v=3" width="75px;"/><br /><sub>Austen </sub>](http://www.serverless.com)<br /> |

So, one of those per person, with the various bits tweaked to match (eg avatar, name, URL).

[2016-09-24 07:53] joshua-meng commented on #776
@justinclift That steps only makes Qt5.7.0 works with XCode8 on helloworld like applications, QScintilla still cannot compile. I got errors like:
[code]

[2016-09-24 08:09] justinclift commented on #776
Yeah.  Use Xcode 7.3.1 instead for now.  Not a great solution, but it works. :smile:

[2016-09-24 09:43] innermous commented on #787
What's the point in that, after all?

[2016-09-24 10:28] justinclift commented on #787
Some people like having their picture on things they do.  It's a different form of giving recognition.

[2016-09-24 12:21] innermous commented on #787
@justinclift what's wrong with "Contributors" tab? It's just for that.

[2016-09-24 13:29] dragonstar0828 commented on #785
I pulled down the nightly build and opened the db I created.

I have a table with a Primary Key and Indices still has (0) next to it.  :/

[2016-09-24 14:31] justinclift commented on #787
Nothing in particular wrong with it, it's just having stuff on the README.md will appeal to some. :smile:

[2016-09-24 14:33] justinclift commented on #785
Arrrgh. 😦

Thanks for checking. :smile:  This is definitely a bug we need to look into then.

Is there anything strange or unusual with your table structure?  Are you able to share the database, or it's structure with us, so we can try to replicate the problem?

[2016-09-24 15:00] dragonstar0828 commented on #785
Right now it's a single table with 2 fields.  The first is the Primary Key and it's an Integer, the second is just a Text field.

Attached.

NOTE - as your product works with .db files it would be nice if your attachement technology supported that file type.

[miracap.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/491183/miracap.zip)

[2016-09-24 15:12] justinclift commented on #785
Thanks @dragonstar0828.  Yeah.  We're using GitHub, which has it's own ideas of what files are and aren't allowed in attachments. :smile:

[2016-09-24 15:31] mafagafogigante commented on #785
Fun fact: just changing the extension to any of the suggestions works too.

[miracap.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/491202/miracap.zip)
[miracap.pptx](https://github.com/sqlitebrowser/sqlitebrowser/files/491203/miracap.pptx)

But obviously actually zipping the files is a better practice.

[2016-09-24 21:35] chrisjlocke commented on #785
Replicated the issue here.  Simply created a new table with just one new field of an autonumber.  No index created.

http://screencast-o-matic.com/watch/cDQZr4jr3E

[2016-09-24 22:21] justinclift commented on #785
Sounds like people might hit this fairly commonly. 😦

[2016-09-25 15:04] dragonstar0828 commented on #785
Looking forward to a build with this corrected, can't see moving ahead creating my db if indicies aren't being handled correctly.

[2016-09-25 16:07] justinclift commented on #785
It's unlikely to be fixed in the next few days, and probably not in the next week or so.

There are many other SQLite tools around.  At least one of them should work for you well enough for now. :smile:

[2016-09-25 16:11] chrisjlocke commented on #785
...or create the index manually.  Its not *that* difficult... 😉

[2016-09-25 16:20] justinclift commented on #785
Good point. :smile:

[2016-09-25 16:24] dragonstar0828 commented on #785
True, I'll make 'em by hand for now.

Keep me posted, and let me know if there's any other features/fixes you need tested and I'll be happy to help...

[2016-09-25 21:12] justinclift commented on #763
When you say "on blur", what do you mean? :smile:

[2016-09-25 21:14] justinclift commented on #504
@orbisvicis Ping.  Would you be ok to try our recent 3.9.0 release?  There's a fairly decent chance the bug is fixed in that. :smile:

[2016-09-25 21:15] justinclift commented on #329
@AnthonyUccello Last ping... :smile:

[2016-09-25 23:28] AnthonyUccello commented on #329
Oh hey sorry!

I havent used this for over a year. You can close this issue!

[2016-09-26 00:10] justinclift commented on #329
No worries.  Thanks @AnthonyUccello. :smile:

[2016-09-26 00:10] #329 closed

[2016-09-26 13:58] glawrence commented on #763
Well, blur is the opposite of focus, so it is when a control loses focus, irrespective of where it goes to

[2016-09-26 13:59] justinclift commented on #763
Thanks, makes sense. :smile:

[2016-09-26 16:59] chrisjlocke commented on #763
Never knew that either...

[2016-09-26 18:45] justinclift commented on #711
StartCom is in hot water: https://news.ycombinator.com/item?id=12582534

Our already issued certificate(s) will still work, if/when we need stuff from them in future there could be problems.

[2016-09-27 09:02] revolter commented on #785
So should an index be created for every table with autoincrement column?

[2016-09-27 09:08] revolter commented on #787
Yeah, the `Contributors` tab seems nicer, with graphs and stuff.

Having them in the `README` seems a duplication of info, bloating the file, and requiring often syncs.
As probably some people don't know about the tab's existence, we could add a `Contributors` section in the `README` like this:

## Contributors

You can see the list by going to the [__Contributors__ tab](https://github.com/sqliteb

[2016-09-27 10:03] chrisjlocke commented on #785
Interesting.  Technically you don't need a primary key autoincrement field, as this is just an alias for the ROWID column anyway.
https://www.sqlite.org/autoinc.html

...and that doesn't have an index.  So I'd argue its not needed.  Haven't read the whole page yet though, as .... well, other things to do...! :wink:

[2016-09-27 10:17] revolter commented on #785
I knew that, but the code I'm working on never used the rowid, and I got used to the "primary key autoincrement `id` column" so I started using it in sqlite too, but I don't think it __has__ to have an index too. Aren't indexes optional?

[2016-09-27 10:56] mafagafogigante commented on #787
@revolter makes a good point regarding the added maintenance burden.

[2016-09-27 10:57] justinclift commented on #787
No worries at all.  Let's close this. :smile:

[2016-09-27 10:57] #787 closed

[2016-09-27 12:59] dragonstar0828 commented on #785
Yes they're optional, but when I tick a checkbox like "Primary Key" when creating a table where the operative word is KEY I usually get an index no matter the engine or front end I'm using - is hence my original posting.

[2016-09-27 13:22] revolter commented on #785
Ok, I know understood what you guys meant, and a colleague confirmed this behaviour too. Didn't know about this at all.

[2016-09-27 14:10] aludee commented on #781
Thanks @justinclift and @chrisjlocke for the prompt response =)

@justinclift i found an old thread during the release of 3.8 (https://discuss.zetetic.net/t/db-browser-3-8-0-for-sqlite-sqlcipher-released/969). Could it would be possible to get the developers at zetetic to compile the updated SQLCipher with the new SQLite extension for FTS5?

[2016-09-27 14:22] justinclift commented on #781
You're on the right track. :smile:

With our Windows release, I compiled SQLCipher myself using the instructions here:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Win64-setup-—-Compiling-SQLCipher

The exact code I used is here:

&nbsp; &nbsp; https://github.com/justinclift/sqlcipher

It's a fork of the original SQLCipher branch, with the changes made to it as written in tha

[2016-09-27 14:29] justinclift commented on #777
@wodim This should be fixed now. :smile:
![screen shot 2016-09-27 at 15 24 23](https://cloud.githubusercontent.com/assets/406299/18878023/0d370fbe-84c7-11e6-8e73-b132242da2db.png)

Would you be ok to try the nightly build (tomorrow), to verify it from your point of view? :smile:

[2016-09-27 14:44] aludee commented on #781
Thanks for sharing the instructions!
I will try to see what I can come up with.

Once again, thanks for sharing :smile:

[2016-09-27 14:53] justinclift commented on #781
You're welcome.  We all help out where we can. :smile:

[2016-09-27 15:05] justinclift opened #788 "Implement switching tabs using Alt modifier + number"
Being able to switch tabs in the Main Window interface using keyboard shortcuts (eg Alt+1, Alt+2, etc) would be useful.

@innermous has implemented it in https://github.com/sqlitebrowser/sqlitebrowser/commit/11558a86b45a65e01d49a46b6cf4ec0231f36aff & https://github.com/sqlitebrowser/sqlitebrowser/commit/45e17c9b497eafa8000c73eb60fcfce5c419d151.

Just to be careful, before merging that into 3.9.1 w

[2016-09-27 15:05] elpoolet commented on #556
Hi all

I was in vacation till Aug 30th...
After that, had lot of work.

I downloaded stable version 3.9 and all features are in and works like a
charm !!!

Thanks a lot for these improvements... and sorry for my last response
time...

2016-07-25 5:33 GMT-04:00 Justin Clift <notifications@github.com>:

--
--------------
Laurent VOUDON

[2016-09-27 15:16] justinclift commented on #788
Testing here on OSX, Alt+[number key] isn't working.  I'll dig into it a bit later on.

[2016-09-27 15:20] justinclift commented on #556
You're welcome @elpoolet. :smile:

[2016-09-27 15:35] innermous commented on #788
@justinclift :open_mouth:
Why wouldn't it work on OSX?

[2016-09-27 15:37] justinclift commented on #788
Yeah, I have no idea.  Looking at it visually, nothing seems wrong.

I'll dig into this properly fairly soon.

[2016-09-27 15:38] innermous commented on #788
I'll stay tuned, this is important issue.

[2016-09-27 17:02] justinclift commented on #788
Looking into this at the moment.  It *seems* like `QKeySequence` might be better than `QKeyEvent` for this.  Not sure yet, still reading.

As a first investigation thing, I changed the current code to this:

    int keyPressed = event->key();

    switch (keyPressed)
    {
    case Qt::Key_1:
        tab = Tabs::StructureTab;
        break;
    case Qt::Key_2:
        tab = Tabs::BrowseTab;

[2016-09-27 17:02] justinclift commented on #788
Reading the `QKeySequence` and `QShortcut` class docs, they seem better suited to multiple-key combinations.

Something like (say) `QKeySequence(Qt::ALT + Qt::Key_1)` might work, added to a `QShortcut`.

[2016-09-27 17:04] justinclift commented on #788
@innermous Do you want to investigate this, or should I keep at it? :smile:

[2016-09-28 07:19] chrisjlocke commented on #785
Just a note that the following SQL **does** create an index.

`CREATE TABLE test (id TEXT PRIMARY KEY ASC)`

This was on v3.9

[2016-09-28 07:41] chrisjlocke commented on #785
Actuallly I lied.  It creates an index, but they're empty.

![image](https://cloud.githubusercontent.com/assets/7872218/18904545/75da2b02-8556-11e6-99b4-d333a2690dc5.png)

This was using the 'execute sql' tab.

[2016-09-28 10:52] wodim commented on #777
Yes, it's fine now.

[2016-09-28 10:52] #777 closed

[2016-09-28 10:59] justinclift commented on #777
Excellent.  Thanks for verifying and getting back to us @wodim. :smile:

[2016-09-28 15:45] justinclift commented on #788
One approach (only tested on OSX) is this: https://github.com/justinclift/sqlitebrowser/commit/3aec905180f840186337f41f23c8c19789d0fd41

That still needs work though:

* The key combo doesn't always work straight away.  Sometimes tabs need to be manually changed first, and **then** all of the key combo's work.  This is weird, and obviously not going to be workable as-is. 😦
* The switchToBrowseTab(

[2016-09-28 17:55] innermous commented on #788
It's nonsense, you are doing something wrong.
Switch block captures value only **once**.

[2016-09-28 17:59] innermous commented on #788
@justinclift

This happens if something else is focused, this is normal.

[2016-09-28 18:00] justinclift commented on #788
It's definitely possible I'm doing something wrong. :smile:

The keyPressEvent() though is definitely firing as soon as the alt key is pressed, and not waiting for the full key sequence.

[2016-09-28 18:01] innermous commented on #788
@justinclift and the next keyPressEvent is fired as soon as you press another key holding alt.

[2016-09-28 18:03] justinclift commented on #788
Ahhh, I see what you're meaning.  Ok, a better way for me to debug this might be to println() the keys to stdout or something.

[2016-09-28 18:07] innermous commented on #788
@justinclift if you will introduce any changes to this code, don't forget to add `return;` statement after `setCurrentIndex`. This will be safer.

[2016-09-28 18:09] justinclift commented on #788
Like this?

[code]

[2016-09-28 18:11] innermous commented on #788
Yeah. There's no need to capture event by default QMainWindow event processor if event we are interested in was already processed.

[2016-09-28 18:13] justinclift commented on #788
Interestingly, adding the return there stops Cmd-Q from working on OSX.

[2016-09-28 18:17] justinclift commented on #788
This is the adjusted function to printf() keyboard output:

[code]

This is the output from it, when pressing Alt+1, Alt+2, Alt+3, Alt+4, then Cmd-Q to quit:
[code]

The number keys aren't being detected properly.  Any ideas?

[2016-09-28 18:18] innermous commented on #788
I don't understand this, tbh. I mean, AFAIK, mac's don't even have Alt keys, right?

[2016-09-28 18:18] justinclift commented on #788
???

Why wouldn't they have Alt keys?

[2016-09-28 18:19] justinclift commented on #788
That being said, I use a Mac Mini.  They don't have an inbuilt keyboard, instead relying on people to use their own.  I'm using a standard everyday 101-key keyboard with it, using US layout.

[2016-09-28 18:19] innermous commented on #788
@justinclift I don't know, I never seen Mac keyboard. I just heard they have **this stuff** with CMD button.

[2016-09-28 18:20] justinclift commented on #788
Ahhh.  The Cmd key is (on mine) mapped to the Windows key.

[2016-09-28 18:20] innermous commented on #788
@justinclift hm.
Did @revolter  try this commit?

[2016-09-28 18:20] justinclift commented on #788
Ahhh, not yet.  He wanted me to build him a .dmg for testing with.  I'll do it now.

[2016-09-28 18:21] innermous commented on #788
@justinclift alright alright...
I am gonna investigate how QtCreator handles tabulation.

[2016-09-28 18:27] revolter commented on #788
@innermous, Yes, I'm using a MacBook and I can test a built binary if provided. And yes, Apple keyboards have the <kbd>alt</key> key too.

[2016-09-28 18:49] justinclift commented on #788
@revolter .dmg here: http://nightlies.sqlitebrowser.org/osx-onceoffs/DB%20Browser%20for%20SQLite-201609281947-issue788v1.dmg

Didn't use the pretty .dmg creator though. :wink:

Noticed a weird behaviour.  The Alt+[number key] works before a database is loaded.  After loading a database though... they don't work any more.

[2016-09-28 18:50] justinclift commented on #788
@innermous Hmmm, is there any way that the load of a database could remove the capture of keystrokes?

[2016-09-28 18:53] revolter commented on #788
@justinclift Thanks! Yes, it works ok up until opening a database.

[2016-09-28 18:54] justinclift commented on #788
Cool.  It sounds like we're at least on the path to finding a solution. :smile:

[2016-09-28 18:54] revolter commented on #788
Yes, it's losing focus after opening the database.

[2016-09-28 18:56] revolter commented on #788
If I:

- open DB4S
- hit <kbd>alt</kbd>+<kbd>2</kbd>
- hit <kbd>alt</kbd>+<kbd>1</kbd>

it works ok. Then if I:

- open a database
- switch to another window like `Finder`
- switch to DB4S
- hit <kbd>alt</kbd>+<kbd>2</kbd>
- hit <kbd>alt</kbd>+<kbd>1</kbd>

it works again.

[2016-09-28 19:12] justinclift commented on #788
Interesting yeah.  That does kind of work.

On the "Execute SQL" tab though, the number keys go into the SQL window. :wink:

[2016-09-28 19:29] justinclift commented on #788
Moving this to 3.10.0 for now, just in case. :smile:

[2016-09-29 00:03] justinclift commented on #603
Just noticed something interesting while looking into #786.

CentOS doesn't include Qt5 in any of it's repositories.  It *can* be manually compiled though.

This will need to be thought through... 😦

[2016-09-29 00:21] justinclift commented on #786
@RH-Euronext Just tried this here on a CentOS 7-1511 install.  Both `cmake` and `make` compiled fine (no errors), though I did have to install both `cmake` and `gcc-g++` which our docs were missing (now fixed).

I only tried with our latest development source code though, not our previous 3.9.0 release tarball.

Is it feasible for you to compile from git source?

[2016-09-29 05:56] RH-Euronext commented on #786
Sure I can compile from source.

Maybe our cmake is old?  3.6.1…

From: Justin Clift [mailto:notifications@github.com]
Sent: jeudi 29 septembre 2016 02:22
To: sqlitebrowser/sqlitebrowser
Cc: Richard Hickling - Contractor; Mention
Subject: Re: [sqlitebrowser/sqlitebrowser] Name "DB Browser for SQLite" has spaces which cause "missing separator" (#786)

@RH-Euronext<https://github.com/RH-Euronext> Ju

[2016-09-29 11:40] justinclift commented on #786
CMake 3.6.1 is fine.  :smile:

With the bug in this issue, I *think* it's a duplicate of https://github.com/sqlitebrowser/sqlitebrowser/issues/758.  That was fixed ~1 month ago in our master branch in git, with https://github.com/sqlitebrowser/sqlitebrowser/commit/2957974974bb874b0219e52d63c198658c02f686.

If you want to try compiling with our git head, it should "just work". :smile:

We're also p

[2016-09-29 12:37] swinster opened #789 "Copying cell contents in 3.9.0 inserts quotes around the value copied to the clipboard"
### Details for the issue

Pretty much as the title says. I do not believe this occurred in the previous version. May not seem like a big thing, but when you copy value to paste them into a filter, or into another application you then have to edit the value to remove the quotes. Just really annoying, and so I think I would have remembered this if the previous version had the same functionality.
##

[2016-09-29 12:57] justinclift commented on #789
Ahhh, that's interesting.  We did make some changes to the cut-n-paste code, so this is definitely useful feedback.

[2016-09-29 12:58] justinclift commented on #789
By the way, does this happen for every value, or just certain things?

[2016-09-29 14:53] swinster commented on #789
So far, all the values I have needed to try :(

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Sep 29, 2016 at 1:58 PM +0100, "Justin Clift" <notifications@github.com<mailto:notifications@github.com>> wrote:

By the way, does this happen for every value, or just certain things?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https

[2016-09-29 14:55] justinclift commented on #789
😦

[2016-09-29 15:13] ligadata-alison commented on #12
Can someone please help me? I don't know what it means "Please enter the key used to encrypt the database". I downloaded the database from Bluehost. Do I call them to get the key??

[2016-09-29 15:17] revolter commented on #12
A database is encrypted with a password. You have to know that password when trying to open an encrypted database.

[2016-09-29 15:17] ligadata-alison commented on #12
yes, but there do I get the password? Where do I find it?

[2016-09-29 15:19] ligadata-alison commented on #12
I'm a technical writer (not a developer). I'm not sure what I am doing. I backed up my website and I have this file called kamanjao_kaman.sql that I'd like to view to make sure my pages are there.

[2016-09-29 15:34] ligadata-alison commented on #12
is it found in wp-config.php?

On Thu, Sep 29, 2016 at 8:17 AM, Iulian Onofrei <notifications@github.com>
wrote:

[2016-09-29 15:48] chrisjlocke commented on #12
Aah, an .sql file is a series of SQL commands to *recreate* a database, rather than the *actual* database.  You can open the .sql file in Notepad, or its equivelant (depending on your operating system).

While its human readable text, it might not make much sense to you... (ie, full of gobbledegook! :wink: )

[2016-09-29 16:11] justinclift commented on #12
@ligadata-alison If that's a backup of a Wordpress website, then a text editor should let you see part of the contents, as @chrisjlocke pointed out.

The file itself probably has internal formatting / structure purely for Wordpress to understand though.  So it's very likely not going to be super readable.

All of the text strings from the Wordpress site should be present in it, if you're wanting t

[2016-09-29 16:54] ligadata-alison commented on #12
Thanks to lulian, Chris, and Justin! Thanks for your detailed reply. I
think I will restore the data to a blank Wordpress setup to verify as
Justin suggests. It's simply to hard to read otherwise. Thanks for the
suggestion!

On Thu, Sep 29, 2016 at 9:12 AM, Justin Clift <notifications@github.com>
wrote:

[2016-09-29 17:29] justinclift commented on #12
You're welcome @ligadata-alison. :smile:

[2016-09-29 18:28] justinclift commented on #773
@mafagafogigante Martin has just added a fix for this to the master branch in git.

Would you have a few minutes to compile the latest code to verify from your point of view? :smile:

[2016-09-29 18:55] mafagafogigante commented on #773
@justinclift on it right now.

[2016-09-29 19:00] mafagafogigante commented on #773
@justinclift it now works as expected.

[2016-09-29 19:57] justinclift commented on #773
Awesome @mafagafogigante!

Thanks for both reporting, and verifying this. :smile:

[2016-09-29 19:57] #773 closed

[2016-09-29 21:12] gjijon opened #790 "Pragmas don't keep saved on reopened db"
### Details for the issue

### Useful extra information

#### I'm opening this issue because:
- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem
#### I'm using DB4S on:
- [X] Windows
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS
- [ ] Other: ___
#### I'm using DB4S version:
- [ ] 3.9.0
- [X] 3.8.0
- [ ] Other: ___
#### I have also:
- [ ] Tried out t

[2016-09-29 22:38] chrisjlocke commented on #789
As a workaround, click the cell once to set the focus, and click it again to go into 'edit mode'.  The cell contents will be highlighted.  Right click this selection, and select 'Copy' (or press Ctrl+C).
Alternatively, double click the cell contents, and the contents will be displayed in the 'Edit Cell' pane.  Again, the contents will be highlighted.  Copying this text as in the above manner will

[2016-09-29 23:15] swinster commented on #789
Yeah, I have done that too, although TBH, I'm not sure which is the most irritating. Either way, it is something silly.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Sep 29, 2016 at 11:38 PM +0100, "Chris Locke" <notifications@github.com<mailto:notifications@github.com>> wrote:

As a workaround, click the cell once to set the focus, and click it again to go into 'edit mode'. The cell co

[2016-09-30 06:32] chrisjlocke commented on #789
Until you mentioned it, I'd never tried pressing Ctrl+C in a cell.  I normally go by menu options, so as there is no 'Edit' | 'Copy', I assumed there was none.
Highlighting two cells gives quoted values, separated by a tab character.  Wonder how long before we have another option to change that to a comma, or some other user-defined character.... ;)

[2016-09-30 12:26] revolter commented on #789
@swinster, I added a commit that should fix this. Thought copying multiple cells still quotes the contents, so only copying single cells will leave the contents unquoted. Are you able to build the project yourself? @justinclift could point you out to the instructions. If not, a nightly build containing this fix will be available tomorrow.

[2016-09-30 12:42] justinclift commented on #786
Closing this, as I'm really sure it's a duplicate.  @RH-Euronext If if your testing it turns out not to be, you're definitely welcome to reopen this so it can be investigated. :smile:

[2016-09-30 12:42] #786 closed

[2016-09-30 12:49] justinclift commented on #790
Hmmm, interesting.  It *sounds* like a bug, but we'll probably need to investigate more before we're sure. :smile:

[2016-09-30 13:09] justinclift commented on #789
@swinster If you're feeling adventurous, it's definitely workable to compile things yourself instead of waiting for the auto-generated nightly builds: :smile:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S

[2016-09-30 22:04] revolter opened #791 "Incorrect OPTION syntax in cmake?"
### Details for the issue

[It looks like][1] [these lines][2] should be

    OPTION(USE_QT5 "Build with qt5" OFF)
    OPTION(ENABLE_TESTING "Enable the unit tests" OFF)

instead. I don't know cmake almost at all, so not sure if it's a problem or that help page is about another `option` command/function/...

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing

[2016-10-01 06:45] gelldur opened #792 "Memory leak in import CSV"
### Details for the issue

When I import large CSV tables memory leak occurs. After import memory should be free. Eg. Now sqlitebrowser is using 10 GB RAM
### Useful extra information

#### I'm opening this issue because:
- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem
#### I'm using DB4S on:
- [ ] Windows
- [x] Linux: ( _distro:_ Manjaro (Arch

[2016-10-01 07:25] chrisjlocke commented on #792
Out of interest, how large is large?  How many fields per line, and how many records?  Is this after one import, or after a series of imports?

[2016-10-01 08:06] gelldur commented on #792
One of my CSV:
20 376 731 rows
17 columns

[2016-10-01 11:25] justinclift commented on #792
Well, that definitely sounds like a bug. :smile:

Guess we'll need to come to grips with Valgrind & similar soon. :wink:

[2016-10-01 12:24] justinclift commented on #744
Moved this to 3.10.0 instead of 3.9.1, as the commit makes a *lot* of changes.  It doesn't apply cleanly to current 3.9.x source, and doing it manually isn't really appealing. :wink:

[2016-10-01 14:16] revolter commented on #792
It looks like the memory leak is happening [on this line][1], but I can't figure out what's the problem. Maybe @MKleusberg or @innermous have some ideas?

  [1]: https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/DbStructureModel.cpp#L155

[2016-10-01 14:17] justinclift commented on #752
Closing this now, as the reported issue is fixed (in testing here), and we're unlikely to add support for System.Data.SQLite any time soon.

[2016-10-01 14:17] #752 closed

[2016-10-01 14:20] justinclift commented on #792
Hmm, looking at it quickly:

    QTreeWidgetItem* itemTables = new QTreeWidgetItem(itemAll);

If that method is called multiple times, then maybe "itemTables" is given a brand new QTreeWidgetItem() on each call, and nothing frees the memory of the old QTreeWidgetItem() from the previous call?

[2016-10-02 08:14] TeLLie commented on #157
Hihi Justin,

ftp://ftp.netlabs.org/pub/qtapps/sqlitebrowser-3.9.0-os2.7z

On 18-06-16 10:32, Elbert & Nicole Pol wrote:

--
With kind regards from the Netherlands,
                     Elbert & Nicole Pol

[2016-10-02 08:58] schdub opened #799 "ModifyTable: every field has FK constraint"
![screenshot from 2016-10-02 11 08 51](https://cloud.githubusercontent.com/assets/1304776/19019649/439cc78c-8897-11e6-9092-bd39ac1082dd.png)
### Details for the issue

1) import tables from .sql file: https://github.com/sqlitebrowser/sqlitebrowser/files/411587/kuban.db.sql.zip
2) "Modify Table" level;
3) every row in "Foreign Key" column will be `place`(`id`) instead only for `place_id` field.
###

[2016-10-02 10:50] justinclift commented on #157
Cool. Co-incidentally, we're releasing version 3.9.1 today too. 😁

[2016-10-02 10:57] justinclift commented on #799
Thanks @schdub. :smile:

@MKleusberg is this of interest to you?

[2016-10-02 11:42] justinclift opened #800 "Add proactive monitoring for our nightly OSX builds"
This is a reminder task. :smile:

We need should add some kind of proactive monitoring for the nightly OSX builds:

* Something external to the build box, which checks daily to see if a new build is present
  * This will catch any problems with the build box not automatically coming out of sleep mode then building
* Add failure detection to the nightly build script, to proactively alert us to fail

[2016-10-02 13:04] revolter commented on #800
Could this be added to the Windows nightlies too?

[2016-10-02 13:10] justinclift commented on #800
Good thinking.  The external one should be workable.

We don't have access to the current windows build script though, so making it automatically alert on failures itself isn't feasible.  The external check should be good enough for now though.

[2016-10-02 13:13] revolter commented on #800
Or maybe it's time to build the Windows nightlies ourselves.

[2016-10-02 13:13] justinclift commented on #800
It's a good idea.  It's just needs someone to take the time to write the windows build scripts.

[2016-10-02 16:17] justinclift commented on #389
Good news @PKEv, this has been fixed today by @schdub.

The fix will be in our new 3.9.1 release, which will come our later on today. :smile:

[2016-10-02 16:17] #389 closed

[2016-10-02 21:38] bernardosulzbach opened #803 "Broken build on v3.9.x branch"
### Details for the issue

[code]
#### I'm opening this issue because:

The build is broken.

Current master works fine.
#### I'm using DB4S on:

[code]

[code]

[code]
#### I'm using DB4S version:

https://github.com/sqlitebrowser/sqlitebrowser/commit/f68e2939b888c6e6e5a8ced334c9d0e1e799dac0

[2016-10-02 21:44] justinclift commented on #803
Thanks.  I'll try it out in a VM later to see what's wrong. :smile:

[2016-10-02 21:53] justinclift commented on #803
As a thought, what happens if you try qmake instead of cmake? eg:

[code]

[2016-10-02 21:54] mafagafogigante commented on #803
Will try, I am bisecting it now.

[2016-10-02 22:03] mafagafogigante commented on #803
f68e293 builds fine with qmake-qt4 here.

@justinclift is this the standard way to do it? BUILDING.md is outdated then.

[2016-10-02 22:19] justinclift commented on #803
In theory, they both should work... however, that's not always the case. 😦

* The config file for CMake is [CMakelists.txt](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMakeLists.txt).
* The config file for qmake is [src/src.pro](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/src.pro).

It's totally possible for one config file to be changed, breaking one system, but

[2016-10-02 22:31] mafagafogigante commented on #803
My bisection blames 54dbd62508791da4bbcbc8c5bac4c770a1cc9cd7 for it. However, that commit itself breaks the build because of something completely different (see below).

[code]

---

Anyway, I will use `qmake` for now. I hope master stays well-behaved, though.

[2016-10-02 22:54] justinclift commented on #803
Yeah, master should keep good. :smile:

[2016-10-03 07:41] gelldur commented on #792
Also i can add that this bug occurs when all columns are as 'TEXT'.
When i first create table leak is much less. By create table i mean create it with better data formats for columns

[2016-10-03 12:00] justinclift commented on #792
Thanks, that's helpful. :smile:

[2016-10-03 20:12] TeLLie commented on #157
Hihi,

ftp://ftp.netlabs.org/pub/qtapps/sqlitebrowser-3.9.1-os2.7z

On  2-10-16 12:50, Justin Clift wrote:

--
With kind regards from the Netherlands,
                     Elbert & Nicole Pol

[2016-10-03 20:29] justinclift commented on #157
Excellent. :smile:

Should we add that to the README.md file, or will OS/2 users already know where to look?

[2016-10-03 21:16] TeLLie commented on #157
Hello

They know where to look :)

On Mon, Oct 3, 2016 at 10:30 PM, Justin Clift <notifications@github.com>
wrote:

[2016-10-03 21:37] justinclift commented on #157
Awesome. :smile:

[2016-10-06 13:56] justinclift opened #804 "Ensure silent install mode works for windows, & document it"
We've been [asked on Twitter](https://twitter.com/danj2k/status/784000550874546176) if our Windows installer supports silent mode installation, for deploying to classrooms of PC's.

[code]
This is a good idea, and NSIS in theory automatically adds this capability.  Running our installer from the command line with '/S' switch (case sensitive) is supposed to do a silent install.

Lets test it, fix i

[2016-10-06 14:24] justinclift commented on #804
Good news.  It's working here on Win 8.1 x64, using our 64-bit installer.

Weirdly the uninstall script doesn't seem to remove vcredist_64.exe, so it looks like theres a bug with this line: https://github.com/sqlitebrowser/sqlitebrowser/blob/5dddffd7a0eb8698885c324bd4f2080b9fb9fb21/CMakeLists.txt#L409

[2016-10-06 14:39] justinclift commented on #804
Just added the information to the wiki:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Silent-Mode-installation-on-Windows

[2016-10-06 14:39] #804 closed

[2016-10-06 14:52] revolter commented on #804
What about the uninstall problem?

[2016-10-06 14:56] justinclift opened #806 "Install on windows doesn't seem to remove the MSVC redistributable"
While testing out silent mode install on Windows for #804, something interesting showed up.

After installation, the "vcredist_64.exe" file was still left in place.  It looks like theres a bug with this line:

https://github.com/sqlitebrowser/sqlitebrowser/blob/5dddffd7a0eb8698885c324bd4f2080b9fb9fb21/CMakeLists.txt#L409

[2016-10-06 14:56] justinclift commented on #804
Good point.  Just created #805 to track that.

[2016-10-06 23:08] ilovezfs commented on #776
@justinclift Mind giving this patch to qscintilla2 a try?
https://gist.github.com/ilovezfs/dff9d68264e513419e8830a804acb0b5

[2016-10-07 10:30] justinclift commented on #776
Sure, will do.  Will get the Xcode 8 install happening again shortly to test with. :smile:

[2016-10-07 10:33] revolter commented on #776
I'll test this tonight too.

[2016-10-07 10:34] ilovezfs commented on #776
Thanks!!!

[2016-10-07 10:38] revolter commented on #776
@ilovezfs, I guess that it worked for you with that patch, right?

[2016-10-07 10:38] justinclift commented on #776
@revolter This is the patch from @ilovezfs, adjusted to work with our QScintilla: https://github.com/justinclift/sqlitebrowser/commit/4590ff6bf749ca389e66423740c0c199d1b1492d

[2016-10-07 10:39] ilovezfs commented on #776
Yes, it got me all the way to the Octave GUI built under 10.12 with Xcode 8 and Qt 5.6.1 and 5.7.0 (with relevant Qt patches too).

[2016-10-07 10:40] justinclift commented on #776
@ilovezfs Any idea if it's upstream, or been submitted there?  @revolter Asked on their mailing list in regards to XCode8 compile troubles, and no-one bothered to respond. 😦

[2016-10-07 10:43] ilovezfs commented on #776
Nope, I've not poked qscintilla upstream yet with my patch. I'm easily confused when upstreams aren't on GitHub :smiling_imp:

The "revelation" was that all Qt5 reverse dependencies seemed fine except for qscintilla2 so it was actually C++ issue not a Qt5 issue at all.

[2016-10-07 10:46] justinclift commented on #776
Heh Heh Heh 😈

[2016-10-07 10:47] revolter commented on #776
So if it's a C++ issue and not related to Xcode 8, why does it build in Linux?

[2016-10-07 10:49] justinclift commented on #776
XCode 8 probably has a different level of C++ support than XCode 7.x.

To investigate it more closely, we could check what version of clang is bundled with each, and compare C++ support reported by those, then check what your compiler on Linux says it supports.

[2016-10-07 10:54] ilovezfs commented on #776
It's most assuredly an Xcode 8 issue (happens on 10.11 and 10.12 with Xcode 8), but it's not a Qt5 issue other than incidentally.

[2016-10-07 11:02] ilovezfs commented on #776
@justinclift yes that sounds like a good idea. For instance, Xcode 8 supports more of the c++11 standard.

[2016-10-07 11:08] justinclift commented on #776
Yep, it's compiling here perfectly now. :smile:

Tested with XCode 8 on both Qt4 and Qt5.

I'll merge the patch into both master and our v3.9.x branches shortly.

[2016-10-07 11:08] justinclift commented on #776
@ilovezfs Thank you heaps. 😀

[2016-10-07 11:08] revolter commented on #776
Awesome! Do you think it's a good idea to update `QScintilla` before applying the patch?

[2016-10-07 11:11] ilovezfs commented on #776
It would be good to verify the patch doesn't break anything that was working on <= Xcode 7 x <= 10.11, so that we know whether it has to be constrained in any way, but ultimately that's qscintilla2's burden to bear. (e.g., does the patch break Yosemite + Xcode 6 or 7, etc.)

[2016-10-07 11:12] justinclift commented on #776
Hmmm, good point.  I'll test with XCode 7.3.1 again shortly. :smile:

[2016-10-07 11:13] justinclift commented on #776
@revolter Sure.  Probably make it a PR though instead of directly pushing it, so we can do a bit of testing on it first.

[2016-10-07 11:36] revolter commented on #776
I tried updating it hoping it will solve the build problem and I remember it updated with no conflicts or anything.

[2016-10-07 11:41] justinclift commented on #776
@ilovezfs Just tested it here with Xcode 7.3.1 as well.  Still compiling fine with both Qt4 and Qt5.

Looks like a good solution. :smile:

Btw, this is the commit applied to both our active branches: https://github.com/sqlitebrowser/sqlitebrowser/commit/969e263e5bf71e63df8ee908cb4a2014b9a55c9b

[2016-10-07 11:41] justinclift commented on #776
@revolter Sounds good. :smile:

[2016-10-07 11:53] revolter commented on #776
I can't believe this works, and I can finally build it again, and it was such a small fix. Thank you a lot, @ilovezfs!

[2016-10-07 11:55] ilovezfs commented on #776
You're welcome :) Now we can upgrade Qt5 in Homebrew to support Sierra with a clear conscience hehe

[2016-10-07 12:03] revolter commented on #776
@ilovezfs, btw, ilovebrew! I really do <3

[2016-10-07 14:22] justinclift commented on #776
@ilovezfs Do you want to submit the patch to upstream QScintilla?  If you're feeling lazy, we can do it. :smile:

[2016-10-07 15:08] ilovezfs commented on #776
@justinclift that would be awesome. There's little I like less than "reporting upstream"

[2016-10-07 15:28] justinclift commented on #776
@revolter You up for it, or should I?

[2016-10-07 15:30] ilovezfs commented on #776
In case this helps: http://stackoverflow.com/questions/15583604/implicit-instantiation-of-undefined-template

[2016-10-07 15:38] revolter commented on #776
@justinclift I have no idea where the QScintilla source code is

[2016-10-07 15:39] ilovezfs commented on #776
I think someone may keep it printed out in binders under their mattress.

[2016-10-07 16:52] justinclift commented on #776
@revolter No worries, I'll get it done. :smile:

[2016-10-07 17:10] justinclift commented on #776
Initial communication to upstream QScintilla in progress:

&nbsp; &nbsp; https://www.riverbankcomputing.com/pipermail/qscintilla/2016-October/001160.html

[2016-10-07 17:15] ilovezfs commented on #776
@justinclift Thank you so much :bowing_man: You're great :)

[2016-10-08 07:32] kokoar opened #807 "The dmg has wrong field color and can not be changed."
### Details for the issue

### Useful extra information

#### I'm opening this issue because:
- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem
#### I'm using DB4S on:
- [ ] Windows
- [ ] Linux: ( _distro:_ ___ )
- [x] Mac OS
- [ ] Other: ___
#### I'm using DB4S version:
- [x] 3.9.1
- [x] 3.9.0
- [ ] Other: ___
#### I have also:
- [ ] Tried out t

[2016-10-08 08:45] revolter commented on #807
Could you explain it better or better yet, post some screenshots with the problem you're having? It would help us understand it better.

[2016-10-08 08:55] revolter commented on #776
It builds for me too (again ❤️).

[2016-10-08 12:32] MKleusberg commented on #750
@justinclift Did you have a chance to do a screen recording of the scrolling behaviour yet?
Also, does this happen for each table in every database, or just for some of them? Does it depend on the number of rows in a table or the size of the window (i.e. the number of rows shown on the screen)? Is it sort of random or are always the same rows missing?

Lots of questions, I know :wink: But I'm tryi

[2016-10-08 13:16] justinclift commented on #807
Are you meaning this?

![image](https://cloud.githubusercontent.com/assets/897883/17920618/a07dcc70-69a3-11e6-95eb-6ef112923287.png)
(Copied from: https://github.com/sqlitebrowser/sqlitebrowser/issues/737#issuecomment-241970969)

[2016-10-08 13:17] justinclift commented on #807
@revolter It's possible this is another report of what was happening for @MarqueIV on macOS Sierra.

[2016-10-08 13:22] revolter commented on #807
Could be, but the title doesn't say 100% what the problem is, so we need a reply from @kokoar to know for sure.

[2016-10-08 13:24] justinclift commented on #750
Ahhh yeah, I really need to get around to that.

It happens for every table in the database, regardless of # of rows, table size, window size, etc.

My suspicion is it's something to do with the way we're paging things in the backend.  But no more idea than that.

Give me a bit, I'll compile it again and record it now.

[2016-10-08 13:25] justinclift commented on #807
Agreed. :smile:

[2016-10-08 13:59] justinclift opened #809 "Row paging values not cleared from Browse Data table after closing database"
### Details for the issue

Just noticed a small bug on `master`.  When closing a database, the row count in the bottom left of the "Browse Data" tab isn't cleared.
![screen shot 2016-10-08 at 14 55 57](https://cloud.githubusercontent.com/assets/406299/19213598/968bd45e-8d67-11e6-9863-58ef883e909a.png)
### Useful extra information

#### I'm opening this issue because:

- [x] DB4S has a bug

#### I'

[2016-10-08 14:16] justinclift commented on #750
k, screen recording here:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/issue_uploads/DB4S_Issue_750v1.mp4

[2016-10-08 14:17] justinclift commented on #750
There is only one table in the database, so I wasn't able to show it with multiple tables, but it should be clear enough to show the problem.

Can provide the database too if that helps. :smile:

[2016-10-08 14:58] MKleusberg commented on #750
Ah interesting :smiley: Not entirely sure how to track this down though. Can you do me a favour and tell me the value in Preferences -> Database -> Prefetch block size as well as recording this again with the SQL log opened?

[2016-10-08 15:01] justinclift commented on #750
Yep, can do.  1 min. :smile:

[2016-10-08 15:42] justinclift commented on #750
@MKleusberg As a thought towards debugging, maybe we should add some println() style statements to the SQL Log, showing the values of whatever seems appropriate?  I'm completely ok with compiling stuff and recording again.  I just don't know which things we'd be interested in. :wink:

[2016-10-08 16:01] MKleusberg commented on #750
@justinclift Yes, let's do that :smiley: To be honest, I still don't see the source of the problem, though it definitely feels like we're getting closer.

Can you try this hacky patch? Just scroll all the way down and paste the SQL log. No screen record needed this time :smiley:
[code]

[2016-10-08 16:30] justinclift commented on #750
Done. :smile:

[code]

[2016-10-08 16:31] justinclift commented on #750
It seems like the table inside the enclosing widget knows the full table size.  It's just the outside scroll thing seems clueless. 😦

[2016-10-08 16:39] MKleusberg commented on #750
Yeah, the problem seems to be with the scrollbar itself :confused: Let's do some further testing. Here's an updated patch. It need's to be applied on a clean head, i.e. not on the last patch. Again, I only need the SQL log.

[code]

[2016-10-08 16:42] justinclift commented on #750
Sure. :smile:

[code]

[2016-10-08 16:49] justinclift commented on #750
Hmmm, those row values in the bottom left.  eg: `16657 - 16670 of 499723`

Looking at the .ui and source, that "to" value (the middle one), seems to be getting involved with the false maximum:

* https://github.com/sqlitebrowser/sqlitebrowser/blob/969e263e5bf71e63df8ee908cb4a2014b9a55c9b/src/MainWindow.cpp#L680

The code for that line is:

[code]

Perhaps either `dataTable->height()` is returning

[2016-10-08 16:54] MKleusberg commented on #750
I think the code in MainWindow.cpp is working correctly. All it does is getting the row numbers of the first and the last visible row in the table view. And as far as I can tell from your videos it's doing that correctly. So the problem must be in the table view somewhere and the fale maximum value at the bottom is just an effect of that.

The scrollbar is also being set as expected. Looking at yo

[2016-10-08 17:00] justinclift commented on #750
You're probably right.  If it helps though, this is the output from scrolling to the end of the table, using this [simple patch](https://github.com/justinclift/sqlitebrowser/commit/def049a8d314f8e4f6cd5fdfca76c6d6077ffcfc) on top of your 2nd one:

[code]

[2016-10-08 17:00] MKleusberg commented on #750
Next try:
[code]

[2016-10-08 17:02] justinclift commented on #750
Hmmm, looking at my output first (I'll try your patch in a second), that visualIndexAt() call is definitely returning incorrect values.

[2016-10-08 17:02] justinclift commented on #750
k, I'll try your patch next.  Gimme a minute. :smile:

[2016-10-08 17:04] MKleusberg commented on #750
The dataTableHeight value in your log is constant. No idea if it's correct but it looks plausible. And it definitely should be constant as long as you don't resize the window. So as far as that goes it looks all good. The to value is wrong of course, but that's ok as long it's correct in relation to the from value: it should be the from value plus 14 or 15 in your case.

[2016-10-08 17:08] innermous commented on #750
Why not use qobject_casts?

[2016-10-08 17:08] justinclift commented on #750
Yeah, the "from" value is 16658, the "to" value is 16670.  No worries with that then. :wink:

@MKleusberg Output from your patch:

[code]

[2016-10-08 17:22] MKleusberg commented on #750
Nope, this didn't reveal anything :crying_cat_face: I'm running out of ideas now. But let's try this slightly modified patch:
[code]

In this I've also changed the case to qobject_cast for Vlad :wink:

[2016-10-08 17:28] justinclift commented on #750
No worries, will try in a second.

Does it help that I can breakpoint on things, and potentially go poking around for values to look at? eg:

![screen shot 2016-10-08 at 18 27 01](https://cloud.githubusercontent.com/assets/406299/19214838/fb5109e6-8d84-11e6-9993-a8d935f0fbb0.png)

[2016-10-08 17:32] justinclift commented on #750
Output from the new patch:

[code]

The position_* values seem like we're getting closer. :smile:

[2016-10-08 17:36] MKleusberg commented on #750
The only question is why they aren't even close to the ```value``` value.

Can you try setting the Prefetch value in the Preferences dialog to 500000 and see what happens? If there are still problems it's definitely not the prefetching that's causing trouble here.

[2016-10-08 17:38] justinclift commented on #750
Same problem.  Damn. 😦

[2016-10-08 17:41] MKleusberg commented on #750
And there are no more appearances of ```ExtendedTableWidget::vscrollbarChanged``` lines in the log I guess? Also I'm now online in Gitter, so we can chat there :smiley:

[2016-10-08 17:44] MarqueIV commented on #750
Just jumping in here with zero experience with this code, but reading the thread so far, could it be an issue of an internal window's frame not being properly constrained by the outer 'viewport' window (and by 'window' I mean control, whatever).  I've seen cases where people have tried implementing their own scrolling mechanism and the math has gotten mixed up between what you're seeing, what you'

[2016-10-08 17:50] justinclift commented on #750
@MarqueIV Makes sense to me. :smile:

[2016-10-08 17:57] MKleusberg commented on #750
I was thinking about something similar, too. But it looks like we're not really interfering with the scrolling in any way. As long as the window isn't resized and there are no prefetches to be made (we disabled that by setting the block size to 500k), we're not doing anything that would affect scrolling. At least I think so.

[2016-10-08 18:10] innermous commented on #750
@MKleusberg ahaha :) I was just saying.

[2016-10-08 21:44] justinclift commented on #750
🎉   Fixed by @revolter in https://github.com/sqlitebrowser/sqlitebrowser/commit/e5bca9d2dbeb92cc18cda9d0d217a8480e871a08. 🎉  😁

[2016-10-08 21:44] #750 closed

[2016-10-08 22:15] MarqueIV commented on #750
So is the fact that the other bug was closed also saying this one is now too?  If so, when are the next binaries going to be made available?

[2016-10-08 22:26] justinclift commented on #750
Well, there are the nightly builds.

Are you waiting on something in particular? :smile:

There is a possibility of us doing a 3.9.2 release in the near future, with stuff like this + memory leaks and some other minor stuff included.  But, that's not guaranteed to happen, it's just an idea being considered. :smile:

[2016-10-09 00:22] #809 closed

[2016-10-09 00:51] justinclift commented on #809
Awesome. :smile:

[2016-10-09 01:48] MarqueIV commented on #750
No, no rush. Just wondering! :)

[Sent from my... wait... does anyone really read this part?!?]

[2016-10-09 12:42] justinclift commented on #750
No worries at all. :smile:

Aside from a potential 3.9.2 release, the next major release will be 3.10.0, and we don't really have a firm timeline for that yet.  The main thing's we're wanting to get into 3.10.x are better [foreign key/constraint support](https://github.com/sqlitebrowser/sqlitebrowser/projects/2), and also "reasonably ok" integration with our new [DBHub.io](https://dbhub.io) projec

[2016-10-09 12:46] mrexodia opened #812 "Thank you!"
Just a message to say thank you for developing this tool. I use it a lot and it helps me out tremendously every single time! ❤️

[2016-10-09 12:59] justinclift commented on #812
Awesome!  You're welcome @mrexodia. 😀

[2016-10-09 12:59] #812 closed

[2016-10-09 13:00] justinclift commented on #812
We do accept PR's too btw (hint hint). :wink:

[2016-10-09 13:51] chrisjlocke commented on #812
And beer.

[2016-10-09 23:31] martrs opened #813 "keep database-specific view column widths"
### Details for the issue

Make table view's column widths persistent for each database so that when the database is closed and re-opened, the browser view displays table columns in the same width as they were before closing, instead of the default column widths.

### Useful extra information

Maybe the widths can be stored in ~/sqlitebrowser.conf as part of recentFileList or additional entries fo

[2016-10-09 23:46] martrs commented on #813
DIdn't realize there is a menu entry to open and save project that does exactly what the issue was asking. Closing as non-issue.

[2016-10-09 23:46] #813 closed

[2016-10-09 23:53] justinclift commented on #813
No worries at all.  I'm starting to think a manual - or at least an intro page pointing out stuff like this - might be useful for people.

Thoughts? :smile:

[2016-10-10 07:04] roman-ku opened #814 "The Program Does Not Adjust to Different Density Displays"
### Details for the issue

The program looks funny on my computer. I think it has something to do with the density of the Surface Book Display. And the program is not programed to respond to changing the density.

![001040](https://cloud.githubusercontent.com/assets/10580420/19228744/e9d3bcba-8e7c-11e6-84bc-dde6925d256b.png)

### Useful extra information

#### I'm opening this issue because:

- [

[2016-10-10 08:51] innermous commented on #814
How come it's not? From what I can tell tabs on your screenshot can be scrolled, so you are able to switch between them.
There's no *expected behavior* explained, so there's no subject currently. If you could provide some suggestions how it should handle different density displays, we would discuss further details.

[2016-10-10 09:03] chrisjlocke commented on #814
The general font size looks large, compared to the caption and menu font size.  Shouldn't they all be the same?  All fonts looks the same size on my system...

![image](https://cloud.githubusercontent.com/assets/7872218/19231237/d6a7538c-8ed0-11e6-88fa-e68c4284a32d.png)

[2016-10-10 09:08] revolter commented on #814
@chrisjlocke, I think that's @roman-ku's problem actually. What Windows version are you two using?

[2016-10-10 09:19] chrisjlocke commented on #814
I'm on Windows 10, but with a 'standard' display.  I don't have access to a high-res display system to test this.