[2016-07-12 11:41] justinclift commented on #633
Sounds like a win all around then. 😄

@DelphiGit Want to make this into a Pull Request, so we can merge it?

[2016-07-12 12:38] justinclift commented on #643
@chrisjlocke Any help with this would definitely be useful. 😀

[2016-07-12 13:00] justinclift commented on #643
With this particular issue, I kind of wondered if maybe the punctuation symbols in some strings were doing weird things for the translations.

After a bit of investigation, it does seem like this is at least part of the problem.

For the French language example, here is what the UI looks like before investigating the punctuation symbols:
![screen shot 2016-07-12 at 13 43 01](https://cloud.githubus

[2016-07-12 13:10] justinclift commented on #643
As a data point, this doesn't look to be too complicated.  Just went through the French UI and fixed the main strings for the initial UI.  I'll commit the change to our repo in a minute too:
![screen shot 2016-07-12 at 14 08 20](https://cloud.githubusercontent.com/assets/406299/16768033/564465b8-483a-11e6-9ef3-3aa5af62970d.png)

[2016-07-12 13:20] justinclift commented on #636
@uguraba ping?

[2016-07-12 13:46] chrisjlocke commented on #643
I'll set up a VM following your examples / instructions to create a Windows development area and have a go... going through the files sounds doable, but 'rebuilding the project' is something I've not done before... but I like a challenge!*

*If supplied with enough beer and sweets.

[2016-07-12 16:45] jungle-boogie commented on #639
@chrisjlocke, that video great. thanks for recording it and illustrating the problem.

@karim, I apologize for misunderstanding what you were indicating as the problem.

[2016-07-12 16:57] DelphiGit commented on #633
A pull request has been made. :smile:

[2016-07-12 17:59] justinclift commented on #633
Thanks @DelphiGit, that's awesome. 😀

Any interest in tackling other things too?

[2016-07-12 17:59] #633 closed

[2016-07-12 18:00] justinclift commented on #634
@venetasoft ping?

[2016-07-12 18:01] justinclift commented on #627
Thanks @tonypdmtr, that's an interesting catch. :smile:

[2016-07-12 19:07] DelphiGit commented on #633
You're welcome @justinclift.
Tackling other things.... sure, do you have more dialogs that needs to be centered? :wink: But seriously, do you have anything particular in mind? I'm still new to Visual Studio, C++, Qt, yeah basically everything in your brilliant Windows Build Guide. :smile:

[2016-07-12 19:25] justinclift commented on #394
@DelphiGit Should this one be closed now that your fix for #633 is merged?

[2016-07-12 19:26] justinclift commented on #413
@DelphiGit Same thought with this.  Should it be closed now too?

[2016-07-12 19:28] justinclift commented on #633
@DelphiGit Actually thinking this one: https://github.com/sqlitebrowser/sqlitebrowser/issues/621

Unless you want a C++/Qt one, to gain experience with that side of things?

[2016-07-12 20:55] revolter commented on #639
Sorry, It didn't have anything to do with #510. I managed to reproduce and solve it in the latest PR. @karim can you test it? 😄

[2016-07-13 00:59] justinclift commented on #639
@karim Here's a once off Win64 build including the proposed fix by @revolter:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/win64/sqlitebrowser-win64-201607130156-issue639v1.exe

Does it still crash for you?

[2016-07-13 02:14] karim commented on #639
@revolter Thanks for the fix. I was waiting for it to be merged to test it.

@justinclift I'm unable to run DB4S after installing the file you linked. It is showing me this error..

![](http://i.imgur.com/6MTZCc4.jpg)

I have vcredist_x64.exe installed on my system.

![](http://i.imgur.com/v2NMqy4.jpg)

Also, it seems that DB4S installs it during setup too.

![](http://i.imgur.com/FJSOBnL.jpg)

Th

[2016-07-13 04:48] DelphiGit commented on #413
Yes @justinclift I was going to suggest that myself, both this and #394, plus also #342.

[2016-07-13 05:00] DelphiGit commented on #633
@justinclift  If I can find the piece of code that performs the launch I should be able to fix the security issue. Right now I don't know where to start looking, so any hints are welcome. :smile:

[2016-07-13 05:17] chrisjlocke commented on #639
According to Stack Overflow...

[2016-07-13 10:01] justinclift commented on #639
Gah yeah... that's exactly the problem.  I remember thinking "Lets build this in Debug mode, the extra info might be useful for any crashes".  Without realising we'd need a debug version of other libraries too.

Well, so much for that idea. :wink:  Sorry about that. 😦

I'll rebuild it in Release mode in a bit, so it uses the normal .dll.

[2016-07-13 10:30] justinclift commented on #639
@karim In theory, this one should run for you (tested on a VM here without MSVC installed).  It's a Release build version including the fix by @revolter. :smile:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/win64/sqlitebrowser-win64-issue639v2-201607131125.exe

[2016-07-13 10:31] justinclift commented on #413
Awesome, thanks. :smile:

[2016-07-13 10:31] #413 closed

[2016-07-13 10:31] justinclift commented on #394
Closing this now, as @DelphiGit has fixed it in #633. :smile:

[2016-07-13 10:31] #394 closed

[2016-07-13 10:33] justinclift commented on #342
@meNESS This has finally been fixed. 😁

@DelphiGit did it for #633 (thanks!), so closing this now. :smile:

[2016-07-13 10:33] #342 closed

[2016-07-13 10:42] justinclift commented on #633
Sure. :smile:

The NSIS packaging part, kicked off by the `PACKAGE` solution in MSVC has its bits scripted [here](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMakeLists.txt#L354-L386).

Looking at the screenshot from #621, the unquoted line is probably this one [here](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/CMakeLists.txt#L378).

Hopefully it's as simple a fix as

[2016-07-13 10:51] justinclift commented on #643
Heh Heh Heh

The setup for the Win dev environment is kind of tedious.  Lots of downloading at the start to collect things, then lots of launching installers, picking the options (as given :smile:), then waiting for installers to finish.  The only challenge for that bit is patience. :wink:

Once you have that though, you're all set.  The instructions take you through building the project, so you'l

[2016-07-13 11:04] justinclift commented on #157
Out of curiosity, do you know if Qt5 support is being added to Blue Lion?

[2016-07-13 11:07] TeLLie commented on #157
Hihi

if I'm right they start with Qt v5+ next month...
Op 13 jul. 2016 13:04 schreef "Justin Clift" <notifications@github.com>:

[2016-07-13 11:16] justinclift commented on #157
That's good news.  We've been [thinking of going to moving to Qt5 only](https://github.com/sqlitebrowser/sqlitebrowser/issues/603), so I'd been concerned we'd have to drop OS/2 support. :smile:

[2016-07-13 11:50] karim commented on #639
@justinclift Yes! It works! :smile:

@revolter Thanks for this fix!

And thanks to everyone here for helping with this issue. :+1:

[2016-07-13 12:08] justinclift opened #647 "Fix tab order of widgets in all windows"
One thing that keeps bugging me, is that the tab order of the widgets in our windows/dialogs seems very random.

We should probably fix that, to make using the keyboard more practical - or even easy :wink:.

[2016-07-13 12:43] #639 closed

[2016-07-13 12:46] justinclift commented on #639
Excellent. :smile:

Just merged the fix, so it should be in the nightly builds from tomorrow onwards.  @karim would you be ok to try one of the nightlies tomorrow, just to double confirm things?

[2016-07-13 13:05] karim commented on #639
@justinclift Sure. I will report back after checking it.

[2016-07-13 14:03] #602 closed

[2016-07-13 14:50] justinclift opened #648 "Weird vertical scrollbar resizing problem in Browse Data tab"
Noticed a weird problem with the vertical scroll bar in the Browse Data tab.

For this small example database, there are 33 rows of data.

The problem is that the vertical scroll bar on the right isn't scrolling to the bottom of the data set correctly.  No idea why.
![screen shot 2016-07-13 at 15 37 53](https://cloud.githubusercontent.com/assets/406299/16807611/0551670a-4911-11e6-99c7-f65e61458814

[2016-07-13 15:03] revolter commented on #477
I can't reproduce this either.

But I do encounter a crash quite often that I didn't have time to report. It happens only sometimes (yay) when opening a database while having another database opened already. Either by double clicking the file, either by opening from the app.

I think that maybe that's the real crash.

@pikeas, Are you saying that if you enable file contents preview and try to open

[2016-07-13 15:03] justinclift commented on #648
The data set showing the problem is available online here:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/example_datasets/Belfast%20Bikes%20Docking%20Stations/

[2016-07-13 15:21] justinclift commented on #626
@AO-StreetArt Just noticed your question about no validation of entries based on data type.

Just in case you're still curious about it, yeah, this is intentional. :wink:

SQLite itself considers the flexibility of datatypes to be a feature, and we'd be opening a weird can of worms if we didn't follow with the official position with it. :smile:

&nbsp; &nbsp; https://www.sqlite.org/datatype3.html

[2016-07-13 15:40] jungle-boogie commented on #633
Confirmed this works great on windows 8.1. The edit database cell displays in the same spot all the time.
Thanks a lot for the patch, @DelphiGit!

[2016-07-13 16:10] justinclift commented on #648
This problem still happens even when rolling back the code to last year (eg https://github.com/sqlitebrowser/sqlitebrowser/commit/71b7806f036b262742dd29d3f36b3f98c0b7ef5e), so it doesn't seem to be a new thing.

[2016-07-13 16:10] AO-StreetArt commented on #626
Very good explanation!
--
Sent from Mail.Ru app for Android Wednesday, 13 July 2016, 11:21AM -04:00 from Justin Clift  notifications@github.com :

[2016-07-13 17:06] revolter commented on #648
No problem here with the 3b2c192b version. Can you test the scrollbars in other apps, better yet, Qt apps? And, it may sound dumb, but "did you try turning it off and on again?" I often encounter OS X bugs that disappear after a restart.

[2016-07-13 17:34] DelphiGit commented on #621
@justinclift I have made a commit with a fix to this issue in my master fork. Before I turn it into a pull request I have a question: I previously made a test commit with my ignore-file, but I assume you will be able to pick just the last commit I made, or will everything always be pulled?

[2016-07-13 17:34] justinclift commented on #648
Yeah, I'm thinking giving a restart then compile everything might do the trick. 😦

(and really, *nix based OS's should have that problem.  They're **supposed** to be better engineered. :smile:)

[2016-07-13 17:40] justinclift commented on #621
@DelphiGit The most optimal solution is to chuck your changes into a separate branch.

eg from the command line:

[code]

"Branches" are used to keep groups of related commits together, so things are neat.  Then, when someone clones your repo they can switch to a given branch with one command and only have the commits in it.

So... make a new branch for it. :smile:

[2016-07-13 18:34] DelphiGit commented on #621
Thanks for your advice @justinclift. I think I succeeded. Otherwise, please let me know. :smile:

[2016-07-13 21:13] justinclift commented on #621
Yep, you succeeded, that looks good. :smile:

[2016-07-14 08:30] karim commented on #639
@justinclift I can confirm that this issue (the crash) is fixed in the latest nightly build. But I noticed that #510 is not fixed in this build.

The latest nightly build only fixes the crash bug. Showing \_rowid\_ column doesn't refresh it until you switch "Browse Data" tab and switch back to it again, or if you click on any of the columns filters.

From nightly build..

![db4s](https://cloud.git

[2016-07-14 11:45] justinclift commented on #639
@karim Just tried it here, and you're completely correct.  For some unknown reason, the fix for #510 isn't working, even though it was included in the build.

I'll reopen #510, and continue this there.

[2016-07-14 11:47] justinclift commented on #510
Turns out this isn't quite as fixed as we'd thought. 😦

@karim pointed out in https://github.com/sqlitebrowser/sqlitebrowser/issues/639#issuecomment-232600998 that the nightly build, which included this fix... still has the issue.

Looking at the [build log](http://sqlitebrowser.oldsch00l.com/build.log), that shows it using the correct git commit for building from.  Which means the code wasn't som

[2016-07-14 12:07] revolter commented on #510
I think I'm using Qt4 home, where I solved this. I have no idea why wouldn't it work. And, how comes it worked with another nightly build?

[2016-07-14 12:13] justinclift commented on #510
Yeah, I just tried it here on OSX with Qt4.  The bug is definitely not a Qt4/Qt5 problem.

Our official nightly builds are a static build, cross compiled on a Linux host using MXE.

The one off Windows build I created for testing the fix was made using MSVC on Win 8.1, and uses shared libraries.

So... yeah... I'm not sure either.  ... and I'm not sure what to check next. 😦

[2016-07-14 12:17] revolter commented on #510
Wouldn't it be simpler for @karim to test again the latest nightly build today, which is guaranteed (I guess) to include the fix?

[2016-07-14 12:18] karim commented on #510
The fix is working with this build http://nightlies.sqlitebrowser.org/win64/sqlitebrowser-win64-issue639v2-201607131125.exe but not with this one http://sqlitebrowser.oldsch00l.com/sqlitebrowser.exe.zip

[2016-07-14 12:19] justinclift commented on #510
Hmmm, I suppose it won't hurt.  I was under the impression that the build log for http://sqlitebrowser.oldsch00l.com/sqlitebrowser.exe.zip was showing the fix already included. :wink:

[2016-07-14 12:21] justinclift commented on #510
Ahhh, as a data point, the domain name for the nightlies might be giving the wrong impression with this one:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/win64/sqlitebrowser-win64-issue639v2-201607131125.exe

That one's not **really** a nightly build.  It's just a once off I chucked on the server for people to test.

Maybe I should rename that `win64` directory to `win64-onceoffs` or somethin

[2016-07-14 12:29] revolter commented on #510
Yes, I think it's a good idea not to mix nightlies and manual builds.

[2016-07-14 12:31] justinclift commented on #510
k, moved those two into a hopefully-better-named subdirectory instead:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/win64-onceoffs/

[2016-07-14 13:14] chrisjlocke opened #650 "[Suggestion] Default data type for new fields"
I'm creating a database with about 16 tables, and when new fields are created with the default 'Integer' type, 98% of the time I will have to change this to the 'Text' data type.  While its easy to change from Integer to Text via simple scroll of the mousewheel, it would be preferable to have an option ("Another one?!  Argh!!!!!") so that new fields could be default to whatever I wanted.
Alternati

[2016-07-14 13:25] revolter commented on #650
Hmm, for me, new fields are of type `Integer` by default.

[2016-07-14 13:31] chrisjlocke commented on #650
Thats why it would be an option! ;)

On Thu, Jul 14, 2016 at 2:25 PM, Iulian Onofrei <notifications@github.com>
wrote:

[2016-07-14 13:34] justinclift commented on #650
Yeah, can't see why it would hurt. :smile:

[2016-07-14 13:44] revolter commented on #650
@chrisjlocke, I know it would be an option, but you said that for you, new rows are defaulting to `Text`, and I was wondering if it's not a bug (or feature) that I didn't know about. Moreso because you said that it's happening in `98% of the time` 😟

[2016-07-14 13:57] justinclift commented on #648
So, this is only happening when SQLCipher support is enabled.  Only tested it on OSX so far, I'll see if the same is happening on Win64 in a bit.

[2016-07-14 14:05] justinclift commented on #648
k, it doesn't happen for Win64 with SQLCipher.  Weird.

[2016-07-14 14:08] revolter commented on #648
Well, I only use SQLCipher enabled builds and I had no problem with the scrollbars. And even if it was, from what I learned until now, there are small chances this would be a DB4S bug, and more chances of a Qt bug. Correct me if I'm wrong.

[2016-07-14 14:25] justinclift commented on #648
Interesting.  When you tried, was it OSX?

[2016-07-14 14:29] justinclift commented on #648
I've tried it with both Qt 4.8.7 from Homebrew, and Qt 5.7.0 installed through the Qt online installer.

Hmmm, I still have my old Qt OSX installation in a renamed dir.  I'll give that  shot in a minute and see what happens.

I really want to focus on #480 today though, so I'll probably ignore this for a bit. :smile:

[2016-07-14 14:34] revolter commented on #648
Yes, I only work/develop/test on OS X.

[2016-07-14 14:37] chrisjlocke commented on #650
Aah, I apologise - my bad English.  What I meant was, each field is indeed created as an Integer as default, but 98% of the time, I have to change this to 'Text'.  Ids, names, addresses, batch numbers (which aren't numbers.... argh!), status codes, etc, etc.  I don't use a lot of Integers.  Even if it created the same field as last time would be helpful - so if you're creating a block of Integers,

[2016-07-14 14:38] chrisjlocke commented on #650
Changing the original post, as its confusing...

[2016-07-14 15:01] revolter commented on #650
Ok, got it, I'll try to implement this in the following days.

[2016-07-14 15:01] revolter commented on #650
@justinclift, What do you think? Default type option in Preferences or automatically save last used type?

[2016-07-14 15:09] justinclift commented on #650
Cool. :smile:

In Preferences somewhere sounds better to me.

[2016-07-14 16:09] justinclift commented on #648
Yeah, I think you're right, this isn't a DB4S code problem.  After nuking Qt Creator 4.0.3, and moving Qt Creator 4.0.0 back into place... things are working again.

Truly weird.

[2016-07-14 16:09] #648 closed

[2016-07-14 21:44] perfect1077 opened #651 ""Don't show again" button doesn't seem to work"
Every time I open up the program it asks me if i want to update, i click "Don't show again" and carry on. When i reopen the program later, the message still pops up asking me if i want to update.

[2016-07-14 22:00] justinclift commented on #651
Oh, that's not good.  From memory, we did have a bug in an older version where it wasn't recognising that "Don't show again" had been ticked.

Which version is this happening to you on?

[2016-07-14 22:27] justinclift commented on #650
@chrisjlocke The code for this by @revolter has just been merged.  Would you be ok to try the nightly build tomorrow, and let us know if it works well from your point of view? :smile:

[2016-07-14 22:30] justinclift commented on #621
So, for this issue to be fully fixed, we need the NSIS guys to update their codebase such that the generated uninstallers don't have the problem.  Once that's done, new/future packages should be created with that, and we should be good. :smile:

[2016-07-14 22:44] justinclift commented on #354
@Sanpasqual123 @glawrence Looking back over some of our older issues which we've not followed up on... do either of you have a machine or VM handy you could test this on again with the later code?  Both us and Qt have had new releases since this was reported last year, so it's worth checking. :smile:

[2016-07-14 22:46] justinclift commented on #379
@finjulhich Never heard back from you.  Any chance you can try the latest build (or even a nightly) and let us know if this is properly addressed for you?

[2016-07-14 22:47] justinclift commented on #421
@Aermec Ping 2?

[2016-07-14 22:48] justinclift commented on #435
@peteristhegreat Is this issue still of use?

[2016-07-14 22:51] justinclift commented on #186
@vassileiosdermentzis How did you go with this?

[2016-07-14 22:52] justinclift commented on #188
Closing this as there's not really anything we can do for it.

[2016-07-14 22:52] #188 closed

[2016-07-14 22:58] vassileiosdermentzis commented on #186
Hello,

I don't think I solved it. Actually I quit being à programmer And I don't
think I am dealing with this anymore. But thank you for your interset
anyway

[2016-07-14 23:22] justinclift commented on #186
Sure, not a problem @vassileiosdermentzis. :smile:

[2016-07-14 23:22] #186 closed

[2016-07-15 05:44] chrisjlocke commented on #650
Wow, thanks @revolter.  Much appreciated.  This will save so much time!  It
was my birthday the other day so this is the best present I received! ;)

On Thu, Jul 14, 2016 at 11:27 PM, Justin Clift <notifications@github.com>
wrote:

[2016-07-15 05:47] karim commented on #510
I tried the latest nightly build just now, and still the same problem.

[2016-07-15 06:05] revolter commented on #510
On what OS?

[2016-07-15 06:05] karim commented on #510
Windows 7 SP1 (64-bit).

[2016-07-15 06:07] revolter commented on #650
I'm glad I could help you :) And happy birthday! 🎉

[2016-07-15 06:29] karim commented on #510
I don't think it is DB4S fault though. It could be a library problem. Cause after I reverted back to official version (3.8.0), show rowid is now working correctly.

To make it more clear, I was using the official version (3.8.0) and I had both problems (crashing, and not refreshing rowid). Then I uninstalled it, and installed the one @justinclift made in the the "win64-onceoffs" folder, and it fix

[2016-07-15 07:15] chrisjlocke commented on #650
Just tested the nightly build, and this works perfectly!  Thanks again!

[2016-07-15 07:19] revolter commented on #650
Awesome!

[2016-07-15 07:19] #650 closed

[2016-07-15 07:20] shubham-azova commented on #12
With SQLCipher setup on Ubuntu, you can try info available here in [SO thread](http://stackoverflow.com/a/25132478/2624806).

[2016-07-15 07:24] Shubhampatni86 commented on #12
You can try with SQLCipher setup on Ubuntu mentioned here in [SO thread](http://stackoverflow.com/a/25132478/2624806).

[2016-07-15 10:25] revolter commented on #147
@Tythesly, I don't know how would this work. Should it search a string in all the columns of all the tables?

[2016-07-15 12:32] justinclift commented on #621
As part of a discussion with the original reporter via email, and Amir Szekely (@kichik) from NSIS, Amir pointed out it seems like CMake is the one at fault in this instance.  CPack (part of CMake) generates the script with NSIS uses.  The template for that script isn't properly quoting things.  eg:

* https://github.com/Kitware/CMake/blob/master/Modules/NSIS.template.in#L916
* https://github.com/

[2016-07-15 12:41] justinclift commented on #651
@perfect1077 ping?

[2016-07-15 13:35] justinclift commented on #621
After experimenting with a few things, adding quotes to the first part of the ExecWait line pointed out by Amir fixed the issue:

&nbsp; &nbsp; https://github.com/justinclift/CMake/commit/af65a04f690e1d6e6e2d3aa3467116689ab12b4f

Hopefully Kitware gets a new release out soon.  If not, we can just used a manually patched version of the template file in CMake when making our next release.

[2016-07-15 14:16] justinclift commented on #510
Hmmm, well that's just weird. :wink:

[2016-07-15 14:20] justinclift commented on #12
Yeah, SQLCipher support definitely works for *nix based OS's (eg Ubuntu).

[2016-07-15 16:28] finjulhich commented on #379
sorry about the delay, confirmed working, thanks.

[2016-07-15 16:28] #379 closed

[2016-07-15 17:13] karim commented on #510
True. But to be honest, it could be also something on my PC. Anyway, I'm using the version you made and it is working fine. I will just wait for the next release (3.9.0) and see how it goes. Thanks @justinclift and @revolter for your help. :+1:

[2016-07-15 17:16] justinclift commented on #379
Thanks @finjulhich. :smile:

[2016-07-15 17:17] justinclift commented on #510
No worries at all, sounds like a decent plan. :smile:

[2016-07-15 17:17] #510 closed

[2016-07-15 18:10] peteristhegreat commented on #435
I'll try rebuilding it with 4.6 on a home computer this weekend. I found
those errors on a locked down computer without internet access.  Sorry
about the late response.  Does it still build easily with 4.8 since
supporting qt 5?

-Peter

On Thursday, July 14, 2016, Justin Clift <notifications@github.com> wrote:

[2016-07-15 18:11] revolter opened #653 "Ignore transaction control statements when executing SQL"
When executing SQL that contains the transaction control statements `BEGIN TRANSACTION;` and `COMMIT;`, it fails with the error `cannot start a transaction within a transaction: BEGIN TRANSACTION;`.

Extracted from #556.

[2016-07-15 18:11] #556 closed

[2016-07-15 18:15] revolter opened #654 "Cancel button in export database to SQL doesn't work"
Going to `File > Export > Database to SQL file...` and pressing the `Cancel` button in the popup that appears, it doesn't close.

[2016-07-15 19:00] revolter commented on #551
@justinclift Where is the OS X building defined?

[2016-07-15 19:04] revolter commented on #521
@justinclift, Shouldn't this be closed now?

[2016-07-15 19:11] justinclift commented on #435
Yep, it definitely builds with both (at least) Qt4.8 and Qt5.6.

My main dev desktop is OSX, and I'm compiling against Qt4.8 presently.  Was compiling (fine) against Qt 5.6 yesterday. :smile:

[2016-07-15 19:15] revolter commented on #641
I can't reproduce this with the latest build.

@justinclift, Wasn't it fixed after `3.8.0`?
@ejohn54, Could you please try [the latest nightly build](http://sqlitebrowser.oldsch00l.com/sqlitebrowser.exe.zip)?

[2016-07-15 20:14] innermous opened #657 "Export table(s) as CSV file causes assertion failure"
Just open database thru File menu and choosing the most recent db. Clicking File->Export->Table(s) as CSV file.
This appears to be random behavior, it doesn't work every time I try to export it.
[code]

[2016-07-15 21:02] #654 closed

[2016-07-15 21:06] justinclift commented on #657
Hmmm, if it can be triggered by launching DB4S from the command line, I wonder if that would be useful?  eg run the launch in a loop (eg 99 times), and see if there's debugging/instrumentation type code you could add to further diagnose the issue?

[2016-07-15 21:06] revolter commented on #657
I successfully reproduced this too. The crash occurs [here](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/ExportCsvDialog.cpp#L57).

[2016-07-15 21:07] revolter commented on #657
From some reason, `items` is empty.

[2016-07-15 21:08] justinclift commented on #653
Is this related to #568 as well?

[2016-07-15 21:13] revolter commented on #653
It looks like it is, indeed.

[2016-07-15 21:15] justinclift commented on #556
@elpoolet Is a fix for the exception with "cannot begin a transaction within a transaction" still of interest to you?

A proposed fix for this can been created by @revolter. It would be useful to have some people test it with real data before we add it.

If you're using Windows or OSX, I can build a package with the fix included for people to test.

Interested?

[2016-07-15 21:18] justinclift commented on #568
@chrisjlocke Interested in testing out a fix for this?

@revolter Has created a proposed PR ready for testing.  I can create a Windows package with the fix if you're ok to test?

[2016-07-15 21:21] innermous commented on #654
Anybody else can reproduce this?

[2016-07-15 21:24] justinclift commented on #551
Do you mean the DB4S release version number?

For OSX, we've been manually (at release time) making the change to src/app.plist.  It used to also be in CMakeLists.txt, and src/gen_version.h (according to our slightly outdated [https://github.com/sqlitebrowser/sqlitebrowser/wiki/Release-process] doc), but looks like those last two don't have it any more.  That doc should be updated to the current a

[2016-07-15 21:25] revolter commented on #657
Steps to reproduce:

- open database from recents (don't know if necessary)
- select `File > Export > Database to SQL file...`
- close it
- select `File > Export > Table(s) as CSV file...`

and on [this line](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.cpp#L1064), the `current_table` is set to something like `Tables (5)`, which I think is searched in the tables list,

[2016-07-15 21:26] revolter commented on #654
I reproduced it consistently a couple of times, then added that modification and it worked. But now I can't reproduce it again. Most probably a Qt or OS X bug...

[2016-07-15 21:26] justinclift commented on #521
Yep, well spotted. :smile:

[2016-07-15 21:26] #521 closed

[2016-07-15 21:28] innermous commented on #657
@revolter you don't always need to export->close->export, sometimes it crashes on the very first export.
I'll investigate this myself and send a patch soon.

[2016-07-15 21:36] justinclift commented on #641
@revolter Just tried here with the latest build too, loading a table, then going to Browse Data, then running a UNION SELECT query on it via the Execute SQL tab, then going back to Browse Data.

The ordering is keeping constant for me.

@ejohn54 If you can spare the time to check the latest nightly build, it would really help.  If you need a Win64 package, then this one from earlier today (solving

[2016-07-15 21:38] justinclift commented on #654
Sounds we're all having occasional gotchas with the current code recently.

... it's probably caused by some of the code I wrote. 😈

[2016-07-15 21:38] revolter commented on #551
@justinclift, Great, thanks! Added a PR for this.

[2016-07-15 21:40] revolter commented on #654
No, it's the abnormal heat. Sorry!

[2016-07-15 21:46] justinclift commented on #551
@Vidbuf In theory :smile:, this should be fixed now.  Do you have time to test the nightly build (tomorrow) to verify it from your point of view and let us know?

[2016-07-15 21:47] ejohn54 commented on #641
Hi I just tried these two nightly versions.

The Win64 version from http://nightlies.sqlitebrowser.org/win64-onceoffs/  still has this issue occur.
The Win32 version from http://sqlitebrowser.oldsch00l.com/sqlitebrowser.exe.zip seems to work fine.

Again I can see it changing the order by to DESC in the SQL log window.

SELECT type,name,sql,tbl_name FROM sqlite_master UNION SELECT type,name,sql,tb

[2016-07-15 21:50] elpoolet commented on #556
Hi Justin

Sure I'm always interested.
No problem to test this option with my real data.
Let me know when the build is ready in order I test it.

Thanks a lot.

Le vendredi 15 juillet 2016, Justin Clift <notifications@github.com> a
écrit :

--
--------------
Laurent VOUDON

[2016-07-15 21:50] justinclift commented on #641
@ejohn54 Thanks! :smile:

@revolter Looks like we still have the problem then. 😦

[2016-07-15 21:52] justinclift commented on #556
Sure, do you need a Windows or OSX build? :smile:

[2016-07-15 21:53] revolter commented on #641
Is it a 64bit related issue? I have no idea what 64 implies (and breaks) related to code.

[2016-07-15 21:54] justinclift commented on #641
Yeah... same here. 😦

[2016-07-15 21:56] revolter commented on #641
@innermous Any idea / hints with this one?

[2016-07-15 22:07] innermous commented on #641
@revolter I am working on another rowid issue right now, can't help much.

[2016-07-15 22:20] justinclift commented on #556
@elpoolet If you're on Windows, this should work for you:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/win64-onceoffs/sqlitebrowser-win64-issue556v1-201607152315.exe

Please try it out, and let us know if it fixes the exception for you. :smile:

[2016-07-17 01:18] innermous commented on #640
I don't get it.
```showRowidColumn(bool show)```
function seems not good in means of good interfaces. It overdoes what's stated in it's title, it not only toggles rowid column, but also regenerates all other filters aswell. Which, well, causes lots of mess, when one tries to make changes to it!
I'll try to make things to make their own job (i.e. showRowidColumn just toggles column, that's all!) an

[2016-07-17 04:55] innermous commented on #657
Actually, I suggested *not* to use code like this back in the days
[code]
It might be tricky sometimes. I really should do some changes on this later :smile:

@revolter
Tables(5) is just root item of the tree holding all those tables you have. Someone who had written this code
[code]
was very risky :smiling_imp:

[2016-07-17 06:01] innermous commented on #657
There's actually no safe way to determine, if selected item in dbtree is actually table, so all should depend on extra check in ExportCsvDialog constructor. If match is found - appropriate item is selected. As simple as it gets.

[2016-07-17 06:04] innermous commented on #657
Fixed by [2c1ab5](https://github.com/sqlitebrowser/sqlitebrowser/commit/2c1ab5ba7b143c592f5f40a3e2c6f1d676d2bd1f)

[2016-07-17 06:04] #657 closed

[2016-07-17 08:55] revolter commented on #657
I saw that line too and was pretty terrified. 😲
And I knew that the "Tables (5)" is the text of some UI element that's NOT a table, but didn't have time to search for it.

Aren't tables defined by some models? As you said, we should work with models, not with UI texts.

[2016-07-17 09:14] innermous commented on #657
In
[code]
we are exactly working with models. Problem is, that there are plenty of nested items, such as indices and so on. You can't precisely determine if the parent's parent item is QModelIndex(), that parent item is actually "Tables" and so on. As for me, I don't see a reason to heap all those constructions if we are searching thru list with exact match anyway. Code is absolutely safe now in t

[2016-07-17 09:20] innermous commented on #628
We should really start working on this issue, since a great amount of constraint bugs have been reported so far.
Let's start from the very beginning. Imagine we have a table, that doesn't fail when you add new row in a table with all those possible weird constraints :smile: It gives you possibility to edit fields of new record.
Then, eventually, you change focus, or press enter, or whatever - and

[2016-07-17 10:00] revolter commented on #657
Are you sure that that line is working with models? I have no idea what models look like in Qt, but having `ui` and `sibling` there, it definitely looks to me that it's going through the UI widgets, and not some backing variables.

And, the code is safe, meaning it doesn't crash the app, but it's not completely correct. It shouldn't get in that method with the string `Tables (5)` as a `selected ta

[2016-07-17 11:48] justinclift commented on #657
Anyone wanting to clean up / improve the code base is definitely welcome to. 😀

[2016-07-17 11:51] justinclift commented on #628
Timing wise... I'm kind of thinking we should do it after 3.9.0 is released - which I'm hoping to get done in maybe a week or 1.5 weeks.

Saying that because it sounds like changing the code in this way will give us a better foundation to build on... but at the same time is likely to show up lots of weird edge case bugs that we haven't fixed.  Better to do that for the release after 3.9.0 (4.0.0 m

[2016-07-17 11:56] innermous commented on #657
@revolter no, it's work with models.
Yep, i know it's not precise and perfect. But the result will be the same, you know. It is checked on dialog constructor's side anyway. Further checks on mainwindow side will just cause more instructions, that doesn't sound like an improvement for me.
That's just my imo, I am sure me and @justinclift will be glad to review possible improvements (just don't remo

[2016-07-17 12:09] innermous commented on #628
My only thought is this is kinda highest priority issue. It's not cosmetic or some not game breaking glitch. But it really reminds about itself every time. I had some research on it a month ago, now I am back to it again.
Help is really appreciated,  as I mentioned [here](https://github.com/sqlitebrowser/sqlitebrowser/issues/628#issuecomment-233172979).
But well it can wait till release. I think t

[2016-07-17 12:12] justinclift commented on #628
Yep, same thought.  And the "wait one release"... think of it more like "wait just a few weeks". 👼

[2016-07-19 10:07] #653 closed

[2016-07-19 10:08] revolter commented on #568
@chrisjlocke Ping :D

[2016-07-19 10:24] chrisjlocke commented on #568
Sorry - email has been playing up and I didn't see this notification...
Sure - happy to test all fixes!  Should it fix the 'not in a transaction' bug, or the speed bug?  Or should I just report my findings?

[2016-07-19 10:28] revolter commented on #568
No problem.
It's about the nested transaction indeed.
And, no, the PR that fixes it isn't merged yet. Maybe @justinclift can help us out with an once-off Windows build.

[2016-07-19 11:28] justinclift commented on #556
@elpoolet ping?

[2016-07-19 11:29] justinclift commented on #568
@chrisjlocke Try this one:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/win64-onceoffs/sqlitebrowser-win64-issue556v1-201607152315.exe

Made that for the same issue (reported also in #556). :smile:

[2016-07-19 15:06] elpoolet commented on #556
Sorry,

I had to deal with my car's issues...
Do you have the exe only build..
because I use it as a portable version?
Thanks and please forgive me for the answer dealy..

2016-07-19 7:28 GMT-04:00 Justin Clift <notifications@github.com>:

--
--------------
Laurent VOUDON

[2016-07-19 15:23] justinclift commented on #556
@elpoolet Sorry, I don't have the capability at the moment to generate the exe-only build. 😦

It takes a special setup to do it, and we've not needed to get it happening for anything other than the nightly builds. (so far)

[2016-07-19 15:39] elpoolet commented on #556
OK.
No problem.
i'll test it on an x64 Windows 7 VM with my real data...

2016-07-19 11:23 GMT-04:00 Justin Clift <notifications@github.com>:

--
--------------
Laurent VOUDON

[2016-07-19 15:52] justinclift commented on #556
Cool, that would really help. :smile:

[2016-07-19 20:54] jmucchiello opened #659 "Open Database dialog"
Would it be possible to add file types to the preferences so that the choices of file types is not just *.db and *.*? A low priority item, I realize. But if somewhere in the preference there were a place to add additional file types that would show up in the file open/save dialogs, that would be great.

Maybe even make those items open automatically in the shell. (lower priority)

[2016-07-19 21:28] justinclift commented on #659
Sure.  In theory :smile:, they're pretty easy to add.  The list that's supposed to be showing up at the moment is this:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/FileDialog.h#L20

Though I kind of remember there have been issues on some OS's at times.  eg they don't show up correctly on some OSX versions, so we disabled them all there.  Made it *.* for Mac.

Whi

[2016-07-19 21:59] jmucchiello commented on #659
I would prefer an editable list of extensions somewhere in the preference dialog, which is nowhere near as simple as editing a .h file, I know. But. I use various extensions for various different projects and I doubt they are common with other users. *.PACKAGE, *.CFG, *.OBJECT. See, I doubt many other people would need these.

[2016-07-19 22:03] justinclift commented on #659
Yep, sounds like the kind of thing that belongs in the Preferences dialog.

Shouldn't be super hard to code up. :smile: @revolter any interest?

Actually, just in case... @jmucchiello do you have C++/Qt programming skill (or interest to learn)? 😁

[2016-07-19 22:08] jmucchiello commented on #659
Only 25+years of C/C++ experience (no Qt experience but I understand the gist of it) but I lack the time to work on the browser. If no one gets around to it in a few months to a year, I might find some time. I agree, though, it is probably a good "get your feet wet" project for someone new to the your code base.

[2016-07-19 22:09] justinclift commented on #659
Yeah, time is always the thing that's hard to come by. :smile:

[2016-07-20 05:42] justinclift commented on #659
@jmucchiello Does this seem like it would cover all the needed bits?

![edit file extensions concept 1](https://cloud.githubusercontent.com/assets/406299/16976118/5978739a-4e44-11e6-92d4-f2fbb3b6a4c0.png)

It's just a [quick concept mock up in Balsamiq](https://balsamiq.com/free), so it's easy to change elements in if something needs changing. :smile:

[2016-07-20 05:46] jmucchiello commented on #659
It doesn't need to be prefilled with my needs. Just prefill it with the current defaults.

Databases (*.db)

And then the dialog also adds All Files (*.*) and if someone wants to delete *.db they can. If they want to add new ones they can. And the up and down arrows are also cool.

[2016-07-20 05:46] revolter commented on #659
It's a little more work that the default row type preference feature, and as you know, I don't have time now :( So if no one gets it done in 3 weeks, I'll start working on it.

[2016-07-20 05:57] justinclift commented on #659
@jmucchiello Like this?

![edit file extensions concept 2](https://cloud.githubusercontent.com/assets/406299/16976465/f4e025ba-4e46-11e6-88ec-0def11e1ed40.png)

@revolter Yeah, it's probably yours or @innermous's.  After I get #480 done, I have an idea of other stuff I need to focus on already. :smile:

[2016-07-20 05:58] justinclift commented on #643
@chrisjlocke Had a chance to look at this?

We'll probably do our next release next week, so this needs to be completed (+ verified) by then. :smile:

[2016-07-20 07:45] chrisjlocke commented on #643
I'll set up a virtual machine this morning and follow your instructions. :)

On Wed, Jul 20, 2016 at 6:58 AM, Justin Clift <notifications@github.com>
wrote:

[2016-07-20 12:01] justinclift opened #660 "On OSX, Alt-Delete isn't setting selected cells to NULL"
Noticed a bug while adding debug code to the ExtendedTableWidget::keyPressEvent() method.

While in the Browse Data tab, Alt-Delete is supposed to set all selected cells to NULL.

For me, it's only setting them to the empty string.  The code with the problem is [here](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/ExtendedTableWidget.cpp#L202-L203).

I'll look into this, as I'm alr

[2016-07-20 15:09] MYeager1967 opened #661 "Refresh no longer appears to work..."
I used to be able to refresh the view of the database in the browse data window and see changes. This appears to no longer be the case. If it's by design, so be it. Just thought it was a very handy feature. Now I have to reload the database.

[2016-07-20 15:25] justinclift commented on #661
Refresh is definitely supposed to work. :smile:

Which OS are you on, and which version of DB4S are you using? :smile:

[2016-07-20 15:45] justinclift commented on #660
The likely fix for this is pretty simple:

&nbsp; &nbsp; https://github.com/justinclift/sqlitebrowser/commit/e302adbe7224cf911dd2792018d1c1c18d0904dc

But discovered a more general (and more serious) problem with keyboard control in the Browse Data tab while investigating. (will file another new bug soon)

[2016-07-20 15:50] justinclift opened #662 "Keyboard input to Browse Data tab malfunctioning"
On at least OSX, using the cursor keys to move around in the Browse Data tab only works for a few keypresses. After that, all keyboard input to the widget freezes. 😦

This is completely reproducible for me.

It doesn't seem to have always been this way, because if I grab one of the nightlies from last year (eg 20151130) the keyboard input works fine.

Moving forward a few months though (eg to 2016

[2016-07-20 15:51] justinclift commented on #634
Closing this due to lack of response from @venetasoft. 😦

[2016-07-20 15:51] #634 closed

[2016-07-20 15:52] justinclift commented on #651
@perfect1077 Errr... is this still happening for you?

[2016-07-20 15:52] justinclift commented on #421
Closing this, as it "should be good".

[2016-07-20 15:52] #421 closed

[2016-07-20 15:53] justinclift commented on #435
@peteristhegreat Any luck? :smile:

[2016-07-20 15:54] justinclift commented on #636
Closing this due to lack of response. 😦

[2016-07-20 15:54] #636 closed

[2016-07-20 15:55] justinclift commented on #643
Excellent, that will really help. :smile:

[2016-07-20 16:01] MYeager1967 commented on #661
Was on Windows 7, didn't work there either. On 10 now. Newest release version, just reinstalled it...

[2016-07-20 16:11] justinclift commented on #661
k.  Would you have a minute to try the latest nightly build and see if things are better there?

If so, download locations are listed on our front page. :smile:

[2016-07-20 16:25] MYeager1967 commented on #661
Funny enough, if I have BOTH versions open at the same time, it works. With just one or the other, it doesn't appear to want to update... I'm clueless on that one....

[2016-07-20 16:27] justinclift commented on #662
Found the exact commit causing the problem, it's this one: https://github.com/sqlitebrowser/sqlitebrowser/commit/f26df79961e3ac0f6e03e616b3747497cb957a6f

Not everyone on OSX is experiencing it though.  @revolter tested quickly on one of his OSX desktops, and the issue isn't present there.

Will investigate. :smile:

[2016-07-20 16:28] justinclift commented on #661
Wow.  Yeah, that's a new one on me to.

Something doesn't seem right. 😦

[2016-07-20 16:28] justinclift commented on #661
For added info, how are you (trying to do) the refresh?

[2016-07-20 16:31] MYeager1967 commented on #661
I'm using the refresh button in the program window.

Just did a test. If I open a second instance of the program and open the database, I can refresh just fine. I opened the newer version twice. Going to try now with the older version. I have no idea why it makes a difference, but it does...

[2016-07-20 16:33] MYeager1967 commented on #661
Ok. Exactly same behavior with the release version... Wish I could offer a hint but there's a reason I love your program, I know NOTHING about SQL....

[2016-07-20 16:36] justinclift commented on #661
No worries at all.  We'll definitely look into this.  It might be a few days away though. 😦

[2016-07-20 16:43] MYeager1967 commented on #661
If needed, you're welcome to Skype in and see it on this end. It's no big rush, I just happened to think of reporting it when I reinstalled and it still didn't work.  :-)

[2016-07-20 16:44] justinclift commented on #661
Cool. Focused on some other issues at the moment, but may ping you for exactly that if it turns out to be needed. 😁

[2016-07-20 17:41] justinclift commented on #662
In that commit, there are two lines which cause the problem.  It seems to be a focus issue, whereby the editor in the edit cell steals the keyboard input away from the Browse Data table.

Commenting out these two lines works for the commit which introduces the problem:

* https://github.com/sqlitebrowser/sqlitebrowser/blob/f26df79961e3ac0f6e03e616b3747497cb957a6f/src/EditDialog.cpp#L74
* https://g

[2016-07-20 18:09] chrisjlocke commented on #643
Yes, in the "Requirements" section, you need to add "4 days put aside to
install all this gumph"...  ;)

On Wed, Jul 20, 2016 at 4:55 PM, Justin Clift <notifications@github.com>
wrote:

[2016-07-20 18:32] justinclift commented on #643
Yeah, that's the tedious bit. 😬

[2016-07-20 18:34] justinclift commented on #621
This is being addressed on the CMake developers mailing list:

&nbsp; &nbsp; http://public.kitware.com/pipermail/cmake-developers/2016-July/029039.html

[2016-07-20 18:40] justinclift commented on #662
Just pushed a commit that fixes this.  Tested it fairly extensively on OSX, with the Edit Cell both in dock and window modes.  Works well here.

[2016-07-20 18:40] #662 closed

[2016-07-20 19:51] justinclift commented on #480
@chrisjlocke @FreudGit I've been putting some time over the last few days, to understand the code around this part of things.

Just made some changes to the source code, which I **think** will have improved this a lot.

It might not be perfect yet, but I think it's on the way.

Would either of you have time to try out tomorrow's nightly build to see how well that works for you?

[2016-07-21 09:25] chrisjlocke commented on #661
Out of curiousity (as works fine here) @MYeager1967- if you bring up the SQL log (Ctrl L) when you click the refresh button, does the log window populate?  (lines numbers on the left should increase)
If you create a new database, does the same thing occur?  Is it a local database (C drive) or on a network?

[2016-07-21 09:30] chrisjlocke commented on #659
I would change the order of the OK and Cancel buttons... but only because I'm used to Windows....

[2016-07-21 09:34] revolter commented on #659
@chrisjlocke, Qt automatically puts the buttons in the OS's default order, so they won't show up exactly like in the mockup on Windows.

[2016-07-21 10:08] justinclift commented on #621
@DelphiGit You up for doing more stuff? :smile:

[2016-07-21 10:19] chrisjlocke commented on #659
Good ol' Qt! Saving the day again, one dialog window at a time!
Thanks for the clarification.  One needs that on a Thursday.

On Thu, Jul 21, 2016 at 10:35 AM, Iulian Onofrei <notifications@github.com>
wrote:

[2016-07-21 10:23] chrisjlocke commented on #651
It won't happen in the newer versions as there are no newer versions for it to check against! :wink:
You won't know until the next newer version and this newer version (now the older version) finds the newer version......! :wink:
:confounded:

[2016-07-21 10:25] chrisjlocke commented on #647
What files is this set in?  In VB, there is a 'tab index'.  How does it work for Qt?  I don't mind changing dialog files to fix the order.

[2016-07-21 11:03] revolter commented on #647
@chrisjlocke, Wow, just found out [this tutorial][1] and it looks so easy. But you need [Qt Creator][2] for this.

  [1]: http://doc.qt.io/qt-4.8/designer-tab-order.html
  [2]: https://www.qt.io/ide

[2016-07-21 11:14] chrisjlocke commented on #647
Aah, similar to how VB does it, but its just a GUI to change the 'tab
index' for the property in the code behind the form.  I was toying with
editing the file manually, but will have a look at installing the Qt
Creator.
Thanks for the links! :thumbs:

[2016-07-21 11:18] justinclift opened #664 "Minor bug - Toolbar visible state needs syncing at app start"
Noticed a trivial bug.  The DB Toolbar (now easily toggle-able with Ctrl-T (Cmd-T on OSX)) keeps it's visible/hidden state saved across sessions.

That's a good thing.

Unfortunately, the Ctrl-T toggle isn't starting out synced to that, so sometimes just after starting the Ctrl-T has no effect for the first keystroke to two.

Should be a simple fix. :smile:

[2016-07-21 11:25] justinclift commented on #647
@chrisjlocke DB4S definitely compiles ok when driven through Qt, if you want to do that instead of driving it through MSVC.

Added some notes here on doing that a while ago, though they're not fleshed out in any way:

&nbsp; &nbsp; https://github.com/justinclift/sqlitebrowser/wiki/Notes-for-compiling-on-Windows

Under the "Notes for Qt Creator" heading. :smile:

[2016-07-21 11:44] chrisjlocke commented on #643
Quick 'confirmation'.  I can't find details of 'DB Schema' in the translation files for the tabs along the bottom - DB Schema, Plot, SQL Log

![image](https://cloud.githubusercontent.com/assets/7872218/17021134/be7ada68-4f3d-11e6-95ac-164c2115b2cd.png)

Found 'Plot' and 'SQL Log'.
![image](https://cloud.githubusercontent.com/assets/7872218/17021539/882bce6a-4f40-11e6-8751-ec3ea27bcd67.png)

I assu

[2016-07-21 11:49] chrisjlocke commented on #643
Confirmation No.2 ... noticed a window caption was translated, but not the main one.

![image](https://cloud.githubusercontent.com/assets/7872218/17021677/77f29dfc-4f41-11e6-8206-5f194532fa72.png)

Should the main caption be translated too?  I presume so.... ?

[2016-07-21 11:50] justinclift commented on #643
Ahhh, co-incidentally I was looking at the dock labels earlier on as part of another change. :smile:

DB Schema is probably not showing up for you in a search because it has an &amp; embedded in its string. eg:

* https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.ui#L1277

[2016-07-21 11:51] justinclift commented on #643
Hmmm, the main caption probably should be translated.  I'm not 100% sure though. 😀

See if you can figure it out.  We can always circle back to it later when the bulk of the other UI elements are done. :smile:

[2016-07-21 11:55] chrisjlocke commented on #643
Thanks for the prompt reply. :smile:
Did search for 'schem' and >db but no matches.  No matches in the sqlb_ar.ts for 'DB Sche&amp;ma'.  Will skip that one.... :wink:

Will note down what I can't find so there is a list somewhere.  I'm sure there will be more ....

[2016-07-21 11:59] justinclift commented on #643
Maybe chuck them in a comment here, using a "list style"? eg:

## Arabic
* foo
* bar
* baz

## French
* foo
* bar
* baz

etc

People can edit their own comments, so you can update/edit the comment as you go.

?

[2016-07-21 12:08] chrisjlocke commented on #643
OK... *scratches head*.  Last question.  Honest.  The *.ts files have <location> tags, with line=xxx parameters.  Are these critical?
eg:
<message>
        <location filename="../MainWindow.ui" line="1274"/>
        <source>&amp;Modify Table...</source>
        <translation>تعديل الجدول...</translation>
    </message>
    <message>
        <location filename="../MainWindow.ui" line="1277"/>

[2016-07-21 12:10] Novo55 commented on #601
I had the same problem when I clicked on new record I got the error message.

I am not an experienced coder but I thought that if the data entered into the fields were held in a buffer and the record would be written after all the fields have been entered into the buffer.

any idea if a fix is imminent?

regards
Steve W
![sql_bug](https://cloud.githubusercontent.com/assets/9299894/17021986/da4e336

[2016-07-21 12:17] justinclift commented on #643
Definitely ignore the line numbers. :smile:

There's a tool called "lupdate" which actually updates them automatically.  It seems to do that by looking at the source files, then updating the .ts files to correct the line numbers for each string.

You can launch it if you want from Qt Creator by (from the top menu) Tools → External → Linquist → Update translations (lupdate).

[2016-07-21 12:20] justinclift commented on #601
@Novo55 Unfortunately... this is unlikely to be fixed for the upcoming 3.9.0 release (maybe next week).  It's very likely to be fixed for the one after that though, as it annoys us all and we're sick of this problem hanging around. :wink:

[2016-07-21 12:33] innermous commented on #664
For me it doesn't have Ctrl-T shortcut at all :worried:

[2016-07-21 12:35] justinclift commented on #601
@Novo55 As a possible workaround for now (after making a backup of your database, just to be safe), trying turning on the "Ignore Check Constraints" Pragma.

It's the 6th one down the list, in the "Edit Pragmas" tab of the main interface.  With that turned on, you can probably add the records you want.  After you're done, turn if off again.

Does that help? :smile:

[2016-07-21 12:37] justinclift commented on #664
Hmmm, that should have been added in https://github.com/sqlitebrowser/sqlitebrowser/commit/4d64951d378228a09e6fc2de13f4b99b19d99533. 😦

It's working on OSX, though I haven't tried Windows with it yet either.  Maybe there's different key than Ctrl for your window manager?

[2016-07-21 12:38] innermous commented on #664
@justinclift what about issue I addressed in previous comment?

[2016-07-21 12:41] justinclift commented on #664
@innermous Heh Heh Heh, I thought that's what I was addressing. 😬

Looking at the docs here, it seems Ctrl-T is also called "AddTab":

&nbsp; &nbsp; https://doc.qt.io/qt-5/qkeysequence.html#standard-shortcuts

Maybe it needs to be bound using that instead?

[2016-07-21 12:43] innermous commented on #664
1. Toggle "DB toolbar" to false state.
2. Close app
3. Load app
4. Toolbar is hidden, but checkbox is in true state.

Can you try to reproduce this?

[2016-07-21 12:46] justinclift commented on #664
Yep, that's definitely reproducible.

[2016-07-21 12:47] innermous commented on #664
@justinclift maybe that's the reason why two extra Ctrl+T pressed are needed(pressing checkbox manually in my case)?
Cause when u hide toolbar and reload app, you first need to toggle that checkbox to false state(regardless toolbar is already hidden) and only then try to display it

[2016-07-21 12:53] justinclift commented on #664
Yeah, I'll investigate it properly in the next few hours. :smile:

[2016-07-21 12:55] justinclift commented on #664
@innermous Btw, any thoughts on https://github.com/sqlitebrowser/sqlitebrowser/pull/663#issuecomment-234048290 ?

[2016-07-21 13:25] chrisjlocke commented on #643
While I'm dabblin', in the 'About Dialog', it says 'SQLite Database Browser is..."
Should this be changed to 'DB Browser for SQLite' ?

[2016-07-21 13:29] #664 closed

[2016-07-21 13:30] innermous commented on #664
I still don't have Ctrl+T shortcut you are talking about :anguished:

[2016-07-21 13:31] justinclift commented on #664
Is that on KDE, Gnome, or something else?

[2016-07-21 13:32] justinclift commented on #643
Ahhh yeah.  Definitely. :smile:

[2016-07-21 13:32] innermous commented on #664
It's awesome wm.
I'll investigate the cause of a problem and will let you know.

[2016-07-21 13:33] justinclift commented on #664
Thanks @innermous.  That'll save me having to make a new VM just to investigate. 😁

[2016-07-21 13:42] chrisjlocke opened #667 "Right to left text option 'breaks' language dropdown"
While dabbling with the translation files, I noticed that when Arabic is selected, the language dropdown is mangled with text prefixed by an opening bracket instead of suffixed by a closing bracket.

![image](https://cloud.githubusercontent.com/assets/7872218/17024863/5d14f52e-4f51-11e6-9476-54f96cbd5e72.png)

[2016-07-21 13:43] innermous commented on #667
@0xbsec your commit is broken :anguished:

[2016-07-21 13:52] justinclift commented on #660
Fixed in https://github.com/sqlitebrowser/sqlitebrowser/commit/671a822c8a3965778b18d68248930a9b3bb1c1d2.

[2016-07-21 13:52] #660 closed

[2016-07-21 13:55] justinclift commented on #667
Hmmm, yeah that doesn't seem happy.

It's not a deal breaker, but if someone has an idea what could be causing that it would be great. :smile:

[2016-07-21 14:26] mjbe commented on #589
ditto.

The 'browse data' tab displays rows in a large font. No way that I can see to reduce it, though that would be desirable.

[2016-07-21 14:44] justinclift commented on #589
No worries.  It's probably not that hard to get this fixed too. :smile:

[2016-07-21 15:34] innermous commented on #657
@revolter done [here](https://github.com/sqlitebrowser/sqlitebrowser/commit/0f88fac26f19ec0b80353b8657ac0e794e0a2ffd)
Now issue is completely resolved :smile:

[2016-07-21 15:45] revolter commented on #657
Great 👍

[2016-07-22 05:56] jtara commented on #661
I am seeing something similar, on OSX. But it just started happening today, and worked fine earlier today!

I just updated to OSX 10.11.6, but only BECAUSE of this problem. (I took a chance it might fix it...)

I don't typically use the refresh button, though, I always forget it is there. I usually switch to a different table, then go back to the table that's been updated.

Other strange symptom i

[2016-07-22 06:03] revolter commented on #661
@jtara, I didn't understand your last part. I am using DB4S for SQLite databases insidr iOS apps running in simulator too. But I don't need to mount anything. The app's Documents folder is just a regular folder at a weird path.

[2016-07-22 06:07] jtara commented on #661
@revolter, I think I just solved it. I disabled simPholder's use of simPhuse, and now it seems to be working fine.

simPholders finds your simulator images and exposes them in a menu bar window. simPhuse provides yet another convenient way to access them, via a mounted filesystem.

I rarely actually use the simPhuse mounted filesystem, though.

It's strange it worked until today.

[2016-07-22 06:49] chrisjlocke commented on #647
OK, have gone through all the dialogs, and have rejiggled the tab orders.
Am correcting the translation files related to these dialogs, so this will be in that commit.

[2016-07-22 06:54] chrisjlocke commented on #643
Having gone through the Arabic and Chinese, and seeing the languages still to go, I'm going to attack this in two 'sweeps'.  First off I'll correct the obvious issues, so its at least presentable, ie, the \&amp; mismatches stopping the translations appearing.  This will get the files ready for the planned release.  I'll then go back and thoroughly tidy up.  I've written a quick VB prog to check th

[2016-07-22 07:31] revolter commented on #661
@jtara, I know, I'm using simPholders too, but not simPhuse though. And, indeed is strange that it didn't work.

[2016-07-22 07:44] justinclift commented on #661
This definitely sounds like one of the stranger bugs. :wink:

[2016-07-22 08:02] justinclift commented on #661
@jtara Would you have a minute to try out this version?

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx-onceoffs/DB%20Browser%20for%20SQLite-201607220858.dmg

It's our very latest code, plus some UI cleanup I was doing yesterday.  The refresh functionality in it is working ok (tested here on my desktop) according to the SQL log.

If you can get the problem to occur again (eg try trying on si

[2016-07-22 09:30] justinclift commented on #651
Closing this due to lack of response from @perfect1077. 😦

[2016-07-22 09:30] #651 closed

[2016-07-22 09:36] justinclift opened #669 "On windows, image data in cells isn't displayed properly"
Noticed this while testing stuff on Windows.

In the Edit Cell, image data (eg a PNG) gets displayed in the text viewer instead of the image viewer, + the view mode combobox disappears.  That's pretty non-optimal, so we'll need to fix it.

Fortunately, I've been looking at the code around this for a few days, so should be able to get this done today.  In theory. :wink:

[2016-07-22 09:48] justinclift commented on #480
In theory, this should now be fully fixed.  Nightly builds (from tomorrow) will include the fix, so if someone can verify things are now good that would be fantastic. :smile:

[2016-07-22 10:05] justinclift commented on #643
... the "DB Schema" tab title just changed in our source.

I removed the &amp; in it, as it was misplaced anyway.

Sorry for the extra work. 😇

[2016-07-22 10:09] jtara commented on #661
I can confirm same issue with the nightly. And once I turned off simPhuse, then no problem with refresh.

So, I have my workaround. But you still have your odd behavior, when using it with an odd filesystem. ;)

Perhaps, though, this will give you a clue as to related issues.

[2016-07-22 10:11] justinclift commented on #661
Thanks @jtara, that really does help. :smile:

[2016-07-22 10:12] justinclift commented on #661
Just moved the target for this to 3.10.0, instead of our next release (3.9.0), as it's doubtful we'd get it done in time.

[2016-07-22 10:26] chrisjlocke commented on #480
I'll try it now.  :smile:

On Fri, Jul 22, 2016 at 10:48 AM, Justin Clift <notifications@github.com>
wrote:

[2016-07-22 10:37] chrisjlocke commented on #480
The only issue I immediately see is that when updating a cell via the table, the 'edit cell' pane below is not updated.  However, editing the lower pane updates the grid.
I can do a 'movie' if that shows things better.

[2016-07-22 10:42] justinclift commented on #480
Ahhh, I think I understand already.

After a new value is put into a cell, the new value doesn't get propagated to the Edit Cell window automatically.  Is that what you're meaning?

[2016-07-22 10:47] chrisjlocke commented on #480
Indeed.  Its 'out of sync'.  Flipping cells (left and right) obviously fixes it, so ... well..... so its not as bad as it was! :wink:

[2016-07-22 10:51] justinclift commented on #480
Thanks Chris. :smile:

The fix is probably just figuring out the name of the event that fires when data is changed, and connecting that to the Edit Dock.  It'll likely be something straightforward such as... dataChanged().  Will investigate.

[2016-07-22 11:41] chrisjlocke commented on #643
Misplaced?

On Fri, Jul 22, 2016 at 11:05 AM, Justin Clift <notifications@github.com>
wrote:

[2016-07-22 11:58] justinclift commented on #643
Yeah, the &amp; is supposed to represent a shortcut key.  It wasn't on the correct key for DB Schema anyway, so I just removed it.

[2016-07-22 12:29] chrisjlocke commented on #643
I love these executive decisions! :wink:

Thanks,
Chris
On 22 Jul 2016 12:58, "Justin Clift" <notifications@github.com> wrote:

[2016-07-22 13:28] Novo55 commented on #601
Justin,

That didn’t work but no worries Im just learning at the moment and work around it.  Keep up the good work.

regards

Steve W
steve_w@exemail.com.au

On 21 Jul 2016, at 10:36 pm, Justin Clift <notifications@github.com> wrote:

[2016-07-22 14:30] elpoolet commented on #556
Hi,

I just tested functionnality.
Unfortunately, the message is always here.
I used the following sequence :
 - File / Open database
******Open a freshly xreated database with empty tables
 - File / Import / Database from SQL File
****** Chose the exported SQL file with options : keep column names in
INSERT INTO and Export data only
 - At the question : would you create a new database...   -> ans

[2016-07-22 15:20] justinclift commented on #601
Awww rats.  Well, hopefully the release after our next one has this fixed properly. :smile:

[2016-07-22 15:28] justinclift opened #670 "SQL Log window 'Clear button' slightly incorrect now"
Just noticed this with our latest code:

![screen shot 2016-07-22 at 16 22 53](https://cloud.githubusercontent.com/assets/406299/17062039/28846208-5029-11e6-9474-3a0a28ce4e55.png)

It probably just needs the [restoreGeometry()/State() code](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.cpp#L101-L103) moved around a bit, as was needed for the Edit Cell dock.

[2016-07-22 15:37] justinclift commented on #556
Thanks @elpoolet, that makes complete sense.  There are two places which can import SQL files and have the bug.

1. File → Import → Database from SQL File  (still needs fixing)
2. In the "Execute SQL" tab, there's an icon to "Open SQL file".  That one should be fixed.
![screen shot 2016-07-22 at 16 33 08](https://cloud.githubusercontent.com/assets/406299/17062356/89c58f6e-502a-11e6-9482-27d0a5cd7c

[2016-07-22 17:22] justinclift commented on #621
CMake 3.6.1 has been released, which includes the fix for the unquoted path problem for the 2nd half of the problem (during uninstall):

&nbsp; &nbsp; https://blog.kitware.com/cmake-3-6-1-available-for-download/

This issue can probably be closed now. :smile:

[2016-07-22 17:22] #621 closed

[2016-07-22 18:56] chrisjlocke commented on #643
OK, so after editing the .ts files and going back to Qt Creator, and doiing the lupdate and lrelease, its gone back and flagged a lot of the translations as 'unfinished'
`<translation type="unfinished">Version</translation>`
This stops the translations appearing.  Is there another step somewhere?  Manually editing the .ts files obviously isn't the right thing to do... :disappointed:

[2016-07-22 19:11] revolter commented on #556
@justinclift, Should we reopen this issue? Or can you solve it based on my partial solution?

[2016-07-22 19:37] justinclift commented on #643
Here's where I wish I knew more about translation files. 😢

Which of lupdate and lrelease is adding the "unfinished" type to them?

[2016-07-22 19:39] justinclift commented on #643
Guessing you've already looked over this?

&nbsp; &nbsp; https://doc.qt.io/qt-4.8/linguist-translators.html

[2016-07-22 19:43] justinclift commented on #643
This one is overview stuff, but doesn't seem to help with "how to mark things as finished":

&nbsp; &nbsp; https://doc.qt.io/qt-4.8/linguist-manager.html

[2016-07-22 19:46] justinclift commented on #556
@revolter Well, we've kind of already fixed the export part of this issue, but the import part is tracked here for #656.  #656 needs to handle File → Import → "Database from SQL File" to be a complete solution. :smile:

[2016-07-22 19:56] revolter commented on #556
Sorry, pretty tired here, and having two problems on the same issue didn't help me. So, it should be a pretty easy solution if you know where the import is done. But unfortunately I can't do it at all. Do you thing you can manage it? :smile:

[2016-07-22 19:58] justinclift commented on #556
Yeah, I should be able to cut-n-paste your RegEx into the right spot.  Likely tomorrow though... I want to get away from the computer for a bit now.

You're on holiday from tomorrow yeah?  If so... have a good one, and hopefully things here haven't exploded in a bad way by the time you're back. 😀

[2016-07-22 20:18] revolter commented on #556
Thanks!

Actually, I'm on holiday already, since today was my last work day. And I'm sure nothing will explode :laughing:

[2016-07-22 20:53] glawrence commented on #621
That's great news, assuming the place where we do builds for releasing has CMake 3.6.1.....

[2016-07-22 21:27] justinclift commented on #621
@glawrence Good point.  I'm going to attempt doing the builds for 3.9.0, just to make sure we have the capability whenever needed. :smile:

[2016-07-23 11:33] chrisjlocke commented on #643
Oops.  I've been editing the raw .ts files.  There is a big button in Qt Linguist (which I hadn't previously installed)

![image](https://cloud.githubusercontent.com/assets/7872218/17077698/99896ef0-50d1-11e6-9fe0-3f71bbdc7464.png)

This should make things easier! :wink:

[2016-07-24 10:28] chrisjlocke commented on #643
Green ticks.  Thats a good thing.

![image](https://cloud.githubusercontent.com/assets/7872218/17083260/af2f4228-5191-11e6-9081-b1b98f376c9a.png)

Progress being made!

[2016-07-24 11:57] justinclift commented on #643
Heh Heh Heh

Keep going @chrisjlocke, looks like you're nearly there! 🎉

[2016-07-24 12:39] chrisjlocke commented on #643
Hmm.  Some weird things keep occurring.  Going throuhg the German file for instance, and the captions for the dialogs are appearing in Arabic.

![image](https://cloud.githubusercontent.com/assets/7872218/17083828/ebd1a416-51a3-11e6-938a-3e99666080b6.png)

I'm not used to Qt Linguist or Qt Creator, so not sure where (or if?) I should be looking... maybe its Linguist just getting confused, or the .d

[2016-07-24 17:52] chrisjlocke commented on #643
Its OK.  Sorted it.  For some reason, it takes the current selected language from the *real* program, and so because Arabic was the last language I tested, it was showing that in the preview.  Bit mad...

[2016-07-25 02:22] justinclift commented on #643
Oh wow, yeah that's unexpected.

Guess it's part of the learning process. :wink:

[2016-07-25 09:32] justinclift commented on #568
@chrisjlocke If/when you have a minute to test, the latest nightly build should include the fix for this.  Any chance you could give it a shot to double check? :smile:

[2016-07-25 09:33] justinclift commented on #556
@elpoolet If/when you have a minute to test, the latest nightly build should include the full fix for this.

Any chance you could give it a shot to double check? :smile:

[2016-07-25 09:43] justinclift opened #671 "Add the Ubuntu specific instructions to sqlitebrowser.org front page"
@deepsidhu1313 pointed out that the Ubuntu instructions [here](https://github.com/sqlitebrowser/sqlitebrowser#ubuntu-and-derivatives), are not on the front page of our sqlitebrowser.org website.

That needs to be fixed. :smile:

[2016-07-25 10:04] justinclift opened #672 "Rackspace logo should go on our front page website"
A while ago, Rackspace offered  to sponsor us.

As part of the agreement, we need to add their logo to the project website (sqlitebrowser.org).

The ManageIQ team seem to have it done well, in the [footer at the bottom of their website](http://manageiq.org).

[2016-07-25 10:08] justinclift commented on #672
Not sure if this is useful, but the source lines in the ManageIQ website for their Rackspace logo usage are here:

* https://github.com/ManageIQ/manageiq.org/blob/master/source/layouts/_footer.haml#L75-L78
* https://github.com/ManageIQ/manageiq.org/blob/master/source/images/partners/rackspace-on-dark.svg

[2016-07-25 10:41] justinclift commented on #671
@deepsidhu1313 In theory, this should be complete now.  Would you be ok to take a look here, and let us know if something needs adjusting?

* http://sqlitebrowser.org/#ubuntu
* http://sqlitebrowser.org/#ubuntu-stable
* http://sqlitebrowser.org/#ubuntu-nightly

[2016-07-25 13:08] justinclift opened #673 "New layout for Edit Database Cell view"
Thinking about the Edit Database Cell, it's layout could do with some minor tweaks.

### Existing layout
![current layout - 2016-07-25](https://cloud.githubusercontent.com/assets/406299/17102161/3c4f2d60-5270-11e6-8b28-113d71697fe5.png)

* The purpose of the drop down selector (text/binary) isn't really clear until using the program for a bit.  It's purpose is to choose the view mode, so we can ma

[2016-07-25 13:42] justinclift commented on #673
Hmmm, would `Apply` be a better word than `Update`?

Kind of thinking that `Update` could be unclear.  The user may think it means to retrieve newer data from the database, instead of pushing it to the database.

[2016-07-25 14:25] justinclift commented on #669
Note - fixing this while working on #673.

[2016-07-25 14:31] justinclift opened #674 "Potential data loss gotcha - in-place editor isn't binary safe :("
Found a nasty gotcha.  The in-place editor for table cells isn't binary safe. 😨

For example, lets say someone has binary data in a cell (eg Line 12-Name below):
![screen shot 2016-07-25 at 15 23 39](https://cloud.githubusercontent.com/assets/406299/17104879/bff096fc-527c-11e6-8b71-d901f7ece632.png)
If they trigger the in-place cell editor, hitting Enter to close it corrupts the binary data:
![scr

[2016-07-25 14:32] chrisjlocke commented on #568
Yes, the import now works.  The only 'niggle' is that the cursor remains the 'waiting' circle of doom when the 'Import completed' message box appears.

![image](https://cloud.githubusercontent.com/assets/7872218/17104865/b842e27a-527c-11e6-95e3-c2168f190af9.png)

This also occurs if you import where the table already exists - DB4S correctly moans, but the cursor is 'waiting'.  Someone might think,

[2016-07-25 14:33] justinclift commented on #674
Note - this bug has probably been present for a long time, rather than being in recent code.

[2016-07-25 14:33] justinclift commented on #674
@innermous Would you have time to look into this?

[2016-07-25 14:36] justinclift commented on #568
Cool, sounds like we're making progress at least. :smile:

[2016-07-25 15:07] chrisjlocke commented on #568
One interesting thing though.  The export of a database is still a 'transaction'.  The export begins 'begin transaction' and end 'commit'.  However, if you cancel the import, it doesn't cancel the transaction - it has completed up until you cancelled it.  This would explain the slowness of the import - each import statement is its own transaction.  On the sqlite website, it mentions this is 'bad'

[2016-07-25 16:13] justinclift commented on #568
Yep, that's interesting.

My reading of this fix is that it just removes all occurrences of `BEGIN TRANSACTION` and `COMMIT` on the fly from the SQL file being read in.

In theory, DB4S is supposed to be adding it's own `BEGIN TRANSACTION` and `COMMIT` at the start and end of each SQL file import.  It's weird to me that it's not functioning this way.

As a disclaimer though... I haven't personally

[2016-07-25 16:14] justinclift commented on #568
As a curiosity thing, if after you cancel out of the transaction (and the data is still there), what happens if you issue a ROLLBACK from the Execute SQL window?

[2016-07-25 16:24] justinclift commented on #673
Working on this in a branch here for now: https://github.com/justinclift/sqlitebrowser/tree/edit_cell_layout1

Instead of `View mode:` I've gone with just `Mode:`, and using `Apply` instead of `Update` too:
![screen shot 2016-07-25 at 17 22 16](https://cloud.githubusercontent.com/assets/406299/17108672/7358d11e-528c-11e6-917d-f4955c89b42b.png)
![screen shot 2016-07-25 at 17 22 21](https://cloud.gi

[2016-07-25 16:37] revolter commented on #568
Well, indeed this is not the best solution, but was the easiest. Throwing an error for an SQL created by the same app is not ok. But for 3.10.0, we could, instead of removing the transaction, detect if the query starts with a transaction and stop starting our own transaction. As this works as the fix intended, could we close it and open another issue regarding the multiple transactions on a big im

[2016-07-25 16:39] revolter commented on #674
Is editing binary data a solution? If not, shouldn't we disable the in-place editor all together for binary cells? Just a thought.

[2016-07-25 16:43] revolter commented on #673
About your second points, isn't `Clear` setting `NULL` even if *not* in the binary mode?

[2016-07-25 16:49] justinclift commented on #674
Yeah, that would work too. :smile:

[2016-07-25 16:50] justinclift commented on #673
Not so far.  In text mode it's been setting an empty string.

[2016-07-25 17:02] justinclift commented on #568
Yeah, that's a good idea. :smile:

[2016-07-25 17:02] #568 closed

[2016-07-25 17:03] revolter commented on #673
Hmm. Does it open with the `binary` mode selected by default? Because I used it a couple of time to set a cell to `NULL` but never used the mode combo box.

[2016-07-25 17:03] justinclift commented on #568
Would either of you be ok to create the new issue for tracking?  I've been staring at the computer for too long, and need to take a break for a bit. 😵

[2016-07-25 17:12] revolter opened #675 "Disable automatic transaction for SQLs already containing a transaction"
Related to #568.

When trying to execute an SQL containing a transaction, the app ignores it and adds its own transaction(s). As pointed out by @chrisjlocke, canceling an import leaves the already inserted data up until the cancellation. It should instead leave the transaction in place and disable the transactions per statement added by the app.

[2016-07-25 17:13] justinclift commented on #673
Yeah, I think it used to start in binary mode by default.

That can be turned on again if you reckon it'd be useful?

[2016-07-25 17:23] chrisjlocke commented on #568
Is that the same as clicking 'Discard Changes' ?
Rollback deleted the half-imported table, so that **would** imply it was in a transaction?

[2016-07-25 17:31] justinclift commented on #568
k, that Rollback behaviour does indicate it was in a transaction.

... with 'Discard Changes'... I'm personally not sure atm.

[2016-07-25 19:05] justinclift commented on #670
One potential workaround might be to set a minimum height on the Clear button, and maybe also the Application drop down.

That was needed for the new Edit Database Cell layout to avoid this kind of problem, and it might work here too.

[2016-07-25 19:41] revolter commented on #568
So there aren't multiple transactions? I looked a bit over the code and the only thing I saw related to this was a `setSavepoint` call, which actually executes the query `SAVEPOINT <name>`.

I read [about it][1] now, and it looks like it works inside a transaction. But we are setting the savepoint (which is similar to starting a transaction) before executing the SQL, which in turn starts a transac

[2016-07-25 19:43] revolter commented on #673
I don't know what's the best solution.

[2016-07-25 22:12] justinclift commented on #673
Similar here.  I'm completely guessing, but assuming that most people will have text data (at least for now) in their fields.  So a default to text mode makes sense for that.

We could have the button for "Set NULL" in all of the modes.  Clearing a field to an empty string instead (in text mode) is pretty simple regardless.  Cntl-A (or Cmd-A on OSX) to select everything then hitting delete/backspa

[2016-07-25 22:14] justinclift commented on #568
Hmmm, wonder if the slowdown is related to the Savepoint?

@chrisjlocke Is the database you're importing into on an SSD? eg a high I/O transaction device

[2016-07-25 22:26] revolter commented on #568
I re-read the `SAVEPOINT` documentation and I personally understood that they actually are exactly transaction, but they have a name and you can nest them. So I don't think it should influence the speed. But we can easily test this with a large data set by temporarily removing the `setSavepoint` call.

[2016-07-25 22:35] justinclift commented on #568
Yep, same thought here.  Measured stats would definitely help.

Would you be ok to investigate ***after*** you're back from vacation?

[2016-07-25 22:38] justinclift commented on #568
As an idea - for measuring this it would be useful to record a log of the start and end time for each time of the imported file. Shouldn't be hard, adding some timestamp calls.  Millisecond accuracy perhaps?

This would let us determine with reasonable accuracy if there's a slowdown over time during the import, and/or see if it's a steady rate (etc).  That info would probably give us very useful i

[2016-07-26 00:02] revolter commented on #568
Sure thing.

[2016-07-26 00:21] revolter commented on #673
I personally only used the (now gone) edit popup to set fields to `NULL`. I also think that selecting a cell and hiting backspace sets it to empty string too, doesn't it? So having it set to text mode by default and a `Set to NULL` button sounds very very good!

Also, what do you think about placing the docked editing widget in the right sidebar above the SQL log on fresh install?

![Screenshot](h

[2016-07-26 07:46] justinclift commented on #673
Cool. :smile:

Just updated the new layout code to have a `Set as NULL` button instead of the old `Clear` button, regardless of Edit Cell mode setting.

For the defaults... no objection here.  We should probably include the `DB Schema` and `Plot` docks in the default layout too.  Any ideas for them?

[2016-07-26 07:57] revolter commented on #673
I personally never used them, and I don't see where could we add them without being crowded. It would be a good idea, so the users know, at least, about the capabilities of DB4S, but, again, can't imagine where should they show up.

[2016-07-26 08:04] justinclift commented on #673
k, well we'll need to figure out where to put them.

In theory, we should be able to tack them onto the right of your suggested layout, but have them off by default.  I think (without trying it yet), that would give the result you're meaning.

[2016-07-26 09:45] innermous commented on #647
@chrisjlocke I think, tab orders and translations should be in different commits.

[2016-07-26 10:00] justinclift commented on #647
@innermous Yep, good point. :smile:

[2016-07-26 11:04] chrisjlocke commented on #647
No problem. :smile:

[2016-07-26 13:07] chrisjlocke commented on #647
OK, have commited the files into a pull request. #676
Wasn't sure whether to add the ui.xxx.h files too (gitHub seems to think I have 271 files to commit...) so added them anyway...

[2016-07-26 14:16] justinclift commented on #647
Thanks @chrisjlocke, that looks awesome.

Will check it out in depth fairly soon. 😁

[2016-07-26 15:08] justinclift commented on #671
Haven't heard back from @deepsidhu1313, but I'm pretty sure this is fixed decently now.  Closing this issue.

If it turns out there's more needing to be done for this issue, feel free to re-open this. :smile:

[2016-07-26 15:08] #671 closed

[2016-07-26 15:17] deepsidhu1313 commented on #671
@justinclift, apologies for not replying back. Thanks for fixing the issue. :)

[2016-07-26 15:17] chrisjlocke commented on #673
If the Cancel button has gone, is clicking '[X]' the only way to cancel?  This seems an usual 'desktop' UI convention.  I'm just old and used to the traditional 'OK' 'Cancel' buttons - clear and explicit to what happens.  Also, useful for keyboard users - sometimes, clicking 'Esc' doesn't always work to cancel, as there is no cancel button linked to the Escape key.

[2016-07-26 15:17] #670 closed

[2016-07-26 15:24] justinclift commented on #673
Nah, it's now a toggle-able window - using Ctrl-E (Cmd-E on OSX).

The other docks already work like that too (eg are toggle-able), so this bring it into line with them.

[2016-07-26 15:25] justinclift commented on #673
On that note, we need to think of a new keyboard shortcut for "Execute SQL", which the Edit Cell dock has usurped. 😈

[2016-07-26 15:32] justinclift commented on #671
Cool.  You're welcome @deepsidhu1313, thanks for pointing it out. :smile:

[2016-07-26 15:36] chrisjlocke commented on #673
Sorry - confused by your 'toggle-able' answer.  In your new 'edit database cell' window, you've an apply button.  If I've entered data but this is wrong, how would I cancel this edit?

[2016-07-26 15:40] justinclift commented on #673
Definitely don't hit apply. :smile:

Also, change to a different cell in the main window, so the contents of the Edit Cell get refreshed from that.

... hmmm...

So maybe `Revert` and `Apply` buttons instead of just the single `Apply`?

[2016-07-26 15:55] justinclift commented on #480
@chrisjlocke Fixed the problem with in-place edits not propagating to the Edit Database Cell: https://github.com/sqlitebrowser/sqlitebrowser/commit/9fe42b1399658149cb02943e71b59902de3f8d1f

It'll be in the next nightly build. :smile:

[2016-07-26 16:03] revolter commented on #673
We should take into consideration the docked version of this edit cell widget, right? So the "don't hit apply / select another cell" makes more sense here.

[2016-07-26 16:03] chrisjlocke commented on #673
Aah, s'okay - I follow now - must have had a brain fart earlier.  Was thinking the Edit Database Cell was a dialog, so popped up over the window, rather than docked state...

[2016-07-26 16:05] revolter commented on #673
Sorry, I left out a "too" there. You can drag to undock it now, so it changes to a window popup as you said. What I was trying to say is that we need to think of the docked and windowed version too.

[2016-07-26 16:07] justinclift commented on #673
Cool.  Let's leave out the `Revert` button for now.  It'd probably just add visual clutter, and is more code to maintain. :smile:

[2016-07-26 16:36] chrisjlocke commented on #480
\o/

[2016-07-26 19:15] bhj opened #677 "Enable JSON1 extension by default"
It would be great to be able to run SQL that uses functions from the [JSON extension](https://www.sqlite.org/json1.html).

[2016-07-26 21:14] justinclift commented on #677
That extension looks useful. :smile:

What happens when you try to add it using Preferences → Extensions?

[2016-07-27 09:45] justinclift opened #678 "Code for determining data type"
The code we presently use for determining the data type in a cell (eg NULL, text, binary) is extremely slow with non-trivial data.  eg it takes several seconds to load a single image into the Edit Cell window

This line is most likely the culprit:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/EditDialog.cpp#L187

This is a bit of a pain point, as it makes some usefu

[2016-07-27 09:59] revolter commented on #678
There is another thing I don't understand about that method. Why is it doing those checks even when the cell is `NULL`?

Shouldn't it be like:

    if isNull
       ... data type is null
    else
        if QString(data) == data
           ...
        else
           ....

[2016-07-27 10:21] justinclift commented on #678
Yeah, that's one of the changes I've made in my branch already:

&nbsp; &nbsp; https://github.com/justinclift/sqlitebrowser/blob/edit_cell_layout1/src/EditDialog.cpp#L214-L244

That being said, I'm redoing that function at the moment, breaking it into one specifically for determining data type (so it can be called from multiple places), and another for updating the info data in the bottom left cor

[2016-07-27 10:44] chrisjlocke commented on #678
Just thinking aloud... couldn't you just examine the 'header' of the data rather than the full data?  If its a BLOB or large string, converting it to utf8, etc, seems 'expensive'.  Images have the same header in the first 10 chars or so, so just examine that area?  That would reduce the conversion times, etc...  Could you determine if its binary using only a substring of the cell data?

[2016-07-27 10:47] justinclift commented on #678
Yeah, I'm kind of expecting that's what the Qt code does. :smile:

[2016-07-27 12:20] justinclift commented on #678
This seems like it might be the appropriate light-weight function for checking if data is an image:

&nbsp; &nbsp; https://doc.qt.io/qt-4.8/qimagereader.html#canRead

[2016-07-27 12:23] justinclift commented on #678
Actually... seems like it does.  There's a "QIODevice" type of "QBuffer", which provides an interface for QByteArray.  Going to give that a shot, just to experiment. :wink:

[2016-07-27 13:20] justinclift commented on #678
Interestingly, that didn't seem to help much.

Qt Creator apparently has code profiling tools built in, but they're not something I've looked into yet.

As a side note, through experimentation this line turned out to be a real performance killer:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/EditDialog.cpp#L85

After putting it inside an if() clause to only run it f

[2016-07-27 15:00] justinclift commented on #673
I ***think** #679 is ok, but someone looking over it first wouldn't hurt. 😁

[2016-07-27 15:06] justinclift opened #680 "Our qHexEdit widget is outdated"
The qHexEdit widget we're using comes from here:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/tree/master/libs/qhexedit

Our version of the code seems to be really out of date, so someone should probably investigate if it's feasible/useful for us to update to a newer version. :smile:

[2016-07-27 15:50] justinclift commented on #669
Closing this, as #673 fixes the issue anyway.

[2016-07-27 15:50] #669 closed

[2016-07-27 16:22] revolter commented on #680
So [this one][1], right?

  [1]: https://github.com/Simsys/qhexedit2

[2016-07-27 16:31] justinclift commented on #589
@pier4r @mjbe Just added some code which sets the cell editor font (both text and binary modes) according to the setting in Preferences → Data Browser → Font.

Would either of you have time to check the latest nightly build (tomorrow), to verify it works from your point of view?  Download locations are on the front page of our project, if that helps. :smile:

[2016-07-27 16:36] justinclift commented on #680
Oops.  Yeah, I cut-n-pasted the wrong link. :wink:

[2016-07-27 17:48] mjbe commented on #589
I ended up taking a different route to my unreachable goal, old chap. I'm
currently stuck in a crevice. But I shall have a look when I get a chance.;)

On 27 July 2016 at 17:31, Justin Clift <notifications@github.com> wrote:

[2016-07-27 18:28] justinclift commented on #589
Cool!  Good luck with the crevice. 😀

[2016-07-27 19:39] justinclift commented on #672
Done in https://github.com/sqlitebrowser/sqlitebrowser/commit/6fda15517b86e5329948a3d843c721ed39236e2d. :smile:

[2016-07-27 19:39] #672 closed

[2016-07-27 19:41] justinclift commented on #673
Just merged it. :smile:

[2016-07-27 19:41] #673 closed

[2016-07-27 19:43] justinclift commented on #673
@revolter Oops, forgot to reorganise the layout.

I'll open a new issue for that, and get onto it in a bit (maybe tomorrow though).

[2016-07-27 19:46] justinclift opened #681 "Reorganise default dock layout"
As pointed out by @revolter in #673, our default dock layout could be improved somewhat.

Moving the docks to the right side, and thereby maximising the vertical space for data (like @revolter's 2nd picture below) would probably be a win:
![Screenshot](https://i.imgur.com/OA4Hs4S.png)

[2016-07-27 19:49] justinclift commented on #480
Closing this now, as it's definitely fixed by the just merged code in #679. :smile:

@FreudGit @chrisjlocke If either of you have time/inclination to test this (eg from the nightly builds after tomorrow), that would be great. :smile:

[2016-07-27 19:49] #480 closed

[2016-07-27 19:51] justinclift commented on #12
Closing this, as we've definitely figured out SQLCipher support on Windows too, and it'll be in the upcoming release. :smile:

[2016-07-27 19:51] #12 closed

[2016-07-27 20:18] justinclift opened #682 "Create a list of keyboard shortcuts"
We've been asked via Twitter if we have a list of keyboard shortcuts:

&nbsp; &nbsp; https://twitter.com/john_law_kelly/status/758061269702160384

We don't yet, but it would be very useful to create one, probably on the wiki.

@glawrence Any interest? :smile:

[2016-07-27 21:25] revolter commented on #682
I was thinking the other day of a `Keys` menu in `Preferences`. Where you could see __and__ update the keyboard shortcuts. Like VLC has, for example, where you can even search through them.

[2016-07-27 21:28] revolter commented on #673
@justinclift Great :thumbsup:

[2016-07-27 22:09] chrisjlocke opened #683 "Modify table statement uses double quotes"
I normally use DB4S to create my databases, and when you create a new table, DB4S uses grave accents around each identifier.

![image](https://cloud.githubusercontent.com/assets/7872218/17189392/1f0813aa-5439-11e6-89d9-7a3b77a7278e.png)

This is also reflected in the schema column.
However, as soon as you modify the table, the schema column changes to double quotes.

![image](https://cloud.githubu

[2016-07-27 22:14] chrisjlocke commented on #682
While going through the translation files, I noticed you could set the & shortcut wherever you wanted, and initially thought it worked the same as .Net, but noticed from @justinclift's code, this has to be 'hard coded' in Qt - shortcut keys have to be specifically coded.  I presume then that the accelerators defined by a & sign on labels, etc, are for cosmetic purposes only?

[2016-07-28 07:28] revolter commented on #682
If you have a menu item with the text `T&est`, does pressing `ALT + e` on __Windows__ trigger it? I remember this is the way ampersand worked, though I don't know how it would work on mac.

[2016-07-28 15:08] justinclift commented on #683
Yeah, being consistent in our approach is probably a good to make happen. :smile:

[2016-07-28 15:10] justinclift commented on #682
@chrisjlocke For the top drop down menu's (eg File, View, etc), adding an &amp; sign should in theory automatically create a platform-appropriate shortcut.

In reality, it seems to be a bit inconsistent for DB4S.  It might just be we're doing something weird, or out-of-order in our code base though. (unsure)

[2016-07-28 15:12] justinclift commented on #682
@revolter If you want to add a user changeable "Keyboard Mapping" thing to the Preferences, that sounds really useful for people. :smile:

[2016-07-28 17:20] revolter commented on #682
@justinclift I know, it would be awesome. I searched for an already created library (widget) but couldn't find one :(

I stumbled upon [this package manager][1] though, but I'm not sure that [the packages page][2] contains all of the available packages. I'll install it in a couple of days and see if I find something useful there.

  [1]: qpm.io
  [2]: https://www.qpm.io/packages.html

[2016-07-28 17:21] revolter commented on #683
But how do we decide wether to use ` or "? Or do we make yet another user preference setting for it?

[2016-07-28 17:23] justinclift commented on #682
@revolter Cool.  Hadn't come across qpm.io.  Looks useful. :smile:

[2016-07-28 17:49] justinclift commented on #683
In theory :smile:, that shouldn't be ***too hard*** to figure out:

1. If the SQLite approach is documented well enough to figure it out, use that
2. If there are spots that aren't completely clear from that, lets see if we can figure it out from the SQL standards
3. If that doesn't work then copy PostgreSQL's approach.  aka [What Would Postgres Do?](https://youtu.be/ZvmMzI0X7fE?t=3m8s)

[2016-07-28 17:54] justinclift commented on #631
@SafaAlfulaij Ahhh, that's useful info.

@chrisjlocke That `--reverse` switch might be useful for you in testing the Arabic translation as you go through getting it fixed. :smile:

[2016-07-28 17:56] justinclift commented on #631
@innermous Any idea if there's a difference between Qt4 and Qt5 for the resizing glitches?

If they don't happen when we build with Qt5, that would be another reason to move towards it. :smile:

[2016-07-28 19:04] innermous commented on #631
@justinclift don't know what are you talking about, honestly.
The problem causing this issue is that drawing method is hardcoded, and the code inside it is strictly left-to-right.
I tried to make workaround, it worked well, but when you try to resize it becomes a little messy.

[2016-07-29 05:42] chrisjlocke commented on #683
From my understanding, there is no reason to use grave accents (\`)
They are there solely for mySql compatability.  So we should be using double quotes and single quotes only.  No preferences needed.

`create table "blobby" ("field1" text, "field2" text);`
`insert into "blobby" ("field1", "field2") values ('my text values','my text values')`

[2016-07-29 06:13] SafaAlfulaij commented on #667
Qt expects a RTL text, so it sets the text direction to RTL.
An easy fix is to add a "LRM" character to the end of the string, it acts as an English letter and would move the bracket to the right :)
Or forcing the combobox direction not to mirror by using `setLayoutDirection`.

[2016-07-29 07:26] revolter commented on #667
I think that the texts should remain left aligned, as they are in English.

[2016-07-29 08:30] SafaAlfulaij commented on #643
So, A quick "scan" throught the Arabic file showed me that there is a huge number of logical mistakes, I'm referring to This: `<translation>تصدير(&amp;)</translation>` especially.
I'd say to give the file for someone who really knew what translation (and the technical part of it) is.

Not to mention the grammatical errors and translation mistakes.

[2016-07-29 09:26] chrisjlocke commented on #643
A lot of the translations have been corrected, due for 'release' soon.  Admittedly they're probably still not perfect, but the errors (like above) will have been addressed.  The main issue is that the program expects a shortcut key (so `&ampy` for ALT+Y, `&ampu for ALT+U, etc) so one has to be supplied, which doesn't always fit into the translation.
I'm more than happy for you to assist me in this

[2016-07-29 10:56] justinclift commented on #643
@SafaAlfulaij Yeah, would be optimal. 😃

With this project, one important factor is that it's volunteer based effort.  All of the stuff you see (both good and bad) is the result of people willing to put their time into something, and they skill they have at it.

Importantly, people's skill level improves as they gain experience through practise and new challenges.

For example I'm personally a new

[2016-07-29 11:28] justinclift commented on #682
Was thinking about this earlier.  If we remove the &amp; signs from ***all*** of our strings, and instead create all of the keyboard shortcuts at program startup (eg [like this code](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.cpp#L178), that would probably benefit us in two ways:

* Translation of strings would probably be less complicated (eg #643)
* The keyboard sh

[2016-07-29 11:37] justinclift commented on #667
@revolter This shouldn't be hard to fix.  Looking here:

* https://doc.qt.io/qt-4.8/qwidget.html#layoutDirection-prop
* https://doc.qt.io/qt-4.8/qt.html#LayoutDirection-enum

The LayoutDirection enum has an "Auto" setting. `Qt::LayoutDirectionAuto`

If that doesn't work for us in practise, instead we could add a small bit of code in the constructor for each dialog to detect an RTL language, then s

[2016-07-29 11:44] SafaAlfulaij commented on #643
The programmer is NOT responsible for fixing the translation files. You
should contact the translator to fix that, or you simply don't get it
released.

"which doesn't always fit into the translation."
This isn't accepted in Arabic, it is not Japanese/Chinese.

I can work on the translation but my way of my translation is different,
I'm not sure if you accept that, as if will change almost all of

[2016-07-29 11:57] justinclift commented on #667
Just tried out the 3 setLayoutDirection options on the Language selector drop down box.

It didn't seem to have any effect at all. 😕

### LayoutDirectionAuto
![layoutdirectionauto-english](https://cloud.githubusercontent.com/assets/406299/17247473/723520d8-558b-11e6-98a3-04c1d383bd80.png)

![layoutdirectionauto-arabic](https://cloud.githubusercontent.com/assets/406299/17247494/89cea73c-558b-11e6-8

[2016-07-29 12:06] justinclift commented on #667
Ahhh, this might be what we need:

&nbsp; &nbsp; https://doc.qt.io/qt-4.8/qapplication.html#layoutDirection-prop

[2016-07-29 12:19] justinclift commented on #667
Hmmm, adding this to Application.cpp definitely works to force most of the application to RTL:

[code]

... except that specific comboBox.

### English
![setlayoutdirection-rtl-english](https://cloud.githubusercontent.com/assets/406299/17247963/f6d31658-558e-11e6-89a9-1c3d424c2ff0.png)

### Arabic
![setlayoutdirection-rtl-arabic](https://cloud.githubusercontent.com/assets/406299/17247969/ff632182-

[2016-07-29 12:22] justinclift commented on #643
When you say your way of translation is different... are you meaning a different dialect of Arabic?

[2016-07-29 13:00] justinclift commented on #647
We should probably make a ToDo list for this. :smile:

- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [x] ImportCsvDialog.ui
- [x] MainWindow.ui
- [x] PreferencesDialog.ui
- [x] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-07-29 13:06] justinclift commented on #631
@innermous Sorry.  Was typing on a tablet before without really understanding. :smile:

Was thinking the "glitches on resizing" thing might have been Qt4/Qt5 related.  Guess not. :smile:

Looking at the code you point out, I see what you mean about the hard coded order and needing to do a workaround.  Would you be ok to throw that code into a branch so we can take a look and maybe figure out how t

[2016-07-29 13:06] SafaAlfulaij commented on #667
That's not what I'm seeing here. While the selection direction is not right (I'll report that upstream), the items direction is correct:
![screenshot_ _](https://cloud.githubusercontent.com/assets/3509617/17248915/1a144fda-55a6-11e6-87aa-0aa39be1f15f.png)

_I'm building the app right now and would update this when done._

[2016-07-29 13:09] justinclift commented on #667
Cool.  Out of curiosity which OS are you using, and which version of Qt are you compiling against?

I might be able to spin up a VM to match, so verify on my end. :smile:

[2016-07-29 13:11] SafaAlfulaij commented on #643
No, it's just another way of translating buttons (To action not noun), and some other Arabic specific rules.

[2016-07-29 13:13] SafaAlfulaij commented on #667
ArchLinux 64bit, Qt 5.7.
I think you would take some time to finish installing Arch :sweat_smile:

_Done!_

![screenshot_ _](https://cloud.githubusercontent.com/assets/3509617/17249149/38b2fd46-55a7-11e6-9a8e-2845e876ebc8.png)

So it's exactly as in the designer. I think another bug report should be filed ASAP!

[2016-07-29 13:15] justinclift commented on #667
Heh Heh Heh

I'm building against Qt 4.8.7 at the moment, but I have Qt 5.6.0 installed too.  I'll give that a go after getting some food, and see if it affects things on my existing (OSX) desktop. :smile:

[2016-07-29 13:32] SafaAlfulaij commented on #667
Have a nice meal :)

[This](https://github.com/sqlitebrowser/sqlitebrowser/issues/667#issuecomment-236175247):

It is already reported, and I just updated it ;)
Here: https://bugreports.qt.io/browse/QTBUG-55012

[2016-07-29 13:44] justinclift commented on #667
Looking at:

&nbsp; &nbsp; https://bugreports.qt.io/browse/QTBUG-55012?focusedCommentId=327173&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-327173

That's just a comment on an existing issue. :wink:

If you want it fixed 😜 , shouldn't it be a new issue so they can track/address it properly?

[2016-07-29 13:49] justinclift commented on #643
Ahhh.  Not sure then.  Would you be ok to discuss it with @0xbsec, [who recently made our Arabic translation](https://github.com/sqlitebrowser/sqlitebrowser/pull/642)?

[2016-07-29 14:11] chrisjlocke commented on #647
I checked the others, but their tab order was fine.  Qt listed the controls
in the right order.

On Fri, Jul 29, 2016 at 2:00 PM, Justin Clift <notifications@github.com>
wrote:

[2016-07-29 14:32] justinclift commented on #647
Cool, thanks Chris. :smile:

[2016-07-29 14:32] #647 closed

[2016-07-29 14:39] justinclift commented on #635
@PSE-AG How did this go?

[2016-07-29 14:42] justinclift commented on #683
This is related to #629 too.

[2016-07-29 14:44] chrisjlocke commented on #643
Just a nod that I'm not just correcting the `&amp; but also the missing translations.
![image](https://cloud.githubusercontent.com/assets/7872218/17251920/80408dae-55a2-11e6-8ce5-817dcdcfe0af.png)

This shows a large number of missing translations.  Some are just warnings of ellipses not correct, or full stops.  Its not just the dialogs, but messages displayed by the application.

Admittedly, its

[2016-07-29 14:44] justinclift commented on #640
@innermous Is this related to #645 ?

[2016-07-29 14:46] justinclift commented on #643
Ahhh, ok. :smile:

[2016-07-29 14:46] bhj commented on #677
Ahh, had not noticed that pref pane. I imagine that would work but haven't compiled one of them before (on macOS 10.11 and will accept hints!)

Edited title to clarify as FR; thanks!

[2016-07-29 14:47] justinclift commented on #677
Cool, no worries at all. :smile:

[2016-07-29 14:48] justinclift commented on #677
Personally, I haven't ever used a SQLite extension either.  The code was added before my time, and I'm not (yet) a power user.

... but I'm improving. 😁

[2016-07-29 15:00] revolter commented on #682
@justinclift, I don't think is a good idea to let the users type the shortcut. Even in your example, you wrote "Ctrl-A" but I would have typed "CTRL+a".

Also, I think that a middle solution that's not complicated is to have ComboBox for the modifier keys and a 1 character limited text field like this:

![Sketch](https://imgur.com/XZvQonk.jpg)

[2016-07-29 15:04] SafaAlfulaij commented on #682
Accelerators are triggered by `Alt+E` not `Ctrl+E`. They are different than shortcuts :)
Shortcuts are like `Ctrl+C` `Ctrl+V`..

[2016-07-29 15:10] bhj commented on #677
I noticed in another issue that you're on a Mac as well? Some Mac dev docs would be great. Maybe I should open another issue? 😃

[2016-07-29 15:14] justinclift commented on #677
Yep, open another issue. :smile:

[2016-07-29 15:18] justinclift commented on #682
@revolter Heh Heh Heh, well for me yeah it wouldn't have worked like that... I would have had to figure out to use "+" instead of "-" (as you did properly).

Kind of thinking it wouldn't be a real issue though, as the fields would be pre-populated with the current keys.  Wouldn't that clue people into the correct format to use?

@SafaAlfulaij Well, that probably explains a few things. :wink:

[2016-07-29 15:33] SafaAlfulaij commented on #640
That's because of: https://github.com/sqlitebrowser/sqlitebrowser/blob/b773e77a0c17317c9096728876e2b3c0f29be559/src/MainWindow.cpp#L2487
which leads to deleting all the current fillter inputs: https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/FilterTableHeader.cpp#L30

[2016-07-29 15:34] justinclift opened #686 "We should add an OSX Developer setup guide too"
As pointed out by @bhj [here](https://github.com/sqlitebrowser/sqlitebrowser/issues/677#issuecomment-236206890), we should probably add some OSX developer docs too.

eg more than just the basic "How to compile" info [we have](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md#macos-x) already

@bhj What kind of docs are you wanting at the moment?  Something like an OSX version

[2016-07-29 15:35] justinclift commented on #677
Done. 😄

[2016-07-29 15:40] justinclift commented on #640
Ahh.  PR 2 coming up? 😁

[2016-07-29 15:46] revolter commented on #640
@justinclift, Not quite. As I understood, the refresh problem was just an UI issue. When minimizing and restoring the window, the column showed correctly.

[2016-07-29 15:47] PSE-AG commented on #635
I didn't forget this issue but I was on holiday and this week has been crazy, lots of deadlines.

I executed memtest over the weekend as I planned, it run more than 60 hour straight without interruptions and not a single error was found. I don't know why gcc fails with segfaults.

I'm still running on a debian 7. I will install debian 8 on virtualbox and see if I can reproduce the same results.

[2016-07-29 15:48] revolter commented on #682
@justinclift, I personally wouldn't bet on that. There are a lot of people who don't pay attention, and we can't (and shouldn't) rely on them.

[2016-07-29 15:49] justinclift commented on #635
Thanks.  Please keep us posted. :smile:

[2016-07-29 15:49] justinclift commented on #682
k, was just a thought. :smile:

[2016-07-29 15:54] SafaAlfulaij commented on #682
What you need is `QKeySequenceEdit`. That will make it easier to check weather the shortcut is used or not (Signals/Slots..). You can get it from designer and see how it works :)

[2016-07-29 15:57] revolter commented on #683
So an user preference setting as I said? :smile: So we don't bump into other users who want compatibility with MySQL.

[2016-07-29 16:00] justinclift commented on #682
@SafaAlfulaij Thanks. :smile:

[2016-07-29 16:01] justinclift commented on #683
Looks like it? :wink:

[2016-07-29 16:18] revolter commented on #683
I guess so

[2016-07-29 16:43] justinclift commented on #584
@eitijupaenoithoowohd Thanks, that's useful info. :smile:

[2016-07-29 16:46] bhj commented on #686
@justinclift Right guess I was looking for something Mac-related on the wik homepage, there's good stuff in the building.md though that maybe could be extrapolated to a new article if it's current? The Mac section mentions an issue with 10.9 and was last updated in 2014 so may need a refresh.

[2016-07-29 16:57] justinclift commented on #686
The Mac section is still current. :smile:

The issue you mention used to happen occasionally.  No-one seems to have mentioned it (via these Issues) since adding the note though.  Unsure if that means it's not happening any more, or if anyone's reading the note and working around it. :wink:

[2016-07-29 16:58] justinclift commented on #686
For OSX development, is using Qt Creator an ok thing for you?

eg If I create a wiki page with "How to set up a dev environment on OSX", my initial thought is to make it Qt Creator oriented

[2016-07-29 17:04] bhj commented on #686
@justinclift Cool, knowing much Apple loves breaking things I just assumed 🔥

Yes that makes sense!

[2016-07-29 17:30] #631 closed

[2016-07-29 19:48] revolter commented on #683
We could default it to quotes, and add the option to change it in an "Advanced" section, as to not clutter it (like in @chrisjlocke's SS :laughing:). And probably move the "escape character" and/or other settings in the "Advanced" section too while we're at it.

[2016-07-30 10:14] justinclift commented on #623
This definitely sounds like something we should track down and fix prior to 3.9.0.

[2016-07-30 10:16] justinclift commented on #620
Adding this 3.10.0 milestone, as it wouldn't hurt for us to at least investigate the possibility. :smile:

[2016-07-31 19:15] huangjennifer947 opened #687 "can not create a table, because the tab is gray"

[2016-07-31 19:35] revolter commented on #687
Could you please attach a screenshot? It would help us understand the problem easier and faster :smile:

[2016-08-01 11:42] #681 closed

[2016-08-01 13:27] thiagosantos opened #688 "Json export support"
Hello,

I've been using DB Browser since May and I'm loving it.
It's too easy to create, import data and manipulate data directly.

I use the CSV export a lot and it works very well for me. But sometimes I need sqlite records to be available in a JSON, as they are as CSV. So, I have to export to CSV than convert manually to JSON.

Certainly I can create a script to access database and export do JS

[2016-08-01 13:46] justinclift commented on #688
This sounds like a useful enhancement, especially for people using JSON friendly languages.

If we add a command line option to drive this as well, people could use this headless in their toolchain. :wink:

[2016-08-01 13:53] justinclift commented on #688
@thiagosantos As a side question... would you have time to try out our latest nightly build?

We've made a bunch of usability tweaks to it, and could really use some feedback. 😁
(there is a crash bug when closing a database that I'm chasing down, but it's just annoying, not a data loss thing :wink:)

[2016-08-01 14:07] thiagosantos commented on #688
@justinclift Why not? For sure. I'll take a look this afternoon. The crash bug happens in a specific OS?

[2016-08-01 14:30] justinclift commented on #688
Thanks.  With the crash, @revolter [has just provided a fix](https://github.com/sqlitebrowser/sqlitebrowser/pull/690), so the nightly builds from tomorrow onwards should be very stable.

For yourself, just try out the application itself and see if there are any really obvious silly bits. :grin:

Also, we've redesigned the "Edit Database Cell" window, to hopefully make it more useful.  If you could

[2016-08-01 14:35] revolter opened #691 "Browse Data UI looks weird when creating a new database"
Following these steps:
- open app
- open existing non-empty database
- select `Browse Data` tab
- select `File` > `New Database...`
- click `Save`

and the data table widget transforms to:

<img width="1277" alt="screen shot 2016-08-01 at 17 32 54" src="https://cloud.githubusercontent.com/assets/5748627/17297338/0392ea22-580e-11e6-8d0b-f267216871f6.png">

After clicking `Cancel` on the `Add table`

[2016-08-01 14:43] justinclift commented on #691
Hmmm, are those images the wrong way around?

[2016-08-01 14:45] revolter commented on #691
No. The database doesn't contain any table.

[2016-08-01 14:52] justinclift commented on #691
It looks like something that would be kind of obvious in testing, so maybe one of the recent commits added it.  Shouldn't be too hard for you to figure out which one. 😈

[2016-08-01 14:59] revolter commented on #691
Nope, it still happens in 3.8.0. It was probably not noticed because the user (probably) mostly created a new database from the `Database Structure` tab.

[2016-08-01 15:01] justinclift commented on #691
Makes sense.  Lets target this for 3.10.0, as it's non-critical. :smile:

[2016-08-01 16:15] justinclift opened #693 "Create a prettier installer .dmg for the OSX 3.9.0 release"
As @revolter pointed out, we should be able to create a prettier looking .dmg than what `macdeployqt` creates by default.

This project looks like a good approach, fairly simple to use:

&nbsp; &nbsp; https://github.com/andreyvit/create-dmg

[2016-08-01 16:55] revolter commented on #677
@justinclift Does the JSON extension need to be compiled or something?

If not, @bhj, can you manually add it in `Preferences` and let us know if it's working?

[2016-08-01 17:04] justinclift commented on #680
Closing this, as @revolter completed this in https://github.com/sqlitebrowser/sqlitebrowser/commit/ff302c4b6b48fbf7f5dc17f59169790685c85ea5.

[2016-08-01 17:09] justinclift commented on #551
Just double checked this here, and it's definitely fixed. :smile:

Thanks heaps @revolter. 😁

[2016-08-01 17:09] #551 closed

[2016-08-01 17:12] justinclift commented on #688
As a data point, this issue probably ties in with #677.

[2016-08-01 17:22] justinclift opened #694 "Allow tab key to switch panes in the Hexedit view"
In the binary (qhexedit) view inside the Edit Database Cell, there doesn't seem to be any way to switch panes from the left to right sides.

It would be useful to capture the tab key (or something similar), to let the user switch which side they're editing in.

![screen shot 2016-08-01 at 18 17 41](https://cloud.githubusercontent.com/assets/406299/17302610/e74dbf16-5814-11e6-9ce1-ddcd6e2c928d.png)

[2016-08-01 17:31] revolter commented on #694
I think that this would need a QHexEdit PR. Or a search for their API

[2016-08-01 17:36] justinclift commented on #694
I'm not sure.  Kind of suspecting that the only reason it doesn't work at the moment, is that we capture the tab key for the window ourself.  It would surprise me if QHexEdit doesn't have this capability already.

Saying that because I've used command line hex editors before, and they (all?) support doing this.  So, I'm kind of expecting that QHexEdit does too. :smile:

[2016-08-01 17:40] revolter commented on #694
Oh, ok. It makes sense.

[2016-08-01 17:46] justinclift commented on #674
Looking into this now.  [QItemDeletegate](https://doc.qt.io/qt-4.8/qitemdelegate.html) seems to be the area of things to learn about for this.

[2016-08-01 17:54] revolter commented on #623
@abvanliew, Changed the milestone for the release following the next one as it probably requires some major changes which I and @justinclift are not able to do for 3.9.0.

[2016-08-01 20:40] justinclift commented on #686
Started adding info here (rough notes) as I remember them. :smile:

[2016-08-01 20:43] justinclift commented on #680
@revolter Ironically, 0.7.8 just came out after your prompting. 😈

&nbsp; &nbsp; https://github.com/Simsys/qhexedit2/releases/tag/v0.7.8

We might as well update to that.

[2016-08-01 20:45] justinclift commented on #680
Actually, reading the commits there since the 0.7.7 release, the variable initialisation piece seems like it might be the only useful thing for us.  Any idea?

[2016-08-01 21:21] justinclift commented on #693
Using create-dmg looks fairly simple so far.

After compiling DB4S, in the git root directory use `macdeployqt` to include the DB4S dependencies into the .app bundle:

    $ macdeployqt src/DB\ Browser\ for\ SQLite.app -verbose=2

Then clone the create-dmg git repo (in a different directory), and move the DB4S .app bundle into it:

[code]

Then run create-dmg to create the prettifier .dmg:

[code]

[2016-08-01 21:30] justinclift commented on #693
As an idea or a background, maybe something with text on it saying "Drag and drop the .app icon to 'Applications'"?

[2016-08-01 21:39] justinclift commented on #693
This might be clearer:

    Drag and drop this [DB4S icon] to here [Applications icon] to install the program

With an arrow showing the path from DB4S icon to the Applications icon.

[2016-08-01 21:40] justinclift commented on #693
Translations... hmmm... that could be tricky. :wink:

[2016-08-01 23:05] innermous commented on #623
Then I take this, been lazy for last two weeks.

[2016-08-02 00:16] revolter commented on #693
Maybe just an arrow to avoid translations. Also, do you have enabled the show hidden files option?

[2016-08-02 00:17] revolter commented on #680
Well, it's not a problem to update it again, so I'll do it.

[2016-08-02 00:19] revolter commented on #623
@innermous, I _think_ the problem is in the parser stuff (eg `grammar/*`). I thought that maybe the bug is in antlr and we should update it (though we can't, atm).

[2016-08-02 11:15] justinclift commented on #693
Yeah, the arrow is probably the right way to do it.

Also, which show hidden files option are you meaning?

[2016-08-02 12:24] revolter commented on #693
The `defaults write com.apple.finder AppleShowAllFiles YES` command.

In which case, `.DS_STORE` and/or other hidden files would show up and make it look ugly.

- .background
- .DS_Store
- .Trashes
- .VolumeIcon.icns

Another useful info:

I can test this if you want.

This info was taken from [node-appdmg][1]

  [1]: https://github.com/LinusU/node-appdmg

[2016-08-02 12:27] justinclift commented on #677
@bhj Stumbled across info about this while investigating a different issue.  Including the JSON1 extension by default (on OSX) could be extremely easy.

If I create a test build with it, would you be ok to check that it works reasonably well from your point of view?

[2016-08-02 12:34] justinclift commented on #693
Thanks.  Will investigate.  Trying to avoid a node dependency, but it doesn't hurt to look at their approach. :smile:

[2016-08-02 12:40] revolter commented on #693
Didn't say to use it, as I understand a shell script is easier to use. It's just the useful info in the readme, and maybe `create-dmg` allows to move the files for example in a similar way.

[2016-08-02 12:41] justinclift commented on #693
Cool, thanks. :smile:

[2016-08-02 15:32] justinclift commented on #643
@chrisjlocke How's this progressing?  We're closing out the last few issues now... :smile:

[2016-08-02 15:55] justinclift commented on #589
Closing this, as it's almost definitely fixed.  Been using it here for a few days (on OSX) and no issues so far.

If it does turn out to not work properly for either of you for some reason after all, feel welcome to reopen this so we can investigate. :)

[2016-08-02 15:55] #589 closed

[2016-08-02 15:56] justinclift commented on #488
Closing this, as it's apparently fixed and we've not heard back.

[2016-08-02 15:56] #488 closed

[2016-08-02 16:02] cederom commented on #488
TANK U 👍

[2016-08-02 16:27] justinclift commented on #488
You're welcome. :smile:

[2016-08-02 16:55] justinclift opened #696 "Weird grey bar showing up underneath the filters line"
There's a weird grey line showing up here:

![screen-shot-2016-08-01-at-12 08 45](https://cloud.githubusercontent.com/assets/406299/17336758/80f49ed8-58d7-11e6-9265-964cb5bbc36c.png)

Hopefully not too hard to resolve.

[2016-08-02 17:11] justinclift commented on #693
The Applescript created then executed internally by `create-dmg` seems to have an error in it.  Investigating.

[2016-08-02 17:17] bhj commented on #677
Absolutely! Their (sqlite) extension docs seemed pretty sparse and I wasn't sure where to start. Thanks @justinclift @revolter

[2016-08-02 17:35] justinclift commented on #677
@bhj Please give this one a go:

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx-onceoffs/DB%20Browser%20for%20SQLite-201608021830-issue677v1.dmg

For OSX, we kind of cheat when building SQLite.  We just build it using Homebrew.  For this experimental .dmg file, I just rebuilt it and included `--with-json1` on the Homebrew command line.

There's a fairly decent chance that worked.  Not guaran

[2016-08-02 18:02] thiagosantos commented on #677
The JSON1 functions (https://www.sqlite.org/json1.html) will be available in this nightly build?

[2016-08-02 18:07] bhj commented on #677
@justinclift Looks good so far:
[code]

outputs

`{"ex":"[52,3.14159]"} , [1,2,"3",4] ,4, {"a":2,"c":[4,5,{"f":7}]} , {"a":2,"c":4} , {"a":99,"c":4} , {"a":2,"c":{"e":5}} , [0,1,3,4] ,object,1`

Thanks, hopefully flipping on support for other platforms isn't too hard!

[2016-08-02 18:20] justinclift commented on #677
@thiagosantos I'll go and add it to the script for the nightly builds on OSX now. :smile:

[2016-08-02 18:27] justinclift commented on #677
Just added it to our main OSX build instructions too.

For OSX at least, this should be included in our releases from here on.

[2016-08-02 19:18] #680 closed

[2016-08-02 19:22] revolter commented on #677
Would it work on Windows too?

[2016-08-02 19:26] justinclift commented on #677
The extension code itself should, as far as I know, as it's a "core" extension.  Though it would take a separate piece of time to look into it.

[2016-08-03 14:23] justinclift commented on #693
@revolter [node-appdmg](https://github.com/LinusU/node-appdmg) might be the better way to go after all.

Although both `create-dmg` and `node-appdmg` just call out to the hdiutil for the initial image creation, the subsequent adjustment of things inside the image (icon positions, etc) seems better done in the node one.  It doesn't rely on Applescript for starters. :smile:

[2016-08-03 15:09] revolter opened #698 "Multiple font warnings shown on binary data cell select"
Upon selecting a cell containing binary data, the following warning it printed multiple times:

`OpenType support missing for script 66`

[2016-08-03 15:12] revolter commented on #693
The [SO answer][1] said that `node-appdmg` is

so that explains why is better written. It would be awesome if you would get it working!

  [1]: http://stackoverflow.com/a/628874/865175

[2016-08-03 15:23] justinclift commented on #693
Yeah, it's working here without much issue.  It does seem to have a problem with volume names over 27 chars, but that can be worked around.

[2016-08-03 15:51] justinclift commented on #693
Reckon this is ok?
![screen shot 2016-08-03 at 16 50 40](https://cloud.githubusercontent.com/assets/406299/17372159/83bbc510-599a-11e6-9668-2cfca7df328b.png)

[2016-08-03 16:29] revolter commented on #693
Not trying to be rude, but, is that a mockup? If not, that red is too hard on the eyes.

[2016-08-03 16:30] revolter commented on #693
I was imagining something like:

![Firefox installer](http://i.stack.imgur.com/M8P9e.png)

[2016-08-03 16:31] justinclift commented on #693
Heh Heh Heh, that's why I ask. :grin:

Ok, I'll try to copy the Firefox one's approach.

[2016-08-03 16:32] revolter commented on #693
Make sure you create the photo big enough to have the @2x version too.

[2016-08-03 16:49] justinclift commented on #693
Good point. :smile:

[2016-08-03 18:37] justinclift commented on #693
Any of these good enough?
![screen shot 2016-08-03 at 19 33 02](https://cloud.githubusercontent.com/assets/406299/17377428/836cd1a0-59b1-11e6-945e-52b9901502ca.png)
![screen shot 2016-08-03 at 19 33 14](https://cloud.githubusercontent.com/assets/406299/17377434/8893e1fa-59b1-11e6-889a-924d96860b2f.png)
![screen shot 2016-08-03 at 19 33 25](https://cloud.githubusercontent.com/assets/406299/17377440

[2016-08-03 18:39] justinclift commented on #693
This looks useful:

&nbsp; &nbsp; https://openclipart.org/search/?query=right+arrow

[2016-08-03 18:43] revolter commented on #693
What size is it?

[2016-08-03 18:45] justinclift commented on #693
The screenshot above should be able the same size.

Using a decent arrow seems to improve the look somewhat:
![screen shot 2016-08-03 at 19 43 42](https://cloud.githubusercontent.com/assets/406299/17377700/c4635bba-59b2-11e6-8c6e-1504cc147ddd.png)

[2016-08-03 18:45] justinclift commented on #693
Hmmm, the icons could probably go a touch larger too.

[2016-08-03 18:49] revolter commented on #693
Where is that "Install DB4S 3.9.0" coming from? Do you think we could/should change it to "Install DB Browser for SQLite"?

[2016-08-03 18:50] justinclift commented on #693
Apparently it needs to be 27 characters or less.

Which is weird, as create-dmg doesn't have that limit.  I'll see if I can figure out a workaround, as we only need 29 chars. :smile:

[2016-08-03 18:57] justinclift commented on #693
Ahhh, that's why create-dmg was breaking.

We'll need to keep with 27 characters or less then.

[2016-08-03 19:00] revolter commented on #693
Ok, we'll leave it that way

[2016-08-03 19:02] justinclift commented on #693
Is this workable?
![screen shot 2016-08-03 at 20 02 29](https://cloud.githubusercontent.com/assets/406299/17378293/416e18b4-59b5-11e6-949b-ebafb43d3a43.png)

[2016-08-03 19:03] justinclift commented on #693
If so, I'll attempt to create the 2X background next.

[2016-08-03 19:10] justinclift commented on #693
@revolter Would you be ok to see if this installer seems retina friendly?

&nbsp; &nbsp; http://nightlies.sqlitebrowser.org/osx-onceoffs/DB%20Browser%20for%20SQLite%203.9.0-installer_test2-2X.dmg

[2016-08-03 19:15] revolter commented on #693
It looks like it is. But, firstly, I personally don't quite like the design. And secondly, the hidden folder is showing up:

![screen shot 2016-08-03 at 22 14 55](https://cloud.githubusercontent.com/assets/5748627/17378728/c982da02-59c7-11e6-8fca-4b6bd3ea397c.png)

[2016-08-03 19:18] justinclift commented on #693
For you, does the hidden folder show up with the firefox installer?

[2016-08-03 19:19] justinclift commented on #693
For the design itself, no worries.  Happy to use whatever background image, I'm not fussed.

Can you get a hold of a suitably licensed one for us to use? smile:

[2016-08-03 19:23] revolter commented on #693
No. It moved them outside the window, and the scrollbars do appear as the `node-appdmg` said.

![screen shot 2016-08-03 at 22 22 34](https://cloud.githubusercontent.com/assets/5748627/17378972/e5813ad6-59c8-11e6-9f4b-8842e1767c37.png)

I'm working on one now.

[2016-08-03 19:24] justinclift commented on #693
k, position them below too then

[2016-08-03 19:33] justinclift commented on #693
If you're trying with `node-appdmg`, this is the json file so far, including hidden icons moved down a bit:

[code]

[2016-08-03 19:39] revolter commented on #693
Shouldn't the hidden files have the same `y` and increasing `x`?

[2016-08-03 19:45] justinclift commented on #693
This is how that json looks, with hidden files enabled:
![screen shot 2016-08-03 at 20 44 14](https://cloud.githubusercontent.com/assets/406299/17379611/218beb06-59bb-11e6-8d1a-4e76c2a8af3d.png)

[2016-08-03 19:56] justinclift commented on #693
Guess this isn't any better?
![screen shot 2016-08-03 at 20 56 25](https://cloud.githubusercontent.com/assets/406299/17380008/cdbafb96-59bc-11e6-9d28-9fd406847986.png)

[2016-08-03 20:06] revolter commented on #693
Are the hidden files moved?

[2016-08-03 20:08] justinclift commented on #693
Yep.

[2016-08-03 22:22] bakercp opened #700 "Prefetch block size direct input prevented."
On version 3.8.0, OSX 10.11.6

In preferences -> database, manually entering a value into the "Prefetch block size" input does not work.  The only way to get a value to stay is to hold down the arrow key, which takes a very long time.

![preferences](https://cloud.githubusercontent.com/assets/300484/17383962/7d5ee77a-599e-11e6-9ad2-745fa877afba.png)

It is also possible to manipulate it with the k

[2016-08-03 22:28] revolter commented on #700
It's working for me :-?

[2016-08-03 22:31] revolter commented on #700
@bakercp, Can you please test it in the [latest nightly][1]?

  [1]: http://nightlies.sqlitebrowser.org/osx/

[2016-08-03 22:40] bakercp commented on #700
Hi @revolter thanks for the tip!  It seems to be working in the latest nightly.  In the last release I was finally able to get it working after checking and unchecking foreign keys.  I suspect it was just gui-related. Thanks!

[2016-08-03 22:40] #700 closed

[2016-08-03 22:51] revolter commented on #700
@bakercp 👍

[2016-08-04 13:29] justinclift commented on #696
As something to look into for this, maybe QFontMetrics would help us calculate an optimal size, based on the header and filter fonts in use:

&nbsp; &nbsp; https://doc.qt.io/qt-4.8/qfontmetrics.html

[2016-08-04 15:26] justinclift commented on #693
Updating the OSX nightly build script with @revolter's .json and [background image](https://github.com/sqlitebrowser/art-assets/tree/master/osx_install_backgrounds).

Manually version created for today:

* SQLite with JSON1 extension: http://nightlies.sqlitebrowser.org/osx/DB%20Browser%20for%20SQLite_20160804.dmg
* SQLCipher: [in progress]

All the nightlies from here should automatically look the

[2016-08-04 16:39] justinclift commented on #195
@revolter This "adding an extra option to the CSV import dialog" seems like it might be your kind of thing.  Want to take a look at it?

[2016-08-04 16:48] revolter commented on #195
@justinclift, If only I would know how to branch based on the setting.

[2016-08-04 17:13] #693 closed

[2016-08-04 17:28] justinclift commented on #195
The database interaction bit could be tricky at the moment, yeah. 😦

[2016-08-04 18:24] justinclift commented on #643
Going to try and fix the obvious UI elements somewhat quickly. :smile:

These are the translations we have at present:

* sqlb_ar.ts - Arabic
* sqlb_de.ts - German
* sqlb_en_GB.ts - British English
* sqlb_es_ES.ts - Spanish
* sqlb_fr.ts - French
* sqlb_ko_KR.ts - Korean
* sqlb_pt_BR.ts - Brazilian Portuguese
* sqlb_ru.ts - Russian
* sqlb_tr.ts - Turkish
* sqlb_zh.ts - Chinese (Simplified?)
* sqlb_

[2016-08-04 18:27] justinclift commented on #698
Any idea if this happens with both Qt4 and Qt5, or just one of them?

[2016-08-04 18:30] revolter commented on #698
I don't remember seeing this when building with Qt4, but I don't know for sure.

[2016-08-04 19:57] justinclift commented on #643
## Arabic

- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:57] justinclift commented on #643
## Chinese (Simplified?)
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:58] justinclift commented on #643
## Chinese (Traditional)
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:58] justinclift commented on #643
## English (British)
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:58] justinclift commented on #643
## French
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:59] justinclift commented on #643
## German
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:59] justinclift commented on #643
## Korean
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:59] justinclift commented on #643
## Portuguese (Brazilian)
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 19:59] justinclift commented on #643
## Russian
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 20:00] justinclift commented on #643
## Spanish
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 20:00] justinclift commented on #643
## Turkish
- [ ] AboutDialog.ui
- [ ] CipherDialog.ui
- [ ] ColumnDisplayFormatDialog.ui
- [ ] CreateIndexDialog.ui
- [ ] EditDialog.ui
- [ ] EditTableDialog.ui
- [ ] ExportCsvDialog.ui
- [ ] ExportSqlDialog.ui
- [ ] ImportCsvDialog.ui
- [ ] MainWindow.ui
- [ ] PreferencesDialog.ui
- [ ] SqlExecutionArea.ui
- [ ] VacuumDialog.ui

[2016-08-04 20:18] justinclift opened #701 "Create Index dialog widgets need to be resized"
Looking through the UI elements with our various translated languages.

The widgets in the Create Index dialog don't fit inside it correctly:
![screen shot 2016-08-04 at 21 14 33](https://cloud.githubusercontent.com/assets/406299/17416982/d4237a04-5a88-11e6-986e-7789f232266f.png)
We should resize them so they do.

[2016-08-04 21:26] innermous commented on #701
You wanna that table to be adjusted to window borders? Cause I think they wouldn't match into table, because header titles are too long.

[2016-08-04 21:29] revolter commented on #701
Probably resize the whole window based on the table instead.

[2016-08-04 21:35] justinclift commented on #701
Oops, this might help illustrate the current problem.  Even when resizing the window to be bigger, that table in the middle doesn't expand:
![screen shot 2016-08-04 at 22 34 44](https://cloud.githubusercontent.com/assets/406299/17419087/c46a8f84-5a93-11e6-8302-656368c8725c.png)

[2016-08-04 21:38] revolter commented on #701
Did you resize it from code?

[2016-08-04 21:57] justinclift commented on #701
Nope, by dragging the corner in the running program

[2016-08-04 22:00] revolter commented on #701
But the other widgets should stick to one of the margins too, not remain centered

[2016-08-04 22:01] justinclift commented on #701
Not sure that matters.  The table widget should definitely be expanding out though, as it unnecessarily has a scroll bar at the bottom.

[2016-08-04 23:27] revolter commented on #515
@justinclift Should we close this?

[2016-08-05 05:07] chrisjlocke commented on #643
I'll commit later what I've got - I've gone through about 6 languages completely, not just fixing the dialogs.  Green ticks all round in Qt Linguist.

[2016-08-05 10:05] justinclift commented on #515
Hmmmm, I'm on the fence about it.  Maybe lets wait for 3.9.0 to be released and people are using it?

[2016-08-05 10:05] justinclift commented on #515
Added 3.10.0 milestone, so we remember to look back at this to check. :smile:

[2016-08-05 10:06] justinclift commented on #643
Thanks @chrisjlocke that should help a bunch. :smile:

Make a PR for it though, don't just directly commit it.

[2016-08-05 10:09] revolter commented on #510
@zwrmueller, As a safety check, can you test this too with the latest nightly?

[2016-08-05 10:20] revolter opened #703 "Change cell empty shortcut to use backspace beside delete"
#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem: ___

The keyboard shortcut for emptying a cell should be <kbd>alt</kbd> + <kbd>backspace</kbd> instead of <kbd>alt</kbd> + <kbd>delete</kbd>, as some (newer) Macbook models don't have the <kbd>delete</kbd> key.

### I'm using DB4S on:

- [ ] Windows
- [ ] Lin

[2016-08-05 10:34] justinclift commented on #703
Makes sense.  I should be able to get this done for 3.9.0.

[2016-08-05 13:06] justinclift commented on #687
@huangjennifer947 Have you solved this problem yet? :smile:

If not, can you add a screenshot here to show the problem?

[2016-08-05 13:10] #701 closed

[2016-08-05 13:14] justinclift commented on #701
Thanks @revolter, it's looking good now. :smile:
![screen shot 2016-08-05 at 14 14 10](https://cloud.githubusercontent.com/assets/406299/17437670/f21fe55e-5b16-11e6-8e04-23cf65905595.png)

[2016-08-05 13:18] justinclift commented on #643
@chrisjlocke By the way, which ones are those 6?  I'll continue on with the others. :smile:

[2016-08-05 14:12] justinclift commented on #703
Fixed in #705.

[2016-08-05 14:12] #703 closed

[2016-08-05 15:20] justinclift commented on #443
Closing this, as <kbd>Alt</kbd>+<kbd>Delete</kbd> to set NULL definitely now works in recent nightly builds.  <kbd>Alt</kbd>+<kbd>Backspace</kbd> (for the same effect) was added today too. :smile:

[2016-08-05 15:20] #443 closed

[2016-08-05 16:29] eeinfalt opened #707 "Crashes when selecting a different table while in Browse Data"
#### I'm opening this issue because:

- [X] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem: ___

sqlitebrowser crashes when selecting a different table while in Browse Data

### I'm using DB4S on:

- [X] Windows
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS
- [ ] Other: ___

### I'm using DB4S version:

- [ ] 3.7.0
- [X] 3.8.0
- [ ] Other: ___

### I

[2016-08-05 17:34] revolter commented on #707
Please try out the nightly version

[2016-08-05 17:43] justinclift commented on #707
@eeinfalt Thanks for reporting this.  We're **very close** to releasing a major new version 3.9.0.  There's a pretty good chance this is already fixed in that.

If you're ok to try out the nightly build (download locations are on our front page), it's the same code as our upcoming 3.9.0 release.

Are you ok to give that a go and let us know if the problem still happens?

[2016-08-05 19:09] justinclift commented on #674
As pointed out by @SafaAlfulaij, the problem code may be something to do with this:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/sqlitetablemodel.cpp#L271-L276

On his Qt5 based system, `BOOL` fields can't be edited in-place with DB4S.  So the above code may not be functioning as intended only with Qt4.

[2016-08-05 19:14] justinclift commented on #674
Tested with Qt5 here (on OSX), the problem still happens.  So, it's not a Qt4-only bug.  Oh well. :wink:

[2016-08-05 20:13] justinclift commented on #643
Note, the Arabic translation has been redone completely today in #706.  Looks like 100% coverage too, which is pretty awesome. 😁

[2016-08-05 20:22] #674 closed

[2016-08-05 20:26] justinclift commented on #678
It turns out the code for checking if a cell is binary or not is here:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/sqlitetablemodel.cpp#L223

[code]

It seems to be checking the first 1024 characters, checking if any of them is \0.  If any of them are, it assumes the data is binary.

We could probably move that to it's own method, and make it accessible from other

[2016-08-06 01:01] innermous commented on #678
I didn't get it. What don't you like about clear method?

[2016-08-06 11:43] zwrmueller commented on #510
I can confirm Karim:
sqlitebrowser-win64-issue639v2-201607131125.exe  Working  Qt 5.6.0
sqlitebrowser.exe.zip (06.08.2016)                       NOT Working  Qt 4.8.7

[2016-08-06 11:49] justinclift commented on #510
Thanks @zwrmueller. :smile:

It sounds like the Windows builds will definitely need to be build using Qt5.

[2016-08-06 12:21] justinclift opened #710 "Add Cut, Copy, and Paste items to Edit menu"
#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [x] DB4S needs a feature
- [ ] DB4S has another problem: ___

### Details for the issue

We have an Edit menu, but the standard "Cut, Copy, Paste" items are missing from it.

When our Copy/Paste code is in good shape, we should probably add them back in.

[2016-08-06 14:58] justinclift opened #711 "Feature request: We should sign our official releases"
We should probably sign our official releases for OSX and Windows, to minimise potential weirdness that can arise from OS warnings about unknown software".

This kind of warning [popped up on Windows a while back](https://github.com/sqlitebrowser/sqlitebrowser/issues/284) (3.6.0v2 release), and at least one person has mentioned they have problems on OSX due to us not signing our application.

Usef

[2016-08-06 15:47] glawrence commented on #711
You link to issue #284 is broken by the way

[2016-08-06 15:53] justinclift commented on #711
Oops, thanks @glawrence. :smile:

[2016-08-07 19:32] justinclift opened #714 "Feature request: hex editor width should update automatically"
A useful enhancement we should consider, is to have the hex editor resize its width automatically whenever the user resizes the Edit Cell window.

At present, the hex editor view uses a fixed size which looks weird and leaves a lot of it's space unused:

![screen shot 2016-08-07 at 20 30 00](https://cloud.githubusercontent.com/assets/406299/17464726/fa052aae-5cdd-11e6-8583-feb416a8da50.png)

[2016-08-07 19:42] revolter commented on #714
Don't hex editors alhave a fixed number of columns? Not accustomed with them, so I'm just asking. Is it ok to, for example, display all the bytes(?) on one line?

[2016-08-07 19:54] justinclift commented on #714
Good point.  Hadn't thought of that. :smile:

[2016-08-07 19:54] #714 closed

[2016-08-08 01:41] emersonthis opened #715 "Unable to open hidden database files"
### Details for the issue
Database file that start with "." (hidden by default on OSX) are not selectable by the file picker when you click "Open Database". The following screenshot shows the open dialogue side-by-side with the same window in the finder. You see there are several hidden files that don't appear in the sqlitebrowser window.
<img width="1277" alt="screen shot 2016-08-07 at 6 34 03 pm

[2016-08-08 07:37] glawrence commented on #711
When I looked into this before I did find some free code signing certificates for open source projects, so [GlobalSign](https://www.globalsign.com/en/ssl/ssl-open-source/) for example. They have been doing so since June 2013. They also provide one certificate that work across platforms.

The other task is to but the code signing step into the build process and consider if the nightly builds need t

[2016-08-08 13:36] justinclift commented on #715
Ahh yeah, this frustrated me ages ago too, until I learned that OSX provides a key combo exactly for this situation. :smile:

When yo've opened any applications's "Open File" (or similar file dialogs) press this key combination:

&nbsp; &nbsp; <kbd>Cmd</kbd>+<kbd>Shift</kbd>+<kbd>.</kbd>

The hidden files will then be shown in the dialog, allowing their selection/opening/etc.

Side note - This key

[2016-08-08 13:37] justinclift commented on #687
Closing this due to lack of response.

[2016-08-08 13:37] #687 closed

[2016-08-08 13:39] justinclift commented on #711
Cool, that's good info. :smile:

[2016-08-08 13:49] revolter commented on #715
@justinclift, Can't we use [`QDir::Hidden`][1]?

  [1]: http://doc.qt.io/qt-5/qdir.html#Filter-enum

[2016-08-08 14:59] justinclift commented on #715
Reading over that, it sounds like it would work too. :smile:

[2016-08-08 16:25] emersonthis commented on #715
Thanks for the shortcut tip. I'll use that in the mean time. Fwiw I already have hidden files visible by default. That's why you can see them in the finder in my screenshot. But that doesn't seem to apply to dialogues so the second of the two solutions does not actually apply to this issue. It's counterintuitive that turning on hidden files all the time DOESNT make them visible in dialogues as wel

[2016-08-08 20:25] revolter commented on #715
@justinclift, We're using `QFileDialog`, not `QDir`, so I tried out [QFileDialog::setFilter][1] to no avail :(.

  [1]: http://doc.qt.io/qt-5/qfiledialog.html#setFilter

[2016-08-08 20:45] justinclift commented on #715
Is the code you tried in a branch somewhere?  I can try and beat it into shape too if you want. :smile:

[2016-08-09 15:33] jimothyr commented on #267
I am having the same problem. I have tried the same directory approach , and no dice..

Win7 x64    db version  3.8.0

[2016-08-09 15:35] justinclift commented on #267
It sounds like we'll need to investigate this properly after the 3.9.0 release.

[2016-08-09 15:38] justinclift commented on #707
@eeinfalt ping?

[2016-08-10 03:45] bhj commented on #686
Link for reference: https://github.com/sqlitebrowser/sqlitebrowser/wiki/Notes-for-setting-up-your-build-environment-on-OSX

[2016-08-10 09:19] zwrmueller opened #717 "DB4S changes writedate of a file - even if nothing is saved"
### Details for the issue

as topic says. My procedure:
* opening the database
* fireing an sql-statement updating the table
* browsing the table
* leaving the database without saving

Unfortunately DB4S is changing the writedate of the db file, despite saying "don't save".

I could understand if it is changing the accessdate, and leaving creationdate and writedate untouched.

Regards
 Ralf

### U

[2016-08-10 10:26] schdub opened #718 "SqliteTableModel::getForeignKeyClause don't work properly if FK column has 0 index"
Hello.

In "Browse Data" tab, for FK's with 0 index not work:
- tooltip with text "References %1 (%2)...";
- Ctrl + Shift + Left Mouse Click.

Possible solution sqlitetablemodel.cpp, 261

    if (column >= 0 && column < obj.table.fields().count())

instead

    if (column > 0 && column < obj.table.fields().count())

[2016-08-10 11:28] justinclift commented on #718
Thanks @schdub, I'll look into it now. :smile:

[2016-08-10 11:35] justinclift commented on #686
Oops.  Completely forgot to include the link in my comment.  Thanks for fixing @bhj. :smile:

[2016-08-10 11:50] justinclift commented on #717
Ahhh, that's an interesting observation. :smile:

It's **probably** because opening the database (using the SQLite library) does several setup and housekeeping type operations on the database, including creating temporary journaling files (and more).

From the database's point of view, it doesn't know ahead of time that no data will be changed.  So, it just does all the setup needed as if it will

[2016-08-10 12:32] zwrmueller commented on #717
Yes and No. You know, just peeking into the file, doing some SQL and leaving without saving is expected to leave the database timestamp unchanged - but is does not. Thus the timestamp of the file couldn't be used as an original information anymore. That's sad. I can remember that EXCEL has some issues here too.

If you exactly know of the programs behaviour you can workaround as you wrote. But I'm

[2016-08-10 12:35] justinclift commented on #717
No worries. :smile:

Are we ok to close this issue?

[2016-08-10 12:40] zwrmueller commented on #717
if there is no chance of a quick fix of the program - as of saving timestamps and reset them at closing the database without being saved - well, than we can close this issue.

Surely it is not the biggest point out here.

[2016-08-10 12:45] justinclift commented on #717
Well... we *could* reset the timestamp of the file after access, but (sorry) it's probably a bad idea.

The SQLite library may have done other housekeeping tasks on the file meanwhile, and if we reset the timestamp then the file will appear as if it's been untouched (from a timestamp point of view).  Even though that's not really the case.

Personally, I can imagine some people being pretty annoye

[2016-08-10 12:45] #717 closed

[2016-08-10 12:48] zwrmueller commented on #717
I thought it could be bad for other reasons.

So I'm fine with the workaround, at least for now ;-)

[2016-08-10 15:40] justinclift commented on #718
With:

[code]

I'm having a bit of trouble understanding that. :wink:

The concept of a foreign key with "0 index" is confusing me.

Would you be ok to take a screenshot of the database structure or similar, so I can see what you mean?  Maybe if the database file itself has no sensitive data, email it to me and I'll try it that way? :smile:

[2016-08-10 16:06] justinclift opened #720 "The "Import CSV" dialog doesn't always display the preview"
### Details for the issue

With DB4S git master (b7be134 as of 10th 2016), the "Import CSV" dialog isn't always displaying the preview image correctly.

This happens with at least when DB4S is using the Russian language, though it may also happen for other languages too (not yet tested).
![d2d3dd00-5f16-11e6-88b2-f091fd9e6ee7](https://cloud.githubusercontent.com/assets/406299/17561165/b0a747ac-5f1

[2016-08-10 16:21] schdub commented on #718
1) import tables from .sql file:
[kuban.db.sql.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/411587/kuban.db.sql.zip)
2) open Browse Data tab and select level table;
3) column place_id - it's Foreing Key to place(id) key;
4) try to jump to place table using Ctrl + shift+Click or try to wait tooltip with "References %1(%2).." text - none of this happens.

[2016-08-10 16:36] justinclift opened #721 "Non-OSX key combination are displayed in tooltips on OSX"
It turns out that some key combinations are displayed via our tooltips.

However, they're not displaying the correct key combination on OSX, instead showing the Windows/Linux key combo.  For example, in [sqlitetablemodel.cpp](https://github.com/sqlitebrowser/sqlitebrowser/blob/538116c97b9dab60908199b82d4e58a3f8f757ac/src/sqlitetablemodel.cpp#L249):

[code]

This should be reasonably simple to fix

[2016-08-10 16:41] justinclift commented on #718
Thanks @schdub, I can see the problem now. :smile:

[2016-08-10 18:56] justinclift commented on #678
Closing this, as the slow code in the EditDialog was resolved with #713.

[2016-08-10 18:56] #678 closed

[2016-08-11 03:48] lech commented on #488
Sorry for the late response, I just tested my example against a 3.8.99 nightly under Windows 10 Pro and it appears to be behaving itself fresh out of the box.  :+1:  Thanks!

Also thanks to @MKleusberg with a work-around for 3.8.0 until the next stable version is available. :smiley:

[2016-08-11 11:18] justinclift commented on #488
Awesome @lech, that's for trying it out and letting us know. :smile:

[2016-08-11 13:17] justinclift commented on #721
Code which seems to have this problem:

* [tr("References %1(%2)\nHold Ctrl+Shift and click to jump there")](https://github.com/sqlitebrowser/sqlitebrowser/blob/538116c97b9dab60908199b82d4e58a3f8f757ac/src/sqlitetablemodel.cpp#L249)
* [tr("Ctrl+Return")](https://github.com/sqlitebrowser/sqlitebrowser/blob/538116c97b9dab60908199b82d4e58a3f8f757ac/src/MainWindow.cpp#L113)
* [tr("Ctrl+L")](https://gi

[2016-08-11 22:22] justinclift commented on #718
Sorry for the delay with this.  Today I've been learning about Qt's Model/View, which I want to understand properly before debugging through the `sqlitetablemodel.cpp` code. :wink:

[2016-08-12 07:48] gigyme opened #724 "Unicode text in BLOB not copying for other aplications"
### Details for the issue

![screenshot_08-12-2016-102128](https://cloud.githubusercontent.com/assets/2116400/17615903/e8bfe780-6079-11e6-8a2f-272cce93f798.png)
![screenshot_08-12-2016-102134](https://cloud.githubusercontent.com/assets/2116400/17615908/f09a96ee-6079-11e6-8c4e-438c8f67b76e.png)
![screenshot_08-12-2016-102142](https://cloud.githubusercontent.com/assets/2116400/17615910/f377ec86-6079

[2016-08-12 08:06] revolter commented on #724
Great improvements to copy paste functionality were just added by @innermous today (#709).

Can you test the nightly build tomorrow, when these fixes will be included?

[2016-08-12 12:23] kimbar opened #725 "Grid view not refreshing when schema changed"
### Details for the issue

Reproduction (it should be reproducible w/o Python, but that's what I exactly did):

1. In Python (2.7, 32-bit):
[code]
\2. Open ``base.db`` in SQLiteBrowser
\3. Switch to "Browse Data" tab
\4. In Python:
[code]
\5. Hit refresh button in "Browse Data"

Result: Table "people" has 3 attributes, and John's membership flag is "100"
Expected: Table "people" has 4 attributes,

[2016-08-12 12:27] justinclift commented on #725
Ahhh, interesting.

Would you be ok to try the latest nightly build?  It has a __bunch__ of bug fixes in it, some of which affect things like this.  There's a good chance this is already fixed in that. :smile:

As a side thought... are you using the 32-bit or 64-bit build on Windows?  Asking because I'm creating the Windows packages for our "3.9.0 beta1" release today.  If you have time to test fo

[2016-08-12 12:36] kimbar commented on #725
I'm using 64-bit build in Windows 10. BTW, the thing gets refreshed if I switch to the "Database Structure" tab and back (so it seems that data are queried but schema is not). I'm on to check the nightly build.

[2016-08-12 12:37] justinclift commented on #725
Interesting about the schema.  Not sure we've done any fixes in that area of code, so it might still be present. 😦

[2016-08-12 12:38] justinclift commented on #725
Btw, with `4.` above, what drops the table before it gets re-created?

[2016-08-12 12:39] justinclift commented on #725
Oh, I guess that's what you're meaning with `...`.  Didn't realise. :wink:

[2016-08-12 12:43] revolter commented on #725
It's possible that `Refresh Data` only refreshes the ... data 😄

[2016-08-12 12:43] kimbar commented on #725
Behaviour as expected in 3.9.99. :) Over and out, waiting for the release (Thanks, for this tool a lot!).

[2016-08-12 12:48] justinclift commented on #725
@kimbar With "Behaviour as expected"... is that "bug still present" or "bug is fixed"? :wink:

[2016-08-12 12:52] kimbar commented on #725
I've tried to be as military as I could (y'know witch their "positive" and "affirmative"), haha. It's not present, the table has 4 columns.

[2016-08-12 12:53] revolter commented on #725
Clearly the bug is fixed. Remembered I had the same problem: #496

[2016-08-12 12:54] #725 closed

[2016-08-12 13:00] justinclift commented on #725
Awesome, thanks guys. :smile:

[2016-08-12 21:05] justinclift opened #726 ""Set as NULL" button doesn't work in text editor"
@innermous pointed out on Gitter that at the "Set as NULL" button isn't working in text mode.

It seems to just be clearing the value to an empty text string.

[2016-08-13 10:04] innermous commented on #724
@revolter those were not related to hex editor in Editor Dock.

[2016-08-13 10:29] justinclift commented on #724
@innermous You're off by a day. :wink:

He was meaning the code before, where you fixed the Copy/Paste handling. 😁

[2016-08-13 12:10] innermous commented on #726
As I already said, it's not bug at all. Text can't be NULL. Only thing you can do - sync data between hex and text and update cell from hex when *Apply* is pressed. Because hex mode respects nulls. Not sure if empty strings will be available in that case.

[2016-08-13 12:43] innermous commented on #724
@justinclift I don't understand what you are talking about.

[2016-08-13 12:51] justinclift commented on #724
@innermous No worries. :smile:

[2016-08-13 12:55] justinclift commented on #726
Heh Heh Heh

From a user's perspective, this is definitely a bug.  It is because - for a user - "Set as NULL" should not care which view mode we are in.  It should set the _cell data_ to NULL.

I have a different idea for how to "fix" this (from user perspective).  You probably won't like my code for it though. 😁

[2016-08-13 12:57] revolter commented on #724
@justinclift, @innermous is right, this issue is about the Edit Dock, sorry!

[2016-08-13 13:00] justinclift commented on #724
Oops. :smile:

[2016-08-13 13:01] justinclift commented on #724
Thinking about this a bit more... could part of the problem be how we detect BLOB's?

eg Valid unicode text with \0 inside it

[2016-08-13 13:22] innermous commented on #724
Dude, it has nothing to do with anything like blobs or nulls or whatever you are thinking. This is just not related. This is not related to my commits too.

[2016-08-13 13:27] innermous commented on #726
@justinclift but still. Editor widget doesn't make changes until we press  Apply and changes are based on editor. Which can't hold null(in case it's text editor)

[2016-08-13 13:35] justinclift commented on #724
Sorry @innermous. 😦

[2016-08-13 15:37] #726 closed

[2016-08-13 15:40] justinclift commented on #726
47b1224 fixes the problem using a class variable to track the NULL state for the text editor.  Seems to work ok. :smile:

[2016-08-13 22:47] justinclift commented on #677
Oops.  Just realised that the "3.9.0 beta1" build released today for OSX didn't include the JSON1 extension.

I'll need to investigate whether SQLCipher + the JSON1 extension go together ok.  If they do, it should be feasible to have them both in 3.9.0.

[2016-08-14 06:50] justinclift opened #728 "Arabic flag icon missing from Language drop down on Windows"
With the new 3.9.0 beta 1 release, the Arabic flag icon is missing from the Language drop down in the Preferences dialog:
![missingarabicflag](https://cloud.githubusercontent.com/assets/406299/17647683/a7cc0ddc-61f3-11e6-8fdd-f7e404baa523.png)

[2016-08-14 07:55] justinclift commented on #728
It may be this [line](https://github.com/sqlitebrowser/sqlitebrowser/blob/b1fb9391114244cee004c2da4602f5b80dea303e/src/translations/flags/flags.qrc#L3) needs updating.

I'll build with it on windows again shortly, and find out.

[2016-08-14 08:44] innermous commented on #728
I have deja vu. I already fixed this issue before and sent patch to arabic translator.

[2016-08-14 08:52] justinclift commented on #728
Ahhh, that's why it sounded familiar. :smile:

[2016-08-14 08:55] justinclift commented on #728
Do you have the fix around still?

I just tried setting the language in flags.qrc to "ar" instead of "ar_SA", but that didn't work.

[2016-08-14 09:17] justinclift commented on #728
As a test, I renamed `sqlb_ar.ts` to `sqlb_ar_SA.ts`, then changed all of the references in our source to use that.

The flag loads properly on windows with that change.

However, I suspect "ar_SA" may not be correct.

@SafaAlfulaij Any ideas?

[2016-08-14 14:36] justinclift commented on #728
As a temporary fix for now, the language file has been renamed from `sqlb_ar.ts` to `sqlb_ar_SA.ts` in https://github.com/sqlitebrowser/sqlitebrowser/commit/c6121c8d6439853ebef2b1281adb52ef427ada84.

[2016-08-14 14:36] #728 closed

[2016-08-14 14:47] justinclift opened #729 "Windows dev setup pages need updating with new pathnames"
At present, our Windows developer setup guide uses path names which aren't great for making both Win32/Win64 builds from the same desktop. eg:
- SQLite being installed into `C:\dev\SQLite` rather than `C:\dev\SQLite-Win64`

I've been making changes in the DB4S source (`v3.9.x` branch only) enabling both Win32 and Win64 building, and needed to change some of the paths.

The wiki pages which refer t

[2016-08-14 15:13] MKleusberg commented on #718
Thanks for reporting this, @schdub I've just pushed the fix you've proposed. Can you test the next nightly build and report back if you find any remaining problems with this?

[2016-08-14 15:47] MKleusberg commented on #623
Yep, the bug was in the ```grammar/*``` code, though not in the antlr code but in our grammar file which is then parsed by antlr. Should be fixed now :)

@abvanliew Can you test the next nightly build and report back if the issue is fixed for you?

[2016-08-14 16:19] justinclift commented on #603
One new hiccup with Qt5.  Unlike Qt4, the Qt5 version of `macdeployqt` (a utility it ships with) doesn't work properly. 😦

Using `macdeployqt [name of .app]` is **supposed** to correctly determine the shared libraries needed by the .app, then bundle them into the .app package for deployment.

With Qt4, it "just works".  With Qt5, it fails to work correctly, even when claiming success.  Leading to

[2016-08-15 15:03] chrisjlocke opened #731 "CR's being stripped from multi-line fields?"
### Details for the issue

When entering multi-line data in DB4S, the data is changed so that CRLF is changed to LF.
Possibly.

Please see this screencast.
http://screencast-o-matic.com/watch/cDjo29iM8o

I enter 123 456 789 (split on 3 lines) from my Windows program.  This loads and saves fine.  DB4S shows this as 3  lines.  If I add a further line, 000, my program now sees it as one string.  HOWE

[2016-08-15 15:16] justinclift commented on #731
Ahhh, that's interesting.  As a quick thought, would you be ok to try the [3.9.0 beta1 for Windows](https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1)?

A lot of the copy-paste code was changed around just before release, and it seemed to pass all of the (rather basic) testing we did on it.

I didn't specifically check for CR/LF characters being kept unchanged though, so thi

[2016-08-16 09:56] chrisjlocke commented on #731
Just tried the beta with the same results.
http://screencast-o-matic.com/u/hnsz/stripped1

In further testing, I exported the field to a text file, converted it back to CRLF, imported it, confirmed all the fields in DB4S were showing OK, and exported again to show back to LF.
http://screencast-o-matic.com/u/hnsz/stripped2

Just to confirm, as someone will probably say, "the data is OK, but the exp

[2016-08-16 10:03] justinclift commented on #731
Thanks Chris. :smile:

The original screencast URL wasn't working for me at first yesterday, but seems to be now.  So, the new ones will probably be workable too.

I'll try them out in a bit, I just need to finish some other things first. :smile:

[2016-08-16 10:29] chrisjlocke opened #732 "Ctrl+E doesn't work in 'Execute SQL' window in Beta"
### Details for the issue

Just using the Beta testing it with CRLFs, so using it to build a new database.  Noticed in the 'Execute SQL' dialog, pressing Ctrl+E didn't execute the current line.  Pressing the 'Execute current line' button did work.
The nightlies don't have this 'feature'.

Edit: I apologise - I lied.  The latest nightly DOES have this issue.  Certainly the one from 15 Jul didn't ha

[2016-08-16 10:35] justinclift commented on #732
Ahhh yeah, good point.  We need to figure out a new key combination for that, as Ctrl-E is now used for toggling on/off the Edit Cell dock.

Open to suggestions, as I'm not sure there are any good solutions here.  All the obviously associated letters are already mapped to other things.

Maybe one of the F<something> keys if it's free. (unsure, I haven't checked)

[2016-08-16 10:42] chrisjlocke commented on #732
If F5 is run the whole thing, couldn't it be Ctrl+F5?  Shift+F5?

[2016-08-16 10:47] justinclift commented on #732
Ahhh yeah, that's a good idea. :smile:

[2016-08-16 10:49] justinclift commented on #732
Btw, the commit that grabbed control of Ctrl-E for the Edit Cell is this one: https://github.com/sqlitebrowser/sqlitebrowser/commit/21ad12cba89e841e0b839bba2c039dae23c784cd

[2016-08-16 11:53] innermous commented on #724
Hm. I can't reproduce it here on archlinux.

[2016-08-16 16:33] justinclift commented on #603
As an interesting data point... In quick testing on my desktop when I build DB4S using the "official download" version of Qt 5.7.0 - the one through their online installer - rather than using the latest Homebrew one (5.6.0), then `macdeployqt` didn't screw up the dependencies.

I'll try this on the build server proper shortly.  Hopefully the fix really is that simple. :smile:

[2016-08-16 17:04] justinclift commented on #603
Yay, that worked. :smile:

Going to add the Qt5 build to our 3.9.0-beta1 release page... and see if people start reporting crashes.  Hopefully not. :smile:

[2016-08-16 19:39] justinclift commented on #732
@chrisjlocke In theory, this should be fixed in the master branch by https://github.com/sqlitebrowser/sqlitebrowser/commit/e9063235f954b0f4328d2549e6087e50a4915cc2, and also in 3.9.0 by a corresponding commit there.

Just to be on the safe side, would you be ok to try the nightly build tomorrow, and verify it from your point of view? :smile:

[2016-08-16 20:19] MKleusberg commented on #603
Not really up to date here... but if this build turns out to work, are there any reasons left to *not* drop Qt4 support?

[2016-08-16 21:12] justinclift commented on #603
As far as I know... this was the last really concrete thing holding us back. :smile:

We could be ok to say "right, we're Qt5 only from now on!" in just a few weeks. 👯

[2016-08-16 21:15] justinclift commented on #603
Ahhh... the Windows nightly builds may need investigation too.

[2016-08-16 21:40] justinclift commented on #623
@abvanliew Out of curiosity, would you have time to check if the fix @Martin added works ok?

We have an upcoming release (3.9.0) this weekend, that would be good to get the fix into (if ok).

I can create a Windows build for you to test with, if that helps. :smile:

[2016-08-16 21:41] justinclift commented on #718
@schdub ping? :smile:

[2016-08-16 22:01] schdub commented on #718
@MKleusberg, @justinclift seems to be working as expected. Sorry for late reply.

[2016-08-16 22:02] justinclift commented on #718
Thanks @schdub, that really helps. :smile:

I'll pull this into the v3.9.x branch now too.

[2016-08-16 22:22] justinclift commented on #718
Done. :smile:

[2016-08-16 22:22] #718 closed

[2016-08-16 22:26] justinclift commented on #272
@cnromaine Would you have time to check the icons on the [3.9.0-beta1 release](https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1), from your point of view?

In theory they should be ok, but verifying doesn't hurt. :smile:

[2016-08-16 23:50] abvanliew commented on #623
Yeah if you can get me a windows build I would be more than happy to test it.

[2016-08-17 01:58] cnromaine commented on #272
Out of town for a few days. Will check them out when I get back this weekend. Currently running Windows 10 Pro 64 bit and Win 7 64 bit on box and laptop.

[2016-08-17 02:21] justinclift commented on #272
Thanks @cnromaine. :smile:

[2016-08-17 02:23] justinclift commented on #623
@abvanliew Yep, can do.  Windows can run as either 32-bit, or 64-bit.  Do you know which one yours is?

If you're not sure, I'll just make a build for each.  It's not much extra time to do. :smile:

[2016-08-17 03:10] justinclift commented on #731
Reading through this bit again:

http://screencast-o-matic.com/watch/cDjDQLiLuz

Yep, that's super clear.  It's a side effect of the data being stored in one format for the hex editor, [then being converted to plain text](https://github.com/sqlitebrowser/sqlitebrowser/blob/4d29271954c69148d7b61531202d29415ea56759/src/EditDialog.cpp#L124) for display in the text editor. ([and vice versa](https://gi

[2016-08-17 03:40] MvGulik commented on #623
A Windows 32-bit for me please.
I think I have a similar/related crash case.

[2016-08-17 03:50] justinclift commented on #623
@MvGulik Yep, not a problem. :smile:

It's late here at the moment (I need sleep now), but I'll get into this tomorrow morning.

In the meantime if you need a possible solution, try the automatically generated nightly build linked from here:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser#windows

That's a 32-bit one, and has the fix in it.  It also has some recent (untested experime

[2016-08-17 04:14] MvGulik commented on #623
No rush.

With Nightly build (17-Aug-2016 02:21) things seems partially fix.

Its not crashing anymore (*when letting the mouse hover to long over a data field*) :smile:

Table edit still showing
[code]
on a table created with:
[code]
But that one is in the pipeline if I got it right.

[2016-08-17 04:53] chrisjlocke commented on #623
Using the same nightly, if I change the SQL to `CREATE TABLE subject_data_tmp (pid INTEGER PRIMARY KEY ASC, pr_id INTEGER NOT NULL DEFAULT .5)` it works as required.
I also created a text field with a default of .5 (technically '.5') and that worked as desired too - it didn't get expanded to a default of 0.5.

[2016-08-17 15:27] MvGulik commented on #623
Yea, that ```DEFAULT ASC``` was the trigger of the problems on this side (*an edit error from me that slipped by*). After changing it to a more appropriate and intended ```DEFAULT 0```. sqlitebrowser (*the nightly and the last final version*) went back to behaving as expected/normal.

(*Kept a copy of the original error case database for re-testing, just in case. If needed.*)

[2016-08-17 15:53] justinclift commented on #623
Thanks guys, that's awesome. :smile:

I'll mark this as closed now, plus add the fix to the 3.9.x series code.

Official 3.9.0 will very likely be released this weekend, so it's not a long wait. :smile:

[2016-08-17 15:53] #623 closed

[2016-08-17 15:57] justinclift commented on #732
@chrisjlocke This worked for you yeah?

[2016-08-17 18:03] chrisjlocke commented on #732
Works perfectly, and a Shift+F5 seems more logical than Ctrl+E, so win win all round!
Thanks for the prompt fix.

[2016-08-17 18:07] chrisjlocke commented on #731
Can't the viewers just view 'as is' rather than 'converting'?  There may be a reason (especially if HTML code) for CRLFs and LFs.  Thats the nice thing with the binary view - WYSIRWYG!  (...really what you get!)

[2016-08-17 18:14] justinclift commented on #732
Completely welcome @chrisjlocke. It turned out to be a super easy fix. :smile:

[2016-08-17 18:14] #732 closed

[2016-08-17 18:27] justinclift commented on #731
It'd be fantastic if it was that simple. 😁

For the hex editing view, that's the closest thing to what you describe.  It's a view into a literal array of bytes.  No weirdness involved.

The text editor though is [one of these](https://doc.qt.io/qt-4.8/qtextedit.html).  It has it's own internal buffer which seems to be a [very text oriented data type managed by Qt](https://doc.qt.io/qt-4.8/qtextdoc

[2016-08-17 21:21] chrisjlocke commented on #643
Write.  Sorry, right.  I can spend tomorrow doing some more languages.  I've seen most languages seem to have been completed, but unsure whether thats just the dialog or the full translations (I'm going through Qt Linguist, so doing the whole translation...) and I presume my 'bits' can't be merged with whats already been committed?  (Guess I could ignore the UI translations where they've been post

[2016-08-17 21:23] chrisjlocke commented on #731
*backs slowly away...* :wink:  I was following you up to "simple"....

[2016-08-17 21:35] justinclift commented on #643
Thanks Chris.  Yeah, drop this for now.  Several of the original translation authors responded positively to being contacted, and have either given us complete translations back or said they would.

There are a few who haven't, but it's probably something we can look at closer to the weekend.  We might just leave those ones as-is for now.  Thinking we'll call it at the time.

[2016-08-18 12:49] FreudGit commented on #688
I'll love to have this feature!

[2016-08-18 13:02] justinclift commented on #674
Note - this bug was fixed with #708.

[2016-08-18 13:55] justinclift commented on #688
@revolter have a chat to @schdub about this, as he's indicated via email that he's going to put time into this as well. :smile:

[2016-08-18 14:01] MKleusberg commented on #688
We should implement this using Qt's JSON support, I think: http://doc.qt.io/qt-5/json.html
For export this makes things easier because it allows pretty printing or compact printing (http://doc.qt.io/qt-5/qjsondocument.html#JsonFormat-enum). Plus it would allow us relatively simple import of JSON, too.
Only caveat: it requires Qt 5.0+. But I see no reason to not drop Qt4 support for 3.10.0 :)

[2016-08-18 14:01] justinclift commented on #162
As useful reference info, @revolter pointed out [fervor](https://github.com/pypt/fervor).  That project itself appears to have died, but it may be worth looking over its code if we need to make our own system.

[2016-08-18 14:23] revolter commented on #162
Sparkle is great, but AFAIK is not cross platform :( `fervor` was inspired by Sparkle, and made it cross platform, so maybe we have can salvage something from there.

[2016-08-18 14:25] justinclift commented on #162
Yep.  Our ideal solution on Windows and OSX would probably be to copy the approach of modern browsers. eg download updates automatically in the background, and install them when the application is next used.  The BSD's and Linux distro's have their own update mechanisms already, so it wouldn't need to run on those.

[2016-08-18 14:35] chrisjlocke commented on #162
Parsing version numbers is a pain.  v3.9 is always written as 3.9 instead
of 3.09, which it is technically.  v3.10 isn't 'higher' than 3.9 (which in
maths terms is 3.90, so higher than 3.10).  Argh.  You have to break each
part of the number down rather than treating it as a 'number'.
I'm sure this is like the advice they give for logins on websites - always
take someone elses code and never roll

[2016-08-18 15:14] justinclift commented on #162
Hmmm, version number parsing for semantic versions major.minor.patch is pretty easy.  But yeah, it has to be broken into the separate parts first. :wink:

Auto-updating... yeah... we're need to have more confidence in our releases being very stable before we start doing that for everyone.  Optionally enabled (defaulting to off) code, for the brave few, is a reasonable idea to get things started wi

[2016-08-18 17:38] chrisjlocke commented on #721
Wasn't it mentioned in some other thread/topic/issue/branch/sub thing about customising shortcut keys, etc?  If so, shouldn't the message be more 'generic' on its 'push the blah blah key' rather than specific?  Surely its bloating the code by adding in superfluous code 'if its this OS, do this, otherwise do that', etc...

Just my 2p's worth....

[2016-08-18 17:52] MKleusberg commented on #537
Closing this as we have had a fix for this for some time now. If there are any issues remaining please just reopen the issue.

[2016-08-18 17:52] #537 closed

[2016-08-18 18:07] justinclift commented on #579
Hmmm, if the solution to fixing it is as easy as shown in the answer here, we can probably do this for 3.9.0:

&nbsp; &nbsp; https://stackoverflow.com/questions/6724606/include-the-jpeg-plugin-in-my-application

[2016-08-18 18:12] justinclift commented on #721
Yeah, I know the Issue you mean, but can't find the number for it at the moment.  It's the issue raising the idea of moving all of the shortcut assignment keys out of the .ui files, and into a common piece of code.  Then we could add a tab to the preferences dialog box, so users can customise the key mapping to what they want.

And yeah, this would probably tie in with that.  Or get superceded by

[2016-08-18 18:14] chrisjlocke commented on #721
Aah, #682 be the jobbie...

[2016-08-18 18:15] justinclift commented on #580
@TWiStErRob I'd completely forgotten about this one.  Good news though... we fixed the behaviour you're mentioning.

In the new behaviour for the Edit Cell, the drop down is always visible.  So, it's definitely always possible to view the binary data for images.

If you want to try it out, the 3.9.0-beta 1 release (last weekend) has that code in it.  The full 3.9.0 release should be this weekend t

[2016-08-18 18:15] #580 closed

[2016-08-18 18:16] justinclift commented on #721
Thanks @chrisjlocke. :smile:

[2016-08-18 18:19] TWiStErRob commented on #580
Cool, thanks for the updates, I'll check it out.

[2016-08-18 18:21] justinclift commented on #454
Going to close this, because we have another issue open for the same thing at #682.

But yeah... you did suggest it first. :wink:

[2016-08-18 18:21] #454 closed

[2016-08-18 18:24] justinclift commented on #435
@peteristhegreat We're moving to be Qt5-only shortly, so I'm going to close this.  Qt4.6 is kinda not relevant to us any more. :smile:

[2016-08-18 18:24] #435 closed

[2016-08-18 18:27] justinclift commented on #451
@DevynCJohnson Did you ever get around to trying this out?

Note - I'm just looking to close out old issues which have probably been taken care of.  If the fix for this isn't working as intended, and it's something you care about, definitely let us know. :smile:

[2016-08-18 18:30] justinclift commented on #416
As a data point, although not the same bug as #731, they're both semi-related.

[2016-08-18 18:36] justinclift commented on #410
Sorry for the extreme delay with this guys. 😦

This slowness in displaying blobs was only fixed recently (a few weeks ago).  The fix is in our recent "3.9.0 beta1" release (last weekend), and will be in the "3.9.0" proper release, which should be this weekend.

@MvGulik, the nightly build you grabbed um... yesterday has the fix in it too.  Just to double check, if that showing BLOB's decent quick

[2016-08-18 18:39] justinclift commented on #399
Sorry @PKEv, I completely forgot about this open issue. 😦

We've added very complete instructions for building on Windows, to the wiki:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S

Lots of screenshots, and plenty of details.  If you're still wanting to get this working, those instructions are known to be good. :smile:

[2016-08-18 18:39] #399 closed

[2016-08-18 18:49] MKleusberg commented on #540
Took a bit longer but this should be fixed in the next nightly build :smiley: Editing of such UNIQUE constraints isn't supported yet (that would be issue #538) but at least such constraints are understood now by DB4S and aren't lost during editing.
@tchaloupka Are you still around and have the time to test the next build? :smiley:

[2016-08-18 18:53] justinclift commented on #388
@kinghelix Did you ever get around to trying this out?

[2016-08-18 19:04] MKleusberg commented on #526
I *think* this should be fixed in the latest nightly build. Do you have the time to confirm this, @woody1955 ? Just download tomorrow's nightly build (or any later one) from the main page of our repository and try the new version :smiley:

[2016-08-18 19:07] justinclift commented on #552
@whieronymus If you have a few minutes, would you be ok to try the "3.9.0 beta1" release we did last weekend?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1

The Windows files there were built using an updated process, that (in theory) should be ok for everyone.

Theory however... well... I'd rather someone test it and confirm. 😁

[2016-08-18 19:09] justinclift commented on #554
@sheethalkumarsm If you have a few minutes, would you be ok to try the "3.9.0 beta1" release we did last weekend?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1

The Windows files there were built using an updated process, that (in theory) should be ok for everyone now. :smile:

[2016-08-18 19:11] justinclift commented on #543
@rithvikmundra If you have a few minutes, would you be ok to try the "3.9.0 beta1" release we did last weekend?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1

The Windows files there were built using an updated process, that (in theory) should be ok for everyone now. :smile:

[2016-08-18 19:14] justinclift commented on #495
@skifans If you have a few minutes, would you be ok to try the "3.9.0 beta1" release we did last weekend?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1

We've fixed a weird crash bug a few weeks ago which kept showing up in strange places.  There's a decent chance that's the one which was affecting you. :smile:

[2016-08-18 19:18] justinclift commented on #526
This seems to be the same as #633, which is definitely fixed. :smile:

[2016-08-18 19:21] whieronymus commented on #552
Sure @justinclift, it will probably be tomorrow before I have a chance, but I'll give you a shout once I do.

[2016-08-18 19:22] justinclift commented on #526
I'm going to close this for now, as I'm **really** sure it's the same as #633.

@woody1955 The fix for this is in our "3.9.0 beta1" release, if you want to try it out:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.9.0-beta1

If for some reason it doesn't work for you, you are definitely welcome to reopen this issue so we can investigate. :smile:

[2016-08-18 19:22] #526 closed

[2016-08-18 19:22] justinclift commented on #552
Thanks @whieronymus. :smile:

[2016-08-18 19:28] justinclift commented on #293
@liufsd Did you ever manage to get this working for you? :smile:

[2016-08-18 20:03] justinclift opened #734 "Add a link to the SQLCipher FAQ from our help menu"
For SQLCipher enabled builds, we should add a "SQLCipher FAQ" menu option to our Help menu.  It should open the official SQLCipher FAQ link in a browser window, same as our wiki and other help options do:

&nbsp; &nbsp; https://discuss.zetetic.net/c/sqlcipher/sqlcipher-faq

[2016-08-18 21:18] skifans commented on #495
Thanks, I'm afraid I'm currently away but will definitely try asap when I get back on the 26th August. Nice work guys!

[2016-08-18 21:20] MKleusberg commented on #558
This should be fixed in the next nightly build. Do you have the time to try that build and confirm if it's working better for you, @OmarWKH ? :smiley:
There's still a bit of work to do, like adding/editing/removing multi-column foreign keys and key names but at least foreign key with multiple columns aren't ignored anymore.

[2016-08-18 21:27] chrisjlocke commented on #526
This isn't applicable anymore, and the 'dialog' window doesn't exist, does it?  Pressing Enter on a cell now displays the dockable / floating 'edit cell' panel.  If I click 'View' and 'Edit Database Cell' the docked window disappears, but double clicking a field cell just pings it back again.
I noticed (by accident) pressing Ctrl+Enter clicks the 'Apply' button, which is handy, but it would be han

[2016-08-18 21:40] chrisjlocke opened #735 "Inconsistent backslashes in Windows files"
### Details for the issue

When opening files on the C drive, backslashes are changed to forward slashes, but on the D drive, backslashes are maintained.

After using DB4S for a while now, I've kinda gotten used to files having forward slashes - guessed it was part of the 'cross OS' style-ness of the program.  However, tonight I realised it was only doing it for certain files?

![image](https://cl

[2016-08-18 21:56] chrisjlocke commented on #735
Actually, just thought and realised the ones on the C drive have been created and opened, while the ones on the D drive have been created previously, so just opened.  Its still a bug/issue ... albeit a very very minor cosmetic one! :wink:

[2016-08-18 22:33] justinclift commented on #526
Ahhh, yeah.  Good thinking @chrisjlocke.  It should be fairly trivial to make the Apply button change focus back to the main window.

Do you have time/interest to open a new issue for that, so it's not forgotten?  If you don't, I can do it. :smile:

[2016-08-18 22:34] justinclift commented on #495
Thanks @skifans. :smile:

[2016-08-18 22:35] justinclift commented on #735
With the back and forward slashes, is that just in the "Recent Files" list thing?

[2016-08-18 22:37] justinclift commented on #734
Emailed the SQLCipher people, and they're fine with this.  (I figured it was polite to ask first, just in case.) :smile:

[2016-08-19 02:04] OmarWKH commented on #558
I can confirm FKs with multiple columns aren't completely ignored anymore. However, adding two FK constraints with multiple columns leads to only one mixed constraint.
I downloaded the nightly build from sqlitebrowser.oldsch00l.com and executed the same commands in the original post.
<details>
<summary>The resulting test_reference table confirms that one constraint isn't ignored:</summary>
[code]

[2016-08-19 05:29] liufsd commented on #293
yeah.great job~ thanks.

[2016-08-19 05:37] chrisjlocke commented on #526
I'll keep an eye on the issue counter.... I think there are 178 other more deserving issues to resolve first! :wink:  When we get to below 100 and people are bored, scratching around for something to do, I'll add this one! :stuck_out_tongue_winking_eye:

[2016-08-19 05:42] chrisjlocke commented on #735
And in the main caption of the window (as per the 2nd and 3rd screenshots...)
It has no performance/program knock-on affects, but is just 'odd' when you look at it.  I guess its just some parsing done in one part thats squiffy.  (Thats a technical term just below 'bug', but I don't think you have a label for that!)

[2016-08-19 07:26] revolter commented on #162
@chrisjlocke, https://regex101.com/r/bB0hB2/1.

[2016-08-19 08:44] #293 closed

[2016-08-19 09:30] revolter commented on #435
@justinclift, Shouldn't we remove other checks for old Qt versions like [this][1], [this][2] and [this][3]?

  [1]: https://github.com/sqlitebrowser/sqlitebrowser/blob/c5c8106c1caa204f1b897d589b3c9507e8e694bb/src/ColumnDisplayFormatDialog.cpp#L45
  [2]: https://github.com/sqlitebrowser/sqlitebrowser/blob/c5c8106c1caa204f1b897d589b3c9507e8e694bb/src/ColumnDisplayFormatDialog.cpp#L57
  [3]: https://

[2016-08-19 10:02] innermous commented on #435
I don't think putting #ifdefs everywhere for compatibility with such *outdated* Qt versions is of any good. This slows our dead Qt5 migration even more.

[2016-08-19 10:13] justinclift commented on #435
@revolter Sure, when we flip the "Qt5 only" switch for our project, version specific code like that is probably not useful.

As a thought though, if there are version checks around code introducing recent Qt functions (maybe 5.6 onwards?), it's probably best to keep that around for a while.  Not every OS has the latest release of Qt in the 5.x series.

We should probably take a quick look around t

[2016-08-19 10:14] revolter commented on #435
Sorry, I thought they were checking for Qt 4.5.*

[2016-08-19 10:16] justinclift commented on #435
No worries.  It's still a good point. :smile:

[2016-08-19 10:19] justinclift commented on #603
We'll need to figure out Travis CI too.  It's using Qt4 at present.

It may be as simple as changing the `libqt4-dev` here to `libqt5-dev`:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/.travis.yml#L9

Travis automatically builds on any branch in the repo, so we can experiment in a temporary "qt5test" branch to figure this out.  When we know exactly what's needed, we ca

[2016-08-19 10:22] justinclift commented on #162
Added v3.9.0-beta1: https://regex101.com/r/bB0hB2/2

[2016-08-19 10:26] justinclift commented on #558
Thanks @OmarWKH, looks like more stuff still needs to be done for this. :smile:

As a side note, those `<detail>` and `<summary>` tags collapse nicely in your post.  Hadn't seen that before.  Definitely going to copy for future use. 😁

[2016-08-19 10:35] chrisjlocke commented on #162
v3.9.0.-1 :wink:

[2016-08-19 10:36] justinclift commented on #735
Heh Heh Heh

Ahhh yeah, I use "wonky".  Same kind of thing. 😁

With the first screenshot, it should be fairly trivial to fix.  If we throw in a regex or similar to replace slashes in the filename string with the correct one for the platform, I *think* that would do the trick:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.cpp#L1240-L1241

Updating the wind

[2016-08-19 10:40] MKleusberg commented on #558
Hmm, I'm having difficulties reproducing this. I've created a new database using the SQL posted under ```To test two FK constraints with multiple columns I executed``` but get
[code]
So both foreign keys appear and aren't mixed.

@justinclift Can you maybe build a once-off using Qt5? Just to check it's not a Qt version thing? The fact that I needed to add 91615f940f109d0f20f9a8fe19599f4268ea3d40 m

[2016-08-19 10:43] justinclift commented on #526
You know... that would actually be really welcome. :smile:

If you're serious, this might help:

* [An Introduction to Design Patterns in C++ with Qt 4](http://www.informit.com/store/introduction-to-design-patterns-in-c-plus-plus-with-9780131879058)

Unlike what the potentially scary title sounds like... it's targeted at people with no experience or understanding of C++ or Qt, so introduces both o

[2016-08-19 10:47] MKleusberg commented on #603
When building with cmake Qt4 is still the default, you have to enable Qt5 for building using the ```-DUSE_QT5=1``` option. The only exception is building on Windows using MSVC where Qt5 is the default. So this would need to be adjusted for Travis, too (besides the libqt4-dev).

I could change the build files to use Qt5 as default. But this would break the nightlies.

[2016-08-19 10:47] justinclift commented on #558
Yep, can definitely create a once-off Qt5 build with this in it.  No hassle at all.

@OmarWKH Which OS are you using? (if Windows, is it 32 or 64 bit?)

[2016-08-19 10:49] chrisjlocke commented on #526
Thanks for that.  Will defo download that and have a play. :smile:

[2016-08-19 10:51] justinclift commented on #603
Oops.  Obviously hadn't read the rest of the Travis config properly. :wink:

[2016-08-19 11:01] chrisjlocke commented on #735
Interesting snippet of code there.

// Add shortcut for opening the file using the keyboard. However, if the
application is configured to store
// more than nine recently opened files don't set shortcuts for the later
ones which wouldn't be single digit anymore.
if(i < 9)
recentFileActs[i]->setShortcut(QKeySequence(Qt::CTRL + (Qt::Key_1+i)));

... surely that should be if(i<10)....   or if(i<=9)..

[2016-08-19 11:07] justinclift commented on #735
That's a good first though.

Looking at the initialisation for `i` though, it's [starting out at 0](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/src/MainWindow.cpp#L1240).  So`<=9` would be 10 values, which would be too many.

[2016-08-19 11:09] justinclift commented on #724
It's possible this is only happening on Windows.  I can try giving it a shot here on a Windows PC in the next few days.

[2016-08-19 11:10] chrisjlocke commented on #735
Doh.  Didn't look at that.  Oops.

On Fri, Aug 19, 2016 at 12:07 PM, Justin Clift <notifications@github.com>
wrote:

[2016-08-19 11:11] justinclift commented on #162
😏

[2016-08-19 11:12] justinclift commented on #735
You're trying, that's the important thing. :smile:

[2016-08-19 11:40] revolter commented on #162
https://regex101.com/r/bB0hB2/3

[2016-08-19 11:49] innermous commented on #162
@revolter it is supported. In QRegularExpression.

[2016-08-19 12:19] revolter commented on #162
Searching for `behind` in the [`QRegularExpression`][1] documentation yields nothing :| Can you point me where is it mentioned?

If it is supported, [this regex][2] works too.

  [1]: http://doc.qt.io/qt-5/qregularexpression.html
  [2]: https://regex101.com/r/bB0hB2/5

[2016-08-19 12:27] revolter commented on #603
@justinclift, I guess I can't understand this properly to fix it.

[2016-08-19 12:29] justinclift commented on #603
No worries.  I can guide you through it on the Gitter channel if you're interested?

[2016-08-19 12:41] innermous commented on #162
@revolter I got this information [here](https://dangelog.wordpress.com/2012/04/07/qregularexpression/), it's Qt dev blog. Ctrl+F `lookbehind`, further investigations are up to you :)

[2016-08-19 13:12] justinclift commented on #603
@MKleusberg Qt5's new approach to image handling - using plugins - seems like it will stop static builds from being very useful:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/issues/579

We'll definitely need to look at automating MSVC to create the nightly builds instead.

[2016-08-19 13:51] justinclift commented on #603
These might be useful.  They're the MSVC2013 reference pages about its C++11 support:

* https://msdn.microsoft.com/en-us/library/hh409293(v=vs.120).aspx
* https://msdn.microsoft.com/en-us/library/hh567368(v=vs.120).aspx
* https://blogs.msdn.microsoft.com/vcblog/2013/06/28/c1114-stl-features-fixes-and-breaking-changes-in-vs-2013/

These are for MSVC2015, which I've not tried building DB4S with yet

[2016-08-19 15:18] #734 closed

[2016-08-19 18:37] OmarWKH commented on #558
Windows 10 Home 64-bit - Version 1511 - Build 10586.545
sqlitebrowser version 3.9.99 - Qt version 4.8.7 - sqlite version 3.13.0

[2016-08-19 18:39] justinclift commented on #558
@OmarWKH Thanks. :smile:

@MKleusberg Should I build this with just https://github.com/sqlitebrowser/sqlitebrowser/commit/6a4d58042c8f808498aafc5fae215aae6a010d07, or add the new foreign key stuff you've been adding today too?

[2016-08-20 03:21] MarqueIV opened #737 "Preferences not being stored on macOS Sierra"
### Details for the issue

When running SQLiteBrowser (now renamed to DB Browser for SQLite) on macOS Sierra beta, because the app is unsigned, it can not find its preferences file and as such, the colors in the data browser tab are all black, meaning black text on black background.  Even if you change them, while they will work for that session, closing and reopening the app resets all of your se

[2016-08-20 08:47] justinclift commented on #737
Thanks @MarqueIV, that's a very timely report. :smile:

We have an open ToDo list item for signing our [releases](https://github.com/sqlitebrowser/sqlitebrowser/issues/711), but weren't thinking to get it done just yet.

Sounds like it should be a higher priority then.  I'll spend some time looking into it today/tomorrow, and see if it's possible to get tomorrow's release signed in time.

For macO

[2016-08-20 10:14] tchaloupka commented on #540
Hi, I've tested it with the current master and it seems to work. Thanks!

[2016-08-20 10:15] #540 closed

[2016-08-20 11:05] chrisjlocke commented on #735
Thats what my wife says.  I'm very trying...  I'm not too sure its a compliment when she says it... :wink:

[2016-08-20 11:52] justinclift commented on #540
@tchaloupka Thanks for testing this, and letting us know.  It definitely helps. :smile:

[2016-08-20 11:54] justinclift commented on #540
@MKleusberg Should we add the fix for this to the v3.9 branch, or leave it for 3.10?

[2016-08-20 12:27] MKleusberg commented on #540
@tchaloupka Thanks a lot for your fast reply :+1: That's good news :smiley:

@justinclift Hard to say. If we have a second beta version then definitely yes. If not, my intuition would still be to include it but I wouldn't guarantee it to be bug-free (but then again, it wasn't bug free to begin with either) :smiley:

[2016-08-20 12:30] justinclift commented on #540
Thanks @MKleusberg. Moving this to 3.10 then. :wink:

We could put out a the first of the 3.10 releases without huge delay, if things look decent.  There's no major reason we need to have 6+ months between each release. 😁

[2016-08-20 18:46] justinclift commented on #711
Relevant reference info for Windows:

* https://msdn.microsoft.com/en-us/library/ms537361(v=vs.85).aspx
* https://msdn.microsoft.com/en-us/library/ms537364(v=vs.85).aspx

GlobalSign page where MS Authenticode compatible certificates can be bought:

* https://www.globalsign.com/en/code-signing-certificate/

Although places are giving free SSL certificates to Open Source projects, there doesn't seem

[2016-08-20 19:10] justinclift commented on #711
It seems like some "code signing certificates" can be used for both Windows & OSX signing.

&nbsp; &nbsp; https://www.sslshopper.com/cheap-code-signing-certificates.html

Choosing one of those might be useful.