[2017-06-22 08:18] fatscally commented on #1028
I'd luv to do some testing to help you guys along but the links to the
nightly build are blocked at work.  Can you try uploading to another
address that might work for me.  The version I have at work is an older
release, and at home I have no time to play with it.

On Wed, Jun 21, 2017 at 10:58 PM, Martin Kleusberg <notifications@github.com

[2017-06-22 08:26] chrisjlocke commented on #1046
Wow, never knew that before.  Most of my tables are normally always lowercase, so haven't come across this before.

[2017-06-22 09:04] justinclift commented on #1046
@mglatz This sounds like a reasonable idea.  Not sure how easy or difficult it would be to add, but it wouldn't surprise me if we just needed to enable some option when we initialise our QScintilla bits (which we use for this).

This sounds like it might be the right kind of thing:

*  http://pyqt.sourceforge.net/Docs/QScintilla2/classQsciScintilla.html#a8348c07fe8cff0bf6141a94ca3014ed2

Hmmm, it

[2017-06-22 09:10] justinclift commented on #1028
@fatscally Interesting.  Is it feasible for you to find out why the links are blocked?  We had weird stuff like that happen with our initial nightly download server (a semi-dodgy repurposed thing :wink:).  Our new nightlies server though is dedicated to just DB4S and hosted at Rackspace.  It's about as legit as a (VM) server can get. :smile:

That being said, some work places get a bit funny when

[2017-06-22 09:12] fatscally commented on #1028
It's just a security thing here.  Everything is black listed until it's
needed by someone for a legitimate reason.
You could probably share on Google Drive?  That might work.

On Thu, Jun 22, 2017 at 10:10 AM, Justin Clift <notifications@github.com>
wrote:

[2017-06-22 09:22] justinclift commented on #1028
Ahhh that might be an option.  Not personally a fan of Google, but we do already use Google Analytics for the main 1 pager website.  There's probably not much evil they could do with mirroring our nightlies files too...

[2017-06-22 11:05] chrisjlocke commented on #1046
It does say though, "Note that setting a lexer may change the case sensitivity." which is then what happens in line 118.

https://github.com/sqlitebrowser/sqlitebrowser/blob/6c9c56a2a9b0a09690e9598b7f6b43be06305176/src/sqltextedit.cpp#L118

Maybe the `setAutoCompletionCaseSensitivity(false);` could be put after that line, or debug what the case sensitivity is, to see if its been changed.

[2017-06-22 12:27] justinclift commented on #1046
Ahhh.  We could move the whole [`if {}` clause](https://github.com/sqlitebrowser/sqlitebrowser/blob/6c9c56a2a9b0a09690e9598b7f6b43be06305176/src/sqltextedit.cpp#L103-L112) to after line [129](https://github.com/sqlitebrowser/sqlitebrowser/blob/6c9c56a2a9b0a09690e9598b7f6b43be06305176/src/sqltextedit.cpp#L129).

As in, I can do that right now in our master branch, if someone wants to check the nigh

[2017-06-22 12:27] justinclift commented on #1046
... or I could just test it myself right away.  Hmmm, gimme a few mins... :smile:

[2017-06-22 12:42] justinclift commented on #1046
Just tried it.  Nope, that didn't work.  Looks like it'd need a bit careful attention to figure out. :wink:

[2017-06-22 17:44] MKleusberg commented on #1046
This should be fixed in the next nightly build. @mglatz Can you download and try the nightly build tomorrow or some later day to confirm it's working for you? There's currently a bug in our nightlies which causes them to crash more frequently though - we'll try to fix that as soon as possible, too :wink:

[2017-06-22 17:57] MKleusberg commented on #1019
Thanks to both of you 😄 The Fedora VM is a really good idea, and I'll probably come back to the Windows VM, too, at some point.

But I've just tried the latest nightly on a Windows system without development environment and it just worked. Then I've installed an older one and it crashed. So to me it looks like it's been fixed by one of the last commits 🎆 Not sure though, so maybe you can double ch

[2017-06-22 18:00] MKleusberg commented on #1043
@lucy9383 Sorry, the Wiki page was incomplete. My bad! You'll need to open the ```Debug``` menu and click ```Go``` after loading the executable. Then you should be able to reproduce the crash in DB4S.

[2017-06-22 18:10] justinclift commented on #1019
@MKleusberg Just compiled and tried it... immediate crash upon opening a project file still.  Doh! :wink:

[2017-06-22 18:14] MKleusberg commented on #1019
Huh. Nevermind then :wink:

[2017-06-23 10:23] chrisjlocke commented on #1019
Opening a project file works if you browse the tables first from the database (ie, open the database first).  Did you do that?  Opening a 'new' project file (ie, not opening the database first) seems to cause the project crash.

Viewing a table in the latest nightly doesn't appear to crash anymore.  Should I therefore close this issue, and raise the 'opening a project file crashes' issue instead?

[2017-06-26 10:47] MKleusberg commented on #1019
Thanks, Chris! This was it - it seems to depend on the saved active tab in the project file. If it is the Browse Data tab it works, if it isn't it crashes. And of course I always did it the wrong way :wink: But _finally_ I've managed to reproduce this (even on my system) and I think it should be fixed now.

So we had two separate issues. One for browsing the same table again which I guess was fixe

[2017-06-26 11:09] justinclift commented on #1019
Awesome! Just tried on OSX... no crash when opening a project file.

I'll jump on the Linux dev box in a bit and try that too, just to make sure as that one was definitely crashing prior. :smile:

[2017-06-26 12:20] justinclift commented on #1019
Yep, the crash-on-opening-project-files is fixed here on Fedora 25 now.

Thanks @MKleusberg.  Well done. 😁

[2017-06-27 02:27] lhunsicker commented on #195
Has there been any progress on this issue?  I have a large number of SQLite databases that I have entered from *.csv files, using your *.csv import method, each with multiple columns with predefined numeric affinity, but peppered with "text" typed null string entries that were intended to be entered as NULL, and that when exported to R are coerced incorrectly to a numeric 0.  I know that I can rep

[2017-06-27 08:06] chrisjlocke commented on #1019
Works perfectly.  Many thanks @MKleusberg .

[2017-06-27 08:06] #1019 closed

[2017-06-27 08:09] chrisjlocke commented on #1007
Well, a 1% improvement.

[code]

Still getting two queries each time I browse a table, but the sort order is maintained.... ;)

[2017-06-27 08:12] chrisjlocke commented on #1046
I can confirm this now works.

![image](https://user-images.githubusercontent.com/7872218/27577449-9b5ea27a-5b18-11e7-81c1-f2e1ea671b05.png)

Prodding @mglatz ... ;)  🎋

[2017-06-27 08:14] chrisjlocke commented on #1045
@gmseed - any chance you could email me the file causing you problems?  I presume it should ZIP up to something smaller than 120 MB?

[2017-06-27 08:25] gmseed commented on #1045
@chrisjlocke - thanks but as I said in a previous post I've given up with this app. I moved to using SQLite Expert Personal. I had too many issues using this app. Also, the .db file is confidential and can't post. I'm sure similar results would be experience wit other large files, which could be easily created by repeatedly looping over a set of values and adding. Also, be shortly moving to using

[2017-06-27 08:42] mglatz commented on #1046
wow thanks! :)

[2017-06-27 09:36] justinclift commented on #1045
No worries.  Very much understand how frustrating it gets when something-that-needs-to-work... just doesn't. ☹️

@chrisjlocke If you've the time/interest to investigate more, maybe grab some of the larger databases from dev1, export them to sql, and see if they crash when being imported back?

* https://dev1.dbhub.io/datasciesotist/DMOZ_category.db
* https://dev1.dbhub.io/justinclift/spatial56day.

[2017-06-27 09:41] CoXier opened #1047 "Support command line usage?"
Recently I want to view a db file with help of a tool.After google,I find  sqlitebrowser may be useful for me.Yes I succeed in opening db file with it.

My way is :

* extract file from android

* open the file manually with `sqlitebrowser`

However it's very troublesome.So I want to write a script to wrap above two steps.But I have not any idea.

Much thx for any help.

[2017-06-27 10:19] justinclift commented on #1047
Yep, you should be able to get this working.  If you have (for example) a database called "foo.sqlite", you can open it from the command line with:

[code]

I'm not sure how adb works, but it seems like you can extract a file from android with it.  So, whatever the filename is... that's what you'd pass to sqlitebrowser.

Does that help? :smile:

[2017-06-27 10:19] chrisjlocke commented on #1046
If you can confirm it works OK for you, @mglatz, I'll close this issue. 🍾

[2017-06-27 10:23] justinclift commented on #195
@lhunsicker Unfortunately... we haven't put much/any time into this yet.  We will "at some point"... but it hasn't happened yet. ☹️

[2017-06-27 10:25] chrisjlocke commented on #1045
No problem.  Will close this issue on the request of the originator, but will reopen another one if I find out anything.

[2017-06-27 10:32] CoXier commented on #1047
Can you tell me where is the `sqlitebrowser` bin file so that I can set path ?

[2017-06-27 10:35] chrisjlocke commented on #1045
Not sure about the crashing, but I'm assuming the delay is due to the individual transactions.  I posted ages ago about importing taking ages... can't remember if that got fixed.  I'll take another look.

[2017-06-27 10:39] justinclift commented on #1007
Just took a quick run at this again...

It's **almost** possible to merge the two SQL statements into a single one:

[code]

That will append a new column "row_count" to the end of the returned list, with the `count(*)` result in it.  It's the same value in every row, so just read any of them.

Had to remove the `_rowid_` column though, as leaving that in the above query gives a weird error I'm no

[2017-06-27 10:44] #1039 closed

[2017-06-27 11:04] justinclift commented on #1047
This seems to work:

[code]

On OSX, the command line program name is "DB Browser for SQLite".  Don't be too bothered by it, it still works fine. :smile:

[2017-06-27 11:44] chrisjlocke commented on #1037
@justinclift - How did you enter the multiline text?  On Windows, using the 'Edit Database Cell' doesn't work properly.  Actually, its more the 'import' and 'export' options don't work properly.

When I created multiline fields and exported them, the CSV was without line breaks.

![image](https://user-images.githubusercontent.com/7872218/27585991-4ca9a0f8-5b36-11e7-99a3-b6e483de28c1.png)

![image]

[2017-06-27 11:52] justinclift commented on #1037
Interesting.  I was testing stuff on OSX, and it seemed to work for me.  I'm not sure if I tried multi-line-within-a-field stuff though... I think I may have misunderstood the problem then. Oops. 😇

[2017-06-27 11:53] CoXier commented on #1047
Thanks.

[2017-06-27 11:53] #1047 closed

[2017-06-27 11:57] justinclift commented on #1047
You're welcome. :smile:

[2017-06-27 12:29] mglatz commented on #1046
I downloaded recent nightly (3.9.99 x64) and now I get no autocomplete on table names at all. I see autocomplete only on sql keywords (select, begin...)

[2017-06-27 12:31] CoXier commented on #1047
After I invoke above command, it always works foreground so can I let it work background.

[2017-06-27 12:31] mglatz commented on #1046
it works on latest nightly (3.9.99 x64)

[2017-06-27 12:34] justinclift commented on #1047
Hmmm... I'm not sure.  On OSX there's a command line program called "open", which lets you launch applications.  For example:

    open /Applications/DB\ Browser\ for\ SQLite.app foo.sqlite

It might be possible to pass some kind of command line switch to that, so it opens DB4S (our name for sqlitebrowser) in the background.  I'm not sure, and I'm not on my OSX desktop at the moment.  You'll need

[2017-06-27 12:39] CoXier commented on #1047
Cool , thanks

[2017-06-27 13:19] chrisjlocke commented on #1037
Clues in the title.... ;)
If a field contains a carriage return (or newline...) then its not exported at all (as per my screenie above)

[2017-06-27 13:57] chrisjlocke commented on #1046
Thanks for reporting back! 👍

[2017-06-27 14:07] justinclift commented on #1043
@lucy9383 Would you be ok to try out latest nightly build?  @MKleusberg fixed several crashing bugs over the last few days, so it's likely the problem you were having is now solved. :smile:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-06-27 14:10] justinclift commented on #1045
@chrisjlocke Hmmm, I'm more thinking we should leave this open until we've had a chance to try out some import/export of larger sized files.  It's possible something has gone weird that causes the problem in a generic way, which would let us capture and fix it.  If it's something specific to @gmseed's data set though - which we don't have access to - we might as well close it as that's one challen

[2017-06-28 09:22] MKleusberg commented on #1019
Thank you for all the testing 👍 I'm glad we finally got there :wink:

[2017-06-28 13:19] MKleusberg commented on #1042
These are all caused by the third-party libraries. So I don't think it really makes sense to fix them in our repository when they should really be fixed upstream. Not sure though how active the QCustomPlot project is at the moment...

[2017-06-28 13:37] MKleusberg commented on #1036
Thanks for reporting this issue, @palmiche! And sorry for taking so long :wink: But I believe this issue should be fixed in the next nightly build. Do you have the chance to try tomorrow's (or any later) nightly build and check if it's working for you? You can find the links to the nightlies on the main page of our repository 😄

[2017-06-28 14:11] justinclift commented on #1042
No worries.  I'll file issues on the upstream project(s) then, and we can figure out what to do based upon their response.  Or lack thereof. :smile:

[2017-06-28 14:36] MKleusberg commented on #710
I'm not 100% sure about this. I think the Edit menu is probably the wrong place for this because a Copy and a Paste action could be quite confusing there because of our tabbed window layout. Depending on the currently active tab we'd have to change the menu actions and even then this would be difficult to get your head around.

So I'd propose to not add them to the Edit menu but instead add a cont

[2017-06-28 14:43] MKleusberg commented on #1027
@WiliTest Thanks for the suggestion! That's the sort of thing that I as a developer don't come up with so quickly but that makes a lot of sense :wink: Anyway, I've just added a context menu to the table browser. With the next nightly build you should be able to right click your selected items and click 'Set to NULL'. Do you have the time to double check if it's working for you this way, too? :smil

[2017-06-28 14:45] MKleusberg commented on #1013
@lvbeck Any luck yet? :smile: With the latest few nightly builds the crash issue should be gone, too, by the way. So you'd be relatively safe to use them :wink:

[2017-06-28 14:46] justinclift commented on #710
Ahhh, yeah I see what you mean.

How hard would it be for us to dynamically add/remove them from the Edit menu when the user goes to, or changes away from, the Browse Data tab?

Hmmm... ideally, they'd probably show up for both the Browse Data and Execute SQL tabs.  They'd both do the same general thing (concept wise), but we'd need to fire off different functions for each.

The ExecuteSQL one wou

[2017-06-28 14:59] MKleusberg commented on #1012
This should be fixed now. What do you think? Does it work this way? Double clicking doesn't seem to trigger the editing every time, probably because of some Qt thing I didn't investigate yet (and that we have in our Edit Table dialog too). But to me it seems good enough for now :wink:

[2017-06-28 15:04] MKleusberg commented on #710
True. But one more concern :wink: when I'm in the Execute SQL tab, I might expect the Copy & Paste actions to work on the SQL editor (as you wrote) or on the result view (e.g. for copying the result data to Excel or whatever). To me it just feels like our particular UI design doesn't really fit that well with the Edit menu. But yeah, we could just hide the Copy & Paste items for all tabs except th

[2017-06-28 16:55] palmiche commented on #1036
Happy to! 😄

[2017-06-28 20:28] MKleusberg commented on #1035
@justinclift That's already in there, I believe since the first version of the project files even :smile:

@palmiche Good news, I've just changed the SQL tab handling a bit :wink: There is no extra option (yet) but the new default behaviour should be pretty much what you need. When closing a database a new one we'll keep all SQL tabs opened. When opening a new database only 'empty' SQL tabs are cl

[2017-06-28 20:34] MKleusberg commented on #336
@tbayart Sorry for the loooooong delay ☹️ I've finally come around to fix this. If you're still interested, this feature should be in the next nightly build. Are you still around to double check if this is working for you now? If not, no worries, I think we can just close the issue then :smile:

[2017-06-28 20:38] MKleusberg commented on #262
I've finally come around to fix this. Since we already have a couple of other issues open (#336, #938, #1035) asking for the same feature, I'll just proactively close this issue :wink: If there is something with the new behaviour that doesn't work for you, @kthbit, you're always welcome to reopen the issue :smile:

[2017-06-28 20:38] #262 closed

[2017-06-28 20:50] palmiche commented on #1035
@MKleusberg is there some afternoonly build? Night seems a long way off. 😄

[2017-06-28 20:58] MKleusberg commented on #1037
@chrisjlocke What happens if you open the CSV file in a different editor, e.g. Wordpad (if that still exists on newer Windows version :wink:)? Do the line breaks appear then? I'm asking because Notepad doesn't show ```\n``` line breaks at all and I can imagine that the line breaks in the columns are ```\n```, not ```\r\n``` like the line separator.

If the line break does appear inside the column

[2017-06-28 21:03] justinclift commented on #1035
Hmmm, I'll kick off the nightly build script again now, which will overwrite the existing from from this morning.  It takes about 1/2 hour to run, so check the date/time stamp before you download just to make sure it's looks like an afternoon/evening run made it. :smile:

[2017-06-28 21:06] MKleusberg commented on #1035
@palmiche Haha 😆 Well, you're from Chile aren't you? Since the nightlies are uploaded at 03:45 (probably UTC or UTC+1, but I don't know), it'd be today in the late evening for you, I guess. But Justins build is still going to be faster :wink:

[2017-06-28 21:06] justinclift commented on #1037
@kaisershahid I can email the database file you sent me to @chrisjlocke and @MKleusberg for them to double check, if that's ok with you?

[2017-06-28 21:21] palmiche commented on #1035
@justinclift and @MKleusberg are awesome! 👍 (in no partcular order 😆)

@MKleusberg

I'm _in_ Chile but I come from warmer waters, namely Cuba. 😄
Not that it matters because both are in the same zone now. 😉

[2017-06-28 21:32] justinclift commented on #1035
Just looked at the build progress, seems to be finishing up now.

Give it 5 mins or so for the uploading of the builds to complete. :smile:

[2017-06-28 21:39] justinclift commented on #1035
k, it's ready to try. :smile:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-06-28 21:41] justinclift commented on #1035
Note - I'm signing off for the night now, so if it all goes badly I'm still not going to be around to kick off another manual run.

Instead you'd need to rely on tomorrow's automatic build in ~5.5 hours from now. :wink:

[2017-06-28 22:00] MKleusberg commented on #1035
@palmiche Thanks :wink: I've actually been to both Cuba and Chile (though Chile only for a couple of days) but didn't even know that they were in the same time zone 😆

@justinclift Good night! 😄

[2017-06-28 22:34] palmiche commented on #1035
It's alive! (error: mad scientist emoji not found) 😄
@justinclift @MKleusberg both this and #1036 are down for the count so I'm closing both. And I didn't have to wait a few more hours. 😆
Again: you guys rock!

@MKleusberg
Only while both Chile and Cuba are on DST. Chile goes GMT-3 -> GMT-4 and Cuba GMT-5 -> GMT-4 so they meet in the middle. Note that this information is subject to change because

[2017-06-28 22:34] #1035 closed

[2017-06-28 22:38] palmiche commented on #1036
This one and #1035 are fixed in the lastest nightly (well, afternoonly 😄).

[2017-06-28 22:38] #1036 closed

[2017-06-29 00:36] kaisershahid commented on #1037
@justinclift yup that's fine! @MKleusberg what i was seeing is that the columns were not quoted at all (unless it had quote chars inside already)

[2017-06-29 10:56] justinclift commented on #1037
@kaisershahid Just forwarded your database to @MKleusberg and @chrisjlocke. :smile:

[2017-06-29 11:16] DarylWM opened #1048 "Range filter doesn't seem to work"
### Details for the issue

I have an integer field, and I want to only display values 1 and 2 (for example) so I enter 1~2 in the filter field. But there are zero records displayed.

![capture](https://user-images.githubusercontent.com/1016303/27685027-d070cd96-5d0f-11e7-9b1c-f1903053a681.PNG)

![capture2](https://user-images.githubusercontent.com/1016303/27685033-d5d172a4-5d0f-11e7-8210-79441b9d7

[2017-06-29 11:39] perahoky opened #1049 ""Save Changes" fail after "New Record" + "Edit Record" + Save"
### Details for the issue

I have a database with a table, generated by a nhibernate schema:

[code]

**"Save changes" fails:**
- Select table "Order" in GUI
- Insert a new Record using the "new record" button.
- Edit the columns in the new record (ID, Nr, Order, Amount...)
- Click "Save changes"
- Click "reload" of the target table (Order)

Current Behaviour:
- _The data in the inserted record(s)

[2017-06-29 11:48] WiliTest commented on #1027
Thanks so much, though I did not manage to test it. I tried though. I installed the latest win 64 version on https://nightlies.sqlitebrowser.org/latest/  (which uninstalled the previous one). But the .db or .sqlite arent recognize anymore (white icons).  The "Open with" option doesnt work either.

[2017-06-29 11:59] perahoky commented on #1049
A new test recently (i'm using the browser do setup a test database in unit tests) resulted that the bug is independent from primary autoincrement key (ID).

- Inserted a new record
- Changed nothing, clicked "save changes"
- Reload table
- (autoioncremented id stays)
- Changes some data on old "new" record
- save changes, reload
- Changes dissappear
- Make some changes to old "old "new"" record
-

[2017-06-29 12:22] justinclift commented on #1048
Interesting.  Just tried it here too, and yep, it doesn't seem to be working any more.  We'll definitely need to look into that.

[2017-06-29 12:25] justinclift commented on #1027
Oh, that sounds like it's installed to a different path than the previous version.

As a work around, if you start DB4S manually you should be able to open files from the main GUI.  **File** → **Open**.  Well, in theory anyway. :wink:

[2017-06-29 12:34] justinclift commented on #1049
Interesting.  I just tried that here, but the data was saved.  What I did:

1. Created the table

[code]

2. Selected the "ASD.Order" table in the Browse data tab

3. Clicked the "New Record" button

4. Typed "45" into the "Nr" field, then hit enter

5. Clicked the "Write Changes".

6. Clicked the "Refresh" icon.  The row is still showing.

7. Quit out of DB4S, then loaded the program and database

[2017-06-29 13:38] chrisjlocke commented on #1048
Just confirming - is the point_id field an integer?  I've tried it on a database here, and it 'seems' to work OK on integer fields.  Admittedly the database doesnt have a large number of records to fully test it though.

[2017-06-29 14:02] perahoky commented on #1049
No, there's realy just 1 process which accesses the file.

Did you try to change the ID column also?

When i write my tests, i set specific id's for each record, but that's mostly not the id the autoincrement gives.
The dbbrowser sets the new id's at the database, but does not update the view, so all the other changes (nr, version, article....) are not resolved to the correct row, instead the old

[2017-06-29 15:20] justinclift commented on #1048
Yep, in the local database I tried the field type was definitely set to INTEGER. 😦

[2017-06-29 15:40] tbayart commented on #336
Hi, thank you for the fix :smile:
I'm not currently working with sqlite but I'm still watching updates.
I will give it a try as soon as I can.

[2017-06-29 15:46] chrisjlocke commented on #1049
If you edit another field **before** editing the ID field, it'll work.

https://screencast-o-matic.com/watch/cb1UoGlQMz

Edit the ID field first, and yes, DB4S gets confused on what row to edit, and tries to make changes to the ROWID that no longer exists.

[2017-06-29 16:24] Wikkie commented on #1048
I noticed this problem a while ago as well (Ubuntu: Version 3.9.1/Qt Version 5.6.1/SQLite Version 3.15.2; also on my Windows machine, 3.9.1 build, I guess)
I just forked and built sqlitebrowser literally minutes ago on Ubuntu, where the feature works as advertised. (Version 3.9.99/Qt Version 5.7.1/SQLite Version 3.16.2)

[2017-06-29 18:23] chrisjlocke commented on #1048
The databases I've tested it on, I can't get it to fail. Must be a weird schema-specific bug?

[2017-06-29 18:30] mglatz commented on #1005
Cancel button is probably best, other possible approach I can think of is have a setting for query timeout and once that expires, ask user if he wants the query to run some more or cancel.

[2017-06-29 18:31] MKleusberg commented on #1035
Awesome :smile: Thanks for testing this so quickly! And I've learned something about Latin America on the way :wink:

[2017-06-29 19:20] MKleusberg commented on #1037
Hmm, I'm still not 100% sure about this :wink: I've just made a commit to force-add quotes if there is a newline character inside a field. Prior to this quotes would have only been added when a quote char was selected. But even if none is set, adding quotes might make sense because otherwise the resulting CSV file is pretty much unparsable.

@kaisershahid Does this already help in your case? You c

[2017-06-29 19:32] justinclift commented on #1048
Could be. :smile:

Just uploading a trivial database (2 columns), which for me has this problem:

&nbsp; &nbsp; https://dev1.dbhub.io/justinclift/issue1048.sqlite

You ok to try it out?

[2017-06-29 19:38] justinclift commented on #1048
Ooops, just realised the version of DB4S I was testing with wasn't a recently build.  Tried the latest nightly instead and it's working fine. :smile:

Thanks for the prompt @Wikkie, you're right that was the difference.

@DarylWM If you're ok to update to the latest nightly build, that should work for you:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-06-29 19:46] MKleusberg commented on #1048
The reason this doesn't work in 3.9.1 by the way is that the feature was added by [this commit](a75f2dac1100c98b387ee5378bcd460b159a02c7) on Jan 27 2017 and 3.9.1 was released in October 2016 :wink: Maybe we should point this out in the Wiki page for the time being.

[2017-06-29 19:52] justinclift commented on #1048
Cool.  Good thought @MKleusberg, just added a note to the wiki page in the right spot. :smile:

[2017-06-29 20:02] karim commented on #1048
Just wondering when DB4S will release a new version. 😄

Everyone seems to be using the *old* official version, and there is no way for them to update/know about all the new features and bug fixes unless they got a problem and they are *willing* to report it.

[2017-06-29 20:07] MKleusberg commented on #1048
Yeah, you're absolutely right, Karim. I'm thinking about getting the issue number down to a more reasonable count and then just release 3.10 no matter what. But as high as it currently is I'm afraid it's going above 300 after a new release and we'll lose track entirely 😆

[2017-06-29 20:32] MKleusberg commented on #195
@lhunsicker Hi Larry, yeah we're currently drowning in issues, so nobody put any effort into this. But thanks for reminding us :wink: I've just made an (experimental) change to the CSV import that implements your suggestion on this. If you're importing into an existing table (if you're not we can't really make any assumptions about data types) and the importer hits an empty field in the CSV file i

[2017-06-29 20:36] justinclift commented on #1048
@karim I'm also trying to get the DBHub.io bits ready for our next release too... :wink:

[2017-06-29 21:34] DarylWM commented on #1048
Thanks for looking into this and for the rapid responses. I'm GMT+10 so I didn't see them sooner.

@chrisjlocke Yes the point_id field is an integer. I added the schema in the problem description.

@justinclift Thanks for the pointer to the nightly build. I will move to that.

I appreciate this very handy tool!

[2017-06-29 22:23] lhunsicker commented on #195
Yes!!  Absolutely!  I'll look for the new build on Sunday (after it is posted tomorrow evening.). Thanks for your response!  I'm impressed by your responsiveness.

Larry Hunsicker

Sent from my iPhone

[2017-06-29 23:09] MKleusberg commented on #1033
Wow, what an issue 😆 I'm wondering what the chances of this happening are. And what a hell to debug.

So it turns out this is not caused by the ```0D```. We actually support this already. You can tell by the fact that the preview in the Import CSV dialog is working correctly. Instead the issue is caused by the fact that we're not reading the CSV file entirely at once but in smaller chunks. We then

[2017-06-29 23:37] karim commented on #1048
@justinclift I appreciate everything you do for DB4S even though you are very busy with DBHub.io, and sometimes I wonder how you find the time to even look at DB4S issues. 😄

@MKleusberg I understand your point. However, the more we wait the more issues we will get and it will be harder to even think about releasing a new version.

Almost all answers to most of the issues here is to try the nightl

[2017-06-30 00:47] palmiche commented on #1035
Well, I _am_ one of your users and from all the pies I have my hands on that damned android app is one of the most... anoying, so whatever I do to help you will work towards less hair falling out of my head. 😁

[2017-06-30 10:42] justinclift commented on #1048
@karim From my point of view :smile:, it's mostly a question of what to put time into.

The concept of "lets make a v3.9.2" (by cherry picking bug fixes from master to the v3.9.x branch) is good.  That's what the v3.9.x branch is for.  Our users would benefit from it too. :smile:

So the question then is "who'll get that done?".

* @MKleusberg is fixing bugs
* I'm working on DBHub.io, as I'm reall

[2017-06-30 11:52] Wikkie commented on #1048
@justinclift thanks for the pointer to the nightlies. Life at work is muuuch better now ;-)

[2017-06-30 12:29] tbayart commented on #336
Tested on latest nighly, it's working fine
Thanks again @MKleusberg

[2017-06-30 12:29] #336 closed

[2017-06-30 13:20] WiliTest commented on #1027
sorry, I should have thought about it. Yes the right click does work wonderfully! (I wish I could download your brain!).

[2017-06-30 14:03] lhunsicker commented on #195
Hi again, Martin:

As I thought about your message below, it occurred to me to suggest that entering a missing value as a 0 into a non-null numeric affinity SQLite column is probably still an error.  I think that it would be better to "offer" the null value to SQLite and let the SQLite program decide what to do.  The default, I think, would be for SQLite to abort the load, just as if I tried to co

[2017-06-30 18:42] justinclift commented on #1033
Yep, will do shortly. :smile:

[2017-06-30 19:17] MKleusberg commented on #336
Cool, thanks for testing 😃

[2017-06-30 19:19] MKleusberg commented on #1027
Awesome :smile: Thank you for opening this issue and testing :wink: I'll close this issue then.

[2017-06-30 19:19] #1027 closed

[2017-06-30 20:08] MKleusberg commented on #1021
@jjxtra Thanks for testing this so far. I've just made an extra change that should allow you to also change the page size from the SQL editor. Are you ok to double check that too using the next nightly build? 😄

[2017-06-30 20:09] MKleusberg commented on #980
@qiulang I believe this is fixed in the next nightly build. Can you download that (see our main page for the link) and check if it's working for you as expected? :smile:

[2017-06-30 20:10] MKleusberg commented on #966
@hackingtosh I believe this is fixed in the next nightly build. Can you download that (see our main page for the link) and check if it's working for you as expected? :smile:

[2017-06-30 20:41] justinclift commented on #1033
Just tested on Fedora 25, and the imports worked.  I'll test it on the OSX Desktop in a few minutes too just to make sure, as that's what the problem originally showed up on.

[2017-06-30 20:53] justinclift commented on #1033
Awesome, yep this is definitely fixed now @MKleusberg.  Tested it now on the OSX desktop... import went flawlessly. Thanks heaps. :smile:

[2017-06-30 20:53] #1033 closed

[2017-06-30 21:01] justinclift commented on #195
@lhunsicker Interestingly, we have an issue open detecting the data type when importing CSV's here #1003.

Would you be ok to cast your eye over my proposed approach there?  I'm kind of thinking it should be effective and accurate. :smile:

[2017-06-30 22:19] jadeade opened #1051 "Browse Table context menu option doesn't browse selected table"
### Details for the issue

Browse Table context menu option doesn't browse selected table, it just switches to "Browse Data" tab and nothing happens, data grid is empty and table combo just shows first table in the list

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [X] Windows

[2017-06-30 22:24] justinclift commented on #1051
Oh... I think that's a bug we fixed a while ago.

Would you be ok to try the latest nightly build, just to confirm? :smile:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-06-30 23:08] lhunsicker commented on #195
Sure.  I'll take a look tomorrow.  It's great that you're looking into this.

Larry Hunsicker

Sent from my iPhone

[2017-07-01 02:42] jjxtra commented on #1021
Will try it tomorrow

[2017-07-01 05:46] kaisershahid commented on #1037
@MKleusberg that should do it! i'll get the new build and test tomorrow, will keep you posted

[2017-07-01 10:35] jadeade commented on #1051
Hi! yes it seems to be working on latest nightly build, just tested and works, what a coincidence cos this has been happening for a while and updated at least twice hoping that it was already working and decided to report after 3.9.1 haha. I should have report it before, but I am a real procrastinator :)

Thank you for the great work!

[2017-07-01 10:44] justinclift commented on #1051
Heh Heh Heh, it's all good @jadeade. :smile:

[2017-07-01 15:04] kaisershahid commented on #1037
@MKleusberg @justinclift @chrisjlocke looks like this is working now. thanks a lot for looking into this!

[2017-07-01 15:26] justinclift commented on #1037
Awesome @kaisershahid. :smile:

I'll close this now, but if it turns out to still need a bit more tweaking to get this issue fully solved you're definitely welcome to re-open it and let us know. :smile:

[2017-07-01 15:26] #1037 closed

[2017-07-01 19:14] mkhtrmn commented on #1044
Hello, I have solved the problem after uninstall and reinstall all the software. Don't know what was the problem 😅

However, on step 13, I found the following error when building the INSTALL

"C:\Program Files (x86)\CMake\bin\cmake.exe" -DBUILD_TYPE=Debug -P cmake_install.cmake
if %errorlevel% neq 0 goto :cmEnd
:cmEnd
endlocal & call :cmErrorLevel %errorlevel% & goto :cmDone
:cmErrorLevel
exit /b

[2017-07-01 20:45] lhunsicker commented on #195
Martin:

Another update to the issue of SQL importing data from a *.csv file.  I have just discovered that the SQLite *.csv importer doesn't strip white space between two commas.  This means that a line in a *.csv file like:
567,  890,123\n
gets read as 567,"  890",123
with the middle value read as a text field rather than as an integer field.  Given how sloppily some *.csv files are composed, it

[2017-07-01 22:15] lhunsicker commented on #195
Martin:
Now that I have gotten into this, I have to clarify that I am a github newbie.  How do I "download tomorrow's nightly build"?

Larry Hunsicker

[2017-07-01 22:36] chrisjlocke commented on #195
If you click this link, you should see a  the latest builds:
https://nightlies.sqlitebrowser.org/latest/

👍

[2017-07-01 23:16] lhunsicker commented on #195
Justin:
Your approach above is generally fine.  I have four comments:
1.  Strip leading and trailing white space as you read in single values.  Currently a line holding:
26,   27, 28\n
will be read as:
26|'  27'|28
with types integer, text, integer.
2.  It would be nice to read more than just the first row.  If the first value in a row is NULL or a 0 length text field, then the entire column would

[2017-07-01 23:20] lhunsicker commented on #195
Many thanks!  Larry Hunsicker

----- Original Message -----
From: "Chris Locke" <notifications@github.com>
To: "sqlitebrowser/sqlitebrowser" <sqlitebrowser@noreply.github.com>
Cc: "lhunsicker" <lhunsicker@mchsi.com>, "Mention" <mention@noreply.github.com>
Sent: Saturday, July 1, 2017 5:36:19 PM
Subject: Re: [sqlitebrowser/sqlitebrowser] NULL value imported from CSV file become empty string (#195)

[2017-07-02 02:12] karim commented on #1048
@justinclift Sorry for the late reply.

Yes, sure I can do that. I will probably create a new **v3.9.2** branch from [**v3.9.1**](https://github.com/sqlitebrowser/sqlitebrowser/tree/v3.9.1) tag and start adding to it. I will try to be careful not to make a mess since this will be the official release. You still need to be involved. You are the one who have to build and sign it. 😄

The question now

[2017-07-02 08:17] chrisjlocke commented on #1048
Just a suggestion.  Monthly updates are handy.  If an issue has been fixed/tested, then that should go into the 3.9.x branch.  If a new feature has been added but is just a 'quick fix' and hasn't been tested, then that can wait for the main version.  If a user needs that feature, then they've still got the nightlies.
Monthly updates aren't 'too frequent' to annoy users, and keeps the project 'aliv

[2017-07-02 10:20] justinclift commented on #1048
@karim Yep, making a v3.9.2 branch sounds like a decent plan.  That way if the initial approach turns out to need changing or something we can do so without mucking up the v3.9.x branch.  And if the v3.9.2 approach does work out, we can merge it into the v3.9.x branch. :smile:

For the "size of releases"... I'd be more inclined to go with monthly batches-of-fixes as @chrisjlocke suggests, rather t

[2017-07-02 14:10] lhunsicker commented on #195
Wow, Martin!

We have been speaking to some extent at cross purposes.  I am an old command line type, and I was talking about my experience with importing *.csv files using the facilities in the SQLite3 bash shell.  I didn't know about the SQLiteBrowser.  But I downloaded and installed your SQLite Browser and used it for some testing.  I like it!  I'll probably start using it now rather than the S

[2017-07-02 16:12] justinclift commented on #1003
Note, some useful follow up thoughts here (from @lhunsicker) for consideration when we're looking at this in more depth: https://github.com/sqlitebrowser/sqlitebrowser/issues/195#issuecomment-312460666

[2017-07-02 16:18] justinclift commented on #195
Hmm, with this:

It's a bit unclear (to me) who the "them" you're meaning are. :wink:

If you're meaning the developers of the SQLite3 bash shell, then definitely reach out to them on the "sqlite-users" mailing list as a first step.  They're pretty friendly too, so it should be a fairly easy experience.

&nbsp; &nbsp; http://mailinglists.sqlite.org/cgi-bin/mailman/listinfo/sqlite-users

Does that

[2017-07-02 17:45] lhunsicker commented on #195
Yes.  Thanks!  Larry Hunsicker

Sent from my iPhone

[2017-07-02 18:08] MKleusberg commented on #1048
Or just go for the full 3.10 release? I've already started to prepare the release notes yesterday and could finish them easily :wink: Sure, dbhub.io integration wouldn't be as good as it could be but we can make that the main feature of 3.11. What do you think?

[2017-07-02 18:50] justinclift commented on #1048
Not really bothered either way personally. :wink:

If we do go for a full 3.10 release instead, we'd want to have at least one round of beta or release candidates before making the final official release, just to be on the safe side. :smile:

[2017-07-02 19:42] MKleusberg commented on #1048
I've just finished the release notes and copied them into a release draft. It's quite long. Any objections to releasing it as 3.10-beta and do the official release in a few weeks? Maybe we should move the discussion to the mailing list, too 😆

@DarylWM Sorry, for using you issue for this discussion! :wink: I hope it's working for you now.

[2017-07-02 19:55] justinclift commented on #1048
@MKleusberg No objections here.  And yeah, probably a good idea to put this on the mailing list too for a more obvious central reference point for this discussion. :smile:

[2017-07-02 19:58] justinclift commented on #1048
Oh, one important point.  I'm heading to London tomorrow, to attend [PGDay UK](http://www.pgconf.uk) on Tuesday.  Back home Wednesday evening.  I won't have access to the windows VM for doing builds/signing until I'm back.

[2017-07-03 04:31] karim commented on #1048
Monthly updates sounds good. The problem with it, as @chrisjlocke said, is knowing which bug fixes/features to include.

@MKleusberg That's very good then. I was going to make small v3.9.x releases till v3.10 is ready. If you are going to release v3.10 then there is no need to bother with v.3.9.x now. Releasing a beta version first is fine.

After that, I hope that we find a better *release proces

[2017-07-03 21:17] jjxtra commented on #1021
Unfortunately the pragma has no effect, page size remains previous value.

[2017-07-03 23:53] tauch opened #1052 "SQL vs. HTML"
### Details for the issue

When using the built-in SQL editor/execute and writing something like
**WHERE a.size > 1000 and .........**
Then that requests becomes HTML-mangled and the SQL-log shows:
**WHERE a.size &amp;gt; 1000 and ...........**

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has

[2017-07-04 01:08] karim commented on #1052
Thanks for reporting this. This issue has been already fixed in the nightly builds but we didn't get around releasing an official version yet.

You can wait till we release v3.10 or you can try the latest nightly builds which fixed this. The latest nightly builds can be found here

https://nightlies.sqlitebrowser.org/latest/

[2017-07-04 16:37] karim commented on #1052
@tauch Did you get the chance to try our nightly build to see if it fixed your problem?

[2017-07-05 01:58] tauch commented on #1052
thank you very much for the fast response and the great softwar - it's solved in nightly :)

[2017-07-05 01:58] #1052 closed

[2017-07-05 05:03] karim commented on #1052
The nightly version has a lot of bug fixes and new features that will soon become the next v3.10 version. If you have any more questions or if you encounter any problems please report it here again.

And thanks for reporting back and we are glad your problem is solved. 😄

[2017-07-05 13:55] RangelReale commented on #774
Can confirm this happens only in the Win64 version, I was having this frequently, reading this thread I installed the 32bit version, and it seems not to crash.
It just crashes ~3 seconds after the open file dialog opens.

[2017-07-08 22:09] lhunsicker opened #1053 "Can one change the column affinity of a column in an existing SQLite table using SQLite Browser?"
### Details for the issue

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [X ] DB4S needs a feature  -- maybe has an unexpected feature!
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [X ] Windows: ( _version:  10.0.15063 N/A Build 15063 )
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:_ ___ )
- [ ] Other: ___

[2017-07-08 22:11] lhunsicker commented on #1053
I'm new on GitHub, and I managed not to include my description of the issuse.

[2017-07-08 22:11] #1053 closed

[2017-07-08 22:23] lhunsicker opened #1054 "Can one change the column affinity in an existing SQLite table using the SQLite Browser?"
### Details for the issue

Everything that I have read about SQLite tells me that one cannot change the definition of a column (in particular, its affinity) in an existing populated SQLite database.  One is supposed to create a new table with the schema from the original table edited with a changed column affinity, then insert the data from the first table into the new table.  But as I have been t

[2017-07-08 22:32] lhunsicker commented on #195
I am new to the GitHub arena.  I just tried to create a new issue (twice) using the button above, but it seems that none of the information that I put into the first section of the message box got entered into the actual question -- just the stuff about my os, etc.  I realize that this response is out of place here, but could one of you point me to the instructions on how to submit a question corr

[2017-07-08 22:41] chrisjlocke commented on #1054
SQLite itself does not support editing columns.
http://sqlite.org/lang_altertable.html

The way around it (as described in the above link too) is to create a new table and copy the data over.  That doesn't take too long, as its all done in one transaction.  Thats the method used by DB4S.
So yes, you can happily change a columns affinity whenever you want, regardless of whether there is data in the

[2017-07-08 22:45] chrisjlocke commented on #195
Its not very clear, but when you create a new issue, you are meant to type after the right pointing arrow.

![image](https://user-images.githubusercontent.com/7872218/27989733-4fa02f02-6437-11e7-8912-81d3895022e6.png)

The arrows are actually HTML markers to put comments, and anything put between these markers are ignored.  Unfortunately, your comment was between these markers.  I amended your las

[2017-07-09 14:55] lhunsicker commented on #195
Very clear.  I think that I have it now.  Many thanks for helping a "newbie"!

Larry Hunsicker

----- Original Message -----
From: "Chris Locke" <notifications@github.com>
To: "sqlitebrowser/sqlitebrowser" <sqlitebrowser@noreply.github.com>
Cc: "lhunsicker" <lhunsicker@mchsi.com>, "Mention" <mention@noreply.github.com>
Sent: Saturday, July 8, 2017 5:45:20 PM
Subject: Re: [sqlitebrowser/sqlitebrows

[2017-07-09 15:19] lhunsicker commented on #1054
Neat!  Many  thanks.

But now a problem/question.  I have a pretty large production database that I initially loaded into SQLite directly from a *.csv table using the RSQLite dbWriteTable() function.  There is one column that the importing software identified as being of INTEGER affinity, but actually is filled with text data -- except for seven pathological entries that are, actually, integers an

[2017-07-09 15:49] cyz199611 opened #1055 "Data Browser displays wrong row number"
### Details for the issue

I use the DB Browser on Mac OS, and when I click the Data Browser, I found that it always displays
"1 - 0 of 0" at the buttom left and I cannot go to the row number that I want to go.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB

[2017-07-09 16:50] chrisjlocke commented on #1054
My first thought is to remove all the data (creating a test database...) and try again. This would rule out a schema issue or a data issue.
Is there any chance you could forward me the database so I could test, or does it contain personal / confidential data?

[2017-07-09 18:10] lhunsicker commented on #1054
Thanks, Chris:

I'm going to recreate and repopulate the table using the SQLite3 bash shell system.  If it works, that will tell me that the problem is with the SQLite Browser rather than with SQLite itself (and will also solve the problem for me).  If that doesn't work, it will tell me at what step in SQLite itself the problem lies.  There are three of these pathological columns in two tables, on

[2017-07-09 21:06] lhunsicker commented on #1054
OK.  I have an answer.  And as it always true for these sorts of things, the answer is obvious once you know what it is.  So I downloaded the schema for the table, edited it to change the name of the table and change the column affinity to text, and copied the amended schema back into the SQLite3 bash shell.  The table was created, but the action aborted when it came to creating the three indices

[2017-07-10 22:40] lhunsicker commented on #1054
I think that I got the problem sorted out.  See my update on sqlite issue 1054.
In any case, I solved my own problem!  Thanks for the help and interest.

Larry Hunsicker

----- Original Message -----
From: "Chris Locke" <notifications@github.com>
To: "sqlitebrowser/sqlitebrowser" <sqlitebrowser@noreply.github.com>
Cc: "lhunsicker" <lhunsicker@mchsi.com>, "Author" <author@noreply.github.com>
Sent:

[2017-07-11 13:23] Wikkie opened #1056 ""Edit Database Cell" output refreshes when selection changes on the "Browse Data" Tab; refreshes on double-click on the "Execute SQL" Tab"
### Details for the issue

When the _Edit Database Cell_ window is visible, it very nicely reflects the contents of each cell that the cursor visits on the _Browse Data_ tab (without having to double click/hitting the enter key).

However, when browsing a SQL Query result on the _Execute SQL_ tab, then the contents of the _Edit Database Cell_ window only refreshes on double click or enter key.

It

[2017-07-11 18:11] wezzix commented on #411
I can confirm that moving columns "COLLATE NOCASE" appears to work, no schema info is lost. Table browser still looks scary with dialog warning though... What's the worst that can happen?

[2017-07-11 19:38] chrisjlocke commented on #411
![bang](https://media.giphy.com/media/rhYsUMhhd6yA0/giphy.gif)

[2017-07-11 20:52] ZizzyZizzy commented on #435
Thanks for this, that fixed the first couple of issues. on CentOS 6.9.

Now I'm getting more errors:

[ 62%] Building CXX object CMakeFiles/DB Browser for SQLite.dir/src/FilterLineEdit.cpp.o
src/sqlitebrowser-3.9.1/src/FilterLineEdit.cpp: In constructor 'FilterLineEdit::FilterLineEdit(QWidget*, QList<FilterLineEdit*>*, int)':
src/sqlitebrowser-3.9.1/src/FilterLineEdit.cpp:9: error: 'setPlaceholder

[2017-07-12 18:27] prutz1311 commented on #1020
There is no way for DB4S to keep track of columns when modifying a table, that is, it cannot relate the columns before modification to the ones after modification, so it seems to be impossible to move values in filter lines into right positions. Should we instead just clear all filters on table modification?

[2017-07-17 07:56] RomainTT commented on #601
Has this issue been fixed ? I have the same problem.
OS : Ubuntu 14.014 x64
DBB : 3.9.99

[2017-07-17 11:37] justinclift commented on #601
@RomainTT Which PPA did you grab that from? :smile:

Asking because the "nightly build" PPA (as per our front page instructions) should have our latest development code in it.  If you're using the other PPA ("stable release"), you'll probably need to change it over.

Does that help? :smile:

[2017-07-18 15:17] justinclift commented on #1048
@MKleusberg Back from leave now.  Are we still wanting to release 3.10 soon?  I'm back home, so can sign binaries and stuff as need again. :smile:

[2017-07-18 15:20] justinclift commented on #1021
Damn, still needs more effort then to get it working. ☹️

Thanks for testing @jjxtra. :smile:

[2017-07-18 16:58] justinclift commented on #774
@RangelReale Thanks, that's useful info.  It does sound like there's some kind of conflict or mis-loading of 32 bit dll's for the Win64 version then.  It'd be useful to know what's causing it, as although it seems pretty rare that doesn't exactly help the people it happens to.

Not really sure how to diagnose this further though. 😖

[2017-07-18 17:02] justinclift commented on #1055
Oh, interesting bug.  We updated the bits for calculating row numbers a few weeks ago, and it looks like we didn't get it quite right for the case where there are only a few rows in a table.

[2017-07-18 17:02] justinclift commented on #1054
Cool.  Are we ok to close this issue? :smile:

[2017-07-18 17:09] justinclift commented on #1020
@prutz1311 Thinking about it, that's probably a reasonable approach.  But it also sounds like the kind of thing which would need to be tried out to make sure it "feels ok" when used.

For something like this I'd probably implement it as fast as possible (no error checking) just to try out the workflow.  eg to have something to try in the GUI.  Then if the user experience seems ok, I'd then add the

[2017-07-18 17:56] lhunsicker commented on #1054
Yes.  Thanks for your help, and thanks for the SQLite Browser!

Larry Hunsicker

[2017-07-18 17:56] #1054 closed

[2017-07-18 19:10] justinclift commented on #1054
Cool, no worries. :smile:

[2017-07-19 14:08] mglatz opened #1057 "text formatting in SQL query"
### Details for the issue

sometimes when I edit SQL query the text gets messed up, see picture.
https://snag.gy/Hp6Cs0.jpg
the SQL is correct and will run, I't just not displayed properly

### Useful extra information

I'm using nightlies, currently 2017-07-19

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another probl

[2017-07-19 14:46] justinclift commented on #1057
Interesting, thanks for reporting it.  Any idea what might trigger it?

[2017-07-19 14:59] chrisjlocke commented on #1057
Never seen that on my Windows 10 box(es).  However, I notice the font used isn't a fixed width font.  I haven't changed mine from the default 'Consolas'.  Just switched to 'Arial' and that seemed OK.
Which font are you using @mglatz ?  Have you tried Consolas or Arial?

[2017-07-20 07:58] mglatz commented on #1057
I seen the error with font Courier New. Now I switched to consolas and have not seen the issue since.
I don't see it always, I can't really determine what might have triggered it.  It only occurs when I make multiple edits to query, I don't remember it would occur on sql I wrote from scratch.

[2017-07-20 12:34] chrisjlocke commented on #1057
Aah, that would be why I've not encountered this error before then - 99.999% of my table names are derived from the 'standard' character set, not the extended characters.  I'll assume the editor can't cope with so many extended characters together.
I'll add 'extended character set' into the title, to make the issue more specific.  For completeness, could you confirm the error doesn't occur if you

[2017-07-20 12:36] chrisjlocke commented on #1057
Arial correctly shows the accented characters for me?

![image](https://user-images.githubusercontent.com/7872218/28417565-7be3809c-6d50-11e7-80b0-1b0150a8619c.png)

[2017-07-20 13:26] mglatz commented on #1057
the original reported bug is not related to special characters.  The original screenshot is messed up although no special character are used.
My editor has funny behavior :) in the below screenshot (arial) you can see that now I see chars with accent (OK) and the cursor is displayed at wrong position, in reality, it is at the end (not OK).
I suspect I'll have to reinstall windows : )
Also as menti

[2017-07-20 13:39] justinclift commented on #1057
In theory :wink:, the nightly builds at the moment should be in reasonably decent condition.  We'll be making a first "3.10.0" beta release out of them today or tomorrow.

Personally, I have no idea why the weird characters are happening.  Am kind of wondering if it might be related to the update we did of QScintilla2, which we use for the SQL Editing part of things.  That was done on 4th May, so

[2017-07-20 14:40] mglatz commented on #1057
I think I found reliable method to invoke display issue. if I press and hold accented character, the cursor will move slower, eventually having this (cursor is in fact at the end of the string). This is on latest nightly and the error does not occur with normal character.
![image](https://user-images.githubusercontent.com/8293281/28422955-dfec4cf4-6d69-11e7-934e-49de5a6d1dcd.png)

I installed vers

[2017-07-20 15:48] sky5walk opened #1058 "Copy rows + header to ClipBoard"
### Details for the issue
A quick/useful feature I miss from spreadsheets and other db browsers is copying rows of a table into the clipboard along with the header line for that selection.

Please add a 'copy special' or 'copy with headers' menu pick.

I then paste the clipboard contents into various tools like plotting or calculators that use the header info for labeling and assignments.

### Use

[2017-07-20 16:07] justinclift commented on #1058
Yep, good idea. :smile:

[2017-07-21 12:11] justinclift commented on #1057
@mglatz Would you have time to try out one of these?

* https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-2017-07-21-win64-Qt_5.9.1.exe
* https://nightlies.sqlitebrowser.org/win64/DB%20Browser%20for%20SQLite-sqlcipher-2017-07-21-win64-Qt_5.9.1.exe

They're the same nightly build as last night, but made with the latest release of Qt just to see if it makes a difference.  It's pu

[2017-07-21 13:03] mglatz commented on #1057
tried the first one, not ok
![image](https://user-images.githubusercontent.com/8293281/28464466-b2ba7bea-6e25-11e7-860a-75d8f9f0fc7d.png)

[2017-07-21 14:37] justinclift commented on #1057
@mglatz Cool, thanks for checking.  That tells us it's probably not a Qt bug problem.

I'm kind of tempted to make a build with the slightly older version of QScintilla2 we were using until 4th May, and see if the problem goes away.  I'll take a look at doing so later on today, I'm just focused on other areas at the moment. :wink:

[2017-07-22 00:19] Kevin111246 opened #1059 "qwe"
### Details for the issue

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:_ ___ )
- [ ] Other: ___

#### I'm using DB4S version:

- [ ] 3.9.1
- [ ] 3.9.0
- [ ] O

[2017-07-22 05:06] chrisjlocke commented on #1059
Qwes are the worst errors to get. Get two of them, and the world stops spinning.

[2017-07-22 05:06] #1059 closed

[2017-07-24 09:29] mglatz commented on #1057
I also figured out that the text gets scrambled when the query finishes.
If I have a multiline query and let it run, sometimes after result is shown the query text changes to scrambled version (such as in original screenshot), even with no special characters. To fix it I have to copy the SQL, open new query tab and paste it there, if I cut and paste to same query tab, the text remains scambled.

(

[2017-07-25 13:18] etoxrg commented on #1043
I have had the same problem.
My issue was fixed by using the 32-bit and not the 64-bit.

[2017-07-25 13:39] justinclift commented on #1043
Thanks @etoxrg.  That definitely sounds like a .dll conflict then.  Not sure what the cause could be, but if the 32-bit version is working ok for you... keep using it. :smile:

Out of curiosity, have you tried the recent 3.10.0-beta1 version?  Just in case the 64-bit version works ok for you.

[2017-07-25 14:16] etoxrg commented on #1043
That was the first 64-bit version I attempted to use.
I then used an older version for the 32-bit, but after you asked I attempted to use the 32-bit 3.10.0-beta1.
The 32-bit 3.10.0-beta1 seems to work fine.

[2017-07-25 15:38] justinclift commented on #1043
Cool.  Thanks for testing @etoxrg. :smile:

[2017-07-26 09:47] sanjeethboddi opened #1063 "minimising issue"
### Details for the issue

The application is not minimising ...
if i click the minimise button its popping back

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [x] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:

[2017-07-26 09:52] justinclift commented on #1063
Heya.  That's a bit light on detail.  What's going wrong? :smile:

[2017-07-26 09:57] sanjeethboddi commented on #1063
db browser doesn't minimise ..
on clicking minimising button it minimises and pops back...
(i don't know whats wrong with the source code)
i hope that you will understand

[2017-07-26 10:02] justinclift commented on #1063
Thanks, yes.  That's easy to understand. :smile:

Which distribution and version of Linux are you using?

[2017-07-26 10:03] sanjeethboddi commented on #1063
UBUNTU 17.04

[2017-07-26 10:06] justinclift commented on #1063
Cool. :smile:

I'm not personally sure what the cause might be, but hopefully someone else on here does.  :smile:

[2017-07-26 10:38] chrisjlocke commented on #1063
See also #934.  A suggestion in there was that it only occurs if View | Edit Database Cell is enabled.  I have no idea if it will help or not.... just thought I'd mention it...

[2017-07-26 11:03] chrisjlocke commented on #1028
I've uploaded the latest nightlies to my Google Drive.
https://drive.google.com/drive/folders/0B7SL71QkC9gAU2xCWEhtYy1ZWUE?usp=sharing

Hopefully you can access these @fatscally ?

[2017-07-26 11:06] chrisjlocke commented on #1055
This might be linked/is similar to #1028.

[2017-07-26 13:19] sanjeethboddi commented on #1063
thanks @chrisjlocke
it has solved my problem
but may i know why the bug appears when the view--> edit database cell is enabled.

[2017-07-26 14:08] chrisjlocke commented on #1063
Magnets.  Its always magnets.  (Obscure Stargate reference there....)

[2017-07-27 11:23] FriedrichFroebel opened #1064 "Access version number from terminal"
### Details for the issue

It may be helpful to have a command line option (or default info text when using the `--help` argument) to print the version number.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ X ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ X ]

[2017-07-27 11:46] justinclift commented on #1064
Good thinking @FriedrichFroebel.  :smile:

At a quick look, it'll probably need to be added here and doesn't look too difficult:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/7baea3bef1f843a522d357f610c38c66ef58d285/src/Application.cpp#L60-L101

[2017-07-28 00:57] Novo55 commented on #601
Don’t think so but I haven’t tried in a while.

On 17 Jul 2017, at 5:56 pm, Romain Taprest <notifications@github.com> wrote:

[2017-07-28 13:31] justinclift opened #1067 "Tooltip text for the Browse Data arrows is no longer correct"
### Details for the issue

Now that the paging arrows in the "Browse Data" tab no longer moves by 100 records, we'll need to update the tooltips to match.

Weirdly, good updated description text isn't springing to mind.  Hopefully @chrisjlocke or @MKleusberg have an idea for text to use. :smile:

![screen shot 2017-07-28 at 14 27 14](https://user-images.githubusercontent.com/406299/28719315-6203b5

[2017-07-28 13:40] chrisjlocke commented on #1067
Are the tooltips dynamic, or are they static?  If dynamic, then they can change depending on what the button is going to do - "Page up {x} records", etc.  If static, "Page up"  ?  😆 (or down....)
Interesting you yourself call them 'paging arrows' rather than 'scrolling arrows'.  People are familiar with the page up/down button on their keyboards, so maybe they should reflect that? (especially as t

[2017-07-28 15:28] justinclift commented on #1067
Hmmm, from memory they're static.  It's probably possibly to make them dynamic (eg change them when the paging quantity changes), but that's probably not worth the effort.

My terminology for them... meh... that's just the wording that sprang to mind.  Not necessarily the correct terms. :wink:

[2017-07-28 15:47] chrisjlocke commented on #1067
Aah, I didn't know if it was like the shortcut keys, where they're hard coded.

[2017-07-29 19:16] Tobias-B-Besemer opened #1068 "Update to newest vcredist 2013"
I think sqlitebrowser should update to the newest vcredist 2013 (Microsoft Visual C++ 2013 Update 5 Redistributable Package) version 12.0.40649.5.

The download-link is:
https://support.microsoft.com/en-us/help/3138367/update-for-visual-c-2013-and-visual-c-redistributable-package

[2017-07-29 19:27] justinclift commented on #1068
Ahhh cool.  Thanks for pointing it out, we'll make sure the next beta's and release are updated with it. :smile:

[2017-07-29 19:28] justinclift commented on #1068
It's probably not a bad idea to get it into our nightlies as well, which I'll look at over the next few days too.

[2017-07-29 19:32] FriedrichFroebel commented on #1064
Seems like this issue can be closed after commit https://github.com/sqlitebrowser/sqlitebrowser/commit/441a08a44d8367f965132cc552c918ce2db09e71.

[2017-07-29 19:32] #1064 closed

[2017-07-29 19:33] justinclift commented on #1064
Ooops, yep.  I forgot to close this the other day, thanks. :smile:

[2017-07-30 05:05] aneroid commented on #243
Was about to post a new issue and then I see this one exists and is still open.

### Details for the issue

When importing data from a CSV file into an _existing table_, the column names in header row are ignored and the **import occurs only on column order**. So if the source data has columns out of order, then the data is goes into the wrong columns.

If importing a CSV file as a _new table_, th

[2017-07-30 05:46] aneroid commented on #243
@justinclift [Wrt](https://github.com/sqlitebrowser/sqlitebrowser/issues/243#issuecomment-87502642)

Maybe switching the column order during import is more work than it's worth - but reading the header row (if the user leaves the box checked) and then matching that with the table's column names, if the table exists, should be straightforward. Especially if the header row names are a 100% match aga

[2017-07-30 09:55] justinclift commented on #243
Hmmm, it's kind of neither.  It's just that when this was first implemented, the concept of "lets do a match up by column name" probably didn't spring to mind.  So, wasn't part of how things were put in place.

That being said, it's not a bad idea.  It would be useful for some scenario's and there's no reason to not implement this.

@iKlsR Any interest in getting this done? :smile:

[2017-07-30 11:17] aneroid commented on #243
FWIW, "match csv Headers to Column names" should be the default when the user selects 'headers in first row'. However, for those who actually want to import by order and ignore the header row - that may break backwards behaviour. Probably add a checkbox for "match headers & columns" which is enabled (and checked) only if 'headers in first row' is checked.

[2017-07-30 11:59] justinclift commented on #243
Yeah, when thinking about this a bit more earlier on today... I can't really imagine a scenario where someone supplies a csv with column headers and **doesn't** want the columns matching up with the same column names in an existing table.

eg not real sure a checkbox selector is needed

If course, I might just be not thinking of some super obvious scenario... :smile:

[2017-07-31 01:07] iKlsR commented on #1002
@justinclift Could you move the last part into a new issue, thanks. It'll help when I tackle my assigns when the time comes.

[2017-07-31 01:19] iKlsR commented on #243
Sure, I won't be able to get to it for a couple weeks however.

[2017-07-31 05:52] kaislahattu opened #1069 "Commandline options do not work in Windows"
### Details for the issue

Version: 3.10.0 Beta1
OS: Win10 Home 1703

Application binary does not seem react to commandline options (using command prompt) in "expected" ways.  For example, invoking the application with "--help" does not yield the expected help (as seen in the Application.cpp) into the command prompt. Issuing '-s' option without SQL does not seem to complain about the missing SQL (

[2017-07-31 10:43] mglatz commented on #1057
I did a clean install of windows and with the latest beta (I installed DB Browser for SQLite-2017-05-01-win64.exe, in about I see version 3.9.99), and I dont see the error anymore. I therefore suspect It really might have been an issue with my windows, rather than app bug. Thank you for all the support!

[2017-07-31 10:55] mglatz commented on #1046
I think this no longer works on 3.9.99 beta. can anyone confirm? thanks

[2017-07-31 10:56] justinclift commented on #1057
Thanks @mglatz, hopefully it does turn out to be that simple. :smile:

[2017-07-31 10:56] justinclift commented on #1046
Oh, interesting.  Does it work with the 3.10.0-beta1 release from a few days ago?

[2017-07-31 11:44] chrisjlocke commented on #1046
Works for me on Win 10 x64 for the beta...

![image](https://user-images.githubusercontent.com/7872218/28776303-f9a81eb6-75ed-11e7-8ac3-7255aed774b0.png)

[2017-07-31 12:21] mglatz commented on #1057
Turns out I did not have the proper version installed (beta), but one of earlier builds. the beta still has this issue.

[2017-07-31 12:23] mglatz commented on #1046
Turns out I did not have the proper version installed (beta), but one of earlier builds. In Beta (3.9.100) it works. Sorry for confusion.

[2017-07-31 12:23] #1046 closed

[2017-07-31 12:39] karim commented on #1069
Version 3.9.1 is very old. Can you try to use our latest nightly build ([https://nightlies.sqlitebrowser.org/latest/](https://nightlies.sqlitebrowser.org/latest/)) or version 3.10.0 (currently in beta testing) from the releases section ([https://github.com/sqlitebrowser/sqlitebrowser/releases](https://github.com/sqlitebrowser/sqlitebrowser/releases)) and see if the issue is fixed with any of them.

[2017-07-31 12:51] kaislahattu commented on #1069
3.10.0 beta1 win64 DOES open the specified datafile, which addresses the main concern (for me). However, '--help' still does nothing, although some kind of a window flashes really quick before disappearing. '-s' seem to open the application just as if it were started normally without commanline options (does not complain about missing SQL or such...).

To me it seems as if the Windows commandline

[2017-07-31 12:52] justinclift commented on #1046
No worries at all. :smile:

[2017-07-31 12:52] justinclift commented on #1057
Interesting.  Ok, we'll need to look into this. :smile:

[2017-07-31 12:55] justinclift commented on #1069
Ahhh, are you running the commands from a batch file, or from the command line?

Asking because the `--help` option is pretty much targeted at people running it from the command line.  In theory if you run it from there, it should display the list of known command line options and what they're for.

If it's not doing that for you though, then it's probably a bug. :wink:

[2017-07-31 13:11] kaislahattu commented on #1069
I have a command prompt open and I am typing these ..."tests" in there (not using a batch file). I'm a happy camper now regardless - I can have my shortcuts for each datafile :)

[2017-07-31 13:19] justinclift commented on #1069
Cool. :smile:

[2017-07-31 13:27] kaislahattu commented on #1069
Question: Since this ticket mentions an old version, should this be closed and new created for new version (in which '--help' does not produce expected command prompt output)? ...or can this be updated? (my github fluency is remarkably non-existent)

[2017-07-31 13:28] justinclift opened #1072 "Visual optimisation for the CSV import process"
[a follow up to #1002] :smile:

With @iKlsR's recent improvement for the CSV process, I was wondering how easy would it be to have each entry be removed from the list as it's import completes.

That way people could see the list shrink visibly onscreen, and the left over list would just still be there in the window when all the selected ones are done, ready for the user to choose new options and g

[2017-07-31 13:29] justinclift commented on #1002
Done, in #1072. :smile:

[2017-07-31 13:31] justinclift commented on #1069
In theory, you should be able to edit the comments and issues you've created.  On the top right of any of the comments and the original description there should be a clickable little icon which makes it go into edit mode.  Give that a shot. :smile:

[2017-07-31 13:35] justinclift commented on #1069
As a reference data point, this is what `--help` shows on the command line for me on OSX with our very latest source code:

[code]

The long name needed to launch the app is just a side effect of how it's compiled on OSX.  On Linux it should still be `sqlitebrowser`, so is easier to launch. :wink:

[2017-07-31 13:40] kaislahattu commented on #1069
My Windows prompt looks like this:

[2017-07-31 13:48] justinclift commented on #1069
Interesting.  I'll try it out on a Windows VM in a bit, and see if the same thing happens to me (eg verify the problem).

It's possible our [code to output the options](https://github.com/sqlitebrowser/sqlitebrowser/blob/441a08a44d8367f965132cc552c918ce2db09e71/src/Application.cpp#L61-L115) is being skipped on Windows for some reason.

[2017-07-31 13:53] chrisjlocke commented on #1069
Also note that if you do put gibberish, DB4S doesn't moan.  So `db browser for sqlite.exe "mary had a little lamb.db"` only opens a 'clean' DB4S window - it doesn't report that that file doesn't exist, or the command option was invalid.
Specifiying a valid filename does work.

This is kinda linked to the other issue when Martin added debug code to DB4S but the Windows version wasn't outputting it.

[2017-07-31 14:03] justinclift commented on #1069
Just tried this out on the Windows build VM, with our latest nightly build.

@kaislahattu is definitely correct.  No options get printed out, and a light coloured application window (main DB4S window maybe?) is displayed on the screen for a fraction of a second.  Not enough to recognise what it was, though maybe screencasting software would be able to grab a good look at it (can't be bothered atm

[2017-07-31 14:06] justinclift commented on #1069
@kaislahattu I've just added `3.10.0-beta1` to our issue template, to make things slightly easier for future issue reporters too. :smile:

[2017-07-31 15:04] chrisjlocke commented on #1069
Or recording it on a smartphone?  Just something we've done sometimes... (especially on BIOS errors at boot up .... crap, was it F9 for boot menu, or F12, or delete...)

[2017-07-31 15:41] FriedrichFroebel commented on #1069
Just did a screen recording (25 fps) on Windows 8.1 with the latest nightly. When calling `"DB Browser for SQLite.exe" --help`, I soon can insert the next command into the command line window. 13 frames later a black window is shown which gets replaced with a white one in the next frame. This white window fades out afterwards (taking 4 frames).

[2017-07-31 16:40] mafagafogigante opened #1073 "Small typo in EditTableDialog"
### Details for the issue

In

[code]

one can find "Modifying and saving this table might result **it** in problems."

Maybe the intended wording was "Modifying and saving this table might result in problems."

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB

[2017-07-31 17:07] mafagafogigante commented on #1073
While we are at this topic, there is also an unbalanced parentheses issue in the foreign key tip.

![screenshot from 2017-07-31 13-51-39](https://user-images.githubusercontent.com/8271090/28788951-6f0994b8-75f9-11e7-847d-b7891bb0a3e9.png)

[2017-07-31 17:28] justinclift commented on #1073
Thanks @mafagafogigante.  Yep we can probably fix those today once GitHub stops being flaky. :smile:

[2017-07-31 17:31] mafagafogigante commented on #1073
@justinclift I am about 90% done with the PT-BR update, I will translate them as if they were already fixed, is that OK? This way I don't have to perform another update an hour later.

[2017-07-31 17:33] justinclift commented on #1073
Yep, that should work fine. :smile:

[2017-07-31 17:36] mafagafogigante commented on #1073
I will also fix the last translations I wrote for the plotting tool. Some of the descriptions of the dot symbols could be further humanized.

[2017-07-31 18:35] aneroid opened #1075 "Data Browser not using all parts of Composite Primary Key on non-ROWID table"
I've got a table with a Composite PK comprising of 3 columns ```PRIMARY KEY(`REPORT_DATE`,`PRODUCT`,`TID`)``` and it's done as a `WITHOUT ROWID` table, since that provides no value in my case.

When I'm browsing the table's data, the SQL Log shows it as:

[code]

This should be doing the SELECT using all 3 parts of the PK as well as for the ORDER BY clause:

[code]

Even more **horrifyingly**, whe

[2017-07-31 19:02] justinclift commented on #1075
Ouch, that does seem like it'll be a release blocker for 3.10.0. :wink:

@MKleusberg This is one for you. 😀

[2017-07-31 21:04] MKleusberg commented on #1073
Well spotted! :smile: Both should be fixed now.

[2017-07-31 21:19] mafagafogigante commented on #1073
That's great.

[2017-07-31 21:19] MKleusberg commented on #1075
I'm afraid this will be one for 3.11 😦 We've never really had support for composite keys and it will require some refactoring throughout the code. For 3.10 we already did some preparations for this but unfortunately all the code for the interaction between the UI and our database backend needs to be adjusted for this. That would be too much for 3.10 but I can make that one of the top priorities fo

[2017-07-31 21:29] MKleusberg commented on #1069
It's probably because of this: https://stackoverflow.com/questions/3360548/console-output-in-a-qt-gui-app. It doesn't sound like it's possible to have console output in a GUI application without any downsides. But there are some solutions suggested - if somebody with a Windows system wants to try them it would be interesting to know if any of them works. If so, feel free to open a PR, or just post

[2017-07-31 21:46] MKleusberg commented on #1067
Yeah, they can be changed dynamically but it would require some extra effort and might even be confusing to users (e.g. when it says it scrolls 15 rows down and then you assume it'll be doing the same thing even after you've resized the window).

Anyway, I've just changed the tooltips and the What's this?-text to... well something more appropriate. Not sure either if it's perfect, but we can alway

[2017-07-31 21:51] justinclift commented on #1067
Heh Heh Heh.  "One page upwards" (& downwards), yep that's good.  Simple and easily understandable. :smile:

[2017-07-31 21:51] #1067 closed

[2017-08-01 05:24] chrisjlocke commented on #1069
For each solution, someone seems to moan that it doesn't work with X, Y or Z.
Would it be easier to just use messageboxes?  This is how Windows apps work.

![image](https://user-images.githubusercontent.com/7872218/28810062-81f6f774-767f-11e7-881a-b4f25dcbb051.png)

Was trying to find a better example - thought excel, etc, used messageboxes for command line examples (ie, -?)

[2017-08-01 10:31] justinclift commented on #1069
Yeah, that shouldn't be too hard.

Instead of using multiple `qWarning()` calls to display the line, each of those lines could simple be used to construct a text message for display:

    outputText = "-f, -foo  some text here"
    outputText += "-b, -bar  some more text here"
    [etc]

Then when the message is fully constructed, choose how to display it based upon the running platform.  eg if it

[2017-08-01 10:48] chrisjlocke commented on #1069
Blimey, that sounds so simple, even I could do it. ;)  🐒
I'll have to dig out my Windows VM with VS on it to have a go. 💩

[2017-08-01 10:49] karim commented on #1069
I was thinking exactly the same as @chrisjlocke. Microsoft seems to be doing the same with a lot of apps, like Windows/MSI Installer.

![msiexec](https://user-images.githubusercontent.com/8761081/28821600-5864b31a-76b6-11e7-901c-e270fafbaa50.png)

DB4S should check if there is a command line before starting. If it is `-v` or `--version` it should display the About dialog window and maybe exit afte

[2017-08-01 11:13] justinclift commented on #1069
Any idea how to do that on Windows?

[2017-08-01 11:22] chrisjlocke commented on #1069
I don't think you need to do that - the 'processing' of the command line works, just not the displaying of messages.  It should be easy to just exit (which wouldn't display the main form) if the -v or -h options are supplied.

[2017-08-01 11:58] justinclift opened #1076 "dbhub: "Save to remote" dialog should pre-fill most info"
The current dialog for the "Save to Remote" option very basic:

![screenshot_2017-08-01_12-52-26](https://user-images.githubusercontent.com/406299/28824062-571149cc-76b8-11e7-8abc-1cb02194908b.png)

It should instead probably show a drop down of the server list (as per the Remote panel) with the current server preselected, and field for the database name, pre-filled with the name of the current da

[2017-08-01 12:21] justinclift opened #1077 "Small usability tweak - keep selected table name when changing to Database Structure tab"
### Details for the issue

Just noticed a small usability awkwardness when creating a bunch of sample databases.

If I'm on the Browse Data tab and have a table selected, when I switch to the Database Structure tab the selection is lost.  So, I have to reselect the table name in the Database Structure tab before being able to click the Modify table button.

This is a bit of a pain when going back

[2017-08-01 13:27] chrisjlocke commented on #1077
Have you downloaded the latest nightly?  We've recently..... oh, its you ... force of habit..! ;)

It doesn't do this on Windows version.  Well, it does, but using different steps.

Database Structure tab. Select table.  Change tab to Browse Data.  Click back to Database Structure.  Selection is maintained.  Click Modify Table.  Click Cancel.  Selection is lost.  **If** OK is selected, however, th

[2017-08-01 14:02] justinclift commented on #1077
Ahhh, interesting.  For me on Linux the selection is lost even when the OK but is clicked.  Modifying field types, from the default TEXT to INTEGER in this case.

[2017-08-01 15:44] chrisjlocke commented on #1077
You're right.  Clicking OK with no changes does nothing.  As soon as I add a new field or make an amendment, **then** the selection disappears, before I've even clicked OK or Cancel.

[2017-08-01 15:58] justinclift commented on #1077
Yeah.  Having done this quite a few times over the last few hours now :wink:, I think I'm getting an idea of what the cause might be.

When I change a column field type from it's current setting to something new (eg TEXT -> INTEGER), the cursor/focus goes into the new cell text area, and the table selection disappears at the same time.

I think the cursor/focus change thing is so people can type i

[2017-08-08 12:43] justinclift commented on #1068
@Tobias-B-Besemer I've just updated the redistributables in on out nightly build server, so our nightlies should now include them instead.  Our next releases (also done on the build server), should automatically pick them up too.

That being said, it wouldn't hurt for someone to take a look in a few days time to make sure things haven't unexpectedly gone weird for some reason. :smile:

[2017-08-08 12:48] justinclift commented on #1068
Just updated the URL in our [Win build environment setup doc](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Setting-up-a-Win64-development-environment-for-DB4S) too.

[2017-08-10 07:04] hoppfrosch commented on #1069
Just to chime in:
Running (on Windows (Win7 Ultimate X64 here))
`"DB Browser for SQLite.exe" DBNAME `
from commandline opens the database.

**But defining a file-association for extension `.sqlite` does not work**. Within Registry I have defined the key `\\\Registry\HKEY_CLASSES_ROOT\Applications\DB Browser for SQLite.exe\shell\open\command\` with the value `"D:\Usr\programs\DB Browser for SQLite\

[2017-08-10 08:48] justinclift commented on #1069
@hoppfrosch Ouch, that sounds frustrating.  Those steps seem like they should work.

Looking over the wiki page we have about Windows File Association bits, I'm not seeing anything in there different:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Windows-File-Associations

It's possible we've introduced some bug recently, though @chrisjlocke or @karim might have ideas for how

[2017-08-10 09:24] chrisjlocke commented on #1069
File associations are a pain.  They shouldn't be, but the 'links' in the registry are just a mess and unclear.  It 'used' to work with Win98 and XP, but it just got overly complicated in Win 7 and beyond.

I just created a .sqlite file, which Win 10 didn't know what to do with.  "Associate it with that .exe there".  "OK - done that", Windows replied.  Nope, it used a completely different version o

[2017-08-10 09:26] karim commented on #1069
Just tested file association on Windows 7 SP1 64-bit and it is working as intended.

If running `"DB Browser for SQLite.exe" "path\to\db.sqlite"` from the commandline opens the database for you then there is nothing wrong with DB4S. Windows handles file association and it should pass the database file to DB4S so it can open it. Apparently, it is not doing so.

Something could be wrong with the reg

[2017-08-10 09:36] justinclift commented on #1069
@chrisjlocke Ahhh, that's a nifty looking utility.  Should we add that to our wiki page about file associations? :smile:

[2017-08-10 09:42] chrisjlocke commented on #1069
I can update that, yes.  Its handy, for .db or .sqlite files as you can have your standard 'open' and also 'open in Beta', etc.  Using this utility makes that easier.

[2017-08-10 09:43] justinclift commented on #1004
@MKleusberg Hmm, I'm kind of thinking we should probably get this fixed for the 3.10.0 release.

Thoughts?

[2017-08-10 16:52] justinclift opened #1079 "Toggle button for remote panel on toolbar?"
Just putting this here for now, so it's not forgotten. :smile:

It'd probably be useful to have a button in the toolbar which toggles the Remote panel open/closed.

I think it'd help people discover our dbhub.io integration easier, and also make it easier to use.  Especially now that there's a button in the panel to upload stuff easily.

We're likely want to make the button only show if the user h

[2017-08-10 18:22] MKleusberg commented on #1079
Hmm, I would probably object that we don't have any toolbar buttons for the other panels either. In general, we only have the bare minimum when it comes to toolbar buttons (somewhere there's an open issue about not having a close database button). So to me it seems strange to have a 'Toggle remote dock' button - not only because it just doesn't seem as important as the other buttons but also becau

[2017-08-10 18:33] MKleusberg commented on #1004
Sure. I'll look into it :smile: Already managed to reproduce the two remaining errors.

[2017-08-10 18:54] MKleusberg commented on #1004
I've just cleaned up the commit that Justin is linking to and pushed it to master. In my first tests this fixed all the remaining issues that are mentioned above and didn't break anything else :smile: Anyone interested in testing it some more?

@h4yn0nnym0u5e Thanks a lot for your work here, especially with the reg ex! 👍

[2017-08-10 19:14] justinclift commented on #1079
Heh Heh Heh

I guess we can leave it without and see how it goes.  Ironically, I was missing not having a "Close database" button just yesterday myself.  Didn't actually think "hmm, I could add that..." at the time though.  Maybe another task, for later, in itself. :wink:

[2017-08-10 19:14] #1079 closed

[2017-08-10 19:27] justinclift commented on #1004
Ahhh, interestingly this is causing the build to fail on our in built regex unit test:

[code]

Seems like the whitespace is now different from expected.  In the two tests above, they seem (from eyeballing) like they'd be valid SQL though and return the same result if run. (?)

[2017-08-10 19:35] MKleusberg commented on #1004
Yes, both versions of the SQL would be valid but the expected one is... well... what you would expect: no multiple line breaks in the middle of the query and no unnecessary whitespace at the end of a line. So I've just added a bit of code to make sure we produce the same expected version as before while still having the better regex by @h4yn0nnym0u5e :smile:

[2017-08-10 19:41] MKleusberg commented on #1004
I've just added the problem descriptions from this issue as test cases, too. So if we change the regular expressions in future in a way that would break it again, we would get a warning.

[2017-08-10 19:48] justinclift commented on #1004
Ahh, good move. :smile:

[2017-08-11 06:52] RedShift1 commented on #876
This should be re-opened. The apply button is grayed out "Browse Data" tab.

[2017-08-11 09:22] chrisjlocke commented on #876
The apply button is greyed out until the cell contents have changed.  Then the apply button is enabled.

[2017-08-11 09:39] RedShift1 commented on #876
![sqlite_bug](https://user-images.githubusercontent.com/3098010/29208249-9807bde8-7e89-11e7-92ad-2417564e4a6d.gif)

Have this happening multiple times. When I play around in the window doing various things, suddenly the "Apply" button will not be grayed out anymore.

Version: 3.9.1 64 bit
OS: Windows 10 build 15063.540

[2017-08-11 09:44] justinclift commented on #876
Ahhhh.  Would you be ok to try the recent 3.10.0-beta?  We've made a lot of tweaks and changes since the 3.9.1 release last year, and there's a pretty good chance was fixed over the course of time. :smile:

[2017-08-11 09:46] RedShift1 commented on #876
See my updated reply

[2017-08-11 09:50] justinclift commented on #876
Ahhh, no worries.

For the backporting, it would make sense if we intended to release a 3.9.2 or similar.  3.10.0-beta1 has turned out to be pretty good (no major bugs reported), so we're just mainly waiting on an external project (SQLCipher) to do a release before we release 3.10.0 properly.

That'll be what our 3.10.0-beta1 currently is, plus updated translations, and some changes to the way com

[2017-08-11 15:10] revolter opened #1080 "Incorrect syntax highlighting when using the ESCAPE keyword"
### Details for the issue

Any text after using the `ESCAPE` keyword with double quotes shows up pink:

![screen shot 2017-08-11 at 17 59 28](https://user-images.githubusercontent.com/5748627/29219221-1dee07a6-7ec0-11e7-9d4a-9de3fd920a51.png)

Replacing that with `ESCAPE '\'` "solves" it.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a b

[2017-08-11 15:26] justinclift commented on #1080
Interesting.  Is this in 3.10.0-beta1 or latest source or ?  :smile:

[2017-08-11 15:27] revolter commented on #1080
I didn't test it

[2017-08-11 15:38] MKleusberg commented on #1080
Hi Iulian! Nice to see you here 😄

I'm currently looking into this issue and I'm pretty sure it's been in every version since 3.0 :wink:

[2017-08-11 16:07] MKleusberg commented on #1080
Ok, I think I got it 😉 It's actually a bug in Scintilla. It was previously reported [here](https://sourceforge.net/p/scintilla/bugs/725/) but then closed because nobody bothered to fix it. I have now fixed it in our copy of the code but we should really try to get the patch merged upstream because
1) the path is just my attempt to fix this bug without having any further insight into the lexer code

[2017-08-11 16:12] justinclift commented on #1080
Yeah, I still an ancient SF account.  I'll give it a shot. :smile:

[2017-08-11 16:16] MKleusberg commented on #1080
Cool, thanks 😄 That spares me creating one :wink:

[2017-08-11 16:19] justinclift commented on #1080
Done: https://sourceforge.net/p/scintilla/bugs/1968/

Hopefully opening a new ticket for it was ok. :wink:

[2017-08-11 16:26] MKleusberg commented on #1021
Thanks for testing, @jjxtra, and sorry for the long delay!

I've just added an additional patch which you can test by downloading tomorrow's nightly build. With this it should work just fine using the SQL editor. However, you need to set the page size and, directly after that, vacuum the database, like this:
[code]
Also see here: https://www.sqlite.org/pragma.html#pragma_page_size
The GUI editor f

[2017-08-11 16:41] justinclift commented on #966
Closing this, as #980 seems to cover it well enough. :smile:

[2017-08-11 16:41] #966 closed

[2017-08-11 16:42] justinclift commented on #987
Oops, forgot to close this ages ago.  Doing it now. :smile:

[2017-08-11 16:42] #987 closed

[2017-08-11 21:04] justinclift opened #1082 "dbhub: Remote database list not refreshed after upload"
@MKleusberg Just remembered this one... after uploading a database using the remote tab, it doesn't automatically appear in the list of databases.

Seems like it just needs to have an automatic refresh call added after uploading.

Guessing this'll be pretty trivial to add. :smile:

[2017-08-11 21:07] h4yn0nnym0u5e commented on #1004
Hmmm - my mistake. Shouldn't have the `+ rxSQL.cap(3)` on line 649, as the SQLite rule says the -- comments include the newline. Slightly weird, but that's what they say... That should remove the need for lines 660/661.

Apologies, have totally mucked up my copy of the repository and failed to grok Git, otherwise I'd try to fix it myself.

[2017-08-12 10:08] justinclift commented on #1004
No worries @h4yn0nnym0u5e, you got us most of the way. :smile:

[2017-08-12 11:13] MKleusberg commented on #1004
Hmm, removing the ```+ rxSQL.cap(3)``` alone doesn't work because it generates invalid SQL commands if there is no space before the start of the comment:
[code]

But just adding a space doesn't seem right either because it generates multiple spaces if there are multiple one line comments. Not sure right now what the best/easiest solution would be.

[2017-08-12 11:38] justinclift commented on #1080
It turns out the Scintilla project is currently in freeze for their upcoming 4.0 release, so they'll look at the patch after that.

[2017-08-12 11:47] MKleusberg commented on #1080
Ok cool, that's fine 😄 We can keep the patch in our code base then until they release 4.0.

[2017-08-12 19:48] revolter commented on #1080
Hi Martin, nice to "see" you (r commits) too.

[2017-08-13 10:11] h4yn0nnym0u5e commented on #1004
@MKleusberg has the right of it, removing the `+ rxSQL.cap(3)` alone doesn't work. The problem is the purported SQLite comment treatment is wrong and can result in changed / invalid syntax.

I'd vote for removing 660/661 and changing the test code to expect what it actually gets:  I can't see any particular downside in leaving multiple newlines in the output... 660-664 will also remove trailing wh

[2017-08-13 11:51] justinclift opened #1084 "Wrong filename pattern on OSX for "Import SQL" dialog"
Using OSX atm, and just noticed that (with our very latest git master), the default filename pattern for the "Import SQL" dialog is showing up as "*.csv *.txt".

Not sure if it's another OSX-only thing, or if the problem also happens on other platforms.  I'll try it out later to check.

[2017-08-13 11:54] justinclift commented on #1084
Ahh... no... it might be a translation problem.  When I switch back to English, the correct filename pattern "*.sql *.txt" is there.

We should probably ask @progh2. :smile:

[2017-08-13 13:30] MKleusberg commented on #1082
Can you check again with the latest version? 😄 It should refresh automatically now.

[2017-08-13 13:30] MKleusberg commented on #1076
What do you think? Can we close the issue now that the new Push database dialog is there? 😄

[2017-08-13 13:31] MKleusberg commented on #1073
Closing this issue then 😄 If it turns out to be still wrong in some way we can always reopen the issue 😉

[2017-08-13 13:31] #1073 closed

[2017-08-13 13:34] MKleusberg commented on #1084
Yep, the original filename pattern can be [found here](https://github.com/sqlitebrowser/sqlitebrowser/blob/bbbadba732d7eb3f45d1e6b91daa3df4273bf012/src/MainWindow.cpp#L1240) and looks correct to me 😄

[2017-08-13 13:37] MKleusberg commented on #583
Any update here? :smile:

[2017-08-13 16:12] justinclift commented on #1082
Cool, compiling now. :smile:

[2017-08-13 16:14] justinclift commented on #1076
Ahhh, yep.  Definitely. :smile:

[2017-08-13 16:14] #1076 closed

[2017-08-13 16:17] justinclift commented on #1082
Excellent.  Perfect!  Thanks @MKleusberg. :smile:

[2017-08-13 16:17] #1082 closed

[2017-08-13 16:18] justinclift commented on #583
Ahhh, not yet.  Haven't yet tried it, and it's not high enough up the priority list just atm. :smile:

[2017-08-13 17:38] MKleusberg commented on #583
No worries :wink:

[2017-08-14 03:55] progh2 commented on #1084
I checked it in korean transition.
I will fix it.

[2017-08-14 03:56] justinclift commented on #1084
Thanks @progh2. :smile:

[2017-08-14 15:11] chrisjlocke opened #1087 "Table headings gets bolded when clicked on"
### Details for the issue

This issue is so minor, its not even an issue.  Maybe just an 'iss'.

On the 'remote' tab, if you click in a table...
![image](https://user-images.githubusercontent.com/7872218/29277890-f5c092ec-810a-11e7-923e-9b7c8f31dfd5.png)

the headings get bolded.

![image](https://user-images.githubusercontent.com/7872218/29277904-03e1a21c-810b-11e7-82d8-138780c6eba7.png)

It caus

[2017-08-14 16:57] justinclift commented on #1068
@Tobias-B-Besemer I think this can be considered completed now, as the build server is using them for nightlies and our new releases.

If you're up for double checking from your point of view, would you be ok to grab either of the 32 or 64 bit binaries from this mornings' [3.10.0-beta2](https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.10.0-beta2) release and verify it includes the co

[2017-08-14 20:45] chrisjlocke commented on #1068
I ran DB4S on a win 10 x64 (just from an extraction, not an install) and it
moaned about 4 DLLs not found. I manually ran the redist and it worked fine
after that. So it's good from my point of view... I've done win 8 boxes too
also test it on. No x86 win 10 boxes though, I don't think.

Thanks,
Chris

On 14 Aug 2017 5:58 pm, "Justin Clift" <notifications@github.com> wrote:

[2017-08-14 21:16] justinclift commented on #1068
Cool, that's good enough for me.  Thanks @chrisjlocke. :smile:

[2017-08-14 21:16] #1068 closed

[2017-08-14 21:32] mglatz opened #1088 "Attach database not working in 3.9.x beta"
### Details for the issue

The attach databse feature does not work, after specifying attached db name, it throws [near "KEY": syntax error].
tested on version 3.9.100 and 3.9.200

### Useful extra information

Probably works on stable realease (not tested)

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

[2017-08-14 22:10] justinclift commented on #1088
Oh, that doesn't sound good.  Thanks for reporting it @mglatz. :smile:

@MKleusberg Sounds like one for you. :smile:

[2017-08-15 06:25] chrisjlocke commented on #1088
See #617 - This has been open a while.  I've never managed to get 'attach' working in DB4S (although I never got the above error - it just did nothing)

[2017-08-15 07:21] mglatz commented on #1088
I seen the referenced issue. I used attach database feature several months ago with no problem and now noticed it does not work on beta. Thought it has been fixed and broken again.

[2017-08-15 09:17] justinclift commented on #1088
Yeah, I'm pretty sure the attach statement should at least work, even if it doesn't show the database in the GUI.  @MKleusberg will probably go something like "Oh, I know what's probably causing that..." then proceed to get it fixed to work again. :smile:

[2017-08-15 09:38] MKleusberg commented on #1088
Oh, I know what's probably causing that... 😜 It's that in the SQLCipher build we're always trying to add a passphrase (for attaching encrypted databases), even if the database isn't in fact encrypted and a passphrase therefore doesn't exist. That results in an invalid SQL statement which in turn shows the error message.

With the latest commit the issue should be fixed. Are you ok to test tomorrow

[2017-08-15 09:52] justinclift commented on #1088
@mglatz If you'll be around your computer in about 1/2 hour from now, I can tell our windows nightly building server to rebuild the latest nightly downloads.

That takes about 1/2 hour, and would mean you don't have to wait until tomorrow.

Would that be useful?

[2017-08-15 10:10] justinclift commented on #1088
Meh... I just kicked it off anyway.  So, if someone needs a build with the attach bit likely working, it'll be ready for testing in 1/2 hour. :smile:

[2017-08-15 10:32] mglatz commented on #1088
thanks @justinclift  👍

[2017-08-15 11:00] justinclift commented on #1088
No worries. :smile:

The updated build is on the nightlies server now:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-08-16 22:23] justinclift opened #1089 "Auto-install DBHub.io certificate"
Just had a thought... when the DB4S database loading code fails, we normally assume the file is an encrypted database (then ask for passphase, etc).

Before the assumption of an encrypted file, we could probably check if the file is a DBHub.io client certificate.  And if it is, then automatically add it to the user's local certificate store (for the remote panel).

This would let us associate DBHu

[2017-08-17 15:01] chrisjlocke opened #1090 "'Duplicate Record' doesn't duplicate selection"
### Details for the issue

Guess its not a bug per-se, as the menu option is 'Duplicate Record' and not 'Duplicate Records', but when you select a number of records, right click, and select 'Duplicate Record', only the record you right clicked on (so not necessarily the first / last record in the selection) is duplicated.

It would be nice if the selected records were duplicated and not just the r

[2017-08-17 17:13] justinclift commented on #1090
Yep, makes sense. :smile:

[2017-08-17 18:40] Tobias-B-Besemer commented on #1068
Did a test with Win7 & 64-bit. Works for me!

[2017-08-17 21:47] justinclift commented on #934
@vanitasvitae @prcutler @akhilman @kehugter Would any of you have time to try something out which might (if lucky) solve this problem? :smile:

If you try, please compiling this branch here and see if the problem seems any different: https://github.com/justinclift/sqlitebrowser/tree/issue_934_v1
(specifically, the "issue_934_v1" branch)

It's our latest source for what will become version 3.10.0,

[2017-08-17 21:48] justinclift commented on #1063
@sanjeethboddi If you have a few minutes to try something out, would you be ok to try compiling and testing the version mentioned here? https://github.com/sqlitebrowser/sqlitebrowser/issues/934#issuecomment-323203577 :smile:

[2017-08-17 22:11] justinclift commented on #1068
Awesome, thanks @Tobias-B-Besemer. :smile:

[2017-08-18 19:14] probonopd opened #1092 "Please provide AppImage for download on GitHub Releases"
Please provide the AppImage for download on GitHub Releases, thanks.

Reference:
https://github.com/AppImage/AppImageHub/issues/15

[2017-08-18 19:32] justinclift commented on #1092
Good timing.  Working on our 3.10.0 release bits soon. :smile:

[2017-08-18 19:45] justinclift commented on #853
One that note :smile: the new 3.10.0 release (presently being built) has FTS5 support, and I've just added `SQLITE_ENABLE_FTS3_PARENTHESIS` to the build options so (I'm thinking) that should mean the enhanced query syntax is in there too.  Hopefully. :smile:

Any interest in taking a look and making sure?

[2017-08-18 19:52] justinclift commented on #1092
k, to make this happen, what do we need to do?  Is there an example one of "best practice" who I can look at and pretty much cut-n-paste what they did? :wink:

[2017-08-18 19:55] probonopd commented on #1092
Check out https://github.com/probonopd/uploadtool

[2017-08-18 20:19] justinclift commented on #1092
k, I'll probably muck around with this tomorrow and see if I can figure it out. :smile:

[2017-08-19 15:41] justinclift commented on #1010
@andisys @h1618 Would either of you have time to try our about-to-be-released version 3.10.0 of DB4S?

* https://nightlies.sqlitebrowser.org/win32-prerelease/DB%20Browser%20for%20SQLite-3.10.0-win32.exe

Trying to find someone with a "definitely, 100% working" XP SP3 install to test this on is turning out to be not so easy. :smile:

[2017-08-19 15:46] justinclift commented on #1010
@iRybin @lulol @JoeErsatz Same as the above question.  Would you have time to try our about-to-be-released version 3.10.0 of DB4S?

* https://nightlies.sqlitebrowser.org/win32-prerelease/DB%20Browser%20for%20SQLite-3.10.0-win32.exe

"In theory" it should work on XP, as it's built by the same VM that builds the XP compatible nightlies... but testing and confirming it is proving to be a bit difficul

[2017-08-19 15:47] justinclift commented on #986
Closing this, as an XP compatible version of DB4S 3.9.1 was released a few months ago and it looks like this should have been closed then. :smile:

[2017-08-19 15:47] #986 closed

[2017-08-19 23:15] andisys commented on #1010
Hey there @justinclift !

Well at first glance everything is fine and working perfectly on my Windows XP SP3 machine, despite this little error at start-up:
![sqlite error](https://user-images.githubusercontent.com/28617767/29490726-416ee93c-854d-11e7-82ff-b95fa993b142.jpg)

[2017-08-19 23:34] justinclift commented on #1010
@andisys Thanks, that's awesome.  I'll update our release notes, as I just make the 3.10.0 release announcement official but said XP doesn't work.

For that Permission Denied error... that's weird.  I do seem to remember someone saying XP can have trouble connecting to things via https.  Maybe it's something to do with that?

[2017-08-20 00:05] karim commented on #1010
@andisys Thanks for testing this. I couldn't test it cause I have only SP2 image and I had problems finding SP3 download. That little error is DB4S checking for a newer version on startup. You can disable "Automatic updates" in "Preferences" to get rid of it if it is annoying you.

@justinclift You are correct. This error has something to do with Win XP and HTTPS access. Some say it doesn't work.

[2017-08-20 00:52] JoeErsatz commented on #1010
Version 3.10.0 installed, launched and ran fine on my WXP SP3. Now I am muting the thread, thank you. (though it is said to be a 'closed' thread - go figure!?

[2017-08-20 00:52] lulol commented on #1010
@justinclift @andisys @karim In a virtual machine with XP SP3 (with POSReady updates) I don't get any startup error and all seems to work fine even with the "Automatic updates" enabled. Maybe the POSReady updated the needed certificates?

On the other hand, it installs fine but fails at launch in a real machine with XP SP3 using an AthlonXP CPU (which lacks SSE2 support and that I guess is the pro

[2017-08-20 10:24] justinclift commented on #1010
@JoeErsatz Thanks. :smile:

@lulol Awesome. :smile: I'd heard it was possible to make a WinXP install look like the embedded POS version, and keep getting updates.  Didn't realise it was such a simple [1 liner registry change](https://www.sebijk.com/community/index.php?thread/2985-getting-xp-updates/).

Hmmm, with that lack of SSE2 support... reading the doc [here](https://msdn.microsoft.com/en-us

[2017-08-20 12:40] lulol commented on #1010
@justinclift @karim  May be /arch:SSE is enough since were already available in the Pentium III or AMD K7 from the W98SE ages?

Anyway if there is going to be a specific DBS4 XP version better to have it as vanilla as possible since probably someone still running XP is not going to need/expect high performance.

I guess that people using XP run it in a VM or old cpus so I think that is a good idea

[2017-08-20 13:32] justinclift commented on #1010
Yeah.  Anyone using Win32 probably doesn't have demanding requirements, so we can have the Win32 build be as widely compatible as possible.  No real need for a separate XP compatible thing again. :smile:

Hmmm, actually getting this to happen though is looking like it's not so straightforward after all. 😦

Adding an `/arch:SSE` option to the "cl.exe" line was easy and didn't complain (just tried i

[2017-08-20 15:29] lulol commented on #1010
Reading the [CMake wiki](https://cmake.org/Wiki/CMake_Useful_Variables#Compilers_and_Tools), I wonder if won't be enough adding the compile options just somewhere in [CMakeLists.txt](https://github.com/sqlitebrowser/sqlitebrowser/blob/v3.10.x/CMakeLists.txt#L36) along the other options. Shouldn't be propagated to both SQLCipher or SQLite?

Something like this for MSVC compiler:
`set(CMAKE_C_FLAGS

[2017-08-20 18:32] justinclift commented on #1048
Oops, we probably should have closed this one ages ago. :smile:

[2017-08-20 18:32] #1048 closed

[2017-08-20 18:35] justinclift commented on #1004
Hmm... is this still something that needs further effort (eg add this to the tracker for the next milestone), or should we close it? :smile:

[2017-08-20 18:36] justinclift commented on #970
Ahhhh, this might be something to look at again soon. :smile:

[2017-08-20 18:38] justinclift commented on #894
@ProfessorTom Would you be ok to try out our new version 3.10.0 release?

In theory, this should be fixed in that.  But, it would be good to have it verified from your point of view before closing this, just in case. :smile:

[2017-08-20 18:40] justinclift commented on #877
Closing due to lack of response. 😦

[2017-08-20 18:40] #877 closed

[2017-08-20 18:40] justinclift commented on #877
@FreudGit If/when you see this, we just release a new major version (3.10.0) which has the fix for this in it. :smile:

[2017-08-20 18:40] ProfessorTom commented on #894
I'll have a look soon. Please ping me if you don't hear from me in a couple
of days.

On Sun, Aug 20, 2017 at 1:38 PM, Justin Clift <notifications@github.com>
wrote:

--
A programmer is a tool which converts caffeine to source code

[2017-08-20 18:41] justinclift commented on #856
@revolter Ping.  But, check with 3.10.0 release instead. :smile:

[2017-08-20 18:48] justinclift commented on #894
Cool, will do. :smile:

[2017-08-21 10:53] chrisjlocke opened #1093 "Clicking 'Cog' icon sometimes crashes DB4S"
### Details for the issue

This seems to be a 'time' limited thing.  So start DB4S, and all is good.  However, after a period of time (hour?  two?) if you click the Cog icon, sometimes (not always) DB4S keels over.

![image](https://user-images.githubusercontent.com/7872218/29516127-1594e5d0-8667-11e7-8def-d8df3202e50f.png)

When testing, clicking the cog icon has worked, but clicking it again or

[2017-08-21 11:16] justinclift commented on #1093
Interesting.  Wonder if that crash is fixed by 0c20582edbe0a4bbc9551d39680a7040f1bf402a too.

Do you have time to see if v3.10.0 seems ok?  v3.10.0 has the above fix in it. :smile:

[2017-08-21 11:27] chrisjlocke opened #1094 "[Suggestion] Warn when copying row id column?"
### Details for the issue

I guess this should be more in a Wiki page than in the application, but its a weird issue, and users aren't going to find/look for it on the Wiki.

When copying rows of data (for duplication), it might be common practice to select the rows via using the number column (not necessarily the row_id column, which is usually hidden).
However, when doing this, this copies the r

[2017-08-21 11:30] chrisjlocke commented on #1093
Aah, will try it this afternoon.  I've had 3.9.200 open all weekend on my machine, and as soon as I clicked Mr Coggy, DB4S crashed, which led me to testing.  It was semi-repeatable.
Will try with the latest version.  👍

[2017-08-21 12:01] justinclift commented on #1094
Hmmm, this seems (to me) more like a bug than anything.  As you point out, it's pretty much an (unintended) consequence of how we're treating rowid column data.

We should definitely be able to figure out the problem areas around this though, and add appropriate handling so it "just works" the way it's expected to from a users's point of view. :smile:

[2017-08-21 12:40] chrisjlocke commented on #1094
Yes, that's why I put, "depends on what the user clicks on" and what they want to do. Depends if they want that column or not. Guess it shouldn't copy it if it's hidden... That would make sense.
Pasting with the row id is going to cause problems though, but again, also depends on the database schema. Not an easy issue.
Maybe a "play it safe" mode which can be overridden.

[2017-08-21 14:01] chrisjlocke opened #1095 "[Suggestion] Progress for downloading/uploading"
### Details for the issue

I'm not sure whats possible, so just throwing this out as a suggestion.
Would it be possible to show how many KB/MB have been down/uploaded so far, to give some sort of progress on where the download/upload is?

Currently, the dialog gives no indication.

![image](https://user-images.githubusercontent.com/7872218/29522576-96109e92-8681-11e7-806b-c1866e2b5ea5.png)

I know

[2017-08-21 14:37] chrisjlocke opened #1096 "Double clicking a 'remote' database continually downloads that database and does not open local version"
### Details for the issue

So I've a list of databases...

![image](https://user-images.githubusercontent.com/7872218/29523924-5a233746-8686-11e7-8503-03f38ce2154e.png)

Double clicking on them opens the local copy ...except for 'a.db' which always downloads a new 'version' (timestamped version)

![image](https://user-images.githubusercontent.com/7872218/29523867-3d43cbe0-8686-11e7-964e-d46c75a9f8

[2017-08-21 14:43] chrisjlocke commented on #1096
Oops.  Deleting 'remotedbs.db' has cured this.  Was obviously some database change between the betas and the new version.

[2017-08-21 14:45] chrisjlocke commented on #1096
PS: My 'modified' column is zero.  Is this correct?

![image](https://user-images.githubusercontent.com/7872218/29524452-c612d35c-8687-11e7-8ab0-7318401f4efd.png)

(reopening this just so this comment gets noticed...)

[2017-08-21 14:48] justinclift commented on #1095
Yep, it definitely should be possible.  Interestingly, the code for displaying the progress dialog is the same for both upload and download.

I *think* the problem is that the server isn't sending the filesize to DB4S when the download kicks off, so DB4S doesn't know where the end is until it hits it.

Kind of thinking I should be able to get that fixed today, in which case the download progress b

[2017-08-21 14:50] justinclift commented on #1096
Ahhh yeah, good point.  I'd forgotten about that too. :smile:

[2017-08-21 21:14] justinclift commented on #1095
Yep, it was a simple fix.  https://github.com/sqlitebrowser/dbhub.io/commit/6abd350f3576eb781197f21bed6bf2c21ab714f3

The download just needed a `Content-Length` header sent at the start.  Download progress bars are working (both Firefox and DB4S) now.  Well, at least when testing just now anyway. :wink:

[2017-08-22 10:18] justinclift commented on #1088
@mglatz Would you have time to try our new v3.10.0 release, and let us know if the attach database piece is working properly for you?

[2017-08-22 10:37] chrisjlocke commented on #1088
Just to confirm (as I've never used it in anger) but are attached database tables meant to show in the database structure tab?

[2017-08-22 10:37] mglatz commented on #1088
it works :)

[2017-08-22 10:37] #1088 closed

[2017-08-22 10:39] mglatz commented on #1057
this issue seems resolved on 3.10.0
long pres and hold of accented character no longer  messes up the layout.
will update here if i see that bug again.

[2017-08-22 10:39] #1057 closed

[2017-08-22 10:46] justinclift commented on #1057
Thanks @mglatz.  Personally, I have no idea what the cause of the problem was, but I'm glad it's working now. :smile:

[2017-08-22 10:47] justinclift commented on #1088
Awesome.  Thanks @mglatz. :smile:

@chrisjlocke Nope, it's a known thing that they don't show up there.  At some point it'd be good to have them do so, but AFAIK no-one's looked into it.

[2017-08-22 11:11] justinclift opened #1097 "dbhub: Push dialog fields should enforce their limits"
In the DB4S 3.10.0 release the Push dialog doesn't check if the length of the database name field nor commit message.

We should get that fixed. :smile:

* Database name: 256 chars
* Commit message: 1024 chars

[2017-08-22 13:26] justinclift commented on #1093
@chrisjlocke Reminder ping for when you have a chance. :smile:

[2017-08-22 13:58] chrisjlocke commented on #1096
Reopening this, as its doing it again.  Its on a database I only uploaded today, so there is an issue somewhere.

Some checksum doesn't match across the two databases.

[2017-08-22 14:33] justinclift commented on #1096
Interesting.  k, we might need to wait for @MKleusberg to get back from his hiking trip. :smile:

[2017-08-22 15:23] BenitoPaul opened #1098 "Problem Event Name: APPCRASH"
Application Name:	AVSDocumentEditor.exe
  Application Version:	4.2.3.302
  Application Timestamp:	58626461
  Fault Module Name:	MSVCR120.dll
  Fault Module Version:	12.0.21005.1
  Fault Module Timestamp:	524f83ff
  Exception Code:	c000001d
  Exception Offset:	0000000000095c01
  OS Version:	6.1.7600.2.0.0.256.1

please help me to open AVS doc editor

[2017-08-22 15:40] chrisjlocke commented on #1098
Hi @BenitoPaul
Are you sure you've got the right support group?

[2017-08-22 15:42] chrisjlocke commented on #1093
Can't reproduce today, so this might have been fixed.

[2017-08-22 15:42] #1093 closed

[2017-08-22 15:44] justinclift commented on #1098
Yeah, doing a quick search online shows this is probably the correct people to contact: http://support.avs4you.com

@BenitoPaul Are you ok to ping them instead?  We can't really help you, as that's not our software so we don't really know much about it. :smile:

[2017-08-22 15:53] justinclift commented on #1098
@BenitoPaul You'll probably have a better result by downloading and using [LibreOffice](http://www.libreoffice.org) instead of that AVS program.

Looking at their website, they seem kind of dodgy. 😦

[2017-08-22 15:53] #1098 closed

[2017-08-22 16:42] c2k- commented on #612
Thank you!
This looks like most of what I have been looking for. (Column widths stick, opens to tab I had active)
Is there any way to tell DB Browser for SQLite to automatically open the last used database or project?
As a workaround I found I can create a shortcut that opens the specific project.

[2017-08-22 17:07] justinclift commented on #612
@c2k- Not yet.  The most recently opened database or project is in the recent files list, which can by opened (manually) by keyboard shortcut.  `Ctrl+1` for the most recent, `Ctrl+2` for the 2nd most recent (etc).

Actually, `Ctrl` is the key on Linux, it could be different (maybe `Alt` (?)) if you're using a different OS. :smile:

[2017-08-22 19:18] justinclift commented on #737
@donmontalvo From memory on OSX they're stored in a flat file in the ~/Library/Preferences directory.

I'm not on my OSX desktop atm though, but guessing you'll have one handy so would be able to check pretty quickly. :smile:

[2017-08-22 19:36] donmontalvo commented on #737
@justinclift, yep, first place I checked (...didn't see a key written for disabling updates when I did so through the app's GUI. Checked in ~/Library/Container/ and ~/Library/Group\ Containers/ even though the app isn't signed/sandboxed, just to be sure.

[2017-08-22 20:11] justinclift commented on #306
Closing this now as DB4S has been updated on FreeBSD to v3.10.0 by @lbartoletti, and there have been no other reports of this weirdness.  If someone else does have it happen, feel free to re-open this. :smile:

[2017-08-22 20:21] justinclift commented on #737
When you say, disabling updates, are you meaning to stop the automatic version check?

It should definitely be there.  We had a bug in the first version of it, where it wasn't being read back correctly (ugh), but that was ages ago.  I really hope we haven't busted that again with the recent refactoring for getting the remote stuff working.

I'll jump on my OSX desktop shortly and take a look.

[2017-08-22 21:15] justinclift commented on #737
k, took a while to refresh my memory and hunt around, but found it.

On my local OSX desktop, the setting for that is stored in:

    ~/Library/Preferences/com.sqlitebrowser.sqlitebrowser.plist

Mine was in binary plist format, so needed converting to the ascii format before being able to grok it:

[code]

The value itself is called `checkversion` so grepping the above converted foo.plist for that

[2017-08-22 21:38] justinclift commented on #737
Looking into it even more, this is the code 3.10.0 which kicks off the version check:

https://github.com/sqlitebrowser/sqlitebrowser/blob/e30d19dbb4bf45d08b45ee347f8ebc12066a43ec/src/MainWindow.cpp#L258-L265

As well as first checking if the user has disabled the remote check, the code for doing the check itself can be not even included when DB4S is compiled.

That flag is enabled for Windows and

[2017-08-22 22:58] donmontalvo commented on #737
Ok sorted it out...clif note for disabling version when deploying this awesome app:

[code]

Our deployment method loops through existing users, so an easy *.plist key to set.

[2017-08-22 23:17] donmontalvo commented on #737
BTW, on macOS, using defaults commands there's no reason to convert the file.

What we do is:

1. Download the DMG
2. Wrap it using any tool (Whitebox Packages, Apple pkgbuild, Jamf Composer, etc.).
3. Add postinstall.sh script to the package to set the setting (since it is per user), using a loop.

`#!/bin/sh

over500=$( dscl . list /Users UniqueID | awk '$2 > 500 { print $1 }' )

APPLICATION="/A

[2017-08-23 00:15] justinclift commented on #737
Cool.  Thanks @donmontalvo. :smile:

That certainly looks like it'll be useful reference material for people. 😀

[2017-08-24 10:38] nico-ha commented on #932
Hi everybody, I just had this dialog appear on a corrupted but unencrypted database file (sqlite shell says "Error: database disk image is malformed"). So it seems like DB4S just asks for a password as soon as it is unable to read a database file, no matter the actual reason.

[2017-08-24 13:26] justinclift commented on #932
@nico-ha Yep, that's definitely the behaviour at the moment.  We'll likely put some effort into improving that, so it tries a few other file types (csv, sql, cert) before jumping to the conclusion it's encrypted.

Not sure when, but we'll get around to it. :smile:

[2017-08-24 16:27] erakli opened #1099 "Installer tries to restart computer without prompt"
### Details for the issue

After installer finished it's work it tried to restart computer without prompt

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [x] Windows: ( _version:_ 7 SP1 x64 )
- [ ] Linux: ( _distro:_ ___ )
- [ ] Mac OS: ( _version:_

[2017-08-24 16:35] justinclift commented on #1099
Oh, that's not good.  There's nothing in our package installers to restart the computer, so that really shouldn't be happening. 😦

Just to check, where did you download it from?  Only asking in case someone has made a dodgy version of it or something. (eg CNET)

[2017-08-24 16:48] chrisjlocke commented on #1099
Depending on the OS, it might be the redist wanted a reboot.  With a /q swictch, it may not prompt the user?  I can try a vanilla Win 8.  Most of my work machines already have .net and runtimes installed, so would have to try a virtual machine 'out the packet' so to speak.

[2017-08-24 17:11] erakli commented on #1099
@justinclift I've downloaded it from GitHub's Release page. Filename: DB.Browser.for.SQLite-3.10.0-win64.exe

[2017-08-24 17:43] justinclift commented on #1099
@erakli Thanks, that's good info.  Yep, just making sure it's not some dodgy external thing. :smile:

@chrisjlocke Good thinking.  That's the only thing I can think of which might be the cause.  Not sure how we'd workaround that though. 😖

[2017-08-24 21:12] victor-david opened #1100 "Taskbar icon flashes on minimize"
### Details for the issue
When using the "Show Desktop" button (far right on task bar) to minimize all apps, DB4S minimizes to its task bar icon as expected, but then the task bar icon begins to flash. It continues to flash for about 10 seconds and then it settles into a a yellow-orange-highlighted state. Once you click on the icon to restore the app window again, the taskbar icon goes back to nor

[2017-08-24 22:22] justinclift commented on #1100
Thanks @victor-david, yeah that doesn't sound good.  It's not on purpose at all, and we'll need to look into it. :smile:

[2017-08-25 08:46] nico-ha commented on #932
@justinclift Thanks for the explanation! No big deal, just good to know 👍

[2017-08-25 08:52] chrisjlocke commented on #1100
Good ol' Windows 7 again.  Not sure about Win 8, but it doesn't happen on Win 10.

[2017-08-25 09:26] justinclift commented on #1100
Hmmm, wonder if this is the Windows version of #934?

If so, then https://github.com/justinclift/sqlitebrowser/commit/e7933fac6dd9b881a0a7247c65c23ee0d66b75c1 might fix it.  Asked a few people in the #934 issue if they could try compiling and running that, but no takers.

@victor-david If I make a one off build for you with a potential fix, would you be ok to try it?

[2017-08-25 09:41] chrisjlocke commented on #1100
I'll fire up my Win 7 VM.  Urgh, I feel so dirty just thinking about it.  ;)

[2017-08-25 09:42] chrisjlocke commented on #1100
:cringe:

![image](https://user-images.githubusercontent.com/7872218/29708839-176658da-8982-11e7-8a41-052c873a6f69.png)

[2017-08-25 09:50] chrisjlocke commented on #1100
Confirmed:

![image](https://user-images.githubusercontent.com/7872218/29709066-e56b8cbe-8982-11e7-8d18-16354e0948b4.png)

Interestingly, it doesn't occur if you click the 'Show Desktop' button while a modal form in DB4S is displayed, eg, 'Edit Table Definition'.

[2017-08-25 09:52] chrisjlocke commented on #1100
Turning off the 'Edit Database Cell' pane also disabled this 'bug'.  (View | Edit Database Cell)

[2017-08-25 10:09] chrisjlocke commented on #1099
I've a 'clean' Win 7 x64 (Ultimate, but not SP1) and the above reboot doesn't occur.  :(

[2017-08-25 10:30] justinclift commented on #1100
Thanks @chrisjlocke.  I'll kick off a build shortly. :smile:

[2017-08-25 11:20] justinclift commented on #1100
Build online:  https://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-sqlcipher-2017-08-25-win64.exe

Note that it's "About" calls itself 3.9.200, as the branch with that experimental commit in it was created during our recent beta period.

[2017-08-25 11:48] chrisjlocke commented on #1100
No improvement, unfortunately.

Just to confirm the 'Edit Database Cell' pane is greyed out / disabled (and still occurs)

![image](https://user-images.githubusercontent.com/7872218/29712840-beeb0342-8993-11e7-8b2d-1755eb61ce00.png)

[2017-08-25 12:09] justinclift commented on #1100
Damn.  Ahhh well.

It might be worth us looking through the Edit Database Cell event loop code, just to figure out what the difference is between that and the other panels.  It'll probably (hopefully) turn out to be something simple.

[2017-08-25 12:20] victor-david commented on #1100
@justinclift Here also. I installed your nightly just now. Problem still exists.

[2017-08-25 13:10] justinclift commented on #1100
Thanks @victor-david. :smile:

[2017-08-25 13:39] PavelCherniavskyi opened #1103 "Problems with using entity framework in C#."
### Details for the issue

In DB I have a table (let it be Names), in project have DbSet<Name> Names field for that table. When adding row in browser it loads into project fine. But when in project I do:
Names.Add(someName);
DbContext.SaveChanges();
It doesn't show in browser but loads next time in project.
If I add in browser another row it erase everything of what I have added from project and r

[2017-08-25 13:42] justinclift commented on #1103
Hmm, this one I have no clue about personally.  Hopefully one of the other teams members has an idea. :smile:

[2017-08-25 14:47] erakli commented on #1099
@chrisjlocke ok, tried to reinstall app today and reboot doesn't occur too. But I installed bunch of MS Visual C++ redists. I think reboot happened when terminal poped up

[2017-08-25 15:33] justinclift commented on #1099
Interesting.  It could be related, but I have no idea how.  Btw, this is the command run by the terminal:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/blob/master/distri/winlaunch.bat

At least you've found a solution that worked for you.  If this happens to other people too, we'll probably need to look into it more. :smile:

[2017-08-25 16:49] chrisjlocke commented on #1103
And this is after clicking, "Write Changes" in DB Browser for SQLite?

Using the entity framework is obviously a layer of complexity which DB4S (DB Browser for SQLite) doesn't know about - so if you're adding in a row using DB4S, is that jhow the entity framework would do it?  Was the database made in DB4S or using Entity Framework?  The __MigrationHistory table is Entity Framework dependant, so i

[2017-08-25 16:52] chrisjlocke commented on #1100
I can't do much over the weekend, but next week I can try and add some debug code to see which events (or signals, in Qt speak?) are getting fired off, etc?  Using a process of elimination, it should be easy to track where its occurring.

[2017-08-25 17:52] PavelCherniavskyi commented on #1103
No. I mead when I add a row in DB4S then write changes and after pulling data from project. It works fine and all tables with data are loaded correct.
The thing is yes, I made a DB from DB4S and added all items manualy from there. It is very handy. Only after that added it to a project. But problems arise when I tried to write to DB something from a code via entity framework. And the most interest

[2017-08-25 17:57] Kangaroux opened #1104 "Holding CTRL and clicking a row should select/deselect just that row, not select all in between"
### Details for the issue
Holding CTRL should select/deselect one row at a time. Currently it does the exact same thing as holding shift, where it selects everything in between.

CTRL only acting on one thing at a time is a standard found in any spreadsheet program or OS when dealing with folders and files.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing

[2017-08-25 18:37] justinclift commented on #1103
Ahhhh.  If you're in the "Browse Data" tab and you write to the database using the entity framework... I think you need to click the "refresh" button for DB4S to read it again.  Otherwise DB4S is probably using data from cache.

Er... does that help? :smile:

[2017-08-25 18:37] chrisjlocke commented on #1103
OK.  Can you create a small database (name and age fields?) Create the code to add the record to your database.  Your project can see it.  DB Browser can't see it.  Can you send me that database?  (issue1103 [at] chrisjlocke [dot] co.uk

[2017-08-25 18:38] justinclift commented on #1100
Good thinking.  Yep, that'd help @chrisjlocke.

And we'd probably also be able to figure out if this is the same (or even related) to the Linux issue.

[2017-08-25 18:40] justinclift commented on #1103
If it's database data that's ok to be shared, maybe upload it to dbhub.io instead? :smile:

And yeah, I'm definitely trying to get people doing stuff with that so we can work out and fix the bugs there. :)

[2017-08-25 18:43] justinclift commented on #1104
Thanks @Kangaroux, yeah, this is a known thing.  No disagreement with you at all.  We just had to pick the best approach we could when writing our cut-n-paste code, and it's still got a ways to go. 😇

As a though, it might be useful to update to our new release (3.10.0) just from the point of view that there's lots of bug fixes in it.  The selection behaviour of the new release is (from memory) pr

[2017-08-25 18:56] PavelCherniavskyi commented on #1103
Ok. Do that tomorrow. Thanks.

[2017-08-25 19:07] justinclift commented on #1095
@chrisjlocke Reminder ping.  Hoping you have a chance to verify this. :smile:

[2017-08-25 19:12] R4N opened #1105 "Single quote not escaped when entering password for SQLCipher encrypted db"
### Details for the issue

I was just testing out the new version of DB Browser for SQLite (3.10.0) with SQLCipher 3.4.1 databases and noticed it doesn’t appear to escape single quotes when entering a password.

Here’s an example of a db generated using the SQLCipher cli:
[code]
When you attempt to open it in DB Browser for SQLite (3.10.0) using the passphrase `test'123` it fails.

### Useful extr

[2017-08-25 19:14] chrisjlocke commented on #1100
\o/

[2017-08-25 19:16] chrisjlocke commented on #1095
I'll try again.  👍

[2017-08-25 19:20] justinclift commented on #1105
Thanks @R4N.  Yep, that definitely looks like a bug.  @MKleusberg is the right person to look at that, though he's on holidays through to the 30th August.

Pretty sure he'll get this fixed soon after returning. :smile:

[2017-08-25 21:01] PavelCherniavskyi commented on #1103
You all are welcome:
https://github.com/PavelCherniavskyi/DB-Browser-for-SQLite-issue
As you can see here I added 3 students. Application can read this table well, but in DB Browser students table is empty.
Once you add one more sudent via DB Browser it will erase all previous and will read that student only.

[2017-08-25 22:03] sharpdot commented on #463
I have this issue on the mac osx sierra after updating to 3.10.0. The previous version I had (3.9.1) did not have the issue.

[2017-08-25 22:31] justinclift commented on #463
Ouch.  We did a lot of changes to our foreign key handling for 3.10.0.  It sounds like you're hitting a bug that the new code isn't handling correctly. 😦

Our main developer, @MKleusberg, who wrote the new foreign key code is on vacation until the end of this month.  So... you'll probably need to use version 3.9.1 until he's back and can investigate.

Sorry for the hassle. 😕

[2017-08-26 06:02] bmshmatok commented on #1099
same problem windws 10 x64, file from GitHub's Release page

[2017-08-26 09:22] justinclift commented on #1099
@bmshmatok Interesting, thanks for mentioning it.

We made a change to our installers [about 3 weeks ago](https://github.com/sqlitebrowser/sqlitebrowser/issues/1068#issuecomment-320944506), updating the MSVC redistributables included with them.

Would you be ok to try one of our nightly builds from before that, so we can figure out if that change is the likely cause? :smile:

If so, this one shoul

[2017-08-27 07:02] lp110118 opened #1106 "Request to migrate history of SQL commands when updating to new version"
### Details for the issue

I just upgraded to version 3.10.0, and I noticed that it did not carry forward the history of commands I had ran previously.

It would be Great if your most excellent program would migrate these forward.
-->

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S needs a feature

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ] Lin

[2017-08-27 10:03] justinclift commented on #1106
Thanks @lp110118.  Yep, that sounds like a decent idea. :smile:

[2017-08-28 06:59] Vort opened #1107 "Incorrect encoding for tooltip"
### Details for the issue

When I type `COUNT(` at `SQL` tab, tooltip with ??? characters instead of russian text pops out:

![sqb](https://user-images.githubusercontent.com/1242858/29762334-b2b8ba5c-8bd6-11e7-8a42-ab9076708077.png)

There should be `COUNT(X) Функция count(X) возвращает количесвто строк, в которых X не равно NULL в группе.` message.

BTW, there is a typo in this text: `количесвто`

[2017-08-28 07:30] justinclift commented on #1107
Thanks @Vort, that does look like a bug. :smile:

We probably won't have time to look at it for a few days though. 😦

With the typo, I'll get that fixed later today.

[2017-08-28 09:46] mglatz opened #1108 "Duplicate queries in sql application log on Browse data"
When I go do browse data tab, display SQL log submitted by application, clear that log and select any table/view, I see that both the queries (count and select) gets executed twice or more times producing 4 or more rows in sql log instead of two rows.
On another database I see that the sql log produces 70(!) queries just for selecting a table (not a view) that has no filter or sorting.

#### I'm o

[2017-08-28 13:51] sharpdot commented on #463
Thanks for the swift repy @justinclift  - I can wait and stay on 3.9.1. @MKleusberg let me know if I can provide more detail when you're back.

[2017-08-29 07:37] justinclift commented on #1108
Oh wow, 70 queries sounds pretty excessive.  With that 70 generated queries, was there any kind of scrolling down the browse data tab?  Asking because (in theory) DB4S is supposed to load a small amount of rows when going to the Browse Data tab, and only then load more rows as the window is scrolled down.  eg load rows on demand for display

It sounds like something is going wrong with that, but f

[2017-08-29 08:35] mglatz commented on #1108
On any db and any table I open I get 4 SQL statements (I would expect two). I only get more than 4 rows (up to 70) when the db is opened as project (sqbpro).

I've been able to reproduce it:

1) create new db, save as sample.db3
2) CREATE TABLE `test` ( `id` INTEGER, `Field2` INTEGER, `Field3` INTEGER, PRIMARY KEY(`id`) )

viewing table  produces
SELECT COUNT(*) FROM (SELECT `_rowid_`,* FROM `test

[2017-08-29 08:37] justinclift commented on #1108
Thanks @mglatz, that should help us get it figured out. :smile:

[2017-08-29 08:51] chrisjlocke commented on #1108
See also #1007 and #641.  This started getting looked into, but after Martin added debug code, I couldn't 'read it' in Windows, as I couldn't run it in 'console' mode.
Theoretically, I should be able to run it within VS (which is how you did it last time, Justin - yes you did ... I saw the screenshot.... ;) )

[2017-08-29 08:57] justinclift commented on #1108
Heh Heh Heh

That was *ages* ago, so yeah... I have nearly no recollection. :wink:

[2017-08-29 09:00] chrisjlocke commented on #1108
Is there a step 3a, "Close database and open project" ?

I've tried, but can't reproduce this.
https://screencast-o-matic.com/watch/cbjUQcIcXL

[2017-08-29 09:02] mglatz commented on #1108
yes there is. I also saved the db after each change

[2017-08-29 11:23] PavelCherniavskyi commented on #1103
Any news?

[2017-08-29 11:47] chrisjlocke commented on #1103
I uncommented your 'addStudent' line, ran the code a couple of times, added my own record via DB4S, and ran the program again.  4 records were displayed as it should.

![image](https://user-images.githubusercontent.com/7872218/29819246-bbc157b2-8cb7-11e7-8e59-12730a7bdff5.png)

Can you confirm when you're running rhe program, you're opening the db in the 'debug/bin' directory, and not the 'root' d

[2017-08-29 11:49] chrisjlocke commented on #1103
PS: Useful frameowrk.  I wrote my own 'framework' which uses millions of lines of code to talk to the database.... urgh!  Might look into this one day...

[2017-08-29 12:33] PavelCherniavskyi commented on #1103
Gosh... I think I'm dumb )))
But why is it dublicate in bin folder?!
Yes, in that DB everything is correct...

[2017-08-29 13:30] chrisjlocke commented on #1103
The bin folder (specifically debug in that) is the 'finished' application which you distribute to others.  Thats the application as a 'whole'.

When you come to release your program, you switch to 'release', and it creates a bin/release directory.

![image](https://user-images.githubusercontent.com/7872218/29823309-2e809890-8cc6-11e7-8d82-aebbffb60013.png)

This version of the .exe doesn't have th

[2017-08-29 13:30] #1103 closed

[2017-08-29 22:49] rwelti commented on #661
MacOS Sierra, still having this issue after update to 3.10.0
As mentioned above, running a second copy of the program makes it work properly.
Maybe that's a clue, it doesn't understand the db has been modified, unless another program also has it open... Thanks for all the hard work you guys do.

[2017-08-30 00:51] clayheaton commented on #884
I'm having this problem, too, unfortunately. R-to-L is invoked when I paste Arabic between the `'%%'` percent signs and all following text breaks. Sadly, this is going to force me back to SQLite Manager in Firefox for the time being, since I'm on an Arabic heavy project.

![editor_arabic](https://user-images.githubusercontent.com/205364/29850423-9e2ca3d4-8cfb-11e7-9238-40bf301843f1.png)

[code]

O

[2017-08-30 06:57] chrisjlocke commented on #661
@rwelti - is this via simPholders and/or simPhuse?

[2017-08-30 08:05] justinclift commented on #884
@clayheaton Yeah, that might be workable.  @MKleusberg how feasible would it be to have a toggle for QScintilla, so it can be turned off by people who find it too broken?

As a data point, there's probably going to be a fair number of people looking for an alternative to SQLite Manager over the coming months.  With Firefox changing how plugins are required to operate, and SQLite Manager barely bei

[2017-08-30 14:03] tardigradus commented on #435
I had this problem when accessing a database via SSHFS.  The machine with the database was running  SL 6.9, so thanks to @peteristhegreat I was able to build version 3.9.0.

[2017-08-30 17:41] PavelCherniavskyi commented on #1103
It seems to me wired that visual studio copy database(!!!) to another location to work with that copy...
What if it will be much bigger size? It is just totaly waste of resources.
But anyway thank you for your time and your patience.
Good luck.
You are doing a great job and usefull product!

[2017-08-30 18:19] chrisjlocke commented on #1103
The 'bin/debug' is the 'root directory' of your finished product.  Thats the directory your application 'sees'.  It cannot 'see' the directory above it, where your source is. It kind of makes sense from a 'production' point of view.  The source directory is your ingredients.  Bake in oven (compile) and the end result is your cake.  Bad cake?  Tweak the ingredients, bake, and eat another cake.  If

[2017-08-30 20:54] rwelti commented on #661
No but it is a remotely-mounted file (sftp mounted via ExpandDrive).
I blamed that fact, before. 
But when I tried the two open DB Browser instances, both opening that same database, and it fixed the refresh issue, I thought that would be valuable information.  Seems I can't blame ExpandDrive per se.

Sent from Russ (rwelti at Yahoo dot com)

From: Chris Locke <notifications@github.com>To: sqliteb

[2017-08-31 01:25] JD4x4 opened #1110 "Same db that opens in Windows ver Fails to open in Linux ver"
### Details for the issue

Databases that open in Windows and Portable versions 3.9.1 fail to load in Linux version 3.9.99.
Error message is "Invalid File Format". Db files are not corrupt, as they open without issues in Win versions.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [X] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another pr

[2017-08-31 05:14] chrisjlocke commented on #1110
v3.9.99 are the 'nightly' versions.  Have you tried the latest 3.10 version?
Is it possible to upload (sans data if needed - or only with one fake record?) to dbhub.io so we could have a look?

[2017-08-31 09:00] justinclift commented on #1110
Hmmm, on that note the recent nightly versions should say "3.10.99".  If they're not, that's a bug in our versioning. :wink:

[2017-08-31 09:18] justinclift commented on #661
Yep, it likely is.  The problem is getting sometime to put focus time on it, as it seems pretty edge case and we're time limited at the moment. 🤕

[2017-08-31 09:26] chrisjlocke commented on #1110
They do.

[2017-08-31 09:37] chrisjlocke opened #1111 "Removing Downloaded Remote Database Doesn't Redownload If Try To Open"
### Details for the issue

This is with the latest nightly, so I presume some functionality has changed?
If a remote database is downloaded, but subsequently deleted from the temp folder, double clicking the remote database no longer redownloads the database, but instead opens the 'please open a database' dialog.

Clicking the cog (refresh?) doesn't 'repopulate' the list or make any improvement.

[2017-08-31 09:47] justinclift commented on #1111
Ahhh cool.  Thanks @chrisjlocke, both will need investigating. :smile:

[2017-08-31 10:01] chrisjlocke opened #1112 "[Suggestion] Disallow Multiple Uploads/Downloads"
### Details for the issue

This is the same for downloads as well as uploads.  At the moment, DB4S allows multiple uploads/downloads.

https://screencast-o-matic.com/watch/cbjwQRIn4v

It 'works', but doesn't look pretty...
Cancelling one upload allows the other to continue, so that side of it works.

### Useful extra information

#### I'm opening this issue because:

- [x] DB4S is working, but I d

[2017-08-31 10:05] justinclift commented on #1112
Ahhh yeah, I think it's because all downloads and uploads are using the same dialog.  We should probably launch a new dialog for them (short term), or make some kind of queuing system.

That being said, a queuing system is likely complicated too.  Some people will one a single transfer, while others will probably want simultaneous connections (due to per connection throttling by ISP, etc).

[2017-08-31 10:11] chrisjlocke commented on #1112
Personally, a "an upload/download is taking place.  Be patient you fool, and try again later" (or equivelant) message would be better in the short term.  DB4S should know if an upload/download is taking place (eg, if the dialog is already open, or if its flagged internally)

I haven't tried uploading AND downloading at the same time, but simultaneous connections like that would just cause problems

[2017-08-31 10:19] justinclift commented on #1112
Sounds like this: https://doc.qt.io/qt-5/qt.html#WindowModality-enum

Hmm, DB4S definitely knows when a progress dialog is open, so it shouldn't be pretty simple to pop up a message saying something like "transfer in progress, please wait...".  Good thinking. :smile:

[2017-08-31 10:43] chrisjlocke commented on #1112
"The window is modal to the application and blocks input to all windows."

Its not overly clear.  You don't want it blocking input to other windows - just a dialog thats 'attached' (part of) the main window.  Looking at it, Qt has a number of different window types - 'sheets', 'widgets' as well as dialogs, so it might be a compltely different type.

[2017-08-31 11:32] justinclift commented on #1112
Yeah.  I'm thinking "leave it to @MKleusberg". 😁

[2017-08-31 12:11] chrisjlocke commented on #1112
I need to download the source for the 'other issue' so will have a tinker with some windows.  Maybe... ;)

[2017-08-31 14:22] justinclift opened #1113 "Size field overflows in the remote panel"
In DB4S 3.10.0, the size field for database entries in the remote panel overflows for larger sized databases.

For example, with a ~3GB upload:

![db4s_3 10 0_remote_panel_size_overflow](https://user-images.githubusercontent.com/406299/29928123-103b6e5a-8e60-11e7-8be6-311d58e1a8c3.png)

Checking the JSON returned from the server, it seems ok:

[code]

Guessing this will be pretty easy to fix. :smi

[2017-08-31 17:56] Mischanix commented on #1099
http://asawicki.info/news_1597_installing_visual_c_redistributable_package_from_command_line.html -- note the `/norestart` command line :)

[2017-08-31 18:14] justinclift commented on #1099
Thanks @Mischanix, just merged that.

Is anyone who is experiencing this problem up for testing the nightly build tomorrow?

Assuming nothing goes wrong, it will be here:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2017-09-01 05:02] JD4x4 commented on #1110
I will try to duplicate the db, obfuscate the personal data (DNA results!) and upload. I'll double check that the duplicated db also fails first. Thinking about this, I might have another db which opens on my Win machine that I haven't yet tried on my Linux box.

As for the Linux version, I had tried with an older version and when that failed I downloaded the newer version following the links on s

[2017-09-01 05:21] justinclift commented on #1110
Thanks @JD4x4. :smile:

[2017-09-01 05:25] justinclift commented on #1110
Ahhh, looking at the Ubuntu repos, the "stable" one still has DB4S 3.9.x in it.

@deepsidhu1313 With the stable repo, any idea on when that'll be updated to DB4S 3.10.x? :smile:

[2017-09-01 06:55] Mischanix commented on #1099
To confirm, it's no longer trying to restart with the latest nightly build.

[2017-09-01 07:07] justinclift commented on #1099
Fantastic!  Well done @Mischanix. :smile:

[2017-09-01 07:07] #1099 closed

[2017-09-01 07:11] JD4x4 commented on #1110
@justinclift Yes, that was the repo & version I used.
I tried the other Win db and it opens with no problem, so it must be something odd about only this db.
I deleted the data from the problem db and it still fails to load in Linux, but fine under Windows.
I'm just going to attach it her since it's so small and I'm not the author/creator.
[Linux_problem_db.zip](https://github.com/sqlitebrowser/sql

[2017-09-01 07:19] justinclift commented on #1110
Thanks @JD4x4, just tried that database on Fedora (Linux) using DB4S 3.10.0... and it opened.

At a guess, it's something to do with the older version of DB4S being in the "stable" repo.

Would you be up for changing to our Nightly build PPA?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser#nightly-builds-1

In theory, that should take care of the problem and you'll be able to open it

[2017-09-01 07:29] MKleusberg commented on #1110
I often had this issue when switching between the 'normal' version and the SQLCipher version during development, so I think I know what's causing this 😄

The SQLite developers sometimes add new features that aren't backward compatible. If you use them in a database and then try to open it using an older version of the SQLite library it gives you the (somewhat confusing) 'Invalid file format' error

[2017-09-01 08:01] MKleusberg commented on #1111
Oops! Yeah, before downloading a database I check the list of downloaded databases to find a match. If it has already been downloaded I'll open the local copy. But that didn't check if the file still exists. If it doesn't the open process will fail and show the file open dialog. That should be fixed now 😄 Before trying to open the local copy, we're now checking if it still exists. If not it's redo

[2017-09-01 08:13] deepsidhu1313 commented on #1110
My apologies this is my mistake. I was waiting 4 the message from Justin
clift on any issues with latest release. As he mentioned few days ago he
will be updating the version number in the file. And instead doing follow
up on that, it skipped my mind (i am buried under thesis :P ). Pushed
packages to nightly build ppa. Will going to publish stable packages soon.

My sincere apologies for the delay

[2017-09-01 08:14] chrisjlocke commented on #1111
Thanks!  (and welcome back!)
Would this be linked in any way to #1096 (database is downloaded remotely, regardless of existance of local version)

[2017-09-01 08:18] justinclift commented on #1110
No worries at all @deepsidhu1313.  Thanks, and good luck with the thesis. :smile:

[2017-09-01 08:19] MKleusberg commented on #1105
... and I'm back 😄

@R4N Thanks for pointing this out! That is indeed a regression that was introduced by some other change. I've just pushed some code to fix it, so with tomorrow's nightly builds (see the main page of our repository on Github for download links) it should work again. Can you give them a test and see if it's working for you?

[2017-09-01 08:21] deepsidhu1313 commented on #1110
Thanks Justin.

On Fri, Sep 1, 2017 at 3:18 AM, Justin Clift <notifications@github.com>
wrote:

--
Regards
Navdeep Singh Sidhu

[2017-09-01 08:22] MKleusberg commented on #1111
Hmm, that seems to be a different issue. I'll look at that later 😄

[2017-09-01 08:28] deepsidhu1313 commented on #1110
Packages will be up in few. Please let me know if encounter any problem. I
am also was working on snap packages(Will be happy if somebody can guide me
with that). I haven't spend time on that in weeks. I will post any update
on that too, hopefully soon.

On Fri, Sep 1, 2017 at 3:21 AM, Navdeep Singh Sidhu <
navdeepsingh.sidhu95@gmail.com> wrote:

--
Regards
Navdeep Singh Sidhu

[2017-09-01 08:45] JD4x4 commented on #1110
I switched to the latest nightly build (I think! See my screen capture!) and same problem.
The "About" box captures from my Win & Linux vers are attached, also my Linux Synaptic package info.  Notice the difference in the pkg. mgr. vs About box versions. ??
I'm going to bed (it's almost 5am East Coast US) so I'll be dreaming about it, lol. Thanks, All!

![versions](https://user-images.githubuserco

[2017-09-01 08:53] justinclift commented on #1095
@chrisjlocke Reminder ping. :smile:

[2017-09-01 09:05] chrisjlocke commented on #1111
No problem ... just thought I'd mention it whil eI was thinking of it... it looked semi related ... vaguely ... roughly .. etc.

[2017-09-01 09:22] chrisjlocke commented on #1095
Aah yes, I was looking at this the other day when I came across the 'multiple download' issue, so forgot to update this one.

Both are working well, so I can close this.

![image](https://user-images.githubusercontent.com/7872218/29963532-1bab350a-8eff-11e7-86a4-250379b0879f.png)

The pedant in me wants to remove the closing "." from the end of the filename though... 😉

[2017-09-01 09:22] #1095 closed

[2017-09-01 09:29] MKleusberg commented on #1095
Just removed the closing "." from the upload and download dialog :wink:

[2017-09-01 09:36] MKleusberg commented on #1110
So the Windows 10 version uses an SQLCipher version based on SQLite 3.15.2 whereas the Linux version uses SQLite 3.8.2. That would strengthen my theory :wink:

[2017-09-01 09:39] justinclift commented on #1095
Oh, related to this, the upload progress bar doesn't show correctly with larger size files.  Instead the whole dialog just flickers.  The upload itself works though.

@MKleusberg If you're wanting to take a look, you don't need to upload the whole file.  It does the flickering thing right from the start.  Oh, I'll need to update the server so it doesn't apply the limits to you.  Will get that done

[2017-09-01 09:44] justinclift commented on #1095
k, upload limits via DB4S shouldn't affect yourselves now.  It's done via dodgy hot patch though, instead of anything proper... so might need to be reapplied again later until something better is put in place.  eg "Admin accounts" or similar as @chrisjlocke suggested the other day

[2017-09-01 09:51] justinclift commented on #1095
@MKleusberg Ahhh... "mtest3".  I whitelisted the wrong username.  1 min. :smile:

[2017-09-01 09:51] MKleusberg commented on #1095
No problem 😄

[2017-09-01 09:52] justinclift commented on #1095
k, should be good now. :smile:

[2017-09-01 09:53] MKleusberg commented on #1095
Hmm, I don't see any flickering... Is 223MB enough?

[2017-09-01 09:54] justinclift commented on #1095
Nope, the larger sized file problem doesn't seem to happen with the ~700MB one here, but does happen with the ~2.9GB one: :smile:

&nbsp; &nbsp; https://db4s-beta.dbhub.io/releases/justinclift/backblaze-drive_stats.db

[2017-09-01 09:54] justinclift commented on #1095
I haven't looked further to figure out where the threshold for mucking up is.

[2017-09-01 09:55] MKleusberg commented on #1095
Ok, give me some time for this. I'm downloading the 2.9GB file now :wink:

[2017-09-01 09:57] justinclift commented on #1095
Maybe generate your own? :smile:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitedatagen

You'd need Go installed, but the generation itself is reasonably quick.  ~5 seconds per 80MB on this old Linux desktop.

[2017-09-01 09:58] MKleusberg commented on #1095
Yeah thought about that too but figured that it's faster to just download your file because it's just one click and I can do other stuff while it's loading :wink:

[2017-09-01 10:06] chrisjlocke commented on #1095
![image](https://user-images.githubusercontent.com/7872218/29965464-869e3dca-8f05-11e7-85d7-d90e07474684.png)

"Its OK - just Martin downloading those large test files again..."

[2017-09-01 10:06] MKleusberg commented on #1097
Should be fixed now :smile:

[2017-09-01 10:12] justinclift commented on #1095
Heh Heh Heh :smile:

Yeah, on that note I haven't yet done measurements of the server while larger sized files are sent to DB4S.  Uploads were pretty relaxed (3% of one cpu) during the 2.9GB upload, mostly due to buffer management I'm guessing.  Seems ok for now, so not a priority to look at optimising (yet). :wink:

[2017-09-01 10:31] justinclift commented on #1097
Excellent @MKleusberg. Verified here. :smile:

[2017-09-01 10:31] #1097 closed

[2017-09-01 10:32] MKleusberg commented on #1095
I don't get any flickering even with the 2.9GB file. But the progress bar isn't working properly either. I assume it's because the progress dialog takes ```int``` values and if those are 32bit wide it will overflow for file sizes greater than 2^32/2 Byte, i.e. 2GB. I'll push a fix for that in a second 😄

[2017-09-01 10:37] MKleusberg commented on #1095
Ok can you test again with the latest commit applied? _In theory_ the progress dialog should work fine now 😉

[2017-09-01 10:45] MKleusberg commented on #1113
Should be fixed 😄

[2017-09-01 10:52] justinclift commented on #1095
Sure, gimme 5. :smile:

[2017-09-01 10:53] MKleusberg commented on #661
A quick search indicates that this is a common problem with ExpanDrive... They seem to cache a lot locally and only update that very sporadically: https://expandrive.uservoice.com/forums/205560-expandrive-feature-requests/suggestions/6150107-show-changes-in-real-time. Not sure what to do about that, though [this](https://expandrive.uservoice.com/forums/205560-expandrive-feature-requests/suggestion

[2017-09-01 10:54] justinclift commented on #1113
Thanks, yep it's looking good now. :smile:

[2017-09-01 10:54] #1113 closed

[2017-09-01 10:59] MKleusberg commented on #1096
@chrisjlocke Can you send me you remotedbs.db file along with the file name of the database that's having the problem?

[2017-09-01 11:00] justinclift commented on #1095
Yep, this is working smoothly now too.  Nicely shown, no flickering, smooth updates.  Awesome @MKleusberg!

[2017-09-01 11:02] MKleusberg commented on #1095
Awesome 😄 Thanks for testing!

[2017-09-01 11:09] chrisjlocke commented on #661
Its not going to improve for the next 90 odd years...

[2017-09-01 11:10] MKleusberg commented on #1087
Should be fixed with the latest commit 😄 Thanks for the thorough testing, @chrisjlocke!

[2017-09-01 11:19] chrisjlocke commented on #1087
Thanks for spending time fixing it!  I'm learning how these 'tweaks' get done to aid in my coding journey.

[2017-09-01 11:27] MKleusberg commented on #1107
The problem seems to be with Scintilla. [Here](http://scintilla-interest.narkive.com/qpX0vAm0/calltips-for-unicode-strings-utf-8-encoding) they say, it can be fixed by using a different font but with the two fonts I've tried so far I didn't have any luck.

[2017-09-01 11:27] chrisjlocke commented on #1096
Will do.  Its doing it on 'users only.db'.

![image](https://user-images.githubusercontent.com/7872218/29967879-c244a4c6-8f10-11e7-852b-8e13a3a25343.png)

https://db4s-beta.dbhub.io/chrisjlocke/remotedbs.db

[2017-09-01 12:03] MKleusberg commented on #1096
I can't see any problem with your remotedbs.db file ☹️ I thought it might be because of the space character in the file name (' ' vs '%20' or something like that) but that bit appears to be working correctly and your initial 'a.db' file didn't have any spaces in it...

If @justinclift is okay with starting the build scripts, I could write a version with extra debug output.

[2017-09-01 12:04] justinclift commented on #1096
Yep, that's no worries at all. :smile:

Hmmm, @chrisjlocke mentioned that Windows has a problem with debug output showing up.  Maybe log to a file (or database :wink:)?

[2017-09-01 12:05] MKleusberg commented on #1096
Or use [this method](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Debugging-a-crash-on-Windows) :smile:

[2017-09-01 12:25] MKleusberg commented on #1096
@justinclift Can you kick off the build for this branch: https://github.com/MKleusberg/sqlitebrowser/tree/debug?

@chrisjlocke Can you try again using the build Justin is going to create? Just try to open the 'users only.db' file again and hope that it's still failing to open the local copy :wink: With the debug version it should create a 'debug.log' file in the same directory as the remotedbs.db

[2017-09-01 13:07] justinclift commented on #1096
Oops, just saw this.  Yep, I'll kick it off now.

If I do a 64-bit only one... and make it say SQLite only, that'll take only 1/4 the time to do.

[2017-09-01 13:14] justinclift commented on #1107
Oops, I forgot to fix the typo too.

[2017-09-01 13:17] justinclift commented on #1107
Typo now fixed: ddd08a4f9ddc09154287777bece8f88699ad9ac2

[2017-09-01 13:34] justinclift commented on #1096
k, here it is: https://nightlies.sqlitebrowser.org/win64-onceoffs/DB%20Browser%20for%20SQLite-2017-09-01-win64.exe

[2017-09-01 14:02] chrisjlocke commented on #1096
Downloading now.  I've got the WinDbg program and that works OK, so can do either method (for future reference)

[2017-09-01 14:08] chrisjlocke commented on #1096
[code]

[2017-09-01 14:11] justinclift commented on #1096
On the server console the matching output is:

[code]

More in-depth logging can be added to the server side if that'd be useful.

[2017-09-01 14:14] chrisjlocke commented on #1096
I knew i'd clicked it several times....but blimey..... ;)

[2017-09-01 16:16] deepsidhu1313 commented on #1110
@JD4x4 Hi, I would like to point out two things.

1. Ubuntu 14.04 & derivatives (LM 17) are no longer supported. My apologies as it seems the QT framework in the default repos is not compatiable with the source code or vice versa.

2. @MKleusberg Builds for Linux (Ubuntu) use packages available in the repos. So automatic builds will use the version that is available in the repo, until or unless we

[2017-09-01 16:28] MKleusberg commented on #1096
Ahhh hmmm, it's sort of obvious now :wink: So thanks to both of you! The problem is basically that we don't have any version control implemented yet. I assume both the ```a.db``` and the ```users only.db``` file have multiple commits whereas the other databases don't. Correct? 😄

There's a very easy fix and a slightly more complicated but better fix for this. I'll try the better one first and if t

[2017-09-01 16:49] chrisjlocke commented on #1096
Doh.  Makes sense.  So the commit has changed, but not in the 'link', etc.  Aah.

[2017-09-01 16:54] hal7df opened #1115 "Crash when removing an indexed field from a table"
### Details for the issue

Whenever I try to remove an ~~INTEGER~~ indexed field from a table, DB4S locks up and I get a "DB Browser for SQLite has stopped working" message. This did not happen in DB4S 3.9.1.

~~The condition still seems a little fuzzy to me, but it only appears to happen when I try to delete an INTEGER field. TEXT and REAL fields delete just fine (although, curiously, if I change

[2017-09-01 16:58] MKleusberg commented on #1096
Just pushed the 'better' solution to this 😄 The next time you're opening one of those files it's now going to ask you in a message box if you want to open the old local version or download the new remote version. If you choose to open the old local version it will just open it, downloading nothing, and ask again the next time you're opening the file. If you choose to open the new remote version it

[2017-09-01 17:03] chrisjlocke commented on #1096
Will test that.  Thanks for implimenting this.  :)

[2017-09-01 17:11] MKleusberg commented on #1096
It's still not perfect though 😉 Pushing a new commit and then double clicking the database file will pop up the same message box. But that's a different issue...

[2017-09-01 17:12] R4N commented on #1105
@MKleusberg

Awesome will do 😄 Although it may not be until Tuesday since Monday is the Labor Day Holiday here in the states.  Will post back once i've gotten a chance to test it out and confirm.  Thanks!

[2017-09-01 17:16] MKleusberg commented on #1115
Hmm, that's weird. The data type shouldn't make any difference. Can you maybe remove all data from your database, so that it only contains the empty table that you're trying to edit and send me that? That should make it much easier to reproduce the issue 😄

[2017-09-01 17:18] MKleusberg commented on #1105
Cool, thanks 😄 And no worries, just let me know if it's working whenever you have a chance to test it.

[2017-09-01 17:39] MKleusberg commented on #463
@sharpdot Just tried to reproduce the original issue and didn't have any luck. Can you upload or send me an example database (with all the records deleted for privacy reasons) and some sort of instructions for triggering the issue? 😄

[2017-09-01 18:14] justinclift commented on #1110
Ahhh.  I guess that means Linux Mint 17 is based off Ubuntu Trusty then.

@JD4x4 You're probably stuck with the older DB4S then, unless you're up for compiling SQLite and DB4S yourself. (?)  It's pretty easy to compile DB4S once a custom SQLite is installed, if you're interested. :smile:

[2017-09-01 18:36] chrisjlocke commented on #1115
Does it happen in just one database, or others too?  If you create a new 'dummy' database, save it, delete a field, does it do it in that too?

[2017-09-01 18:38] hal7df commented on #1115
I don't have access to that database anymore...I'm trying to see if I can create a dummy that reproduces the issue.

FWIW, I had this issue on copies of the same database (same schema, although the data may have been different)

[2017-09-01 18:44] JD4x4 commented on #1110
Thanks all!
So much for Mint LTS, lol. I was thinking of checking out just how "Xenial" "Sonya" was, anyway. 😀

[2017-09-01 18:44] #1110 closed

[2017-09-01 18:52] chrisjlocke commented on #1115
I can't reproduce this on my Win 7 VM, so its ggood (?!) its not a Win 7 issue... (my first thought...)

Related to this, DB4s lets you delete the last field in a table, but it fails in doing so.

![image](https://user-images.githubusercontent.com/7872218/29983693-f7968728-8f4e-11e7-9e2c-22f39862c40d.png)

Maybe the [Delete] button could have a check of, "if number of fields in list =1 then displa

[2017-09-01 18:58] hal7df commented on #1115
I've been unable to reproduce it yet as well (on a Win7 VM and a Win10 VM).

The field I was trying to delete had a NOT NULL flag set on it, although that hasn't made any difference in my attempts to reproduce it.

I suppose it could also be a problem with the DB file(s) I was using and not DB4S, although why that would be escapes me at the moment...

[2017-09-01 18:58] justinclift commented on #1096
Hmmm, it should be fairly easy to add something to the server for returning the commit history for a given database branch.  Maybe something like `/commitlist/path/to/database.sqlite?branch=foo` or `/commits?owner=foo&folder=bar&db=baz.sqlite&branch=barf` (either way is probably workable).

In response it'd send back a JSON list with all of the commit history for the given branch.

It's actually p

[2017-09-01 19:08] hal7df commented on #1115
Figured it out -- if you try to delete an indexed, non-primary key field, you get this behavior.

If you try to delete "Field2" from this test database, it should crash:
[test.db.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/1271264/test.db.zip)

[2017-09-01 19:15] chrisjlocke commented on #1115
Yup, dies on my Win 10 PC, so not a Win 7 issue... shame! ;)
Thanks for the extra database - useful.

[2017-09-01 19:27] chrisjlocke opened #1116 "Deleting a Field Occurs Despite Clicking Cancel"
### Details for the issue

Wasn't sure if this was a bug (seems a bit dangerous if so!) or 'by design'.

Removing a field via 'Modify Database' and clicking Cancel performs the deletion anyway, with no 'Write Changes' or 'Revert Changes' being available.
Found this while testing for #1115 .

https://screencast-o-matic.com/watch/cbQVq3Iflu

The screencast deletes an index first, as I thought it was

[2017-09-01 20:10] justinclift commented on #1116
Ouch.  Yep, that's a bug.  Definitely the kind of thing which could catch people out. 😨

[2017-09-01 21:35] rwelti commented on #661
I know about said cache issues, as a 10 year user -- but that is not the issue here.  And my database is not large.

Anyway I just quit ED and launched a similar program, Mountain Duck,  and got the same behavior.

It's possible **any** sftp-mounted "drive" in Finder, even just using a shell cmd, would have this issue.  (for example with SSHFS).

It's OK, the DB product is excellent, and free; if

[2017-09-02 08:44] MKleusberg commented on #1115
Thanks for the update, @hal7df! That really helped a lot 😄 I think I have fixed the bug. It was caused by some new code that tries to be clever about the indices when an indexed column is updated (updating the column name in the table also updates the column name in the indices) but didn't take into account that you can also remove columns 😦 Can you download tomorrow's [nightly build](https://nigh

[2017-09-02 08:46] MKleusberg commented on #1096
I don't even think that's necessary for now. With https://github.com/sqlitebrowser/dbhub.io/issues/100 I'd have all that I need to fix that last issue (I think).

[2017-09-02 09:30] MKleusberg commented on #1116
It should be fixed now. But maybe you can double check, especially to see if there are any other corner cases left? 😄 By the way, the index deleting bit was actually important. With an unmodified database it works as expected. But still, we might want to include this in a 3.10.1 release or so :wink: (together with #1115 etc).

[2017-09-02 09:39] justinclift commented on #1116
Yeah, a 3.10.1 in a week or two would probably make sense. :smile:

[2017-09-02 13:01] chrisjlocke opened #1117 "Changes are not saved when closing a database"
### Details for the issue

1. Create table.
2. Close Database
3. Say 'Yes' to 'Save changes?'
4. Open database
5. Cry as table has not been saved.  Throw arms in air and scream, "Why me??????"

https://screencast-o-matic.com/watch/cbQnIVIfCD

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [x] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has ano

[2017-09-02 13:09] justinclift commented on #1117
Gaaah!

[2017-09-02 13:18] justinclift commented on #1092
@deepsidhu1313 You mentioned an interest in Snap packaging on Linux.  Any interest in AppImage packages too? :smile:

[2017-09-02 13:21] justinclift commented on #1084
Closing this as it was just a typo in the Korean translation, fixed a few weeks ago. :smile:

[2017-09-02 13:21] #1084 closed

[2017-09-02 13:24] probonopd commented on #1092
In case you are not aware, the AppImage is already being built for each git push on Travis CI. It is just not uploaded to GitHub Releases yet.

[2017-09-02 13:24] justinclift commented on #1087
Confirmed as fixed here, testing on Linux. :smile:

[2017-09-02 13:24] #1087 closed

[2017-09-02 13:34] justinclift commented on #1092
k.  Looking at it now.  I've just done the token generation and added the env variable to Travis.  Next step figuring out what to put in .travis.yml

[2017-09-02 14:22] justinclift commented on #1092
k, seem to have gotten an initial first pass of things working:

* https://github.com/sqlitebrowser/sqlitebrowser/releases

Is there any way to change the title for the release it generates to "Continuous Linux build" instead of just "Continuous build"?  Pretty sure it'll be confusing to newbie users on Windows and/or OSX otherwise. :smile:

[2017-09-02 14:23] justinclift commented on #1092
... and then looking at the source there's an obvious `RELEASE_NAME` variable.  Testing now. 🙄

[2017-09-02 14:31] probonopd commented on #1092
Sure, it's just a bash script...

[2017-09-02 14:51] MKleusberg commented on #1117
Ha, at least for this bug I have an alibi :wink: Good news it's that it's not in the 3.10.0 release but was introduced shortly after. So no need to worry about this one too much (and no need to mention it in the release notes for 3.10.1 because that would just cause confusion). Anyway, I've just pushed a fix for this 😄

@chrisjlocke As you seem to be testing the Edit Table dialog a lot at the mome

[2017-09-02 16:18] deepsidhu1313 commented on #1110
Yes. :smile: [Linux Mint Version History](https://en.wikipedia.org/wiki/Linux_Mint_version_history).
Basically it is ubuntu under the hood, with tweaks to make it more user friendly.

@JD4x4 It has nothing to do Mint or LTS. Some time applications and operating systems don't have goals aligned in same way.

My apologies for speaking on the behalf of DB4S team, so my following statement doesn't hol

[2017-09-02 16:30] deepsidhu1313 commented on #1092
@justinclift  Good you handled AppImage packaging.

But be sure you are using Ubuntu 14.04 contain image in travis.

[code]
If this creates problems for you upgrade it to **'xenial'**.

[2017-09-02 16:36] probonopd commented on #1092
Can you elaborate on this? AppImages generated on trusty should run on newer distributions as well; if not, it's a bug.

[2017-09-02 17:12] justinclift commented on #1092
@deepsidhu1313 Ths... I'm just getting the scripting to work atm.  It's pretty simple stuff, but the iteration time is pretty slow so it'll probably take another hour or two.

Haven't even looked at tested the generated images yet.  Which I should probably do eh? 😁

[2017-09-02 17:22] deepsidhu1313 commented on #1092
Yes they can be used. But by default some of the packages are not available
in Ubuntu repos like qt's latest version. Which is clear from travis file
that you are installing from other ppa. I m not sure but lets say deb built
via this method using external ppa will need latest(or same version) Qt
libraries to run. But most of the regular users dont have this ppa added to
their system. For testing

[2017-09-02 17:24] probonopd commented on #1092
With AppImage this will not cause problems or bugs, since the subset of Qt that is required to run this application will be privately bundled inside the AppImage. That's the whole point of it!

[2017-09-02 17:24] justinclift commented on #1092
Hmmm, don't AppImages bundle all of the needed dependencies internally?

If so, that means there shouldn't be any missing external libraries when deployed, as all of the needed pieces are contained inside the AppImage itself.  So the PPA's (and packages in them) shouldn't have any kind of effect.

[2017-09-02 17:25] probonopd commented on #1092
Not __all__, only those that cannot reasonably be expected to already be present on all target systems (e.g., glibc). But the subset of Qt that this specific application needs to run will be bundled by `linuxdeployqt`.

[2017-09-02 17:26] justinclift commented on #1092
Ahhh, no worries.  :smile:

[2017-09-02 17:30] deepsidhu1313 commented on #1092
My apologies i guess i got confused between nomenclature. I thought
AppImage is ios or macos thing. :simle:. So it is alternate for snap
packages. I should have googled it before assuming.

On Sep 2, 2017 12:26 PM, "Justin Clift" <notifications@github.com> wrote:

[2017-09-02 17:37] probonopd commented on #1092
AppImage is the direct equivalent of an `.app` in a `.dmg` on macOS. Out of the bundling systems for Linux, it's the easiest.

[2017-09-02 17:45] deepsidhu1313 commented on #1092
Libraries were the reason i was working on snap package.  Built a snap
package successfully but unable to launch sqlitebrowser from global
command. However binary file from inside the snap package works just fine.
If AppImage has more pros than snap i guess i will give it a try.

On Sep 2, 2017 12:37 PM, "probonopd" <notifications@github.com> wrote:

AppImage is the direct equivalent of an .app in

[2017-09-02 17:48] probonopd commented on #1092
Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-appimage-e

[2017-09-02 17:49] probonopd commented on #1092
But again, __the AppImage is already being built for each git push_. It's just a matter of uploading it to GitHub Releases.

[2017-09-02 17:51] deepsidhu1313 commented on #1092
So anybody working on AppImage other than Justin ??

On Sep 2, 2017 12:48 PM, "probonopd" <notifications@github.com> wrote:

[2017-09-02 17:52] deepsidhu1313 commented on #1092
Ok. Sounds good.

On Sep 2, 2017 12:51 PM, "Navdeep Singh Sidhu" <
navdeepsingh.sidhu95@gmail.com> wrote:

[2017-09-02 18:50] justinclift commented on #1092
It's @probonopd's baby not mine.  I'm just trying to get the scripting to work so that it uploads to our Releases page in a useful fashion.

It's kind of a pain (so far) actually. 😦

Trying to get the title of the releases to be set to something simple so end users won't be confused ("Continuous Linux build"), but do it without forking the repo.  eg get it working then send a PR

However passing a

[2017-09-02 18:58] probonopd commented on #1092
[code]
does not do the trick?

[2017-09-02 19:15] justinclift commented on #1092
Gaah.  Didn't even occur to me.  Yeah, that should work.

Thanks @probonopd. :smile:

[2017-09-02 19:43] justinclift commented on #1092
In theory, this should be working now from commit 70046f1dbdcf5d9ccc677fd47c6a66f86e9075dc onwards.

We'll need to wait until the current Travis CI run finishes though, to make sure.

[2017-09-02 20:11] probonopd commented on #1092
Looking good :+1: thank you @justinclift

[2017-09-02 20:12] justinclift commented on #1092
Yep, seems to be working now.  Just tested the resulting AppImage, and it's launching ok.

Thanks @probonopd. :smile:

Next step is to get it uploading the SQLCipher version instead.

[2017-09-02 20:17] probonopd opened #1118 "libstdc++.so.6 inside the AppImage is "too new", crashes"
### Details for the issue

When trying to run the 70046f1 continuous build AppImage on Ubuntu 14.04, getting

[code]

### Useful extra information

This can probably be avoided by not using `ubuntu-toolchain-r-test` and/or other PPAs that pull in "too new" `libstdc++.so.6`.

#### I'm opening this issue because:

- [x] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has

[2017-09-02 20:23] justinclift commented on #1118
Any chance of a PR with the needed fix? :smile:

[2017-09-02 20:28] probonopd commented on #1118
Sorry, don't have the time at the moment. Also I don't know the libstdc++ version requirement for sqlitebrowser. But check out my examples here:

https://github.com/probonopd/linuxdeployqt#projects-using-linuxdeployqt

[2017-09-02 21:36] justinclift commented on #1092
Just added a news item about the AppImage builds to the news bit at the top of http://sqlitebrowser.org.  Probably get some people testing it out that way.

If there seems like a decent level of interest in it, and we can figure out a working solution for #1118, then we should probably add a direct download button for an AppImage build of our main DB4S releases.

[2017-09-02 23:31] deepsidhu1313 commented on #1092
Congrats to you guys and team. 👍

On Sep 2, 2017 4:36 PM, "Justin Clift" <notifications@github.com> wrote:

[2017-09-03 11:54] MKleusberg commented on #1092
Hmm is it somehow possible to not have the release email and notification item show up for each new commit? It's not majorly annoying but I'm still wondering 😉

[2017-09-03 12:51] justinclift commented on #1117
Oops.  That's definitely possible when I was mucking around with the AppImage stuff yesterday.  Looks like I rewound it too far back.

Sorry all! 🤕

[2017-09-03 12:54] chrisjlocke commented on #1092
I was getting that, but then found the "silence thread" link.

[2017-09-03 12:59] justinclift commented on #1092
Which emails/notification item?

In Travis is this https://github.com/sqlitebrowser/sqlitebrowser/blob/829e3107e5e95985b4c1d45d337a762db7c09602/.travis.yml#L69-L76, but it doesn't sound like what you're meaning.

[2017-09-03 13:03] MKleusberg commented on #1117
No problem at all :wink: Thanks to Git magically storing every commit somewhere it took only a minute or so to restore.

[2017-09-03 13:03] chrisjlocke commented on #1092
I'm getting (thought the mute thread link worked, but it's a new thread each time...) Notification from gitHub about the new release.

[2017-09-03 13:04] MKleusberg commented on #1092
Yep, that sounds like what I mean. It's basically a release notification (as for the 3.10.0 release) but for every git push or so (at least it looks like it so far).

[2017-09-03 13:14] justinclift commented on #1092
Weirdly, I'm not getting it.  Maybe it's something in each person's settings?

Hmmm, might be time to hit up a search engine. :smile:

[2017-09-03 13:15] justinclift commented on #1092
https://help.github.com/articles/about-notifications/ ?

[2017-09-04 00:00] mt025 opened #1119 "Force reboot - visual C++ redistributable suspected"
### Details for the issue
I just installed the latest version and got a force reboot. I suspect it was the Visual C++ redistributable
that caused it, maybe it needs another parameter when the install is called called to ignore reboot?

Thanks

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [x] DB4S has another problem

#### I'm using

[2017-09-04 04:42] justinclift commented on #1119
Thanks @mt025. Yep, that was exactly the problem, reported already in #1099.  It's fixed in the last few nightly builds, and will be in the upcoming 3.10.1 release (in about a week and a half from now). :smile:

[2017-09-04 04:42] #1119 closed

[2017-09-04 04:48] justinclift commented on #1117
Oh, this was an accidental side effect of #1102.  Doh.

[2017-09-04 07:30] justinclift commented on #1092
Ahhh, I'm seeing the notifications when looking on Gitter.  Yeah, that's annoying.

[2017-09-04 07:38] justinclift commented on #1092
@MKleusberg @chrisjlocke Are you ok to forward one of the notification emails to me?

Preferably with complete header info, so I can attempt to figure out which part of what system is generating it.  Might be able to engage with GitHub support to get it fixed. :smile:

[2017-09-04 08:43] chrisjlocke commented on #1117
Will do.  Anything primarily?  WIll try go through the 'common bits', so to speak .. the obvious things.

[2017-09-04 09:21] wmertens commented on #677
@justinclift it seems that 3.10 for mac does not include JSON1 support?

[2017-09-04 09:45] MKleusberg commented on #1117
No nothing in particular. I'm just wondering if it still works for all common use cases 😄 One thing you should try though is the ```Temporary Table``` option (hidden behind the ```Advanced``` button in the Create Table dialog) because that's what I'm currently working on. We've supported temporary tables before but didn't do it properly. For example you can create a table both as a normal table an

[2017-09-04 12:52] justinclift commented on #677
@wmertens Oh.  It's supposed to.  Looking at the SQLCipher build I used... you're right.  No JSON1 option enabled:

&nbsp; &nbsp; https://github.com/Homebrew/homebrew-core/blob/dfe6b1582283312cb899244626ec3f95bc5416a1/Formula/sqlcipher.rb#L28-L40

I'll fix that later today, so it's enabled in our nightly builds, and so that our upcoming 3.10.1 release has it too.

Sorry for the hassle.  I remember

[2017-09-04 12:53] justinclift commented on #1117
Ahhh, that sounds nifty. :smile:

[2017-09-04 13:35] justinclift commented on #417
Closing this as really ancient and no response.

[2017-09-04 13:35] #417 closed

[2017-09-04 13:53] chrisjlocke commented on #417
This will be related to @MKleusberg's recent changes, so could be relevant now! ;)  Admittedly 2 years 'too soon', but hey, every improvement is a winner!

[2017-09-04 21:21] justinclift commented on #677
@wmertens This is in process now: https://github.com/Homebrew/homebrew-core/pull/17613

If for some reason that doesn't get accepted then the nightly build script can be updated to use a local build of it instead of using the Homebrew one.  The above PR shouldn't be a stress though, as the JSON1 extension doesn't have any downsides (that I know of!) to being enabled by default. :smile:

[2017-09-04 21:38] justinclift commented on #677
@wmertens Just took a look at the SQLite-only build from last night... and it seems busted.

I'll take a closer look into it tomorrow and try to figure out what's wrong.

[2017-09-05 10:11] justinclift commented on #677
After this OSX build problem is fixed, we should probably create a .sql script that can be used to do basic testing of the json/fts3/fts4/fts5, then add running that to the end of each build process.

That should make sure we catch future regressions like this.

[2017-09-05 11:53] chrisjlocke opened #1120 "No Windows Latest Builds (5 Sep)"
### Details for the issue

Did the nightly build process fall over last night?
https://nightlies.sqlitebrowser.org/latest/

There appears to be no Windows builds.

### Useful extra information

#### I'm opening this issue because:

- [ ] DB4S is crashing
- [ ] DB4S has a bug
- [ ] DB4S needs a feature
- [ ] DB4S has another problem

#### I'm using DB4S on:

- [ ] Windows: ( _version:_ ___ )
- [ ]

[2017-09-05 11:59] justinclift commented on #1120
Ahhh, interesting.  I've just been looking at an OSX nightly build problem (hopefully now fixed).

I'll look at the Windows build shortly. Thanks @chrisjlocke. :smile:

[2017-09-05 12:06] justinclift commented on #677
Found the problem with the OSX SQLite only build.  While updating things for the 3.10.0 release I added the `icu4c` library.

This is normally no problem, and DB4S runs fine after it's added.  However the `macdeployqt` tool (part of Qt) which is **supposed** to copy dependant libraries into an application in preparation for it's release... busts it.  It doesn't seem to notice there was a critical

[2017-09-05 13:21] justinclift commented on #1120
Yep, they didn't build.  Not sure why, as the build process on Windows doesn't generate a log file.

After the OSX building finishes, I'll run through the Windows build process manually to see if it was just something temporary (eg network connectivity failure), or something else.

[2017-09-05 14:12] justinclift commented on #1120
Found it.  The build is failing on Windows with this:

[code]

Seems like it doesn't like this: https://github.com/sqlitebrowser/sqlitebrowser/blob/7db96cdf13ff9131b87a71ebb48517080869b061/src/sqlitetypes.cpp#L25-L29

The timeline of the commit which added it (ea1659e1d09c6d1e3452d3dd76986ac901d637dd) matches up, so that does look like the problem.

For a solution though... lets wait for @MKleusbe

[2017-09-05 14:45] chrisjlocke commented on #1120
Line 25 has `QDataStream&` while line 31 has `QDataStream &` ... its not that is it?

[2017-09-05 14:59] ge-org commented on #463
Hi @MKleusberg,

I have the same issue. Whenever I try to add a record I get the following error message:

My DB looks like this:
`CREATE TABLE photos ( id TEXT NOT NULL UNIQUE, title TEXT NOT NULL, PRIMARY KEY(id) )

CREATE TABLE schedules ( id TEXT NOT NULL UNIQUE, photoId TEXT NOT NULL, PRIMARY KEY(id), FOREIGN KEY(photoId) REFERENCES photos(id) )`

[2017-09-05 15:00] MKleusberg commented on #1120
@chrisjlocke No, that's just different formatting of the code which doesn't have any effects. I've still changed it but just to make it more consistent.

My guess is that it's just a missing include which I have just added. No idea why that would be necessary on one platform but not on the other. If the Qt versions are exactly the same that would mean that Qt (or that particular version of Qt) don

[2017-09-05 16:34] justinclift commented on #1120
Thanks @MKleusberg. Jumping on the other PC to fire off the build script now.  We should know in a few minutes (hmmm, maybe 10).

[2017-09-05 16:44] justinclift commented on #1120
@MKleusberg Excellent, that worked.  The build process didn't error out this time, and looks like it'll complete ok.

The overdue nightly builds should be online in ~20 mins. :smile:

[2017-09-05 18:32] hal7df commented on #1115
Sorry for the late response - deleting indexed columns works as expected on the 2017-09-04 nightly.

[2017-09-05 18:34] justinclift commented on #1115
Awesome.  Thanks for testing and verifying @hal7df. :smile:

[2017-09-05 18:34] #1115 closed

[2017-09-05 18:35] justinclift commented on #1120
Closing this now, as the Windows builds are working again. :smile:

[2017-09-05 18:35] #1120 closed

[2017-09-05 18:43] R4N commented on #1105
@MKleusberg @justinclift

Just tried the latest nightly build (3.10.99) and can confirm it's working as expected for me wrt escaping single quotes in the SQLCipher passphrase.  Nice!

[2017-09-06 06:29] JD4x4 commented on #1110
A final follow-up note- fwiw, SQLite Manager Firefox add-on works cross platform. It's using SQLite v 3.19.2 somehow on both machines. No Linux OS upgrade or Windows DB4S downgrade necessary.

[2017-09-06 08:47] justinclift commented on #1110
Thanks @JD4x4, that's useful info. :smile:

Guessing here, but it's probably using the version of SQLite that comes with Firefox, and they're probably bundling something more recent to ensure they have access to the latest features.  So, that should probably work well enough for you for a few months. :smile:

Not sure what the future holds for SQLite Manager, as Firefox is removing support for old

[2017-09-06 10:04] wmertens commented on #677
@justinclift wonderful! I can confirm that it works in the nightlies :)

[2017-09-06 10:13] justinclift commented on #677
Awesome.  Thanks @wmertens. :smile:

[2017-09-06 15:31] MKleusberg commented on #1105
Awesome, thanks for testing, @R4N! 😄 We plan to release DB4S 3.10.1 in a week or two with this and some other bug fixes. So hopefully the new version is out before anybody else runs into the same problem :wink:

[2017-09-06 15:31] #1105 closed

[2017-09-06 20:18] justinclift opened #1121 "CSV import with multiple files prompts "There is already a table of that name..." for every one"
Just went to test the new and improved CSV import code (643251780557ffccf84a3a672a4d88e941313f97) with a bulk import of many files (366) from the Backblaze drive stats data release.

The table structure is prepopulated, to ensure the fields have the correct data type.

[code]

Steps followed:

1. Open the (empty) database, created prior using the sqlite3 command line and the above SQL statement in

[2017-09-06 20:22] justinclift commented on #1121
As an aside, trying to open the database when a matching `-journal` file is present didn't work.  DB4S complained:

![read only due to journal file1](https://user-images.githubusercontent.com/406299/30132694-2eb58c10-9349-11e7-8427-f383ca9d8e58.png)

The error message seems a bit misleading.  A user likely wouldn't know "why is this database read only?  How do I fix it?" from that.  Looking at the

[2017-09-07 09:00] chrisjlocke commented on #1121
It would be helpful if the dialog also displayed the table name, rather than assumed you knew what it was on about! ;)

[2017-09-07 09:27] revolter commented on #986
@JoeErsatz, You go to `File` > `Open Database Read Only...` to open a database in read-only mode.

[2017-09-07 14:11] justinclift commented on #677
As a follow up data point, the `JSON1` extension is now always built as part of Homebrew's `sqlcipher` formula.  So it should always be in our SQLCipher enabled OSX builds (nightly and release) from here onwards.

[2017-09-07 21:22] iKlsR commented on #1121
Agreed, this is sane behavior before batch so old assumptions.. but a *Yes for all* button would be nice. (Currently swamped with investor demo crap) but should be a quickie this weekend, Sunday the latest.

[2017-09-08 09:56] justinclift commented on #1121
@iKlsR Awesome. :smile:

[2017-09-08 13:21] justinclift commented on #1092
Ugh.  This AppImage stuff isn't working as intended.  It's either not building correctly for each commit, or it's spamming us with notification emails.

I'm going to disable it.  If someone cares enough to put in the time and effort to make this work properly, then I'm happy to enable it.  Until then though.. enough time has been taken on this.

[2017-09-08 15:42] justinclift opened #1122 "Execute SQL tab: UI tweak. Move "Export to CSV" button to top row"
### Details for the issue

An UI optimisation has been suggested by a new-to-SQL user here:

&nbsp; &nbsp; https://discuss.zetetic.net/t/save-query-results-as-csv/2343/4

In the issue discussion thread there, they were looking for the `Execute SQL` tab's "Export to CSV" button in the top row, where all of the other buttons are.

It might be decent idea to move it there, so that new users find it e

[2017-09-08 16:33] chrisjlocke commented on #1122
Its not a 'global' button though, but a tab-related button - the button (if moved) would have to know what tab you're on about, and talk to the controls on that tab.  I don't know Qt, but from my VB eyes, it looks like a lot of work....

[2017-09-08 17:38] justinclift commented on #1122
Oops, I should have been clearer. :smile:

![db4s-1122_from](https://user-images.githubusercontent.com/406299/30223974-de6544da-94c4-11e7-906c-4744c94023b3.png)

![db4s-1122_to](https://user-images.githubusercontent.com/406299/30223978-e2566844-94c4-11e7-8137-c9fb5a943ad0.png)

[2017-09-09 08:16] chrisjlocke commented on #1122
Yup, got that. But it's still related to the tab its on. Actually (now my brain is plugged in) I guess it's how the other buttons work... I'll shut up! ;)

[2017-09-09 09:18] vlakoff opened #1123 "Text should be also selectable in "read only" mode"
I open a database in "read only" mode, then I select a cell. Its content is displayed in the "edit database cell" top right pane. The widget is read only (grayed out), but the text is not selectable, it would be convenient if it were :)

[2017-09-09 11:12] justinclift commented on #1123
Ohhh yeah.  That definitely makes sense.

Thanks for reporting it @vlakoff, that should be pretty easy to fix. :smile:

[2017-09-09 20:45] renschler commented on #588
how about <>NULL? It doesn't seem to be working for me.

[2017-09-09 20:55] renschler opened #1124 "Filter by "IS NOT" NULL"
### Details for the issue

This is an enhancement request. I want to be able to filter by IS NOT NULL for a column in the DB Browser. I understand the syntax would be "<>NULL". This does not seem to be working. This seems related to https://github.com/sqlitebrowser/sqlitebrowser/issues/588 but for "IS NOT" instead of "IS".

Many Thanks!
Patrick

### Useful extra information

#### I'm opening this

[2017-09-09 22:14] justinclift commented on #1124
Ahhh yeah.  Makes sense, and should be reasonably easy to implement too. :smile:

[2017-09-10 08:27] MKleusberg commented on #1124
Oh, I wonder how we (or I) missed that while implementing #588 :wink: But I've just implemented the '<>NULL' syntax and it should be working in the next nightly build. Can you download that tomorrow (from [here](https://nightlies.sqlitebrowser.org/latest/) and give it a try, @renschler? :smile:

[2017-09-10 10:04] darvark opened #1125 "Blocks gnome screen"
### Details for the issue

When I open DB Browser for SQLite on my Fedora, it forbids me to switch to other desktop. No matter how I want to switch desktop to see work on other application that is opened, untill DB Browser for SQLite is open, I can't switch to any other desktop

### Useful extra information

Fedora 26 x86_64, with latest versions of packages,
Gnome 3.24.2
DB Browser fo SQLite inst

[2017-09-10 10:19] chrisjlocke commented on #1125
This might be related to #1063 and #934.  Disabling the 'edit database cell' window might help.

[2017-09-10 10:24] darvark commented on #1125
Hi, Thanks, it's solve problem. So we can close this bug as duplicated.

[2017-09-10 10:24] #1125 closed

[2017-09-10 10:49] justinclift commented on #1125
Ahhh, this is interesting.  My development desktop is running Fedora 25 x64.

This problem doesn't seem to happen on that.  Wonder if it's due to it running the XFCE release instead of Gnome, or if instead it's something to do with the DB4S in the Fedora repository being weird?

I'll try out the Fedora repo version when I switch to that desktop in a bit, and see if the problem shows up.

[2017-09-10 11:42] justinclift commented on #1125
With Fedora 25 x64's XFCE release, the problem isn't showing up.

It'd be interesting to know which part of Gnome, or the windowing system, is interacting badly with the Edit dialog.  That being said, since it's only in that one dialog it's probably something that wouldn't be too hard to fix.

[2017-09-10 11:52] chrisjlocke commented on #1125
I guess it's related to the flashing taskbar icon in Windows issue... Same DB4S window. I should get time early this week to investigate this.

[2017-09-10 13:29] MKleusberg commented on #1123
This should work in tomorrow's nightly build. Are you ok to download that and test if it's working as expected, @vlakoff? 😄

[2017-09-10 13:32] MKleusberg commented on #1122
I've tried to move the button to the toolbar :wink: Turns out this isn't as easy as it seems, so I've added this to the 3.11.0 milestone instead of the 3.10.1 one. It should mostly work the same as before with one small difference: if you execute some statement in tab 1, then change to tab 2, and back to tab 1, the button is disabled until you execute the statement again. I hope that's not causing

[2017-09-10 13:37] justinclift commented on #1122
Awesome, thanks @MKleusberg.  Hopefully this does turn out better for new users, and doesn't inconvenience our existing ones. :smile: