[2020-07-06 20:59] #2322 closed

[2020-07-06 21:19] mattwojo commented on #2142
Following. :)

[2020-07-07 03:44] justinclift commented on #2322
No worries.  Hopefully you find a good solution. :smile:

[2020-07-07 07:52] xonoma commented on #2020
That was one of the first things I noticed as well. I don't write C++ (I do Python) and, though I tried, wasn't able to figure out how to add the key binding myself. My apologies. I hope this new key binding can be added within the next or the next few versions.

[2020-07-07 09:16] chrisjlocke commented on #2307
GitHub desktop has a side panel offering a tutorial.  Seems a nice idea.

![image](https://user-images.githubusercontent.com/7872218/86757117-cee56e00-c03a-11ea-9790-6bb594592298.png)

When you expand a section, it explains what to do with additional links.  We could give some details, and link off to the Wiki, for example.

![image](https://user-images.githubusercontent.com/7872218/86757256-e886b

[2020-07-07 13:54] HarryDe opened #2323 "Import from SQL-Dump files is broken since v3.11"
Details for the issue
--------------------

#### What did you do?
I tried to import data from a SQL-Dump.

#### What did you expect to see?
Approx. 20,000 records imported into a table

#### What did you see instead?
A syntax error near "DELETE FROM `table`". Removing the DELETE statement resulted in a syntax error near "INSERT INTO ..."

The error was already present in v3.11, upgrading to 3.12 d

[2020-07-07 14:00] chrisjlocke commented on #2323
Is there any chance you could email me the dump (or zip of it).  If needed, you could sanitize the data... I'd just need the lump where the error occurs.

What 'possibly' is happening, is that there is no 'standard' for creating a SQL dump file.  Depending on what dumped it, it might have different quotes or formatting.  Additionally, the biggest gotcha is inserting records into a table that hasn'

[2020-07-07 18:36] justinclift commented on #2307
Good thinking @chrisjlocke.

Any interest in taking it on as a project, to kick start your C++ skill development? :grin:

[2020-07-07 18:36] HarryDe commented on #2323
@chrisjlocke : I just sent you an email

[2020-07-07 19:28] tenbob commented on #1859
Hi @justinclift. Thanks for making this change. I tested it with V3.12.99 from 6 July 2020 and it's working fine. Bob

[2020-07-07 23:18] justinclift commented on #1859
Awesome, thanks for testing it @tenbob. :smile:

@mgrojo Looks like that did the trick, well done. :smile:

[2020-07-07 23:18] #1859 closed

[2020-07-08 04:37] rubencanlas opened #2324 "“DB Browser for SQLite.app” can’t be opened because Apple cannot check it for malicious software."
Details for the issue
--------------------

#### What did you do?
Updated to the latest version from the old version of DB Browser. My old version was installed using Mojave MacOS. Then I upgraded to Catalina and this happened.

#### What did you expect to see?
To run DB Browser (it was working a few seconds ago, then i decided to update).

#### What did you see instead?
This error: "“DB Browser f

[2020-07-08 04:46] justinclift commented on #2324
Yeah, we need to update our release process on macOS to include a new "Notarize" step next time around. :wink:

In the meantime, this Apple support doc shows how to launch the application anyway:

&nbsp; &nbsp; https://support.apple.com/en-us/HT202491

It's pretty much just going into macOS System Preferences and confirming it's ok to launch. :smile:

[2020-07-08 06:36] chrisjlocke commented on #2307
😁 Could be an interesting one!

[2020-07-08 08:11] rubencanlas commented on #2324
Thanks for the quick response! It looks like Catalina reset my Preferences
back to stricter permissions. Will re-open it.

On Wed, Jul 8, 2020 at 12:46 PM Justin Clift <notifications@github.com>
wrote:

[2020-07-08 08:57] justinclift commented on #2324
No worries. :smile:

[2020-07-08 08:57] #2324 closed

[2020-07-08 09:01] rubencanlas commented on #2324
It worked! So there's an extra step in Catalina now and it's a bit
confusing, plus the support article wasn't showing up in my search. Thanks
again.

..............................................................
RUBEN CANLAS JR.
Agile Coach
..............................................................
“Computers are useless. They can only give you answers.” -- Pablo Picasso

On Wed, Jul 8, 2020

[2020-07-08 11:20] chrisjlocke commented on #2323
This appears to be because the .sql file being imported is encoded as UTF-8 (BOM).

![image](https://user-images.githubusercontent.com/7872218/86912483-01fc3000-c115-11ea-862d-7994a53efbfc.png)

If converted to UTF-8 (Notepad++ does this in a simple menu-click) then it imports fine.  👍

![image](https://user-images.githubusercontent.com/7872218/86912669-4be51600-c115-11ea-8abf-ae3372be6759.png)

M

[2020-07-08 12:11] csanyipal commented on #2200
I just finished this job - to replace real datas with fictional.
I just upload the database on the dbhub.io [here:](https://dbhub.io/csanyipal/DataBase.db)

[2020-07-08 13:20] shaun-ba commented on #2314
Yes works great thanks.

Just as my other issue would be nice to have a more flexible way to show/hide columns when editing tables with lots and lots of columns which mine does.

Looking at how the project works I guess I could have a project for certain types of edits where all the columns are correctly hidden and save them as different filenames

[2020-07-08 13:39] MKleusberg commented on #2323
Should be fixed in the next [nightly build](https://nightlies.sqlitebrowser.org/latest/). Can you give that a try, @HarryDe? :smile:

[2020-07-08 13:42] HarryDe commented on #2323
Ok, I’ll try tomorrow then and let you know

Von: Martin Kleusberg [mailto:notifications@github.com]
Gesendet: Mittwoch, 8. Juli 2020 15:39
An: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: HarryDe <hd@deedac.com>; Mention <mention@noreply.github.com>
Betreff: Re: [sqlitebrowser/sqlitebrowser] Import from SQL-Dump files is broken since v3.11 (#2323)

Should be fixed in the nex

[2020-07-08 13:53] MKleusberg commented on #2321
@seattleite7 I can't reproduce the crash either. Can you maybe follow the instructions [here](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Debugging-a-crash-on-Windows) and copy the debug information you get after the crash in here?

[2020-07-08 14:03] MKleusberg commented on #2306
@dmalan Would a general option for increasing the size of all text do? That would be very easy to implement but obviously enlarge not only the more important text e.g. in the Database Structure view but also all the menu items.

[2020-07-08 14:28] dmalan commented on #2306
Hi @MKleusberg, @justinclift, thanks so much for considering. I imagine that would do the trick, @MKleusberg, so long as it wouldn't break any UI elements (e.g., buttons or column headings or such). For our own classroom use, we pretty much spend all of our time using:

* **Database Structure** (including **Create Table** and **Create Index**)
* **Browse Data** (including drawing students' attenti

[2020-07-08 15:08] chrisjlocke commented on #2314
Excellent, thanks for reporting back. 👍

[2020-07-08 15:08] #2314 closed

[2020-07-08 16:40] justinclift commented on #2200
Another possibility might be some language setting?

[2020-07-08 18:18] csanyipal commented on #2200
Language settings, but where?

[2020-07-08 19:12] justinclift commented on #2200
As a first guess, the language setting in our preferences.  What's yours set to? :smile:

Am thinking that because it's one of the few possibilities that spring to mind that could still be different between your systems, and still change how things run.  We've seen that happen before with language settings, although it's pretty rare. :smile:

[2020-07-08 19:35] csanyipal commented on #2200
In the DB Browser's preferences it is set to English (United States) [Default Language].

[2020-07-08 19:41] justinclift commented on #2200
Ahhh well, it might not be that after all. :frowning:

[2020-07-09 03:45] seattleite7 commented on #2321
@MKleusberg

I had QT 5.9.2 installed. When I uninstalled it, it did not crash anymore. Below is the debug information for the crash (see bold)

`
Microsoft (R) Windows Debugger Version 10.0.20153.1000 AMD64
Copyright (c) Microsoft Corporation. All rights reserved.

CommandLine: C:\Program Files\DB Browser for SQLite\DB Browser for SQLite.exe

************* Path validation summary **************
R

[2020-07-09 04:34] justinclift commented on #2321
Ahhh.  So the wrong Qt libraries were being loaded.  In hind sight, that makes sense for the crash to happen.

But (in theory), it's weird just having Qt 5.9.2 installed was somehow getting that to be loaded instead of the Qt 5.12.8 the application comes with.  Maybe some kind of system setting or environment variable thing?

[2020-07-09 08:04] MKleusberg commented on #2321
Interesting. You can see how the different Qt versions are mixed here:
[code]

I wonder why it's just loading ```Qt5Svg.dll``` from that different path. Maybe we don't include it in our installer? That could be easily fixed then by just adding it to our installer.

[2020-07-09 08:19] chrisjlocke commented on #2321
Should we be?  I can't find that file in any of our downloads, so its not an 'essential' file.  The file description isn't that helpful.

![image](https://user-images.githubusercontent.com/7872218/87015360-3c250a80-c1c5-11ea-9b55-63678779f14f.png)

[2020-07-09 08:23] MKleusberg commented on #2321
Yeah, I was thinking the same. We probably don't use it. On the other hand DB4S does try to load it for whatever reason.

[2020-07-09 08:58] justinclift commented on #2321
The line right above that is the Qt SVG imageformat dll:

[code]

That's what our CMakeLists.txt has too.  No idea where the `Qt5Svg.dll` filename is coming from.

Maybe there's some kind of override in an environment variable or similar?

[2020-07-09 09:13] MKleusberg commented on #2321
Looking at the Qt source code, it seems like [their image formats project](https://github.com/qt/qtimageformats/tree/dev/src/plugins/imageformats) doesn't have a plugin for SVG. Instead that plugin is part of the [QtSVG project](https://github.com/qt/qtsvg/tree/dev/src/plugins/imageformats/svg). So maybe that means that the SVG plugin depends on the entire SVG module and cannot be used as a standa

[2020-07-09 09:20] HarryDe commented on #2323
Can you make me a 64-msi? The latest 64 nightly build is of 6. July.

[2020-07-09 09:24] MKleusberg commented on #2323
Oh you're right. @justinclift Can you check if there was any build failure?

[2020-07-09 09:31] justinclift commented on #2321
Interesting.  There's no `Qt5Svg.dll` anywhere under the installed Qt 5.12.8 plugins folder.  But it does exist in the `bin` directory.

We should be able to add that to our installer packages, by adding it to the right places.  Probably these:

* https://github.com/sqlitebrowser/sqlitebrowser/blob/cf9fc5c25e057c0b5ffd6454854e340ced996755/CMakeLists.txt#L295
* https://github.com/sqlitebrowser/sqli

[2020-07-09 10:20] justinclift commented on #2323
Oops.  I nuked the built win .msi's and logs about an hour ago from the build server Win VM, to free up disk space. :frowning:

As a workaround, I've just kicked off the Win64 build process again manually.  **If** that it completes ok then there should be updated Win64 binaries on the nightlies server in about 30-40 mins. :smile:

[2020-07-09 10:45] justinclift commented on #2321
I'm too brain-dead tired atm to make that change.

If someone else wants to get it done, it'll be automatically picked up by the build system tomorrow onwards. :smile:

[2020-07-09 10:48] justinclift commented on #2323
The Win64 build process just finished without error. :smile:

@HarryDe New .msi's are here:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2020-07-09 11:49] HarryDe commented on #2323
Works now with UTF-8-BOM
Thanks a lot!

[2020-07-09 11:49] #2323 closed

[2020-07-09 11:52] HarryDe commented on #2323
Perfect, you did even include the unique constraint message.

Thanks!

Harry

Von: Justin Clift [mailto:notifications@github.com]
Gesendet: Donnerstag, 9. Juli 2020 12:48
An: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: HarryDe <hd@deedac.com>; Mention <mention@noreply.github.com>
Betreff: Re: [sqlitebrowser/sqlitebrowser] Import from SQL-Dump files is broken since v3.11 (#23

[2020-07-09 11:57] MKleusberg commented on #2323
Awesome :smile: Thanks again for reporting this!

[2020-07-09 16:33] john2014 opened #2325 "Data updated through external source does not refresh"
Here are the steps:

1. Open your database using sqlite browser version 3.12
2. Now using your favorite programming language (c#, php etc) make changes to the table (eg adding a new column) and optionally run the vacuum command
3. Once the program have finished updating the table, click refresh on sqlite browser

Expected: The sqlite browser should show table with new column added by external prog

[2020-07-09 16:49] csanyipal commented on #2200
I admit, I created this database in SQLite Studio because of this issue.
SQLiteStudio can't rename tables in this database, DB Browser can, but DB Browser has this issue on my system.
So I used most time SQLite Studio to enter datas, but used DB Browser some times to modify tables.
Perhaps this is important to solve the problem.

[2020-07-09 17:03] scottfurry commented on #2200
Reading through SQLite docs this week, I just tripped over this subject.
@csanyipal  - suggest you execute a PRAGMA statement to test/set Foreign Key references.

In an SQL tab, execute...
`PRAGMA foreign_keys = ON;`

Then execute `PRAGMA foreign_keys;`.
If it returns a `1` you have foreign keys enabled.
Else, there's another problem with the compile of sqlite that we have to resolve.

Ref: https:

[2020-07-09 17:12] scottfurry commented on #2200
My bad, that's a setting in the `Edit Pragmas` tab. Check "Foreign Keys" is checked and ht save.

[2020-07-09 19:58] MKleusberg commented on #2310
If I remember correct you get to see the console output when starting DB4S from WinDbg. So that might be worth a try, especially since Qt happily prints all sorts of error messages to the console and this seems to be some sort of Qt problem.

[2020-07-09 20:08] MKleusberg commented on #2325
Thanks for reporting this! Can you try again with tomorrow's nightly build? Hopefully it's fixed in that version :smile: You will find it [here](https://nightlies.sqlitebrowser.org/latest/). In the meantime you can try pressing <kbd>F5</kbd> instead of clicking the refresh button.

[2020-07-09 20:29] csanyipal commented on #2200
In an SQL tab I did execute fist
`PRAGMA foreign_keys = ON;`
then
`PRAGMA foreign_keys;`
and get '1'

and also checked the Edit / Preferences / Database tab / where Foreign keys enabled are checked, and Saved.

I just tried the combo box for foreign keys but the issue is still here on my system.

[2020-07-09 20:43] MKleusberg commented on #2306
Hi @dmalan! Can you give the next nightly build a try? You can download it [here](https://nightlies.sqlitebrowser.org/latest/) tomorrow. It adds two more options to the Preferences dialog. The first is ```Database structure font size``` which you can find in the ```Database``` tab and which changes the font size of the tree view in the Database Structure tab. The second is the general ```Font size

[2020-07-09 21:41] scottfurry commented on #2200
@csanyipal - my apologies. I went back through the report history above and someone already suggested to try the PRAGMA.
I just tried changing the foreign key value in database I'm working on. Initially, I get an edit field. When I double-click I get the drop down box. You're right that something doesn't seem right here.

[2020-07-09 21:54] zrneely commented on #2310
Great idea! windbg printed this output *after* I loaded my test DB, went to the "browse data" tab, and selected the "languages" table from the table dropdown:

[code]

So it seems there are some exceptions being thrown (and caught? windbg didn't break on them), along with a bunch of font errors. Unfortunately I don't have a lot of experience debugging C++ in windbg (and I also don't have symbols h

[2020-07-09 22:18] scottfurry commented on #2310
[code]

Why a Windows install is missing support for one of it's core fonts is beyond me. But the proliferation of repeating font names in the list above suggests to me that the OS is expecting a very narrow list of font sizes ONLY (e.g. 8, 10, 18, 24, 28...).

[2020-07-10 00:10] cubinator commented on #2316
WOW! I didn't actually except a response this fast. The nightly build you linked produces the correct output for the problematic queries, and it seems to run just fine on all the databases I have lying around locally :)

[2020-07-10 00:10] #2316 closed

[2020-07-10 03:43] justinclift commented on #2316
Awesome. :smile:

@MKleusberg Is this suitable for 3.12.1?

[2020-07-10 08:05] MKleusberg commented on #2316
@justinclift Yeah, why not :smile:

[2020-07-10 09:23] MKleusberg commented on #2232
Looks like we can close this issue then :smile: Thanks again for all the effort you have put into this issue, @hertzhaft!

[2020-07-10 09:23] #2232 closed

[2020-07-10 17:11] MKleusberg commented on #1862
Looks like this is working from the DB4S side of things. See https://github.com/sqlitebrowser/dbhub.io/issues/92 for further discussion.

[2020-07-10 17:11] #1862 closed

[2020-07-10 17:13] MKleusberg commented on #1877
Closing this as issue #2297 is about the same question.

[2020-07-10 17:13] #1877 closed

[2020-07-10 17:15] MKleusberg commented on #2297
I have just added an alternative view to the Remote dock which shows all the databases you have downloaded or uploaded. It's still not perfect but already makes the Remote dock much more usable.

[2020-07-10 18:59] yindrew opened #2326 "Adding in a new tab called Dashboard"
So I'm attempting to add a new tab into the mainTab in MainWindow. I added it in but when I run the program nothing shows up. I'm a graduating high school senior, so I don't really know a lot of the technical language. If anyone could help me, it would be greatly appreciated.

![IssueForProject](https://user-images.githubusercontent.com/61204939/87189003-d799a680-c2bd-11ea-8b63-71b04519a344.png)

[2020-07-10 21:27] justinclift commented on #2297
**Awesome!!**

[2020-07-11 01:21] justinclift commented on #2297
Tried it out just now.  The new tab which shows downloaded databases looks like it'll be useful. :smile:

With this tabbed approach, could you also add a tab called something like "Yours", which shows just the databases in the remote users folder?  So they don't need to find their own folder in the long list of all public ones.

The new Current Database tab looks like it'll be useful for displayin

[2020-07-11 05:34] csanyipal commented on #2200
Here are two images attached. These images shows when I want to modify and realized that that there is something wrong, because in the name of two views there was newlines.
![DB_Browser_search_for_Bug_2020-07-08_13-55-11](https://user-images.githubusercontent.com/1310341/87217391-f8f3a480-c348-11ea-8f7f-bd53a9a2eb51.png)
![DB_Browser_search_for_Bug_2020-07-08_13-56-18](https://user-images.githubus

[2020-07-11 06:19] chrisjlocke opened #2327 "'Unable to open database file' error when selected 'Public' from the Remote dock"
Opened the 'Remote' pane, selected 'Public' and got an error - 'Unable to open database file'.

![image](https://user-images.githubusercontent.com/7872218/87217969-9bf6ef00-c346-11ea-8ba6-143362b11a17.png)

The list of public databases did display though.
The nightly from 6 Feb doesn't exhibit this behaviour.

Started another copy of DB4S and it did it again, so wasn't like it had to download some

[2020-07-11 06:23] chrisjlocke commented on #2297
Could we do the Microsoft approach of 'My Databases' instead of 'Yours', otherwise people will be looking for 'Yours' then 'Mine' 😉
Actually, you're right.  Just checked the 'Preferences' and the 'Remote' tab, and we have 'Your certificates', so we do do 'your' and not 'my'.  I'll shut up then! 😉

Again, was looking around looking for other examples of this, and all the textboxes in 'Preferences'

[2020-07-11 11:20] mgrojo commented on #2326
Maybe the new tab it's hidden. You have to add some code and attributes to add a new tab, so it can be shown, hidden and its visibility status saved to a project file. These commits might help you:
- 4f9c21f83f14dda3478bf952b90f453f38f6f5ab Closable main tabs and saving automatically open tabs and order
- 544ed812e28d4b07867180792143497a1f6b2b3e Reset Window Layout, positional shortcuts for tabs a

[2020-07-11 11:22] mgrojo commented on #2326
Are you trying to implement something like  #2216?

[2020-07-11 11:25] mgrojo commented on #2200
Do you mean that removing the line break in that view solved your issue? Or is it unrelated to the issue? If it were, we had to look at it. Although a table or view having a line break is a call for problems, I don't see why it shouldn't work.

[2020-07-11 12:01] csanyipal commented on #2200
No, removing the line break does not solve this issue.
This line break could be or could not be related to this issue.
I just mentioned it here because I do not know whether it is important for this issue or not.

[2020-07-11 18:04] dmalan commented on #2297
Hi @justinclift, just to close the loop here too! For our course purposes, I don't think the sample databases need to be built into the UI, to be honest. In fact, I think we'd prefer that students realize that, in general, step 1 is to download (or create) the database, and step 2 is to open it in an app like DB Browser, fwiw!

[2020-07-11 18:20] justinclift commented on #2297
@dmalan No worries. :smile:

In theory (!) one of the hopefully-useful future capabilities of the remote server will be collaboration capabilties (eg showing diffs between databases, merging diffs in GitHub-like-PR-fashion, full traceability of all changes).  But we're not there yet, even though the foundations are mostly in place now.

When those collaboration pieces are usefully functional, we'r

[2020-07-11 18:22] justinclift commented on #2297
Makes sense.  Personally, I'm not bothered by what it's called, as long as the concept of "this is your stuff on the remote server" is clear for people. :smile:

[2020-07-11 19:09] chrisjlocke commented on #2297
Well, I vote to call it 'George' then.  😄

[2020-07-11 23:16] TonyValenti opened #2328 "Installer - Inconsistent Registry Keys"
Details for the issue
--------------------

#### What did you do?
1.  I installed Db Browser for SQLITE

#### What did you expect to see?
The following registry key:
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{A CONSTANT VALUE}

#### What did you see instead?
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\{A value th

[2020-07-12 03:29] justinclift commented on #2297
Sure, but you're going to confuse a lot of people. :wink:

[2020-07-12 03:31] justinclift commented on #2328
@karim @chrisjlocke Any ideas?

[2020-07-12 06:43] chrisjlocke commented on #2328
The GUID is the product code, so I assume should be consistent.  I assume if its not provided in the setup, the MSI will randomly create one.
This would be more for internal use though.  To get the install location, this could be stored in the DB4S settings, or even Computer\HKEY_CLASSES_ROOT\Applications\DB Browser for SQLite.exe\shell\open\command ... although that isn't 'clean'.

[2020-07-12 08:34] chrisjlocke commented on #2327
Oops.

[2020-07-12 08:53] justinclift commented on #2327
Oops?

[2020-07-12 09:18] MKleusberg commented on #2327
Hmm, in theory (!) I didn't change anything related to that. Can you check the ```remotedbs.db``` file and see if it is somehow broken? You should find it in ```C:\Users\<USER>\AppData\Roaming\DB Browser for SQLite\remotedbs.db``` or some similar path (the ```AppData``` directory might be hidden too). It should just open in DB4S. If it doesn't I'd assume it's corrupt due to a crash or something.

[2020-07-12 09:24] MKleusberg commented on #2297
That's no problem. But instead of adding another button we could make sure the user's directory is always on the top of the list. That would be a server-side thing though. What do you think?

Good point. Before changing it to a table view let's think about what information should be shown. I was thinking about a commit tree at some point and definitely some buttons. Anybody wants to make a mockup?

[2020-07-12 09:35] MKleusberg commented on #2326
Another idea is to implement it as a dock (just like the Plot dock for example). The code for a dock usually is a bit more independent from the rest of the code which can make it easier to add a new one.

[2020-07-12 09:42] chrisjlocke commented on #2327
We need a button to open this database in DB4S 😉

[2020-07-12 09:47] chrisjlocke commented on #2327
I don't have that path...

![image](https://user-images.githubusercontent.com/7872218/87243293-cf13ae00-c42c-11ea-8f8c-6dabbb293b45.png)

Searched for 'remote*.db' too...

![image](https://user-images.githubusercontent.com/7872218/87243330-169a3a00-c42d-11ea-8287-e982bb559943.png)

[2020-07-12 09:48] MKleusberg commented on #2327
Not sure about the button as it's supposed to be an internal database. Changing its values would confuse DB4S so better hide the database :wink:

But better error handling, yes definitely. Let's try to figure out what happens in your case and handle this more gracefully.

[2020-07-12 09:54] MKleusberg commented on #2327
Ok, I got it. The problem is that the directory doesn't exist. So we have to create it first, then create the database file. Not sure why it worked before though but at least it's easy to fix :smile:

[2020-07-12 09:59] karim commented on #2328
The second registry key (with `WOW6432Node`) means you have a 32-bit installation on a 64-bit Windows. You should find the first key on a 32-bit Windows, or on a 64-bit Windows with 64-installation.

Either way, Chris is right and these values you use are GUIDs and for internal use and you shouldn't depend on.

You are right. This was an oversight on my part. I should have done it earlier. I just

[2020-07-12 10:06] chrisjlocke commented on #2327
Is this linked to this error?  Trying to open a public database (any random one) and while it downloads OK (or appears to) DB4S then says, "Er, what database do you want to open?"
I thought it might be asking "Where do you want to save it?" but its asking to open one.
http://somup.com/cYil6fQLkk

[2020-07-12 10:09] MKleusberg commented on #2327
Yes, this should be linked to this issue. By default databases are downloaded into the same directory and this probably fails for the same reasons. So when trying to open the downloaded database DB4S can't find it and when it doesn't find a database it's asking you where it is.

[2020-07-12 10:21] chrisjlocke commented on #2327
Makes sense.  Wonder how that got deleted.  I can understand if I'd just run the .ZIP install or portable, but I have got it installed.  Thats a point.  Portable version.  Guess we need an option of where to save temporary stuff... eurk.

[2020-07-12 10:32] justinclift commented on #2297
Yeah, we can give that a go.  It'll probably be good enough. :smile:

I won't get it done today, as I'm kind of burnt out atm.  Likely next weekend though, unless you want to update the server code yourself? :smile:

Actual deployment of updated server code is still manual at the moment, though 99.9% automated for anything that doesn't involve database schema changes.

[2020-07-12 10:35] karim commented on #2327
I'm having the same problem as Chris.

Also..

![2327](https://user-images.githubusercontent.com/8761081/87244211-f02fcb00-c43b-11ea-972e-56b630e07edf.png)

Is `sqlitebrowser` in the path necessary?

[2020-07-12 10:35] justinclift commented on #2328
@karim Oh, that's cool.  We'll add that to the hopefully-somewhat-soon 3.12.1 release. :smile:

[2020-07-12 10:45] TonyValenti commented on #2328
@chrisjlocke - For most apps, the product GUIDs are constant and do not change between releases but that does not seem to be the case for DB Browser though.

[2020-07-13 06:15] chrisjlocke commented on #2327
Changed my location, double-clicked on a database, and the same 'open dialog' appeared.

![image](https://user-images.githubusercontent.com/7872218/87276631-a812b600-c4d8-11ea-88a3-c44e7e153118.png)

[2020-07-13 21:06] MKleusberg commented on #2327
Ok, the directory should be created automatically on the first use now. Can you try again? :smile:

@karim The ```sqlitebrowser``` part isn't strictly necessary. But it's generated this way by Qt and changing it manually would make things way more complicated :smile:

[2020-07-14 10:17] MKleusberg commented on #2297
I'll see if I have time for that this week :smile:

By the way, I have added a list of all branches and commits to the 'Current Database' section of the Remote dock. It doesn't do anything useful yet but, again, it's a start :wink:

[2020-07-14 20:46] yindrew commented on #2326
@MKleusberg @mgrojo

My end goal is to implement a new tab called dashboard that's able to display multiple graphs all at once. So in this process, creating a new tab is the first step. I looked over 4f9c21f 544ed81 3d4601c, but it doesn't seem to work. I think I might try implementing it as a dock. Thank you for the help.

[2020-07-14 22:07] justinclift commented on #2326
@yindrew Is the code you're trying with online somewhere, so we could potentially look and see if there's anything obviously wrong? :smile:

[2020-07-15 10:10] MKleusberg commented on #1164
This should be fixed now.

[2020-07-15 10:10] #1164 closed

[2020-07-15 11:45] jramiresbrito commented on #2142
Following too :)

[2020-07-15 19:47] mgrojo commented on #2326
@yindrew Is it appearing in the View menu? Maybe it is just hidden.

[2020-07-15 21:00] jwes44 opened #2330 "Text file won't import"
Details for the issue
--------------------

#### What did you do?
Created a database and imported a CSV file

#### What did you expect to see?

Data
#### What did you see instead?
Error importing data from record number 3071110.
Inserting row failed: not an error

Useful extra information
-------------------------
File is tab separated with a header row.
I tried loading a few thousand records arou

[2020-07-16 07:13] chrisjlocke commented on #2330
Can you post your database schema?  Right-click on a table and select 'Copy create statement'.

![image](https://user-images.githubusercontent.com/7872218/87638611-fa074600-c73b-11ea-8cb2-78cdf937e359.png)

[2020-07-16 07:54] chrisjlocke commented on #2330
Importing a large CSV file is still 'problematic'.  Got stuck at 53% for a while ....
![image](https://user-images.githubusercontent.com/7872218/87642755-d646fe80-c741-11ea-9b5e-91fa1d685f91.png)

and chewing up the CPU...

![image](https://user-images.githubusercontent.com/7872218/87642794-e9f26500-c741-11ea-927e-7fcd3bbe2de5.png)

[2020-07-16 08:17] chrisjlocke commented on #2330
OK, can you split the file in half and try importing both halves?  I tried this, and it worked.  No, no idea either.

[2020-07-16 08:58] justinclift commented on #2330
Oh, this sounds like something @MKleusberg would be interested in.

[2020-07-16 09:13] chrisjlocke commented on #2330
I've a sneaky feeling this is malformed record related, but having trouble pinning it down at the moment.
DB4S stalls regularly, which would indicate its trying to parse one huuuuuuuuuuuuuuuuge record rather than individual records.

![image](https://user-images.githubusercontent.com/7872218/87653024-de586b80-c74c-11ea-8da0-e1462067db6c.png)

I'll have more time later on to investigate further ...

[2020-07-16 09:43] MKleusberg commented on #2330
@chrisjlocke is right. DB4S sees a huge record and cannot update the UI while looking for the end of it (hence the progress bar getting stuck at 53%). The solution seems to be to set the quote character to nothing in the Import CSV dialog. Can you try that?

This would mean it's not a problem in the CSV import per se. Except for the not very useful error message, that is of course :wink:

[2020-07-16 10:48] chrisjlocke commented on #2330
Actually, it is a fault in the CSV.

![image](https://user-images.githubusercontent.com/7872218/87662423-1b772a80-c75a-11ea-9668-e63220da3993.png)

Record 469682 has only one quote (so an opening quote).

[2020-07-16 16:18] chrisjlocke commented on #2330
My default options were to use quotes.

![image](https://user-images.githubusercontent.com/7872218/87695979-1af58880-c788-11ea-831c-a300bea45f08.png)

This is why its 'broken' my importing. 😄

[2020-07-16 17:40] jadeiX opened #2331 "read only mode buggy"
Details for the issue
--------------------

#### What did you do? opened an sqlite file with DB browser in readonly mode and updated the database through python, after I press the refresh button in DBBrowser the column names are not assigned to the correct data. Sometimes the table is not updating at all and the only remedy is to close the file and open it again

#### What did you expect to see? u

[2020-07-16 17:52] chrisjlocke commented on #2331
This is similar to #2325 and a fix has been put in the nightly code.  If you try the nightlies (https://github.com/sqlitebrowser/sqlitebrowser#nightly-builds) this might work better.

[2020-07-16 17:53] jwes44 commented on #2330
Disabling quoting makes it work. I'll leave it to you whether this is a bug or not (though a more descriptive error message with the right record number would be nice).

[2020-07-16 18:09] #2331 closed

[2020-07-16 18:23] chrisjlocke commented on #2330
Its not a bug, as you've said to DB4S (if you used the same quoting options as me) 'use this as a quote character' which isn't correct - so more to do with user error than program error.  DB4S doesn't know the fault is at line X, as its read from one quote to the next (which could be anywhere) and then starts continuing the record from that point - that might (but more likely not) allow the import

[2020-07-16 18:23] #2330 closed

[2020-07-16 18:29] chrisjlocke commented on #2331
I see you've closed it, but if the pressing-of-F5 or the nightlies doesn't help, please yell back.

[2020-07-16 18:34] jadeiX commented on #2331
from what I see currently it is working well. I will let you know if I see another issue.
thank you for the prompt follow up

[2020-07-17 00:09] justinclift commented on #2325
@MKleusberg From (#2331), it sounds like that commit should be added to 3.12.1 as well. :smile:

[2020-07-17 00:17] justinclift commented on #2330
Yeah, that's been raised as a potential idea before, but it's not really workable because CSV files aren't limited to just a single line per record.  Multi-line values are valid.  eg things like:

[code]

That's a single "row" of data.  It's just two of the fields have multi-line content.

[2020-07-17 01:32] yindrew commented on #2326
@justinclift I have a repo for it here https://github.com/yindrew/sqlitebrowser
@mgrojo I don't even know what the view menu is...

[2020-07-17 06:03] chrisjlocke commented on #2330
Gah.  Peed on my great earth-shattering idea again.  😭 😭

[2020-07-17 20:49] MKleusberg commented on #2330
In tomorrow's nightly build you should now get a better error message. Instead of showing "not an error" which admittedly isn't helpful at all, you'll now get an "unexpected end of file" message with an extra explanation that either the quote settings might be off or the file malformed.

[2020-07-18 02:01] justinclift opened #2333 "Remote pane causing application crash in dev code (bisected)"
Stumbled into an interesting crash of DB4S today, while adjusting the DBHub.io code to display the user home directory first in the list-of-all-directories.

"Something" is going wrong with DB4S in this commit onwards: 5cdda28608c4e70090d1d3b7e69ded1c822c52dd

It'll happy load the current JSON "list of users with public databases", but the list returned from my local development DBHub.io instance

[2020-07-18 02:02] justinclift commented on #2333
@MKleusberg Pretty sure you'll be interested in this. :smile:

[2020-07-18 02:07] justinclift commented on #2333
Just triggered the crash while running DB4S (compiled from that `db4s-bisect-v3-busted` branch) under Qt Creator in Debug mode.

It crashes here:

![2020-07-18-Qt_Creator-DB4S_crash_when_loading_remote_database_list_json](https://user-images.githubusercontent.com/406299/87842325-1bf4fa00-c8ef-11ea-8750-28150c0a1bc8.png)

[2020-07-18 02:21] justinclift commented on #2333
As a data point, it seems to be related to only having a single entry returned in the JSON list.

After adding a 2nd user (with public database) to the local development environment, the crash also goes away.

[2020-07-18 02:59] justinclift commented on #2297
Just implemented that, and pushed it to production. eg it's live now.

Hopefully that makes things easier to work with for people. :smile:

[2020-07-18 03:14] justinclift opened #2334 "The database you are trying to delete is currently opened. ..."
Trying out the latest "Remote" pane pieces now.

The ability to remove locally downloaded databases should be really useful. :smile:

Did notice one minor, and one trivial, problem with it.

The dialog shown "The database you are trying to delete is currently opened" isn't always correct.

I **did** try and delete the currently open database, just to see if it would work.  The dialog was correctly

[2020-07-18 08:04] MKleusberg commented on #2297
Awesome :smile: DB4S also automatically expands the current user's directory. Hopefully that helps too.

[2020-07-18 08:12] MKleusberg commented on #2334
Should be fixed :smile: Can you give it another try?

[2020-07-18 08:38] justinclift commented on #2334
Good stuff. Yep, both are fixed now. :smile:

While trying it out, one minor (but annoying), usability thing crops up.  The wdith of the "Name" field in the main "DBHub.io" tab is quite narrow by default.  Needs to be manually dragged out wider every time DB4S is opened in order to see the database names.

Is it fairly to change that default width to be wider?  Maybe autosize it on loading to acco

[2020-07-18 08:42] MKleusberg commented on #2333
I only got it to crash once every ten runs or so. But I think I found the problem and could fix it. Can you try again and see if it's working for you as well? Thanks for bisecting by the way! Initially I couldn't believe this is the right commit and it turned out to be correct and definitely helped a lot :smile:

[2020-07-18 08:54] MKleusberg commented on #2334
I've just made a bit wider by default (while also making some other improvements to the tables). It's still not autosized because with the current approach which loads the database names only when needed it would make the column width jump around every time a directory is opened. But with the wider name column it should be a lot better already :smile:

[2020-07-18 09:03] justinclift commented on #2333
Awesome, yep the crash is now gone.  It used to happen every time, now it doesn't crash.  Tested ~15 times.

Thanks heaps @MKleusberg. :smile:

[2020-07-18 09:03] #2333 closed

[2020-07-18 09:07] MKleusberg commented on #2333
Awesome. This should definitely go into the 3.12.1 release then (or maybe all the DBHub.io related commits should go in there because that code isn't used that often anyway and probably wouldn't break anybody's routine).

[2020-07-18 09:09] justinclift commented on #2333
Yeah, if we can get all the DBHub.io stuff in 3.12.1 it'd be really good.  Lots of useful changes there. :smile:

Would you be ok to cherry-pick the commits across?

If so, you might need to wind the head of `v3.12.x` back a few first, as I added the port number changing + updated docker CA cert commits earlier on today.

[2020-07-18 09:13] MKleusberg commented on #2333
Yes, I can do that :smile: I'll wait until before the release though so I don't have to remember where I finished cherry-picking before :wink:

[2020-07-18 09:14] MKleusberg commented on #2327
@chrisjlocke Is it working for you now?

[2020-07-18 09:28] justinclift commented on #2334
Just tested, and yep, the new default width is a lot better now.  Thanks heaps. :smile:

[2020-07-18 09:28] #2334 closed

[2020-07-18 11:12] chrisjlocke opened #2335 "Windows nightlies unavailable"
The windows nightlies seem unavailable.  Out of disk space again? 😉

![image](https://user-images.githubusercontent.com/7872218/87851361-eb619000-c8ef-11ea-82c9-78b9ddc181d0.png)

[2020-07-18 11:32] MKleusberg commented on #2335
The 22 bytes size probably means there's a build error. Usually that's a missing include or something similar. @justinclift Can you paste the build log in here? I should be able to figure it out then :smile:

[2020-07-18 12:30] justinclift commented on #2335
Thanks @chrisjlocke, looking now.

It shouldn't be a disk space problem.  There was heaps of space free when I last looked (a week or so ago).

[2020-07-18 12:36] justinclift commented on #2335
The macOS ones have a build log, but not the Windows ones.

When I previously tried adding a redirect (eg `>> /some/log/file.txt`) to the batch file lines, it just broke the build.

If someone else can figure out how to get it working though, it'd be welcome. :smile:

[2020-07-18 12:49] justinclift commented on #2335
Looks like a compile error.  Kicked off a manual build, then interrupted it when noticing part of the build failed.

@MKleusberg This is a cut-n-paste of the build log window, which shows the compile error:

[compile_error.txt](https://github.com/sqlitebrowser/sqlitebrowser/files/4941653/compile_error.txt)

[2020-07-18 12:49] chrisjlocke commented on #2335
`>>` redirects stdout, while `2>>` redirects stderr.  Also, /some/log/file is Unix slashes, while Windows uses \some\log\file.txt 😉
But the first \ also assumes the root directory, so ensure the path you enter is right.

[2020-07-18 12:51] justinclift commented on #2335
@chrisjlocke Yeah, I tried several variations.  From memory, the part that it broke was the `devenv` line which does the main DB4S compiling piece.  It **really** didn't like the redirects or something.

It was a while back though, so memory of specifics is pretty faint. :wink:

[2020-07-18 12:55] chrisjlocke commented on #2335
Not related to this compile error, but this returns an error ... or can that error be ignored?

[2020-07-18 12:57] mgrojo commented on #2326
I checked your repository and the problem is about accessibleName. You need to set it to the tab title. With these changes your tab will appear:

[code]

[2020-07-18 13:01] MKleusberg commented on #2335
Thanks. This should be fixed now :smile:

[2020-07-18 13:04] justinclift commented on #2335
It does a bunch of git things near the start, to try and automatically get itself out of any weird inconsistent state from bad compiles (etc).  Looking at it now, it seems ok. :smile:

[2020-07-18 13:05] justinclift commented on #2335
Cool.  Just kicked off the build scripts...

[2020-07-18 13:38] justinclift commented on #2335
Yep, looks good.  The Win64 build completed successfully, and the Win32 one is running now. :smile:

[2020-07-18 14:02] chrisjlocke commented on #2335
Thanks you two ... much appreciated.  😃

[2020-07-18 14:10] chrisjlocke commented on #2327
Yes for both - directory is created, and double-clicking a database now opens it (sans error).
The only /minor/ point is the directory shown uses the wrong slashes.

![image](https://user-images.githubusercontent.com/7872218/87854263-a4cc5f80-c908-11ea-8b2e-20b926eef754.png)

But that's like moaning that the teaspoon provided with a cup of coffee that someone has made you is the wrong colour ;)

[2020-07-18 14:13] chrisjlocke commented on #2335
Closing as your both so bloody awesome.

[2020-07-18 14:16] chrisjlocke opened #2336 "'Clone' textboxes displays multiple carets"
This is a weird one, but might be simply an option on the control or something.  The UI might be redesigned anyway, but thought I'd mention it.

![image](https://user-images.githubusercontent.com/7872218/87854368-62575280-c909-11ea-97fe-8e5612674f6c.png)

If I click in each textarea in the 'clone' area of the 'Remote' tab, a text caret is correctly placed there, but isn't cleared if I click elsewh

[2020-07-18 15:21] aditibindal27 opened #2337 "'Failed to open database' error"
Details for the issue
--------------------
![Screenshot (6)](https://user-images.githubusercontent.com/68473349/87855804-55058c80-c938-11ea-8f76-aba6455b6e03.png)

#### What did you do?
OPen a database

#### What did you expect to see?
Database

#### What did you see instead?
Error

I tried to even run it as administrator. The database doesnt open.

Useful extra information
-----------------------

[2020-07-18 15:55] justinclift commented on #2337
With the error message about the database being read only, is there any chance that's really the case?

From memory, one way to check is to right click on the database file in Windows explorer, then choose "Properties" from the context menu.

In the dialog that's displayed, it should show if the file is read only or now.  And also let you change that, if you have sufficient permission.  eg from th

[2020-07-18 18:34] chrisjlocke commented on #2337
From DB4S, you can also open a read-only database.  Its unusual for a database to be read-only though - are you opening it from somewhere in c:\program files as a normal user? Normally, Windows 'shuts this off' from normal users.  Right-click the DB4S .exe and select 'Run as Administrator'.

![image](https://user-images.githubusercontent.com/7872218/87859530-b07e4d00-c92d-11ea-8cad-e5e87ea270a0.pn

[2020-07-18 19:12] aditibindal27 commented on #2337
Nothing works. I opened the Browser as well as the file by run as administrator. It shows the same error. And only on some files. Some files are opening, some are not. And at times, the file gets opened  but when i try to reopen it, it gives the same error. I also tinstalled the software again on my laptop. Please help!
![Screenshot (15)](https://user-images.githubusercontent.com/68473349/87860146

[2020-07-18 19:35] chrisjlocke commented on #2337
Do you know what files are opening and what ones aren't ?  Can you email a couple to me?  (db4s [at] chrisjlocke [dot] co [dot] uk)
Are they all in the same location?  Or do files from location X work, but not at location Y ?
It appears you're trying to open from the desktop, which should be fine.
Can you create a directory off the C drive called 'databases', move the file there, and try opening i

[2020-07-19 08:03] chrisjlocke commented on #2337
Can you click on the 'Security' tab from the properties dialog in your screenshot, and scroll down to find your username and click on it once [1], then in the permissions section, ensure you have modify [2] and write [3] permissions.

![image](https://user-images.githubusercontent.com/7872218/87870319-8749d500-c99e-11ea-8f77-da687553e28b.png)

[2020-07-19 08:14] FriedrichFroebel commented on #2337
There is a database journal file in your (now deleted) screenshot of the directory content. Where does this stem from? Is this being distributed with the database, do you have an active session on the database, does DB4S create this when trying to open the database or ...?

[2020-07-19 08:37] chrisjlocke commented on #2337
The .journal doesn't get created until a change is made to the database (by the user) - shouldn't get created during the initial opening of a database.  I've just created a read-only folder in Windows, and DB4S allows me to open a database in there, but (expectedly) doesn't allow me to create a new table.

[2020-07-19 13:49] revolter commented on #715
And, it's actually an old bug report: https://bugreports.qt.io/browse/QTBUG-65530.

[2020-07-19 13:51] revolter commented on #715
This is fixed in the latest nightly.

[2020-07-19 18:22] lucydodo opened #2338 "--with-functions option not work on macOS Homebrew"
What is your question
-----------------------
**To build the project on macOS, I ran the following command with reference to [BUILDING.md](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md).**
`$ brew install sqlite --with-functions --with-json1 --without-readline`

**As a result of executing the above command, Homebrew returned the following error.**
`Error: invalid option: -

[2020-07-19 21:21] scottfurry commented on #2338
@lucydodo - looks like there is something 'out-of-date' in our documentation. A quick scan of the `sqlite` [compile options](https://www.sqlite.org/compile.html) doesn't show a `functions` setting. If you edit the homebrew formula and remove the `--with-functions`, does sqlite3 build?

[2020-07-19 22:18] justinclift commented on #2338
Oops, that line in the building.md is very out of date.  We use our own Homebrew formula for SQLite now instead:

https://github.com/sqlitebrowser/sqlitebrowser/blob/a3360cc2aa95edd9e5736c369f52c7b733c8b011/installer/macos/build_sqlitebrowser_nightly.sh#L68

Try this instead:

[code]

In theory, that should retrieve our Homebrew formula (with the correct options) and things should work ok. :smile:

[2020-07-20 05:19] lucydodo commented on #2338
@scottfurry Thank you for your advice. before I tried your advice, I got a solution from @justinclift and just solved it.
@justinclift It works! Thank you for your advice.

[2020-07-20 05:19] #2338 closed

[2020-07-20 21:41] ReSiGe opened #2340 "nicht leer"
Describe the new feature
--------------------------

Additional info
---------------
Please answer these questions before submitting your feature request.

#### Is your feature request related to an issue? Please include the issue number.

#### Does this feature exist in another product or project? Please provide a link.

#### Do you have a screenshot? Please add screenshots to help explain your i

[2020-07-20 22:25] justinclift commented on #2340
@ReSiGe That's a bit light on details.  Guess this issue was created by accident? :wink:

[2020-07-21 13:21] justinclift commented on #2340
Closing this, as it looks to be either unintentional or spam.

[2020-07-21 13:21] #2340 closed

[2020-07-22 08:43] MKleusberg commented on #2336
Can you check the last nightly build again? :smile: I've simply replaced those labels by line edit widgets.

[2020-07-22 10:14] MKleusberg commented on #2327
Thanks for pointing this out. It should be fixed in the next nightly build. Want to give it a try? :smile:

[2020-07-22 21:10] yindrew commented on #2326
@mgrojo ur the best

[2020-07-22 22:55] yindrew commented on #2326
@mgrojo I tried changing the code like you told me too, but it still doesn't display. Do you have any idea why it still wont work?

[2020-07-23 07:04] maseal opened #2342 "Format BLOBs as UniqueIdentifier"
Describe the new feature
--------------------------
When you create table column with "UNIQUEIDENTIFIER" type, SQLite always stores its values as BLOB. It would be great to add human-readable formatting for such columns.

Additional info
---------------
Now SQLiteBrowser doesn't display BLOB data by default and I use the following custom display format:
`substr(hex("column"), 7, 2) || substr(hex("

[2020-07-23 08:36] justinclift commented on #2342
Just to make sure I'm understanding, you're wanting us to add a `uuidblob` display format to the in build list, using the code snippet above (or similar)?

If so, no worries.  That's probably do-able. :smile:

[2020-07-23 08:41] maseal commented on #2342
Yes, exactly

[2020-07-23 09:21] chrisjlocke commented on #2327
Looks good in Windows.  👍

[2020-07-23 09:21] #2327 closed

[2020-07-23 09:23] chrisjlocke commented on #2336
Yes, no carets at all now.  Like a vegetable stall burgled by a gang of rabbits.

[2020-07-23 09:23] #2336 closed

[2020-07-23 09:25] MKleusberg commented on #2342
Thanks for the suggestion and excellent preparation, @maseal! I have just added a new display format like that. Can you check tomorrow's [nightly build](https://nightlies.sqlitebrowser.org/latest/) and see if it's working for you? :smile:

[2020-07-23 11:46] gchan1234 opened #2343 "Highlighting Specific Column in Results Pane"
What is your question
-----------------------
How to select single column to copy in the results pane after running a sql script. In previous versions (Pre 3.12.0) I can just click on the column name and it selects the whole column but now it no longer works

[2020-07-23 12:06] heylix commented on #2104
For me the combo box doesn't even show up. Xfce 4.14 on Fedora 32.

sqlitebrowser 3.11.2, Qt 5.13.2, SQLite 3.30.1.

![grafik](https://user-images.githubusercontent.com/36211486/88284400-a4a7d780-cced-11ea-87da-c2d3ed778478.png)

No errors when run via console.

[2020-07-23 12:11] csanyipal commented on #2104
There is another thread for this issue, see #2200 here, on github.

[2020-07-23 12:15] heylix commented on #2104
I just noticed when I triple-click, a dropdown appears but I can only select the value, I don't have a list of entries. Same with sqlitebrowser 3.12.0 from rawhide.

[2020-07-23 13:15] chrisjlocke opened #2344 "Pressing [F5] in Execute SQL tab doesn't execute SQL"
In the latest nightly (18 Jul is OK) pressing [F5] in the Execute SQL tab does nothing.  No errors, nothing.  This works fine (for the same database / steps) in the nightly from 18 Jul, so has broken between these points.

Pressing [Shift] + [F5] works, as does pressing the toolbar button - just not the [F5] itself.

[2020-07-23 13:34] chrisjlocke commented on #2343
Oops.  A hacky workaround is to select the first cell, hold down shift, use the mouse to scroll the scrollbar to the bottom, then click in the cell - this will select all cells in between.
Or, ensure the result is just one column (via the select statement) then you can select the whole table by clicking in the top left cell.

[2020-07-23 13:42] justinclift commented on #2343
This sounds like something we'll want to get working again.  Selecting a column (or multiple ones) is pretty basic functionality.

[2020-07-23 14:46] sky5walk commented on #2344
I thought there was a change to execute only 1 line of SQL with [F5] and all lines with [shift]+[F5]?
Or vice versa?

[2020-07-23 18:33] chrisjlocke commented on #2344
The tooltip would indicate [F5] is the key of choice.

![image](https://user-images.githubusercontent.com/7872218/88324183-3aa62700-cd1b-11ea-92f2-2716a9342911.png)

Pressing [Ctrl] + [R] works, as does [Ctrl] + [Return].  Its just [F5] that doesn't.

[2020-07-23 20:17] mgrojo commented on #2326
No, it worked for me. Have you changed anything else? I only changed those lines from your repository and rebuilt.

[2020-07-23 20:25] mgrojo commented on #2343
The changes to column sorting in Browse Data seems to have broken this. I'll take a look from tomorrow, but there is a workaround working in the query results and the Browse Data tab: select a single cell and then press Ctrl+Space.

[2020-07-24 10:27] HerwigWulffius opened #2345 "merge 2 databases"
Describe the new feature
--------------------------

Additional info
---------------
Please answer these questions before submitting your feature request.

#### Is your feature request related to an issue? Please include the issue number.

#### Does this feature exist in another product or project? Please provide a link.

#### Do you have a screenshot? Please add screenshots to help explain your i

[2020-07-24 12:42] chrisjlocke commented on #2345
Closing as no information given.

[2020-07-24 12:42] #2345 closed

[2020-07-24 15:25] yindrew commented on #2326
I rebuilt the program, but the issue persists. I'm running Ubuntu 16.04 and QT 5.5. Could that possibly be the issue? Did you change anything else as well?

Did you build your executable in QT or in CMD line? Feeling awfully confused about why its not getting built. @mgrojo

[2020-07-24 18:45] yindrew commented on #2326
![accessibleName](https://user-images.githubusercontent.com/61204939/88424862-54e41180-cdbc-11ea-9dec-5b11abb5b191.png)

[2020-07-25 08:25] chrisjlocke commented on #2335
Opening again.  No nightlies.  😭 😭

[2020-07-25 08:35] MKleusberg commented on #2335
Oh. That's disappointing. It's likely the automatic update check again which I really tried to keep in mind this time :wink:

@justinclift Can you start a new build with the latest commit included? :smile:

[2020-07-25 08:52] MKleusberg commented on #2335
Thank you for trying to test this by the way, @chrisjlocke! The new DBHub.io code in DB4S definitely needs some testing.

[2020-07-25 10:14] justinclift commented on #2335
No worries, new build starting now.  Will cut-n-paste the output again, once the compile breaks. :smile:

[2020-07-25 10:46] justinclift commented on #2335
Win64 compile actually succeeded.  Looks like whatever went wrong with the builds earlier today, it wasn't a source code problem.

Kicking off the Win32 build now.

[2020-07-25 10:54] MKleusberg commented on #2335
caa9e4d77f334722f08a17dbe54d34e8b989d3ea should have fixed it :smile:

[2020-07-25 11:15] justinclift commented on #2335
Heh Heh Heh.  Cool, looks like we're good then. :smile:

[2020-07-25 11:15] #2335 closed

[2020-07-25 16:18] mgrojo commented on #2326
Yes, that should be enough to make it work. Why don't you push your changes to your repository and I check it whether it works for me or what is wrong?

[2020-07-25 16:51] mgrojo commented on #2344
I cannot reproduce this with my own build of the master branch, @chrisjlocke. Does it happen using other language setting?

[2020-07-25 16:59] nadler commented on #2306
I was also interested in increasing font size, in particular the font in the results log of Execute SQL as that remains small after increasing all the fonts I can.  I tried to run the Mac OS nightly build from Jul 24 23:18 but the OS said it was corrupt.

[2020-07-25 17:22] mgrojo commented on #2343
@gchan1234 This should work in [tomorrow's nightly build](https://nightlies.sqlitebrowser.org/latest/) Please, try it and close this issue when you can confirm it.

[2020-07-25 17:52] chrisjlocke commented on #2344
Interesting.  Changed to Saudi Arabia and tried again, and F5 did work.  Er....how....why....er.....what..... 😕

[2020-07-25 17:56] chrisjlocke commented on #2344
Ok.  Resetting back to English and it works again.
I guess something got messed up in the translations or something?
Thanks @mgrojo !!

I'll have to try a 'clean' install to confirm, but must just have been me then.

[2020-07-25 17:56] #2344 closed

[2020-07-25 18:22] yindrew commented on #2326
@mgrojo got it. I just pushed my repository. thanks.

[2020-07-25 18:30] chrisjlocke commented on #2325
Just a nod that this now works OK.
https://screencast-o-matic.com/watch/cYiTFvEyc0

[2020-07-25 18:30] #2325 closed

[2020-07-26 07:41] justinclift commented on #2306
@nadler Would you be ok to screenshot the error message about that corruption?

We should be able to fix it, but need to know the exact details. :smile:

[2020-07-26 11:10] mgrojo commented on #2326
The change is correct. Since you have window settings from the previous version, you have to press Alt+0 to restore window layout or choose the Dashboard option in the View menu of the application menu-bar.

[2020-07-26 11:20] chrisjlocke commented on #2343
Thanks @mgrojo - now works!  I'll leave this open for a while for @gchan1234 to confirm.
One /minor/ issue, which has probably been there since day 1 though.  If you click the header to select it, right-clicking the header (as the mouse is already there) does nothing.  You have to move the mouse down to the selection to right-click and select 'Copy'.  Yup, I know - boo hoo - you have to move the m

[2020-07-26 11:31] gchan1234 commented on #2343
Hi all - I can confirm it works now. Amazing work to all! :)

[2020-07-26 11:31] #2343 closed

[2020-07-26 15:05] mgrojo commented on #2307
Saving and loading layouts would be useful, but I'm thinking in a simpler approach, which is straightforward to implement. I would provide a "Simplify Window Layout" menu entry bound to Shift+Alt+0 in addition to the current Reset Window Layout, under a Window Layout, submenu of the View menu. That would hide all the Dock Widgets and the "Edit Pragmas" tab.

Additionally, I think it will be useful

[2020-07-26 15:09] mgrojo commented on #2183
@cbtek Do you reproduce the slow-down problem with the current 3.12 release? I think @MKleusberg made some optimizations to that tree.

[2020-07-26 15:18] dmalan commented on #2306
Hi @MKleusberg, so sorry for the belated reply. The new option is great. Thanks so much. Though did the default font sizes perhaps change since that option's introduction? As best I can tell, it looks like the default font size for **Database Structure** and **Browse Data** is now smaller (10pt)? Might it make sense for the default to be closer to, e.g., 14pt, to match the other UI elements?

10pt

[2020-07-26 15:19] mgrojo commented on #2059
This is implemented in v3.12.0, so I'm closing this now, but you are free to comment on it or reopen it, if you think something is not working well. Look for the "Open in external application" button in the Edit Database Cell panel.

[2020-07-26 15:19] #2059 closed

[2020-07-26 15:34] mgrojo commented on #517
@scottfurry Might this be solved by #2275  and #2270?

[2020-07-26 16:38] scottfurry commented on #517
#2275 should have addressed this. In hindsight, maybe add a 48 px. However, this should should be "resolved".

[2020-07-26 17:00] chrisjlocke commented on #2307
I have no idea.  Looking at Visual Studio, it refers to Windows, Explorers, Views and Lists, but that's whats /inside/ the dock panels.  Hovering over the minimize icon, it refers to Window.

![image](https://user-images.githubusercontent.com/7872218/88484783-0f187c00-cf69-11ea-9fa9-f1de3a545f08.png)

![image](https://user-images.githubusercontent.com/7872218/88484847-bc8b8f80-cf69-11ea-9fce-5a223

[2020-07-26 17:02] scottfurry commented on #2307
I vote for Platypi and Quokkas

[2020-07-26 17:22] dmalan commented on #2307
Hi @scottfurry,

Ah, interesting. So in our case, we actually have students installing DB Browser on their own Macs and PCs, so I suspect it might add a non-trivial hurdle for some students if they additionally need to move a settings file into place. Is it perhaps documented where the settings files live on macOS, Windows, and Linux so I could take a look?

@chrisjlocke's proposed layouts would b

[2020-07-26 18:00] scottfurry commented on #2307
I agree that the UI can be a bit cumbersome to use. Even just opening a local database to peek "under-the-hood" at the data can be disconcerting if not using DB4S day-in-day-out.

I like @chrisjlocke 's idea.
If we have "fans" and a "user base", we should look after the needs as best as possible.

[2020-07-26 18:33] mgrojo commented on #2307
I've just committed the changes for the new Simplify Window Layout and the dock options, which I've named "Dock Windows at Bottom", etc. The saving and loading of the layout can be added in addition to this, if someone wants to contribute the implementation.

@dmalan Could you give it a try using [tomorrow's nightly build](https://nightlies.sqlitebrowser.org/latest/)?

[2020-07-26 19:11] justinclift commented on #2307
I've just manually started our Win64 nightlies build.  So anyone wanting to test this on Windows will be able to in 30-40 mins instead of having to wait.

Can do the Win32 and macOS builds too, if anyone wants them.

[2020-07-26 21:24] mgrojo commented on #517
@mvkrdndm If you're still around, this issue should be solved in our last release 3.12.0. I'll close this, but you are free to reopen it if you consider there is still something pending.

[2020-07-26 21:24] #517 closed

[2020-07-27 06:36] chrisjlocke commented on #2307
What am I looking for?  I can't see anything on the view menu, or anything different...

![image](https://user-images.githubusercontent.com/7872218/88510773-9c94b400-cfdb-11ea-89f4-51f2f21d3d7d.png)

[2020-07-27 07:21] justinclift commented on #2307
Hmmm, looking at 72ecf141ca444bf02b91a0b1b6a307e316053b03, there should be new menu options:

* Simplify Window Layout
* Dock Windows at Bottom
* Dock Windows at Left Side
* Dock Windows at Top

Just compiled the new code locally and tried it.  For me they're showing up:

![2020-07-27-New_window_layout_options](https://user-images.githubusercontent.com/406299/88514534-9f1ff980-d02d-11ea-8712-2a221

[2020-07-27 07:25] justinclift commented on #2307
Looking at the Windows build VM, it seems to have built from the correct things, and latest commit.

Not sure why the new options aren't showing again. I'll kick off a new Win64 build now, just to see if something changes...

[2020-07-27 07:51] chrisjlocke commented on #2307
I did only look at the 32-bit version, but the 64-bit version has the same menu.

![image](https://user-images.githubusercontent.com/7872218/88516970-09ad4700-cfe6-11ea-89d8-ff10f59f528f.png)

Weird...

[2020-07-27 08:10] scottfurry commented on #2307
![NewWindowLayout_2020Jul27](https://user-images.githubusercontent.com/6686571/88518487-cc2cc780-cfad-11ea-934a-9fdc68373fb4.png)
I'm getting the new menu shown. However, IMHO, functionality needs some work. There's options for Left, Top, and Bottom. No "Right" (for us Left-handed, multi-monitor types). Reset works "as advertised", but I have to play with the others using an opened database to app

[2020-07-27 08:18] chrisjlocke commented on #2307
Right is the default, or 'reset windows layout'.  Guess it could be labelled 'Dock Windows at Right Side (Default)'

[2020-07-27 08:23] scottfurry commented on #2307
Again, only did a cursory run through to make sure I was getting the menu with latest pull from git.

[2020-07-27 08:34] justinclift commented on #2307
k, this is the window output log from the new Win64 build run above.  Captured doing "Select All", then "Copy" after the main compile piece was finished, while the SQLCipher build was in progress.

Anyone see any smoking guns?

[2020-07-27-new_window_layout_options_build_select_all.txt](https://github.com/sqlitebrowser/sqlitebrowser/files/4980859/2020-07-27-new_window_layout_options_build_select_a

[2020-07-27 08:48] scottfurry commented on #2307
Other than being in a detached head?
There's some warnings in there about QScintilla build.
Also some noise about QT qobjectdefs_impl.h
There's also some noise about macro redefinitions - probably need better pragma statements or improved header ordering to sort that out.

Other than that? Nothing really jumps out as a "smoking gun".

[2020-07-27 09:10] mgrojo commented on #2307
In fact, 'Dock Windows at ...' moves the visible docked windows to the corresponding side, but does not change the visibility of the windows, so a 'Dock Windows at Right Side' might make sense, but I decided not to added it, because it would be "almost" redundant with the Reset option. Nevertheless, I'm open to suggestions.

[2020-07-27 09:14] justinclift commented on #2307
Good idea. :smile:

Just did that that specifically, and have triggered the build script to run again (Win64 version only).

[2020-07-27 09:48] justinclift commented on #2307
@scottfurry Looks like that was the problem.  The new rebuilt Win64 nightly build (online now) is showing the new options.

Just started the Win32 build manually, so an updated version of that will be online in ~1/2 hour or so too.

[2020-07-27 10:00] scottfurry commented on #2307
That can be an issue every now and again with CMake. No guarantees if build files are regenerated.
I'm a huge fan of commands give earlier plus CMake commands:
[code]
Out-of-source builds can be our friend.

[2020-07-27 10:19] justinclift commented on #2307
@scottfurry Agreed. :smile:

@chrisjlocke The Win32 nightlies have just been rebuilt and are online.  They're showing the new menu options now too.

[2020-07-27 11:05] chrisjlocke commented on #2307
Thanks so much all for digging into this.  🍰

[2020-07-27 13:25] dmalan commented on #2307
Works great on macOS, @mgrojo! Thanks so much.

[2020-07-27 14:51] sky5walk commented on #2307
Any chance scripting or custom skins can be implemented in the new UI?
These could be saved in a sqbpro file per logged user.
Meaning, if I share a sqbpro file with another user, I do not want to overwrite their custom view and font selections.
The project file should support multiple users' unique settings.
This is to avoid yet another setup file to manage.

[2020-07-27 16:34] chrisjlocke commented on #2307
Views would be application based though, not project based.  If I had a particular view, I'd want that 'global', and I may not save a database as a project.  They'd have to be separate files.  Maybe.

[2020-07-27 20:29] yindrew commented on #2326
@mgrojo what would I do without you in my life

[2020-07-27 20:29] #2326 closed

[2020-07-27 21:35] justinclift commented on #2326
@yindrew I'm guessing you'll be doing a lot more development work getting your Dashboard idea working.

When you're happy with it, would you be ok with having it added to the main program here as well?  Depending on what it ends up like, if the code quality seems ok, if it seems useful for lots of people, etc. :smile:

[2020-07-27 21:36] justinclift commented on #2307
@sky5walk If we can figure out a sane approach for people to use, then sure. :smile:

[2020-07-28 11:01] davidcheng220 opened #2346 "Cannot install sqllitebrowser"
Details for the issue
--------------------
“DB Browser for SQLite” can’t be opened because Apple cannot check it for malicious software.
#### What did you do?
Install DB Browser for SQLite form safari and brew, but still get the same massage

#### What did you expect to see?
#### What did you see instead?

Useful extra information
-------------------------

The info below often helps, please fill

[2020-07-28 14:04] sky5walk commented on #2307
There are arguments for a single file vs multiple.
If you store projects in a git,fossil,etc repo, every user's theme changes would trigger a new commit.
If you separate theming into separate file, it could go on an ignore list.
But, many teams standardize font sizes and tab widths and colors on purpose.
A single file is less complex.

[2020-07-28 15:59] lucydodo commented on #2346
right-click(or control key[ctrl | ⌃) on DB4S to open the context menu and select 'Open'.

[2020-07-28 19:20] chrisjlocke commented on #2307
OK, somehow (?) we have to work out the userbase of DB4S.  Is it home usage (like me) just fiddling and tinkering, or is it in teams, using Gits, repos, fossils, badgers, oscars, penguins, etc.  OK, made the last ones up.
Maybe we even need to work out who uses project files?  Again, I don't - just open (many different) databases, amend or tinker, then save and close.  Usage stats of our users wou

[2020-07-28 21:08] sky5walk commented on #2307
My understanding of the project file's utility is to store SQL queries and the loaded database.
I was hoping it could expand to include plot settings and skins and attached databases.
The plot tool needs more customization before it can become usable.
If we also get schema entity relationship graphics, the project file could store the page view settings.

[2020-07-28 22:12] justinclift commented on #2307
I've seen some programs take a two pronged approach to loading settings:

1) Load custom settings from a "system wide" location
   * These are applied first
2) Then look for custom settings in a "per user" location
   * Settings found here override whatever was loaded in (1)

That lets orgs/teams/groups/etc apply their own default settings for everyone.  Individual users can still tweak things for

[2020-07-29 08:39] ratijas commented on #1092
Hi. Still no AppImage for the June release, but it gets its separate "Continuous build" section. Is this the final form of releasing, like it's not going to change anymore? What about this issue then?

[2020-07-29 10:00] ratijas commented on #1092
Well, tried to run "Continuous build". Guess what? `segmentation fault (core dumped)`. In the meantime, normal ArchLinux distribution of "DB Browser for SQLite" works just fine.

<details>
    <summary>Logs</summary>
    <pre><code>static QPlatformTheme* QKdeTheme::createKdeTheme(): Unable to determine KDE dirs
qt.network.ssl: QSslSocket: cannot resolve CRYPTO_num_locks
qt.network.ssl: QSslSocket:

[2020-07-29 11:04] justinclift commented on #1092
@ratijas Oops.  I created the Windows and Linux builds for the 3.12.0 release, but adding in an AppImage completely slipped my mind.

Looking at our [Release process](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Release-process) wiki page (mostly used as a reminder), it already had a note about it, which I somehow missed. :frowning:

Just updated that page now, so it's more obvious for next

[2020-07-29 11:06] justinclift commented on #1092
@ratijas For the error pieces there, I personally have no idea.  It clearly has a lot of mentions of SSL in there, but that aside... I'm not sure where to even start.

[2020-07-30 11:29] mgrojo commented on #2321
I had some time to test that. The last version to work was DB.Browser.for.SQLite-2019-11-11-win64.zip  and the first which didn't work was DB.Browser.for.SQLite-2019-11-19-win64.zip. Looking at the history, the only one that I think could have had this effect would be 574303a550b76eda50ba60eeea496aab7b5f3685 which updated Qt from v5.12.5 to v5.12.6.

[2020-07-30 11:56] justinclift commented on #2342
@maseal Have you had a chance to see if the new format option works ok?

[2020-07-30 11:59] justinclift commented on #2056
Closing this as it's an old issue, and is really more suited to asking the Django Community (eg "why isn't this Django thing working?") rather than us.

@c5corvette04 Hopefully you got it all working some time ago. :smile:

[2020-07-30 11:59] #2056 closed

[2020-07-30 12:03] justinclift commented on #2101
Closing this, as it was implemented a while back and is in our latest release.

If it's not working properly though, feel free to re-open this or create another issue to let us know. :smile:

[2020-07-30 12:03] #2101 closed

[2020-07-30 12:15] gchan1234 opened #2348 "Unable to look at temporary table in Browse Data Tab"
Hi

I am unable to look at temporary tables in the Browse data table. It works in previous versions. When I click on the temporary table - it reverts to the first available table on the list

[2020-07-30 12:17] justinclift opened #2349 "Upload button disabled in remote dock"
Trying out the latest DB4S dev code at the moment (commit 8b5f34c4062094d1da5154f6ed37326c8b0d82e7), and noticed a bug with the Remote dock.

I've downloaded a database from my account, modified it (adding a view), then closed the database (after writing changes).

In the "Local" tab of the Remote dock, the "upload" button remains greyed out when I select the entry for the database:

![2020-07-30-

[2020-07-30 12:19] justinclift commented on #2348
Ouch.  That sounds like a bug. :frowning:

[2020-07-30 12:22] justinclift commented on #2349
Some extra data points, after playing around with this a bit:

* Restarting DB4S and selecting the database in the Local tab makes no difference.  The Upload button is still greyed out.
* Double clicking on the database in the Local tab, to open it in DB4S then enables the Upload button.
* Closing the database greys out the Upload button again. :frowning:

[2020-07-30 12:24] MKleusberg commented on #2349
The Upload button is intentionnaly only enabled when a database is opened because it's meant to be a 'global' button which doesn't depend on anything you do in the different tabs of the Remote dock. The button could become rather confusing when you have one database opened but selected another one in the Local tab for example.

An extra action in the context menu is a very good suggestion though :

[2020-07-30 12:37] justinclift commented on #2349
Ahhh, hadn't thought of that.  Yeah, a context action would probably do the job then. :smile:

[2020-07-30 14:46] maseal commented on #2342
Yes I've already tested it. It works as expected

[2020-07-30 21:43] justinclift commented on #2342
Awesome!  Thanks for making the suggestion @maseal. :smile:

@MKleusberg Good stuff.  I've added this to the 3.12.1 milestone, as the code change looks pretty simple. :smile:

[2020-07-30 21:43] #2342 closed

[2020-07-30 23:25] justinclift commented on #2321
This completely slipped my mind.

@mgrojo It seems more like a windows packaging problem than something else.

I'll have a go at updating our Windows packaging so it includes the `Qt5Svg.dll` file, and lets see what happens.

On that note, if it works then we'll probably need to do the same for macOS, Linux (AppImage) as well.

[2020-07-31 00:13] justinclift commented on #2321
@mgrojo Looks like the update of Qt then.

There's a newer Qt revision out now (v5.12.9) compared to what we're using at the moment (v5.12.8).

I'd been planning to update the build VM's with that anyway.  We might as well see if it fixes things.

If not, we *could* revert back to the older Qt 5.12.5.  The updating to 5.12.8 was just because (in theory) newer Qt 5.12.x releases should be less bugg

[2020-07-31 00:17] justinclift commented on #2321
@seattleite7 Any interest in testing the new 64-bit Windows package here?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

That now includes the `Qt5Svg.dll` file, which seems like it should fix the crash.  In theory. :smile:

[2020-07-31 03:10] justinclift commented on #2349
Just noticed another small thing.  When uploading a new database version, the commit list in the "Current Database" tab doesn't automatically refresh to show the new commit.  Easy fix? :smile:

[2020-07-31 07:52] csanyipal commented on #2200
Meantime I upgraded my operating system from Xubuntu 18.04 to 20.04 version.
Now the fields, which are foreign keys, behave differently than they were before I upgraded my operating system.
When I click first in such field then wait a little, then do another click, it should show up a combo box to can browse and select a value for this foreign key, right?
But that does not happen at all.
Instead,

[2020-07-31 08:13] justinclift commented on #2200
Interesting.  Is this when you compile DB4S yourself, or when using the one that comes with the newer Xubuntu, or something else? :smile:

[2020-07-31 08:16] csanyipal commented on #2200
I am using that DB4S which comes with the newer Xubuntu.

[2020-07-31 08:27] justinclift commented on #2200
No worries.  What's the version of DB4S it's providing? :smile:

[2020-07-31 08:40] csanyipal commented on #2200
DB4S Version 3.11.2

Built for x86_64-little_endian-lp64, running on x86_64

Qt Version 5.12.5

SQLite Version 3.31.1

[2020-07-31 08:51] justinclift commented on #2200
No worries.  It's probably a good idea to add our "nightly build" apt repository, to use our very latest code:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/#nightly-builds-1

If **that** keeps on acting strange with the Foreign keys, at least it should (in theory!) be a lot simpler for us to figure out what's wrong. :smile:

[2020-07-31 09:01] csanyipal commented on #2200
I will do that but do not know the apt command for how to add this nightly builds-1 repository?

[2020-07-31 09:07] justinclift commented on #2200
The commands are in the section of the page I linked to. :smile:

[2020-07-31 09:11] csanyipal commented on #2200
I did it, now I have the latest nightly build of DB4S.

[2020-07-31 09:16] csanyipal commented on #2200
It works now. The Foreign Combo box does appear now.
Is it normal that when I click a second time, a small window appears for a fraction of a second and then disappears quickly? Then the combo box appears and I can select the value of the foreign key from it.

[2020-07-31 10:14] csanyipal commented on #2200
Should now close this issue?

[2020-07-31 10:26] justinclift commented on #2200
I **think** so, but it's not something I've used personally in a very long time so I'm not 100% sure.  @mgrojo ?

Yeah, it seems to be solved. :smile:

[2020-07-31 10:32] csanyipal commented on #2200
This issue seems to be solved. :)

[2020-07-31 10:32] #2200 closed

[2020-07-31 19:41] nadler commented on #2306
I tried again with the Jul 30 build and it ran.  And even better, the font changes are fantastic!  Thanks so much!

[2020-07-31 23:32] justinclift commented on #2306
Awesome. :smile:

[2020-08-02 08:20] seattleite7 commented on #2321
@justinclift
No crashes so far :)

[2020-08-02 09:31] justinclift commented on #2321
Cool. :smile:

Would you be ok to install Qt 5.9.2 again, and see if the crash comes back?

Just wanting to make super sure adding the `Qt5Svg.dll` file is a complete fix. :smile:

[2020-08-02 17:13] mgrojo commented on #2289
The "Close Project" action will be present under the File menu in the next nightly build. @chrisjlocke any interest in testing it?

[2020-08-02 17:27] chrisjlocke commented on #2289
No, I'd rather stick forks in my eyes.
Oh, go on then.  😄

[2020-08-03 07:45] seattleite7 commented on #2321
@justinclift No crashes with Qt 5.9.2 installed.

[2020-08-03 09:57] justinclift commented on #2321
Awesome!  Sounds like including `Qt5Svg.dll` is good enough then.  **\*whew\***

Thanks for taking the extra time to double check that @seattleite7. :smile:

[2020-08-03 09:57] #2321 closed

[2020-08-03 17:09] NSExceptional opened #2350 "Last column in Data Browser should not be right-aligned"
When browsing table data, the last column appears to be automatically right-aligned. This is not desired behavior.

#### What operating system are you using?

- [x] Windows 10

[2020-08-03 17:10] NSExceptional opened #2351 "Add ability to "auto-size" columns in Data Browser"
There is currently no way to auto-size the columns when browsing table data as far as I can tell. This would be a nice QoL improvement.

[2020-08-03 23:46] justinclift commented on #2350
Interesting.  With that right alignment, does it happen regardless of the data type of the column, or is it only happening for specific types?

Also, which version of the application is this happening with? :smile:

[2020-08-03 23:49] justinclift commented on #2351
Yeah, agreed.  I keep trying to double click the border between cells, thinking it'll automatically resize that cell.  But it doesn't work.

Pretty sure this has been suggested before too, but I have no idea what became of the suggestion.  It'd be really useful. :smile:

[2020-08-04 02:59] justinclift commented on #2349
In a similar level of "not real important, more a UI tweak":

* When the last database for the user is deleted from the "Local" list, an empty folder entry for that user is left behind.  It's gone when DB4S is restarted, but it would be "smoother" experience to have it removed from the visible folder list right away.

[2020-08-04 06:21] chrisjlocke commented on #2350
For me, the last column (if text) is left aligned.  Seems OK... 🤷‍♂️

![image](https://user-images.githubusercontent.com/7872218/89259751-df313e80-d622-11ea-82cf-9d91a2ed8982.png)

A screenshot (and application version info ... see Help then About ... the four text lines at the top can be selected, copied and pasted here).

[2020-08-04 14:38] mgrojo commented on #2350
The behaviour in v3.12 is that columns whose datatype is numeric are right-aligned, remaining columns are datatype. That depends on how the table is defined, and not on the actual data stored in the cell (given that SQLite allows storing text in a column whose type is integer, for example).

Nevertheless, you can change the alignment using the format toolbar, which is expanded pressing this button

[2020-08-04 14:48] mgrojo commented on #2351
The [columns can be resized](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Browse-Data#resizing-columns) to fit contents if the separator betweeen columns in the header is double-clicked. Moreover, in v3.12 the columns are sized by default to fit contents when the table is opened, until you save your preferences in a project file.

What could be implemented is a way to resize all the columns

[2020-08-04 17:13] MKleusberg commented on #2348
Yes, just noticed that too with attached databases. I'll look into it now. It's definitely something we need to fix for 3.12.1, so thanks for reporting this, @gchan1234! :smile:

[2020-08-04 17:33] MKleusberg commented on #2348
This should be fixed now. Can you check again using [tomorrow's nightly build](https://nightlies.sqlitebrowser.org/latest/), @gchan1234?

[2020-08-04 19:23] nadler commented on #2306
Using the Jul 30 build some more, one or more of these font size settings don't seem to save.  After adjusting them I saw the font sizes change.  Then quitting and restarting the application still shows the values I changed, but I'm not seeing fonts in that size.  The first picture is the text after I've changed my preferences.  The second is after restarting the application.

<img width="438" alt

[2020-08-04 22:41] mgrojo commented on #2306
@nadler Are you using macos? I think some people reported a problem in saving preferences. Could you check the value of the font sizes in the Preferences dialog?

[2020-08-04 23:36] justinclift commented on #2348
@MKleusberg Any idea when this bug was introduced?

[2020-08-05 00:58] botist opened #2352 "How do I word wrap the table viewer?"
So instead of this:
![Capture](https://user-images.githubusercontent.com/66886150/89360000-235d2700-d695-11ea-8ea2-e201fcef4778.PNG)
I get something more like this:
![Capture1](https://user-images.githubusercontent.com/66886150/89360026-31ab4300-d695-11ea-8a2c-d4d421189a7f.PNG)

[2020-08-05 06:16] chrisjlocke commented on #2352
If you increase the row height, the text should be displayed.
https://youtu.be/TdABaZN_1Vs

You can also double-click the cell border to make the cell as high as needed.
https://youtu.be/8Pk4COJUOQI

[2020-08-05 06:55] chrisjlocke opened #2353 "Modifying new table has misaligned filter cells"
When you create a new table and immediately go to the 'Browse Data' tab, the filter cells under each column heading aren't sized to the cells.  If you've a large table, this can look .... odd.

https://youtu.be/v211U39Yybk

So I created a table, browsed a couple of other tables fine, but as soon as I clicked the newly created one, you can see the long filter cells.  Clicking 'Refresh' (and indeed

[2020-08-05 11:08] mgrojo commented on #2352
Additionally, you can press the secondary mouse button to get the context menu over the vertical header (where the row numbers are shown) and select 'Adjust rows to contents'. That wil automatically adjust the row heights to the current contents. Each time the table is refreshed, the heights are readjusted. This setting is not currently stored in project files, but should be in the future.

[2020-08-05 11:48] gchan1234 commented on #2348
@MKleusberg Thanks it's fixed :)

[2020-08-05 12:32] mgrojo commented on #1668
This seems to be fixed, probably at the same time as #1658.

[2020-08-05 12:32] #1668 closed

[2020-08-05 12:37] mgrojo commented on #598
This should be fixed in the next nightly, together with other minor improvements in the Edit Table dialog.

[2020-08-05 12:40] mgrojo commented on #2353
@chrisjlocke No idea why this is happening, but it doesn't matter now because #2188 has been implemented and it filters will be hidden in that situation.

[2020-08-05 12:54] justinclift commented on #2188
@skarmoutsosv This should be fixed in the next nightly build, thanks to @mgrojo. :smile:

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

Would you be ok to try it (tomorrow), and let us know if the change works well?

[2020-08-05 14:12] mgrojo commented on #2292
@Landcross No idea why this is happening, but it doesn't matter now because #2188 has been implemented and the filters will be hidden in that situation. Could you give it a try using tomorrow's [nightly build](https://nightlies.sqlitebrowser.org/latest/)? It is important that the filter is only hidden when the table is empty, and not in any other case.

By the way,  #2353 and this are duplicates.

[2020-08-05 20:04] chrisjlocke commented on #2353
Excellent, many thanks!

[2020-08-05 22:08] nadler commented on #2306
I am using Mac OS X (10.15.6).  The value was correct in the preferences dialog after the restart, but it wasn't using the value that was shown in the preferences.  Modifying the value again caused it to work.

[2020-08-05 23:08] pakirby1 opened #2354 "Add option to go to a folder when attempting to open database"
Details for the issue
--------------------

#### What did you do?
The file open dialog for DB Browser does not allow you to 'Go to a Folder' like the standard MacOS Finder provides.

#### What did you expect to see?

#### What did you see instead?
Have an option to 'Go to a Folder'  so that a user can just paste in the path to the database vs. browsing and navigating folder hierarchies to find the

[2020-08-06 00:07] justinclift commented on #2306
Ahhhh.  That sounds like there's a bug in our code where the saved preferences are first loaded from disk then applied.

[2020-08-06 00:38] justinclift commented on #2354
It's been a fair while since I last used macOS in depth personally.  But, it used to be possible to paste a path (eg `/Users/Justin/Databases/` into the opened dialog.

I don't remember the exact details (eg it may need to be in the filename field, or maybe in the window area showing the list), but it's probably worth trying out just in case that still works. :smile:

[2020-08-06 09:07] chrisjlocke commented on #2353
@justinclift - I've downloaded last nights nightly, and these latest fixes don't seem to be in it.
Does the build need to be 'kicked' again, like it did when the last changes didn't take?

[2020-08-06 09:09] justinclift commented on #2353
@chrisjlocke I'll take a look. :smile:

[2020-08-06 09:18] justinclift commented on #2353
Ahhh.  The builds went fine, but the uploading to the nightlies server failed.  The build server doesn't have a static IP address (from the nightlies server perspective), and was blocked by firewall rules.  Updated those rules, and the nightlies are uploading now.

Give it a minute or two, and they should be available. :smile:

[2020-08-06 09:20] chrisjlocke commented on #2353
Cheeeers bud!

[2020-08-06 10:03] chrisjlocke commented on #2353
Closing as this is now resolved.  Thanks all!

[2020-08-06 10:03] #2353 closed

[2020-08-06 10:07] chrisjlocke commented on #2188
@mgrojo - I assume as they are 'invisible' they are still there - unsure if this is a biggie, but if you move the mouse where they would be, the column headers still get selected.

https://youtu.be/nYqkbr3CALE

Don't know if the heights can be reduced to remove the mouse region, or if its only a Windows thing?  I'm sure 99.99% of people won't know/care about this, but ... well, .... thought I'd le

[2020-08-06 10:31] MKleusberg commented on #2348
@justinclift Looks like the bug was introduced by this commit a09df5bc0a8bc5247edf2c789898e94d59a94410. So it's only present in the nightlies.

@gchan1234 Awesome. Thanks for testing! :smile:

[2020-08-06 10:31] #2348 closed

[2020-08-06 10:37] justinclift commented on #2348
Cool. :smile:

[2020-08-06 11:11] mgrojo commented on #2188
In theory, invisible means for Qt that the GUI has to behave as if the widget weren't there. I don't know if that highlighting is a bug in Qt or the undesired consequence of some of the adjustments we do in the table header, but I'll take a look.

[2020-08-06 11:19] #2197 closed

[2020-08-06 15:01] mgrojo commented on #2166
@CeciliaWJH Try with the latest release v3.12. If that does not solve the problem, use a [nightly build](https://nightlies.sqlitebrowser.org/latest/), which has a new preference setting to control the general font size.

[2020-08-06 15:12] siera-papa opened #2355 "Unable to cut cell content"
CTRL + X does not do anything and the last copied item is pasted.
I tried reinstalling v3.12.0, latest nightly version and restarting my PC.
I guess this is a known bug although nothing came up in my searches.

Version 3.12.0
Windows 10 Pro x64

[2020-08-06 15:16] justinclift commented on #2355
Errr, no, it's not a known bug.  Cut is supposed to work.  But, it's obviously not in this case. :frowning:

Is there any chance you can record it going wrong, so we can see in context what's happening? eg screencast or similar

[2020-08-06 15:43] siera-papa commented on #2355
Sure, here it is.

[2020-08-06 15:55] siera-papa commented on #2355
Sure, here is the recording:
https://streamable.com/p771g6

[2020-08-06 16:07] justinclift commented on #2355
Thanks, yeah that should work.

@mgrojo This looks like your kind of thing?

[2020-08-06 16:08] justinclift commented on #2355
@siera-papa Just to double check, there's nothing else running on the system which might be stealing the clipboard contents somehow?

[2020-08-06 16:21] mgrojo commented on #2355
I was surprised too, but we don't have a Cut operation, so when you press Ctrl+X is like doing nothing :smile: Apparently, @siera-papa, you're the first one to notice this omission.

Luckily, it will be easy to implement. I suppose Cut should delete the cell to NULL and copy to clipboard. Ideally, it should take into account a possible NOT NULL constraint in the field to leave the cell empty, inst

[2020-08-06 17:04] siera-papa commented on #2355
Thanks for your interest.
I hope this will be implemented soon.

[2020-08-06 18:35] armahnii2000 opened #2356 "Add a way to disable "Collation needed! Proceed?" dialogue for DBs that have custom COLLATE columns"
Describe the new feature
--------------------------
If you have a column with a custom COLLATE string, a Collation needed! pop-up window shows up almost every time. It makes browsing DB's with custom collations cumbersome. It would be nice if there was a way to override this via some setting where you just fallback to some default collation if SQLite can't find one.

Additional info
--------------

[2020-08-06 18:53] senthilmuruga opened #2357 "Unable to write changes: "FOREIGN KEY constraint failed""
Details for the issue
--------------------

#### What did you do?
I tried to do some ETL stuff by our sqlite3, I am able to alter the table data and not able to save the changes in my DB

#### What did you expect to see?
I wanted to save the DB as my edited version which I play around through sqlite3

#### What did you see instead?
Its is not saving changes, just throwing error like "FOREIGN KEY c

[2020-08-06 20:16] chrisjlocke commented on #2357
v3.11.2 is 'relatively' old now ... well, one version out.  Try v3.12.0
https://sqlitebrowser.org/dl/

Also, what data are you changing?  If you're adding or deleting specific data, just make sure you're following the 'rules' - you can't add an ID of 7 if that doesn't exist in the other table.  If none of that makes sense, yell, as you may already know about foreign keys...  ie, the error may not

[2020-08-06 22:09] mgrojo commented on #2355
@siera-papa [tomorrow's nightly build](https://nightlies.sqlitebrowser.org/latest/) will have a Cut option in the context menu, and Ctrl-X or Shift-Del will also trigger the operation. It copies current data to clipboard and then deletes cell contents to NULL or to empty strings (depending on the NOT NULL constraint of the field). Could you give it a try and confirm it's working for you?

[2020-08-06 22:26] mgrojo commented on #2357
Probably your database has foreign-key errors which are not caught by sqlite3 because the "`PRAGMA foreign_key`" is disabled. You can do the same in DB4S (using "Preferences > Database > Foreign keys") or find and fix all the errors using "Tools > Foreign-Key Check".

[2020-08-07 00:56] justinclift commented on #2356
Good idea. :smile:

[2020-08-07 07:47] siera-papa commented on #2355
@mgrojo Works perfectly now, thanks a lot!

[2020-08-07 07:48] #2355 closed

[2020-08-07 07:51] chrisjlocke commented on #2354
@pakirby1 - Any chance of a screenshot of what you're seeing, compared to a dialog that allows you to go to a folder?

[2020-08-07 07:53] chrisjlocke commented on #2337
@aditibindal27 - Have you looked any more into this?

[2020-08-07 08:14] Landcross commented on #2292
@mgrojo I used the latest nightly build and the issue is indeed 'gone' because, as you said, the filters don't show anymore for empty tables so there's not a whole lot to misallign.

However, I do feel like a horizontal line at the bottom of the table headers would be nice to have. Now it kinda feels like something is broken or missing.

![image](https://user-images.githubusercontent.com/12005521/

[2020-08-07 08:24] chrisjlocke commented on #2292
Thats because the bottom border is on the filter row, which isn't visible.  Unsure if there's an easy fix... possibly remove the filter row and not 'hide' it...

[2020-08-07 11:32] adriandinu opened #2358 "Unable to create table from sql export"
When I export an sql file, if the column name has a dash ("-") inside, the INSERT statement give me an SQL Logic error when I use the generated sql file:
This is what I get when I export:

CREATE TABLE IF NOT EXISTS `MyTable` (
	`Name`	TEXT,
	`Value-1`	TEXT,
	`Value-2`	TEXT
);
INSERT INTO `MyTable` (Name,Value-1,Value-2) VALUES ('a name','a value','another value'),

The error appears because the c

[2020-08-07 12:22] chrisjlocke commented on #2358
To be Mr Pedantic, double-quotes is the proper method - grave accents (or back quotes, as you call them) are for compatibility with MySQL users.  But I digress.

What version of DB4S are you using?  This is one of the questions asked when you raise a new issue.
In our latest version (3.12.0) an SQL export includes double-quotes.

[code]

[2020-08-07 20:27] mgrojo commented on #2188
@chrisjlocke I've removed the filters instead of hiding them. Now the visual glitch should disappear. At least, a similar issue with the mouse pointer for resizing columns, which I noticed under Linux, is solved now.

[2020-08-07 22:27] mgrojo commented on #2292
Yes, it depends on the style. I switched between a dark style, which lacked a bottom line and  light one, which had. Removing the widgets instead of hiding them hasn't changed anything in this regard.

[2020-08-09 04:20] justinclift opened #2359 "Remote dock push failure in nightly builds"
Stumbled onto an important bug in the RemotePushDialog code of our nightly builds. :wink:

When uploading a new version of an existing database, the branch list isn't refreshed + (important) DB4S's understanding of the "current commit" isn't updated to be the new one.

This means subsequent uploads from DB4S then all fail silently, as DB4S isn't sending the DBHub.io cloud the correct (updated) com

[2020-08-09 04:26] justinclift commented on #2359
Ahhh, it looks like `RemoteDock::pushFinished()` should be getting called instead, but for some reason that's not happening.

[2020-08-09 06:12] justinclift commented on #2359
Not sure why, but `RemoteNetwork::gotReply()` seems to not be called when the database push is finished, so the `case RequestTypePush` condition doesn't trigger.

Just in cast the problem was the recently-added gzip compression, I turned that off on my local dev server, but the same thing happens in DB4S.

Anyone know what might be causing this problem, or have ideas on how to debug it?

[2020-08-09 06:46] justinclift commented on #2359
Found the root cause.  There's a missing `connect()` in the new `RemoteNetwork.cpp`.

With the fixed pushing databases remotely works correctly.  I'll commit the fix to `master` shortly.

[2020-08-09 06:56] justinclift commented on #2359
Oh, that left over `RemotePushDialog::reloadBranchList()` signal in RemotePushDialog.ui should probably get fixed too.  Guessing it'll just need to be deleted, but I'll leave that to @MKleusberg as I'm not familiar enough with the code. :smile:

[2020-08-09 10:20] justinclift commented on #2359
Hmmm, there seems to be something wrong with downloading specific database revisions with the `master` branch too, though it's working in the `v3.12.x` branch.

[2020-08-09 10:38] pakirby1 commented on #2354
Finder on Mac

On Aug 7, 2020, 12:51 AM -0700, Chris Locke <notifications@github.com>, wrote:

[2020-08-09 11:39] justinclift commented on #2354
@revolter Any ideas? :smile:

[2020-08-09 11:44] revolter commented on #2354
I think he's referring to https://support.apple.com/en-au/guide/mac-help/mchlp1236/mac#mchl734f1724:

![image](https://user-images.githubusercontent.com/5748627/89731319-c673bf00-da4e-11ea-9e29-1c51eae0267f.png)

![image](https://user-images.githubusercontent.com/5748627/89731322-cbd10980-da4e-11ea-91a6-aeb32ad7056d.png)

I'll look into this when I'll get back to the pc.

[2020-08-09 11:49] justinclift commented on #2359
It looks like `RemoteDock::fetchFinished()` is being called multiple times when a remote database is downloaded.  The first time correctly puts it in place and calls (via a signal) `MainWindow::fileOpen()` on the file.

However that in turn calls `remoteDock->fileOpened()` on the file, which seems to trigger further runs of `RemoteDock::fetchFinished()`.  But with no file content, thus overwriting

[2020-08-09 12:20] justinclift commented on #2354
Thanks @revolter. :smile:

[2020-08-09 16:01] mgrojo commented on #2286
@MKleusberg could you take a quick look to this? What I've seen so far is that when the SqliteTableModel::finishedFetch signal is emitted, which is connected to the plot update, the cache isn't still loaded. That means the plot dock reads data which is still in the "loading..." state (null data when read in the edit role). Then the plot has only a few elements or even in some cases, there isn't an

[2020-08-09 16:21] justinclift commented on #2286
@mgrojo Is there any change in the behaviour after my two changes to signal and slots related code today?

[2020-08-09 16:39] mgrojo commented on #2286
@justinclift No, I've just pulled them and the behaviour is the same :smile: This is related to the model between the table widgets (and the plot in this case) and the SQLite database.

[2020-08-09 19:56] Zorono opened #2360 "**the Import from CSV** option is disabled..."
***Details for the issue***
![ScreenShot_20200809214839](https://user-images.githubusercontent.com/19735243/89740647-d3ae9f00-da8a-11ea-9794-b0fbf2d0fac8.png)
**the Import from CSV** option is disabled...
--------------------

#### What did you expect to see?
clickable **the Import from CSV** option...

#### What did you see instead?
disabled **the Import from CSV** option.

Useful extra informati

[2020-08-09 22:55] botist commented on #2352
Thank you, much better now!

[2020-08-09 22:55] #2352 closed

[2020-08-10 01:24] justinclift commented on #2360
In theory (!), if you create a database first (for importing into), then the option should be enabled.

Try that, and let us know how you go? :smile:

[2020-08-10 11:07] Zorono commented on #2360
Thanks dude, shame on my stupidness...

[2020-08-10 11:07] #2360 closed

[2020-08-10 11:30] justinclift commented on #2360
It's no worries at all.  I've hit the same thing myself before too. :smile:

[2020-08-11 00:56] justinclift commented on #2349
In the "Current Database" tab of the Remote dock, right clicking on a commit revision shows a context menu with two options:

* Check out Commit
* Save Revision to File

The "Save Revision to File" one is useful, but it doesn't work for the latest commit though it probably should.

It'd be useful to have a "Copy commit details to clipboard" context menu option as well, and maybe one just for the c

[2020-08-11 10:54] mbraeutigam opened #2362 "When creating a new/opening a SQLite database some parts of the UI still contain old data"
Details for the issue
--------------------

#### What did you do?
* Opened a database, queried some stuff.
* Clicked on Create new database | Open database and selected a file

#### What did you expect to see?
A fresh clean GUI. No old views / data.
It seems that the "Execute SQL" tab and the "Edit Database Cell" panel still contain old value.

#### What did you see instead?
![image](https://user-

[2020-08-11 10:59] rik1301 opened #2363 "Duplicate shortcut not working"
3.12.

In the browse data window, if you select a row and right click it gives an option to duplicate or delete the record.  On the duplicate option it shows a shortcut of CTRL+" .  When pressing these together it doesn't duplicate the highlighted row but instead opens another database on my PC desktop.  If I press it again, it reverts back to the original database.  If I delete the secondary data

[2020-08-11 11:00] justinclift commented on #2362
Thanks for the bug report. :smile:

This is actually on purpose though, as we used to clear out everything... but it turns out some people want that info kept open between sessions.  This way people can run the same SQL queries on a bunch of databases, without having to manually open a SQL files (with statements to run) after opening a database. :smile:

[2020-08-11 11:02] justinclift commented on #2363
Interesting.  This almost sounds like something being triggered in the OS itself.

@chrisjlocke Any ideas? :smile:

[2020-08-11 11:17] mbraeutigam opened #2364 "Missing alias in "Execute SQL" tab's data view (table header)"
Details for the issue
--------------------

#### What did you do?
Executed
[code]

#### What did you expect to see?
| O.ID | O.TEXT | T.ID | T.ID_ONE | T.TEXT |
|---|---|---|---|---|
| 1 | one | 1 | 1 | one1 |
| 1 | one | 2 | 1 | two1 |
| 2 | two | 3 | 2 | three2 |
| 2 | two | 4 | 2 | four2 |

edit: it is not about the values in the cells but the alias abbreviations in the header

#### What did yo

[2020-08-11 11:19] mbraeutigam commented on #2362
Ahh, it's not a 🐞 - it's a feature 🤣

[2020-08-11 11:23] #2362 closed

[2020-08-11 11:42] justinclift commented on #2364
Hmmm, that result seems correct.

[code]

That's pretty much selecting everything where `ID` in the first table equals `ID_ONE` in the second table.

Looking at the first row of the first table, it's ID column contains `1`.

Looking at the second table, there are two rows which have an `ID_ONE` column equalling 1:

[code]

Ditto when looking at the first table, with ID containing `2`.  There are t

[2020-08-11 11:48] mbraeutigam commented on #2364
It is not about the values in the cells but about the naming of the header columns.

I get column names of ID, TEXT, ID, ID_ONE, TEXT instead of O.ID, O.TEXT, T.ID, T.ID_ONE, T.TEXT.
So I can not distinguish which column TEXT originates from which table at first sight.

[2020-08-11 11:59] mgrojo commented on #2362
In the development version you can use the new menu entry "File > Close Project" to clean up everything.

[2020-08-11 12:18] justinclift commented on #2364
Ahhh.  I think you'll need to specify alias names for each column then, which unfortunately isn't as convenient. :frowning:

[code]

[2020-08-11 12:22] mgrojo commented on #2364
These are the names returned by sqlite3 and I think we cannot do anything about it. The sqlite3 command line tool returns the same names, by the way.

Moreover, according to the [API documentation](http://sqlite.org/c3ref/column_name.html):

So Justin is right, but you have to quote the dots, so the working query would be:
[code]

[2020-08-11 12:39] mbraeutigam commented on #2364
Ughhh, good to know 👍

Fun fact even ordering by column TEXT with no specification to the table does work - it seems SQLite grabs the first "TEXT" column and uses that for ordering (BTW: I changed O.*, T.* to T.*, O.*):
[code]
result
![image](https://user-images.githubusercontent.com/4228180/89897494-62343500-dbdf-11ea-9738-d23d6b63c957.png)

For my taste the SQLite engine handles some "usual" stu

[2020-08-11 12:41] #2364 closed

[2020-08-11 12:45] justinclift commented on #2364
You're welcome. :smile:

[2020-08-11 12:47] mgrojo commented on #2363
@rik1301 Is the `"` character in your keyboard in the <kbd>2</kbd> key? Are you pressing then:  <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>2</kbd> = <kbd>Ctrl</kbd>+<kbd>"</kbd>? Sometimes this confusion happens when the symbol needs the shift key in your keyboard :smile:

With <kbd>Ctrl</kbd>+<kbd>2</kbd> you're opening the second entry in your recent file list. The second time returns to your first d

[2020-08-11 12:50] justinclift commented on #2364
Oh, as a thought since you're coming from a different database, it might be useful to cast your eye over the list of SQLite PRAGMA's:

&nbsp; &nbsp; https://sqlite.org/pragma.html#toc

The `PRAGMA` is a SQLite specific keyword used for setting (or querying) various configuration option in the SQLite engine.  Most stuff is probably not relevant most of the time, but things like enabling or disablin

[2020-08-11 12:50] rik1301 commented on #2363
Aha!  Success!  Can confirm that CTRL+SHIFT+2 works for a good duplication at the bottom of the grid !  Thanks. :)

[2020-08-11 12:51] rik1301 commented on #2363
You might like to amend the shortcuts wiki page too.

[2020-08-11 12:54] mgrojo commented on #2363
What do you propose to amend? Take into account that the location (and whether you need to press Shift or not) would depend on the user's keyboard layout. In the English keyboard, for example, I think `"` is over `'` not over `2`.

[2020-08-11 13:04] justinclift commented on #2363
We could probably cut-and-paste the text of your tip.  Something like:

---

**Note** - If you're trying to do \<not sure what to put here>, but instead a new file opens, then you might need to press the <kbd>Shift</kbd> key as well.

For example, <kbd>Ctrl</kbd>+<kbd>"</kbd> is the short cut for duplicating a row.

However some keyboard layouts need the <kbd>Shift</kbd> key pressed in order to tr

[2020-08-11 13:08] rik1301 commented on #2363
mgrojo - is it a UK keyboard, so the " is indeed on the 2 key.  What type of keyboards are you guys using?  I thought this was the standard location for it on 'English speaking' country keyboards, but maybe not ?  :scratchchin:

[2020-08-11 13:40] justinclift commented on #2363
For me, using a "standard international US layout" the `"` key is in the middle row, next to the enter key.  Same row as the "asdf", "jkl;".  The symbol above the number 2 on the number row is "@" on most keyboards.  Not on UK layouts though.

As a data point, I lived in the UK for a few years (until Brexit), and the UK keyboard layout is **weird** to me. :wink:

[2020-08-11 13:45] justinclift commented on #2363
Ahhh, here's a photo:

https://www.logitech.com/en-au/product/k120?crid=27

That's the "standard" US keyboard layout (that I'm used to anyway). :smile:

[2020-08-11 14:22] mgrojo commented on #2363
I'm used to the US keyboard layout and I took it as the 'English language' standard, but I remember now that at work we have some keyboards for our customers and the British layout is different and a bit weird to me :smile: But the "weirdest" is the German layout, which exchanges the Z and the Y. In Spain we use a layout where the `"` is in the `2`, so I guessed easily what this issue was.

[2020-08-11 14:35] mgrojo commented on #2363
I've added a note about this and the Ctrl+1 (etc) shortcuts to the wiki.

https://github.com/sqlitebrowser/sqlitebrowser/wiki/_compare/a5f80e57a394b1be2ebfad780e51781511a55076...903819ceffbdbd3351787739f17b7475e7bc026b

[2020-08-11 14:53] rik1301 commented on #2363
OK good job guys.  Before I bugger off back under my rock, is there an 'undo' function for the data grid view?  I see the shortcuts list says CTRL+Z, but says that this is only for the sql editor.  Indeed, CTRL+Z doesn't seem to do anything in the grid view (nor combined with SHIFT).  I am of course aware of the 'revert changes' button, but that is too much undo-ing! :stuck_out_tongue_closed_eyes:

[2020-08-11 15:07] mgrojo commented on #2363
No, there isn't an undo operation for the database changes, only a revert button. It was discussed in  #858 and apparently discarded, but it might deserve a second analysis. I think it could be done using [savepoints](https://sqlite.org/lang_savepoint.html).

[2020-08-11 18:24] rik1301 opened #2365 "Adjust rows to contents crashes program"
Hi, I have a table of 440,000 records.  Several of the cells contain writing which is longer than the column width, so gets truncated in normal view unless you expand the column width to view it, or select the cell to open the full editor.

I read on a previous ticket that clicking on the row margin and selecting 'adjust rows to contents' solves the problem.  But when I do this it crashes the prog

[2020-08-12 02:12] justinclift commented on #2365
Interesting.  That's definitely a bug of some variety.  @mgrojo will probably want to investigate. :smile:

@rik1301 Would you be ok to try our [latest nightly build](https://nightlies.sqlitebrowser.org/latest/) and see if that crash still happens for you?

[2020-08-12 05:29] rik1301 commented on #2365
Justin, I'm afraid to say there is no noticeable difference using the new version :( :

Version 3.12.99 (Aug 12 2020)

Built for x86_64-little_endian-llp64, running on x86_64

Qt Version 5.12.8

SQLite Version 3.32.3.

A subset of 25,000 records still takes approx 30 seconds to process after 'adjust rows to contents' to word-wrap the longer cells (not a huge amount of them in my table, maybe about

[2020-08-12 06:51] rik1301 commented on #2365
Btw, there's a bug in that nightly build.  Select a table, click 'modify table'.  Double click any of the fields in the list and the input box resizes to being much smaller in height than the blue background one.

[2020-08-12 06:55] rik1301 commented on #2365
Just comparing it with 3.12.0, the whole panel seems to be bunched up in 3.12.99 with smaller text.  Looks much better and works fine in 3.12.0.  :)

[2020-08-12 07:02] justinclift commented on #2365
Oh well, was worth a shot just in case.  Thanks for trying it out @rik1301. :smile:

We'll need to wait for our more in depth developers to take a look at this.  Someone generally checks in each day or so, so it shouldn't be **tooooo** long to wait.  Hopefully. :wink:

[2020-08-12 07:05] rik1301 commented on #2365
No probs Justin.  Happy to help. :)

[2020-08-12 07:07] justinclift commented on #2365
Oh, I just remembered that we added extra customisation options for the font sizes of things in our development code.  What you saw is probably a follow on effect from that.  In theory (!) it should be fixable by playing around with the font settings in Preferences.  But, reverting back to 3.12.0 works too. :wink:

[2020-08-12 08:20] chrisjlocke commented on #2365
Can you attach a screenshot?  In the nightlies, the modify panel was ... well, modified ... cosmetically.
Do you have a high dpi monitor?  Its not that throwing it out is it?

In Preferences, what value do you have for the application font size?

![image](https://user-images.githubusercontent.com/7872218/89992330-08824800-dc7d-11ea-9d97-fb91f711f352.png)

For me, 10 gives me this:

![image](https:

[2020-08-12 08:57] rik1301 commented on #2365
I don't have the nightly installed anymore.  I switched back to the stable version.

[2020-08-12 09:33] MKleusberg commented on #2359
Should be fixed now. Can you double check it's working? :smile:

The error message in the Push dialog and the missing update after pushing were unrelated issues but both should be fixed now. Your commit for the error message in the Push dialog was pretty close :+1: The missing update after pushing was caused by a missing handler for that event. Your first commit added that but was causing the down

[2020-08-12 09:34] chrisjlocke commented on #2365
Just a nod that you don't need to 'install' the nightlies or stable version.  If you download the ZIP, you can just extract and run the .exe from there.  Useful to run the nightlies.  The nightlies are generally more preferable than the stable version - especially the longer between the two versions, as tweaks, fixes and amendments are added.

[2020-08-12 11:02] chrisjlocke commented on #2363
Closing as the original query has been de-queried.

[2020-08-12 11:02] #2363 closed

[2020-08-12 11:31] justinclift commented on #2359
Yep, it's working fine now.  Thanks heaps for getting these fixed @MKleusberg. :smile:

[2020-08-12 11:31] #2359 closed

[2020-08-12 11:37] MKleusberg commented on #2359
Cool :smile: Thanks for testing!

[2020-08-12 12:00] MKleusberg commented on #2349
Let me try listing the different suggestions and their status here:
1. Upload Database context menu action -> Done
2. Commit list not updated after uploading database -> Fixed in #2359
3. Removing the last database of a user should remove the user directory too -> Done
4. Copy commit details -> Pending

@justinclift Can you check 1 and 3? I'm not sure about 4. You can just click on the cell you're

[2020-08-12 14:03] justinclift commented on #2349
Just tested:

1. Upload Database context menu action -> Confirmed working.
2. Commit list not updated after uploading database -> Confirmed working.
3. Removing the last database of a user should remove the user directory too -> Confirmed working.

The fourth one, "Copy commit details", isn't quite working properly.  I didn't actually realise it was possible to click in a cell to have it be the "s

[2020-08-12 14:19] MKleusberg commented on #2349
Ah, I didn't see 5. It should be fixed too now :smile:

The fourth one seems peculiar. I can copy the information after the first click. Out of curiosity, can you see if it works as expected in the Database Structure tree view?

[2020-08-12 14:54] justinclift commented on #2349
Trying out 5. ("Save Revision to File" for most recent commit), now works.

Just noticed something a bit strange that **might** be related to it.  If I've modified the local database, and double click a previous revision in the commit history it pops up a warning about "You have modified the local clone ...".  But double clicking the latest commit (which I've since modified the DB from) doesn't.

[2020-08-12 14:57] justinclift commented on #2349
Weirdly, **now** when I directly click on any given cell in the commit list the Ctrl+C is working.  It definitely wasn't before.  Oh well. :wink:

[2020-08-12 15:23] mgrojo commented on #2365
The columns in this table have hardcoded widths, so it is not strange that increasing the font size gives problems. I'll check if better results can be got from a fit-to-contents approach.

Regarding this issue, I've made a change to resize only the visible rows and it seems to work fine. They are resized on the fly, so we could expect the scrolling to be affected, but apparently, not too much. My

[2020-08-12 15:29] mgrojo commented on #1685
@chrisjlocke ping :smile:

[2020-08-12 17:59] MKleusberg commented on #2349
Yeah, that's intended but not necessarily well-founded. The reasoning is that checking out the currently checked out commit should be a no-op because users could misunderstand the warning and lose their changes. What do you think? Should I change it or leave it as it is? In the latter case a 'Revert to commit on server' button might be needed.

[2020-08-12 18:00] MKleusberg commented on #2349
I believe you :smile: Maybe another Qt oddity.

[2020-08-12 18:10] justinclift commented on #2349
With double clicking a commit, the right approach there is probably to have the same "You have modified the local clone ..." warning if the user double clicks the latest revision too.  Well, if they *have* modified the database anyway.

That way the behaviour is consistent regardless of which commit they click on, and gives fair warning before any potential data loss.

[2020-08-12 18:17] MKleusberg commented on #2349
Ok makes sense :smile:

[2020-08-12 18:29] MKleusberg commented on #2349
Done :smiley: Can you test it again?

[2020-08-12 18:49] justinclift commented on #2349
Yep, it's working well now.  It's consistent, allows people to reset their changes back to any of the given versions as desired, and has an appropriate warning before any potential data loss could occur.

Well done! :smile:

[2020-08-12 18:49] #2349 closed

[2020-08-12 18:51] MKleusberg commented on #2349
Awesome :smile: What do you think? Are we finished with the DBHub.io integration for the next release or is there anything important missing?

[2020-08-12 19:03] justinclift commented on #2349
I **think** it's complete now.  At least, it seems to be working well, and I'm not seeing any missing functionality.

Hmmm, we could potentially add a "Delete database" option.  So people can nuke their stuff from the server without needing to use the webUI.

It'd need the corresponding deletion call added to the server, but that should be pretty easy.  I wrote initial [deletion code](https://gith

[2020-08-12 23:34] ww-9 opened #2369 "Accessing SQLite databases within ZIP files"
Describe the new feature
--------------------------
Compression of database files allows to achieve a significant space savings. It would be extremely convenient to immediately have access to such zipped database files without the need to unzip first.

Additional info
---------------
#### Does this feature exist in another product or project? Please provide a link.
https://sqlite.org/zipfile.html

[2020-08-13 01:50] justinclift commented on #2369
Interesting idea.  Reading through the zipfile page you linked, it seems more link a SQLite extension that reads in .zip files directly then presents the file data as SQLite tables.

eg not a "read in compressed SQLite file" thing.

To me, both concepts have merit.  eg:

1. Add support for reading compressed (zip, bz2, xz, etc) sqlite databases, automatically re-compressing when saving them back o

[2020-08-13 06:04] chrisjlocke commented on #1685
Hey, come on ... a six month response time is pretty good! ;)
Yes, the minimised combobox has been corrected, and I /was/ going to say the combobox is still small as before...

![image](https://user-images.githubusercontent.com/7872218/90099567-b56acc80-dd32-11ea-8faa-eb111fe6ae6a.png)

Makes identifying tables difficult ... BUT that's due to my screen layout.  Texts in the icons, and edit databas

[2020-08-13 06:04] #1685 closed

[2020-08-13 06:11] chrisjlocke commented on #2365
Aah no - I was just trying to confirm that if you set the font-size larger, the size change was actually taking effect.  Make it a nice large number so the change was noticeable - just checking first DB4S was changing the font-size as needed.

[2020-08-13 07:59] ww-9 commented on #2369
Yes, that zipfile extension has slightly different functionality.

The zip was proposed because it has indexes so the only required db can be accessed without having to unpack the entire archive. However, with modern amounts of memory this is not a huge problem.

[2020-08-13 14:28] justinclift commented on #2354
@revolter Reminder ping. :smile:

[2020-08-13 14:37] justinclift commented on #2349
@MKleusberg The "Delete" functionality is available for people through the API now (https://github.com/sqlitebrowser/dbhub.io/commit/28ee508c5266a0da74b98cf5ef6132994cf2c7b8).  Do you want me to create a DB4S end point for it as well (prob tomorrow), or should we skip that for now and call it "good enough"?

[2020-08-13 15:58] afygit opened #2370 "I cann't type ( give commands) in SQLlite, what should i do?"
Details for the issue
--------------------

#### What did you do?

#### What did you expect to see?

#### What did you see instead?

Useful extra information
-------------------------

[2020-08-13 16:01] justinclift commented on #2370
When you try typing commands, what's happening instead?

[2020-08-13 16:56] revolter commented on #2354
@pakirby1, I think that that menu item is only available in `Finder`.

For example, if you open `Safari`, and then `File` > `Open File...`, you'll notice that the menu items don't change, and that there is no `Go` > `Go to Folder...` menu item.

But the keyboard shortcut <kbd>cmd</kbd> + <kbd>shift</kbd> + <kbd>g</kbd> still works, both in `Safari` and in `DB4S`.

I have another problem with this,

[2020-08-13 17:01] revolter commented on #2354
Looking through the `NSOpenPanel`'s [documentation](https://developer.apple.com/documentation/appkit/nsopenpanel?language=objc), it doesn't look like you can configure whether pasting inside that field is allowed or not.

[2020-08-13 17:42] chrisjlocke commented on #2370
@afygit - Any chance of a screenshot?  Are you actually opening a database?  You have to open a database first, then the options within DB4S open.
What operating system are you using?

[2020-08-13 20:56] scottfurry commented on #2354
Apple Support Article [here](https://support.apple.com/en-ca/HT201236) - see section 'Finder and system shortcuts' part way down the page.

[2020-08-13 20:57] scottfurry commented on #2354
CNet - Mac OS X tips for Finder article [here](https://www.cnet.com/how-to/finder-shortcuts-every-mac-user-needs-to-know/)

[2020-08-14 12:43] MKleusberg commented on #2349
I'm not really sure. I mean it's potentially very destructive and rarely used. So the workflow of clicking the Website icon in DB4S and deleting the database there might be enough or even better in my opinion :smile:

[2020-08-14 13:07] justinclift commented on #2349
No worries.  Let's call it "good enough" for now then.  If people request the ability to delete their databases via DB4S, it should be pretty straight forward to add then. :smile:

[2020-08-14 13:59] ludwa6 opened #2371 "Install "mod_spatialite.dylib" fails"
Details for the issue
--------------------

#### What did you do?
Following instructions in [this tutorial,](https://www.fulcrumapp.com/blog/working-with-geodata/) i tried to install the extension "mod_spatialite.dylib" for Mac 64 that is distributed via [this Github repo](https://github.com/fulcrumapp/spatialite-bin/tree/master/lib/mac/x64) in my DB Browser for SQLite (versions down below).
 Went

[2020-08-14 14:36] chrisjlocke commented on #2371
Did you type the error or copy it?
Its reporting 'mod_spatialite.dylib.dyylib' - there is a typo there... dylib, not dyylib.
Now, it might be a typo in DB4S.  You've specified 'mod_spatialite.dylib' and its trying to append '.dyylib' on the end.  Eurk.
As a demo, rename the file to 'mod_spatialite.dyylib' and see if that works...

[2020-08-14 14:43] MKleusberg commented on #2371
That extra '.dylib' is added by SQLite whenever loading the original file fails. So no need to worry about that. See https://sqlite.org/c3ref/load_extension.html:

So the question that remains is why the original file couldn't be loaded. I assume you already checked if the path and the permissions are correct?

[2020-08-14 15:26] ludwa6 commented on #2371
Good eye, Chris... But i just ran the process again, and the error msg (which i can't copy/paste for some reason) is like the above, only w/o the yy typo :-)

[2020-08-14 15:29] ludwa6 commented on #2371
The path is correct (it was auto-entered by drilldown to the file on my desktop), and as to permissions... It's on my own machine, i'm the admin, and it never challenged me for a password, so... I don't really see how this could be an issue.

[2020-08-14 15:32] chrisjlocke commented on #2371
So to confirm, its trying to find 'mod_spatialite.dylib.dylib' ?
Does it work if you go to the 'Tools' menu, then select 'Open Extension' ?

[2020-08-14 15:54] ludwa6 commented on #2371
On August 14, 2020 at 4:32 PM, Chris Locke <notifications@github.com> wrote:

So to confirm, its trying to find 'mod_spatialite.dylib.dylib' ?

Yes -so it seems.  /w 

 

Does it work if you go to the 'Tools' menu, then select 'Open Extension' ?

No, alas -that method fails w/ the same error msg.  /walt

[2020-08-14 17:12] mgrojo commented on #2371
Take a look at the error log in the Log dock window or in a console. They
might give some hint.

[2020-08-15 02:22] justinclift commented on #2371
As a diagnostic step, starting DB4S from the command line could be useful here.

With that (on macOS and *nix systems), it'll print out more informative ~diagnostic messages as it encounters weirdness.  In theory (!) it may also show why it's unhappy with the original `mod_spatialite.dylib` file, and then tries to find the `mod_spatialite.dylib.dylib` one.

[2020-08-15 08:54] ludwa6 commented on #2371
OK, thanks guys for the diagnostic tips.  So to TEST, i opened a console window, launched DB4S from terminal, went into the app and tried again to install the extension.  RESULT = same error message.  REPORT: Went back to console -because none of this stuff is meaningful to me at all- i just copied the whole screed from first mention of DB4S to last (49 mentions in all).... And here is that full s

[2020-08-15 09:01] mgrojo commented on #2371
I think the key could be in this comment:
https://github.com/sqlitebrowser/sqlitebrowser/issues/267#issuecomment-298400357

It has to be adapted to macOS though.

[2020-08-15 09:04] justinclift commented on #2371
@ludwa6 I just chucked that paste into a quoted section, as it makes things a bit easier to look through.  Hope that's ok. :smile:

[2020-08-15 09:11] justinclift commented on #2371
Hmmm, that paste seems to be output from the system console, rather than the terminal window you launched DB4S from?

Instead of that, is there anything displayed in the terminal window?  That'll probably be where diagnostic stuff from DB4S will be shown. :smile:

[2020-08-15 10:02] ludwa6 commented on #2371
No... Terminal just launches the app; there is no feedback on this operation but either a new command line prompt (means the operation was successful) or else an error message.

Is there someplace else i can look for DB4S-specific logfiles? What is this "Log dock window" that @mgrojo mentioned earlier in this thread? Only log feature i see in DB4S is the SQL Log, but that only gives feedback on SQ

[2020-08-15 10:58] chrisjlocke commented on #2371
The one and the same .... This is purely the SQL statements run and any SQL errors...

[2020-08-15 11:11] justinclift commented on #2371
That sounded weird to me, so I just tried the same thing on our macOS build server.  Yeah, you're right.  No output on the terminal line, though I didn't try loading any .dylib files.

@zhm @bmcbride Any ideas on how to figure out what's going wrong with this?

[2020-08-15 11:52] mgrojo commented on #2371
There is an option in the combo box called Error where any error reported
by SQLite should go. There should be something new when the extension is
loaded. It might be just "Image not found" though.

I'd also check where the remaining Spatialite libraries are located and
whether they can be loaded by SQLite from there.

[2020-08-15 12:45] justinclift commented on #2371
@chrisjlocke Errr... Aren't pastebin things cleared out after some time?

[2020-08-15 13:19] chrisjlocke commented on #2371
Not when the expiration is set to 'When Trump does something nice'.  😉

![image](https://user-images.githubusercontent.com/7872218/90313186-578cdf00-df02-11ea-9427-f62822ff7f7e.png)

[2020-08-15 15:27] MKleusberg commented on #2356
Can you try tomorrow's nightly build, @armahnii2000? I have added a 'Don't ask again' button to that message box :smile:

[2020-08-15 15:36] MKleusberg commented on #1092
The backtrace says that the crash happens while loading a certificate file and I assume the SSL errors are printed while that is happening. To me this looks like the SSL library is not included in the AppImage file or something similar.

[2020-08-15 16:04] armahnii2000 commented on #2356
Will do!

Thanks!
George

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Martin Kleusberg <notifications@github.com>
Sent: Saturday, August 15, 2020 8:27:40 AM
To: sqlitebrowser/sqlitebrowser <sqlitebrowser@noreply.github.com>
Cc: George Armah <armahnii2000@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [sqlitebrowser/sqlitebrowser] Add a way to

[2020-08-15 16:18] tdalis opened #2372 "It won't open on my Mac OS Catalina machine"
Details for the issue
--------------------

#### What did you do?
Won't open

#### What did you expect to see?
Tried to open an sqlite3 database I created but I am getting a macos catalina security error

#### What did you see instead?
“DB Browser for SQLite” can’t be opened because Apple cannot check it for malicious software.

Useful extra information
-------------------------

The info below of

[2020-08-15 16:53] MKleusberg commented on #2372
I'm not a macOS user myself so I can only forward you to [this issue](https://github.com/sqlitebrowser/sqlitebrowser/issues/2324) and [this link](https://support.apple.com/en-us/HT202491). You'll need to turn off that malicious software check in your preferences until we release a new version.

[2020-08-15 17:05] lucydodo commented on #2372
Duplicated issue, please refer #2346 issue.

[2020-08-15 17:24] MKleusberg commented on #2283
I've just updated my initial post again. @mbraeutigam Yeah, that was what I was thinking. Why have the Database Structure tab at all? I guess it makes it easier for newcomers to understand which relates to issue #2307 but maybe a compromise is possible.

Also I think I will start implementing this now. For starters my approach will probably be to just follow the layout of the Execute SQL tab, i.e.

[2020-08-15 18:46] MKleusberg commented on #2283
Turns out this is less difficult than expected. Tomorrow's nightly build should have basic support for multiple tabs inside the Browse Data tab. Any feedback is welcome :smile:

[2020-08-15 18:49] MKleusberg commented on #2229
I have just added support for multiple tabs (albeit not docks). Do you want to give it a try, @horst-p-w-neubauer? :smile:

[2020-08-15 18:51] MKleusberg commented on #756
Starting with tomorrow's nightly build there is now support for multiple tabs in the Browse Data tab. So you can browse multiple tables at once and switch between them.

[2020-08-15 19:44] mbraeutigam commented on #2283
@MKleusberg count me in for testing 😀🤙

[2020-08-15 20:04] MarqueIV commented on #756
I'll definitely make sure to check it out! :)

[2020-08-15 20:10] MKleusberg commented on #2283
Awesome, thank you @mbraeutigam! When we know it's working fine, we can also think about how to proceed from here :smile:

[2020-08-15 20:11] MKleusberg commented on #756
Thanks you, @MarqueIV! Just keep in mind that this is just a first step towards browsing multiple tables. If you have any suggestions on how to improve the UI feel free to post them in issue #2283 or here :smile:

[2020-08-15 21:49] justinclift commented on #756
Instead of needing to wait for the nightly builds to be created in a few hours, I've manually triggered new builds to be created.

The macOS and Win64 builds are already completed and online, the Win32 build is still in progress.  Should be finished and online in about 15-20 mins.

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2020-08-15 21:49] justinclift commented on #2283
Instead of needing to wait for the nightly builds to be created in a few hours, I've manually triggered new builds to be created.

The macOS and Win64 builds are already completed and online, the Win32 build is still in progress.  Should be finished and online in about 15-20 mins.

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2020-08-15 23:00] chrisjlocke commented on #2283
If I browse a table (5958 rows) then return to the database structure tab, right click on a table and select 'Browse Table', the 'Browse Data' tab is displayed with a 'The database is currently busy...' error.  The mouse is in the wrong state (busy state) so the user shouldn't wait for this to return to normal....
Clicking 'No' shows all 460 rows.

[2020-08-15 23:03] chrisjlocke commented on #2283
Suggestion: Instead of 'Browse 3' for the name of a new tab (for example) could it show the table name?  I know the user could change the table, so this would be out of sync, but they would want to change the name of the tab anyway.......

[2020-08-15 23:07] chrisjlocke commented on #2283
Suggestion: When browsing a table and you click 'New Tab', it would be more useful (?) to show the same table (so more of a 'Duplicate Tab').  I know the user will more than likely want to view a different table anyway, but when the new tab opens and they're on a different one to the one they're on, its a bit jarring.

[2020-08-15 23:08] chrisjlocke commented on #2283
Forgot to say.  Works nice!  I know you were 'apprehensive' of the multiple tab idea, but I think it looks good and works well!  +1 from me.....

[2020-08-16 06:02] chrisjlocke commented on #2283
Aah.  Screencast here.  https://streamable.com/7moea5
This might be because if you right-click a table and select 'Browse Table', it shows the data for the first table anyway, /then/ the table you want.  In the screencast, if I browse the flags table (about 45 rows) when it displays the error, its showing 5958 rows.

[2020-08-16 06:38] mbraeutigam commented on #2283
I got the same "database is currently busy" issue like @chrisjlocke said and I agree that "Browse n" tab naming would be better with "Browse $table".

Another issue I encountered: I have set up some monospace font (JetBrains Mono) for the data browser. When opening multiple new tabs they don't read these (/all?) settings and get default MsShellDlg font.

![image](https://user-images.githubusercont

[2020-08-16 08:00] justinclift commented on #2283
Looks like good progress @MKleusberg!

As a extra thought with the "`Browse $table`" approach, it'll need some kind of link between the tab name and the "Table ..." drop down selector in the Browse tab.

For example, lets say a tab is opened with the name "Browse Foo", The user switches that table (using the drop down selector) to table "Bar".  The tab name should then automatically change to "Bro

[2020-08-16 08:30] chrisjlocke commented on #2283
That could get messy.  What if I changed the name to 'poo poo'.  I wouldn't want the name changing to 'browse Fish' just because I clicked (maybe by accident) the Fish table.  That would be like the Execute SQL tab changing to the name of the last statement .... (and don't get any ideas about implementing that!!! 😉 )

[2020-08-16 08:37] justinclift commented on #2283
If you changed to the "Fish" table using the drop down table selector, you likely *do* want the correct table name in the tab title, rather than the name of the previous table. :wink:

[2020-08-16 10:36] chrisjlocke commented on #2283
If I changed to the Fish table, and the tab name was 'poo poo', I may have wanted 'poo poo' for a reason, so wouldn't now want 'browse fish' - especially if I'd browsed the fish table accidentally.  I'm sure its not a life-changer though, and I'd get over the initial sadness.... 😆

[2020-08-16 10:46] chrisjlocke commented on #2283
I think you implied this, but just to confirm the toolbar settings don't get applied either - so the toolbar isn't showing text beside the icons (should be [1] but is showing as [2]).

![image](https://user-images.githubusercontent.com/7872218/90332590-06d6be00-dfb6-11ea-87cb-d31480b405f4.png)

[2020-08-16 11:23] rik1301 opened #2374 "Edit database cell shortcut to exit the pop-up window"
Hi.  Is there a shortcut to exit the 'edit database cell' pop-up when editing a large cell?  I have found purely through some experimentation that CTRL + RETURN saves the new cell contents, but annoyingly this doesn't close the editor at the same time, all it does is make the 'apply' button flash.  The ESC key would be the most likely candidate for doing it manually but this doesn't do anything.

[2020-08-16 11:38] rik1301 commented on #2365
Hi guys, just to come back to this I've fired up the latest nightly to check the changes to the 'expand all rows' or whatever it's called.  I can report that it now 'wraps' all truncated cells within a second or two, which is great news, however this causes a new problem in that the data grid view scrolling is extremely laggy/jerky on my 448k records and a notable increase in my CPU fan speed...

[2020-08-16 11:43] rik1301 commented on #2374
I note that ALT F4 works, but only when the full window is selected.  Can this be reconfigured somewhere?

[2020-08-16 12:21] chrisjlocke commented on #2374
The 'edit database cell' window is a docked window, and is open all the time - its not a modal window only open when needed, so technically, can't be 'closed'.  After editing, you simply click 'Apply' then click into the next cell you need.

[2020-08-16 12:37] rik1301 commented on #2374
Hi Chris, The problem is that it gets in the way of editing the data.  ie. it's impossible to edit the data without having to use the mouse to click on various buttons to do stuff.  Hence the question how to bypass this requirement by using the keyboard only.  I personally have no need for the docked window being permanently active and am able to edit all cells with just the keyboard, except I can

[2020-08-16 12:42] rik1301 commented on #1976
Mrgrojo - I've just been trying the toolbar and discovered an issue (I think).  My grid view text is set to Verdana 10pt however when I open the toolbar it has Ms Shell Dlg 2, 8pt set.  Should it not reflect the settings I have set in my preferences rather than the program default?  I can change it back to Verdana 10pt for a given row/cell, but when I want to format a different one it reverts back

[2020-08-16 12:44] chrisjlocke commented on #2365
Yes, DB4S loads in 'batches', so that rather than spend 30 seconds filling the grid unnecessarily, it only fills it as you scroll through.

Is this on every scroll up and down, or only on the initial scroll, as the rows are rejiggled?

[2020-08-16 12:48] chrisjlocke commented on #2374
You can 'close' the edit database cell via the [x]

![image](https://user-images.githubusercontent.com/7872218/90334638-02ff6780-dfc7-11ea-8f6b-d1d210205374.png)

Or clicking 'View' and de-selecting 'View Edit Database Cell'.

![image](https://user-images.githubusercontent.com/7872218/90334651-1a3e5500-dfc7-11ea-9de5-04fa4c9fc97c.png)

Apologies  - I thought you meant close it as in 'Click OK to s

[2020-08-16 12:51] chrisjlocke commented on #2374
Unfortunately, we're limited with the grid control that's part of the Qt framework, and how that works.  I think the worst one is the dropdown 'suggestion' that appears that can't be tabbed out of or arrowed out of - you have to press Enter first.

[2020-08-16 12:52] rik1301 commented on #2365
Hi Chris, regrettably it happens all the time when attempting to scroll up and down.  I could email you the sqb if you would like to experiment with it yourself.

[2020-08-16 12:56] rik1301 commented on #2374
Hi Chrs, understood - yes, I did think it could be to do with restrictions with the design at your end otherwise you'd have probably already implemented it.  But all is not lost as your reply above with the CTRL E option to close it is a workable solution for me.  Thanks.

[2020-08-16 13:02] mgrojo commented on #2365
@rik1301, is there a noticeable difference while scrolling when you have the option to adjust row sizes or not? If not, the performance is related to the background reading of data as Chris described. There is a preference setting  ("Database > Prefetch block size")  for adjusting the number of records which are loaded each time. You can play with that value and left it to whatever value it gives

[2020-08-16 13:13] mgrojo commented on #2286
@ecanfi, we think we have fixed this issue in our development version. The fix is included in our nightly build. Would you mind installing it to confirm that we can close this issue?

[2020-08-16 13:15] justinclift commented on #2374
Personally, I reckon the "automatically open the Edit Database Cell" thing still seems to get in the way sometimes.  I'm almost tempted to add some way to toggle it's behaviour (eg disable it unless explicitly opened), but we'll see... :wink:

[2020-08-16 13:16] rik1301 commented on #2365
" is there a noticeable difference while scrolling when you have the option to adjust row sizes or not?"

Not sure what you mean here.  The option is there all the time over the row numbers.  You can either toggle it or or off.  In its 'off' default state, the scrolling is smooth and instant, for the entire 448k records.  No problems at all - works exactly as one would expect.  Of course, in this

[2020-08-16 13:16] justinclift commented on #1976
@mgrojo ^^^

[2020-08-16 13:20] chrisjlocke commented on #2374
It doesn't appear if you stop double-clicking in a cell 😉

[2020-08-16 13:22] rik1301 commented on #2365
"There is a preference setting ("Database > Prefetch block size") for adjusting the number of records which are loaded each time. You can play with that value and left it to whatever value it gives better response in your platform."

This doesn't seem to do anything.  It was 50k by default.  I have tried it at 2000, saved, nothing changes.  The data in the grid is still the full 448k records and l

[2020-08-16 13:23] chrisjlocke commented on #2365
I wonder if DB4S is calculating that the cell contents are greater than the width, so adjusting the height, regardless of the current height.  I haven't looked at the code, so don't know.  Might be that its resetting the heights unnecessarily as each row is scrolled into view.  Only a guess...

[2020-08-16 13:29] chrisjlocke commented on #1976
No, as you're viewing data, so the bold/italic is just changing the view of that data.
There is no 'standard' way of displaying formatted text - HTML has tags, RTF has convoluted code, Word DOC formats have magic fairies and .... well, you get the idea.  You can't 'bold' a word in a cell as there is nothing to bold - how would it format it to display it as bold, without changing that data?

So, sh

[2020-08-16 13:57] ludwa6 commented on #2371
SOLVED: because i could think of nothing else, i downloaded another copy of the extension *from same source*, rebooted the app and loaded the extension successfully.

Sorry guys, for taxing your brains with what was in fact a problem on my end; i should have thought to try this before, but since the file my DB4S instance was choking on appeared intact (same size, icon, etc. as the functional one i

[2020-08-16 13:57] #2371 closed

[2020-08-16 14:14] rik1301 commented on #1976
Chris Locke: thank you for your reply.  I received it in my emails, but for some reason it hasn't populated here.

[2020-08-16 14:44] chrisjlocke commented on #1976
No, I realised I was talking complete goo goo, so deleted it, as it wasn't relevant to the issue.

[2020-08-16 14:50] chrisjlocke commented on #2371
Thanks for taking the time letting us know how you solved it - something else to try if it happens to someone else.
Glad you got it working in the end! 😄

[2020-08-16 15:52] mgrojo commented on #2283
A (probably related) issue is that the table settings from project files aren't restored.

Nice step forward, but I'm wondering if converting the Browse tabs to docked windows would be difficult. They should be only dockable inside the Browse Data main tab, so they can fill all the main space. It'd definitely give more freedom to stack the browsers or make them tabs, or even to detach them to move

[2020-08-16 16:18] rik1301 commented on #2374
Hi Chris.  Is there another way to QUICKLY edit a long cell then, that I'm not aware of?  I realise I can SLOWLY click the cell once, then 2 seconds later click it again to highlight it, then another second later to place the cursor where I want, but I don't know of a way to do that quickly as attempting to do so just brings up the editor pop-up instead.  If I cell the once just once then when I s

[2020-08-16 16:50] chrisjlocke commented on #2374
You can click once in a cell and press [F2].

[2020-08-16 16:59] rik1301 commented on #2365
I've uploaded to .sqb to my google drive.  If I've set the sharing permissions right you should be able to download it and see the problem first hand : https://drive.google.com/file/d/1j6K6V6L7YyhhfvK8YHYVX8D-87KBGsjj/view?usp=sharing

[2020-08-16 17:23] ludwa6 commented on #2371
Thank YOU, @chrisjlocke & company -gotta say, you guys are amazingly responsive to user issues (one more reason to love DB4S  :-)

[2020-08-16 18:02] chrisjlocke commented on #2371
No problem.  Don't forget you owe us USD 67 for each download, USD 85 for each support ticket and an hourly charge of USD 32 for me to mow my lawn.  Or something.

Only joking! 😄

[2020-08-16 19:01] scottfurry commented on #2283
Vast amounts of discussion...almost like we need a diagram...
[Pencil Project](https://pencil.evolus.vn/) might be useful here to convey "ideas".
(my $/‎€ 0.02)

[2020-08-16 20:34] mgrojo commented on #1976
Yes, that was a bug and it will be solved in the next nightly build.

No, it is not currently possible and probably never be. Take into account that the format is metadata applied to the database and stored in a project file.
Applying different formats to the data inside a cell means that it would have to be saved as cell data in the database itself and that would interfere with the user data.

[2020-08-17 01:29] justinclift commented on #2283
@scottfurry That project looks useful.  I've personally been using [Balsamiq Wireframe](https://balsamiq.com/wireframes/) (Desktop version), which is unfortunately closed source.  That Pencil Project thing might be workable instead. :smile:

[2020-08-17 01:45] scottfurry commented on #2283
@justinclift - they're also on github. Electron-based app. I had to tweak the gentoo ebuild for my purpose but it's installed.

However, the point was that we're tossing about a whole bunch of prose about details and it's just going over my head. A diagram (export function with Pencil) might be apropos. Diagram would help people to focus on what each other thinks is important or how things should

[2020-08-17 01:54] justinclift commented on #2283
@scottfurry No worries.  At first that Pencil project looked like it wouldn't work on my system.  But, [workaround was found](https://github.com/evolus/pencil/issues/605#issuecomment-674615903), so it seems functional now. :smile:

[2020-08-17 06:18] chrisjlocke commented on #2370
*cough*

[2020-08-17 06:19] chrisjlocke commented on #2203
@horst-p-w-neubauer - *cough*

[2020-08-17 07:11] ludwa6 commented on #2371
Heh... "Or something," it will have to be.  Best i can offer you today, @chrisjlocke , is [a little song of hope](https://www.youtube.com/watch?v=ExHd1ZGYCm8) ... But soon enough (like: soon as US election season is over) i should be able to pay your quoted USD fees with a few euro-centimes, i'll wager!  😃

[2020-08-17 07:55] justinclift commented on #2370
Meh, lets just close this.  It's probably bot spam or similar.

[2020-08-17 08:17] chrisjlocke commented on #2202
@ThierB - *cough*

[2020-08-17 08:31] chrisjlocke commented on #2370
Interesting that it seemed to come from DB4S (has the about info from the application).

[2020-08-17 09:36] ChristophAxthelm opened #2375 "Scaling is wrong at HDPI monitor"
Details for the issue
--------------------

#### What did you do?
* Open DB Browser for SQLite

#### What did you expect to see?
* Correct font size for all UI elements

#### What did you see instead?
* The font sizes of the buttons and tab headers are too small
* The font size of the Menu ("File", "Edit", "View", etc.) have the correct font size.

Useful extra information
------------------------

[2020-08-17 10:13] justinclift commented on #2375
Not sure if it'll help with the HiDPI problem, but we've recently added a bunch of extra Preferences settings for changing the size of UI elements.

The changes are in our nightly builds, if you're up for trying that out?

&nbsp; &nbsp; https://nightlies.sqlitebrowser.org/latest/

[2020-08-17 10:14] justinclift commented on #2370
Oh, good point.

[2020-08-17 14:08] mgrojo commented on #2370
I think we've just made so easy to open a bug from the program, that people follow the link from the menu because they have a minor problem, sign up in github as required, enter the problem and forget about it. They've probably solved it afterwards. I think we shouldn't bother about it, so it's good idea to close them after the first request for details is not answered.

[2020-08-17 15:28] MKleusberg commented on #2283
Quick update: The problem with the "database busy" message should be fixed now. The wrong font settings too. Also the title of each tab now reflects the selected table. However as soon as you set a manual title this won't be changed anymore. Can you test again with the next nightly build and see if everything works as expected? :smile:

[2020-08-17 15:37] MKleusberg commented on #2283
Yes, that's one plan. But before that we should figure out the general UI layout.

[2020-08-17 15:39] MKleusberg commented on #2283
Can you explain what exactly isn't restored? I just tried to reproduce this but couldn't figure it out :smile:

Thanks for the link. That might be worth a try!

What does everybody think? Tabs or docks? :smile:

[2020-08-17 16:31] mgrojo commented on #2283
Sorry, I cannot reproduce it now. :confused: Conditional formats were not restored. Maybe I had broken my project file before.

[2020-08-17 16:33] MKleusberg commented on #2283
Ok no worries. If it happens again, maybe you can send me that project file. Just in case there is a bug in the code after all.

[2020-08-17 17:23] armahnii2000 commented on #2356
Just tried it out and its working great!

[2020-08-17 17:46] lucydodo opened #2376 "Proposal: Establishment of project contribution guidelines"
What is your question
-----------------------
First of all, I'm worried that I'm not a member of the project, but I'm think it is good idea, so I make this suggestion.
Many open source projects have established and published their own contribution guidelines.
I think this helps many other existing and new contributors, including me. In fact, GitHub also supports this [feature](https://docs.github.

[2020-08-17 23:03] justinclift commented on #2283
Kind of embarrassingly, I'm not sure what the practical difference is in their capabilities. :wink:

Having some kind of system which lets people reconfigure their layout fairly radically (and save that layout for later recall) would probably be **really** welcome.  It'd probably remove the need for people to use alternative layout projects like https://github.com/srgank/anotherSQLIte. :smile:

Al

[2020-08-17 23:10] justinclift commented on #2356
Awesome!  Well done @MKleusberg. :smile:

Thanks for verifying it @armahnii2000. :smile:

[2020-08-17 23:10] #2356 closed

[2020-08-18 05:49] chrisjlocke commented on #2283
Tabs would be within a container, within the app.  From @mgrojo's suggestions, a dock would be 'detachable', so you could have one dock over there, and another dock over there, rather than flipping between two tabs - so two docks visible on the same monitor, etc.  I believe.  I hope.  Maybe.

[2020-08-18 06:06] mbraeutigam commented on #2283
@chrisjlocke's explanation sounds correct to me. I don't know how Qt's possibilities with tabs are, but if you take Chrome for example -> It is even possible to detach the tabs there. But anyways I think another difference between tabs and panels is that panels could be anchored/snapped to a certain area in the program's / parent's container's layout (e.g. left/top/right,bottom/center|expanded)

[2020-08-18 06:08] scottfurry commented on #2283
On 2020-08-17 11:50 p.m., Chris Locke wrote:

This sounds more like MDI (multiple document interface). e.g. word or
excel. One application instance but multiple documents in that instance.

[2020-08-18 06:24] chrisjlocke commented on #2283
Kind of.  An MDI is multiple windows within one controlling window.  You can't drag a document out of Word, for example - Word is the main 'container'.  With docks, (I believe) you can have them floating all over your screen, so they are independent windows.

[2020-08-18 07:36] justinclift commented on #2283
In that case, my preference is "lets put everything in docks"!  We'd still default to the same layout people are used to, but allow people to customise the heck out of DB4S layouts if they want. :smile:

[2020-08-18 07:47] scottfurry commented on #2283
I think we're abusing buzz words here.
FWIW, this is Qt's take on "Dock Widgets": https://doc.qt.io/qt-5/qdockwidget.html#details
This doesn't sound like what we want.

Which brings us back to multiple windows...
Multiple windows. Each with it's own customized configuration. That seems rather messy. Complicating matters is ensuring any/all open window(s) is(are) communicating with the Application

[2020-08-18 08:03] justinclift commented on #2283
Ahhh well, was a thought. :grin:

[2020-08-18 08:24] chrisjlocke commented on #2283
I like the idea of viewing multiple tables at once.  I haven't used it a lot, but I know my boss uses the multiple query tool in Microsoft SQL Server.  So two queries in the Execute SQL window, and two tables appear - one for each query.  Obviously select three queries, and get three tables, etc.  Thats different to having multiple Browse Data tabs though, which is the main 'goal'.  I think using

[2020-08-18 09:10] MKleusberg commented on #2283
@justinclift Can you start a build of the ```docks``` branch so people can try that?

I've prepared a version with docks which just barely compiles but already shows the look and feel. Maybe that helps with the discussion :smile: But please, don't use that version for your real work and don't expect it to run smoothly :wink:

[2020-08-18 10:21] justinclift commented on #2283
@MKleusberg Cool, will do!

I'll update this comment with download URLs when things are ready for trying. :smile:

[2020-08-18 11:24] chrisjlocke commented on #2283
Confirmed.

Looks good! 👍

[2020-08-18 11:30] chrisjlocke commented on #2283
Thanks @justinclift for building the docked versions.

The docks work quite well - can view multiple windows at once.

![image](https://user-images.githubusercontent.com/7872218/90507697-37e9f680-e14e-11ea-9d42-af2c9861f560.png)

The only 'annoyance' is that you can't move the dock window to the lower left side of the screen without it docking into the main application, but thats only a minor grip

[2020-08-18 11:38] MKleusberg commented on #2283
Yeah, they can be a bit awkward to use, especially on small screens, but generally work quite well.

I definitely like the fact that you can switch to the Execute SQL tab and have a free floating Browse Data dock somewhere. What might be tricky to find out is how to update the Edit Cell and Plot docks when multiple table views are visible.

[2020-08-18 11:50] mbraeutigam commented on #2283
![image](https://user-images.githubusercontent.com/4228180/90508931-d54a2800-e158-11ea-9258-050181d8a449.png)

Oh boy, that is looking good 😻
Now you can do pretty crazy stuff with those docks if you have enough screen resolution...

But in this version I am still getting that
![image](https://user-images.githubusercontent.com/4228180/90509256-50abd980-e159-11ea-8c8b-251f0aff8138.png)
Database is

[2020-08-18 11:56] MKleusberg commented on #2283
@mbraeutigam That's one of the many bugs the docked version introduces. In the regular nightly build that error message should be gone.

[2020-08-18 12:16] MKleusberg commented on #2283
I have just updated the ```docks``` branch (by force push) to fix some of the issues it had. This version might actually work for many use cases.

[2020-08-18 12:17] lucydodo commented on #2376
I got comments on this issue by email from @justinclift . There was such a discussion inside the project before, and there are some challenges that need to be addressed, so I think a little more review is needed.

I close the issue accordingly.

[2020-08-18 12:17] #2376 closed

[2020-08-18 12:19] justinclift commented on #2283
Cool.  New builds coming up.  I'll update this comment as they become ready. :smile:

### Win64

Building now...

### Win32

Waiting for other builds to finish...

### macOS

Waiting for other builds to finish...

[2020-08-18 12:39] justinclift commented on #2283
@MKleusberg The compile failed on that. :wink:

Build log: [docks-error1.txt](https://github.com/sqlitebrowser/sqlitebrowser/files/5090392/docks-error1.txt)

[2020-08-18 12:43] justinclift commented on #2283
Interestingly, it seems to be hitting an error when parsing MainWindow.h:

[code]

Line 226 is pretty much the end of the file, so hopefully this is just something simple like a typo?

https://github.com/sqlitebrowser/sqlitebrowser/blob/8868915e514baf7861a4fd715ffef7e16f2b6f54/src/MainWindow.h#L226

[2020-08-18 12:46] MKleusberg commented on #2283
Hmm, it more looks like it cannot tell the exact location of the problem and just gives us the last line. This might need some time to figure out :frowning:

[2020-08-18 12:52] MKleusberg commented on #2283
@justinclift Can you try again? I have just added a possibly missing include.

[2020-08-18 12:52] justinclift commented on #2283
Yep, trying now.

[2020-08-18 12:55] justinclift commented on #2283
Ahhh, that might not have been the problem.  Looking at the build VM git repo in a bash session, it seems more like things got messed up by the rewritten git history for the `docks` branch.  It thinks it's in the middle of a manual merge, so I have no idea what state the source was actually built from.  I'll get that back into a proper state (not hard), and try building again.

[2020-08-18 12:57] justinclift commented on #2283
Yeah, `MainWindow.h` was messed up.  It had the manual merge conflict markers embedded.  eg `<<<<<<<<<` (etc)

[2020-08-18 12:59] justinclift commented on #2283
New builds coming up.  I'll update this comment as they become ready. :smile:

### Win64

Building now...

### Win32

Waiting for other builds to finish...

### macOS

Waiting for other builds to finish...

[2020-08-18 13:46] MKleusberg commented on #2283
Thanks :smile: This version has two known bugs:
- The plot is not updating correctly
- When opening a database, then immediately right clicking a table and clicking "Browse Table" the original dock is empty until you refresh the view or change tabs

If anybody notices any other issues with this please let me know. Maybe we can merge this into the master branch soon-ish.

[2020-08-18 14:41] chrisjlocke commented on #2283
If I view two different tables, changing tabs works fine.  If I view the same table in two tabs and change tabs, I get the 'Waaah database busy' error.
https://streamable.com/yi2y0g

Actually, after creating a screencast, its only doing it on one table.  I assume as its the first?

[2020-08-18 15:06] MKleusberg commented on #2283
Ah hmm. I think that's because all the docks are updated simultaneously. So while one is still loading the second one already tries to access the database and needs to wait. I'll think about how to solve that. The tabbed approach was so much easier here because it just never was possible to see more than one table.

[2020-08-18 15:12] justinclift commented on #2283
It's probably overkill, but maybe use a SQLite database (internally) for a simple queueing implementation?  Might be easier than having to screw with X number of locks, etc.

[2020-08-18 15:45] MKleusberg commented on #2283
I have just updates the ```docks``` branch again. This one fixes the plot and the empty table view I mentioned and implements the most basic of all possible solutions to the problem mentioned by @chrisjlocke. It might not perform very well for many docks which all show large tables but for now we could just blame the users who try that :wink:

[2020-08-18 16:07] justinclift commented on #2283
k, new builds coming up again... :wink:

[2020-08-18 16:13] MKleusberg commented on #2283
Thank you for your time with this, Justin! That's probably the last version for today too. If nobody mentions any new problems we could just be brave and merge it tomorrow or so.

[2020-08-18 16:31] mgrojo commented on #2283
Awesome! It works like a charm. I foresee users having big or multiple screens going crazy with dozens of table browsers open :smile:

I've gathered some issues or pending work. They could be known, @MKleusberg, but I write them down all, so they aren't forgotten:
-[ ] It should not be allowed to close the last browser, or a new one should be opened automatically. Otherwise, you get a useless Data

[2020-08-18 19:43] mbraeutigam commented on #2283
@mgrojo

Count me in 😸

What about Browser docks? 🤣

![image](https://user-images.githubusercontent.com/4228180/90557306-9046e580-e19a-11ea-949c-becee3a32fc6.png)

You can see it when clicking a cell, but I agree, some kind of dock title bar coloring when focussing would be great.

---

👍 Neat: even File > Open Project restores those docks.

- [ ] But it doesn't restore the positions correct (e.g.

[2020-08-18 20:19] ajaykumarmeher opened #2377 "Enable sqlitebrowser to use integrated graphics card instead of high performance graphics card in macOS"
Describe the new feature
--------------------------
Currently the app is using high perf graphics card instead of normal integrated graphics card. Therefore, the app is impacting heavily of battery life.

Additional info
---------------
Please answer these questions before submitting your feature request.

#### Is your feature request related to an issue? Please include the issue number.
NO

####

[2020-08-18 20:29] mgrojo commented on #2283
In my case (Ubuntu Linux) the cell color does not change when you click in another table, so both are displayed the same.

By the way, another thing to consider:
- [ ] Should navigating to the parent table from a foreign key open it in another dock? That is what #1465 and I think it's a good idea.

[2020-08-18 20:33] mgrojo commented on #2283
Well, considering that we also have the other tool docks (plot, edit cell, log, etc) that could even make sense :smile:

[2020-08-19 00:21] justinclift commented on #2377
Interesting.  Our application is built upon a cross platform framework called "Qt".  My first thought it that maybe there's some settings in Qt that would allow this.  Maybe @revolter would know?

[2020-08-19 05:19] afygit commented on #2370
I opened the database, I am typing through keyboard but nothing is coming
on the screen. As if it's not taking bin the input.

On Mon, 17 Aug, 2020, 11:48 AM Chris Locke, <notifications@github.com>
wrote:

[2020-08-19 05:53] chrisjlocke commented on #2370
Thanks for replying back, but we really need more information.  This is like taking your car to a garage and saying, "I heard a noise.  Please fix."

Any chance of a screenshot? Where are you trying to type information?  What version of DB4S are you using?  What operating system are you using?  What are you trying to do - add a new table, change some data in a table?

[2020-08-19 06:04] chrisjlocke commented on #2283
The issue is, you're moving a dock from its location to somewhere else.  If another one spawned in its place, that could be confusing for Mr Newbie User.  If you return to the 'Database Structure' tab and 'Browse Table', one does spawn back...  don't know.  Its worth a go, I guess.  I can just see 'confusion' where someone moves something, and something pings back in its place.

Don't mean to be '

[2020-08-19 06:11] chrisjlocke commented on #2283
Doh!  I'm a pleb.  It already does this, if you dock it right.

![image](https://user-images.githubusercontent.com/7872218/90598463-007d5780-e1eb-11ea-94d0-b12fe5cfc6cc.png)

Maybe this should be the default docking method?  Or maybe it was and I broke it somehow.  Anyway.  This is good.
Thought #2.  How can the tabs be changed to be at the top instead of the bottom?

[2020-08-19 06:20] revolter commented on #2377
Maybe adding the `NSSupportsAutomaticGraphicsSwitching` Info.plist key: https://codereview.qt-project.org/c/qt/qtbase/+/73839/.

More details: https://stackoverflow.com/a/27211853/865175.

Are we using Qt 5.3+?

[2020-08-19 06:25] chrisjlocke commented on #2283
Ooh.  If you have one dock window open and save preferences, all is good.  If you have two docks open, DB4S just bombs out completely.  Actually, it occurs as soon as you open a new dock, even if you close the original.  https://streamable.com/dlu3qj

[2020-08-19 07:06] chrisjlocke commented on #2377
Qt v5.12.8, I believe.

[2020-08-19 07:12] justinclift commented on #2377
@revolter Thanks heaps, that looks like the right kind of thing. :smile:

And yep, Chris has it right.  Our macOS and windows builds at the moment are using Qt 5.12.8.

[2020-08-19 07:20] MKleusberg commented on #2377
#1935 looks like a related issue. Also, as @mgrojo says there, this might be related to #1233.

[2020-08-19 07:21] justinclift commented on #2377
@ajaykumarmeher Would you be ok for trying something out?

If you could try adding this:

[code]

... to the file `/Applications/DB Browser for SQLite.app/Contents/Info.plist`.

It will need to be near the end, just after the `<true/>` string before the `</dict>` one.  Make a backup of the file first though, just in case. :smile:

In theory, once that change is done, you should be able to use the

[2020-08-19 08:06] ajaykumarmeher commented on #2377
@justinclift thanks a lot for providing the fastest solution possible :) kudos to the team.

<img width="798" alt="Screenshot 2020-08-19 at 1 35 43 PM" src="https://user-images.githubusercontent.com/839596/90608974-fe35f000-e220-11ea-9407-4c08868946e9.png">

[2020-08-19 08:59] cbtek commented on #2183
I downloaded and compiled version 3.12 and am still seeing a slow down.  I've attached a sample (empty) database (
[sample.db.zip](https://github.com/sqlitebrowser/sqlitebrowser/files/5095148/sample.db.zip)) that mimics the kind of tables I'm processing for comparison.  On my machine (AMD Ryzen Threadripper 2950X 16-core / 32GB) it takes about 30 seconds to open and is pretty sluggish when moving

[2020-08-19 09:02] justinclift commented on #2377
Awesome.  I've just added that change to our source code, so it'll be in our nightly builds and all future releases too.

Thanks for looking into this @revolter, and thanks for testing it @ajaykumarmeher. :smile:

[2020-08-19 09:03] justinclift commented on #1935
@cisoun If you're still interested in a solution to this, it should be fixed in our nightly builds from tomorrow onwards. :smile:

[2020-08-19 09:12] justinclift commented on #2370
@afygit As Chris mentions, some screenshots or perhaps even a screencast (?) would be really useful here.

We **do** try to help, but we need to know what we're dealing with. :smile:

[2020-08-19 09:31] MKleusberg commented on #2283
That's a very good point. But it might be too early to implement that just now because we still share the table view settings between all the browser instances. So opening a new dock with a filter applied would also override any filter settings in another dock for that table. But let's keep that issue in mind - I'll add it to the top comment.

[2020-08-19 09:33] MKleusberg commented on #2283
But we don't call the docks in our UI, just "SQL Log" or "Plot". For now I have just renamed them to "Data Browsers".

[2020-08-19 10:02] mj2015 opened #2378 "Add display format for C#/.Net DateTime Ticks"
A lot of C#/.Net projects use an integer value of "Ticks" in Sqlite as it is fast for queries. But it ends up with numbers like 637108979310830000 which is less that easy to read as a human than "02/12/2019 15:38:51".

There is "simple" code at [CodeGuru](https://forums.codeguru.com/showthread.php?497856-Convert-C-DateTime-to-VC-Ctime&s=bf7aee4752594232909c5dce17e75652&p=1943116#post1943116) that

[2020-08-19 10:11] justinclift commented on #2378
@chrisjlocke Any idea what a "Tick" is here?

Looking at that code example, it seems related to unix epoch time in some way?

[2020-08-19 10:15] mj2015 commented on #2378
[Microsoft documentation on tick](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.ticks?view=netcore-3.1)

"A single tick represents one hundred nanoseconds or one ten-millionth of a second. There are 10,000 ticks in a millisecond (see TicksPerMillisecond) and 10 million ticks in a second.
The value of this property represents the number of 100-nanosecond intervals that have elapsed si

[2020-08-19 10:55] justinclift commented on #2378
Cool.  That should be fairly straight forward., :smile:

[2020-08-19 11:08] MKleusberg commented on #2283
I agree. Tabs might be a better default. The only question is this: Suppose there are two non-tabbed docks already. To which one should a new dock be added as a tab? Maybe a random one is good enough?

[2020-08-19 11:29] chrisjlocke commented on #2283
Had a look, and docks can be 'undocked' but only put back into a container.  A dock can't be docked/joined with another undocked dock (so many docks here!)  So a new dock would only spawn into a container.  Am i making sense?  Probably not...

[2020-08-19 11:37] chrisjlocke commented on #2283
![image](https://user-images.githubusercontent.com/7872218/90629794-daba7780-e217-11ea-910c-cc61f9404145.png)

So I undocked a dock ( [1] and [2] ) and couldn't get [1] to sit with [2].  They would only go into [3].  Obviously [1] and [2] would both go into [3].  Any new docks should therefore go into [3].

In this scenario:

![image](https://user-images.githubusercontent.com/7872218/90630094-5157

[2020-08-19 11:38] chrisjlocke commented on #2283
Did you see my comment above about DB4S not being happy about saving preferences?

[2020-08-19 11:42] mgrojo commented on #2378
This display format seems to work:

`datetime("your_column" / 10000000 - 62135596800, 'unixepoch')`

It works for your sample value: 637108979310830000 returns "2019-12-02 15:38:51", so I've added it to the list of predefined display formats. Could you confirm it's working for you in [tomorrow's nightly build](https://nightlies.sqlitebrowser.org/latest/)?

[2020-08-19 11:43] MKleusberg commented on #2283
@chrisjlocke Thanks for the screenshots. That helps a lot :smile: I'm currently experimenting with always grouping new docks with a random existing dock. In case that dock is a floating window the new dock is just added as before. Sounds like a completely inept solution but doesn't work too bad actually.

I'll look into that Preferences crash now. I think that's the only remaining issue of all the

[2020-08-19 11:53] mgrojo commented on #2283
Ok, but I suppose that effect already exists if the parent table is already open in another browser.

But I'm not talking about detaching or moving the last dock, but about "closing" that very last dock window (X button). Then you might think (I did) that you have reached a dead-end. But I realize now that you can open a new one using "Browse Table" from the Structure tab or dock.

[2020-08-19 12:00] MKleusberg commented on #2283
Hmm you're right. Doesn't hurt to add it then.

[2020-08-19 12:06] chrisjlocke commented on #2283
aah yes, see what you mean.  I thought that too, and an empty 'Browse Data' tab looks quite naked.  Thats why I commented above about a global toolbar, like the 'Execute SQL' tab, which would have a 'New tab' button, etc.

[2020-08-19 12:08] MKleusberg commented on #2283
With the latest version DB4S always opens a new dock inside the Browse Data tab when you close the last dock. That seems to work fairly ok. Still we can add a global toolbar too in the future :smile:

[2020-08-19 12:10] MKleusberg commented on #2283
Again thank you very much for your feedback everybody! I have just updated the ```docks``` branch again. If @justinclift has the time to make a new build and this turns out to be relatively stable I'd suggest merging this into master. I think I have managed to address all bugs you mentioned (except for Manuel's "Should navigating to the parent table from a foreign key open it in another dock?" whi

[2020-08-19 12:14] mgrojo commented on #2283
An option might be to have a special initial browser that [cannot be closed nor made floating](https://doc.qt.io/qt-5/qdockwidget.html#features-prop). In that case, the space never would be empty and at least a toolbar will always be visible.

[2020-08-19 12:16] chrisjlocke commented on #2283
So similar to how the 'Execute SQL' tab #1 works?  You can close tab #1 if there is a tab #2, but not if its the last man standing...

[2020-08-19 12:47] mgrojo commented on #2283
This is more or less how Martin has implemented it. It opens a new one automatically when you close the last one. I'm happy with that, but what I said was that the first browser would be special without float or close buttons. At the end it's the same result, but you cannot leave that space empty. It's just fear of the emptyness :rofl:

I've just tested it. All nicely done. Haven't found any probl

[2020-08-19 13:13] MKleusberg commented on #2283
Just added that too :smile:

[2020-08-19 13:45] mgrojo commented on #2283
Shouldn't change to the new browser, or maybe open it stacked for this action? We called this "jump there" :wink:

[2020-08-19 14:39] justinclift commented on #2283
Just saw this.  Starting the build process now. :smile:

### Win64

Building now

### macOS

Waiting for other builds to finish first

### Win32

Waiting for other builds to finish first

[2020-08-19 14:46] justinclift commented on #2378
@mgrojo The code change looks simple enough that we could probably cherry-pick it to 3.12.1 too. :smile:

[2020-08-20 07:41] mbraeutigam commented on #2283
👍 Preeeetty interesting stuff going on!
At first sight I though what the heck is going on with these docks in the tabs, but after using it for some minutes, I can absolutely see the flexibility it gives! Now I am happy having something I never thought I am wanting/needing 🤣

![image](https://user-images.githubusercontent.com/4228180/90729270-9d60f300-e2c6-11ea-94f1-151f048838ea.png)

👎 But on the

[2020-08-20 08:07] MKleusberg commented on #2283
Yeah, I noticed that too. When I opened this issue I thought we might want to get rid of the Browse Data tab entirely and move the Data Browsers one level up to avoid this weirdness. But just as you said: the result might be weird but is pretty interesting because it allows you to configure a view of different tables next to each other.

That said, the main reason for implementing it the current w

[2020-08-20 08:14] mj2015 commented on #2378
@mgrojo I can confirm it works as it should. Thank you so very much - I think many people will like this! (I should have asked sooner 8-)

[2020-08-20 08:27] chrisjlocke commented on #2283
I see one dock has a blue bar, but this doesn't seem to move.

![image](https://user-images.githubusercontent.com/7872218/90741612-2415d000-e2c7-11ea-85d7-4fc9f96fd336.png)

So its just highlighting a dock, not the one I'm currently viewing/amending, etc. (Note the audit table on the left has the focus, etc).

[2020-08-20 08:31] MKleusberg commented on #2283
@chrisjlocke It will only change when clicking in the table grid. That's another thing I mainly did because it's easier to implement. But it has the benefit that simply dragging an inactive dock doesn't change your plots etc.

[2020-08-20 08:41] chrisjlocke commented on #2283
But as per my screenshot, clicking the grid (focus is on the grid on the left) doesn't change the active dock highlight (the dock on the right is highlighted).

Is the limit a 2x3 (2 column, 3 row) set of docks, or is that just a limitation of my display size?

![image](https://user-images.githubusercontent.com/7872218/90747778-414b9e00-e2c9-11ea-9788-6312721b16fc.png)

[2020-08-20 08:44] #2378 closed

[2020-08-20 08:49] MKleusberg commented on #2283
Oh you're right. Well that's a bug then :wink:

[2020-08-20 09:36] MKleusberg commented on #2283
@mbraeutigam Did you check if this problem is fixed now?

[2020-08-20 10:19] mbraeutigam commented on #2283
@MKleusberg seems to work now 👍

Before
![image](https://user-images.githubusercontent.com/4228180/90757776-5aab1500-e2de-11ea-8078-74642f6c6ebb.png)

After
![image](https://user-images.githubusercontent.com/4228180/90757940-8c23e080-e2de-11ea-9042-7eecfc536ccb.png)

This only applies to manually opening docks and not when loading a project file - or maybe I am too slow opening several dock after

[2020-08-20 10:24] cisoun commented on #1935
@justinclift Great news! I'll take a look. Thanks for the fix! :)

[2020-08-20 10:24] #1935 closed

[2020-08-20 10:28] justinclift commented on #1935
You're welcome. :smile:

[2020-08-20 11:16] mbraeutigam commented on #2283
@chrisjlocke seems to be your display size, but I can have only two "main" columns (dock containers?), too, but into those I could add another 3 docks. My maximum possible amount of rows with docks is 5, see:

![image](https://user-images.githubusercontent.com/4228180/90763188-87fbc100-e2e6-11ea-820a-dcd658c4d87a.png)

[2020-08-20 15:46] MKleusberg commented on #2283
I have fixed the problems mentioned by @mgrojo ("Shouldn't change to the new browser, or maybe open it stacked for this action?") and @chrisjlocke ("If a cell is already highlighted and you click into the grid, the active dock highlight doesn't trigger.") and merged this into the master branch. Let's see how stable this turns out to be when more people start using it :smile:

How should we proceed

[2020-08-20 18:34] afygit commented on #2370
I have attached the clip to this email.

On Wed, 19 Aug, 2020, 2:43 PM Justin Clift, <notifications@github.com>
wrote:

[2020-08-20 19:47] chrisjlocke commented on #2370
Attachments don't attach here, unfortunately.  Can you email the attachment to me, db4s.issue.2370@chrisjlocke.co.uk
Thanks!

[2020-08-20 20:00] scottfurry commented on #2370
(ClamAV)[https://www.clamav.net/] is your friend

[2020-08-21 03:11] justinclift commented on #2283
Just tweeted about the new UI bits being available in our nightly builds:

https://twitter.com/sqlitebrowser/status/1296645670648995841

@mbraeutigam Stole your screenshot there for the Tweet. :wink:

[2020-08-21 06:29] chrisjlocke commented on #2370
An antivirus engine? 😕 Have you posted that in the right thread?

[2020-08-21 06:40] scottfurry commented on #2370
yup. Earlier comment about emailing attachments. Trying to look out for you. :)

[2020-08-21 06:48] mbraeutigam commented on #2283
@justinclift now your avatar makes sense to me 🤣

[2020-08-21 06:59] chrisjlocke commented on #2370
Aaw, thanks.  Have a picture of an elephant in return. 😃

![image](https://user-images.githubusercontent.com/7872218/90861741-268a2f80-e384-11ea-82c2-1edff17f0d6f.png)

[2020-08-21 19:28] lucydodo opened #2379 "Are we still using Slack?"
What is your question
-----------------------
In the [README.md](https://github.com/sqlitebrowser/sqlitebrowser/blob/master/README.md) file, there is an icon for request to join Slack. (4th from the left)
However, the link to the icon is unavailable.

Is the URL simply broken? or are we no longer using Slack?
If we no longer using Slack, May I delete that icon in README.md file?

[2020-08-21 19:51] #2379 closed, assigned to lucydodo

[2020-08-23 20:52] ctsrc commented on #1982
Yes, I’m fine with the issue being closed. Thank you @revolter and @mgrojo for taking the time to look at this.

[2020-08-23 20:53] #1982 closed

[2020-08-23 21:33] rik1301 commented on #2374
Hi Chris, well it's still an annoyance, but as you said above, it's a limitation of your Qt framework design so kinda stuck with it!

[2020-08-23 21:34] rik1301 commented on #2365
Any further work on this, gentlemen, or still on the 'to look at' list?

[2020-08-24 01:29] datvm commented on #1905
@justinclift I used the Windows MSI to switch to the nightly version for good, I have this error on startup:

![image](https://user-images.githubusercontent.com/6388546/90994704-cee9ff00-e5e3-11ea-8003-e425de924400.png)

Everything else seems okay so far, just want to notice you about this.

[2020-08-24 01:31] datvm commented on #2283
Hi just leave a comment here because not sure if you guys receive notification for closed issues, please check my new comment on #1905

[2020-08-24 01:50] justinclift commented on #1905
Thanks for mentioning the problem @datvm, that sounds like a bug we'll need to fix. :smile:

[2020-08-24 08:39] chrisjlocke commented on #1905
This might be related to the change Manuel did to display the version / help in a messagebox.... (#1982, etc)

I think its a 'false positive' error ... its because the browse data tab is empty at startup.  Once you load a database, all is good...

[2020-08-24 09:00] MKleusberg commented on #1905
Oops, I accidentally introduced that in 8a455106f980f5893f60efae1e705d13ac2105a1 and, as Chris said, only another change by Manuel made this warning visible. It's fixed now. Can you check again with tomorrow's nightly build and see if that is working as expected? :smile:

[2020-08-24 09:13] chrisjlocke commented on #2305
@gitblit - I assume all was good?

@justinclift - To close this issue, is this something we'd have to add to the DB4S code, or just something the user would have to run pre-running DB4S? (stick it in a batch file, etc).

[2020-08-24 09:16] chrisjlocke commented on #2117
@allusernamestakenexceptthis - Can you check the latest nightly and confirm if this error still occurs?  I couldn't replicate it, but it might depend on your particular database schema....
https://nightlies.sqlitebrowser.org/latest/

[2020-08-24 11:50] gitblit commented on #2305
@chrisjlocke all good!  I am using the global environment variable workaround with success!

[2020-08-24 12:43] tonypdmtr commented on #2113
Downloaded just now, and I get the following:

![image](https://user-images.githubusercontent.com/11968823/91046060-771db900-e620-11ea-8222-640df952e08a.png)

After I close the window the browser in on the correct table but blank.  Then, if I re-select the table, data appears.

[2020-08-24 13:25] tonypdmtr commented on #2113
After I press OK to remove this popup, the -t option selected table is indeed selected in the dropdown list.  But there is nothing showing in the window (blank).  If I re-select the table from the dropdown list, the data appears.

[2020-08-24 13:31] MKleusberg commented on #2113
Ah ok, you're right. I can reproduce that. I'll see what I can do about that :smile:

[2020-08-24 13:34] MKleusberg commented on #2113
This should also be fixed in tomorrow's nightly build :smile: Thanks for pointing this out!

[2020-08-24 15:10] justinclift commented on #2305
@gitblit Thanks for the confirmation, that's really helpful.  People have mentioned scaling issues with DB4S with HiDPI monitors on Windows before, so having a potential solution is a definite win.

@chrisjlocke Now that it's been confirmed to work, we should probably look at setting that environment variable (or an equivalent Qt setting) at startup time.  Not sure if it'll need to be set just for

[2020-08-24 16:08] chrisjlocke commented on #2305
The only 'gotcha' is that as its an environment variable, it'll affect other Qt programs until Windows is restarted or that variable is changed.  If its going to be implemented, I'd suggest a command-line switch so that it could be turned off - so set on by default /unless/ a command-switch of --noAutoScreenScaleFactor (as an example) is present...
It might only affect one person out of a million

[2020-08-24 16:11] chrisjlocke commented on #2374
Its no different (theoretically) to Excel.  I guess the only thing that could be helpful is an 'always-in-edit-mode' - so if you click a cell, it simulates pressing [F2] so always goes into Edit straight away.  That would have to be a toggle though, as you wouldn't be able to select a range of cells, or select a cell to delete it, etc...

[2020-08-24 16:46] chrisjlocke commented on #2365
Its currently 'on the list' ... but its a long list.... ;)

[2020-08-24 17:42] Tikiti commented on #2117
@chrisjlocke I just tested it and it works fine now. There's a split second popup window when you click not null, can't see what it says.

However every time I open the app it throws a error (unrelated to this bug).

Version 3.12.99 (Aug 24 2020)
SQLite version 3.33.0

![2020-08-24](https://user-images.githubusercontent.com/18273203/91077645-6c0e5d00-e60f-11ea-98f4-3ff4bce55df7.png)

[2020-08-24 18:47] chrisjlocke commented on #2117
Thanks for replying back,
Yes, that error with the dialog at startup has been identified and will be blown into bits by tomorrows nightly build.  Thanks for letting us know! 👍

[2020-08-24 18:48] chrisjlocke commented on #2117
Closing as resolved by the magical code-updating fairies.

[2020-08-24 18:48] #2117 closed

[2020-08-24 20:14] kaislahattu commented on #1069
Downloaded 24.08.2020 (v.3.12.99) .MSI and installed it. Program starts up with an message about missing "slot", but this is probably known and tracked elsewhere.
![image](https://user-images.githubusercontent.com/6577503/91090755-3ba1df80-e65e-11ea-84fd-40e716590f00.png)

As for the help ("-h"), is there an inconsistency in argument naming? ([db] == [file] ?)  I imagine it should be "[db]" in the

[2020-08-25 03:36] justinclift commented on #1069
Good stuff @kaislahattu, those are all good points. :smile:

* That first error message was (in theory) fixed in our development source code a few hours ago, and will be in the next nightly build (should be in a few hours time).
* Yeah, that should be made consistent.  "database" is probably the right wording choice.
* Good point.  No need for the "This is" text fragment at the start. :smile:

I'v

[2020-08-25 03:41] justinclift commented on #2305
I was meaning more "add it to the DB4S environment for this run of the application", rather than "add it to the system wide environment for everyone". :smile:

[2020-08-25 03:45] justinclift commented on #2374
It might be helpful for us to add some kind of Preferences option, so double clicking does the same thing as F2 (inline editing), rather than using the Edit Database Cell dock.

When I'm doing lots of text data entry, the Edit Database Cell is more harmful than helpful.  Conversely, when doing other stuff (working with image files), it's really useful.

[2020-08-25 08:00] CARRIVIN commented on #2239
Hi Martin, great It works. Thanks a lot. ;)

[2020-08-25 08:01] #2239 closed

[2020-08-25 08:02] CARRIVIN commented on #2239
Thanks a lot all.

[2020-08-25 08:34] chrisjlocke commented on #2374
Single-clicking  😉 .  You'd want single-clicking to go into edit-mode, then press [Esc] to return to 'select-mode'.  Click in another cell, and back into edit-mode again.  The only annoyance would be text would be selected, so you'd still need to click AGAIN or press [Home]/[End], etc... but hey, it can't work exactly how everyone wants...

[2020-08-25 08:35] justinclift commented on #2239
Awesome.  Thanks for testing it and letting us know @CARRIVIN. :smile:

[2020-08-25 08:38] justinclift commented on #2374
Errr no?  Single clicking selects/highlights a cell without going into edit mode.  Double clicking should go into edit mode.

Hmmm, that's how it seems "in my head" anyway.  That could turn out to be wrong. :wink:

[2020-08-25 09:02] chrisjlocke commented on #2374
Yes, that's what currently happens, but to speed up editing, it would be
handy if you could single-click into cells.  If you wanted to select a
cell, simply press [Esc] to return to select-mode.  Just a suggestion that
single-clicking to edit is quicker and sometimes more 'intuitive' than
having to double-click.  Maybe.  I'm OK as I tend to write my own
applications anyway - when you write a data-

[2020-08-25 09:05] MKleusberg commented on #2239
Well, it's all been @horst-p-w-neubauer's work :wink:

[2020-08-25 12:09] SharkTal commented on #1242
I had this problem by using this method.

[2020-08-25 12:59] chrisjlocke commented on #2370
Closing this as no further information given.  Issue can be re-opened once we have more information.

[2020-08-25 12:59] #2370 closed

[2020-08-25 13:00] chrisjlocke commented on #2358
Closing this as no further information given.  Issue can be re-opened once more information is provided.

[2020-08-25 13:00] #2358 closed

[2020-08-25 14:52] lucydodo commented on #2317
I don't know why the discussion about this suggestion doesn't continue.
While implementing my enhancement idea recently came up with, I leave a comment because it is relevant to this issue.

When manage settings through the QSettings class, the setting values are
- Windows : Registry
- Linux : ~/.config
- macOS : ~/Library/Preferences

stored in.

For now, we initialize QSettings like this (`src/S

[2020-08-25 15:44] sonicsmooth opened #2381 "View multiple tables at the same time"
Describe the new feature
--------------------------
I think it would be very helpful to be able to view multiple tables at the same time.
This could be done with additional "browse data" tabs which can be dragged around and repositioned, although of course that would be a lot of work.  The quick-n-dirty way would use Qt's QDockWidgets, but that is not always the best implementation of dockable win

[2020-08-25 15:54] MKleusberg commented on #2381
Thank you for the suggestion! This is actually an excellent time to ask about this because we're currently working on this feature. There is a whole discussion going on in #2283 where we collect different ideas. The current state which implements this via QDockWidgets can be downloaded [here](https://nightlies.sqlitebrowser.org/latest/). Are you interested in giving that version a try? Maybe it's

[2020-08-25 16:56] chrisjlocke commented on #2317
Don't forget that @justinclift is working on storing SQLite databases in the cloud, so another 'bonus' of this, is that theoretically, the settings database doesn't even have to reside on the PC, but be 'c;loudable' (is that even a word?! 😉 )  I'm sure millions would choke on their cereal if DB4S was that cloudable, but could still be a nice feature ...

[2020-08-25 18:29] lucydodo commented on #2317
@chrisjlocke Ahh.. I understand what you said. I simply understood that your issue was change the save DB4S settings to a local file instead operating system dependent, but I didn't think about managing it by a cloud-based.

[2020-08-25 19:19] chrisjlocke commented on #2317
Well, the cloud-based is an 'optional extra' at some point down the line.  I think using an SQLite database for the settings would be a good step to make the application portable and more system independent.  I guess Qt handles the OS-specific settings saving anyway ... but from a support angle, if (for example) a user-setting had to be reset, it would be easy to get the user to reset it - explain

[2020-08-25 21:57] lostless13 opened #2382 "Application freezes shortly after startup"
#### What did you do?
Open program, approximately 15 seconds afterwards the program becomes unresponsive and freezes. It must be closed from the Task Manager. The crashpad_handler.exe is running. Programs has become unusable and does not recover.

I have tried
- re-installing.
- nightly build.
- Portable app

All had the same result.

Useful extra information
-------------------------

The info be

[2020-08-25 22:33] datvm commented on #1905
Can confirm today nightly build solves the problem 👍

[2020-08-25 22:36] chrisjlocke commented on #2382
Thanks for reporting this.  Not seen this issue before.

You mention crashpad_handler but that's to do with Google Drive.  Does DB4S start but you're trying to open a database via Google Drive?
There isn't a 'safe mode' of DB4S, and it doesn't normally open the last database by default - it usually just sits there bored waiting for you to open a database.
When you say its responsive, what is showi

[2020-08-25 22:43] datvm opened #2383 "Loading dialog takes over mouse position on Windows with Auto Move option on"
Details for the issue
--------------------

#### What did you do?

On Windows, we have this useful option that move the mouse to a dialog button:

![image](https://user-images.githubusercontent.com/6388546/91234832-5d828b80-e75e-11ea-801b-627018348ebf.png)

However, with (not too) recent update, whenever I browse a column with a foreign key, DB would try to load the data of that table to make it i

[2020-08-25 22:59] lostless13 commented on #2382
I'm not trying to open a file on google drive. I can open a file before the program crashes but it also crashes if I don't open a file.

The application isn't showing up in whatIsHung. I am still able to resize/maximize/minimize the window but none of the other program UI elements work or react. The close button highlights on mouseover but doesn't work.

I've tried both portable, 32 and 64 bit rel

[2020-08-25 23:38] chrisjlocke commented on #2383
I believe the dialog is a 'please wait while data is being loaded' alert.  I believe it may have a cancel button, which may be throwing off your mouse 'ping to a button' feature...
If you do load a large table, that dialog would need to pop up, so it would be hard to disable it completely.  We could wrap some 'if we've only taken a second, don't show the dialog, but its been three seconds now, so

[2020-08-25 23:48] chrisjlocke commented on #2382
Thanks for the screenshot and extra info.
The only other thing that DB4S does at program startup is check for updates/the latest version.  We've not had reports of this hanging, but it has displayed an error box.  I assume DB4S has the focus when you've tried to click UI elements - mind you, Windows 10 doesn't highlight the current application anymore ... only in the taskbar.
If you turn off the u

[2020-08-26 02:30] datvm commented on #2383
Thanks for the response!

In WinForm/WPF, we could set the button as non-primary (i.e not default button). The mouse cursor wouldn't be moved if it is so. Is it possible for Qt? Or can I disable the whole feature?

[2020-08-26 07:14] lucydodo commented on #2317
@chrisjlocke It's a good idea, of course, but I think using SQLite Database to manage program settings is likely to increase the overhead because there are not many or complicated settings value. (It's just my thoughts, I don't mean to disparage you.)

[2020-08-26 08:20] MKleusberg commented on #1905
Awesome! Thanks for checking :+1:

[2020-08-26 09:01] diegocampillo opened #2384 "Try to delete value NULL in the browse."
Details for the issue
--------------------

#### What did you do?
Open Browse data. Select value in a field. Edit cell and "Delete to NULL", but this button was enabled to false. I can't click it.

#### What did you expect to see?
Click on the button "Delete to NULL", and the value in the field had changed to NULL.

#### What did you see instead?
I can't do nothing.

Useful extra information
![Har

[2020-08-26 09:18] chrisjlocke commented on #2384
Is it just a 'one-off' - if you click in another cell and back again, I presume the 'Editar Celda' dock has the focus.  Does the button become enabled again?

[2020-08-26 09:32] MKleusberg commented on #2384
The little icon next to "V_VOCABULARIO" indicates that this is a view. Data in views can't be edited, you'll have to change the data of the underlying table (or add some triggers and activate view editing).

[2020-08-26 09:50] diegocampillo commented on #2384
It's true. I was editing datas in a view, instead in a table. I'm sorry. Thank you for supporting me.

[2020-08-26 09:50] #2384 closed

[2020-08-26 09:53] MKleusberg commented on #2384
No worries. Glad we could help :smile:

[2020-08-26 19:53] Jasata commented on #1069
I just noticed (from the commit) that there is some formatting (whitespace indent, \t tabs). Would it look horrendous if the -h output would be rendered in courier font? Could it render tabs also as intended?

This is cosmetic, of course. Information is now visible and that is the main thing, obviously.