[2015-04-02 07:12] plusky commented on #245
Yes, thanks a lot for quick reply.

[2015-04-02 07:12] #245 closed

[2015-04-02 10:05] glawrence commented on #245
Hope you don't mind @justinclift but I have added this to a wiki page now at https://github.com/sqlitebrowser/sqlitebrowser/wiki/Licensing as I thought this was worth documenting

[2015-04-04 00:43] stef145g opened #246 "Feature request: Data browsing using Database Structure table selection"
A really cool feature would be to allow the user to select "Browse Data" on a popup selection when the table has been selected on the Database Structure tab.

Alternatively, when the selection of a table is made on the Database Structure tab, the table selection is automatically updated on the Browse Data tab. This would allow the user to switch to the Browse Data View and have the data for the se

[2015-04-04 08:17] Z4us commented on #246
Not a bad plan, very user friendly, except the automatic update of tables you may design a databases with special tables reserved for future, special use e.g. only developers, bits, the system etc. You should make them invisible to avoid users to manipulate them.
 I'm afraid adding this feature is more complicated and certainly more risky than you think at first thought, but to put it in a more po

[2015-04-05 13:09] dridk opened #247 "Add header license on each file"
Create a file "header" containing licence header .
Then :
for file in *.cpp *.h
do
cat header $file > $file.new
mv $file.new $file
done
~

[2015-04-05 14:32] justinclift commented on #247
When you say a licence header file, what are you meaning?  Something to do with our licensing?

[2015-04-06 21:27] richardfontana commented on #247
Not needed, except (perhaps) in cases where the header is already present in a file you take in whole or in part from some other project. There are arguments for and against per-source-file notices; practice around this issue varies quite widely.

[2015-04-07 13:54] justinclift commented on #247
Thanks Richard. :grinning: :

@dridk Closing this, as it looks like it's unnecessary.  Thanks for taking the time to open the issue, and get us to look into it though.  Hopefully cuterest goes really well. :smile:

[2015-04-07 13:54] #247 closed

[2015-04-09 19:20] celloman opened #249 "Crash on Opening a database containing a large blob"
sqlitebrowser consistently crashes upon opening a database with a large blob in it (close to 1GB blob, but not over due to the SQLite max size)... the database(s) work fine in the program that utilizes them, but the browser can't handle it. I get a visual c++ error stating that "This application has requested the Runtime to terminate it in an unusual way."
I have tried this on several databases wi

[2015-04-10 08:29] rp- commented on #240
should be fixed:
cecf681620e4911a70e02884fe03fea15b73b558

[2015-04-10 09:29] schdub commented on #249
celloman, please provide your table schema to reproduce this issue.

[2015-04-10 16:16] celloman commented on #249
It is very simple, just a TEXT column with the "filename" and a BLOB column containing the data. This is for an octree structure, one blob stores a tree's structure, and the other stores data accessed by the nodes.

[2015-04-11 02:30] JC3 opened #252 "How do you set a value to null in the data browser?"
How do you set a value to null in the data browser, aside from doing it directly with a sql query?

I couldn't find anything in the wiki or browsing around through the application.

Sorry, but I was unable to find a way to contact you besides filing a bug report.

Thanks.

[2015-04-11 02:31] justinclift commented on #240
Cool. :smile:

@fu-hsi Do you have time to test the next nightly build, and let us know if it works ok now?

[2015-04-11 02:32] justinclift commented on #244
@DongilKim Do you have time to try out the next nightly build, and see if it's working properly for you now? :smile:

[2015-04-11 02:37] justinclift commented on #249
I kind of suspect it's because we're compiling using 32 bit on Windows (win32), and not 64 bit.

@schdub Would you happen to have any skill with Windows compilers?  eg Visual Studio or anything :smile:

[2015-04-11 02:53] justinclift commented on #252
A bug report is fine. :smile:

I had a similar question not long ago too... and it turns out there's a bug in the current release which makes it hard.

First you'll probably want to grab the latest nightly build (has the bug fixed).

Then, to set a null value you edit the cell in question, then "clear" the field (there's a button).
![01](https://cloud.githubusercontent.com/assets/406299/7099960/26

[2015-04-11 03:18] JC3 commented on #252
Thanks. The "clear" button was the first thing I tried, which didn't work. But I tried again after reading your reply and realized there's a bug that if the value is non-null but empty, "clear" doesn't change it to null (it only works if the current value is not empty). That's what got me. I'm going to file an issue report, unless that's the bug you were referring to?

Thanks again,
J

[2015-04-11 03:20] justinclift commented on #252
Hmmm, it's similar to that, so it might be the same thing.

Would you be ok to try the latest nightly build and see if it still happens wrongly there?

[2015-04-11 03:28] JC3 commented on #252
Good news: It works properly in the current nightly build.

[2015-04-11 03:31] justinclift commented on #252
Awesome.  Thanks for trying it out to be sure. :grin:

[2015-04-11 03:32] #252 closed

[2015-04-11 03:39] JC3 opened #253 "Suggestion: Use "delete" (or "backspace") to clear a value to null directly in browser"
I think it would be handy if a value could be set to null by highlighting it (single click, not edit mode) in the data browser then pressing "delete" or "backspace" (equivalent of double clicking value to open the editor then pressing "clear").

Currently values can be edited without actually opening the editor window, but they still require the edit window to be opened to set them to null. If thi

[2015-04-11 04:51] justinclift commented on #253
Yeah, this makes sense. :smile"

[2015-04-11 06:10] fu-hsi commented on #240
Of course.

[2015-04-11 09:56] DongilKim commented on #244
I have tested using 11-Apr-2015 02:15 nightly build. Everything's OK. Thank you. @justinclift @schdub

[2015-04-11 12:06] justinclift commented on #244
Awesome!  Thank you @schdub for this, and thank you @DongilKim for checking and letting us know. :grinning:

[2015-04-11 12:06] #244 closed

[2015-04-12 03:21] lridgard opened #254 "Transactions used where they dont need to be"
EXPLAIN QUERY PLAN SELECT BlahField FROM BladDb WHERE foo=0;

begins a transaction when one is not required.

When using the DB browser to execute certain queries it enables the "write changes" and "revert changes" options when this is not required. This means DB Browser creates a transaction that is awaiting a COMMIT or ROLLBACK but no such thing is required in this case since the explain verb do

[2015-04-12 09:41] fu-hsi commented on #240
My current table schema:
[code]
When I try modify the table schema and check Unique checkbox, application not respond and crashes.

![Screen1](http://markac.home.pl/pub/sqlitebrowser/bug1.png)

Inserting data from Browse Data tab don't work, I don't know why...
When I click New record I received:

![Screen2](http://markac.home.pl/pub/sqlitebrowser/bug2.png)

Application wants insert column name as

[2015-04-12 12:37] justinclift commented on #240
@rp- Thoughts? :smile:

@fu-hsi:

That's no worries.  When there's a problem that need solving I often use whatever works first too. :wink:

[2015-04-12 12:39] justinclift commented on #254
Yeah, I'm not sure how to solve this.  A dodgy workaround :wink: is to have "end transaction;" before your statement.  This closes our implicit transaction, then executes the statement after.

[Example here](https://github.com/sqlitebrowser/sqlitebrowser/issues/234#issuecomment-84955263), if that helps.

[2015-04-12 17:00] fu-hsi commented on #240
Editing and deleting also doesn't work :)
Even if I change Primary key to NUMERIC.

Log:
[code]
Field `Field1` always equal 0.

When I create new table with NUMERIC key, then it works.

[2015-04-12 18:54] schdub commented on #239
@justinclift, on my local repo I've fix to this bug.

long story short: in SqliteTableModel when setTable() is called need to fetch and store data types of each field of DB.

next, in  DBbrowserDB::updateRecord() append argument - bool isBlob.

and then in code this function:
    //...

    if (isBlob) {
        sqlite3_bind_blob(...)
    } else {
        sqlite3_bind_text(...)
    }

    //...

a

[2015-04-12 18:55] lridgard commented on #254
Thanks for the quick response.
Adding "END TRANSACTION" can have catastrophic consequences if my main app is running at the same time which sadly is how I found this problem in the first place.

But what are your thoughts on one of these fixes:

Option 1: It appears the sqlitebrowser understands that there are times when a transaction is not required.
SELECT BlahField FROM BladDb WHERE foo=0;
exec

[2015-04-12 19:07] justinclift commented on #240
@rp- Sounds like the fix really didn't work. :wink:

[2015-04-12 19:12] fu-hsi commented on #240
This is more complex than the programmer thought.
Many functions operates on numeric keys, and now... all must be changed? :)
Maybe I'm wrong and the key can not be text...?

[2015-04-12 19:12] rp- commented on #240
well, all i did was enabling to have tables without rowid and pks of any type, as allowed by sqlite3.
I think we still don't really support editing tables without rowid, because most of our code depends on it.

[2015-04-12 19:48] JC3 opened #255 "Suggestion: 'Tab' indents multiline selection in SQL editor"
It would be convenient of pressing 'tab' in the SQL editor when multiple lines of text were selected indented all of the lines. The current behavior replaces the selection with a tab.

This could be useful when incrementally building complex queries and subqueries.

[2015-04-12 19:54] justinclift commented on #255
Yep, this sounds useful. :smile:

[2015-04-12 22:00] justinclift commented on #242
@galmok Our very latest code has a new export dialog for changing options with the output CSV file.  One of those options is to explicitly state the column name in the output.

Do you want to take a look and make sure it would work for your situation?  The nightly build (tomorrow) would have the changes included, if that helps. :smile:

[2015-04-13 09:08] rp- commented on #254
How is that possible? different database connections cannot interfere each other?

But option1 with sqlite3_stmt_readonly sounds reasonable.

[2015-04-13 09:20] rp- commented on #253
well, there is a difference between NULL and empty string, that's why there is a clear button.
maybe a key like shift-(delete, backspace) make it faster to edit such columns

[2015-04-13 09:34] justinclift commented on #254
@lridgard Any interest in submitting a pull request with the change? :smile:

[2015-04-13 09:37] justinclift commented on #253
For me, on OSX, the delete and backspace keys don't do anything at present.  Are they supposed to already be the equivalent of making a null string? (just checking)

It does sound reasonable to have something like delete / backspace be the "make an empty string" keystroke, with shift-delete / shift-backspace being the "make a NULL" key combination.

[2015-04-13 20:14] lridgard commented on #254
@rp- I have always thought that SQLite handled multiple processes accessing the DB perfectly fine. But after fooling around with the explain query in SQLiteBrowser I eventually wound up at a place where my main app stopped running complaining that it could not prepare a SQL statement. Closing the DB in SqliteBrowser resolved the issue and allowed my app to continue. Maybe this is something unrelat

[2015-04-13 21:13] justinclift commented on #254
Oh wow.  Yeah, all of that sounds good. :grin:

With the situation you mention of the main app complaining... I suspect it might be something to do with the way SQLite locks tables to do writes.  It's been ages since I looked at the fine details though, so that's a rough guess thing. :wink:

[2015-04-13 21:17] justinclift commented on #254
Hmmmm... a thought just occurred...

How about in the "Execute SQL" window, we have a line with a checkbox somewhere like:

&nbsp; &nbsp; [✓] Run inside transaction

We leave it on by default, but that would let people turn it off as needed.

?

[2015-04-13 22:45] lridgard commented on #254
@justinclift  Adding such a checkbox would be fantastic. Leaving it on by default would preserve the current behavior and when people needed it to be off they could turn it off. Perfect.

[2015-04-14 02:10] jonorozcoc opened #257 "Zip or 7Z portable release"
The PortableApps Format is ugly portable specification, need much settings, A single zip with all contents are more useful. Note: I'm colombian, my english is bad.

[2015-04-14 11:40] justinclift commented on #257
Interesting idea.  It should not be too hard. :smile:

[2015-04-14 11:45] rp- commented on #254
@lridgard I already did the msvc stuff in https://github.com/sqlitebrowser/sqlitebrowser/commit/8cbc13a106a680e7e1ce97e2e49bb85eb80e9d8f so if you have the dependencies and the paths correctly set in cmake it should work.

[2015-04-14 21:12] sergbus commented on #206
Another useful thing might be to not close "Execute SQL" tabs when closing connection to the database. I often have a need to execute same ad-hoc query against couple databases and lose the query when closing one database and opening another. Maybe disabling the "Execute" button is enough?

[2015-04-15 10:19] justinclift commented on #255
@schdub wrote code to make this happen, and it's merged into our main code base a few minutes ago. :smile:

In my quick testing here, it seems to work well. :grin:

@JC3 Would you be ok to try it out and confirm it's working the way you want?

I'm not sure which OS you're using, but if it's Windows or MacOS then tomorrow's "nightly build" will include it.  (download locations for our nightly build

[2015-04-15 10:22] justinclift commented on #206
@sergbus That should be do-able.  We should open a brand new issue here for that though, as the code to make it happen would be tracked separately from @hko-gh's idea. :smile:

@sergbus As an thought, do you have the skill (or desire to learn) to do the implementation for this?

[2015-04-15 10:26] justinclift commented on #239
@gimKondo Would you be ok to try our latest nightly build, and let us know if the problem is completely fixed for you?

In theory it should be now, due to the fix by @schdub.  But, it's always good to verify. :smile:

[2015-04-15 10:27] justinclift commented on #229
@yura371 Would you be ok to try our latest nightly build, and let us know if the problem is completely fixed for you?

In theory it should be now, due to the fix by @schdub.  But, it's always good to verify. :smile:

[2015-04-15 17:21] joshglenn opened #259 "Accept input file parameters - Feature Request? Existing Feature?"
Okay so I'm not sure if this is the appropriate place to do this, but I didn't see any other place. There may be a way to do this already, But if there's not just want to put my two cents in that it might be a good idea. I'm on Mac OSx. I have set up an Automator service that lets me right-click an SQLite database and then open SQLiteBrowser. However, when I do so it doesn't actually open the file

[2015-04-15 17:28] joshglenn commented on #259
I was able to do this using finders normal file handling capability. Although, I kind of want something that won't make opening a database as simple as a double-click. Right Click > Open in ... would be nice.

[2015-04-15 17:31] justinclift commented on #259
Hmmmm, in theory (!) if the first command line argument you pass is a database file name... it should open it.  Isn't that what Automator should be doing?

[2015-04-15 17:47] joshglenn commented on #259
Yeah. It should be. I made a similar Automator workflow to do that with sublimetext. It opens the file or folder that I have highlighted. With sqlitebrowser, it seems no argument gets passed in, because it opens only the App not any database file along with it.

On Wed, Apr 15, 2015 at 12:32 PM, Justin Clift <notifications@github.com>
wrote:

[2015-04-15 18:04] justinclift commented on #259
Yeah, I'm not sure how to change that.  Sounds like we need someone with good Automator understanding to look into it (might be possible).  If it means we need to change something in our OSX builds, we can definitely consider it. :smile:

[2015-04-15 19:25] EArmour opened #261 "Modify Table list selection can be 'fooled' by dragging"
This is occurring in the latest nightly Windows build.

When modifying the order of fields, the 'move up/down' buttons are disabled when at the top/bottom of the list. But if you click on another row, then hold down the mouse button and drag to one of the end rows, the movement buttons are not properly disabled. So you can click to move the top row up and the bottom row down, both of which crash t

[2015-04-15 20:15] sergbus commented on #206
Desire to learn. Never worked with Qt and github repos. Last C++ was first
year of college, 15 years ago.
On Apr 15, 2015 5:22 AM, "Justin Clift" <notifications@github.com> wrote:

[2015-04-15 20:47] justinclift commented on #261
Thanks, that definitely sounds like a bug. :wink:

[2015-04-15 20:49] justinclift commented on #206
Heh, that's going to be a lot of challenge then. :wink:

[2015-04-15 20:52] justinclift opened #262 "Should we not auto-close the Execute SQL tab when closing the dB?"
As mentioned in #206 by @sergbus:

[2015-04-16 15:43] joshglenn commented on #259
Okay. I figured out how to do this. Create an Automator service that runs a shell script. I even included a notification center to prompt with the filename as it opens. But that's not necessary.

[code]

![screen shot 2015-04-16 at 10 42 42 am](https://cloud.githubusercontent.com/assets/6953274/7184905/5d941edc-e425-11e4-8fec-9f246c4e3f71.png)

[2015-04-16 17:03] justinclift commented on #259
Good stuff. Although I wonder why it's needed for you (on my OSX 10.9 system it "just works") it's good that your workaround does the job. :smile:

[2015-04-16 17:03] #259 closed

[2015-04-17 14:01] MKleusberg commented on #227
Closing this as it's really old and nobody complained ;)

[2015-04-17 14:01] #227 closed

[2015-04-17 15:25] MKleusberg commented on #261
Haha nice find :+1: Thanks for reporting!
This should be fixed in the next nightly build.

[2015-04-17 17:19] justinclift commented on #261
@EArmour Would you be ok to try out the next nightly build (tomorrow), and let us know if it's working like it should now? :smile:

[2015-04-17 18:18] justinclift opened #264 "Twitter query: PRAGMA support with SQLCipher?"
Query from Twitter:

&nbsp; &nbsp; https://twitter.com/niall111/status/589078702132166656

and:

&nbsp; &nbsp; https://twitter.com/niall111/status/589119373006213120

Any ideas?  @MKleusberg ? :smile:

[2015-04-17 18:20] justinclift commented on #241
@schdub This sounds like the kind of thing you would know how to do... any interest in doing this? :smile:

[2015-04-17 18:28] niall111 commented on #264
To perhaps clarify a bit more outside of the twitter character limit!  We have a SQLite DB in our Unity project, and a requirement was encryption.  sqlcipher wasn't supported by the SQLite Unity plugin we used (https://www.assetstore.unity3d.com/en/#!/content/4334), so we had to use their "PRAGMA key = X" to encrypt the DB on devices.  We would love a way to then use sqlitebrowser to decrypt the c

[2015-04-17 19:26] schdub commented on #241
@justinclift, ок. Waiting when my previous pull-request will be merged.

[2015-04-17 19:50] justinclift commented on #103
@MarkyMar We've added code for this today (written by @schdub).  Would you be ok to try our latest nightly build (tomorrow), to check that it's working the way you meant it? :smile:

[2015-04-17 19:50] justinclift commented on #241
@schdub Done. :smile:

[2015-04-18 16:34] gimKondo commented on #239
Thanks. That solves my problem, completely.

But, I worry about column that has multiple data type.
Now, we cannot insert TEXT data to BLOB column.
yes, this is the issue @schdub points on PS.

I think that use of such column is not good practice.
But, SQLite accepts such column by right.

For example, if we execute following SQL to last DB,
[code]
We get text value on Image column.

I think best

[2015-04-18 19:49] justinclift commented on #239
Interesting. :smile:

@gimKondo If the solution you're trying works, would you be ok to make a Pull Request out of it? :wink:

[2015-04-18 20:31] EArmour commented on #261
Alright, looks good now! Thanks for the quick response :+1:

[2015-04-19 00:07] justinclift commented on #261
Awesome!  Thanks for letting us know @EArmour. :grin:

[2015-04-19 00:07] #261 closed

[2015-04-20 12:04] jonorozcoc opened #266 "File Filter In The FileOpenDialog"
The FileOpenDialog show all files in all formats. The SQLite formats are: *.db, *.sqlite, *.sqlite3, *.db3. Is it possible to add the filter?

Note: I'm Colombian, My English Is Bad.

[2015-04-20 15:05] justinclift commented on #266
Which operating system are you using? :smile:

If you are using MacOS X, this is a known problem. :anguished:

We did have filters, but they don't work with Qt on OSX (a Qt bug).  So we made it do *.* instead. :frowning:

If you're not using OSX though.. this is a new bug and we should investigate it. :smile:

[2015-04-21 14:14] giumas opened #267 "Load spatialite extension?"
Can I load the spatialite extension module? I have attempted using "Load extension" but I got "Error loading extension: The specified module could not be found".

[2015-04-21 14:24] justinclift commented on #267
As a thought, which OS are you using, and which version of DB4S and the SpatiaLite extension?  (not sure if it makes a difference, but it's helpful to know)

[2015-04-21 14:51] giumas commented on #267
I am on Win7 x64. For the DB4S (x86) version, I attach a screenshot with the about:
![dbbrowser_version](https://cloud.githubusercontent.com/assets/2849257/7254833/67d23f2c-e813-11e4-94a8-93419a8bc757.PNG)

For the spatialite extension, I am using the last stable (4.2.0): http://www.gaia-gis.it/gaia-sins/windows-bin-x86/

I am not sure that I am properly using the application .. I was not able to

[2015-04-21 15:14] justinclift commented on #267
Hmmm yeah, I'm not sure either.  @MKleusberg or @rp- may know more... :smile:

[2015-04-22 14:36] glawrence commented on #226
@justinclift I have written a wiki page on Regular Expressions at https://github.com/sqlitebrowser/sqlitebrowser/wiki/Regular-Expressions and update the wiki home page. Please feel free to improve as you see necessary.

[2015-04-23 09:51] justinclift commented on #226
@glawrence You really are pretty amazing.  That's truly awesome. :grinning:

I've just tweaked the wording a bit, and added a screenshot for clarity too.  (turns out adding screenshots isn't straightforward, but it is possible)

[2015-04-23 10:09] Jerome67000 commented on #164
Hi,

I just have the same very old version 2.0b1 with my new elementary os 0.3 install (ubuntu 14.04 based) with the app manager. I have build my own 3.5.1 version and its works fine but I think that an updated version to the ubuntu app manager could be a good contribution for the community !

[2015-04-23 10:10] glawrence commented on #226
@justinclift you're welcome. I am glad you tweaked the wording, my writing usually needs a tweak or two, so thank you. I will try and remember to add screenshots next time, they do help.

[2015-04-23 11:07] justinclift commented on #164
Yep, we're looking forward to having this too.

@deepsidhu1313 volunteered in https://github.com/sqlitebrowser/sqlitebrowser/issues/238 to do the Ubuntu packaging for the next release, which should flow into at least Mint + (I'm guessing) Elementary too. :smile:

[2015-04-23 14:15] jonorozcoc commented on #266
I'm using Windows 7 Ultimate Edition.

[2015-04-23 15:18] glawrence commented on #266
I have just downloaded a Windows nightly build (23-Apr-2015 02:15) and I only see one file filter, "All Files (*.*)". So on Windows 7 I get the same. From looking at the code it would seem the filters were removed for all platforms but I might be wrong.

[2015-04-23 15:55] justinclift commented on #266
That'll need fixing then. :smile:

[2015-04-23 17:42] samir-aguiar commented on #266
Just to make sure, you are talking about the dialog from "File > Open Database...",  right?

[2015-04-23 18:03] glawrence commented on #266
I was and I assume @jonorozcoc was as well. However don't forget, it needs to be Windows and Linux only @samir-aguiar as per the comments from @justinclift

[2015-04-23 18:17] samir-aguiar commented on #266
Alright, could you guys test it please? :smile:

[2015-04-23 18:17] samir-aguiar commented on #266
Oh, tomorrow btw, after the next nightly build.

[2015-04-23 18:24] jonorozcoc commented on #266
What version of Qt are using?? This issue is solved on MacOSX in the latest version.

[2015-04-23 18:27] samir-aguiar commented on #266
Yeah, but I think it's only fixed on Yosemite. Could you confirm that, @justinclift? I don't run Mavericks anymore. :smile:

[2015-04-23 18:38] NLRicker opened #268 "Data types"
Perhaps a feature rather than a bug.

I used an open-source conversion program to go from an SQL file to a SQLlite file.  That program left the data types in the table schema in their original SQL form.  One was a "bit" type.  Your browser seems to interpret that reasonably.  It displays as either 0 or 1.  When I run an sql command in your browser to select for 0 or 1, it works as expected.

But w

[2015-04-24 04:10] deepsidhu1313 commented on #238
@rp-  Thanks for the refrence that helped a lot. I will be using same code for packaging from previous ppa :smile:  And here is link to testing ppa

https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser-testing

Feel free to tag me with packaging issues. I will be happy to help and contribute to project as much as possible :smiley:  And as i don't use Sqlitebrowser in depth, it will be gr

[2015-04-24 07:38] justinclift commented on #255
@JC3 Do you have time to try our latest nightly build? We've [updated the code](https://github.com/sqlitebrowser/sqlitebrowser/pull/260) we use for the Execute SQL tab, and it now supports Tab for multi-line indent (plus more).

[2015-04-24 07:42] justinclift commented on #266
k, what do you want/need me to test? (kind of hard to tell atm) :wink:

[2015-04-24 07:44] justinclift commented on #268
Interesting.  This does kind of sound bug-ish, as we're trying to keep pretty close to the behaviour of SQLite3.

[2015-04-24 07:47] justinclift commented on #164
@rob-hills @Jerome67000 Would you have time to try out an initial test build?

If so, @deepsidhu1313 created one here a few hours ago:

&nbsp; &nbsp; https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser-testing

[2015-04-24 07:47] justinclift commented on #238
Cool. :smile:

[2015-04-24 07:49] glawrence commented on #266
I have tested the latest nightly build (24-Apr-2015 02:19) on Windows and I get a filter in the open dialog when I do "File -> Open Database...". I guess @justinclift someone needs to test on Linux and Mac.

[2015-04-24 08:32] Jerome67000 commented on #164
So, I just have tried the ppa from @deepsidhu1313 and the install works but I have an UI issue, maybe because im in Elementary OS. My own build hasn't this issue. The weird problem is now i cant build anymore my own build, the sudo make install say :
[code]

So I cant show you the good UI in Elementary OS, but this is the weird UI with the PPA :

![screen_ppa](https://cloud.githubusercontent.com/a

[2015-04-24 08:43] deepsidhu1313 commented on #164
I have almost same UI with both windows version (via wine or on windows) and linux version (debianized), so i can't tell the difference.

![img](/home/nika/Pictures/Screenshot from 2015-04-24 14:09:33.png)
Format: ![Alt Text](url)

[2015-04-24 10:12] Jerome67000 commented on #164
When i have a little more time i will try to fix the build problem to show you the interface on Elementary OS

[2015-04-24 11:46] MKleusberg commented on #113
Closing this issue as it is quite old and we have a fix applied some time ago.

[2015-04-24 11:46] #113 closed

[2015-04-24 11:47] MKleusberg commented on #173
Closing this issue as it is quite old and we have a fix applied some time ago.

[2015-04-24 11:47] #173 closed

[2015-04-24 12:08] justinclift commented on #173
Hmmm, I think I need to test this on OSX too, just to verify it's good all round.  I'll try to get it done tomorrow.

[2015-04-24 12:09] justinclift commented on #164
Cool. :smile:

[2015-04-24 14:42] NLRicker commented on #268
Hi Justin,

A few hours after sending that message I found that my test of SQLlite behavior was flawed.  I’m not sure the bit data type really behaves differently in the two contexts.  Now I’ve eliminated that data type from my DB so I can no longer test for it.

It seems to me that the most useful feature would be to display somehow the data type that will actually be used in SQLlite.  For exampl

[2015-04-24 15:11] justinclift commented on #268
Well... displaying the data type that's going to be used for any particular column probably isn't going to work.  SQLite 3 doesn't really seem to enforce data types the same way that other databases do.

So, even if someone has (say) a column marked as REAL, if someone decides to try and insert "FOOBAR! WAS! HERE!" (a string) into a field in it... SQLite3 will accept that string and store it fine

[2015-04-24 15:11] #268 closed

[2015-04-24 18:20] glawrence commented on #113
I just tried a recently nightly and I get a horizontal scroll bar and a hint, so looks good to me and correctly closed.

[2015-04-24 18:28] justinclift commented on #113
Thanks for testing this @glawrence. :smile:

[2015-04-25 11:14] MKleusberg commented on #240
At least the thing with the crash when adding a UNIQUE constraint in that special case seems to be a bug in SQLite itself. The same happens when executing this code using the command line utility:
[code]
In the latest development version of SQLite, however, I couldn't reproduce this anymore.

[2015-04-25 11:27] justinclift commented on #240
Ok.  What's the right way forward here?  Should we go back to having "without rowid" only for numeric columns?

[2015-04-25 12:21] MKleusberg commented on #240
Ok, to quickly summarise the situation:
* The UNIQUE TEXT primary key thing is a SQLite bug which seems to be fixed in the latest version. So I suggest ignoring this one.
* Without Rowid table are more or less supported, so editing, deleting, adding, etc. of rows works most of the times. I don't think there's any code left which really depends on the rowid column, the only remaining issues may occ

[2015-04-25 12:35] justinclift commented on #240
Cool. :smile:

Is this something we should ask @fu-hsi to test again in the next nightly build?

[2015-04-25 12:38] MKleusberg commented on #240
Yes definitely, if he has the time and motivation :smile:
@fu-hsi Do you? :wink:

[2015-04-27 21:59] justinclift commented on #199
"Naomi Andersons Dream" it is. (ran over time, forgot to set up a vote, so just picked the one that appealed most to me :wink:)

[2015-04-27 21:59] #199 closed

[2015-04-27 22:14] justinclift commented on #164
@deepsidhu1313 3.6.0 is released.  You ok to update your ppa?

We should add it to the front page when that's done too. :smile:

[2015-04-27 22:38] justinclift commented on #180
@lbartoletti We've just released v3.6.0.  Would you be ok to update the port with it? :smile:

[2015-04-27 22:40] samir-aguiar commented on #266
@justinclift you're right, that was confusing. :smile:
So, apparently the bug we had on #230 is gone on Yosemite, but I'm not sure if that's due to some Qt update and if it's also fixed on Mavericks as well. I'll send you a release of DB4S through e-mail, then can you please test if the bug from #230 is still there?

[2015-04-27 23:01] justinclift commented on #266
@samir-aguiar Thanks Samir.  Just tried it here on OSX 10.9.5... and no change.  Still busted here for older OSX releases. :frowning:

Maybe change the conditional to allow filters on OSX 10.10 and above?

[2015-04-27 23:02] cnromaine opened #269 "3.6.0 install problem on Windows"
When trying to update to 3.6.0 in Windows 8.1, I get the following message "This application failed to start because it could not find or load the Qt platform plugin 'windows'. Reinstalling the application may fix this problem ".)
![image](https://cloud.githubusercontent.com/assets/207884/7359648/aecd31fc-ed0e-11e4-9387-a474f0f0c8ca.png)
Tried to install both the 32 bit and 64 bit versions for Win

[2015-04-27 23:03] justinclift commented on #202
We now have a 64-bit windows build (thanks @rp-), so closing this. :smile:

[2015-04-27 23:03] #202 closed

[2015-04-27 23:14] justinclift commented on #269
Gah, that's not good.

@cnromaine Thanks for pointing this out.  We could be releasing 3.6.1 tomorrow or so. :wink:

@rp- Any ideas?

[2015-04-27 23:20] justinclift commented on #269
Some Google turns up these:

* http://falsinsoft.blogspot.ch/2013/09/qt-5-and-failed-to-load-platform-plugin.html
* https://forum.qt.io/topic/40656/solved-qt-this-application-failed-to-start-because-it-could-not-find-or-load-the-qt-platform-plugin-windows/18

[2015-04-27 23:52] justinclift commented on #269
Also received email about this same issue, so it's not limited to @cnromaine. :frowning:

[2015-04-28 00:20] ticktock12 opened #271 "Problem with Qt Platform plugin "Windows""
I am running windows 7 64 bit and when i install the 64 bit version i keep getting "This application failed to start because it could not find of load the Qt platform plugin "Windows".

Reinstalling might fix it.

Reinstalled multiple time nothing worked and

[2015-04-28 00:33] justinclift commented on #271
Thanks @ticktock12.  This one's already reported [here](https://github.com/sqlitebrowser/sqlitebrowser/issues/269).

Sounds like we're better pull the windows binaries for now, until we figure out what's wrong. :frowning:

[2015-04-28 00:33] #271 closed

[2015-04-28 00:42] justinclift commented on #269
I've just pulled the windows binaries, updated the website about it, and reverted currentrelease (which the update checker relies on) to 3.5.1.

Hopefully we get this solved in a day or two, so we can put up good v3.6.0 binaries for Windows. :wink:

[2015-04-28 00:49] justinclift commented on #271
Done it, pulled them.  Hope we get this fixed soon. :wink:

[2015-04-28 01:09] cnromaine commented on #269
Maybe its is in the build?
I don't know if this will help, but 3.6.0 produces a bin with multiple .dlls.
![image](https://cloud.githubusercontent.com/assets/207884/7361114/5dab822a-ed21-11e4-9ad5-17978dd63f10.png)
3.5.1 only has the .exe.
![image](https://cloud.githubusercontent.com/assets/207884/7361122/7b474648-ed21-11e4-9d89-b2eff4f1ed48.png)
That's about all that I can add for now.

[2015-04-28 04:28] deepsidhu1313 commented on #164
@justinclift publihed untested 3.6.0 packages to ppa https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser-testing ,

Please test these packages so that i can publish them to stable ppa
https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser

:smiley: :+1:

[2015-04-28 05:20] rp- commented on #269
There seems to be dll's missing in the installer.
I didn't have this problem, I guess because I hade the qt development libs installed on my system.
Will fix it today.

[2015-04-28 12:37] justinclift commented on #269
@cnromaine Yeah, this is our first Windows release using a new build process (to enable 64 bit Windows builds).  Looks like there are a few kinks to still be worked out. :wink:

[2015-04-28 12:40] justinclift commented on #164
@rob-hills @AndroidGecko @Jerome67000 Would you have a few minutes to try out the new PPA above (if it suits your Ubuntu version)? :wink:

[2015-04-28 13:30] cnromaine commented on #269
Oops. I forgot to include a pic of the 64 bit deployment.

![image](https://cloud.githubusercontent.com/assets/207884/7370517/9f8180ac-ed88-11e4-882d-68133656f158.png)

Note that these are files in the /SqliteBrowser/bin folder. The /SqliteBrowser looks the same for all version:
![image](https://cloud.githubusercontent.com/assets/207884/7370570/07972778-ed89-11e4-8f87-1e56fbbcf837.png)

Thanks for

[2015-04-28 15:37] Jerome67000 commented on #164
Hi, the update work ! i have now the Version 3.6.99. It is not the 3.6.0 ??

[2015-04-28 15:57] justinclift commented on #164
Ahhhh, @deepsidhu1313... it sounds like you packaged master branch and not the v3.6.x branch?

I should probably have [pointed you to this](https://github.com/sqlitebrowser/sqlitebrowser/wiki/Release-process) before, but I didn't think of it until now. :anguished:  Sorry about that.

We can update that info in the wiki, if there's anything special that's needed for the Ubuntu builds btw.  That pag

[2015-04-28 16:11] deepsidhu1313 commented on #164
@justinclift i downloaded latest tar.gz file from the link given at http://sqlitebrowser.org/ via https://github.com/sqlitebrowser/sqlitebrowser/tarball/master.

Can you please provide me the link to release 3.6.0 ? (save me the trouble, i am busy with wedding of my brother, i hope you understand) :smiley:

And package need following dependencies installed

 libc6 (>= 2.14), libgcc1 (>= 1:4.1.1),

[2015-04-28 17:03] justinclift commented on #164
No worries. The "master" bit on the end of "https://github.com/sqlitebrowser/sqlitebrowser/tarball/master" is the branch name.  "master" in this case is our active development branch, not the 3.6.x stuff.

Here's the link you want: :smile:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/archive/v3.6.0.tar.gz

[2015-04-28 17:04] deepsidhu1313 commented on #164
@justinclift @Jerome67000  I downgraded version to 3.6.0 from 3.6.99 for all packages. Please retest the packages.

[2015-04-28 17:20] rp- commented on #269
I added new windows installers with the missing .dll, please someone else also test them.

Also keep in mind that your system needs to have the MSVC2013 .dll installed.
You get a MSVC120.dll missing error on start if thats the case, the installer for them can be downloaded here:
https://www.microsoft.com/en-us/download/details.aspx?id=40784

[2015-04-28 17:25] justinclift commented on #269
I have a Win8.1 VM I can test.  I'll try it out now.

[2015-04-28 17:48] cnromaine commented on #269
Installed both

32 bit, v2
![image](https://cloud.githubusercontent.com/assets/207884/7376122/9c61456a-edab-11e4-986a-3c3d4da643c5.png)
and
![image](https://cloud.githubusercontent.com/assets/207884/7376321/fd96bb20-edac-11e4-9542-132b72b147ab.png)

64 bit, v2
![image](https://cloud.githubusercontent.com/assets/207884/7376105/712d0bea-edab-11e4-8b81-42c10d010623.png)
and
![image](https://cloud.git

[2015-04-28 17:48] justinclift commented on #269
@rp- Cool, the new ones work. :smile:

The MSVCP120.dll error message did happen too, and the download at the link you gave fixed that.

I'll update the release page with the new dependency info, new shasums, and update currentrelease.

[2015-04-28 17:50] justinclift commented on #269
Oh... should I hold off until new icons?

[2015-04-28 17:51] cnromaine commented on #269
I can start a new issue. Push it out the door!
(Thanks again)

[2015-04-28 17:54] cnromaine opened #272 "3.6.0 v2 icons for Windows 32 bit and 64 bit are different."
During testing the 3.6.0 v2 release, I noticed that the icons for the Windows 32 bit and 64 bit were different. Should they be the same? Maybe one was left over from a prior release.

![image](https://cloud.githubusercontent.com/assets/207884/7377837/e9a95316-edb6-11e4-9008-c42022f20b04.png)

Thanks.

[2015-04-28 17:55] cnromaine commented on #269
BTW, I have VS2013 Community installed on this machine. Did not get the MSVCP120.dll error message. No problems were encountered with the "v2" installs.

[2015-04-28 18:25] justinclift commented on #269
Yeah, my VM is close to a fresh install of Win 8.1.

[2015-04-28 18:30] justinclift commented on #271
@ticktock12 New downloads for windows are available now:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.6.0

Sorry for the initial hassle. :frowning:

[2015-04-28 18:36] justinclift commented on #269
k, updated things so now 3.6.0v2 is live. :wink:

Thanks for your assistance with this @cnromaine, it's helping a lot. :grinning:

[2015-04-28 18:36] #269 closed

[2015-04-28 18:38] justinclift opened #273 "Bundle MS "Visual C++ Redistributable Packages for Visual Studio 2013" dependency for 3.7.0?"
Wondering if we can bundle the MS redistributable package dependency for 3.7.0, or (if not), then perhaps check during installation that it's required and let the user know to download it.

[2015-04-28 19:45] ticktock12 commented on #271
Thanks for quick fix :3

[2015-04-28 20:25] karlmortensen opened #274 "Upgrading from 32 to 64 bit went poorly (bad uninstall)"
Running Windows 7, 64-bit OS.

I had a 32-bit version of 3.5.1. This time around I decided to go 64-bit for 3.6.0v2. I uninstalled the 32-bit version (which wasn't registered in Windows 7's Add/Remove Programs list, so I had to find it and use uninstall.exe), but unfortunately it didn't get everything.

I installed 64-bit, and double clicked on a .db file. It brought up the 32-bit version that I t

[2015-04-28 20:32] Jerome67000 commented on #164
:+1: its fine, after update and upgrade, its the 3.6.0 :)

[2015-04-28 20:39] rp- commented on #274
our installer doesn't set any file associations

[2015-04-28 20:40] karlmortensen commented on #274
Ah. That's why it didn't unset them. :-)
My bad.

[2015-04-28 20:40] #274 closed

[2015-04-28 23:34] justinclift commented on #164
Excellent.  Just added pointers about it to the front page.  Please let me know when the PPA location changes (eg moves out of the -testing one), so it can be updated.  Or submit a Pull Request with the updated info, whatever works. :smile:

[2015-04-28 23:34] #164 closed

[2015-04-28 23:55] justinclift commented on #255
This is definitely fixed now in the new 3.6.0 release. :smile:

[2015-04-28 23:55] #255 closed

[2015-04-28 23:56] justinclift commented on #249
@celloman Would you be ok to try this again with our new release from a few hours ago?  We have a 64-bit windows version, which (in theory) should open larger database files now like yours.

[2015-04-28 23:58] justinclift commented on #208
The version checking code, and the Preference toggle to disable it, definitely works in the 3.6.0 release.  Tried it earlier. :smile:

[2015-04-28 23:58] #208 closed

[2015-04-29 00:03] justinclift commented on #257
@rp- Any idea if creating a zip from the contents of an installed version will work ok? (I can prob try it tomorrow, I just need sleep atm)

[2015-04-29 02:57] deepsidhu1313 commented on #164
@justinclift  Packages rebuilt on stable ppa

https://launchpad.net/~linuxgndu/+archive/ubuntu/sqlitebrowser

[2015-04-29 04:33] AnthonyUccello opened #275 "Creating Foreign Key Not Working"
Howdy

I have two tables:
characters
weapons

My characters table has a column: weaponId
This I need to reference to the id in Weapons table.

In my weapons table I have made sure there is an id column, and its the primary key.

I have foreign keys allowed in my schema.

When I go to edit table, on the Characters table, and I click the 'weaponID' column, and I type in for the foreign key weapons (

[2015-04-29 06:23] rp- commented on #275
1. what version are you talking about?
2. what "edit table" do you exactly mean?

[2015-04-29 08:04] rp- commented on #257
yes should work

[2015-04-29 08:09] rp- commented on #272
I have the NSIS icon on both installers

[2015-04-29 09:33] justinclift commented on #164
Excellent.  URL on the front page now updated.

Oh, I need to update the website "Linux" bit too.  I'll do it after work tonight (if I forget, pls remind me!). :wink:

[2015-04-29 09:34] justinclift commented on #257
Cool, I'll make .zip files tonight for the windows binaries.

[2015-04-29 09:36] justinclift commented on #272
Cool.  This sounds like it would work:

&nbsp; &nbsp; https://stackoverflow.com/questions/7431039/how-to-replace-the-default-logo-in-nsis-installer

[2015-04-29 11:11] jonorozcoc commented on #257
I recomend see the PortableApps Config File for details of settings.

[2015-04-29 11:34] justinclift commented on #257
@jonorozcoc Would you be willing to create the .zip files instead?

[2015-04-29 11:37] jonorozcoc commented on #257
Yes, i try

[2015-04-29 11:38] jonorozcoc commented on #257
I will use the latest release.

[2015-04-29 11:52] jonorozcoc commented on #257
I made the file with all the requirements (VC2013), as it can send?

[2015-04-29 12:34] Z4us commented on #275
@AnthonyUccello - How does the structure of your table `weapons` look like?

[2015-04-29 12:44] justinclift commented on #257
Is it small enough to email?  If so, try emailing it to me at justin@postgresql.org.  I'll try it out. :smile:

Oh, we should not include VC2013 yet.  We need to understand the license terms for that bit first. :wink:

[2015-04-29 13:28] xjpmauricio opened #276 "Open Database"
the Open Database button does not restore the last folder opended. It's allways opening on the same folder: my user folder.

OS: windows 7

[2015-04-29 13:59] mgarcia01752 opened #277 "Missing MSVCR120.dll"
I downloaded the latest 3.6.0 and is reporting this missing .dll

[2015-04-29 14:05] justinclift commented on #277
Yeah, you need to install the (free) Microsoft Visual C++ Redistributable Packages for Visual Studio 2013, available here:

&nbsp; &nbsp; https://www.microsoft.com/en-us/download/details.aspx?id=40784

It's pretty easy.

And yeah, if we can figure out how to bundle this dependency with future releases, that'd be better. :wink:

[2015-04-29 14:07] justinclift commented on #276
Yeah, there seem to be two main ways of thinking about this.  One is that the "last opened folder" should be opened... and the other is that the folder defined in Preferences should always be used.

At the moment, it always opens the folder defined in Preferences.  We get asked often enough though, that we should probably make this behaviour changeable.

[2015-04-29 14:11] xjpmauricio commented on #276
In my opinion, the last version's behaviour is more correct: allways open in the last folder selected but, someone else might not like it that way. It might be a matter of personal taste, I don't know.

[2015-04-29 15:21] igozhenko opened #278 "BLOB with text (json) is empty at 3.6.0 (32 or 64)"
See bellow results of query.
`SELECT docs.doc_id, docs.docid, revs.revid, revs.json result FROM docs, revs WHERE docs.doc_id = revs.doc_id AND json IS NOT NULL AND docs.docid LIKE '%Attachment%'`
3.5.1
![3 5 1](https://cloud.githubusercontent.com/assets/2979445/7394422/1ec6bb02-ee9c-11e4-80d2-f41fa526e4df.png)
3.6.0
![3 6 0](https://cloud.githubusercontent.com/assets/2979445/7394424/1ff31368-ee9c-

[2015-04-29 16:03] AnthonyUccello commented on #275
@rp- By edit table I mean modify table. When I want to add a foreign key here:

![sql](https://cloud.githubusercontent.com/assets/3809669/7395387/92dd86e0-ee67-11e4-9256-b88e48574741.png)

My version is: 3.5.1

@Z4us Its just got a row with an id column which is the primary key

![sql](https://cloud.githubusercontent.com/assets/3809669/7395420/c0ade204-ee67-11e4-9c9b-d5d4c3c23d22.png)

[2015-04-29 16:04] AnthonyUccello commented on #275
(Sorry for the typo weappons in the image, but the issue is the same regardless, I've tried weapons(id) and weapons (id), and manual SQL attempts).

[2015-04-29 17:10] justinclift commented on #278
Oh, that doesn't sound good.  @samir-aguiar this sounds like your kind of thing to look at?

[2015-04-29 17:13] justinclift commented on #275
@AnthonyUccello Have you tried our newest release? It has a lot of updates in it, including some foreign key stuff.

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.6.0

If you've already tried that though, no worries. :smile:

[2015-04-29 18:28] rheinheimer opened #279 "Add file extension associations for Windows (and maybe OSX)"
On the 32-bit version of sqlitebrowser for Windows (W7P x64), I can set sqlite files to automatically open with sqlitebrowser. However, I was unable to do this for the 64-bit version. Just letting you know. Thanks!

[2015-04-29 19:56] justinclift commented on #279
Oh interesting.  I'll setup a Win7 vm after work tomorrow and see if I can figure out what's wrong.

Which method(s) did you try for doing the file association?

[2015-04-29 21:31] #277 closed

[2015-04-29 22:43] rhenish commented on #279
I right click, "open with...", "Browse...", then select the sqlitebrowser executable "C:\Program Files\SqliteBrowser3\bin\sqlitebrowser3.exe". Normally, the application would then appear back in the application selection screen. In this case, however, it doesn't appear, so I can't select it. It would be useful to get confirmation.

p.s. I also just tried using the "Default Programs" route, but sam

[2015-04-30 02:20] AnthonyUccello commented on #275
Updating to 3.6 fixed the issue. Closing this.

You guys work fast ^_^

[2015-04-30 02:20] #275 closed

[2015-04-30 04:20] AnthonyUccello opened #280 "Set Foreign Key OnDelete SetNull"
https://www.sqlite.org/foreignkeys.html#fk_actions

It seems you cannot alter columns after they have already been made. Yet I don't see an option to set OnDelete actions for the Foreign Key.

Do you know how I can set this up so if a foreign key is deleted in a parent table then all columns with that key will have those values set to null?

[2015-04-30 12:58] rob-hills commented on #164
Hi Justin,

On 28/04/15 20:40, Justin Clift wrote:

I'd normally be happy to help but we're away cruising at present and
internet connectivity is extremely limited so I'd not be much help
anyway.  I'll be back in early June and can give it a go then if it's
not too late.

Cheers,

--
Rob Hills
Waikiki, Western Australia
Mobile: +61 (412) 904-357

[2015-04-30 13:50] AlbertIslamov opened #281 "Open Database action doesn't remeber last opened folder"
Click Open Database, then choose database file. Next click on Open Database - you'll see the User sesttings folder again, not previously selected folder. Actual for version 3.6.0

[2015-04-30 13:54] AlbertIslamov opened #282 "SQL Editor area displays non-ascii symbols incorrectly - wtih '?' symbol"
Copyin text from sql-results with non-ascii (cyrillic symbols) it displays wtih ????

[2015-04-30 14:31] justinclift commented on #281
This sounds like a duplicate of https://github.com/sqlitebrowser/sqlitebrowser/issues/281 to me.

@AlbertIslamov Do they sound the same to you?

[2015-04-30 14:33] justinclift commented on #276
Aha, found one of the previous Issues about this: https://github.com/sqlitebrowser/sqlitebrowser/issues/224

[2015-04-30 14:34] justinclift commented on #282
Oh interesting.  That does sound like a bug.

Do you have some example text which we can verify with?

[2015-04-30 14:35] justinclift commented on #164
@rob-hills Already taken care of.  Thanks for responding.  Maybe try stuff out when back from your cruise (I'm jealous :wink:), and see if everything works as you expect then? :smile:

[2015-04-30 15:50] justinclift commented on #226
Added an item for making a wiki page to explain what our project files are for.  As I don't seem to have gotten around to it in https://github.com/sqlitebrowser/sqlitebrowser/issues/35. :wink:

[2015-04-30 15:51] justinclift commented on #35
Moved this to our overall "Wiki pages we should have" Issue.

[2015-04-30 15:51] #35 closed

[2015-04-30 15:53] justinclift commented on #114
@serden84 @renkun-ken Our new release from a few days ago has a 64-bit Windows build.  Would you have a few minutes to try it out with your larger data set files?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/tag/v3.6.0

We're hoping the 64-bit builds work better for large data sets now... :smile:

[2015-04-30 15:55] justinclift commented on #205
@MKleusberg This should be fixed now yeah?

[2015-04-30 19:59] schdub commented on #282
Enable UTF-8 in Scintilla Document ctor by default:
libs/qscintilla/src/Document.cpp, line 94
    -       dbcsCodePage = 0;
    +       dbcsCodePage = SC_CP_UTF8;
works for me.

[2015-04-30 21:09] justinclift commented on #282
Ahhh, good thinking.  Want to submit a Pull Request with that?  If not, I can do it. :smile:

[2015-04-30 21:26] schdub commented on #278
It's definitely after #256.

Игорь, спасибо за баг-репорт.

Пожалуйста проверьте, действительно ли значение поля json для строки doc_id=1, revid=1-39757369ecc4... не равно NULL? Так же попробуйте открыть для редактирования значение поля json для строки doc_id=103, revid=1-4991b88e971f... (первая строка на первом скриншоте), так же в "Edit database cell" будет пусто? Если пусто, то пожалуйста сообщ

[2015-04-30 21:40] schdub commented on #282
@justinclift, I don't have much experience with Scintilla, so I think is better to wait answer from @MKleusberg or @rp-.

[2015-04-30 21:49] justinclift commented on #282
Yeah, good point. :grin:

[2015-05-01 00:14] igozhenko commented on #278
@schdub проверил, действительно значение было NULL

![image](https://cloud.githubusercontent.com/assets/2979445/7424885/fb4a1c0e-efaf-11e4-8e03-3b75414abcfe.png)

Очень жалко, так как искал специльно программу которая позволит быстро просматривать и копировать поля с типом BLOB.

[2015-05-01 00:50] mgrandi opened #283 "Interface (Database Structure, DB Schema) are wonky with large CREATE TABLE statements"
[code]

With large CREATE TABLE statements, the interface kinda messes up in those two interfaces (Database Structure tab, and the right side window, DB Schema), as it tries to show the full CREATE TABLE statement with all the newlines, tabs and spaces included. These CREATE TABLE statements are created by SQLAlchemy, so thats why they are formatted that way, but it theoretically could happen with

[2015-05-01 03:23] adam-nelson opened #284 "Windows version. Symantec has detected potential fraud software"
Someone might want to look into the windows version

SEP has flagged at as fraud software and was reported on 5 users machines

[2015-05-01 11:41] MKleusberg commented on #282
Thanks for reporting this :smile: I've just pushed a fix for this issue, so in the next nightly build your problem should be solved.

[2015-05-01 11:44] glawrence commented on #284
I have used SEP to scan the installers and extracted versions as well as Norton Internet Security (NIS) and no issues are found. However on a SEP box when I run the installer I get this:

![sep_scan](https://cloud.githubusercontent.com/assets/1067355/7428265/7d5be9b8-efe5-11e4-91ae-2ba285957e0a.jpg)

Once you go past that everything is fine. All the above shows is that SEP has not seen this very m

[2015-05-01 11:44] MKleusberg commented on #283
Fortunately there already is a solution to your problem :smile: You can tick the 'Remove line breaks in schema view' checkbox in the 'Database' tab of the Preferences Dialog. Let us know if this works for you :)

[2015-05-01 11:46] adam-nelson commented on #284
Click More info

[2015-05-01 11:58] glawrence commented on #284
I clicked "More Details" and can see this:

![sep_scan2](https://cloud.githubusercontent.com/assets/1067355/7429868/7690045e-f001-11e4-96ae-f65e377b1c12.jpg)

This tells me it is a "reputation" issue, it is unproven but some evidence it is trust worthy, less than 5 SEP users have seen it and it is new. All of which I would expect for a new release of software like this. I am not seeing the link to

[2015-05-01 12:08] adam-nelson commented on #284
Fraud software could be a exploited or compromised code even.

Eg someone makes there own executable and then find a way to uploads it to
the official website

On Fri, May 1, 2015 at 9:58 PM, Geoff Lawrence <notifications@github.com>
wrote:

[2015-05-01 12:20] glawrence commented on #284
To me SEP is just saying I have not see this very much before. If you are concerned it is compromised then I suggest you download the code, study it and compile it yourself. Clearly if you find a problem in the code please open an issue

[2015-05-01 13:00] schdub commented on #283
@MKleusberg, btw, why this option removes only \n? I think best way to reduce length of Schema column also remove extra spaces and tabs by using QString::simplified()

[2015-05-01 16:40] celloman commented on #249
I'll try it out, thanks!

[2015-05-01 17:03] celloman commented on #249
Thanks, I am now able to open these databases without this crash... Though it is a bit sluggish on opening.

I'll go ahead and close this, as I feel the problem is adequately fixed. I don't know if anything can really be done about speed. This is dealing with large blobs after all =P

[2015-05-01 17:03] #249 closed

[2015-05-01 17:13] Z4us opened #287 "column 'type' in structure"
In the 'structure' as well as the 'DB Schema' (aren't those two not the same ref to the table called 'sqlite_master' and therefore can better carry only one of aforementioned names [my suggestion 'Schema', bc it's called like that in most books and RFC's] ?) window is a column 'type' (may be one of the four on the left - 'table', 'view', 'index', 'trigger' [ eventually 'meta', but in practice I've

[2015-05-01 17:19] Z4us commented on #287
Sorry I forgot the column-name 'Schema'. One may call it by name in sqlite_master  'SQL' (or lower case 'sql')

Another thing: it seems that the version with sqlcipher when created with 512 byte page_size is automatically changed to the default 1024. Is therefore a reason?

[2015-05-01 17:44] justinclift commented on #249
Awesome!

@rp- Looks like it was the 32-vs-64 bit builds.  Thanks for working on that. :smile:

[2015-05-01 17:47] justinclift commented on #284
Can you please check the SHASUM of the executables you're seeing this on, with the one in the release notes?  Just to be 100% certain it isn't a compromised one.

If it's not... then I guess we can ping the Symantec people to figure out if they can fix their end.

[2015-05-01 17:49] justinclift commented on #282
@AlbertIslamov Would you have time to try the new nightly build, tomorrow? (if so, download locations are on the front page of our repo)

[2015-05-01 17:52] justinclift commented on #283
@schdub From memory, the "\n" thing is because someone asked us to add it.  Your suggestion might be an improvement on top of it too. :smile:

[2015-05-01 17:55] justinclift commented on #287
I'm not sure about the first bit, but the 512 → 1024 change for SQLCipher sounds like a bug. :wink:

[2015-05-01 20:34] glawrence commented on #284
I thought about the SHASUMS but if a hacked can replace the exe then replacing the SHASUMS is no big deal right?

For me Synamtec is doing the right thing, it is warning you of a low reputation file, but I guess we could ask how to avoid this, which is probably a good question.

[2015-05-01 20:37] mgrandi commented on #283
That option does exist! thanks.

I guess i just don't understand why we even have the 'text' schema there at all, what does 'column_name VARCHAR(200)' tell us that already parsed columns with the name and 'type' information in the respective columns doesn't? I would support just getting rid of the text schema (except for maybe one place), and just have everything be available in the graphical tree

[2015-05-01 20:44] mgrandi commented on #283
Another picture, this of MySQLWorkbench, a program that is basically like sqlitebrowser only for mysql, and it sorta has what i'm envisioning for the schema views, where everything is available in a tree like fashion and we don't really need the giant CREATE TABLE string...

http://i.imgur.com/KGfYq4m.png

[2015-05-01 21:23] justinclift commented on #284
Depends where the .exe has been downloaded from.  If they've been downloaded from here on GitHub then sure, that's a *really big deal*.  But it's not clear that's definitely the case, thus the wanting to check things. :smile:

[2015-05-01 21:26] justinclift commented on #283
Hmmmm, that might be a better way of doing things.  Someone would need to code up the new approach, and then we could do some before/after type screenshots and make a decision.

[2015-05-01 23:33] adam-nelson commented on #284
Geoff is getting the same error message as me. So the reputation and sha
hadh should be the same. and someone would need to label it as fraudware

its concerning. You can open a file these days and find your entire data
wiped, stolen or executable remotely phones home :)

adam

On Saturday, 2 May 2015, Justin Clift <notifications@github.com> wrote:

[2015-05-02 08:37] z-rui opened #288 "Cannot type Unicode characters in 'Execute SQL' tab."
In 'Execute SQL' tab:
Non-latin1 characters become question marks (```?```) if I try to type them.

If I copy or type the following SQL and execute it:
[code]
it becomes:
[code]
and the result is ```63``` (Unicode value for question mark(```?```)).

I'm using 3.6.0 on Windows 8.1.

[2015-05-02 09:49] schdub commented on #278
Somebody trying to fix this issue?
If not, #285 returns display blob text fields as in version 3.5.1

[2015-05-02 10:40] glawrence commented on #284
I think generally Adam we all share your concerns, however this problem is not unique to this project, I have seen SEP (and NIS the consumer product) do this with other software, particularly with new releases.

@justinclift I suggest we close this issue and query Symantec about reputation warnings to see what, if anything, we can do? I am happy to pick this up with them if you want me to.

[2015-05-02 13:01] justinclift commented on #288
Interesting.  We fixed a unicode bug yesterday that might also solve this problem.  Would you be ok to try the latest nightly build and see if that works? (if so, the download locations are on the front page of this repo) :smile:

[2015-05-02 13:03] justinclift commented on #284
@glawrence Yep, please do.  I think my wording towards them would be very unkind.  Probably not productive. :wink:

[2015-05-02 14:56] glawrence commented on #284
No problem, happy to pick this up. Do you want me to provide any feedback in this issue, or close this and I'll raise a new one with any actions?

[2015-05-02 15:14] glawrence commented on #276
I reckon we might need a preference checkbox to keep everyone happy. Personally I expect "default location" the first time I ever use an app. Then on each subsequent start of the app I expect either default or last used. However once I have open a file I then expect the next open to start from there.

Anyway, how about a preference which is a combo box with some options:

"Open Database" directory

[2015-05-02 17:44] MKleusberg commented on #288
Yes, this should be a duplicate of #282, so the current nightly build (https://github.com/sqlitebrowser/sqlitebrowser#windows) should fix this problem for you :)

[2015-05-02 17:45] Nisto opened #291 "Won't run on Windows XP"
Just installed for the first time. When attempting to run it, I get "sqlitebrowser.exe is not a valid Win32 application". No warnings about DLLs or other dependencies missing. I downloaded the correct binary for my CPU/OS architecture (both 32-bit) and I have MSVC redistributable 2013 installed. Is Windows XP not supported anymore?

[2015-05-02 20:21] glawrence commented on #291
Well, as I am sure you know, Microsoft don't support Windows XP any more. I don't believe there was a conscious decision to drop it though. Can you confirm you have SP2 applied? Oh and could you try the nightly download for Windows from the repository home page?

[2015-05-02 22:06] justinclift commented on #291
@Nisto This may be a side effect of our new build process.  Does v3.5.1 work?

We can probably still create a WinXP compatible build using the old cross-compiler process if that's the case. :smile:

[2015-05-02 22:07] justinclift commented on #284
Might as well do it here. :smile:

[2015-05-02 22:07] Nisto commented on #291
Even though I am on XP I stay as I up to date as I can on things, so I have the latest service pack and all other updates available of course. I will try the nightly build and report back.

[2015-05-02 22:10] justinclift commented on #276
Decent thoughts.  I kind of remember we've had some discussion about it in our early issues as well, which is probably worth digging through to make a proper proposal with (which covers all bases).

I'm kinda busy on some other stuff (not related to DB4S) for the next 2-3 weeks, so I have no idea if I'll get to look at it before then. You're definitely welcome to if you want. :smile:

[2015-05-02 22:11] justinclift commented on #291
Good idea.  That's probably using the old build process... I didn't think of that... but yeah, give that a shot. :smile:

[2015-05-02 23:37] garfield69 commented on #291
I also run XP SP3 with VC++2013.
just wanted to confirm that the nightly build 3.6.99 works fine, but sqlitebrowser-3.6.0v2-win32.exe fails with same error that Nisto previously reported.
Will there be a nightly build of 3.7.7 for us to try?

[2015-05-03 05:41] z-rui commented on #288
All right, the nightly build fixed the problem.

[2015-05-03 08:02] justinclift commented on #291
Well, the "nightly builds" at the moment are using the very latest source code... so it's already "what will become version 3.7.0".  It sounds like we should create a 3.6.0 release for WinXP using the old process (to keep people on XP happy), and also look into updating our nightly builds to generate things with the new build process as well.  I have no idea when any of that will happen though.

A

[2015-05-03 08:03] justinclift commented on #288
Cool.  Thanks for letting us know @z-rui. :smile:

[2015-05-03 08:03] #288 closed

[2015-05-03 08:13] garfield69 commented on #291
Yes indeed, am perfectly happy to keep using the nightly version for now, thank you.

[2015-05-03 09:42] rp- commented on #291
VS2013 has as default the toolset > winxp set and I didn't check that or even think about it.
I may rebuilt the whole thing with the winxp toolset, or have it at least changed for the next release.

[2015-05-03 11:31] MKleusberg commented on #276
I think the approach suggested by @glawrence should make everybody happy. So I've just pushed an implementation of this which should work for all file dialogs. The default settings is now set to the 'same as last but default for new session' option which seems to be the best compromise for new users and those upgrading to a new version.

[2015-05-03 12:26] glawrence commented on #276
Thanks @MKleusberg I shall look forward to testing that in the nightly build.

[2015-05-03 13:13] MKleusberg commented on #283
I think the main reason why we still have the CREATE TABLE statement in there is that some people use it for copy & paste. I can't find the issue right now but somebody was explicitly asking for that feature... So I think we should leave it in there but this doesn't mean we can't improve the information in the tree structure :smiley: The Schema column is the last one anyways, so it probably isn't

[2015-05-03 13:30] justinclift commented on #291
@rp- Cool.  Btw, from email with John Haller (Portable Apps), we can probably bundle the MS dependency legally-ok, then have NSIS check if it's needed and auto-install it.  We'll need to look over the license text for the dependency first, just in case though.

[2015-05-03 13:33] justinclift commented on #276
@xjpmauricio Would you be ok to test the latest nightly build too, and let us know if it's "working better" with the new approach? :smile:

[2015-05-03 13:34] justinclift commented on #281
@AlbertIslamov Would you be ok to test the latest nightly build (tomorrow)?  We've changed the behaviour a bit for this, so feedback would be useful. :smile:

[2015-05-03 13:37] justinclift commented on #283
Good point.  If the need for the CREATE TABLE statement is an edge case though, we could probably make it a right click context menu item.  eg. Right click → "Show CREATE TABLE statement", which might free up that widget for being redone... :grinning:

[2015-05-04 01:14] liufsd opened #293 "How to create new database with pwd ?"
HI. I want to create a sqlcipher database. Is it support or not ???
Thanks

[2015-05-04 04:38] Taresin opened #294 "Unable to create new record when Not Null fields are present"
Hi guys,
I've got tables with fields marked as NotNull. Tried to add a new record which returns "Error adding record: NOT NULL constraint failed".
I'm guessing the logic defaults everything to NULL for the user to change.

Current workaround: uncheck not null fields, add new record, populate with requisite data, recheck not null fields

[2015-05-04 09:11] hko-gh commented on #279
Had the same issue for the 64 bit version. I figured that the registry entry is still pointing to the wrong directory. So in HKEY_CLASSES_ROOT\Applications\sqlitebrowser3.exe\shell\open\command the value needs to be changed from "C:\Program Files (x86)\..." to  "C:\Program Files\..."

[2015-05-04 10:22] justinclift commented on #293
It is in MacOS, and if you compile it yourself on Linux, FreeBSD, etc.

It's not yet supported on Windows, though it likely will be in a future release (unsure when).

Which OS are you using?

[2015-05-04 10:29] justinclift commented on #279
Thanks @hko-gh. I hadn't gotten around to look at this yet after all. :wink:

With that registry key... it doesn't seem to be in CMakeLists.txt, so I'm wondering where in our source it comes from so we can update it.  Can't see it though. :frowning:

[2015-05-04 13:02] MKleusberg commented on #163
Closing this as we have configurable NULL value highlighting for some time now. It should be well tested and any new errors should probably be reported in a separate issue.

[2015-05-04 13:02] #163 closed

[2015-05-04 13:04] MKleusberg commented on #37
Closing this as it's been almost a year now without any response. It this error still occurs everybody's welcome to reopen this issue.

[2015-05-04 13:04] #37 closed

[2015-05-04 13:12] justinclift commented on #291
Initial response from @richardfontana indicates bundling doesn't seem to be allowed by the MSVC2014 runtime license text.  Going to dig a bit deeper though, to see what can be done. :smile:

[2015-05-04 13:33] 79144876 commented on #293
on  my MacBook pro.

[2015-05-04 13:37] 79144876 commented on #293
![screen shot 2015-05-04 at 9 34 39 pm](https://cloud.githubusercontent.com/assets/1910405/7454354/78b3a4c4-f2a5-11e4-9993-587634a6a1b2.png)

It's only create a simple database,not create a sqlcipher database (encryption).

[2015-05-04 14:51] justinclift commented on #293
Ahhhh, no worries. :smile:

There are two possible downloads for MacOS X.  One with SQLCipher support, and one without it.

Here is the direct link for the one with SQLCipher support, if that helps:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/download/v3.6.0/sqlitebrowser-with_sqlcipher_support-3.6.0.dmg

You can tell which version you have, by going to the menu bar → Ab

[2015-05-04 17:21] maxslimmer commented on #279
If I remove HKCR\Applications\sqlitebrowser.exe and then associate with "c:\Program Files\sqlitebrowser3\bin\sqlitebroswer.exe" windows keeps the association. But if there is an exisiting shell\open\command (with an incorrect path) for the application it does not.
Maybe the installer made by cmake nsis generator works in a similar way. Without an explicit removal of that key it just leaves the exi

[2015-05-04 22:44] justinclift commented on #291
@nickdesaulniers has helpfully pointed this out:

&nbsp; &nbsp; https://msdn.microsoft.com/en-us/library/ms235299.aspx

I'm too sleepy atm to grok it, but I'm betting the info is there for us to find. :smile:

[2015-05-05 10:18] 79144876 commented on #293
ok. i will download the sqlcipher version. and try it latter.
Thanks.

[2015-05-05 10:42] 79144876 commented on #293
ok. i have download SQLCipher Version 3.8.6 .
But when i create a database it also tips a simple database and then create a table .
how to create a SQLCipher database with my custom key ????
Thanks

[2015-05-05 10:44] 79144876 commented on #293
like this https://github.com/sqlcipher/sqlcipher

[2015-05-05 13:53] opeth771 opened #295 "Export to SQL issue with phpmyadmin"
Hi.

I am not sure why, but I have tried exporting my database to SQL using dbviewer. Then, I go to my website and use phpmyadmin to import the SQL file, and I keep having errors. It does not seem to understand the begin transaction statement. I have tried removing it, but it keeps saying that "integer" is not a valid SQL statement either.

What can I do to import my database on my website?

Thank

[2015-05-05 16:34] Anthirian opened #296 "Cannot register .db extension in Windows 7 x64"
As the title says I'm having trouble registering the ``*.db`` file extension. When I double click such a file I'm asked to select the program to open it with. When I navigate to ``C:\Program Files\sqlitebrowser3\bin`` and choose ``sqlitebrowser.exe`` it is not added to the "Open with" window and thus I can't select it as the default option.

[2015-05-05 17:06] rp- commented on #291
I uploaded new builds (v3) which should work on win xp again

[2015-05-05 17:22] garfield69 commented on #291
I can confirm that sqlitebrowser-3.6.0v3-win32.exe works on my win XP sp3. Thanks :+1:

[2015-05-05 20:12] schdub commented on #295
@opeth771, SQLite data types not compatible with MySQL data types. You need to rewrite create statements (such as create table) with column types supported by MySQL.

More about comparison DB data types:
http://stackoverflow.com/questions/1942586/comparison-of-database-column-types-in-mysql-postgresql-and-sqlite-cross-map

[2015-05-05 20:20] schdub commented on #278
@igozhenko, we've added the code that was supposed to solve the problem with displaying of text BLOB. Could you test?

[2015-05-05 20:23] igozhenko commented on #278
@schdub where could I download it to test?

[2015-05-05 20:28] schdub commented on #278
@igozhenko, changes will apply in tomorrow build.
Nightly builds (uncompress them with 7-Zip) are available at:
http://rp.oldsch00l.com/sqlitebrowser/

[2015-05-05 21:40] justinclift commented on #296
This sounds like a duplicate of https://github.com/sqlitebrowser/sqlitebrowser/issues/279.

Does the solution at the bottom of that work for you?

[2015-05-06 09:16] mvrhov opened #298 "Please do static build"
Previous versions were all build statically. So I could have exe file in one directory.. The 3.6.0 is build dynamically with a bunch of files which is not very nice. You should also link to the msvcrt statically.

[2015-05-06 12:32] AlbertIslamov commented on #282
The problem resolved. Thanks a lot.

Пятница,  1 мая 2015, 10:49 -07:00 от Justin Clift <notifications@github.com>:

С уважением,
Альберт Исламов
albertislamov@mail.ru

[2015-05-06 12:40] igozhenko commented on #278
@schdub  works for me, thanks
![image](https://cloud.githubusercontent.com/assets/2979445/7493027/0a0e15ba-f406-11e4-88f0-fb08f3cd0a2d.png)

[2015-05-06 13:32] glawrence commented on #284
@justinclift my conclusion is we would need to submit our new binaries to https://submit.symantec.com/whitelist/isv/ which seems worth a try to me. Would you like me to do this for the v3 files?

PS http://sqlitebrowser.org/ is pointing to the v2 Windows exe files, which needs updating

[2015-05-06 14:43] justinclift commented on #284
@glawrence Yep, please do that.

Oh yeah, good point about the v2 files.  I'll fix that right now.

[2015-05-06 14:45] justinclift commented on #284
Fixed.  It's now pointing at the v3. :smile:

[2015-05-06 14:47] justinclift commented on #284
@glawrence For that ISV upload page, it has an item about:

    For identity verification, a corporate email address is mandatory. Requests from free email domains will be denied.

If that causes any hassle, we might be able to get @sqlitebrowser.org addresses happening.  Would that be useful?

[2015-05-06 14:49] justinclift commented on #282
Excellent.  Thanks for letting us know @AlbertIslamov. :smile:

[2015-05-06 14:49] #282 closed

[2015-05-06 14:50] justinclift commented on #278
Awesome. :grinning:

Thanks for testing this and letting us know @igozhenko. :smile:

[2015-05-06 14:50] #278 closed

[2015-05-06 14:54] justinclift commented on #298
Yeah, it's one of the tradeoff's that have come with using a new build process so we get 64-bit capable binaries on Windows.

If it helps, our nightly builds are still created using the old process.  So if you grab a nightly build it will have the latest source code and still be just one .exe. :smile:

[2015-05-06 15:14] glawrence commented on #284
@justinclift website looks better now, thanks! I know we mentioned e-mail via sqlitebrowser.org before but I can use my work e-mail, which is probably better, if you are okay with that?

[2015-05-06 16:42] justinclift commented on #284
Yep, for sure. :smile:

[2015-05-06 17:00] glawrence commented on #284
Leave it with me then and I'll see what happens, might be a "fire and forget"....

[2015-05-06 17:29] palmiche opened #299 "feature request: sql editor font selection"
Since 3.6.0 sql editor font is not monospace. Please support font customization.

[2015-05-06 17:31] justinclift commented on #284
Cool. :smile:

[2015-05-06 17:33] justinclift commented on #299
Just checked, and you're right.  I hadn't realised our Preferences dialog doesn't allow a choice of font, it only allows size.

This sounds like a worthwhile enhancement. :smile:

[2015-05-06 17:35] palmiche commented on #299
Wow! You just broke about any response time record I've ever heard of.

[2015-05-06 17:52] justinclift commented on #299
I was looking at GitHub anyway for other stuff. :smile:

[2015-05-06 17:59] MKleusberg commented on #299
This is kind of odd because we're still setting the font to Monospace. No idea why this doesn't get accepted on your system... It would be interesting to know which OS you're using and how exactly the font looks like on your system.
But either way, I've added a new option for setting the editor font to the Preferences Dialog. You'll find the new option in tomorrow's nightly build (see front page o

[2015-05-06 18:04] justinclift commented on #299
Wow.  Now **that's** a good response time @MKleusberg. :grin:

[2015-05-06 18:08] glawrence commented on #284
Just been reading and...

[code]

My guess is we would need to do so with the installer and executable. Any thoughts?

[2015-05-06 18:11] justinclift commented on #284
Wondering if a "class 3 digital certificate" is something we need to pay them for. (hoping not)  Would you be ok to look into what our options are, and figure out a good way forward?

[2015-05-06 18:14] palmiche commented on #299
How do I set the font manually?

OS: Win 8.1 Pro 64 (6.3.9600)

![sql-editor-font-3 5 1](https://cloud.githubusercontent.com/assets/12277525/7500106/25dd52a0-f402-11e4-8b94-84e65a472370.png)

![sql-editor-font-3 6 0](https://cloud.githubusercontent.com/assets/12277525/7500122/3394d27e-f402-11e4-8f23-2c372e5c53ba.png)

[2015-05-06 18:21] justinclift commented on #299
Hmmm, you might need to wait until the automatic build tonight?

[2015-05-06 18:32] MKleusberg commented on #299
Yes, you'll need to wait for the nightly build. See details here: https://github.com/sqlitebrowser/sqlitebrowser#windows
The build should be there in ~6h. If you use the binary from that link you can click View->Preferences, then click the SQL tab, and edit the 'SQL editor font' option.

![font](https://cloud.githubusercontent.com/assets/3153504/7500605/e9734b94-f42e-11e4-906c-88060b1ace13.png)

[2015-05-06 18:38] palmiche commented on #299
Thanks. I'll let you know you nailed it as soon as I can. :smile:

[2015-05-06 22:21] acet3chnician opened #300 "Scrolling behavior"
Scrolling in one direction at a time is not possible. Very difficult to stay in same column when scrolling down because it scrolls left or right at the same time. Locking first scroll direction would be a big improvement.

[2015-05-06 22:34] justinclift commented on #300
Interesting.  Which OS and version are you using?

[2015-05-06 22:37] acet3chnician commented on #300
Sorry, my laptop fan just died so can't retrieve version. But just update to latest release a few weeks ago on OS X Yosemite.

[2015-05-06 22:40] justinclift commented on #300
Ok.  We released a new version a few days ago, so try that and see if it's better?  (it may or may not be, but it's worth a shot :smile:)

Btw, I'm trying our new 3.6.0 release here now on OSX 10.9.  In the Browse Data tab I have a field in a column selected.  When I scroll down using the scroll wheel, the PgUp/PgDn keys, or using the mouse on the scrollbar, the field that is selected isn't lost.

[2015-05-06 22:42] acet3chnician commented on #300
Trackpad for scrolling. I'll have to wait about a week for my new fan, then I can try latest release.

[2015-05-06 22:44] acet3chnician commented on #300
Yes, wide and tall databases

[2015-05-06 22:50] justinclift commented on #300
Cool.  Please let us know how it goes. :smile:

[2015-05-06 22:51] acet3chnician commented on #300
Will do, thanks. Get some rest :grin

[2015-05-07 02:23] palmiche commented on #299
Nailed it. Not that there was any doubt about it. :grin:
:+1: @justinclift, @MKleusberg

[2015-05-07 04:35] Teeeeemo opened #301 "3.6 Win-64"
Hello, I had just fresh install sqlite 3.6 64 bit edition and I got 0xc00007b problem. indicates that a 32-bit application is trying to load a 64-bit dll. maybe it's my windows? i'm not thinking so...

oh, sqlite browser is built by Qt!

[2015-05-07 07:37] Anthirian commented on #296
It seems like the same issue, but I didn't find it using the search. I'll attempt the solution later this week and let you know.

[2015-05-07 11:19] justinclift commented on #301
Hmmm, that doesn't sound good.

Which OS are you using?

[2015-05-07 11:20] justinclift commented on #299
Awesome. :grinning:

Thanks for checking and letting us know, it really helps. :wink:

[2015-05-07 11:20] #299 closed

[2015-05-07 11:21] Teeeeemo commented on #301
windows 7 home premium 64 bit (updated

----- Reply message -----
From: "Justin Clift" <notifications@github.com>
To: "sqlitebrowser/sqlitebrowser" <sqlitebrowser@noreply.github.com>
Cc: "Teeeeemo" <wincent6394@hotmail.com>
Subject: [sqlitebrowser] 3.6 Win-64 (#301)
Date: Thu, May 7, 2015 19:19

Hmmm, that doesn't sound good.

Which OS are you using?

---
Reply to this email directly or view it on

[2015-05-07 11:23] justinclift commented on #301
Cool, that's known to work.  As a first thought, when you grabbed the [Microsoft Visual C++ Redistributable Packages for Visual Studio 2013](https://www.microsoft.com/en-us/download/details.aspx?id=40784), did you grab both 32 and 64 bit or just one?

I'm kind of thinking if you don't have both installed, it's probably worth installing whichever one is missing, just to see if that solves it.

Is t

[2015-05-07 12:38] Teeeeemo commented on #301
Good to know that it is known to work.
thank you for replying, @justinclift . I had just known that SQLite 3.6 requires Microsoft Visual C++ Redistributable Packages for Visual Studio 2013. I actually have the 2005, 2008, 2010, 2012, and 2013 for both x86 and x64 architecture.

Oh, okay, my bad that I did not notice the note.

[2015-05-07 12:40] justinclift commented on #301
Hmmm, so you already have it installed, and it's still not working?

Ok, lets try a different approach.  Would you be ok to try our latest nightly build (location on the front page), and see if that works?

It uses a different (older) build process that I'm thinking will probably work for you right away.  It's worth a shot. :smile:

[2015-05-07 12:42] Teeeeemo commented on #301
No, Installing Visual C++ 2013 Redist (x86 / x64) does not fix the problem.
but,
installing Visual C++ 2013 Redist (in my case is x64 (I take 64-bit version)) [b]FOR VISUAL STUDIO 2013[/b] fixes the problem

[2015-05-07 12:43] #301 closed

[2015-05-07 13:04] justinclift commented on #301
Ahhh, all good then. :smile:

[2015-05-07 17:54] ts-web commented on #279
I had the same issue (Couldn't register the 64-bit as the default program after having the 32-bit).
The [solution](https://github.com/sqlitebrowser/sqlitebrowser/issues/279#issuecomment-98643971) by @hko-gh worked for me.

[2015-05-07 18:48] justinclift commented on #279
Sounds like a wiki page with instructions would be useful.  Is anyone up for knocking up together (even very basic)?

[2015-05-08 19:04] FASposito opened #302 "Windows x64: SQL Execute squiggly red line"
Is it possible to add a feature to turn off the squiggly red line that indicates bad SQL in the SQL executer? It's very distracting and quite annoying. Thanks!

[2015-05-08 20:34] justinclift commented on #302
Hmmm, just to ask... which version are you getting the squiggly line on?

It might be possible to add a preference for syntax checking or something, depending on the version. :smile:

[2015-05-08 20:38] FASposito commented on #302
Justin, Thanks for the quick reply. I'm using the new version 3.6. It seems
like it's part of the syntax color scheme, but unlike the other colors
there's no way to change it or turn it off. Even a lighter gray might work
if it weren't squiggly.

Thanks again. It's really a great app!
On May 8, 2015 2:34 PM, "Justin Clift" <notifications@github.com> wrote:

[2015-05-08 21:21] palmiche opened #303 "bug: select returning wrong row"
Hello.

I've found one instance sqlitebroser returns one wrong row on 3.5.1 and 3.6.0. SqliteAdmin-0.8.3.2 works fine and so does every other software I tested. Unfortunately I'm working under NDA so I can't publish the query or the database but I can send them privately on request.

[2015-05-08 21:40] justinclift commented on #302
Yeah, the "Execute SQL" tab is using a new widget thing in this release, so it'll likely need a bit of fine tuning based upon people's suggestion (like you're doing), to get it suiting everyone well.

Thanks. :smile:

[2015-05-08 21:43] justinclift commented on #303
Sure.  Please email the details to justin@postgresql.org.  I'll forward them to the main developers, and we'll keep the query + database details in confidence (but fix the bug). :smile:

[2015-05-08 21:56] palmiche commented on #303
I suppose I shouldn't be surpised by your response speed any more. :grin:
Thanks @justinclift

[2015-05-08 22:55] justinclift commented on #303
You're welcome, just forwarded it on. (and going to bed, so response speed won't be great now :wink:)

[2015-05-09 01:24] acet3chnician commented on #300
OK, just received my new fan and MBPro is working again. Found that my installed sqlitebrowser version was 3.6.0. So already had the newest (other than nightlies which I haven't tried yet)

[2015-05-09 06:33] maxslimmer commented on #279
Well its *very* basic but here's a start. I didn't know how to do a pull request on a wiki so https://github.com/maxslimmer/sqlitebrowser/wiki/Windows-File-Associations

[2015-05-09 10:15] justinclift commented on #279
Cool, that looks like a good start. :smile:

Would you be ok to create it in the main wiki, and add a link to it from the main wiki page so people can see it?

[2015-05-09 11:40] Anthirian commented on #296
Yes that solution has worked for me. I changed the value of ``HKEY_CLASSES_ROOT\Applications\sqlitebrowser.exe\shell\open\command`` from ``"C:\Program Files (x86)\SqliteBrowser3\bin\sqlitebrowser.exe" "%1"`` to ``"C:\Program Files\SqliteBrowser3\bin\sqlitebrowser.exe" "%1"`` and the extension can once again be registered. Thanks for the help.

[2015-05-09 11:40] #296 closed

[2015-05-09 12:41] schdub commented on #303
@palmiche, you press 'Yes' in the 'Collation needed! Proceed?' message box while loading database?
Please try to click 'No' and test again, your query working for me in this case.

It seems that we only have collation implementation (sqlitedb.cpp, collCompare()) for char strings (8-bit) and if used our collation function for compare wide strings (16 bit) it compares only one character.

[2015-05-09 14:43] justinclift commented on #296
Cool. :smile:

[2015-05-09 15:10] FASposito commented on #302
Since I've got you on the line, may I put in another request? I use sqlite
browser every day and have a pretty good sense for my workflow with it. Its
design principals are better than any other similar app out there. I
especially love the simplicity of the filtering system in the browse data
tab. One issue I've had though is that whenever you move off the browse tab
you loose your filters. This b

[2015-05-09 15:11] glawrence commented on #279
Having first edited @maxslimmer copy of the Wiki I have now coped this to the sqlitebrowser wiki and added the link.

@justinclift let me know if we need anything else doing but I think we can close this issue now like #296

[2015-05-09 16:13] justinclift commented on #279
Yeah... I'm just wondering if we can put some kind of info somewhere for people to easily find about this.

Maybe we should update the Release Note info to mention something like "If you're upgrading from the 32-bit to 64-bit release on Windows, you may need to change a registry entry so file association works.  Details [here]." with [here] being a link to the wiki page.

That's the best approach

[2015-05-09 16:15] justinclift commented on #302
Ahhh, that suggestion makes a lot of sense and is probably pretty easy to implement.

Would you be ok to make a new Issue out of it, so we can track it separately to this?

[2015-05-09 20:18] glawrence commented on #279
I have seen other software do one of two things:

- put a check box in the installer, so users can opt in to file association if they want
- options in the preferences for file association

Pretty sure this is possible either way, another option is both. However I think we need to support multiple and possibly custom file extensions given sqlite files don't have a standard extension

[2015-05-10 00:39] justinclift commented on #279
Good thinking.  They're definitely both suitable for a future version.  I'm wondering more about what to do with the current one though, so people know. :smile:

[2015-05-10 06:41] glawrence commented on #279
I guess we need a good wiki page and a Tweet? Or something like that anyway. Maybe http://sqlitebrowser.org/ should link direct to the wiki, as well as GitHub, some people might not know there is documentation in the form of the wiki on the GitHub site.

[2015-05-10 07:26] justinclift commented on #279
Good idea.  Let's do that. :smile:

[2015-05-10 13:17] gasinvein opened #304 "Translations are not being installed via make install"
No .qm files are installed anywhere with make install command.
Also, seems like the program searches for "translations" directory only in directory with the executable, e.g. in /usr/bin.
Sorry for my english.

[2015-05-10 20:25] FASposito opened #305 "Preserve "Browse Data" field filters when switching tabs"
Moving off the Browse Data tab inadvertently clears all field filters. This creates a problem when frequent switching between application tabs is required. For example, when SQL statements are executed and then results are browses. Ideally, field filters would remain in place until actively cleared by the user. A "clear all filters now" button would be also be a great enhancement. Thanks!

[2015-05-10 20:27] FASposito commented on #302
No problem, just added it to the issues queue. Thanks!

On Sat, May 9, 2015 at 10:15 AM, Justin Clift <notifications@github.com>
wrote:

[2015-05-10 22:12] justinclift commented on #305
@schdub Any interest in taking care of this? :smile@

[2015-05-10 22:15] justinclift commented on #304
Ahhh. Which operating system is this happening on?

[2015-05-10 22:20] gasinvein commented on #304
Ubuntu linux.

[2015-05-10 23:28] justinclift commented on #304
Thanks @gasinvein. :smile:

@deepsidhu1313 Are you to look into this?

[2015-05-11 02:24] deepsidhu1313 commented on #304
@justinclift  I am preoccupied with other projects and helping my Juniors with their thesis, no promises but i can "try" to look into this by creating a window in my very tight schedule (my apologies).

:smiley:

[2015-05-11 04:37] kaldown opened #306 "move field up"
move field up sometimes make a crush, and most of the time I have sth like this:
![screenshot_2015-05-11_09-34-13](https://cloud.githubusercontent.com/assets/3754017/7558600/5389386e-f7c1-11e4-90e9-9010a082c44b.png)

FreeBSD 10.1
SQLBrowser 3.5.1

[2015-05-11 07:51] lifedomy opened #307 "[bug] 3.6.0 32bit,64bit utf8 error"
In 3.6.0, In Exequte SQL Editor

chinese and Korean letters crash.

but 3.5.1 is normal.

for example

insert into TextureInfo values ('1','1','1','1','ADDITION','덧셈','加法','jiāfǎ','加','jiā','法','fǎ','','','','','','','1','心算加法','xīnsuànjiāfǎ','덧셈을 암산하다.','20150501','120000','','');

[2015-05-11 08:51] justinclift commented on #307
Yeah, it turns out we forgot to enable UTF support by default in our new Execute SQL code. :frowning:

It is fixed in our nighly builds though.  Are you ok to download and use that? (the download locations are on the front page of our repo)

[2015-05-11 08:56] justinclift commented on #304
Its ok, whenever you have time. :smile:

[2015-05-11 08:59] justinclift commented on #306
Interesting, that definitely looks like a bug of some sort.  Do you have time to check if it happens on our 3.6.0 release as well?

[2015-05-11 09:32] schdub commented on #305
@justinclift, ok. Any idea where to put the button? I think it can be next to the 'Refresh the data...' tool button.

[2015-05-11 10:52] justinclift commented on #305
Can we put an icon or something to the left of the filters?  Screenshot below, showing where I mean. :smile:

![2015-05-11-db4s-clear_filters_icon_question](https://cloud.githubusercontent.com/assets/406299/7563327/fec12a72-f7d3-11e4-9140-c9f9befcad3c.png)

[2015-05-11 11:47] schdub commented on #305
@justinclift, I think not, because click in this place reserved for selecting all table contents.
What about this:
![screenshot from 2015-05-11 14 23 36](https://cloud.githubusercontent.com/assets/1304776/7564078/ee73d86e-f7eb-11e4-874a-331a2acee060.png)

[2015-05-11 12:21] palmiche commented on #303
It works. Never crossed mi mind to choose 'No' when asked 'Proceed?'. :grin: That dialog is kind of misleading. Maybe handle it as a separate issue?

Anyways, thanks @schdub.

[2015-05-11 14:57] justinclift commented on #305
Good thinking. That seems like a good spot for it. :grinning:

@FASposito What's your opinion?

[2015-05-11 14:59] justinclift commented on #303
@palmiche Yep, are you ok to create another issue for it?

It sounds like we should change the description for this issue to something like "NOCASE collation does not handle multi-byte characters".  @schdub Is that a more accurate title?

[2015-05-11 15:25] palmiche opened #308 "misleading dialog: 'Collation needed! Proceed?' when opening db with NOCASE collation"
Please change dialog title and message to reflect the actual choices.

@justinclift suggested "NOCASE collation does not handle multi-byte characters"

[2015-05-11 15:30] palmiche commented on #303
Issue #308

I think that's about it for this issue. Multibyte nocase collation will come in due time so creating another issue for it won't help. Right?

[2015-05-11 15:36] justinclift commented on #303
Ahhh, gotcha, closing then then. :smile:

[2015-05-11 15:36] #303 closed

[2015-05-12 13:26] FASposito commented on #305
I think that looks perfect, thanks. I'm really looking forward to this
change, even though it seems like a small one.

On Mon, May 11, 2015 at 8:57 AM, Justin Clift <notifications@github.com>
wrote:

[2015-05-12 21:21] justinclift commented on #304
@gasinvein schdub has added a fix for this.  Would you be ok to try out our latest code and report back if it works for you as needed? :smile:

[2015-05-12 22:12] gasinvein commented on #304
Yep, now language is selectable and works fine. Many thanks.

[2015-05-13 03:51] justinclift commented on #304
Awesome @gasinvein, thanks for letting us know. :smile:

[2015-05-13 03:51] #304 closed

[2015-05-13 14:06] deepsidhu1313 commented on #304
Thanks  @schdub  @justinclift , I will package the changes on testing ppa asap. :smile:  :smiley:

[2015-05-13 15:32] jimmyp2 opened #311 "Character Encoding issue at 'Execute SQL' panel"
Hello,
trying to type Non-English characters and more specifically Greek at the 'Execute SQL' panel or trying to load an SQL file containing Greek characters they appear as English language question marks( ? ). Why is this happening ? I would like to note that data containing Greek characters stored in the database's tables are presented correctly in the Grid when a select statement is executed at

[2015-05-13 16:50] justinclift commented on #311
Ahhhh, I think this is a bug we fixed a few days ago: https://github.com/sqlitebrowser/sqlitebrowser/issues/282

Would you be ok to try out our latest nightly build (locations are listed on our front page), and see if that works?

[2015-05-14 07:14] lifedomy commented on #307
thanks, your rapid reply. I use 3.5.1 well. Later I will download upVersion.

One more question, I hope you see attch file ==> ex01.mp4.

'jiāfǎ' word display well at Editor but not well at Grid Cell.

ǎ letter is crashed.

I want to know Only my pc's font problem or bug.

There is no problem on Coding. Only showing problem.

2015-05-11 17:52 GMT+09:00 Justin Clift <notifications@github.com>:

[2015-05-14 08:00] mgrandi opened #312 "Win64 version 3.6.0v3 build fails to run"
I run the installer for the 64 bit build, and every time I try and run it, it fails to run and shows the following dialog:

![http://i.imgur.com/ZTo3FeK.png](http://i.imgur.com/ZTo3FeK.png)

I am running windows 8.1 64 bit, and the 32 bit installer version works fine

[2015-05-14 08:17] ajefferiss commented on #312
Was about to raise this issue myself, the 64bit does the same thing on Windows 7. Likewise, the 32bit version works fine.

[2015-05-14 14:24] justinclift commented on #312
Oh, that's not good.  Do you have the (64-bit) version of Microsoft Visual C++ Redistributable Packages for Visual Studio 2013 installed? ([download here](https://www.microsoft.com/en-us/download/details.aspx?id=40784))

[2015-05-14 14:25] justinclift commented on #307
Ahhhh, no.  GitHub doesn't attach files.

You can try sending the file to my personal email address (justin@postgresql.org) though.  Hopefully it's not too big for my mail server. :smile:

[2015-05-14 14:30] ajefferiss commented on #312
That was my problem, I had the 2012 64-bit version installed, but not the 2013 version. Works fine after that's been installed on Windows 7.

[2015-05-14 14:44] justinclift commented on #312
Cool. :smile:

[2015-05-14 19:54] markg85 opened #313 "New version available message doesn't honor "Don't show again""
Hi,

Every time i start SQLite Browser it pops up with "New version available". I can click "OK" and "Don't show again". Clicking OK obviously warrants the popup to show again when i start the application again (till i update), but the "Don't show again" button should just stop me from seeing the "New version available" popup. Also after restarts. Right now it seems to behave the same as clicking

[2015-05-14 21:16] schdub commented on #313
@markg85, hello. Thank you for your post.
It's odd, because I just checked and everything works.
Please show what values you have in the registry key:
HKCU/Software/sqlitebrowser/sqlitebrowser/checkversion

[2015-05-14 21:47] mgrandi commented on #312
@justinclift then the installer should definietly be updated to download / include the installer for vcrdst2013, because i'm on the latest 'production' operating system and I didn't have those run time components.

You should be able to include the installer that is on that microsoft website you linked in the windows installer builds, as the license is meant for exactly that.

[2015-05-15 01:30] justinclift commented on #312
@mgrandi Yep.  This is a bug on our side from switching to a new build process, and not having things completely worked out yet.  We should have this automatic installed from the next release onwards.

[2015-05-15 02:31] justinclift commented on #305
@FASposito Just merged this.  The nightly build won't be created for about 20 hours or so, but would you be ok to test this out after that?

[2015-05-15 12:30] markg85 commented on #313
Now that is interesting!
The values are:

disable : true
major : 3
minor : 6
patch : 6 <-- weird one! It's in the future (3.6.0 is the latest version at this moment).

I've had these same symptoms on two computers. I can only access one, but i suspect the other one also has a patch version in the future. Setting the patch value to 0 seems to fix it for me (for now).

[2015-05-15 12:40] justinclift commented on #313
Oh, that's weird.  It sounds like there's a bug in our version setting bits on windows. :frowning:

[2015-05-15 12:44] MKleusberg commented on #313
We've changed the automatic update check recently because it contained several bugs. The major/minor/patch keys aren't used anymore in the current version (changed in commit da6d8ba385d18a2d9f5eafa3d0f2b9153e880d49), so they shouldn't cause any trouble... I think...
The reason for the 3.6.6 value is that one of the bugs was a typo where the value of the minor part was accidentally written into the

[2015-05-15 12:49] markg85 commented on #313
I was using 3.5.1. I just updated to 3.6.0 (i see you folks updated Qt to 5.4.1, nice!).
I think this bug can be closed now. I will open a new one if i encounter this issue again on 3.6.0 or higher.

[2015-05-15 12:49] #313 closed

[2015-05-15 16:43] FASposito commented on #305
Thanks! It would be an understatement to say that I would be happy to test
the new build...

On Thu, May 14, 2015 at 8:31 PM, Justin Clift <notifications@github.com>
wrote:

[2015-05-15 16:46] justinclift commented on #313
Cool. :smile:

[2015-05-15 16:48] justinclift commented on #305
@schdub Any ideas on how we could have several "Browse Data" tabs?  Maybe we could make them be torn off, so they can be placed around the screen as separate windows?

This is so people can have "Browse Data" tab be open for several different windows at the same time.  I'm not sure how to make it happen though. :wink:

[2015-05-15 22:28] justinclift commented on #311
@jimmyp2 ping?

[2015-05-16 13:40] jimmyp2 commented on #311
Hi again,

thanks for the quick response and sorry for the delayed comeback.
Well, the problem is partially fixed using the nightly build suggested. Now typing Greek characters directly at the 'Execute SQL' panel works as expected but the problem remains when trying to load an SQL file containing Greek characters that is saved using the default Windows ANSI encoding - if it's saved as UTF-8 then i

[2015-05-16 16:17] justinclift commented on #311
Oh that's interesting.  Sounds like we have a bit more stuff to do for this, to properly complete it.

[2015-05-17 03:30] stef145g commented on #246
@MKleusberg , This now makes examining a database much easier in version 3.6.0.
Thanks for providing this feature.

[2015-05-17 03:30] #246 closed

[2015-05-17 14:44] rickshory opened #315 "V 3.6.0 does not remember last-used folder"
I believe I tested this well enough to be sure. Started browser, opened a DB, closed browser. On next start, browser went back to looking for DBs in generic user folder. Since I mostly use the browser to do quick checks on previously-opened DBs, this is a usability drop.  I uninstalled the latest version and re-installed the previous, so I do not have version 3.6.0 to test further.

[2015-05-17 15:49] glawrence commented on #315
This has come up a few times with 3.6.0 and also earlier than that. The nightly builds have some updates in. So I would suggest either using them or go to 3.6.0 and use the "Most Recently Used" database on the file menu. Which sounds like it might work better for you.

[2015-05-18 06:50] justinclift commented on #315
@rickshory The directory which is opened can be set in the Preferences.  But yeah, it's a popular request, and one we're considering how best to do. :smile:

For further reference, please see: https://github.com/sqlitebrowser/sqlitebrowser/issues/281, https://github.com/sqlitebrowser/sqlitebrowser/issues/276, https://github.com/sqlitebrowser/sqlitebrowser/issues/224.

[2015-05-18 06:52] justinclift commented on #284
@glawrence How's this going? :smile:

[2015-05-18 06:53] justinclift commented on #305
@FASposito Reminder ping. :smile:

[2015-05-18 15:24] FASposito commented on #305
Justin, Thanks for the reminder. It works perfectly. It really does make my
life an increment easier. When will the next official release come out?

On Mon, May 18, 2015 at 12:53 AM, Justin Clift <notifications@github.com>
wrote:

[2015-05-18 16:14] glawrence commented on #284
Not forgotten but going slowly, sorry.

[2015-05-18 16:51] MKleusberg commented on #166
@aMarCruz
Casi olvidí este problema... :frowning: Pero ahora, si se abra una tabla para modificarla ponemos el signo '=' en el campo default. Si todavía tienes tiempo y ganas a probarlo puedes descargar el próximo nightly build (pero espera hasta mañana): https://github.com/sqlitebrowser/sqlitebrowser#windows

@justinclift Finally, fixed the '=' sign to be included. So this should be fixed now, so

[2015-05-18 17:16] MKleusberg commented on #140
I've just added a new action called 'Copy Create statement' to the right-click menu of the Database Structure tab which copies the CREATE statement to the clipboard. From there it can be put in a file or in a SQL editor tab. I hope this makes it more obvious how to access the CREATE statement.

There is no editor window for creating views and therefore we don't support editing them in a graphical

[2015-05-18 17:22] MKleusberg commented on #117
Closing this as the issue is quite old and should be solved. I hope this is fine for everybody :)

[2015-05-18 17:22] #117 closed

[2015-05-18 18:14] aMarCruz commented on #166
ok, I test it tomorrow

[2015-05-19 09:20] kropochev opened #316 "Delete the line of the plot."
Add the ability to build a plot of the points only.

[2015-05-19 13:56] justinclift commented on #305
@FASposito Awesome! Rough aim for the next release is around June 8th. :smile:

[2015-05-19 13:56] #305 closed

[2015-05-19 13:57] justinclift commented on #284
No worries, I'm kind of expecting that by now they would have enough positive reports for the immediate problem to be over.  Figuring out the future solution though would be kinda useful. :smile:

[2015-05-19 14:01] justinclift commented on #140
Thanks @MKleusberg, that's excellent. :smile:

@MarcoTroester @Greg-Roberts Would either of you have time to try out our latest nightly build, and let us know if the new 'Copy Create Statement' approach is workable from your points of view?

[2015-05-19 14:02] justinclift commented on #166
@MKleusberg Awesome. :grin:

[2015-05-19 14:03] justinclift commented on #316
@kropochev That's kind of unclear.  Do you have time to make that clearer?  Maybe a picture/graphic to show what you mean? (it does not have to be a high quality picture.  Even Microsoft Paint would be ok. :smile:)

[2015-05-19 14:44] schdub commented on #316
@kropochev, something like this?
![plot only points](https://cloud.githubusercontent.com/assets/1304776/7705684/5dfb0b40-fe4e-11e4-88db-6b837fff5b1b.png)
Same plot with lines between points:
![plot std](https://cloud.githubusercontent.com/assets/1304776/7705700/7b82a344-fe4e-11e4-84c8-ef5a8f07fada.png)

[2015-05-19 14:46] MarcoTroester commented on #140
Hello everybody,

I really appreciate your efforts.

I would really like to test your product, but unfortunately I cannot compile the sources myself. I've just installed Qt Creator, but when starting the IDE, it crashes.

Could you please compile your sources for me? (I am using Windows 7 OS)

Thanks in advance.

Marco Tröster

[2015-05-19 14:46] kropochev commented on #316
Yes exactly

[2015-05-19 15:19] schdub commented on #316
@justinclift, we can add two ComboBoxes with 'Line type' and 'Point shape', when first item is 'None', for example. What do you think?
![screenshot from 2015-05-19 18 08 40](https://cloud.githubusercontent.com/assets/1304776/7706475/51037b16-fe53-11e4-836c-463c8aab6d62.png)

[2015-05-19 18:02] justinclift commented on #316
@schdub That sounds like a really, really good idea.  Are you ok to commit it? :smile:

[2015-05-19 18:05] justinclift commented on #140
You're in luck. :smile:

We automatically compile a build each night from our latest source code (it's scripted), and make that available for download here:

&nbsp; &nbsp; http://rp.oldsch00l.com/sqlitebrowser/

The .xz file there is the compressed version of the program.  Use [7zip](http://www.7-zip.org) to uncompress it, and you should be right to go. :grinning:

[2015-05-19 20:58] schdub commented on #316
@justinclift, done.
Please somebody review #317.

[2015-05-19 21:20] mafagafogigante commented on #204
So they should be there... Was trying to find the languages in the dropdown menu and thought that it was a bug in my installation. Hope someone figures this one out.

[2015-05-19 21:41] schdub commented on #204
@mafagafogigante, wich version do you use?
Should be fixed after #310.

[2015-05-19 22:49] mafagafogigante commented on #204
3.6.0 (release)

[2015-05-19 23:16] schdub commented on #204
@mafagafogigante, it's already fixed
![screenshot from 2015-05-20 02 10 32](https://cloud.githubusercontent.com/assets/1304776/7715979/15cdcebe-fe96-11e4-8c3e-c5471c7c7ef9.png)
You must wait for 3.7.0 version or use our Nightly build:
http://rp.oldsch00l.com/sqlitebrowser/

[2015-05-19 23:19] mafagafogigante commented on #204
Oh, thank you for pointing this out. Should this issue be closed then?

[2015-05-19 23:34] schdub commented on #204
@justinclift, we can close this? On screenshot is .exe from Nightly build.

[2015-05-20 00:37] igozhenko opened #319 "App shows dialog "New version is available" even after click on "Don't show it again""
Dialog
![image](https://cloud.githubusercontent.com/assets/2979445/7716882/4c4c87b8-fea1-11e4-9d12-ff5f4c670543.png)

Details from About.

![image](https://cloud.githubusercontent.com/assets/2979445/7716878/4122e33c-fea1-11e4-81a4-c24bcd12cc9c.png)

[2015-05-20 00:43] schdub commented on #319
@igozhenko, thanks for reporting, but this issue already fixed and discussed in #313.

[2015-05-20 06:33] MarcoTroester commented on #140
Thumbs up for the one who committed the code. Thank you very much :D

[2015-05-20 12:49] justinclift commented on #204
Yep, lets close it. :smile:

[2015-05-20 12:49] #204 closed

[2015-05-20 12:51] justinclift commented on #319
@igozhenko Ironically, the bug which causes this is fixed in 3.6.0.  Are you ok to upgrade to that?

[2015-05-20 12:54] justinclift commented on #140
@MarcoTroester It's @MKleusberg's work. :smile:

It sounds like this issue is pretty much resolved now, so I'm going to close it.  If that's not the case, feel free to reopen it. :wink:

[2015-05-20 12:54] #140 closed

[2015-05-20 12:57] justinclift commented on #316
@kropochev The code to make this happen has been review and added to the project.  Would you be ok to try the latest code to verify it works how you want?

If you're using Windows or MacOS X, there will be a new "nightly" build you can try tomorrow.  Download locations are shown on our front page. :smile:

[2015-05-20 16:40] dmitrymozheyko opened #321 "SQL Lite Browser 3.6"
OS Windows Prof 7 x 64. Both versions x86 & x64 not prints russian symbols in SQL Window

[2015-05-20 16:51] MKleusberg commented on #321
Hi! You're lucky we've already fixed this issue some days ago. You can download the latest build from here http://rp.oldsch00l.com/sqlitebrowser/sqlitebrowser.exe.xz (use 7-zip to unpack) and use that. With this file the Russian symbols will work again :smiley:

[2015-05-20 16:51] igozhenko commented on #319
@justinclift  I'm waiting new version ;), because I need quick view of blobs. I already reported about it and looks it will be reverted back in it.

[2015-05-21 14:26] kropochev commented on #316
Checked version of mac and win. In the version for the win chart with points at the vertices displayed incorrectly.
![win_dot](https://cloud.githubusercontent.com/assets/8565494/7750631/c417298a-ffee-11e4-8109-993f245ba8cd.PNG)
A mac version correctly.
![mac_dot](https://cloud.githubusercontent.com/assets/8565494/7750671/ef708d9c-ffee-11e4-8943-5910d1e906f4.png)
Implemented great, thank you very m

[2015-05-21 15:28] schdub commented on #316
@kropochev, are you sure data set on windows and mac is equal (it appears on the image there are gray dots)?
What happens if you choose point shape Disk on windows build?
Could you please send me the database to test?

[2015-05-21 15:41] kropochev commented on #316
@schdub, yes, data is equivalent. [DB](https://dl.dropboxusercontent.com/u/2957764/Gortrans.db)
If choose point shape Disk on windows build, plot displays similar mac build.

[2015-05-21 16:48] schdub commented on #316
It looks like troubles with drawing dots in qcustomplot library on Linux and Windows platforms.
Wrote to the author with proposal how to fix this.

[2015-05-21 17:25] justinclift commented on #316
@schdub Is there a PR for it which we can watch? (if the qcustomplot stuff is on GitHub)

[2015-05-21 17:42] rp- commented on #316
maybe its already fixed? we don't use the latest version

[2015-05-21 18:26] schdub commented on #316
@rp-, I've already check, but not. Btw, can I add new version (1.3.1) this library into our repo?
@justinclift, no, only support email.

[2015-05-21 19:08] rp- commented on #316
sure, but maybe wait a few days, if the guy from qcustomplot can fix it quick, he might release a new version.

[2015-05-21 19:46] schdub commented on #316
@rp-, he told me that this isn't a problem in his library, but the problem in some versions Qt.

Problem code, I think is:

    case ssDot:
    {
        painter->drawLine(QPointF(x, y), QPointF(x+0.0001, y));
        break;
    }

If replace it with something like:

    case ssDot:
    {
        painter->drawPoint(QPointF(x, y));
        break;
    }
everything is fine.

I think the easiest way t

[2015-05-21 20:39] rp- commented on #316
sounds good enough for me

[2015-05-21 23:55] justinclift commented on #316
Yep, sounds like a good plan @schdub. :smile:

[2015-05-22 14:45] aMarCruz commented on #166
@justinclift , it is working like a charm :+1:

[2015-05-23 08:33] rp- commented on #273
d99d83f269e4f942e9e3dddba5b417005e4191b7

[2015-05-23 08:33] #273 closed

[2015-05-23 08:34] rp- commented on #312
next release will fix this.
d99d83f269e4f942e9e3dddba5b417005e4191b7

[2015-05-23 08:34] #312 closed

[2015-05-23 08:35] #291 closed

[2015-05-24 03:01] JoeErsatz opened #325 "Request read-only Open of DB"
Self-explanatory: I'm using sqlitebrowser to examine data but only the affiliated software must be permitted to modify the DB in any way! Lest a slip of the mouse occur, I respectfully request that you folks implement an Open Read-Only capability down the road or ASAP. Hey, THANKS!

Y'know, it's actually not a crucial thing. You'd have to be a dumbo to click on "Write changes". So let the reader b

[2015-05-24 16:21] justinclift commented on #166
Excellent!  Thanks for checking and letting us know @aMarCruz. :smile:

Great work again @MKleusberg. :grinning:

[2015-05-24 16:21] #166 closed

[2015-05-24 16:23] justinclift commented on #307
@lifedomy I did receive the file, but was tired and then went to sleep and forgot about it.

I'll forward the file to the other guys, so they can look into it.

[2015-05-24 16:29] justinclift commented on #307
@lifedomy I have forwarded the .mp4 file to the main developers.  Hopefully they'll know what the problem is.

As a thought, have you tried version 3.6.0 of our program?  We changed some of our Unicode handling in that... and there is a chance it has already fixed the problem. :smile:

[2015-05-24 16:30] justinclift commented on #273
Awesome Rene.  This should help a lot for the upgrade process. :smile:

[2015-05-24 16:38] justinclift commented on #325
Hmmmm, I'm not sure if this would be easy/hard/etc. :wink:

Some databases technically change files even just to "open the database" - even if there is no real change in the data contained.

I'm personally unsure about SQLite3 for that, but if it has to change the database file just to open it, it could be difficult.  The other guys here would probably know for sure. :grinning:

[2015-05-24 17:13] glawrence commented on #325
I have just tried opening a database, issuing some queries and then doing a binary diff, nothing changes, which is good. I then marked the database file read-only and when I tried to add a row I got an error message. So, DB Browser for SQLite does seem to do the write thing. As a workaround I would mark the file read-only to avoid problems. However it would still be good for us to add an enhanceme

[2015-05-24 17:24] justinclift commented on #325
Ahhh, good thinking. :smile:

[2015-05-24 17:45] JoeErsatz commented on #325
'Glad to see you're pursuing this. You said as a workaround you could "mark the file read-only". I'll just go ahead and assume you mean by that to enter the appropriate direct command under the program's "Execute SQL" tab. I confess to and apologize for my utter ignorance of SQL command lingo but no matter. You say you may integrate the read-only ability into the GUI and I am thankful!

[2015-05-24 17:56] glawrence commented on #325
@JoeErsatz sorry, I meant use your operating system to mark the file read-only. So, before you load the database file in DB Browser for SQLite, find the file with your operating system utilities and mark the file read-only

[2015-05-24 18:59] justinclift commented on #325
@JoeErsatz Just to check... which operating system are you using? :smile:

[2015-05-24 19:08] JoeErsatz commented on #325
Windows. Hey no, I get you now -- I actually had considered momentarily that was your meaning but concluded otherwise. No I cannot mark the file read-only because it's over a LAN but more importantly the software controlling the DB is constantly running (at that other LAN node).

[2015-05-24 19:22] justinclift commented on #325
No worries.  As a thought, maybe it needs to be marked Read Only on the server which is storing it?

That being said, something in our UI and codebase to do things in a Read Only option fashion isn't a bad idea. :smile:

[2015-05-24 21:00] glawrence commented on #325
@justinclift for the scenario @JoeErsatz has outlined the only option is "Open Read Only" within DB4S. Given this is labelled as an enhancement and we have clearly outlined why then we just need to wait for a pull request or similar

[2015-05-25 11:07] justinclift commented on #12
Wondering if our new build system for windows would let us add SQLCiper support...? :smile:

[2015-05-26 05:27] lifedomy commented on #307
Thanks to your good reply. It's good to know this problem.

I hope  you and your team go well.

2015-05-25 1:29 GMT+09:00 Justin Clift <notifications@github.com>:

[2015-05-26 09:47] aciokv opened #326 "Open Databases per Drag and Drop"
If no database is loaded it would be really helpfull if you could drag one on the main app window.

[2015-05-26 11:12] justinclift commented on #307
Have you tried version 3.6.0?

[2015-05-26 11:13] justinclift commented on #326
In theory (!), that should work already. :smile:  Which operating system are you using, and which version of our application?

[2015-05-26 11:33] aciokv commented on #326
Strange, now it works, sorry
But for completeness:
Win 7 Pro
DB Browser Version 3.6.0
Qt Version 5.4.1
SQLite Version 3.8.9

[2015-05-26 13:22] justinclift commented on #326
Yeah, that's a combination that is "known to be good".  I'll close this issue for now, but if you see the behaviour happening again, please re-open it so we can figure out how to investigate. :smile:

[2015-05-26 13:22] #326 closed

[2015-05-26 14:29] hamidmalek commented on #311
hi there, I can't write persian words in sql panel and I don't know what should I do? help me please.

[2015-05-26 16:20] justinclift commented on #311
@hamidmalek Try using our latest "nightly build".  The download location is on the front page of our repo.

If that doesn't work, then let us know. :smile:

[2015-05-26 16:21] justinclift commented on #311
@schdub @MKleusberg Any interest in looking at this? :wink:

[2015-05-26 16:48] MKleusberg commented on #311
@justinclift Just tried it with the latest build and it works. So I assume using the nightly build it'll work for @hamidmalek , too. If not it might be necessary to set another font in the Preferences Dialog. The only thing I noticed is that especially selecting text is a bit erratic because of the mix of LTR SQL text and RTL Farsi text but that doesn't seem to be much better in other applications

[2015-05-26 16:54] MKleusberg commented on #293
@79144876 Encrypting databases is done in two steps: first creating an unencrypted database and then encrypting it.  After you've created a new database file (or opened an existing one), you can click the File -> Set Encryption menu option (only available in the sqlitebrowser version built with SQLCipher support) to set a password for your database. The old, unencrypted file then gets replaced by

[2015-05-26 17:35] justinclift commented on #311
Awesome.  Thanks Martin. :smile:

[2015-05-26 17:41] glawrence commented on #293
I have now started a Wiki page on this, happy for others to improve it

[2015-05-26 17:41] justinclift commented on #226
Added an item for "How to create an encrypted database (and/or encrypt an existing one)".  @glawrence Any interest in that? :smile:

[2015-05-26 17:42] justinclift commented on #293
Awesome Geoff.  Just added an entry for the wiki tracking issue about this too. :grinning:

[2015-05-26 17:53] glawrence commented on #226
Seems we both had the same thought! Let me know if what I have done does not cover it enough, very happy to have it updated/corrected/improved.

[2015-05-27 05:06] lifedomy commented on #307
In 3.6.0 editor crash but grid is good.
In 3.5.1 editor is good but grid crash.

[image: 본문 이미지 1]

2015-05-26 20:12 GMT+09:00 Justin Clift <notifications@github.com>:

[2015-05-27 13:21] justinclift commented on #226
@glawrence Definitely needs some screenshots added.  Do you have something that runs the SQLCipher versions and can do them with?

[2015-05-27 21:31] jgus commented on #269
Has the portable app been updated with this fix? I'm seeing this error with the portable app at https://github.com/sqlitebrowser/sqlitebrowser/releases/download/v3.6.0/SQLiteDatabaseBrowserPortable_3.6.0_English.paf.exe

[2015-05-27 22:24] cnromaine commented on #269
Was able to open @jgus' portable app on Windows 8.1 machine without any error messages. Did not check it any further. No error message as I first reported in April (see first post).

What version of Windows are you running @jgus? Perhaps you should log it as a new issue with documentation of its problem and your machine's specs.

Ping me if you need me to run some quick tests.

[2015-05-28 07:09] glawrence commented on #226
@justinclift my default OS is Windows, so no. I have a Linux VM but have not built with SQLCipher yet, currently working on something else. I also don't have your image editing skills with those soft borders you add!

[2015-05-29 03:17] jgus commented on #269
Windows 8.1. Though, the exact same set of files _does_ work on another Win8.1 machine. Not sure what the difference is. And using the installer rather than the portable seems to work around whatever the issue is on the problematic machine. <shrug>

[2015-05-29 09:41] magicvinni opened #327 "Include sqlitebrower and Translation"
Hello,

   Congratulations for your software. I'm the lead developper of the project : EduPython (http://edupython.tuxfamily.org/) which is a portable python distribution for French Teachers (this may excuse my bad english ;) ). Edupython is under free licence CeCILL-B.
    1 - Can I include your sqlitebrower in my next EduPython distribution ?
    2 - Can I help you by translating sqlitebrowser i

[2015-05-29 17:26] glawrence commented on #327
Any help translating is always welcome. Just submit a pull request.

I will leave @justinclift to answer your other query.

[2015-05-29 20:44] magicvinni commented on #327
Le 29/05/2015 19:26, Geoff Lawrence a écrit :

OK, thanks for your answer, it's the first time I use GitHub. I going
to  submit a pull request.

Vincent

[2015-05-30 02:31] justinclift commented on #327
@magicvinni You're welcome to do anything with this, that respects the licenses. So, yes. :wink:

This isn't a Python program though... are you sure you want to include it?

[2015-05-30 02:33] justinclift commented on #269
Yeah, that's really weird. :frowning:

[2015-05-30 10:27] magicvinni commented on #327
Hi,

    Thanks a lot for this very good new ! Yes I can include it in my
python distrib, because it contains, Python engine, IDE (pyscripter),
and tools (see the screen shot). I already do this with a very old
version of SQlite Databas Browser.

Best regards,
Vincent

Le 30/05/2015 02:31, Justin Clift a écrit :

[2015-05-30 12:50] glawrence commented on #327
@magicvinni if you need help with doing a pull request you can just ask, however the GitHub help, StackExchange and Google should also be useful. My suggestion to you is that you do it all in one commit, so just take your time and do the one commit. If you don't it's fine, we have commit merging instructions on the wiki

[2015-05-30 17:12] AnthonyUccello opened #329 "Can't change column or delete."
Howdy

When I add a new field, it adds the field. However I cannot change the name after I save it. It keeps the name it was created with (e.g. field24). I have tried restarting, and I cannot delete the row. Only add. When I try to delete the row I get a popup that says "no error".
![err](https://cloud.githubusercontent.com/assets/3809669/7898423/713d864c-06cd-11e5-86b5-1811f6a5fe69.png)

Thoughts

[2015-05-31 02:59] felagund18 opened #330 "ExucuteSQL tab"
When writing unicode characters in executeSqlTab, it instantly becomes a question mark "?"...

текст -> ?????

[2015-05-31 11:10] schdub commented on #330
@felagund18, thanks for reporting but this issue already fixed.

You should use our nightly build (http://rp.oldsch00l.com/sqlitebrowser/) or wait until version 3.7.0 is finally will be released.

See: #282.

[2015-05-31 11:10] #330 closed

[2015-05-31 11:13] #319 closed

[2015-05-31 11:23] schdub commented on #316
ssDot displaying problems have been solved in #324.
I think we can close this issue.
@justinclift, can we?

[2015-05-31 11:59] schdub commented on #329
@AnthonyUccello, hello. Thank you for reporting.
Which OS do you use? Win8?
Please attach or send me (see my email in my profile) database file for testing purposes.

[2015-06-01 09:44] tbayart opened #331 "Close button & other enhancement"
Hi, I would like to suggest a "Close database" button beside the "new" and "open" buttons.

A better enhancement would be a tab in settings to select active buttons in a list of possibilities allowing users a bit of customization.

[2015-06-01 11:27] schdub commented on #329
@AnthonyUccello, in SQLite you can rename field in existing table with algorithm something like:
http://stackoverflow.com/questions/805363/how-do-i-rename-a-column-in-a-sqlite-database-table

I note separately: need to drop old table.

Because table 'armor' have PK and table 'grrbls' references this table as FK.
If you have data in table 'grrbls' then you can't rename fields in 'armor' table becau

[2015-06-01 15:11] justinclift commented on #316
Sure. :smile:

[2015-06-01 15:11] #316 closed

[2015-06-01 15:14] justinclift commented on #331
Hmmm, I have no strong objection to adding a Close database" button.  It would be useful for people.

The idea of having a list (in Preferences area?) to allow customisation of buttons does sound really good though. :smile:

Out of curiosity, do you have skill with C++ and/or Qt? :smile:

[2015-06-01 16:29] tbayart commented on #331
I don't know about Qt
I'm a bit skilled with C++ but I'm not up to date since I didn't used it for 5 years
I could contribute with code, I have to free up time

[2015-06-01 17:45] justinclift commented on #331
That would be great. :grinning:

[2015-06-01 20:29] ronCYA opened #332 "Note on updating to 64-bit version"
The new 64-bit version is obviously not an update but a completely separate program to any existing 32-bit installation. Certainly not a bug by any means, but perhaps a note could be included somewhere for unaware users.

I was unaware of sqlitebrowser's 32-bit-only history and just assumed it had always come in 64-bit offerings when I saw the 64-bit download. As a result, my head got scratched a

[2015-06-01 22:38] justinclift commented on #332
Ahhhh, interesting thought.  I guess we could put something in the Release Notes page.  Does that sound like a decent spot to you which people would generally see?

[2015-06-01 22:53] ronCYA commented on #332
Well, I can think of at least two ideas.

The most useful spot would be in the 'There is a new version, please download' pop-up alert that appears, since it's what triggers most users to download the new version in the first place. Having such a note would clutter up the alert window though, and wouldn't be relevant to someone updating to a 32-bit version or (eventually) from a 64-bit version.

Th

[2015-06-02 10:33] schdub commented on #295
@opeth771, ping? Your problem is solved?

[2015-06-02 15:38] icol2006 opened #333 "Unrecognized token: "@" when query a column that use @ symbol"
Unrecognized token: "@" when query a column that use @ symbol

[2015-06-02 18:53] schdub commented on #333
@icol2006, please provide example of your table and query.
Maybe your query should be something like:

   SELECT `D@ta` FROM `foo`;

[2015-06-02 22:35] icol2006 commented on #333
CREATE TABLE `Testing` (
	`id_@`	text,
	`name`	text,
	`adress`	text)

select id_@ from testing

[2015-06-03 06:56] schdub commented on #333
@icol2006, escape field name with "" or [] or ``:

    CREATE TABLE Testing ([id_@] text, name text, adress text);
    INSERT INTO Testing ([id_@], name, adress) VALUES(1, "test", "test");
    SELECT [id_@] FROM Testing;

http://stackoverflow.com/questions/2901453/sql-standard-to-escape-column-names

[2015-06-03 09:50] vaidasB opened #334 "problem in execute SQL tab when query includes Unicode"
There is problem in execute SQL tab when query includes Unicode characters for example Japanese or Chinese kanji. All characters turns to question marks.

[2015-06-03 10:03] schdub commented on #334
@vaidasB, thanks for reporting but this issue is already fixed.

You should use our nightly build (http://rp.oldsch00l.com/sqlitebrowser/) or wait until version 3.7.0 is finally will be aired.

See: #282.

[2015-06-03 11:30] justinclift commented on #333
Awesome @schdub.  I just learned something new too. :smile:

[2015-06-03 11:32] justinclift commented on #226
Ahhh, the soft borders is an automatic thing done by the inbuilt OSX screenshot key combo.  :wink:

I'll get some screenshots done for the SQLCipher stuff done at some point, as I think it'll help. :grin:

[2015-06-03 12:18] tbayart opened #335 "in-memory sqlite"
Beside me, anyone else could find useful to be able to open an in-memory sqlite database ?
https://www.sqlite.org/inmemorydb.html

[2015-06-03 12:30] tbayart opened #336 ""Execute SQL" tab cleared on close"
When you close a database, "Execute SQL" tab get cleared.
There is no warning about that.
Logs got cleared too (user & application).

[2015-06-03 12:33] tbayart opened #337 "Missing log"
When you enter a query in "Execute SQL" tab with line-break, your query is not logged properly :
The first line is logged then
&lt;string can not be logged, contains binary data&gt;

Maybe replacing line-breaks with whitespaces could solve the issue.

[2015-06-03 12:59] ccw808 opened #338 "Windows installer runs program as wrong user"
At the end of installation, you are given an option to run the program. However the program is run as an administrator user, rather than the user that initially launched the installer.

[2015-06-03 14:59] glawrence commented on #226
I agree, it would help. To be fair images have always been an Apple strong point.

[2015-06-03 17:17] glawrence commented on #335
I understand the advantages of in-memory databases, however you will notice on that web page that "all database connections sharing the in-memory database need to be in the same process". This means you could create a database in DB4S but it would not be available to any other process and DB4S could not open one belonging to another process. So adding this feature would seem to me to be of limited

[2015-06-03 18:32] justinclift commented on #338
Oh, that doesn't sound good.  Which OS are you using, and which version of DB4S?

[2015-06-03 18:36] justinclift commented on #336
Would you be ok to check if this happens with our latest nightly build?  We've been doing some stuff with not clearing various things at specific times, and there's a chance this one is already taken care of.

If it's still happening with our latest nightly build, then yeah, we can add this to the list of stuff to do.  It sounds both simple, and fairly easy to make configurable.  :smile:

[2015-06-03 18:37] justinclift commented on #337
Which operating system are you using, and which version of DB4S? :smile:

[2015-06-03 18:48] ccw808 commented on #338
Windows 7 64 bit and version 3.6.0

[2015-06-03 19:50] schdub commented on #338
@ccw808, do you mean "Run DB Browser for SQLite" checkbox on "Complete DB Browser for SQLite Setup" page?
I think it is normal behaviour when you run the application from the installer NSIS.
New process inherits permissions from the parent process - in this case the process installer, which was elevated with UAC.

[2015-06-03 21:05] pbaker1977 opened #339 "Windows 8"
Every time i open a database the sqlitebrowser automatically stops working. why? do I need to install something to enable it work properly?

[2015-06-03 23:51] ccw808 commented on #338
The UAC plug-in for NSIS has a UAC_AsUser_ExecShell macro which can be used instead of ExecShell

[2015-06-04 08:38] tbayart commented on #337
DB4S 3.6.0 under Windows 8.1 pro x64

[2015-06-04 08:48] tbayart commented on #335
I know you can't open an existing in-memory database.
I was thinking this could be useful for testing purpose only.
Instead of creating a database file which need to be dropped / deleted when you want to test something else or test a database generation script.
Not a priority enhancement, I admit :wink:

[2015-06-04 08:52] tbayart commented on #336
I tested 3.6.99 nightly build.
It happens too.

[2015-06-04 11:03] glawrence commented on #335
Right, okay, I see what you mean now, thanks for explaining. Are you able to implement this yourself?

[2015-06-04 12:17] tbayart commented on #335
Maybe, need to take time and look into the code.
Btw, is there a howto build/compile DB4S somewhere ?
or at least a "required" list of things I need to be able to build it ?
I work with visual studio 2013 community

[2015-06-04 13:36] justinclift commented on #339
Which version of DB4S are you using, and is it 32 or 64 bit?

[2015-06-04 13:37] justinclift commented on #338
Ahhh, that sounds like it might do the trick.  @rp- Sounds like an easy fix?

[2015-06-04 13:37] justinclift commented on #336
Thanks.  It doesn't sound like a hard thing to change.  @schdub Is this something you have time to fix? :smile:

[2015-06-04 13:42] justinclift commented on #335
@tbayart There is https://github.com/sqlitebrowser/sqlitebrowser/blob/master/BUILDING.md, which is supposed to have all of the building info in it.

I think it's out of date for Windows though, having only the previous approach listed (cross compiling from Linux using MXE).  @rp- has been working on a new build process using Visual Studio, but I don't think it's documented yet.  That being said, i

[2015-06-04 14:57] pbaker1977 commented on #339
Version 3.6.0

Kind Regards,

Paul

Paul Baker

Possibler

DDI: 01299 254787

E: Paul.Baker@drpgroup.com<mailto:Paul.Baker@drpgroup.com>

________________________________

London
+44(0)20 7937 8057

56 Shorts Gardens,
Covent Garden,
London WC2H9AN

________________________________

Midlands
+44(0)1299 250 531

212 Ikon Estate,
Droitwich Road,
Hartlebury DY10 4EU

________________________________

[2015-06-04 16:22] justinclift commented on #339
Hmmm, it sounds like a dependency is missing or something.  @glawrence Do you have a Win8 VM handy you can try it out on?

[2015-06-04 16:23] tbayart commented on #336
Added to the list :wink:

[2015-06-04 16:30] tbayart commented on #335
Thanks for the link
I will check and report

[2015-06-04 17:04] ntwalibas commented on #164
Ubuntu 14.04 successful install. :-)

[2015-06-04 18:37] akrantz opened #340 "High DPI scaling is off"
I'm using a Surface Pro 2 connected to an external 1920x1080 display.

Some text looks really small since it isn't being scaled properly.

![pic](https://cloud.githubusercontent.com/assets/741153/7991572/f51c7796-0aad-11e5-85e7-f88b353b4e76.png)

[2015-06-04 18:37] justinclift commented on #164
Awesome. :grinning:

[2015-06-04 18:41] justinclift commented on #340
Ahhh interesting.  I don't have a HiDPI display to test it on, but one of the other guys might (unsure).

[2015-06-04 18:44] akrantz commented on #340
You can always use the Windows Simulator to test this across various window sizes and resolutions.

[2015-06-04 18:51] justinclift commented on #340
Interesting idea.  Hadn't heard of the Windows Simulator, but doing some DuckDuckGo-ing shows it might do the trick. :smile:

[2015-06-04 19:23] pbaker1977 commented on #339
No really, I use at work on a windows 7 PC which works fine but at home I have a windows 8 PC which appears to work fine up until i try and open a database.

Paul Baker

Possibler

DDI: 01299 254787

E: Paul.Baker@drpgroup.com<mailto:Paul.Baker@drpgroup.com>

________________________________

London
+44(0)20 7937 8057

56 Shorts Gardens,
Covent Garden,
London WC2H9AN

_____________________________

[2015-06-04 19:27] justinclift commented on #339
When it stops working, does an error message get shown or something, or does the program just exit or ?

[2015-06-04 19:31] pbaker1977 commented on #339
the following message gets displayed.

Paul Baker

Possibler

DDI: 01299 254787

E: Paul.Baker@drpgroup.com<mailto:Paul.Baker@drpgroup.com>

________________________________

London
+44(0)20 7937 8057

56 Shorts Gardens,
Covent Garden,
London WC2H9AN

________________________________

Midlands
+44(0)1299 250 531

212 Ikon Estate,
Droitwich Road,
Hartlebury DY10 4EU

_______________________________

[2015-06-04 19:56] justinclift commented on #339
Hmmm, there's not picture attached. (GitHub drops attachments from email responses)

If you drag-and-drop the picture into a comment here in the GitHub issue though, that should work. (eg that should add the image into the comment)

[2015-06-04 20:03] pbaker1977 commented on #339
![pic1](https://cloud.githubusercontent.com/assets/10552942/7993296/2233041c-0afd-11e5-9d13-00ff45f34f47.jpg)

[2015-06-04 20:03] pbaker1977 commented on #339
there is the message i'm getting

[2015-06-04 20:06] justinclift commented on #339
Thanks, that's helpful.  If you click Debug, what gets shown?

[2015-06-04 20:08] pbaker1977 commented on #339
It opens visual studio...
![pic1](https://cloud.githubusercontent.com/assets/10552942/7993406/e66bdcf0-0afd-11e5-9f4a-c1954f1c7db9.jpg)

[2015-06-04 20:11] pbaker1977 commented on #339
After clicking yes - i get this screen in visual studio...

[2015-06-04 20:11] pbaker1977 commented on #339
![pic1](https://cloud.githubusercontent.com/assets/10552942/7993473/3c3c3d46-0afe-11e5-8890-3d1ba042959e.jpg)

[2015-06-04 20:22] schdub commented on #339
@pbaker1977, do you open same database file on Win8 and Win7?

DB4S is 64 bit?

"0xC0000374: A heap has been corrupted" - it's really bad.

[2015-06-04 20:33] justinclift commented on #339
@pbaker1977 Yeah, as @schdub mentions... are you using the 32-bit or 64-bit version of DB4S?

With our recent 3.6.0 release, it's the first time we've had both 32-bit and 64-bit versions for Windows available.  Thinking maybe you might have the wrong one. :wink:  (and kind of hoping it's that easy! :wink:)

[2015-06-04 20:58] pbaker1977 commented on #339
So i should try the 32-bit version?

[2015-06-04 21:02] pbaker1977 commented on #339
Yep the 32-bit versions seems to be ok.  thanks for the help

[2015-06-04 21:03] justinclift commented on #339
Interesting.  It sounds like one of the 64-bit libraries installed on your system isn't happy.

If the 32-bit version works well for you, keep on using that. :smile:  If you need to use large databases though (eg 1GB+), you'll probably need the 64-bit version and we'll need to figure out what's wrong.

[2015-06-04 21:10] pbaker1977 commented on #339
Ok thanks any how.  I'm happy with the 32-bit so far as the databases I'm using aren't that big...yet!

[2015-06-04 21:10] #339 closed

[2015-06-05 01:06] justinclift opened #341 "Browse encrypted data"
From a recently created ticket on the old SourceForge project page:

&nbsp; &nbsp; https://sourceforge.net/p/sqlitebrowser/feature-requests/41/

[code]

[2015-06-05 08:32] meNESS opened #342 "[Improvement] Edit database cell window positions"
Each time I click on a cell, its editing window will be opened on different positions and it makes me move the window to other positions because the save changes button will be placed under the taskbar.

[2015-06-05 16:09] justinclift commented on #342
What would you like it to do instead? :smile:

[2015-06-06 06:34] Alirezaaa commented on #342
@justinclift You should set certain positions for such windows. Currently If you edit some cells without moving the window, after four or more times you have to move the window to other positions because you cannot click the save changes button! And that's the problem.

[2015-06-06 07:57] Z4us commented on #341
Probably it's me being a non-native speaker of English, but what you mean?

The text before decrypted visible? There is the command 'od`, right?

[2015-06-07 00:22] eva5618 opened #343 "3.6.0 - Problem with browse data"
Hi,

I just downloaded and opened version 3.6.0, and there seems to be an issue with the Browse Data feature. When I open my database and browse data, sqlitebrowser shows all of my BLOB columns as being occupied with BLOB, when in fact only a subset of them are (as revealed by browsing with version 3.5.1, and my work with this database). I'm running Mac OSX Yosemite (10.10.3). Please let me know i

[2015-06-07 18:21] justinclift commented on #343
Thanks Eva.  Would you be ok to try our latest nightly build?  We've done some stuff with BLOB handing in the last few weeks, and there's a chance this has changed.  Would be good to know if it's something we still need to investigate or not. :smile:

(the download locations for our latest nightly builds are on the front page of this repo, if that helps)

[2015-06-07 23:24] eva5618 commented on #343
Just checked today's build (*20150607.dmg), and the problem is fixed! Thanks, and keep up the good work.

[2015-06-08 01:06] justinclift commented on #343
Awesome. :grin:

[2015-06-08 01:06] #343 closed

[2015-06-08 10:36] MKleusberg commented on #229
I've just tried to reproduce this but weren't successful. The exported file with twice the size looks like it's been treated as a Unicode text file during export. But I have no idea how to make DB4S doing this...
The only thing I noticed is that importing an image into a field and then editing the table schema destroyed the image data (but by deleting bytes rather than adding bytes).

So *I think*

[2015-06-08 10:40] MKleusberg commented on #229
Edit: Now I'm taking back the data corruption from table schema editing, too. This probably happened because I single clicked into the cell first, thus opening the inline editor which doesn't handle binary data correctly.

[2015-06-08 13:25] jcsayre opened #344 "MSVCR120.dll Depenedency"
On Windows 7 Home Premium SP1 (6.1.7601), the dialog message box, "sqlitebrowser.exe - System Error" is displayed with the following message: "The program can't start because MSVCR120.dll is missing from your computer. Try reinstalling the program to fix this problem."

![image](https://cloud.githubusercontent.com/assets/11142503/8035400/592462ea-0dbe-11e5-88c9-195007246cf3.png)

I uninstalled and

[2015-06-08 16:37] justinclift commented on #344
Thanks for the bug report. :smile:

We switched to a new build process for the Windows executables with the 3.6.x release, and we're still working out the kinks. :innocent:

The next release (3.7.0, soon) should automatically install that dependency.  Hopefully that works out in practise for everyone, but we'll see... :smile:

[2015-06-08 16:37] #344 closed

[2015-06-08 16:38] justinclift commented on #229
What do we need to do, to make it handle binary data correctly? :smile:

[2015-06-08 16:50] michalferko opened #345 "Encoding trouble when importing"
I have an existing database with utf-8 strings inside (tested with Eastern-European characters like čšťžýúä any others). Everything works OK, but when I try to import an .sql file (in "Execute SQL" tab, both "Open SQL file" or copy-paste the whole SQL file contents), the characters are replaced with ?.

This works fine with 32-bit version 3.5.1 (clean portable install) on the same database. I'm re

[2015-06-08 19:51] justinclift commented on #345
Interesting.  Would you be ok to try our latest nightly build?  There was a bug in our Unicode handling for the Execute SQL tab, which is fixed in that.  I'm kind of thinking that might solve the problem for you too. :smile:

Download locations for our nightly builds are on the front page of our repo, if that helps. :wink:

[2015-06-08 20:02] DaltonST opened #346 "Feature Request/Enhancement: Execute from Command Line With Multiple Parameters"
Since sqlitebrowser is oriented towards end-users, it would be optimal if it could be executed from the command line to open a specific database, switch to a specific tab (e.g. Browse Data), open a specific table, and (if feasible) do so either "read-only" or "editing enabled".

Example:

"C:\Program Files (x86)\SqliteBrowser3\bin\sqlitebrowser.exe  --path=x:\mydb.db   --tab=browse   --table=mytab

[2015-06-08 20:53] justinclift commented on #346
Interesting thought.  It might also be useful to automate testing of GUI components in future too (though I suspect there are already Qt tools for that).

[2015-06-09 08:17] rp- commented on #338
It would probably an easy fix if we had a standalon NSIS script, but our script is generated by CMAKE/CPACK and there are some settings and variables that can be tuned, but I didn't have time to look at them.

[2015-06-09 09:31] michalferko commented on #345
Hi, the latest nightly build for Windows I found is an older version: 3.4.0

The front page links here: http://rp.oldsch00l.com/sqlitebrowser/

[2015-06-09 10:48] rp- commented on #345
I fixed the build process and did a fresh build

[2015-06-09 11:23] michalferko commented on #345
OK, everything works fine with the nightly build. Thanks

[2015-06-09 12:40] gunns337 opened #347 "Question Mark Showing Mac pc"
select * from table_mst where names=??????  here my query showing question mark.On mac pc

[2015-06-09 15:06] justinclift commented on #347
Would you be ok to try our latest nightly build (download locations are on the front page of our repo)?

There was a bug in the 3.6.0 and 3.6.1 to do with Unicode handling, but it's fixed in our latest nightly builds.  I'm guessing that's the bug you're hitting. :wink:

If the latest nightly build still doesn't work though... that's a new bug we should look into. :smile:

[2015-06-09 15:21] justinclift commented on #345
Awesome. :smile:

[2015-06-09 15:21] #345 closed

[2015-06-10 04:05] abshuhuhuhu opened #348 "no utf-8 char support"
DB Browser for SQlite for SQLITE
version: 3.6.0
while execute sql,
no uft-8 char is support
the sentence :
select * from refer where namecn like '%术语%'
will be looks like this:
select * from refer where namecn like '%??%'

[2015-06-10 04:08] gunns337 commented on #347
Its working ...Thanx #justinclift

[2015-06-10 04:17] gunns337 commented on #347
Its working but cant match the record

[2015-06-10 04:17] #347 closed

[2015-06-10 12:38] ant-on-io opened #349 "incorrect CREATE TABLE ending in sql export"
Using File > Export > Database to SQL File:
Tables containing some data, are written correctly. But for empty tables, an extra ); is added on a new line, after the table.

Example:
correct:
CREATE TABLE "Table_with_data" (
  "object_id" INTEGER NOT NULL,
  "value" REAL NULL);
INSERT INTO `Table_with_data` VALUES (1,40.0);
INSERT INTO `Table_with_data` VALUES (2,90.0);

incorrect:
CREATE TABLE "Emp

[2015-06-10 14:10] schdub commented on #349
@ant-on-io thank you for reporting. This is definitely bug.

[2015-06-10 15:23] Z4us commented on #346
Don't know about Windows, but with OSX you can do it yet.

[2015-06-10 17:54] justinclift commented on #348
Yeah.  There was a bug in our Unicode handling with 3.6.0.  If you grab the latest nightly build though, it's fixed. :smile:

(download locations are shown on the front page of this repo, if that helps)

[2015-06-10 17:55] justinclift commented on #347
You're welcome. :smile:

[2015-06-10 17:57] justinclift commented on #349
@ant-on-io Would you be ok to try the latest nightly build (tomorrow), and verify back to us if it works or not? (just in case) :wink:

[2015-06-10 17:57] justinclift commented on #346
@Z4us That's a bit unclear to me... what do you mean? :smile:

[2015-06-11 00:33] ant-on-io commented on #349
OK, I will. I'll let you know if it works. Thanks for fixing!

On 10-06-2015 19:57, Justin Clift wrote:

[2015-06-11 08:50] ant-on-io commented on #349
Hi Justin,

Just tested with the nightly build and confirm fixed. Export is correct.
Thanks,

Best regards
Anton

On 10-06-2015 19:57, Justin Clift wrote:

[2015-06-11 18:40] Rocky640 opened #352 "Export/import problem"
When a table is empty an you export, (suing the first 2 checkbox)
it will export an additional ); just after the create table.
Consequently, It makes an error  when you import,

[2015-06-11 18:45] justinclift commented on #349
Awesome!  Thanks for testing and letting us know Anton. :smile:

[2015-06-11 18:45] #349 closed

[2015-06-11 18:46] justinclift commented on #352
Would you be ok to try out the latest nightly build? (download locations are listed on the front page of our repo)

To me, this sounds like a duplicate of a bug fixed yesterday: https://github.com/sqlitebrowser/sqlitebrowser/issues/349.

If you try the latest nightly, and it still happens though... it's a new bug we need to look at. :wink:

[2015-06-11 18:57] Rocky640 commented on #352
It works with the latest nightly build.
Thanks !!!!

Le 2015-06-11 14:46, Justin Clift a écrit :

[2015-06-11 19:02] justinclift commented on #352
You're welcome.  Thanks for taking the time to write up a bug report.  Without bug reports stuff just wouldn't get fixed. :wink:

[2015-06-11 19:02] #352 closed

[2015-06-12 17:45] MikimotoH opened #353 "Regexp cannot handle NULL text"
http://stackoverflow.com/questions/30643061/sqlite-db-browser-invalid-operand-for-regexp

I use DB Browser for SQLite version 3.6.0; SQLite Version 3.8.9. If I use regexp on a nullable column `revision` then `invalid operand` error is happened.

[code]

Below is the schema:

[code]

After I replaced the NULL `revision` with empty string, then this issue fixed.

[code]

I assume `regexp` should beh

[2015-06-12 18:49] justinclift commented on #353
Interesting find. :wink:

@MKleusberg, any ideas?  As a thought, the StackOverflow link above helps frame it a bit better too.

[2015-06-13 01:21] Sanpasqual123 opened #354 "Unable to name fields"
Version 3.6.99, Qt Version 4.8.5, SQLite Version 3.7.17 OS  Centos 7.2

There is no provision for naming or changing fields.  The database is limited to default field names e.g. field1, field2, etc.

[2015-06-13 05:54] justinclift commented on #354
Interesting.  Changing field names works on other OS's, so it sounds like a bug affecting just the build you're using atm.

Did you compile DB4S yourself, or is there a repo you grabbed a prebuilt version from or ?

[2015-06-13 11:11] Sanpasqual123 commented on #354
Yes, it Is peculiar.  I am able to make entries on a contemporary build under OsX, but not under Centos Linux.

Yes, I ran the build scripts locally; no error flags during the process.  My local build seemingly supports everything except revision of field names v.v. Importing a database created on a Mac, entering new data, changing old data, outputting to CSV, exporting, all work uneventfully.

K.

[2015-06-13 14:52] glawrence commented on #354
@justinclift I grabbed the very latest from GitHub and built this on my CentOS 7 VM so I could try this out. I did the following:

- create a new database
- create a new table
- click Add Field button
![stage_1](https://cloud.githubusercontent.com/assets/1067355/8144735/c86925d6-11e3-11e5-9947-0bd689e16576.png)
- double-click the field name to edit [note cursor at end]
![stage_2](https://cloud.git

[2015-06-13 16:40] Sanpasqual123 commented on #354
Spot on ... prominent with the Centos build.  Thanks.

[2015-06-13 17:05] MKleusberg commented on #353
This commit should fix your problem, effectively a NULL value is now treated as an empty string. Not sure, which operating system you're running but if it's MacOS or Windows you can wait for tomorrow's nightly build and see if the new code works better for you. The download links are on the main page of our repository.

[2015-06-13 17:07] glawrence commented on #354
Indeed @Sanpasqual123 it is either a CentOS thing or possibly a GNOME/KDE issue. I have just tried on an openSUSE VM and don't see the same issue. With CentOS I have GNOME and with openSUSE I have KDE, so I wonder if the issue is in GNOME compatibility somewhere

[2015-06-13 17:52] Sanpasqual123 commented on #354
I’m using a Cinnamon shell over GNOME (v.v. GTK3+ based), so yes there could be a source of divergence.

[2015-06-13 19:04] justinclift commented on #354
@glawrence Well done.  It seems like bug in maybe the Qt toolkit build on CentOS 7.x then.

Do you have the rpm versions handy?  We can ping the CentOS guys (on IRC and/or mailing list) to see if anyone is already aware of it.  If not, we can file a bug so it can be looked into. :smile:

[2015-06-13 19:07] justinclift commented on #321
Closing this, as it's definitely the known Unicode issue we've fixed in our latest nightly builds. :smile:

[2015-06-13 19:07] #321 closed

[2015-06-13 19:08] justinclift commented on #334
Closing this as it's definitely the Unicode issue we've fixed in our nightly builds. :smile:

[2015-06-13 19:08] #334 closed

[2015-06-13 19:09] justinclift commented on #307
@lifedomy Do you have time to try our latest nightly builds?  There is a decent chance this is fixed in that. :smile:

[2015-06-13 19:10] justinclift commented on #348
@abshuhuhuhu Have you had a chance to grab the latest nightly build, and use that instead?

[2015-06-13 19:17] justinclift commented on #337
@MKleusberg Yours? :smile:

[2015-06-13 19:18] justinclift commented on #341
Yeah, I'm not totally sure.  I was hoping the reporter would jump in here.  Looks like not though... :frowning:

I'm going to close this, as there's not a lot we can do with it as-is.

[2015-06-13 19:18] #341 closed

[2015-06-13 19:26] justinclift commented on #281
Going to close this, as we only really need one issue for this to be open (until we figure out a full solution and get it done). :smile:

[2015-06-13 19:26] #281 closed

[2015-06-13 19:34] glawrence commented on #354
I have the following installed
[code]
Does that help? Not sure it is quite what you asked for but "feels" right.

[2015-06-13 19:41] justinclift commented on #354
Yep, that's what I asked for.  I'll ping the CentOS guys in a bit, to see if it's a known issue. :smile:

[2015-06-13 19:55] glawrence commented on #354
Great, thanks

[2015-06-15 01:53] lifedomy commented on #307
Okay, Now I downed 3.7.0 and tested.

Everything is OK. There are no problems in both editor and grid.

Thanks to your continuous cares.

Also, thanks to MKleusberg.

2015-06-14 4:09 GMT+09:00 Justin Clift <notifications@github.com>:

[2015-06-15 03:42] justinclift commented on #307
Awesome!  Thanks for testing and letting us know. :smile:

[2015-06-15 03:42] #307 closed

[2015-06-15 17:45] karai17 commented on #192
Is there any update on this issue? The ability to add foreign keys would be really helpful.

[2015-06-16 03:02] justinclift commented on #348
Closing this, as we don't seem to be getting a response + the issue is already fixed in our codebase. :smile:

[2015-06-16 03:02] #348 closed

[2015-06-16 03:04] justinclift commented on #337
@tbayart Out of curiosity, have you had a chance to try this with our recent 3.7.0 release?  I'm kind of wondering if this might have been fixed when we adjusted some of our other Unicode handling bits for the Execute SQL tab. :smile:

[2015-06-16 08:53] tbayart commented on #337
Just checked 3.7.0, not solved.

[2015-06-16 09:06] schdub commented on #337
@tbayart please give example of your requests.

[2015-06-16 10:14] tbayart commented on #337
a query which don't need a working database :
[code]
taken from [Recursive Query Examples](https://www.sqlite.org/lang_with.html)

[2015-06-16 21:51] justinclift commented on #337
@tbayart A potential fix for this has just been added by @schdub.  Would you be ok to try the nightly build (tomorrow), and verify if it's working properly for you now? :smile:

[2015-06-16 21:53] justinclift commented on #337
@glawrence Let's wait for confirmation by the issue reporter that things are fixed before we close the issue.  90% of the time things work as intended, but there are the occasional times they don't, so we try to catch them up front. :wink:

[2015-06-17 06:38] glawrence commented on #337
@justinclift oh I agree, it is much better to get confirmation first

[2015-06-17 10:56] tbayart commented on #337
Every line is logged correctly, no longer truncated and no
<string can not be logged, contains binary data>
in log
but...
a side effect appeared: empty lines are logged in User log
if you add 5 empty lines at the end of you sql command, User log will contains 5 empty lines

this is not the case in Application log
this issue is not present in 3.7.0 release

I notice the Application log is sightly d

[2015-06-17 11:46] LLambertRGi opened #357 "Can't open a file by double clicking"
Prior to version 3.6.0 windows allowed me to assign the ".gpkg" (GeoSpatial format built on a SQLite file) extension to be opened with sqlitebrowser.  With versions 3.6.0 and 3.7.0, Windows won't allow me to associate the file extension with sqlitebrowser.exe

[2015-06-17 11:59] schdub commented on #337
@tbayart about empty lines. This behaviour was previously. You don't see it under Windows because on windows each multi-line query considered to contain binary data, and of course, was truncated.

I agree with you (as I wrote in a commentary in the commit), it would be better to throw out from query meaningless extra characters like \r \n \t. If someone wants to improve this - you're welcome.

[2015-06-17 12:23] justinclift commented on #357
Ahhh, this sounds like the problem that happens when going from a 32-bit to 64-bit install.

Does the fix here work for you?

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/wiki/Windows-File-Associations

[2015-06-17 12:49] LLambertRGi commented on #357
That was it exactly. I don't know how that didn't come up in my search for a fix. I greatly appreciate your prompt and precise reply :)

[2015-06-17 13:05] tbayart commented on #337
Just to be sure I explained the behavior clearly:
Consider this 4 lines query (3 lines + 1 empty)
[code]
With v3.7.0 this query creates 2 lines in User log:
[code]
and 3 lines in Application log:
[code]

With nightly build, the 4 lines of the query are copy/paste in User log:
[code]
And 6 lines in Application log:
[code]

I would really like to help improve DB4S but I'm unable to build the source

[2015-06-17 14:06] glawrence commented on #357
@LLambertRGi we're always happy to help! Thanks for using DB4S.

[2015-06-17 14:06] #357 closed

[2015-06-17 16:14] MaxPower9 opened #358 "I can't seem to open an encrypted database on my mac"
I've used the SQLCipher instructions to allow my iOS app to create an encrypted database.  When I try to open it in sqlitebrowser I just continuously get prompted to enter the password.  I'm not sure what I'm doing wrong.  Any ideas?

[2015-06-17 21:28] idomintz12 opened #359 "how to export to db extension?"
I have a file with a ".db" extension in android and I need to edit some data in that file and then export it back to ".db" extension but the only extension options are HTML, PDF, JSON, SQL or XML

How do I export the file back to its original extension and format in ".db"?

[2015-06-17 22:40] justinclift commented on #359
When you say the only extension options are "HTML, PDF, JSON, SQL or XML", where are you seeing that?

In theory, you should be able to open the .db file directly in DB4S, then save back to it directly.  (does that help? :smile:)

[2015-06-17 22:45] justinclift commented on #337
Ahhh.  We've been doing some initial work to get proper instructions written up for compiling on Windows.  I can forward the email to you with the initial write up that @schdub did.  We're planning on getting it formatted nicely and onto the wiki, but haven't done so yet.

If you want, email me (justin@postgresql.org), and I'll forward the instruction email to you. :smile:

[2015-06-17 22:49] justinclift commented on #358
Interesting.  Do you know if the iOS app uses SQLCipher to do the encryption?

If it definitely does, then it's probably something to do with needing to figure out the matching page size.  If the page size doesn't match when opening the database, DB4S doesn't get a valid database to use so keeps prompting. (or it could be a bug in our SQLCipher handing or similar, which we'll need to investigate)

[2015-06-17 23:41] MaxPower9 commented on #358
It does use SQLCipher to do the encryption, what i don't know is what the page size is.  I wrote the app using the instructions on the SQLCipher website, but it doesn't say anything about what page size it's using.  What can I do to start investigating?

[2015-06-18 01:06] justinclift commented on #358
Ahhh, this shouldn't be too hard to figure out then. :smile:

What you should probably do is jump on the SQLCipher forum here, and ask what the default page size would be when using their instructions:

&nbsp; &nbsp; https://discuss.zetetic.net/c/sqlcipher

The SQLCipher people are pretty responsive + helpful (we've asked questions there too :wink:), so it's very likely they'll get you up and runn

[2015-06-18 01:15] justinclift commented on #358
Hmmm, I've just noticed there's a newer version of SQLCipher out than what we included with our OSX builds.  I'm not sure if that's the cause of the problem, but it's worth keeping in mind.

In the meantime, I'll look into getting the newer SQLCipher release into OSX Homebrew, so we can use it in our nightly builds and future releases.

[2015-06-18 01:19] justinclift commented on #358
For reference, this is the PR for updating SQLCipher to v3.3.0 in Homebrew: https://github.com/Homebrew/homebrew/pull/40841

[2015-06-18 02:00] justinclift commented on #358
@MaxPower9 Looking through this, the default page size seems to be 1024:

&nbsp; &nbsp; https://discuss.zetetic.net/t/sqlcipher-support-added-to-db-browser-for-sqlite/243/11

If you're trying that and it isn't working... then lets see what happens with a version of DB4S using the latest SQLCipher (building one now).

[2015-06-18 02:05] justinclift commented on #358
This might help:

&nbsp; &nbsp; http://mirror.salasaga.org/sqlitebrowser/onceoffs/sqlitebrowser-sqlcipher_201506172157.dmg

It's a build using our very latest code base, plus with SQLCipher 3.3.0.

[2015-06-18 07:46] alirezaaa opened #360 "[Bug] Filtering by UTF8 characters not working"
I cannot filter rows by Persian (UTF8) characters.

[2015-06-18 08:24] justinclift commented on #360
Which version of DB4S is this happening with, and what operating system is this on? :smile:

[2015-06-18 14:57] idomintz12 commented on #359
Hi Justin thanks a lot for the insight!

I see the export options when I click "Export the database" - here's a screenshot

http://i.imgur.com/6t6brlp.png

How do I save the changes directly to the file?? (without exporting to a new file) That would be best!

I apologize for the dumb question but, what is DB4S?? Is it a ".db" file editor? I've googled it and pulled nothing (I'm new to databases bt

[2015-06-18 16:37] MaxPower9 commented on #358
Thanks for your help, I found the problem.  You mentioned building sqlitebrowser with a newer version of SQLCipher, well that's what I needed to do.  My iOS app was using an old version of SQLCipher.  Once I updated SQLCipher to the latest from github, I could read my databases in sqlitebrowser.  I even tested with sqlitebrowser 3.7.0 and it worked great.  Thanks for your help!

[2015-06-18 16:37] #358 closed

[2015-06-18 17:32] justinclift commented on #359
Ahhhh, the screenshot you're showing is for SQLiteStudio, which is not us.  These are the people you want to ask questions about it: :smile:

&nbsp; &nbsp; http://sqlitestudio.pl/

"DB4S" is the acronym we use for our software - DB Browser for SQLite - as it's a pita to type out the full name each time. :wink:

[2015-06-18 17:34] justinclift commented on #358
You're welcome.  Glad it was a fairly easy fix (not everything is). :wink:

[2015-06-18 20:30] MKleusberg commented on #360
Just testes it and It seems to work for me... The default filter behaviour is to only search for exact matches, so you probably need to put '%' characters around your search term but then it should work even for characters in a different form when they are connected:
![persian](https://cloud.githubusercontent.com/assets/3153504/8241425/88bc1ad6-1609-11e5-8ac7-45742a82dae9.png)

[2015-06-18 23:25] idomintz12 commented on #359
Ooopsie!! Sorry xD
Well I just downloaded the zip and trying to make this DB4S work but there's no exe to launch the program!! How do get this thing to work? I can't wait to try it!

[2015-06-19 06:32] glawrence commented on #359
Hi @idomintz12 if you want to try DB4S then I suggest you go to http://sqlitebrowser.org/ and download the installer. There is a nightly build but I would recommend starting with the 3.7.0 release which was done a few days ago. Alternatively go to https://github.com/sqlitebrowser/sqlitebrowser/releases and download from there, same files just a different view.

[2015-06-19 07:24] alirezaaa commented on #360
Thanks @MKleusberg . I didn't know that is exact filtering. Yes filtering with `%` character works for me too.

[2015-06-19 07:24] #360 closed

[2015-06-19 08:46] MKleusberg commented on #360
Cool! Glad this works :smiley: By the way, if you want to read about the fancier filter operations, we have prepared a wiki page explaining them: https://github.com/sqlitebrowser/sqlitebrowser/wiki/Using-the-Filters

[2015-06-19 09:41] wschaefer11 opened #361 "Installation under Windows 7"
Hi,
I have a problem running sqlitebrowser on a Windows 7 (Home Premium SP1 32-bit) machine. Installation runs fine, but DB Browser (Version 3.7.0) does not start. C++ redist (x86, version 10 and version 12) and .NET 4.5.2 are installed. The error message specifies Qt5Core.dll, Version 5.4.1.0 as the problem.
Would appreciate Help.

Thanks, Walter

[2015-06-19 10:16] justinclift commented on #361
Interesting.  Just to check (to be safe)... you're using the 32-bit download, not the 64-bit one yeah? :wink:

If so, would you be ok to screenshot the error message and paste it into this issue?  It would be useful to know what the full error message is regarding Qt5Core.dll. :smile:

[2015-06-19 10:19] justinclift commented on #359
Yeah.  Try this installer, as it's very likely to work for you:

&nbsp; &nbsp; https://github.com/sqlitebrowser/sqlitebrowser/releases/download/v3.7.0/sqlitebrowser-3.7.0-win32.exe

[2015-06-19 10:22] wschaefer11 commented on #361
yes, I use the 32-bit download. Will paste screenshots.

Thanks, Walter

Am 19.06.2015 um 12:16 schrieb Justin Clift:

[2015-06-19 10:27] wschaefer11 commented on #361
Here are screenshots from the error message

![db-broeser-1](https://cloud.githubusercontent.com/assets/12964920/8251627/75a3c79e-167e-11e5-99bf-9c8ec226b5ee.jpg)
![db-broeser-2](https://cloud.githubusercontent.com/assets/12964920/8251638/8a0102a6-167e-11e5-9418-6202b583d98a.jpg)

[2015-06-19 10:46] justinclift commented on #361
Interesting.  Have you tried older versions of our application?  (I'm wondering if the problem started with release 3.7.0, or if it's existed for older versions too).

If you just need "something to work", then try the latest nightly build here (uncompress it with [7-zip](http://www.7-zip.org)):

&nbsp; &nbsp; http://rp.oldsch00l.com/sqlitebrowser/

That uses our old Windows build process, which i

[2015-06-19 10:47] wschaefer11 commented on #361
I have tried 3.6.0v3 with the same result. Will go back to older versions to test and also use the latest build.
Thx, Walter

[2015-06-19 11:05] wschaefer11 commented on #361
Just tried version 3.5.1  -  works without problems.

[2015-06-19 11:33] justinclift commented on #361
Cool. :smile:

Both 3.5.1 and our nightly Windows builds use a "static build" process.  The nightly build one should be better for you, since it's like 3.5.1 + lots of bug fixes. :grinning:

[2015-06-19 11:35] wschaefer11 commented on #361
Great, thanks for your help!
Regards, Walter

[2015-06-19 11:35] #361 closed

[2015-06-19 13:38] glawrence commented on #361
@justinclift do you think this means we still have Windows deploy/install issues?

[2015-06-19 14:36] justinclift commented on #361
@glawrence It's possible.  It could be a once-off too, but it's hard to tell.  The error message in the screenshot above didn't really show any smoking gun. :frowning:

I guess we'll just need to wait and see... :wink:

[2015-06-19 18:58] dbreslau opened #362 "3.7.0: Modifying a table / deleting column does not work"
I tried to delete a column via the "Modify Table" popup. Selecting the column and clicking on "Remove" brought up a popup that said "No error", but the column remained. The SQL log for the app shows:

SAVEPOINT sqlitebrowser_rename_column
CREATE TABLE `sqlitebrowser_rena... <string can not be logged, contains binary data> ...
INSERT INTO sqlitebrowser_rename_column_new_table SELECT `_ID`,`name`,`l

[2015-06-19 20:30] schdub commented on #362
I guess you have data in table FileInfo and other table references (FK) primary key _ID.
In SQLite you can rename/delete field in existing table with algorithm something like:
http://stackoverflow.com/questions/805363/how-do-i-rename-a-column-in-a-sqlite-database-table
I note separately: need to drop old table. Our application works in a similar way when renaming fields.
When application try to de

[2015-06-19 20:50] idomintz12 commented on #359
Thanks so much guys it worked!

[2015-06-19 21:26] glawrence commented on #359
Great news @idomintz12 we hope you enjoy DB4S

[2015-06-19 21:26] #359 closed

[2015-06-19 23:15] dbreslau commented on #362
Yes, I do have tables that reference FileInfo with foreign keys. It would have been nice to get clearer error messages or logs, but... you get what you pay for :-}

[2015-06-19 23:36] justinclift commented on #362
@dbreslau Out of curiosity, apart from the "string can not be logged, contains binary data" (that should be fixed in our latest nightly builds), what would clearer messages/logs look like?  It's something we could consider. :smile:

@schdub Should we add some database calls to our Modify Table code, so it disables and re-enables the primary keys for the rename?  I'm guessing it might help in some

[2015-06-20 01:01] dbreslau commented on #362
Thanks for asking. I'm making an assumption here (yes, I could try it out, but... :-) that the sqlite API reports an error message if you try to delete a table, or rows in a table, that can't be deleted due to a FK constraint. So if sqlite's error message(s) could be displayed in the popup, instead of it displaying "No error", that would be a big help. If that's not feasible, then even "Unknown Er

[2015-06-20 01:27] justinclift commented on #362
Good thinking, both of those ideas make sense.  I'm personally not sure of the feasibility, but others will know more. :wink:

[2015-06-20 18:04] schdub commented on #362
@dbreslau absoulutly agree that this error message should be more informative in this case.
@justinclift I have a look what I can do.

[2015-06-20 18:37] justinclift commented on #362
@schdub Excellent. :smile:

[2015-06-20 20:46] schdub commented on #362
Should be fixed with #363.
Same issue: #329.

Error message will be something like:
![screenshot from 2015-06-20 225657](https://cloud.githubusercontent.com/assets/1304776/8269139/cc38bfc4-17a5-11e5-95cd-f8b098dfbe21.png)

I think we should to create wiki page what should to do in case such error message (my first post in this thread about pragma foreign_key).

[2015-06-20 22:10] #333 closed

[2015-06-21 04:56] dbreslau commented on #362
Thank you!

On Sat, Jun 20, 2015 at 4:46 PM, Oleg Polivets <notifications@github.com>
wrote:

[2015-06-21 10:26] justinclift commented on #362
Excellent stuff @schdub. :grin:

@dbreslau Would you have time to grab our latest nightly build, and verify that it's working properly for you?  (95% chance it will, but it's always good to check just in case :wink:)

[2015-06-21 20:37] MKleusberg commented on #362
I've just pushed a small commit series which still needs more testing but in theory should improve the application's behaviour in two ways:
* If you try to change a column name of a column which is referenced in a foreign key this is impossible. Instead of just failing we'll now print an error message, explaining the problem.
* If you try to change a column in a table which is referenced in some f

[2015-06-21 20:50] MKleusberg commented on #280
I'm not entirely sure if I understand you correctly but you can set a foreign key, including a On Delete action, in the Edit Table dialog like this:
![foreignkey](https://cloud.githubusercontent.com/assets/3153504/8273293/70984122-1867-11e5-93f7-a671dd7eefff.png)

The foreign key column in the dialog is on the very right of the grid view so you probably have to use the scroll bar to see it (I've r

[2015-06-21 20:51] justinclift commented on #362
Awesome as well @MKleusberg.  Good team effort here. :grin:

[2015-06-21 20:56] MKleusberg commented on #315
This should be fixed in the 3.7.0 release where we've introduced a new option to the Preferences dialog to change this behaviour. This way everybody should be happy :smiley:
![lastlocation](https://cloud.githubusercontent.com/assets/3153504/8273318/9c697f04-1868-11e5-9791-7dce9ff25cfe.png)
If there are no objections I think we can close these issue soon.

[2015-06-21 20:56] MKleusberg commented on #224
This should be fixed in the 3.7.0 release where we've introduced a new option to the Preferences dialog to change this behaviour. This way everybody should be happy :smiley:
![lastlocation](https://cloud.githubusercontent.com/assets/3153504/8273318/9c697f04-1868-11e5-9791-7dce9ff25cfe.png)
If there are no objections I think we can close these issue soon.

[2015-06-21 20:56] MKleusberg commented on #276
This should be fixed in the 3.7.0 release where we've introduced a new option to the Preferences dialog to change this behaviour. This way everybody should be happy :smiley:
![lastlocation](https://cloud.githubusercontent.com/assets/3153504/8273318/9c697f04-1868-11e5-9791-7dce9ff25cfe.png)
If there are no objections I think we can close these issue soon.

[2015-06-21 20:56] MKleusberg commented on #281
This should be fixed in the 3.7.0 release where we've introduced a new option to the Preferences dialog to change this behaviour. This way everybody should be happy :smiley:
![lastlocation](https://cloud.githubusercontent.com/assets/3153504/8273318/9c697f04-1868-11e5-9791-7dce9ff25cfe.png)

[2015-06-21 20:59] MKleusberg commented on #192
@karai17 Adding foreign keys already is possible :smiley: You have to scroll to the right side end of the grid view in the Edit/Create Table dialog but then you'll find the field you need:
![foreignkey](https://cloud.githubusercontent.com/assets/3153504/8273293/70984122-1867-11e5-93f7-a671dd7eefff.png)

[2015-06-21 21:43] karai17 commented on #192
....... I am an idiot. Thank you. .____.;

[2015-06-21 22:04] MKleusberg commented on #192
@karai17 No worries, you're probably not :smiley: And I have to admit, too, that the field for foreign keys isn't placed very well...

As for the original issue described here: With commit 39a49e33c2e48f0b389ad9681998d7ac1588e2ef I try to add exactly that feature. There's a tooltip now appearing for cells with a foreign key set which tells you the name of the referenced table and when you hold Ctr

[2015-06-22 09:59] MKleusberg commented on #337
I've just pushed a commit which trims the SQL strings before logging them. This removed the additional line break at the end of @tbayart 's statement. Empty lines in the middle of the statement are still logged but this makes kind of sense because they're really part of the query and get processed by SQLite, too.

[2015-06-22 10:43] MKleusberg commented on #302
@FASposito I've just added a new option to the Preferences Dialog which allows you to disable the red line altogether :smiley: If you want to try it out, you'll have to wait for the next nightly build tomorrow and download it here: https://github.com/sqlitebrowser/sqlitebrowser#windows Then you should get this new option at the bottom:
![errorindicators](https://cloud.githubusercontent.com/assets/

[2015-06-22 10:45] SevenLines opened #364 "UTF-8 characters (when out of comments or quotes) are drawn with different font"
There is some old bug which presented from version 3.6. Look at this picture (first line) that's how it looks now, cyrillic characters (out of comments and quotes) are drawn with different font:
![image 10](https://cloud.githubusercontent.com/assets/5500999/8280145/0e3f9ea2-190d-11e5-84ce-87f600c57cda.png)

That's how it was in version 3.5.1 and probably the way it should be:
![image 6](https://cl

[2015-06-22 13:27] justinclift commented on #302
Cool. :grinning:

[2015-06-22 13:39] justinclift commented on #364
Interesting.  We added the ability to change the SQL font in a recent version (might have been 3.7.0, I don't remember).  I just tried setting the font to Andale Mono:
![screen shot 2015-06-22 at 14 33 03](https://cloud.githubusercontent.com/assets/406299/8283016/662f63a2-18ec-11e5-88dd-8d6eb36ebc76.png)
I think you are correct.  The grey text in the screenshot below is not the same size as the ot

[2015-06-22 13:41] justinclift commented on #337
Awesome @MKleusberg. :grinning:

@tbayart Do you have time to grab the nightly build (tomorrow), and let us know if it's working well now from your point of view? :smile:

[2015-06-22 13:44] justinclift commented on #315
Good thinking @MKleusberg. :smile:

@rickshory Have you had a chance to try out the new behaviours in our recent 3.7.0 release? :smile:

[2015-06-22 13:45] justinclift commented on #224
Good thinking @MKleusberg. :smile:

@jmagyari Have you had a chance to try out the new behaviours in our recent 3.7.0 release? :smile:

[2015-06-22 13:47] justinclift commented on #276
@xjpmauricio Any interest in try our latest release, and letting us know if the new behaviour is better for you? :smile:

[2015-06-22 14:06] SevenLines commented on #364
This problem is presented also on windows and linux. Also changing font size doesn't affect size of this characters. Looks like It's also affect arithmetic characters and digits:
![db browser for sqlite - -home-m-mmk-_akarin-lessons-lessons- -students dbs_058](https://cloud.githubusercontent.com/assets/5500999/8283570/383d5aa4-1922-11e5-9d4d-816f290e2124.png)

Maybe this is some special UTF8 digit

[2015-06-22 14:08] justinclift commented on #364
Yeah, this is definitely a bug of some sort.  I think @MKleusberg will be interested in this. :smile:

[2015-06-22 14:20] justinclift commented on #354
Oops.  The first email I sent them, I did from the wrong email address and it never got through.  I've just emailed them from the correct email address, and it's on the centos-devel mailing list now:

&nbsp; &nbsp; http://lists.centos.org/pipermail/centos-devel/2015-June/013551.html

Lets see if someone there has ideas...

[2015-06-22 14:40] MKleusberg commented on #364
This seems to be a bug in Scintilla or the QScintilla wrapper around it. I've just compiled the QScintilla example application (after enabling UTF-8 and SQL syntax highlighting in there) and the error still ocurrs. On the other hand, if I change the used lexer from SQL to C++ it seems to work - so the problem is probably somewhere in their SQL lexer and not in the general code, though I'm not enti

[2015-06-22 14:42] MKleusberg commented on #364
Just for reference: The Qscintilla source code including the example application can be found here: http://www.riverbankcomputing.com/software/qscintilla/download
I've modified the QScintilla-gpl-2.9/example-Qt4Qt5/mainwindow.cpp file to enable UTF-8, include the lexer and use syntax highlighting; here's the new code: https://gist.github.com/MKleusberg/ceb2cf5f5ec84734b061

[2015-06-22 15:31] justinclift commented on #364
@MKleusberg Would you be ok to ask on the QScintilla mailing list about it?

&nbsp; &nbsp; http://www.riverbankcomputing.com/mailman/listinfo/qscintilla

[2015-06-22 15:37] SevenLines commented on #364
I have tried to compile binded example, changed font.
[code]
This is what I got. All as it should be:
![untitled txt- - application_059](https://cloud.githubusercontent.com/assets/5500999/8285667/036b2aa6-192f-11e5-9854-ec85182bf5c8.png)

Some characters a bit bolder but all the rest is ok.

[2015-06-22 15:40] SevenLines commented on #364
But setting font size to 12 looks a bit weird, maybe I do something wrong...
![untitled txt- - application_060](https://cloud.githubusercontent.com/assets/5500999/8285749/9ae9bb4a-192f-11e5-9d62-c3bf35e7d7de.png)

[2015-06-22 16:44] justinclift commented on #364
So... what needs to happen next? :smile:

[2015-06-22 18:06] SevenLines commented on #364
I found out that if make this small fix in SqlTextEdit::reloadSettings() function, everything starts to work, but I'm not sure will it brake something or not...
[code]

[2015-06-22 18:14] justinclift commented on #364
Want to make that a Pull Request? :smile:

[2015-06-22 18:22] SevenLines commented on #364
Ok, let me try =)

[2015-06-23 09:48] rp- commented on #361
if this is the only case of such a problem, I would guess there is a problem with the users machine, but its not really possible to tell from the screenshots, maybe some wrong .dll gets loaded.

[2015-06-23 10:11] tbayart commented on #337
I checked the latest nightly,
the commit from @MKleusberg is working perfectly.
Well done :smile:

[2015-06-23 12:28] justinclift commented on #337
Thanks @tbayart, that's awesome too. :smile:

[2015-06-23 12:28] #337 closed

[2015-06-23 12:42] karim opened #366 "PRAGMA user_version is not displayed correctly if it is higher than 10000"
Sometimes I use YYYYMMDD format as the user_version in a database to know when it was last modified. It is stored and displayed correctly when using the SQLite3 command line:

    sqlite> PRAGMA user_version = 20150623;
    sqlite> PRAGMA user_version;
    20150623

However, when viewing the database from DB4S, the User_Version will not be displayed correctly (it will be 10000) if the value is hig

[2015-06-23 15:11] yaronbank opened #367 "A collation warning is displayed and sorting is wrong for fields that are defined with COLLATE NOCASE"
Hi,
When opening a table that includes fields that are defined with COLLATE NOCASE a scary message box is displayed (see "Collation warning.jpg").
Trying to sort the table according to such a field gives wrong results both when trying to run a query (see "Wrong sorting using query.jpg") and when clicking the field header (see "Wrong sorting.jpg").
For comparison, the commercial SQLite Maestro appl

[2015-06-23 15:40] schdub commented on #367
@yaronbank do you click 'yes'? Try to click 'no' while loading database.
When you click 'yes' every collation works as BINARY collation and only for 8-bit encoding.

[2015-06-23 15:53] yaronbank commented on #367
Hi,
Thanks for your answer.
I really chose 'Yes'.
When I choose 'No' the sorting is really OK.
But the message is still scary...
If I always chose 'No' will I be safe from harming my database?
Is there a way to set the application to always work with 'No', so I don't have to click 'No' the 1st time I open a table with COLLATE NOCASE fields?
Thanks,
Yaron Bank

[2015-06-23 15:57] justinclift commented on #367
This sounded a bit familiar, so I went looking back through the old issues.  I think the warning message you're seeing was added for https://github.com/sqlitebrowser/sqlitebrowser/issues/54.

We might be able to change the warning message to be less scary, and more informative.  @rp- Thoughts?

[2015-06-23 16:01] justinclift commented on #366
That all makes sense. :smile:

@schdub has added a fix for this bug to our code.  Would you have time to try our nightly build (tomorrow), to verify that works?  (if so, the download locations are on the front page of our repo)

[2015-06-23 16:27] schdub commented on #367
I agree that the text of the warning needs to be changed, but I also think that the mechanism of substituting COLLATION can be improved by:
1) no need to register our collation function for standard collations like BINARY, NOCASE, RTRIM;
2) 16-bit encoding version of sqlitedb.cpp,collCompare.

[2015-06-23 17:43] yaronbank commented on #367
Hi,
I thank you all for your answers.
Still, I want to be sure if I got it right that if I always chose 'No' for the message box I'd be on the safe side. If so, that would be good enough for me.
Thanks for your help,
Yaron Bank

[2015-06-23 18:52] schdub commented on #367
@yaronbank, in your case safely select 'No'.

[2015-06-23 19:07] yaronbank commented on #367
Thanks a lot for all the commenters.
This has been very helpful.
Regards,
Yaron Bank

[2015-06-23 19:17] karim commented on #366
Thanks for the quick reply and fix. I will test it tomorrow and get back to you.

[2015-06-24 09:48] karim commented on #366
Yes, it is working. The User_Version is displayed correctly now. Thanks a lot.

[2015-06-24 10:46] glawrence commented on #366
Thanks for letting us know, good news and nice work

[2015-06-24 10:46] #366 closed

[2015-06-25 20:07] faacsousa opened #369 "Can't add new field to table"
I've created a table called 'android_metadata' with a field called 'locale'.

Then I go to browse data and press "New Record" and get the following error:

"Error adding record:
 near ")": syntax error (INSERT INTO 'android_metadata' VALUES ();)"

I guess its because I didn't enter any value to inserto to the DB, but there's no field to do it.

If i run the command from the "Execute SQL tab" it wo

[2015-06-25 21:18] justinclift commented on #369
Interesting, that doesn't sound good at all.  Which version of DB4S is this happening with?

Also, is there any way you could screenshot it?  It might be helpful. :smile:

[2015-06-26 15:10] faacsousa commented on #369
I'm sorry for the long delay to reply.
I've just downloaded version 3.7.0 yesterday.

Those where my first steps into DBBrowser. Afterwards I added a few more tables and they worked fine, but this one still didn't.

I created a new db following "i think" the same steps and the table worked fine, but when I open my first file the error still happens.

![version](https://cloud.githubusercontent.com/

[2015-06-26 15:45] schdub commented on #369
@faacsousa, please send me (jsbot@ya.ru) the file database, which reproduces this problem.

[2015-06-26 16:33] faacsousa commented on #369
I've sent you the file.

And yes default value is set.

[2015-06-27 12:51] glawrence commented on #284
@justinclift I am sorry but have to confess I never got round to submitting these files to Symantec. I am  not aware of any issues with the 3.7.0 release, so that's good. However as far as code signing goes I have found https://www.certum.eu/certum/cert,offer_en_open_source_cs.xml or rather a colleague pointed me to it. Could you take a look and let me know what you think please.

[2015-06-27 18:42] SacredSkull commented on #192
It would be great if the UI itself also had a dropdown of some of the rows when entering foreign key data. As far as I can tell none of the other SQLite GUI tools support this. phpMyAdmin and MS Access are two examples of tools that do that.

Otherwise, excellent tool!

[2015-06-28 11:11] justinclift commented on #284
Hmmm, looks kind of dodgy really.  Some bits which jump out at me:

* Secured by the SHA1 function   ← SHA1 is widely regarded as broken, and shouldn't be used in things any more.  (kind of ironic, as git still uses it for core functionality.  No idea if that's being looked at... :wink:)
* Requires sending a copy of ID documentation to a third party in Poland I've not personally heard of before (u

[2015-06-28 11:19] justinclift commented on #369
@faacsousa Would you be ok to download our latest nightly build, and confirm that the fix for this added by @schdub works well for you? :smile:

(download locations are listed on the front page of this project, if that helps)

[2015-06-28 16:35] glawrence commented on #284
I don't believe the SHA1 issue is such a concern for signing, however I agree it is broken for encryption. You have read more than me but I don't think any of us would want to send ID to an unknown 3rd party. I might try and look into that and see. How about we close this issue?

[2015-06-29 12:04] xjpmauricio commented on #276
Hi justin, I installed version 3.7 and it works great! Everybody's happy!

[2015-06-29 16:29] faacsousa commented on #369
The issue is gone,
:D

[2015-06-29 16:30] #369 closed

[2015-06-29 17:05] glawrence commented on #276
Great, thanks @xjpmauricio for testing and letting us know

[2015-06-29 17:05] #276 closed

[2015-06-29 20:57] justinclift commented on #284
Sure.  If it happens again for future releases, then we know it wasn't just a once off thing, and we'd better look into it in depth. :smile:

[2015-06-29 20:57] #284 closed

[2015-06-29 20:59] justinclift commented on #369
Awesome!  Good work @schdub. :smile:

[2015-06-30 17:11] Mikanoshi opened #371 "PHONEBOOK collation"
"A table in this database requires a special collation function 'PHONEBOOK'..."
contacts2.db from Android 4.4.4 (HTC One M8 DS)

[2015-06-30 23:03] justinclift commented on #371
Interesting.  Is this stopping you from loading your database?

Also, which operating system are you using, and which version of DB4S are you using? :smile:

[2015-06-30 23:44] Mikanoshi commented on #371
DB loads fine after clicking Yes once or 30 times No :) I can't open some tables (same errors), but can export them to CSV.
Win 8.1 64-bit 3.7.0

[2015-07-01 01:08] jflucc opened #373 "Suggestion: display numbers in hex format"
Problem:
Current software can display numbers only in decimal format.For my current use sqlite as a database,  many items are created in hex format. Not comfortable read them in decimal format.
Suggestion:
Every display of data has two options, decimal or hex. Let user to choose.

[2015-07-01 01:35] justinclift commented on #371
Hmmm, I think this is related to https://github.com/sqlitebrowser/sqlitebrowser/issues/54#issuecomment-49079283.

It sounds like we need to do something better, but it's not clear to me exactly what that is just yet. :frowning:

[2015-07-01 01:37] justinclift commented on #373
This sounds like it could be useful for people.  To clarify your suggestion, where are you wanting hex numbers to be displayed?  In the Browse Data tab, or in the Execute SQL tab, or somewhere else?

Also are you thinking it would be best as an option that can be turned on in the Preferences dialog, or something else? :smile:

[2015-07-01 02:53] jflucc commented on #373
For me, I prefer to display it in Browse Data tab.  For example, in the attached picture, I prefer the item "diag_msg_def_id" to be displayed in hex format because the item are defined in hex format in my software application.

Thank you for your efforts!

Date: Tue, 30 Jun 2015 18:37:48 -0700
From: notifications@github.com
To: sqlitebrowser@noreply.github.com
CC: viewlucc@hotmail.com
Subject: Re:

[2015-07-01 04:43] justinclift commented on #373
Interesting.  So, it would be better to have this be changeable per column, instead of a default for everything?  I'm thinking that when you open a database for the first time + go to the Browse Data tab, you might need to do something like right click and choose a "Display in Hexadecimal" or something.  And we should store that column preference in the project file for a database too.

Does that

[2015-07-01 04:50] jflucc commented on #373
Yes, your proposal is exactly what I want.😊

Date: Tue, 30 Jun 2015 21:44:02 -0700
From: notifications@github.com
To: sqlitebrowser@noreply.github.com
CC: viewlucc@hotmail.com
Subject: Re: [sqlitebrowser] Suggestion: display numbers in hex format  (#373)

Interesting.  So, it would be better to have this be changeable per column, instead of a default for everything?  I'm thinking that when you ope

[2015-07-01 10:23] voidplayer commented on #89
Im having a similar issue but with the cells  content color
I tried changing all the colors in preferences and none seemed to work

![Uploading Selection_138.png…](screenshot)

[2015-07-01 10:44] voidplayer opened #374 "dark theme cell text color unreadable"
Im having a similar to issue #89 but with the cells  content color
I tried changing all the colors in preferences and none seemed to work
![screenshoot](https://cloud.githubusercontent.com/assets/4019910/8452545/10dbcf7e-1fec-11e5-8da6-88b33de9ae1f.png)

the color scheme is ghost from kde apps color repos

[2015-07-01 11:30] schdub commented on #371
I believe we need a similar implementation of Android custom SQLite collation functions LOCALIZED and PHONEBOOK.
When opening table with these collations we must ask user to enter locale.

@MKleusberg, @rp-, we have ICU library in dependencies (I think I saw them DLLs in our Windows build)?
Somebody trying to solve the recent issues with collations?
If not, I can try.

[2015-07-01 11:40] revolter opened #375 "Increase "Table" dropdown height in the "Browse Data" tab"
Even with two tables, the dropdown is unnecessary small, it should __not__ have arrows for such small dropdown.

![screen shot 2015-07-01 at 14 39 16](https://cloud.githubusercontent.com/assets/5748627/8453621/00002c1e-1fff-11e5-9bfa-34d78d7860d1.png)

[2015-07-01 13:21] revolter opened #376 "Autocomplete table name on import"
It would be a great addition if the `Table name` field would be auto completed by default with the file's name without the extension.

So if I'm trying to import a table from the file named `my_first_table.sql`, the `Table name` field would contain `my_first_table`, obviously, with the possibility to change it.

[2015-07-01 15:49] justinclift commented on #374
Oh, interesting.  Looks like we need to add a few more preference options for font colour.

[2015-07-01 15:50] justinclift commented on #375
Which OS are you using, and which version of DB4S? :smile:

[2015-07-01 15:51] justinclift commented on #376
That makes sense. :smile:

[2015-07-01 15:53] justinclift commented on #371
@schdub Go for it. :smile:

With Android's custom SQLite collation functions, I wonder if the source code is available and also if the license would let us use it?  Instead of creating our own that is.

[2015-07-03 09:25] schdub commented on #374
@voidplayer, we've added extra color setting for displaying data in 'Browse Data'.
If it isn't to hard for you, please, test this feature.

[2015-07-03 09:41] voidplayer commented on #374
im terry busy at the moment... give me a month or so and i will try it :)

[2015-07-03 19:17] MKleusberg commented on #371
@schdub If it's not adding too many code lines, just go ahead. If there should be lower-level changes (which I doubt), some major programming effort, or new depedencies implied we should maybe think about this a bit more. The reason is that we're just talking about two custom collations of thousands out there and I'm not sure where to draw the line... But on the other hand, being able to open Andr

[2015-07-03 19:21] MKleusberg commented on #373
If I may make this even more complex: I'd suggest making this a fully flexible thing. For a previous project some years ago I had to use Qt's Julian day date format (which works similar to Unix epoch), this made the date values as they are stored in the database really difficult to read and even more so to edit. So maybe we should add some option to specify short SQL fragments (or some other code)

[2015-07-03 19:45] MKleusberg commented on #376
Just pushed a commit for this, so it should be in the next nightly build :smiley:

[2015-07-04 18:37] justinclift commented on #376
@revolter Would you be ok to try our nightly build, and verify this is working for you now? :smile:

[2015-07-04 18:59] justinclift commented on #373
@MKleusberg Interesting thought.  Maybe we should have a right click thing that lets people choose from various display options (binary, octal, decimal, hex?), but also allows defining custom ones too using (say) [QString string formatting](http://doc.qt.io/qt-4.8/qstring.html#arg).  eg:

Name | String
---- | ------
Binary | [unsure]
Octal | "%o"
Decimal | "%d"
Hex | "%#x"
My Custom String | "Hi t

[2015-07-06 07:54] revolter commented on #375
`OS X Yosemite 10.10.3` and `DB4S Version 3.7.0`

[2015-07-06 07:56] revolter commented on #376
@justinclift, sure, but I don't know how

[2015-07-06 13:15] justinclift commented on #376
Hmmm, that's a bit vague.  The download locations for our nightly builds are on the front page of our project (this repo).  In theory, for OSX the nightly builds here should work for you:

&nbsp; &nbsp; http://mirror.salasaga.org/sqlitebrowser/nightly/

Note - Someone mentioned not long ago they've stopped working for older OSX (10.6?) versions.  I haven't been able to investigate though (no acces

[2015-07-06 13:30] revolter commented on #376
It's working great! Thanks.

[2015-07-06 14:50] divinity76 opened #378 "no portable version of version 3.7.0?"
22 days in, still no portable 3.7.0 as far as i can see

possible to get a portable version released?